{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Curso - {{course.name}}{% endblock %}

{% block body %}
    <div class="courses-page" id="courses-page">
        <section class="banner-main">    
            <div class="p-hero">
                {% if course.image  is not null or course.imageMobile is not null %}
                <div class="slide p-hero__item">
                    
                    <figure class="p-hero__figure">
                        <!-- Desktop -->
                        <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{asset(course.image)}}'), url(/_dist/image/img/default.jpg);" alt="{{course.name}}" class="img-post p-hero__figure-image hidden-xs" />

                        <!-- Mobile -->
                        <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{asset(course.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{course.name}}" class="img-post p-hero__figure-image visible-xs" />
                    </figure>
                </div>
                {% else %}
                <div class="slide p-hero__item">
                                       
                    <figure class="p-hero__figure">
                        <!-- Desktop -->
                        <img src="{{asset('_dist/image/blog/blog-banner.png')}}"  alt="" class="p-hero__figure-image hidden-xs">
                        <!-- Mobile -->
                        <img src="{{asset('_dist/image/blog/blog-banner-mobile.png')}}" alt="" class="p-hero__figure-image visible-xs">
                    </figure>
                </div>
                {% endif %}
            </div>
        </section>

        <div class="container">
            <article class="post-content cat-3" id="curse-id-{{course.id}}">
                
                <div class="share-rating">
                    <div class="share-box item-share-rating">
                        <h3>Compartilhar</h3>
                        <ul class="d-flex justify-content-center">
                            <li><a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{absolute_url(path('course_detail',{'slug' : course.slug}))}}" class="share-linkedin" id="share-linkedin" data-ajaxurl="{{ path('api-share-content-points', {'id' : course.id, 'type' : 'course' })}}"><i class="fa fa-linkedin"></i></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{absolute_url(path('course_detail',{'slug' : course.slug}))}}" class="share-facebook" id="share-facebook" data-ajaxurl="{{ path('api-share-content-points', {'id' : course.id, 'type' : 'course' })}}"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="https://api.whatsapp.com/send?text=Veja este post: {{absolute_url(path('course_detail',{'slug' : course.slug}))}}" class="share-whatsapp" id="share-whatsapp" data-ajaxurl="{{ path('api-share-content-points', {'id' : course.id, 'type' : 'course' })}}"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a target="_blank" href="mailto:?subject=Veja este post: {{course.name}}&body=Acesse por este link: {{absolute_url(path('course_detail',{'slug' : course.slug}))}}" class="share-email" id="share-email" data-ajaxurl="{{ path('api-share-content-points', {'id' : course.id, 'type' : 'course' })}}"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    {% if course.isOnlyToClerk or course.isOnlyToPharmaceutical or course.isPharmacy %}
                    <div class="item-share-rating">
                        <h3>Categoria</h3>
                        {% if course.isOnlyToClerk %}
                            <span class="btn-default btn-full">Balconista</span>
                        {% endif %}
                        {% if course.isOnlyToPharmaceutical %}
                            <span class="btn-default btn-full">Farmacêutico</span>
                        {% endif %}
                        {% if course.isPharmacy %}
                            <span class="btn-default btn-full">Gestor de Loja</span>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>

                <div class="content-text space-30">
                    <header class="header-main">
                        <h1 class="text-bold">{{course.name}}</h1>
                        <h3 class="text-gray space-h-10">
                            {{course.shortDescription}}
                        </h3>
                    </header>

                    <div class="courses-inter-box">
                        <div class="courses-inter-image cursos-video-trigger" >
                            {% if course.image  is not null or course.imageMobile is not null %}
                            <a href="" class="video-icon" data-modal="modal-video-course" data-video="{{ course.video }}" data-title="{{ course.name }}">
                                <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{asset(course.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post" />
                            </a>
                            {% endif %}

                        </div>

                        <div class="courses-inter-info">
                            {% if course.description  is not null %}
                                {{course.description|raw}}
                            {% endif %}
                            <p class="space-h-10 duration-text">
                                Tempo estimado: {{ course.getCourseTimeString() }}
                            </p>
                            <div class="cod-vendas">
                                <form class="form-cod-vendas">
                                    <input type="text" name="cod_indication" id="cod" class="cod-indication" />
                                    <label for="cod">
                                        <span>Possui código de indicação?</span>
                                        Insira-o aqui!
                                    </label>
                                </form>
                            </div>
                            <div class="btn-start">
                                <button class="btn-default btn-confirm-course" data-courseid="{{course.courseId}}" data-ajax="{{ path('racine_api_subscribe', { 'courseId' : course.courseId})}}"><i class="play-icon"></i> Começar</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </article>
            
            <div class="details-bottom-box">
                {% set contents = contentRelacion('curso', course) %}
            
                {% if contents|length > 0 %}
                <div class="details-bottom-item">         
                    <div class="relateds-posts">
                        <div class="space-h-20">
                            <div class="space-h-10">
                                <h3 class="relateds-title">Relacionados</h3>
                            </div>
                            <h4>
                                Quem se interessou por esta matéria, também se interessou por:
                            </h4>
                        </div>

                        
                        {% for content in contents %}
                            <div class="relateds-list">
                                <figure class="relateds-image">
                                    <a href="{{ path('course_detail', {'slug': content.slug}) }}">
                                        <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{ asset(content.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post" />
                                    </a> 
                                </figure>
                                <div class="relateds-info">
                                    {# <h3 class="relateds-special-title"><i class="star-icon"></i>ESPECIAIS</h3> #}
                                    <p class="relateds-text">
                                        <a href="{{ path('course_detail', {'slug': content.slug}) }}">
                                            {{ content.shortDescription }}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %} 
                    </div>
                </div>
                {% endif %}

                <div class="details-bottom-item">
                    <div class="share-rating">
                        <div class="like-box item-share-rating">
                            <h3>Favoritar</h3>
                            
                            <div class="share-rating-info">
                                <button class="like-button-post add-favorite {{isSaved ? 'saved' : ''}}" id="like-button-course-{{course.slug}}" data-ajax="{{ path('api-add-favorite', {'id': course.id, 'type' : 'course'}) }}" data-user="{{ app.user.id is defined ? 1 : 0 }}"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        
                        <div class="rating-box item-share-rating">
                            <h3>Avaliar</h3>
                            <div class="share-rating-info">
                                <span class="star__container">
                                    <input type="radio" name="rating" value="1" id="star-1" class="star__radio visuhide rate-object {{ course.score >= 1 ? 'scored' }}" data-ajax="{{ path('api-set-score', {'id': course.id, 'type' : 'course', 'rate' : '1'}) }}" data-user="{{ app.user.id is defined ? 1 : 0 }}" {{ course.score >= 1 ? 'checked' }} />
                                    <input type="radio" name="rating" value="2" id="star-2" class="star__radio visuhide rate-object {{ course.score >= 2 ? 'scored' }}" data-ajax="{{ path('api-set-score', {'id': course.id, 'type' : 'course', 'rate' : '2'}) }}" data-user="{{ app.user.id is defined ? 1 : 0 }}" {{ course.score >= 2 ? 'checked' }} />
                                    <input type="radio" name="rating" value="3" id="star-3" class="star__radio visuhide rate-object {{ course.score >= 3 ? 'scored' }}" data-ajax="{{ path('api-set-score', {'id': course.id, 'type' : 'course', 'rate' : '3'}) }}" data-user="{{ app.user.id is defined ? 1 : 0 }}" {{ course.score >= 3 ? 'checked' }} />
                                    <input type="radio" name="rating" value="4" id="star-4" class="star__radio visuhide rate-object {{ course.score >= 4 ? 'scored' }}" data-ajax="{{ path('api-set-score', {'id': course.id, 'type' : 'course', 'rate' : '4'}) }}" data-user="{{ app.user.id is defined ? 1 : 0 }}" {{ course.score >= 4 ? 'checked' }} />
                                    <input type="radio" name="rating" value="5" id="star-5" class="star__radio visuhide rate-object {{ course.score == 5 ? 'scored' }}" data-ajax="{{ path('api-set-score', {'id': course.id, 'type' : 'course', 'rate' : '5'}) }}" data-user="{{ app.user.id is defined ? 1 : 0 }}" {{ course.score == 5 ? 'checked' }} />

                                    <label class="star__item fa fa-star" for="star-1"><span class="visuhide">1 star</span></label>
                                    <label class="star__item fa fa-star" for="star-2"><span class="visuhide">2 stars</span></label>
                                    <label class="star__item fa fa-star" for="star-3"><span class="visuhide">3 stars</span></label>
                                    <label class="star__item fa fa-star" for="star-4"><span class="visuhide">4 stars</span></label>
                                    <label class="star__item fa fa-star" for="star-5"><span class="visuhide">5 stars</span></label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-default video-modal" id="modal-video-course">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2></h2>
                </div>
                <div class="text-center video-embed">
                    <iframe src="https://player.vimeo.com/video/" width="320" height="240" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    <script>
    //alert('teste');
    function videoCouses(){

        $('.cursos-video-trigger').unbind('click').on('click', function(e){
            e.preventDefault();
            var cursosContentTitle = $(this).find('a').attr('data-title');
                cursosContentVideo = $(this).find('a').attr('data-video');
            $('#modal-video-course iframe').attr('src' , 'https://player.vimeo.com/video/'+cursosContentVideo);
            $('#modal-video-course h2').text(cursosContentTitle);
        });

        //Parar o audio ao fechar o modal
        $(".close-modal").click(function() {
            var $frame = $('#modal-video-course iframe');
            var vidsrc = $frame.attr('src');
            $frame.attr('src',''); 
            $frame.attr('src', vidsrc);
        });
    }

    videoCouses();

    $('.btn-confirm-course').on('click', function(e) {
        e.preventDefault();
        if(userIsLogged == 0){
            core.showMessage("login", messageLogin);
            return false;
        }
        var url = $(this).data('ajax'),
            id  = $(this).data('courseid'),
            $this = $(this),
            cod = $('.cod-indication').val()

        dataLayer.push({'event':'GAEvent', 'eventCategory': 'cursos-btn-comecar', 'eventAction': 'clique', 'eventLabel': 'comecar>' + cod});
         
        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            data: {
                id : id,
                c: $('.cod-indication').val()
            },
            beforeSend: function() {
                $this.attr("disabled", true);
                $this.text('Carregando....');
            },
            success: function(response) {
                //console.log(response);
                if (response.status) {
                    window.location.href = response.url;
                } else {
                    core.showMessage('error', response.message);
                    $this.text('Começar');
                    $this.attr("disabled", false);
                }
            }, 
            error: function(response) {
                $this.attr("disabled", false);
                $this.text('Começar');
                core.showMessage('error','Ops! tente novamente mais tarde!');
            }
            
        });
    });
    </script>

{% endblock %}

