{% extends 'base.html.twig' %}
{% set metadescription = 'Cursos online e gratuitos para farmaceuticos. Desenvolva seu conhecimento profissional com a Neo Pharma. Acesse e faça a sua inscrição!' %}
{% set metatitle = 'Cursos' %}
{% block title %}Cursos{% endblock %}

{% block body %}
    <div class="courses" id="courses">
        <section class="banner-main">    
            <div class="p-hero">
                {% if banners is not null and banners|length > 0 %}
                {% for banner in banners %}
                    
                    <div class="slide p-hero__item">
                        
                        <div class="p-hero__body">
                            <h1 class="p-hero__title">{{banner.title}}</h1>
                        </div>
                        
                        <figure class="p-hero__figure">
                            <!-- Desktop -->
                            <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{asset(banner.image)}}'), url(/_dist/image/img/default.jpg);" alt="{{banner.title}}" class="img-post hidden-xs" />
                           
                            <!-- Mobile -->
                            <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{asset(banner.image_mobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{banner.title}}" class="img-post visible-xs" />
                        </figure>
                    </div>
                  
                {% endfor %}
                    {% else %}
                    <div class="slide p-hero__item">
                        <div class="p-hero__body">
                            <h1 class="p-hero__title">Cursos</h1>
                        </div>
                        
                        <figure class="p-hero__figure">
                            <!-- Desktop -->
                            <img src="{{asset('_dist/image/cursos/cursos-banner.jpg')}}"  alt="{{banner.title}}" class="p-hero__figure-image hidden-xs">
                            <!-- Mobile -->
                            <img src="{{asset('_dist/image/cursos/cursos-banner.jpg')}}" alt="{{banner.title}}" class="p-hero__figure-image visible-xs">
                        </figure>
                    </div>
                {% endif %}
            </div>
        </section>

        {# <section>
            <div class="container">
                <div class="racine-course-section">
                
                    <div class="racine-course-info">
                        <p>
                            Plataforma de cursos gratuitos e online para o seu desenvolvimento profissional
                        </p>
                    </div>
                    <div class="racine-course-content">
                        <p>
                            Os cursos do portal são certificados pelo
                        </p>
                        <figure>
                            <img src="{{asset('_dist/image/img/logo-racine-2.png')}}" alt="Logo Racine" />
                        </figure>
                    </div>
                </div>
                
            </div>
        </section> #}

        {% if courses|length > 0 %}
        <section class="more-recent-post-section">
            <div class="container">
               {% for course in courses %}
                    {% if loop.first %}
                        <div class="more-recent-post-container first-video">
                            <figure class="post-image cursos-video-trigger">
                                <a href="" class="video-icon" data-modal="modal-video-course" data-video="{{ course.video }}" data-title="{{ course.name }}">
                                    <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{asset(course.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post" />
                                </a>
                            </figure>

                            <div class="more-recent-post-info">
                                <h2 class="text-yellow">MAIS RECENTE</h2>
                                <p>
                                {{ course.name }}  
                                </p>
                                <div class="space-h-20">
                                    <a href="{{ path('course_detail', {'slug': course.slug}) }}" class="btn-default btn-yellow">SAIBA MAIS</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        {% endif %}

        {% if courses|length > 0 %}
        <section class="posts-section-main">
            <div class="container">
                <div class="posts-list">
                    {% for c in courses %}
                        {% if not loop.first %}
                            <div class="posts-item">
                                <figure class="post-image cursos-video-trigger">
                                    <a  href="" class="video-icon video-blue"  data-modal="modal-video-course" data-video="{{ c.video }}" data-title="{{ c.name }}">
                                        <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{asset(c.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{c.name}}" class="img-post" />
                                    </a>
                                </figure>
                                <div class="post-info">
                                    <h2>{{c.name}}</h2>
                                </div>
                                <p class="text-center duration-text">
                                    Tempo estimado: {{ c.getCourseTimeString() }}
                                </p>
                                <div class="text-center">
                                    <a href="{{ path('course_detail',{'slug' : c.slug})}}" class="btn-default" id="post-{{c.slug}}">SAIBA MAIS</a>
                                </div>

                                {% set contents = contentRelacion('curso', c) %}
                                
                                {% if contents|length > 0 %}
                                <div class="relateds-colapse">
                                    <div class="relateds-posts">
                                        <div class="text-center space-h-20">
                                            <h3 class="relateds-title">Relacionados</h3>
                                        </div>
                                        {% for content in contents %}
                                            <div class="relateds-colapse-item">
                                                <div class="relateds-list">
                                                    <figure class="relateds-image">
                                                        <a href="{{ path('course_detail',{'slug' : content.slug}) }}">
                                                            <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{ asset(content.image)}}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post" />
                                                        </a> 
                                                    </figure>
                                                    <div class="relateds-info">
                                                        {# <h3 class="relateds-special-title"><i class="star-icon"></i>ESPECIAIS</h3> #}
                                                        <p class="relateds-text">
                                                            <a href="{{ path('course_detail', {'slug': content.slug}) }}">
                                                            {{ content.shortDescription }}
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                            </div> 
                        {% endif %} 
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}

        <div class="space-h-20">
            <div class="pagination" id="pagination">
                {{ knp_pagination_render(courses) }}
            </div>
        </div>

        <div class="modal-default video-modal" id="modal-video-course">
            <div class="content-form-src-desk">
                <div class="modal-content">
                    <div class="text-center space-h-20">
                        <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                    </div>
                    <div class="text-center space-h-20">
                        <h2></h2>
                    </div>
                    <div class="text-center video-embed">
                        <iframe src="https://player.vimeo.com/video/" width="320" height="240" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    <script>

    $(document).ready(function(){
        $('.relateds-colapse .relateds-title').unbind("click").on("click", function(e){
            var itemColapse = $(this).parent().parent().find('.relateds-colapse-item');
            
            if (itemColapse.hasClass('open')) {
               itemColapse.removeClass('open');
            }else{
                itemColapse.addClass('open');
            }
            
            console.log('teste');
        });
        function videoCouses(){

            $('.cursos-video-trigger').unbind('click').on('click', function(e){
                e.preventDefault();
                var cursosContentTitle = $(this).find('a').attr('data-title');
                    cursosContentVideo = $(this).find('a').attr('data-video');
                $('#modal-video-course iframe').attr('src' , 'https://player.vimeo.com/video/'+cursosContentVideo);
                $('#modal-video-course h2').text(cursosContentTitle);
            });

            //Parar o audio ao fechar o modal
            $(".close-modal").click(function() {
                var $frame = $('#modal-video-course iframe');
                var vidsrc = $frame.attr('src');
                $frame.attr('src',''); 
                $frame.attr('src', vidsrc);
            });
        }

        videoCouses();


    });
    </script>
{% endblock %}
