{% extends 'base.html.twig' %}
{% set metadescription = 'Cadastre-se no Portal Neo Pharma a plataforma da Neo Química destinada a profissionais de saúde que trabalham em farmácias.' %}
{% set metatitle = 'Cadastro' %}
{% block title %}Cadastro{% endblock %}
{% block styles %}
    <style>
        #form span{ color: red !important; }
    </style>
{% endblock %}

{% set pageIndex = 'cdt' %}

{% block body %}
    {% if error is defined %}
        {{error}}
    {% endif %}
    {% set code = app.request.get('code') ? '?code=' ~ app.request.get('code') : '' %}
    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>CADASTRE-SE </h1></div>
        </section>
        <div class="container">
            <div class="login-forms-box">
                <form id="form" class="form register-form" method="post" action="{{ path('home-register') }}">
                    <input type="hidden" name="code" class="form-control cdt_mid_frm_nome" value="{{ app.request.get('code') }}">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="first done" aria-disabled="false" aria-selected="false"><a id="form-t-0" href="#form-h-0" aria-controls="form-p-0"><span class="number">1.</span> Fase 1</a></li>
                            <li role="tab" class="done" aria-disabled="false" aria-selected="false"><a id="form-t-1" href="#form-h-1" aria-controls="form-p-1"><span class="number">2.</span> Fase 2</a></li>
                            <li role="tab" class="last current" aria-disabled="false" aria-selected="true"><a id="form-t-2" href="#form-h-2" aria-controls="form-p-2"><span class="current-info audible"> </span><span class="number">3.</span> Fase 3</a></li>
                        </ul>
                    </div>
                    <div class="space-h-10">
                        <label for="register-friendIndication">Um amigo indicou o Portal Neo Pharma? <br>Digite aqui o código de indicação:</label>
                        <input type="text" id="register-friendIndication" name="friendIndication" class="form-control cdt_mid_frm_umamigoindicou" value="{{ app.request.get('code') }}">
                    </div>

                    <div class="space-h-10">
                        <label for="user-password">Senha: * <span class="error" id="password-error"></span></label>
                        <input type="password" id="user-password" name="password" class="form-control cdt_mid_frm_senha" autocomplete="off" required>
                    </div>
                    <div class="space-h-10">
                        <label for="user-passwordRepeat">Repetir Senha: * <span class="error" id="passwordRepeat-error"></span></label>
                        <input type="password" id="user-passwordRepeat" name="passwordRepeat" class="form-control cdt_mid_frm_repetirsenha" autocomplete="off" required>
                    </div>
                    
                    <div class="space-h-20">
                        <div class="form-check">
                            <input type="checkbox" name="term" id="agree-term" class="cdt_mid_frm_declaro term-checked" required/>
                            <label for="agree-term" class="form-check-label">
                                <small class="text-gray">Declaro que li e aceito os <a href="{{ path('home-term') }}" target="_blank" class="show-terms">Termos e Condições de Uso</a></small>
                                <span class="error" id="term-error"></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="newsletter" class="cdt_mid_frm_aceito" id="agree-newsletter"  />
                            <label for="agree-newsletter" class="form-check-label">
                                <small class="text-gray">Aceito receber e-mails sobre novidades da marca e seus produtos</small>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="space-h-10">
                            <span id="recaptcha" class="error"></span>
                        </div>
                        <div class="col-md-12 text-right">
                            <div class="g-recaptcha" data-sitekey="6LcmcocaAAAAAJvREV30_zkntozCint_sZ_VFc66"></div>
                        </div>
                    </div>
                    <p>
                        <strong> * Preenchimento obrigatório</strong>
                    </p>
                                        
                    <div class="space-h-20 text-center">
                        <button 
                            type="button" 
                            class="btn-default btn-action btn-full lgn_mid_frm_sbm_cadastar"
                            onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'cadastro', 'eventAction': 'click', 'eventLabel': 'step-3:cadastrar'});">
                            Cadastrar
                        </button>
                    </div>     
                    <div class="space-h-20 text-center">
                        <a href="{{ path('home-register-two') ~ code }}" class="btn-default btn-full">Voltar</a>
                    </div>  
                </form>
            
            </div>
        </div>
    </div>

    <!-- Modal Cadastro Finalizado -->
    <div class="modal-default modal-cadastro-finalizado" id="modal-cadastro-finalizado">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                </div>
                <div class="text-center space-h-20 gjmsg">
                    <figure><img src="{{ asset('_dist/image/img/logo-popup.png') }}" alt="" /></figure>
                    <h2 class="space-h-20">Parabéns!</h2>
                    <p>Seu cadastro foi finalizado com sucesso, mas queremos saber mais sobre você.</p>
                    <div class="space-h-10">
                        <a href="{{ path('user-preferences') }}" class="btn-default btn-answer-now">RESPONDER AGORA</a>
                    </div>
                    <div class="space-h-10">
                        <a href="" class="btn-default btn-more-late">RESPONDER MAIS TARDE</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script src=' https://www.google.com/recaptcha/api.js'> </script>
    <script>
    $(document).ready(function(e) {
        var registrationCompleted = "{{ path('registration-completed') ~ '?rc=true'}}";
        
        //salvando o cadastro balconista/farmacêutico
        $('.btn-action').on('click', function(e) {
            var form = $('#form')

            $.ajax({
                url: "{{ path('home-register-three') }}",
                type: "POST",
                dataType: "json",
                async: false,
                data: form.serialize(),
                success: function (data) {
                    response = data
                    //console.log('save ', response)
                    
                    if (response.status) {
                        window.location.href = registrationCompleted
                    } else {
                    
                        if (response.error.hasOwnProperty('error')) {
                            $('#error').text(response.error.error);
                        }

                        if (response.error.hasOwnProperty('password')) {
                            $('#password-error').text(response.error.password);
                        }

                        if (response.error.hasOwnProperty('passwordRepeat')) {
                            $('#passwordRepeat-error').text(response.error.passwordRepeat);
                        }
                    
                        if (response.error.hasOwnProperty('term') ) {
                            $('#term-error').text(response.error.term);
                        }

                        if (response.error.hasOwnProperty('recaptcha') ) {
                            $('#recaptcha').text(response.error.recaptcha);
                        }

                    } 
                }
            });

        })

        $('[name="password"]').on("keyup", function(){
            $('#password-error').text('');
        });

        $('[name="passwordRepeat"]').on("keyup", function(){
            $('#passwordRepeat-error').text('');
        });
          
        $('.term-checked').on("click", function(){
            if ($(this).is(':checked')) {
                $('#term-error').text('');
            }
        });

    
        //modal final de cadastro 
        function modalRegister(url = null) {   
            $('.btn-more-late').attr('href', url)

            if($('.modal-cadastro-finalizado').hasClass('open-menu')){
                $('.modal-cadastro-finalizado').removeClass('open-modal');
            } else{
                $('.modal-cadastro-finalizado').addClass('open-modal');
            }
        }
    })
	</script>
{% endblock %}