{% extends 'base.html.twig' %}
{% set metadescription = 'Cadastre-se no Portal Neo Pharma a plataforma da Neo Química destinada a profissionais de saúde que trabalham em farmácias.' %}
{% set metatitle = 'Cadastro' %}
{% block title %}Cadastro{% endblock %}
{% block styles %}
    <style>
        #form span{ color: red !important; }
    </style>
{% endblock %}

{% set pageIndex = 'cdt' %}

{% block body %}
    {% if error is defined %}
        {{error}}
    {% endif %}

    {% set code = app.request.get('code') ? '?code=' ~ app.request.get('code') : '' %}

    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>CADASTRE-SE </h1></div>
        </section>
        <div class="container">
            <div class="login-forms-box">
                <form id="form" class="form register-form" method="post" action="{{ path('home-register') }}">
                    <input type="hidden" name="code" class="form-control cdt_mid_frm_nome" value="{{ app.request.get('code') }}">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="first done" aria-disabled="false" aria-selected="false"><a id="form-t-0" href="#form-h-0" aria-controls="form-p-0"><span class="number">1.</span> Fase 1</a></li>
                            <li role="tab" class="current" aria-disabled="false" aria-selected="true"><a id="form-t-1" href="#form-h-1" aria-controls="form-p-1"><span class="current-info audible"> </span><span class="number">2.</span> Fase 2</a></li>
                            <li role="tab" class="disabled last" aria-disabled="true"><a id="form-t-2" href="#form-h-2" aria-controls="form-p-2"><span class="number">3.</span> Fase 3</a></li>
                        </ul>
                    </div>
                    <div class="space-h-10">
                        <label for="phone">Celular: *<span class="error" id="phone-error"></span></label>
                        <input type="text" id="phone" name="phone" class="form-control phone" maxlength="11" value="{{ leads.id is defined ? leads.cellphone : '' }}" required>
                    </div>
                    <div class="space-h-10" id="register-estate-address-hold">
                        <label for="register-estate-address" id="label-register-state">Estado: <span class="error estate-address-error" id="estate-address-error"></span></label>
                        <select id="register-estate-address" name="estate_address" class="form-control select-content estate-address">
                            <option value="">Selecione um Estado</option>
                            <option value="AC" {{ leads.id is defined and leads.estateAddress == 'AC' ? 'selected' : '' }}>Acre</option>
                            <option value="AL" {{ leads.id is defined and leads.estateAddress == 'AL' ? 'selected' : '' }}>Alagoas</option>
                            <option value="AP" {{ leads.id is defined and leads.estateAddress == 'AP' ? 'selected' : '' }}>Amapá</option>
                            <option value="AM" {{ leads.id is defined and leads.estateAddress == 'AM' ? 'selected' : '' }}>Amazonas</option>
                            <option value="BA" {{ leads.id is defined and leads.estateAddress == 'BA' ? 'selected' : '' }}>Bahia </option>
                            <option value="CE" {{ leads.id is defined and leads.estateAddress == 'CE' ? 'selected' : '' }}>Ceará</option>
                            <option value="DF" {{ leads.id is defined and leads.estateAddress == 'DF' ? 'selected' : '' }}>Distrito Federal</option>
                            <option value="ES" {{ leads.id is defined and leads.estateAddress == 'ES' ? 'selected' : '' }}>Espírito Santo</option>
                            <option value="GO" {{ leads.id is defined and leads.estateAddress == 'GO' ? 'selected' : '' }}>Goiás</option>
                            <option value="MA" {{ leads.id is defined and leads.estateAddress == 'MA' ? 'selected' : '' }}>Maranhão</option>
                            <option value="MT" {{ leads.id is defined and leads.estateAddress == 'MT' ? 'selected' : '' }}>Mato Grosso</option>
                            <option value="MS" {{ leads.id is defined and leads.estateAddress == 'MS' ? 'selected' : '' }}>Mato Grosso do Sul</option>
                            <option value="MG" {{ leads.id is defined and leads.estateAddress == 'MG' ? 'selected' : '' }}>Minas Gerais</option>
                            <option value="PA" {{ leads.id is defined and leads.estateAddress == 'PA' ? 'selected' : '' }}>Pará</option>
                            <option value="PB" {{ leads.id is defined and leads.estateAddress == 'PB' ? 'selected' : '' }}>Paraíba</option>
                            <option value="PR" {{ leads.id is defined and leads.estateAddress == 'PR' ? 'selected' : '' }}>Paraná</option>
                            <option value="PE" {{ leads.id is defined and leads.estateAddress == 'PE' ? 'selected' : '' }}>Pernambuco</option>
                            <option value="PI" {{ leads.id is defined and leads.estateAddress == 'PI' ? 'selected' : '' }}>Piauí</option>
                            <option value="RJ" {{ leads.id is defined and leads.estateAddress == 'RJ' ? 'selected' : '' }}>Rio de Janeiro</option>
                            <option value="RN" {{ leads.id is defined and leads.estateAddress == 'RN' ? 'selected' : '' }}>Rio Grande do Norte</option>
                            <option value="RS" {{ leads.id is defined and leads.estateAddress == 'RS' ? 'selected' : '' }}>Rio Grande do Sul</option>
                            <option value="RO" {{ leads.id is defined and leads.estateAddress == 'RO' ? 'selected' : '' }}>Rondônia</option>
                            <option value="RR" {{ leads.id is defined and leads.estateAddress == 'RR' ? 'selected' : '' }}>Roraima</option>
                            <option value="SC" {{ leads.id is defined and leads.estateAddress == 'SC' ? 'selected' : '' }}>Santa Catarina</option>
                            <option value="SP" {{ leads.id is defined and leads.estateAddress == 'SP' ? 'selected' : '' }}>São Paulo</option>
                            <option value="SE" {{ leads.id is defined and leads.estateAddress == 'SE' ? 'selected' : '' }}>Sergipe</option>
                            <option value="TO" {{ leads.id is defined and leads.estateAddress == 'TO' ? 'selected' : '' }}>Tocantins</option>
                        </select>
                    </div>

                    <div class="space-h-10">
                        <label for="user-city">Cidade:</label>
                        <input type="text" id="user-city" name="city" class="form-control" value="{{ leads.id is defined ? leads.city : '' }}">
                    </div>

                    <div class="space-h-10">
                        <label for="user-birth">Grau de escolaridade:</label>
                        <select id="educationalLevel" class="form-control" name="educationalLevel">
                            <option value="">Selecione uma opção</option>
                            <option {{ leads.id is defined and leads.educationallevel == 'ensino-fundamental' ? 'selected' : '' }} value="ensino-fundamental">Ensino Fundamental</option>
                            <option {{ leads.id is defined and leads.educationallevel == 'ensino-medio' ? 'selected' : '' }} value="ensino-medio">Ensino Medio</option>
                            <option {{ leads.id is defined and leads.educationallevel == 'ensino-superior' ? 'selected' : '' }} value="ensino-superior">Ensino Superior</option>
                            <option {{ leads.id is defined and leads.educationallevel == 'ensino-fundamental-incompleto' ? 'selected' : '' }} value="ensino-fundamental-incompleto">Ensino Fundamental Incompleto</option>
                            <option {{ leads.id is defined and leads.educationallevel == 'ensino-medio-incompleto' ? 'selected' : '' }} value="ensino-medio-incompleto">Ensino Medio Incompleto</option>
                            <option {{ leads.id is defined and leads.educationallevel == 'ensino-superior-incompleto' ? 'selected' : '' }} value="ensino-superior-incompleto">Ensino Superior Incompleto</option>
                        </select>
                    </div>

                    <div class="space-h-10">
                        <label for="register-cpf" id="label-for-cpf">CPF: * <span class="error cpf-error" id="cpf-error"></span></label>
                        <input type="text" inputmode="numeric" pattern="[0-9]*" value="{{ leads.id is defined ? leads.cpf : '' }}" id="register-cpf" name="cpf" class="form-control cpf" required>
                    </div>

                    <!--- Campos para Farmacêutico -->
                    {% if leads.role.name == 'Farmacêutico' %}
                        <div class="space-h-10" id="register-crf-hold">
                            <label for="register-crf">CRF: * <span class="error" id="crf-error"></label>
                            <input type="text" inputmode="numeric" pattern="[0-9]*" value="{{ leads.id is defined ? leads.crf : '' }}" id="register-crf" name="crf" class="form-control crf">
                        </div>
                        
                        <div class="space-h-10" id="register-state-hold">
                            <label for="register-state" id="label-register-state">Estado (CRF*): <span class="error state-error" id="state-error"></span></label>
                            <select id="register-state" name="state" class="form-control select-content state">
                                <option value="">Selecione um Estado</option>
                                <option value="AC" {{ leads.id is defined and leads.state == 'AC' ? 'selected' : '' }}>Acre</option>
                                <option value="AL" {{ leads.id is defined and leads.state == 'AL' ? 'selected' : '' }}>Alagoas</option>
                                <option value="AP" {{ leads.id is defined and leads.state == 'AP' ? 'selected' : '' }}>Amapá</option>
                                <option value="AM" {{ leads.id is defined and leads.state == 'AM' ? 'selected' : '' }}>Amazonas</option>
                                <option value="BA" {{ leads.id is defined and leads.state == 'BA' ? 'selected' : '' }}>Bahia </option>
                                <option value="CE" {{ leads.id is defined and leads.state == 'CE' ? 'selected' : '' }}>Ceará</option>
                                <option value="DF" {{ leads.id is defined and leads.state == 'DF' ? 'selected' : '' }}>Distrito Federal</option>
                                <option value="ES" {{ leads.id is defined and leads.state == 'ES' ? 'selected' : '' }}>Espírito Santo</option>
                                <option value="GO" {{ leads.id is defined and leads.state == 'GO' ? 'selected' : '' }}>Goiás</option>
                                <option value="MA" {{ leads.id is defined and leads.state == 'MA' ? 'selected' : '' }}>Maranhão</option>
                                <option value="MT" {{ leads.id is defined and leads.state == 'MT' ? 'selected' : '' }}>Mato Grosso</option>
                                <option value="MS" {{ leads.id is defined and leads.state == 'MS' ? 'selected' : '' }}>Mato Grosso do Sul</option>
                                <option value="MG" {{ leads.id is defined and leads.state == 'MG' ? 'selected' : '' }}>Minas Gerais</option>
                                <option value="PA" {{ leads.id is defined and leads.state == 'PA' ? 'selected' : '' }}>Pará</option>
                                <option value="PB" {{ leads.id is defined and leads.state == 'PB' ? 'selected' : '' }}>Paraíba</option>
                                <option value="PR" {{ leads.id is defined and leads.state == 'PR' ? 'selected' : '' }}>Paraná</option>
                                <option value="PE" {{ leads.id is defined and leads.state == 'PE' ? 'selected' : '' }}>Pernambuco</option>
                                <option value="PI" {{ leads.id is defined and leads.state == 'PI' ? 'selected' : '' }}>Piauí</option>
                                <option value="RJ" {{ leads.id is defined and leads.state == 'RJ' ? 'selected' : '' }}>Rio de Janeiro</option>
                                <option value="RN" {{ leads.id is defined and leads.state == 'RN' ? 'selected' : '' }}>Rio Grande do Norte</option>
                                <option value="RS" {{ leads.id is defined and leads.state == 'RS' ? 'selected' : '' }}>Rio Grande do Sul</option>
                                <option value="RO" {{ leads.id is defined and leads.state == 'RO' ? 'selected' : '' }}>Rondônia</option>
                                <option value="RR" {{ leads.id is defined and leads.state == 'RR' ? 'selected' : '' }}>Roraima</option>
                                <option value="SC" {{ leads.id is defined and leads.state == 'SC' ? 'selected' : '' }}>Santa Catarina</option>
                                <option value="SP" {{ leads.id is defined and leads.state == 'SP' ? 'selected' : '' }}>São Paulo</option>
                                <option value="SE" {{ leads.id is defined and leads.state == 'SE' ? 'selected' : '' }}>Sergipe</option>
                                <option value="TO" {{ leads.id is defined and leads.state == 'TO' ? 'selected' : '' }}>Tocantins</option>
                            </select>
                        </div>
                    {% endif %}
                    <!--- END --> 

                    <div class="space-h-10"  id="register-cnpj-hold">
                        <label for="register-cnpj" id="label-for-cnpj">CNPJ da Loja: {{ leads.role.name == 'Balconista' ? '*' : '' }} </label> <span class="error cnpj-error" id="cnpj-error"></span>
                        <input type="text" inputmode="numeric" pattern="[0-9]*" id="register-cnpj" value="{{ leads.id is defined ? leads.cnpj : '' }}" name="cnpj" class="form-control register-cnpj cnpj" {{ leads.role.name == 'Balconista' ? 'required' : '' }}/>
                    </div>
                    <p>
                        <strong> * Preenchimento obrigatório</strong>
                    </p>   
                    <div class="space-h-20 text-center">
                        <button 
                            type="button" 
                            class="btn-default btn-action btn-full lgn_mid_frm_sbm_cadastar"
                            onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'cadastro', 'eventAction': 'click', 'eventLabel': 'step-2:próxima-fase'});">
                            Próxima fase
                        </button>
                    </div>     
                    <div class="space-h-20 text-center">
                        <a href="{{ path('home-register') ~ code }}" class="btn-default btn-full lgn_mid_frm_sbm_cadastar">Voltar</a>
                    </div>                                
                </form>
            
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script src=' https://www.google.com/recaptcha/api.js'> </script>
    <script>
    $(document).ready(function(e) {
        //salvando o cadastro balconista/farmacêutico
        $('.btn-action').on('click', function(e) {
            var form = $('#form')
            var code = "{{ app.request.get('code') ? '?code=' ~ app.request.get('code') : ''}}" 
            
            $.ajax({
                url: "{{ path('home-register-two') }}",
                type: "POST",
                dataType: "json",
                async: false,
                data: form.serialize(),
                success: function (data) {
                    response = data
                    console.log('save ', response)
                    
                    if (response.status) {
                        window.location.href = response.url + code
                    } else {
                        
                        if (response.error.hasOwnProperty('phone')) {
                            $('#phone-error').text(response.error.phone);
                        }

                        if (response.error.hasOwnProperty('cnpj')) {
                            $('#cnpj-error').text(response.error.cnpj);
                        }

                        if (response.error.hasOwnProperty('cpf')) {
                            $('#cpf-error').text(response.error.cpf);
                        }

                        if (response.error.hasOwnProperty('crf')) {
                            $('#crf-error').text(response.error.crf);
                        }

                        if (response.error.hasOwnProperty('state')) {
                            $('#state-error').text(response.error.state);
                        }
                       
                    } 
                }
            });

        })

        $('[name="cpf"]').on("keyup", function(){
            $('#cpf-error').text('');
        });

        $('[name="crf"]').on("keyup", function(){
            $('#crf-error').text('');
        })

        $('[name="state"]').on("change", function(){
            $('#state-error').text('');
        })

        $('[name="cnpj"]').on("keyup", function(){
            $('#cnpj-error').text('');
        })

        $('[name="phone"]').on("keyup", function(){
            $('#phone-error').text('');
        })
        

        //mask
        $('.phone').mask("(99) 99999-9999")
        $('.cpf').mask("999.999.999-99")
        $('.cnpj').mask('00.000.000-0000/00')
    })
	</script>
{% endblock %}