{% extends 'base.html.twig' %}
{% set metadescription = 'Cadastre-se no Portal Neo Pharma a plataforma da Neo Química destinada a profissionais de saúde que trabalham em farmácias.' %}
{% set metatitle = 'Cadastro' %}
{% block title %}Cadastro{% endblock %}
{% block styles %}
    <style>
        #form span{ color: red !important; }
    </style>
{% endblock %}

{% set pageIndex = 'cdt' %}

{% block body %}
    {% if error is defined %}
        {{error}}
    {% endif %}

    {% set profile = app.session.get('p') ? app.session.get('p') : null %}
    {% set lead_id = leads.id is defined ? leads.id : null %}
    {% set name = leads.id is defined ? leads.name : null %}
    {% set email = leads.id is defined  ? leads.email : null %}
    {% set gender = leads.id is defined  ? leads.gender : null %}
    {% set birthday = leads.id is defined  ? leads.birthday : null %}
   
    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>CADASTRE-SE </h1></div>
        </section>
        <div class="container">
            <div class="login-forms-box">
                <form id="form" class="form register-form" method="post" action="{{ path('home-register') }}">
                     <input type="hidden" name="code" class="form-control cdt_mid_frm_nome" value="{{ app.request.get('code') }}">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="first current" aria-disabled="false" aria-selected="true">
                                <a id="form-t-0" href="#form-h-0" aria-controls="form-p-0"><span class="current-info audible"> </span><span class="number">1.</span> Fase 1</a>
                            </li>
                            <li role="tab" class="disabled" aria-disabled="true">
                                <a id="form-t-1" href="#form-h-1" aria-controls="form-p-1"><span class="number">2.</span> Fase 2</a>
                            </li>
                            <li role="tab" class="disabled last" aria-disabled="true">
                                <a id="form-t-2" href="#form-h-2" aria-controls="form-p-2"><span class="number">3.</span> Fase 3</a>
                            </li>
                        </ul>
                    </div>
                    <h3>Fase 1</h3>
                    <fieldset>
                        <div class="space-h-10">
                            <label for="occupation">Função:<span class="error" id="occupation-error"></label>
                            <select name="occupation" class="form-control occupation required">
                                <option value="">Você é</option>
                                <option value="balconista" {{ profile == 'balconista' ? 'selected' : '' }}>Balconista</option>
                                <option value="farmaceutico" {{ profile == 'farmaceutico' ? 'selected' : '' }}>Farmacêutico</option>
                            </select>
                        </div>
                        <div class="space-h-10">
                            <label for="name">Nome: * <span class="error" id="name-error"></span></label>
                            <input type="hidden" name="lead" class="form-control" value="{{ lead_id }}">
                            <input type="text" name="name" class="form-control name required" value="{{ name }}" required>
                        </div>
                        <div class="space-h-10">
                            <label for="gender">Sexo:</label>
                            <select id="select"  class="form-control gender" name="gender">
                                <option value="">Selecione uma opção</option>
                                <option value="male" {{ gender == 'male' ? 'selected' : '' }}>Masculino</option>
                                <option value="female" {{ gender == 'female' ? 'selected' : '' }}>Feminino</option>
                            </select>
                        </div>
                        <div class="space-h-10">
                            <label for="birthday">Data de nascimento:</label>
                            <input type="text" id="birthday" name="birthday" class="form-control birthday" value="{{ birthday }}">
                        </div>
                        <div class="space-h-10">
                            <label for="email">E-mail: * <span class="error email-error" id="email-error"></span></label>
                            <input type="email" name="email" class="form-control email" value="{{ email }}" required>
                        </div>
                        <p>
                            <strong> * Preenchimento obrigatório</strong>
                        </p>
                        <div class="space-h-20 text-center">
                            <button 
                                type="button" 
                                class="btn-default btn-action btn-full lgn_mid_frm_sbm_cadastar" 
                                onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'cadastro', 'eventAction': 'click', 'eventLabel': 'step-1:próxima-fase'});">
                                Próxima fase
                            </button>
                        </div>
                    </fieldset>
                                   
                </form>
            
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
    $(document).ready(function(e) {

        //salvando o cadastro balconista/farmacêutico
        $('.btn-action').on('click', function(e) {
            var form = $('#form') 
            var code =  "{{ app.request.get('code') ? '?code=' ~ app.request.get('code') : ''}}" 

            $.ajax({
                url: "{{ path('home-register') }}",
                type: "POST",
                dataType: "json",
                async: false,
                data: form.serialize(),
                success: function (data) {
                    response = data
                   
                    if (response.status) {
                        window.location.href = response.url + code
                    } else {
                        if (response.error.hasOwnProperty('occupation')) {
                            $('#occupation-error').text(response.error.occupation);
                        }
                        
                        if (response.error.hasOwnProperty('name')) {
                            $('#name-error').text(response.error.name);
                        }

                        if (response.error.hasOwnProperty('email')) {
                            $('#email-error').text(response.error.email);
                        }

                    } 
                }
            })
        });  

        $('.occupation').on("change", function(){
            $('#occupation-error').text('');
        });

        $('.name').on("keyup", function(){
            $('#name-error').text('');
        });

        $('.email').on("keyup", function(){
            $('#email-error').text('');
        });

        $('.birthday').mask('99/99/9999')
    });

	</script>
{% endblock %}