{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Form {% endblock %}

{% block body %}
    <div class="container">
        <h1>Formulários do site</h1>
        <form action="" class="form" id="form">
            <fieldset class="space-h-20">
                <legend>Input</legend>
                <label for="">Input:</label>
                <input type="text" name="" id="" class="form-control"  />
            </fieldset>
            
            <fieldset class="space-h-20">
                <legend>Radios</legend>
                <div class="form-check">
                    <input type="radio" name="radio" id="radio-1"  />
                    <label for="radio-1" class="form-check-label">Radio 1:</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="radio" id="radio-2"  />
                    <label for="radio-2" class="form-check-label">Radio 2:</label>
                </div>
            </fieldset>
            
            <fieldset class="space-h-20">
                <legend>Checkbox</legend>  
                <div class="form-check">
                    <input type="checkbox" name="checkbox" id="checkbox-1"  />
                    <label for="checkbox-1" class="form-check-label">Checkbox 1:</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="checkbox" id="checkbox-2"  />
                    <label for="checkbox-2" class="form-check-label">Checkbox 2:</label>
                </div>
            </fieldset>
            
            <fieldset class="space-h-20">
                <legend>Select</legend> 
                <label for="select">Select</label>
                <select id="select"  class="form-control">
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                </select>
            </fieldset>
            
            <fieldset class="space-h-20">
                <legend>Textarea</legend> 
                <label for="textarea">Textarea:</label>
                <textarea id="textarea"  class="form-control"></textarea>
            </fieldset>
            <div class="space-h-10">
                <button type="submit" class="btn-default btn-full" >button</button>
            </div>
        </form>
    </div>
{% endblock %}
