{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Equilibrisse{% endblock %}
    
{% block body %}
<div class="equilibresse" id="equilibresse">
    
    
    <div class="pack-section-equilibresse hidden-xs">
        <figure><img src="{{ asset('_dist/image/img/equilibresse/pack-desk.png')}}" alt=""></figure>
    </div>
    <div class="pack-section-equilibresse visible-xs">
        <figure><img src="{{ asset('_dist/image/img/equilibresse/pack.png')}}" alt=""></figure>
    </div>
    <div class="text-center logo-equilibresse">
        <div class="container">
            <img src="{{ asset('_dist/image/img/equilibresse/logo.png')}}" alt="Leve a vida com equilibrio">
        </div>
    </div>

    <div class="equilibresse-banner-01">
        <div class="equilibresse-banner-01-div">
            <div class="equilibresse-banner-01-div-container container">
                <div class="equilibresse-banner-01-img text-center">
                    <div class="video-embed">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/O_X3vPdhkh8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="equilibresse-baixe-zapbook-header">
            <h2>Baixe agora o Zapbook de Equilibrisse!</h2>
            <h3>São diversos cards com informações relevantes sobre a ansiedade e a insônia para você compartilhar!</h3>
        </div>
    </div>

    <div class="equilibresse-baixe-zapbook-section">
        <div class="equilibresse-baixe-img">
            <img src="{{ asset('_dist/image/img/equilibresse/download-img.png')}}" alt="">
        </div>
        <div class="equilibresse-baixe-btn">
            <a href="#" data-modal="card1" class="btn-equilibresse" download>Clique aqui e<br> baixe o Zapbook!</a>
        </div>
    </div>

    <div class="equilibresse-baixe-ebook">
        <div class="container">
            <div class="equilibresse-baixe-zapbook-header">
                <h2>Baixe, também, o e-book de Equilibrisse.</h2>
                <h3>Um material exclusivo, totalmente digital, sobre os efeitos da ansiedade e como amenizá-los.</h3>
            </div>

            <div class="equilibresse-baixe-ebook-icons">
                <div  class="equilibresse-baixe-ebook-icon">
                    <img src="{{ asset('_dist/image/img/equilibresse/pdf.png')}}" alt="">
                </div>

                <div class="equilibresse-baixe-ebook-btn">
                    <div class="equilibresse-baixe-btn">
                        <a href="{{ asset('_dist/image/img/equilibresse/ebook.pdf')}}" class="btn-equilibresse" download>Clique aqui e<br> baixe o e-book!</a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <div class="equilibresse-chamada-1">
        <div class="equilibresse-chamada-1-container">
            <figure>
                <img src="{{ asset('_dist/image/img/equilibresse/img02.jpg')}}" alt="">
            </figure>
            <h2>Aprenda mais sobre os impactos do estresse e como você pode auxiliar seus pacientes!</h2>
        </div>
    </div>

    <div class="equilibresse-chamada-2">
        <div class="equilibresse-chamada-2-container">
            <div class="equilibresse-chamada-2-box">
                <figure><a href="https://portalneopharma.com.br/blog/post/como-o-estresse-pode-prejudicar-o-sistema-imunologico" target="_blank"><img src="{{ asset('_dist/image/img/equilibresse/post01.jpg')}}" alt=""></a></figure>
                <h3><a href="https://portalneopharma.com.br/blog/post/como-o-estresse-pode-prejudicar-o-sistema-imunologico" target="_blank" class="btn">Como o estresse pode prejudicar o sistema imunológico.</a></h3>
            </div>

            <div class="equilibresse-chamada-2-box">
                <figure><a href="https://portalneopharma.com.br/blog/post/atencao-farmaceutica-em-casos-de-ansiedade" target="_blank"><img src="{{ asset('_dist/image/img/equilibresse/post02.jpg')}}" alt=""></a></figure>
                <h3><a href="https://portalneopharma.com.br/blog/post/atencao-farmaceutica-em-casos-de-ansiedade" class="btn" target="_blank">Atenção farmacêutica em casos de ansiedade.</a></h3>
            </div>
        </div>
    </div>

    <div class="equilibresse-chamada-3">
        <div class="equilibresse-chamada-2-container">
            <div class="equilibresse-chamada-3-img">
                <img src="{{ asset('_dist/image/img/equilibresse/quiz.png')}}" alt="">
            </div>
            <div class="equilibresse-chamada-3-title"><h2>Quiz do<br> equilíbrio</h2></div>
        </div>
        <a href="{{ path('equilibrisse_quiz') }}" class="btn">Responda às perguntas e mostre que você é capaz de equilibrar a vida!</a>
    </div>

    <div class="equilibresse-chamada-3 equilibresse-chamada-4">
        <div class="equilibresse-chamada-2-container">
            <div class="equilibresse-chamada-3-img">
                <img src="{{ asset('_dist/image/img/equilibresse/podcast.png')}}" alt="">
            </div>
            <div class="equilibresse-chamada-3-title"><h2>Playlist<br> equilibrada</h2></div>
        </div>
        <a href="https://open.spotify.com/playlist/4TXPRHMY4UrYxkQIMzDD7I?si=659a6faa7bee4f8f" target="_blank" class="btn">Traga mais equilibrio para seu dia a dia com essa playlist que possui efeito calmante!</a>
    </div>
</div>

<div class="modal-default card-modal" id="card1">
    <div class="content-form-src-desk">
        <div class="modal-content">
            <div class="text-center space-h-20">
                <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
            </div>
            <div class="text-center space-h-20">
                
                <div class="slide-zapbook">
                    <div class="slides owl-carousel">
                        <div class="item">
                            <a href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_01_v2.jpg')}}" download>
                                <img src="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_01_v2.jpg')}}" alt="">
                            </a>
                            <div class="space-h-20">
                                <a class="btn-download btn-default" href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_01_v2.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                                    <i class="fa fa-whatsapp"></i> 
                                    baixe e envie por WhatsApp
                                </a>
                            </div>
                        </div>

                        <div class="item">
                            <a href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_02_v2.jpg')}}" download>
                                <img src="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_02_v2.jpg')}}" alt="">
                            </a>
                            <div class="space-h-20">
                                <a class="btn-download btn-default" href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_02_v2.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                                    <i class="fa fa-whatsapp"></i> 
                                    baixe e envie por WhatsApp
                                </a>
                            </div>
                        </div>

                        <div class="item">
                            <a href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_03_v2.jpg')}}" download>
                                <img src="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_03_v2.jpg')}}" alt="">
                            </a>
                            <div class="space-h-20">
                                <a class="btn-download btn-default" href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_03_v2.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                                    <i class="fa fa-whatsapp"></i> 
                                    baixe e envie por WhatsApp
                                </a>
                            </div>
                        </div>

                        <div class="item">
                            <a href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_04_v2.jpg')}}" download>
                                <img src="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_04_v2.jpg')}}" alt="">
                            </a>
                            <div class="space-h-20">
                                <a class="btn-download btn-default" href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_04_v2.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                                    <i class="fa fa-whatsapp"></i> 
                                    baixe e envie por WhatsApp
                                </a>
                            </div>
                        </div>

                        <div class="item">
                            <a href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_05_v2.jpg')}}" download>
                                <img src="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_05_v2.jpg')}}" alt="">
                            </a>
                            <div class="space-h-20">
                                <a class="btn-download btn-default" href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_05_v2.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                                    <i class="fa fa-whatsapp"></i> 
                                    baixe e envie por WhatsApp
                                </a>
                            </div>
                        </div>

                        <div class="item">
                            <a href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_06_v2.jpg')}}" download>
                                <img src="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_06_v2.jpg')}}" alt="">
                            </a>
                            <div class="space-h-20">
                                <a class="btn-download btn-default" href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_06_v2.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                                    <i class="fa fa-whatsapp"></i> 
                                    baixe e envie por WhatsApp
                                </a>
                            </div>
                        </div>

                        <div class="item">
                            <a href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_07_v2.jpg')}}" download>
                                <img src="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_07_v2.jpg')}}" alt="">
                            </a>
                            <div class="space-h-20">
                                <a class="btn-download btn-default" href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_07_v2.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                                    <i class="fa fa-whatsapp"></i> 
                                    baixe e envie por WhatsApp
                                </a>
                            </div>
                        </div>

                        <div class="item">
                            <a href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_08_v2.jpg')}}" download>
                                <img src="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_08_v2.jpg')}}" alt="">
                            </a>
                            <div class="space-h-20">
                                <a class="btn-download btn-default" href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_08_v2.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                                    <i class="fa fa-whatsapp"></i> 
                                    baixe e envie por WhatsApp
                                </a>
                            </div>
                        </div>

                        <div class="item">
                            <a href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_09_v2.jpg')}}" download>
                                <img src="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_09_v2.jpg')}}" alt="">
                            </a>
                            <div class="space-h-20">
                                <a class="btn-download btn-default" href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_09_v2.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                                    <i class="fa fa-whatsapp"></i> 
                                    baixe e envie por WhatsApp
                                </a>
                            </div>
                        </div>

                        <div class="item">
                            <a href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_10_v2.jpg')}}" download>
                                <img src="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_10_v2.jpg')}}" alt="">
                            </a>
                            <div class="space-h-20">
                                <a class="btn-download btn-default" href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_10_v2.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                                    <i class="fa fa-whatsapp"></i> 
                                    baixe e envie por WhatsApp
                                </a>
                            </div>
                        </div>

                        <div class="item">
                            <a href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_11_v2.jpg')}}" download>
                                <img src="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_11_v2.jpg')}}" alt="">
                            </a>
                            <div class="space-h-20">
                                <a class="btn-download btn-default" href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_11_v2.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                                    <i class="fa fa-whatsapp"></i> 
                                    baixe e envie por WhatsApp
                                </a>
                            </div>
                        </div>

                        <div class="item">
                            <a href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_12_v2.jpg')}}" download>
                                <img src="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_12_v2.jpg')}}" alt="">
                            </a>
                            <div class="space-h-20">
                                <a class="btn-download btn-default" href="{{ asset('_dist/image/img/equilibresse/zapbook/Zapbook_Card_12_v2.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                                    <i class="fa fa-whatsapp"></i> 
                                    baixe e envie por WhatsApp
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            //Carrossel de vídeos
            if($(".slide-zapbook .slides").length) {
				$(".slide-zapbook .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					margin: 0,
					loop: true,
					responsiveClass: true,
					nav: true,
					items: 1
				});
			}
        });
    </script>
{% endblock %}