{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Quiz Equilibrisse{% endblock %}
    
{% block body %}
<div class="equilibresse-quiz" id="equilibresse-quiz">
    <div class="container">
        <div class="main-title">
            <h2>O estresse e a ansiedade são cada vez mais comuns no dia a dia dos brasileiros, e é seu papel ajudá-los a trazer mais equilíbrio para a vida.</h2>
            <h3>Mostre que sim, respondendo às afirmações abaixo! </h3>
        </div>
    </div>

    <!-- 1 -->
    <div class="equilibresse-quiz-section">
        <h2 class="container">
            A ansiedade apresenta apenas sintomas psicológicos.
        </h2>
        <div class="container">
            <div class="equilibresse-quiz-respostas">
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-1.1.jpg') }}" alt>
                    </figure>
                    <p>Verdade. A ansiedade é caracterizada por sintomas como medo constante e angústia.</p>
                </div>
                <div class="equilibresse-quiz-box correto">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-1.2.jpg') }}" alt>
                    </figure>
                    <p>Mito. Além dos sintomas psicológicos, a ansiedade pode provocar taquicardia, tremores, diarreia, entre outros.</p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-1.3.jpg') }}" alt>
                    </figure>
                    <p>Mito. A ansiedade em si é um sintoma de outras patologias.</p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-1.4.jpg') }}" alt>
                    </figure>
                    <p>Verdade. A ansiedade possui apenas sintomas como depressão e insônia.</p>
                </div>
            </div>

            <div class="refrence">
                <p>
                    <strong>Referências:</strong><br>
                    Costa CO, Branco JC, Vieira IS, Souza LDM, Silva RA. Prevalência de ansiedade e fatores associados em adultos. J Bras Psiquiatr. 2019;68(2):92-100. 
                </p>
            </div>
        </div>
    </div>

    <!-- 2 -->
    <div class="equilibresse-quiz-section">
        <h2 class="container">
            Respirar profundamente pode ajudar a aliviar crises de ansiedade. 
        </h2>
        <div class="container">
            <div class="equilibresse-quiz-respostas">
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-2.1.jpg') }}" alt>
                    </figure>
                    <p>
                        Mito. A respiração em nada afeta em distúrbios psicológicos. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-2.2.jpg') }}" alt>
                    </figure>
                    <p>
                        Verdade. A ansiedade tem relação direta com os pulmões. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box correto">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-2.3.jpg') }}" alt>
                    </figure>
                    <p>
                        Verdade. Em muitos casos, exercícios respiratórios ajudam a oxigenar o cérebro e a reduzir os batimentos cardíacos. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-2.4.jpg') }}" alt>
                    </figure>
                    <p>
                        Mito. A respiração mais profunda pode ser um risco para pessoas em crise de ansiedade, aumentando o risco de hiperventilação. 
                    </p>
                </div>
            </div>

            <div class="refrence">
                <p>
                    <strong>Referências:</strong><br>
                    Harinath K, Harinath K, Malhotra AS, Pal K, Prasad R, Kumar R et al. Effects of Hatha yoga and Omkar meditation on cardiorespiratory performance, psychologic profile, and meltatonin secretion. J Altern Complement Med 2004; 10(2): 261-268.
                </p>
            </div>
        </div>
    </div>

    <!-- 3 -->
    <div class="equilibresse-quiz-section">
        <h2 class="container">
            A ansiedade se resolve sozinha.
        </h2>
        <div class="container">
            <div class="equilibresse-quiz-respostas">
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-3.1.jpg') }}" alt>
                    </figure>
                    <p>
                        Mito. A ansiedade é curada ao se tratar da patologia causadora desse sintoma.
                    </p>
                </div>
                <div class="equilibresse-quiz-box correto">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-3.2.jpg') }}" alt>
                    </figure>
                    <p>
                        Mito. A ansiedade é uma doença e deve ser tratada como tal, após a avaliação de um especialista. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-3.3.jpg') }}" alt>
                    </figure>
                    <p>
                        Verdade. A ansiedade é apenas um sintoma que pode ser combatido pelo próprio corpo. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-3.4.jpg') }}" alt>
                    </figure>
                    <p>
                        Verdade. A cura da ansiedade ocorre pela ação dos linfócitos no sangue. 
                    </p>
                </div>
            </div>

            <div class="refrence">
                <p>
                    <strong>Referências:</strong><br>
                    Neto MRL, Elkis H. Psiquiatria Básica. São Paulo: ArtMed. 2007.  
                </p>
            </div>
        </div>
    </div>

    <!-- 4 -->
    <div class="equilibresse-quiz-section">
        <h2 class="container">
            A insônia é considerada apenas um problema psicológico. 
        </h2>
        <div class="container">
            <div class="equilibresse-quiz-respostas">
                <div class="equilibresse-quiz-box correto">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-4.1.jpg') }}" alt>
                    </figure>
                    <p>
                        Mito. Apesar de poder ser causada por alguns distúrbios psicológicos, como a ansiedade, a insônia pode ser decorrente de outros fatores, como a prática de exercícios antes de dormir. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-4.2.jpg') }}" alt>
                    </figure>
                    <p>
                        Verdade. Casos de insônia são característicos apenas em pacientes com distúrbios psicológicos, como a ansiedade e o estresse.   
                    </p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-4.3.jpg') }}" alt>
                    </figure>
                    <p>
                        Mito. A insônia não tem relação com problemas psicológicos. Ela é causada por hábitos do paciente, como a ingestão de cafeína ou o tabagismo.  
                    </p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-4.4.jpg') }}" alt>
                    </figure>
                    <p>
                        Verdade. A insônia é um sintoma exclusivo da ansiedade. 
                    </p>
                </div>
            </div>

            <div class="refrence">
                <p>
                    <strong>Referências:</strong><br>
                    Organização Mundial de Saúde. Depression and Other Common Mental Disorders Global Health Estimates. Geneva: World Health Organization. 2017. 
                </p>
            </div>
        </div>
    </div>

    <!-- 5 -->
    <div class="equilibresse-quiz-section">
        <h2 class="container">
            Apagar as luzes auxilia em uma boa noite de sono. 
        </h2>
        <div class="container">
            <div class="equilibresse-quiz-respostas">
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-5.1.jpg') }}" alt>
                    </figure>
                    <p>
                        Mito. Essa é uma crença popular criada para reduzir o consumo de energia elétrica. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-5.2.jpg') }}" alt>
                    </figure>
                    <p>
                        Verdade. É impossível que um ser humano consiga adormecer com as luzes acesas. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box correto">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-5.3.jpg') }}" alt>
                    </figure>
                    <p>
                        Verdade. Um ambiente com poucas luzes é benéfico para a produção de melatonina, que é o hormônio responsável por induzir a sonolência. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-5.4.jpg') }}" alt>
                    </figure>
                    <p>
                        Mito. A produção de melatonina é produzida pela glândula submandibular e não é afetada pela incidência de luz. O hábito de apagar as luzes para dormir surgiu apenas com a descoberta da eletricidade. 
                    </p>
                </div>
            </div>

            <div class="refrence">
                <p>
                    <strong>Referências:</strong><br>
                    Neto JAS, Castro BF. Melatonina, ritmos biológicos e sono - uma revisão da literatura. Rev Bras Neurol. 2008; 44 (1): 5-11. 
                </p>
            </div>
        </div>
    </div>

    <!-- 6 -->
    <div class="equilibresse-quiz-section">
        <h2 class="container">
            O consumo de álcool é uma das soluções para casos de insônia. 
        </h2>
        <div class="container">
            <div class="equilibresse-quiz-respostas">
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-6.1.jpg') }}" alt>
                    </figure>
                    <p>
                        Verdade. O álcool, em doses moderadas, pode 
                        auxiliar no aumento da sonolência, sendo 
                        benéfico para pessoas que sofrem de insônia 
                        e para alguns casos de ansiedade. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box correto">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-6.2.jpg') }}" alt>
                    </figure>
                    <p>
                        Mito. O consumo de álcool não induz a sonolência, 
                        ele apenas “apaga” o paciente, mas não reflete em 
                        um sono de qualidade. Além disso, o consumo 
                        abusivo de álcool pode trazer sérios 
                        malefícios à saúde.  
                    </p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-6.3.jpg') }}" alt>
                    </figure>
                    <p>
                        Verdade. O álcool é altamente indicado para tratar 
                        casos de insônia causada pela ansiedade. Além de 
                        auxiliar no sono, ele reduz a incidência de outros
                        sintomas, como taquicardia e tremedeira. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-6.4.jpg') }}" alt>
                    </figure>
                    <p>
                        Mito. A única solução para casos de insônia é uma
                        mudança de hábitos, como parar de fumar ou 
                        tomar café antes de dormir. 
                    </p>
                </div>
            </div>

            <div class="refrence">
                <p>
                    <strong>Referências:</strong><br>
                    Organização Mundial de Saúde. Depression and Other Common Mental Disorders Global Health Estimates. Geneva: World Health Organization. 2017.
                </p>
            </div>
        </div>
    </div>

    <!-- 7 -->
    <div class="equilibresse-quiz-section">
        <h2 class="container">
            O medicamento fitoterápico é todo 
            medicamento indicado para o 
            tratamento de doenças psicológicas. 
        </h2>
        <div class="container">
            <div class="equilibresse-quiz-respostas">
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-7.1.jpg') }}" alt>
                    </figure>
                    <p>
                        Verdade. Fitoterápicos são todos os medicamentos da família dos psicotrópicos, e são os mais indicados no tratamento de ansiedade e depressão. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box correto">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-7.2.jpg') }}" alt>
                    </figure>
                    <p>
                        Mito. Fitoterápicos são medicamentos que 
                        possuem como base as matérias-primas ativas 
                        vegetais e apresentam resultados com base 
                        no fitocomplexo. 
                    </p>
                </div>
            </div>

            <div class="refrence">
                <p>
                    <strong>Referências:</strong><br>
                    Brasil. Ministério da Saúde. Agência Nacional de Vigilância Sanitária. Resolução da Diretoria Colegiada - RDC N° 26, DE 13 DE MAIO DE 2014. Dispõe sobre o registro de medicamentos fitoterápicos e o registro e a notificação de produtos tradicionais fitoterápicos. Disponível em: <a href="http://bvsms.saude.gov.br/bvs/saudelegis/anvisa/2014/rdc0026_13_05_2014.pdf" target="_blank">http://bvsms.saude.gov.br/bvs/saudelegis/anvisa/2014/rdc0026_13_05_2014.pdf.</a> Acesso em: 011. jan. 2021. 
                </p>
            </div>
        </div>
    </div>

    <!-- 8 -->
    <div class="equilibresse-quiz-section">
        <h2 class="container">
            Equilibrisse é um medicamento feito a partir da planta Bauhinia forficata. 
        </h2>
        <div class="container">
            <div class="equilibresse-quiz-respostas">
                <div class="equilibresse-quiz-box correto">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-8.1.jpg') }}" alt>
                    </figure>
                    <p>
                        Mito. Equilibrisse é um fitoterápico produzido a partir 
                        do extrato seco de Passiflora incarnata, proveniente das partes aéreas da planta do maracujá. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box ">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-8.2.jpg') }}" alt>
                    </figure>
                    <p>
                        Verdade. Equilibrisse é um fitoterápico composto por 
                        uma mistura de ervas medicinais, com uma base ativa 
                        da famosa pata-de-vaca. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box ">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-8.3.jpg') }}" alt>
                    </figure>
                    <p>
                       Mito. Equilibrisse é um medicamento da classe 
                        de anti-inflamatórios. 
                    </p>
                </div>
                <div class="equilibresse-quiz-box">
                    <figure>
                        <img src="{{ asset('_dist/image/img/equilibresse/quiz/quiz-8.4.jpg') }}" alt>
                    </figure>
                    <p>
                        Verdade. Equilibrisse possui, em sua fórmula, 
                        um composto de Bauhinia forficada e Solanum 
                        lycopersicum.  
                    </p>
                </div>
            </div>

            <div class="refrence">
                <p>
                    <strong>Referências:</strong><br>
                    Folheto do produto Equilibrisse. 
                    Equilibrisse. Extrato seco de Passiflora incarnata L. Indicações: para o tratamento da ansiedade leve, como estados de irritabilidade, agitação nervosa, tratamento de insônia e desordens da ansiedade. MS 1.5584.0575.bv SE PERSISTIREM OS SINTOMAS, O MÉDICO DEVERÁ SER CONSULTADO. Março/2021 
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="refrence">
            <p>
                Equilibrisse. Extrato seco de Passiflora incarnata L. Indicações: para o tratamento da ansiedade leve, como estados de irritabilidade, agitação nervosa, tratamento de insônia e desordens da ansie¬dade. MS 1.5584.0575.  SE PERSISTIREM OS SINTOMAS, O MÉDICO DEVERÁ SER CONSULTADO. Mês/Ano
            </p>
        </div>
    </div>

    <div class="quiz-histamin-result">
            <h2>Resultados:</h2>
            <p>
                <span class="number">De 1 a ? acertos: Está faltando vitamina aí!</span>
                <span class="text">Alerta! Parece que encontramos um profissional desnutrido por aqui. Retome o teste com mais atenção e, se mantiver a mesma pontuação, considere retomar as lições sobre vitaminas e, antes de tudo, se vitaminar mais (com equilíbrio, claro!).</span>
            </p>
        </div>

    

<div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $(".equilibresse-quiz-box").click(function() {
                
                if($(this).hasClass('correto')){
                    $('.equilibresse-quiz-box').removeClass('no');
                    $(this).addClass('yes');
                } else{
                    $('.equilibresse-quiz-box').removeClass('no');
                    $(this).addClass('no');
                    $(this).parents('.equilibresse-quiz-section').find('.equilibresse-quiz-box.correto').addClass('yes');
                }

            });
        });
    </script>
{% endblock %}