{% extends 'base.html.twig' %}
{% set metadescription = 'Portal Neo Pharma a plataforma da Neo Química pensada para você, farmacêuticos e balconistas! Confira as nossa matérias, cursos, podcasts e mais!' %}
{% set metatitle = 'Sobre' %}
{% block title %}Sobre o portal{% endblock %}
{% set pageIndex = 'sbp' %}
{% block body %}
    <div>
        <section class="banner-main">    
            <div class="p-hero">
                <div class="slide p-hero__item">
                    <div class="p-hero__body">
                        <h1 class="p-hero__title">Quem Somos</h1>
                    </div>
                    
                    <figure class="p-hero__figure">
                        <!-- Desktop -->
                        <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{ asset('_dist/image/img/quem-somos-banner.png') }}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post hidden-xs" />
                        
                        <!-- Mobile -->
                        <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{ asset('_dist/image/img/banner-quem-somos-mobile.jpg') }}'), url(/_dist/image/img/default.jpg); background-position: center top;" alt="" class="img-post visible-xs" />
                    </figure>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="content-main content-text">
                <div class="space-h-30">
                    <div class="container-about">
                        <div class="text-about">
                            <p>
                               Ao longo de 60 anos de história, a Neo Química se consolidou como uma das principais marcas do setor farmacêutico brasileiro, possuindo um portfólio com mais de 400 produtos, entre genéricos e similares. Com o posicionamento “A saúde de todos é a nossa vocação”, a Neo Química firmou seu propósito em ajudar a garantir o direito à saúde de todo o brasileiro. 
                            </p>
                            <p>
                                E, para isso, é preciso fazer mais do que medicamentos. É necessário ajudar a promover relações que auxiliem, acelerem e potencializem a saúde no Brasil, inovando a todo momento. Pensando nisso, a marca investe em uma estrutura de pesquisa e desenvolvimento da divisão Farma da Hypera, com uma equipe de mais de 200 profissionais e quatro laboratórios equipados com a mais moderna tecnologia. Além disso, conta com a maior fábrica de medicamentos da América Latina para a produção de mais de 50 milhões de unidades mensais de medicamentos.
                            </p>
                        </div>
                        <div class="img-about">
                            <figure>    
                                <img src="{{ asset('_dist/image/img/image-quem-somos.png') }}" alt="" />
                            </figrue>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}