{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Recuperar senha{% endblock %}

{% block body %}
    {% if error is defined %}
        {{error}}
    {% endif %}
    <div class="page-not-banner">
        <div class="container">
            <div class="login-forms-box">
                <div class="text-center logo-login">
                    <a href="{{ path('home') }}" id="logo-login">
                        <img src="{{ asset('_dist/image/img/logo-blue.png') }}" alt="Logo Neo Pharma">
                    </a>
                </div>
                {% if status %}
                    <div class="space-h-20 text-center">
                        <h2 class="space-h-10">Alterar sua senha</h2>
                    </div>
                    {% if user_gestors|length > 0 %}
                        <p class="text-center" style="color: red; font-size: 1.5em;">Atenção: Todos os cadastros que utilizam o mesmo e-mail terão a senha alterada.</p>
                    {% endif %}
                    
                    <form action="{{path('home-change-password', {'token' : token})}}" method="post" class="form" id="form-remember">
                        <div class="space-h-10">
                            <label for="user-password">Nova Senha*</label>
                            <input type="password" id="user-password" name="form[password]" class="form-control" autocomplete="off" required>
                        </div>
                        <div class="space-h-10">
                            <label for="user-passwordRepeat">Repetir Senha*<span class="error" id="passwordRepeat-error"></span></label>
                            <input type="password" id="user-passwordRepeat" name="form[passwordRepeat]" class="form-control" autocomplete="off" required>
                        </div>
                        <p>
                            * Preenchimento obrigatório
                        </p>
                        <p id="error"></p>
                        <div class="space-h-20">
                            <button type="submit" class="btn-default btn-full btn-large">Salvar</button>
                        </div>
                    </form>
                {% else %}
                    <div class="space-h-20 text-center">
                        <h2 class="space-h-10">{{ message }}</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("document").ready(function(){
            $("#form-remember").on("submit", function(e){
                $("#error").html("");
                var userPassword = $("#user-password").val();
                var userPasswordRepeat = $("#user-passwordRepeat").val();
                console.log(userPassword, userPasswordRepeat);
                if(userPassword == "" || userPasswordRepeat == ""){
                    e.preventDefault();
                    $("#error").html("Os campos são obrigatórios.");
                    return false;
                } else if(userPasswordRepeat != userPassword){
                    e.preventDefault();
                    $("#error").html("Passwords estão diferentes");
                    return false;
                }
            });
        });
    </script>
{% endblock %}