<!DOCTYPE html>
<html>
    <head>
        <title>Contato do Portal Neo Pharma</title>
    </head>
    <body style="">

        <p>Olá,</p>

        <p>{{form.name}} enviou uma mensagem através do Portal Neo Pharma.</p>

        <table style="">
            <tr>
                <th>Nome</th>
                <td>{{form.name}}</td>
            </tr>
        
            <tr>
                <th>Email</th>
                <td>{{form.email}}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{form.message|nl2br }}</td>
            </tr>
        </table>
    </body>
</html>