{% extends 'base.html.twig' %}
{% set metadescription = 'Ficou com alguma dúvida sobre o funcionamento do Portal Neo Pharma? E também sobre os medicamentos da Neo Química? Mande uma mensagem que te ajudamos.' %}
{% set metatitle = 'Fale Conosco' %}
{% block title %}Fale Conosco{% endblock %}
{% set pageIndex = 'flc' %}
{% block body %}
     <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>Fale conosco</h1></div>
        </section>
        <div class="container container-small">
            <header class="header-main text-center">
                <p class="text-center space-h-10">
                    Ficou com alguma dúvida sobre o funcionamento do Portal Neo Pharma ou sobre os medicamentos da Neo Química? Mande uma mensagem e preencha este formulário com os seus dados. Assim, nosso time entrará em contato com você! 
                </p>
            </header>
            
            {% if status is defined %}
                <div class="space-h-10">
                    <h2 class="text-center">{{ status }}</h2>
                </div>
            {% endif %}
            {% set form = app.request.get('form') %}

            {% set name = '' %}
            {% set email = '' %}
            {% set subject = '' %}
            {% set message = '' %}

            {% if form %} 
                {% set name = form.name %}
                {% set email = form.email %}
                {% set subject = form.subject %}
                {% set message = form.message %}
            {% endif %}
           
            <form action="{{path('home-contact-us')}}" class="form" id="form" method="post">
                <fieldset class="space-h-20">
                <div class="space-h-10">
                    <label for="">Nome:</label>
                    <input type="text" name="form[name]" id="" class="form-control flc_mid_frm_nome"  required value="{{app.user.id is defined ? app.user.name : name }}"/>
                </div>

                <div class="space-h-10">
                    <label for="">E-mail:</label>
                    <input type="email" name="form[email]" id="" class="form-control flc_mid_frm_email" value="{{app.user.id is defined ? app.user.email : email }}" required />
                </div>

                <div class="space-h-10">
                    <label for="select">Assunto</label>
                    <select id="select"  class="form-control flc_mid_frm_assunto" name="form[subject]" required>
                        <option value="" selected="" disabled="">Selecione uma opção</option>
                        <option {{ subject == 'Reação Adversa' ? 'selected' : '' }} value="Reação Adversa">Reação Adversa</option>
                        <option {{ subject == 'Sugestão/Elogio' ? 'selected' : '' }} value="Sugestão/Elogio">Sugestão/Elogio</option>
                        <option {{ subject == 'Crítica/Reclamação de produto' ? 'selected' : '' }} value="Crítica/Reclamação de produto">Crítica/Reclamação de produto</option>
                        <option {{ subject == 'Informações de produtos/medicamentos' ? 'selected' : '' }} value="Informações de produtos/medicamentos">Informações de produtos/medicamentos</option>
                        <option {{ subject == 'Oferecimento de serviço' ? 'selected' : '' }} value="Oferecimento de serviço">Oferecimento de serviço</option>
                        <option {{ subject == 'Solicitação de visita (Representante)' ? 'selected' : '' }} value="Solicitação de visita (Representante)">Solicitação de visita (Representante)</option>
                        <option {{ subject == 'Solicitação de visita (Vendedor)' ? 'selected' : '' }} value="Solicitação de visita (Vendedor)">Solicitação de visita (Vendedor)</option>
                        <option {{ subject == 'neoexcelencia' ? 'selected' : '' }} value="neoexcelencia">Neopharma Excelência</option>
                    </select>
                </div>

                <div class="space-h-10">
                    <label for="textarea">Mensagem:</label>
                    <textarea id="textarea" name="form[message]" class="form-control flc_mid_frm_mensagem" required>{{ message ? message : '' }}</textarea>
                </div>
                
                <div class="space-h-10">
                    <div class="g-recaptcha flc_mid_frm_naosourobo" data-sitekey="6LcsdrUUAAAAAF5QjItiJNZ9V9QfyDESw8L-lvVn"></div>
                    {% if error is defined %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                </div>
                
                <div class="space-h-10">
                    <button type="submit" class="btn-default btn-full btn-large flc_mid_frm_sbm_enviar">Enviar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
    </script>
{% endblock %}