{% extends 'base.html.twig' %}
{% set metadescription = 'Portal Neo Pharma a plataforma pensada para farmacêuticos e balconistas e farmácias! Acesse e confira as nossa matérias, cursos, podcasts, quiz e mais.' %}
{% set metatitle = 'Home' %}
{% block title %}Home{% endblock %}
{% set pageIndex = 'hme' %}
{% block body %}
    <div class="home" id="home">
        <!-- Destaque -->
        <section id="destaques" class="destaque logged">    
            <div class="slides owl-carousel p-hero">
                         
                {% if app.user %}
                    {% for b in banners %}   
                        {% if b.is_logged %}
                            <!-- Banner -->
                            {% include 'component/banner-home.html.twig' with {'b': b} %}
                            <!-- end -->
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for b in banners %}
                        {% if not b.is_logged %}
                            <!-- Banner -->
                            {% include 'component/banner-home.html.twig' with {'b': b} %}
                            <!-- end -->
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            {% if not app.user %}
            <div class="form-banner-top">
                <div class="form-banner-content">
                    <h2>cadastre-se aqui</h2>                                    
                    <form class="form" action="{{ path('lead-save') }}" method="POST">
                        <div class="space-h-5">
                            <label for="profile"><span class="error" id="profile-error"></span></label>
                            <select class="form-control profile" name="occupation" required>
                                <option value="">Você é</option>
                                <option value="farmaceutico">Farmacêutico</option>
                                <option value="balconista">Balconista</option>
                                <option value="gestor-de-loja">Parceiro Neo Pharma Excelência</option>
                            </select>
                        </div>
                        <div class="not-gestor-de-loja">
                            <div class="space-h-5">
                                <label for="name"><span class="error" id="name-error"></span></label>
                                <input type="text" name="name" placeholder="Nome*" class="form-control name" required>
                            </div>
                            <div class="space-h-5">
                                <label for="email"><span class="error email-error" id="email-error"></span></label>
                                <input type="email" name="email" placeholder="E-mail*"  class="form-control email" required>
                            </div>
                        </div>
                        <div class="gestor-de-loja" style="display: none;">
                            <div class="space-h-5">
                                <label for="cnpj" id="cnpj"><span class="error cnpj-error" id="cnpj-error"></span></label>
                                <input type="text" name="cnpj" placeholder="CNPJ*" class="form-control cnpj">
                            </div>
                            <div class="space-h-5">
                                <label for="cpf" id="cpf"><span class="error cpf-error" id="cpf-error"></span></label>
                                <input type="text" name="cpf" placeholder="CPF*" data-check="true" class="form-control cpf">
                            </div>
                        </div>
                        <br>
                        <div class="form-check">
                            <input type="checkbox" name="newsletter" class="cdt_mid_frm_aceito" id="agree-newsletter"  />
                            <label for="agree-newsletter" class="form-check-label">
                                <small class="text-gray" style="color: #fff !important;">Aceito receber e-mails sobre novidades da marca e seus produtos</small>
                            </label>
                        </div>
                        <div class="text-center space-h-5">
                            <button type="button" class="btn-default btn-lead" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'cadastro_clicks','event_section': 'cadastro','event_local': '/home','event_text': 'realizar-cadastro','event_action': 'click'});">Realizar o cadastro</button>
                        </div>
                    </form>
                    <p class="text-center space-h-5 text-white">ou</p>
                    
                    <div class="space-h-5">
                        <div class="facebookLoginButton btn-social cdt_mid_btn_facebook" id="facebookLoginButton"
                        onclick="dataLayer.push({'event': 'gaEvent','event_name': 'cadastro_clicks','event_section': 'cadastro','event_local': '/home','event_text': 'cadastre-se com o Facebook','event_action': 'click'});">
                            <i class="fa fa-facebook"></i><span>Cadastre-se com o Facebook</span>
                        </div>
                    </div>
                    
                    {# <div class="space-h-5">
                        <div class="googleLoginButton btn-social cdt_mid_btn_google" id="googleLoginButton">
                            <i class="fa fa-google"></i><span>Cadastre-se com o Google</span>
                        </div>
                    </div> #}

                    <div class="space-h-10">
                        <div class="googleLoginButton btn-socials btn-socials-login cdt_mid_btn_google" id="googleLoginButton"
                        onclick="dataLayer.push({'event': 'gaEvent','event_name': 'cadastro_clicks','event_section': 'cadastro','event_local': '/home','event_text': 'cadastre-se com o Google','event_action': 'click'});">
                            <i class="fa fa-google"></i><span>Cadastre-se com o Google</span>
                        </div>
                    </div>
                    <div class="is-user text-center">
                        <p>Já é cadastrado?</p>
                        <div>
                            <a href="{{ path('home-login') }}" class="btn-default"
                            onclick="dataLayer.push({'event': 'gaEvent','event_name': 'cadastro_clicks','event_section': 'cadastro','event_local': '/home','event_text': 'faça seu login','event_action': 'click'});"
                            >FAÇA SEU LOGIN</a>
                        </div>
                    </div>

                </div>
            </div>
            {% endif %}
        </section>
        <div class="space-h-30 text-center arow-bottom">
            <a href="#recents-content-section"><img src="{{ asset('_dist/image/img/arow-bottom.png')}}" alt="" /></a>
        </div>

        {% if app.user.id is defined %}
        <!-- Gamificação sessão logada -->
        <section class="gamificacao-section-home">
            <div class="container">
                <div class="d-flex flex-wrap justify-content-around align-items-center">
                    <div class="gamificacao-item gamificacao-item-1">
                        <h2 class="gamificacao-main-tile">Você no ranking</h2>
                        <div class="gamificacao-home-table">
                            <div class="gamificacao-home-row">
                                <div class="gamificacao-home-td gamificacao-home-td-1">
                                    {% set user_position = userPositionGamification('user_id', app.user.id, app.user) %} 
                                    
                                    {% set user_position_first = userPositionGamification('position', 1, app.user) %} 
                                    {% set user_position_second = userPositionGamification('position', 2, app.user) %} 

                                    {% if user_position.position is defined %}
                                        <div class="gamificacao-home-cell-1 gamificacao-home-cell ">
                                            <span class="gamificacao-home-number">{{ '#' ~ user_position.position }}</span>
                                            <span class="gamificacao-home-text">posição no ranking</span>
                                        </div>
                                    {% endif %}

                                    {% if user_ranking.id is defined %}
                                        <div class="gamificacao-home-cell-2 gamificacao-home-cell">
                                            <span class="gamificacao-home-number">{{ user_ranking.point }}</span>
                                            <span class="gamificacao-home-text">pontos</span>
                                        </div>
                                    {% endif %}

                                    {% if user_medals|length > 0 %}                                    
                                        <div class="gamificacao-home-cell-3 gamificacao-home-cell">
                                            <span class="gamificacao-home-number">{{ user_medals|length }}</span>
                                            <span class="gamificacao-home-text">medalhas</span>
                                        </div>
                                    {% endif %}
                                </div>
                                
                                {% if user_level.level.id is defined %}
                                    <div class="gamificacao-home-td gamificacao-home-td-2">
                                        <div>
                                            <figure>
                                                <img src="{{ asset('_dist/image/img/gamefication/trofeu-bronze.png')}}" alt="{{ user_level.level.name }}" />
                                            </figure>
                                            <h3>{{ user_level.level.name }}</h3>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>

                    {% if user_position.position is defined %}
                        {% if user_position.position == 1 %}
                            {% if user_position_second.point is defined  %}
                                {% set calc = (user_position_first.point - user_position_second.point) %}
                            {% else %}
                                {% set calc = 0 %}
                            {% endif %}

                            {% set mensage = '<big>Parabéns,</big>
                                    você está no primeiro lugar. Continue pontuando, o segundo colocado está a <span>' ~ calc ~' pontos</span> de você.' %}
                        {% else %}
                            {% set calc = (user_position_first.point - user_position.point) %}
                            {% set mensage = 'Faltam <span>' ~ calc ~' pontos</span> pontos para você chegar ao primeiro lugar' %}
                        {% endif %}
                    

                        <div class="gamificacao-item gamificacao-item-2">
                            <h2 class="gamificacao-item-text">
                                {{ mensage|raw }}
                            </h2>
                            <div class="space-h-20">
                                <a href="{{ path('gamefication') }}" class="btn-default">Veja como conseguir mais pontos!</a>
                            </div>
                        </div>
                    {% endif %}
                   
                </div>
            </div>
        </section>
        {% endif %}
        
        {% if not app.user %}
        <div class="video-home">
            <div class="container">
                <div class="video-home-row">
                    <div class="video-home-text">
                        <h2>Conheça a plataforma pensada pra você, profissional de farmácia!
                    </div>
                    <div class="video-home-video">
                        <div class="video-embed">
                            <video width="560" height="315" controls>
                                <source src="{{ asset('_dist/image/img/video-home.mp4')}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if not app.user %}
         <!-- Gamificação sessão deslogada -->
        <section class="gamificacao-section-home-deslogada">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <figure class="text-center">
                            <a href="#"><img src="{{ asset('_dist/image/img/gamefication/trofeu01.png')}}" alt="" title="" /></a>
                        </figure>

                    </div>
                    <div class="col-sm-9">
                        <h2>Chegue ao topo!</h2>
                        <p class="space-h-20">
                            A sua ferramenta de consulta diária agora te dá pontos para competir com seus colegas! Ao acessar o conteúdo do Portal Neo Pharma, você ganha pontos para subir no ranking e mostrar a todos que está sempre atualizado.
                        </p>
                        <p>
                            <a href="#">Faça seu login e descubra como pontuar!</a>
                        </p>
                    </div>
                </div>
                
            </div>
        </section>
        {% endif %}

        {% if posts|length > 0 %}
        <section class="recents-content-section" id="recents-content-section">
            <div class="container">
                <div class="recents-content-box">
                    <div class="recents-box">
                        <h2>Conteúdo mais recente</h2>
                        <p class="description">
                            Conteúdo atualizado para profissionais de farmácia.
                        </p>
                        <div class="recents-list slides blue-slides">
                            {% for post in posts %}
                            <div class="recents-item">
                                {% set category = categoryBlog(post.type.slug) %}
                                <div class="posts-type">
                                    <h3>{{ category|raw }}</h3>
                                </div>
                                <p>
                                    {{ post.title }}
                                </p>
                                <figure>
                                    <a href="{{ path('blog_detail', {'slug': post.slug }) }}">
                                        <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{ asset(post.image)}}'), url(/_dist/image/img/default.jpg);" alt="{{ post.title }}"  class="img-post" />
                                    </a>
                                </figure>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                    {% if post_views|length > 0 %}
                    <div class="more-access">
                        <h2>MAIS ACESSADOS</h2>

                        <div class="slides blue-slides">
                            {% for post in post_views %}
                            <div class="more-access-box">
                                <h3>{{ post.title }}</h3>
                                <figure>
                                    <a href="{{ path('blog_detail', {'slug': post.slug }) }}">
                                        <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{ asset(post.image)}}'), url(/_dist/image/img/default.jpg);" alt="{{ post.title }}"  class="img-post" />
                                    </a>
                                </figure>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
        {% endif %}

        {% if quizs|length > 0 %}
        <section class="quiz-box-home" id="quiz-box">
            <div class="container">
                <div class="slider-quiz-home">
                    <div class="slides owl-carousel">
                        {% for quiz in quizs %}
                        <div class="item">
                            <div class="quiz-box-content">
                                <figure class="quiz-box-img">
                                    <img src="{{ asset('_dist/image/img/square.gif') }}" style="background-image: url('{{ asset(quiz.image)}}'), url(/_dist/image/img/default.jpg);" alt="{{ quiz.name }}"  class="img-post" />
                                </figure>
                                <div class="quiz-box-info">
                                    <h3>QUIZ</h3>
                                    <p>{{ quiz.name }}<p>
                                </div>
                                <div class="quiz-box-btn">
                                    <a href="{{ path('quiz_do', {'slug': quiz.slug}) }}" class="btn-default btn-yellow">DESCUBRA AQUI</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </section>
        {% endif %}

        {% if courses|length > 0 %}
        {# <section class="cursos-home-box" id="cursos-home-box">
            <div class="container">
                <h2>Cursos Online</h2>
                
                <div class="cursos-home-container">
                    {% for course in courses %}
                        {% if loop.first %}
                            <div class="cursos-home-content">
                                <a href="" class="video-icon" data-modal="modal-video-course" data-modal-id="{{ course.video }}">
                                    <figure class="">
                                        <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{ asset(course.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{ course.name }}"  class="img-post" />
                                        <figcaption class="cursos-home-info">{{ course.name }}</figcaption>
                                    </figure>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="cursos-home-list">
                        <div class="slides  blue-slides">
                            {% for course in courses %}
                            <div class="cursos-home-item"> <!--- cod video FNJvEFwvpLU -->
                                <div class="cursos-home-item-img">
                                    <figure>
                                        <a href="" class="cursos-home-link" data-video="{{ course.video }}" data-image="{{ asset(course.imageMobile)}}" data-title="{{ course.name }}">
                                            <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{ asset(course.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{ course.name }}"  class="img-post" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="cursos-home-item-info">
                                    <p>
                                        <a href="{{ path('course_detail', {'slug': course.slug}) }}">{{ course.name }}</a>
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section> #}

        {# <div class="modal-default video-modal" id="modal-video-course">
            <div class="content-form-src-desk">
                <div class="modal-content">
                    <div class="text-center space-h-20">
                        <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                    </div>
                    <div class="text-center space-h-20">
                        <h2></h2>
                    </div>
                    <div class="text-center video-embed">
                        <iframe src="https://player.vimeo.com/video/" width="320" height="240" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div> #}
        {% endif %}
        
        {# <section class="racine-section text-center">
            <div class="container">
                <h2>Os cursos do portal são certificados pelo</h2>
                <figure>
                    <a href="{{ path('course_home') }}" target="_blank"><img src="{{ asset('_dist/image/img/logo-racine.png')}}" alt="Os cursos do portal são certificados RACINE" /></a>
                </figure>
            </div>
        </section> #}
        
        <!-- Logado -->
        {% if app.user %}
        <section class="enquete-section">
            <div class="container">
                <div class="enquete-box">
                    <h2>ENQUETE</h2>
                    {% set response = calcPercentageSurvey(app.user) %} <!-- finalizar código de porcentagem -->
                   
                    <form class="enquete-form" action="{{ path('survey_question') }}" method="POST">
                        <label class="question">
                            {{ survey.title }}
                        </label>

                        {% if not response.is_participate %}
                            <input type="hidden" name="q" id="enquete-1-r1" value="{{ survey.id }}"  />
                            <label class="answer" for="enquete-1-r1">SIM <input type="radio" name="r" id="enquete-1-r1" value="sim"  /></label>
                            <label class="answer" for="enquete-1-r2">NÃO <input type="radio" name="r" id="enquete-1-r2" value="nao"  /></label>

                            <button type="submit" class="btn-default btn-yellow" value="s">Enviar</button>
                        {% endif %}
                    </form>
                    <div class="enquete-info d-flex">
                        <div class="info-1">
                            {{ response.percentage ~ '%' }}
                        </div>
                        <div class="info-2">
                            {{ response.message|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% else %}
        {# <section class="testimony-section">
            <div class="testimony-container">
                <figure class="testimony-prefile">
                    <img src="{{ asset('_dist/image/img/quiz-image.png')}}" alt="Camila Camargo" />
                </figure>
                <p class="testimony-text">
                    Acredito no aprendizado ao longo da vida e o portal Neo Pharma é um ótimo lugar para aprender com especialistas. Eu aprendi muito e recomendo a todos os meus amigos farmacêuticos.
                </p>
                <p class="testimony-name">
                    - Camila Camargo
                </p>
            </div>
        </section> #}
        {% endif %}    

        <section class="specials-section">
            <div class="container">
                <h2 class="text-center text-upper">Especiais</h2>
                <div class="specials-list slides blue-slides">
                    <div class="specials-item">
                        <figure class="space-h-30">
                            <a href="{{ path('centro') }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'linhas_especiais_click','event_local': '/home','event_text': 'Viver bem começa com V de Vitaminados!','event_action': 'click'});">
                                <img src="{{ asset('_dist/image/img/estaticas/vitaminas.png')}}">
                            </a>
                        </figure>
                        <div class="">
                            <a href="{{ path('centro') }}" class="btn-default" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'linhas_especiais_click','event_local': '/home','event_text': 'Viver bem começa com V de Vitaminados!','event_action': 'click'});">Viver bem começa com V de  <span>Vitaminados!</span></span></a>
                        </div>
                    </div>

                    <div class="specials-item">
                        <figure class="space-h-30">
                            <a href="{{ path('histamin') }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'linhas_especiais_click','event_local': '/home','event_text': 'Linha inverno','event_action': 'click'});">
                                <img src="{{ asset('_dist/image/img/estaticas/especiais-inverno.png')}}">
                            </a>
                        </figure>
                        <div class="">
                            <a href="{{ path('histamin') }}" class="btn-default"
                            onclick="dataLayer.push({'event': 'gaEvent','event_name': 'linhas_especiais_click','event_local': '/home','event_text': 'Linha inverno','event_action': 'click'});">Clique aqui e conheça seus <span>maiores aliados para o inverno!</span></span></a>
                        </div>
                    </div>

                    <div class="specials-item">
                        <figure class="space-h-30">
                            <a href="https://www.portalneopharma.com.br/blog/post/neo-quimica-arena-virtual-usa-tecnologia-para-se-aproximar-dos-amantes-de-futebol-em-todos-os-lugares"
                            onclick="dataLayer.push({'event': 'gaEvent','event_name': 'linhas_especiais_click','event_local': '/home','event_text': 'neo-quimica-arena','event_action': 'click'});">
                                <img src="{{ asset('_dist/image/img/estaticas/mini-banner-arena.png')}}">
                            </a>
                        </figure>
                        <div class="">
                            <a href="https://www.portalneopharma.com.br/blog/post/neo-quimica-arena-virtual-usa-tecnologia-para-se-aproximar-dos-amantes-de-futebol-em-todos-os-lugares" class="btn-default"
                            onclick="dataLayer.push({'event': 'gaEvent','event_name': 'linhas_especiais_click','event_local': '/home','event_text': 'neo-quimica-arena','event_action': 'click'});">Gosta de futebol? <span>Então clique aqui!</span></a>
                        </div>
                    </div>
                </div>

                <div class="text-center btn-see-all">
                    <a href="{{ path('specials') }}" class="btn-default"><span>VER TODOS</span></a>
                </div>
            </div>
        </section>

    </div>
    {% if popup is defined and popup is not null and popup|length > 0 %}
    <div class="hidden-xs" id="modal-promo-desk" data-modal="modal-promo"></div>
    <!-- MODAL promo -->
    <div class="modal-default" id="modal-promo">
        <div class="content-form-src-desk">
            <div class="modal-content" style="max-width: 900px !important;">
                <div class="text-center space-h-20">
                    <a class="close-modal" id="close-lightbox" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <a href="{{popup.link}}">
                    <!-- Desktop -->
                    <img src="{{ asset(popup.image) }}" alt="{{popup.title}}" class="hidden-xs">

                    <!-- Mobile -->
                    <img src="{{ asset(popup.image_mobile) }}" alt="{{popup.title}}" class=" visible-xs">
                    
                    <div class="destaque-item container">
                        <p class="text-1">{{ popup.description|raw }}</p>
                        <h2>{{popup.title}}</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- fim -->
    {% endif %}


    {% if not app.request.cookies.get('histamin') %}
        {% if app.request.attributes.get('_route') == 'home' %}
            {% if app.user.id is defined %}
                <!-- Popup Inverno -->
                <div class="modal-default modal-image open-modal" id="modal-n-motivos">
                    <div class="modal-content">
                        <a class="close-modal" id="close-modal-n-motivos" onclick="closeModal()">X</a>
                        <a href="{{ path('gamefication') }}">
                            <figure>
                                <img src="{{ asset('_dist/image/img/gamefication/popup-sustentacao.jpg') }}" alt="">
                            </figure>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
	<script>
		$(document).ready(function() {
            var redirectRegister = "{{ path('home-register') }}";

            if($("#modal-promo-desk").length){
              $("#modal-promo-desk").trigger("click");
            }

            //Menu onepage
            $(".arow-bottom a").click(function( event ) {
                event.preventDefault();
                $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top - 80 }, 500);
            });

            if ($(window).width() < 960) {
                var includeSlideMobile = $(".recents-box .slides, .more-access .slides, .cursos-home-list .slides, .specials-section .slides");
                if(includeSlideMobile.length) {
                    includeSlideMobile.addClass('owl-carousel');
                    includeSlideMobile.owlCarousel({
                        autoplay: true,
                        autoplayHoverPause: true,
                        autoplayTimeout: 120000,
                        margin: 0,
                        loop: true,
                        responsiveClass: true,
                        nav: true,
                        items: 1,
                        navText: ['<div class="setay prev"><i class="fa fa-left" id="destaque-prev"></i></div>','<div class="setay prev"><i class="fa fa-right" id="destaque-next"></i></div>']
                    });
                }
            }

            //troca de perfil
            $('.profile').on('change', function(e) {
                var profile = $(this).val(),
                    notGestor = $('.not-gestor-de-loja'),
                    gestor = $('.gestor-de-loja')
                    
                if (profile == 'gestor-de-loja') {
                    notGestor.find('input').prop('required', false)
                    gestor.find('input').prop('required', true)
                    notGestor.hide()
                    gestor.show()
                } else {
                    notGestor.find('input').prop('required', true)
                    gestor.find('input').prop('required', false)
                    notGestor.show()
                    gestor.hide()
                }
            })

            //form lead
            $('.btn-lead').on('click', function() {
                var profile = $('.profile').val()
                
                if (profile == 'gestor-de-loja') {
                    //var is_cnpj = checkCNPJ()
                    var is_cpf = checkCpf()
                   
                    if (!$('.cnpj').val().trim()) {
                       $('#cnpj-error').text('CNPJ é obrigatório')
                    }  
                    
                    if (!is_cpf.status) {
                        return false
                    }
                } else {
                    var is_name = $('.name')
                        
                    if (!is_name.val().trim()) {
                        $('#name-error').text('O nome é obrigatório')
                        return false
                    }

                    var is_email = checkEmail()
                    if (!is_email.status) {
                        return false
                    }
                }

                var is_save = save()
                
                if (!is_save.status) {
                    return false
                }

                window.location.href = redirectRegister
            })

            //register
            function save(){
                var form = $('.form'),
                    response = {'status': false, 'message': ''} 

                $('.btn-lead').text('Carregando...')

                $.ajax({
                    url: "{{ path('lead-save') }}",
                    type: "POST",
                    dataType: "json",
                    async: false,
                    data: form.serialize(),
                    success: function (data) {
                        response = data
                        //console.log('save ', response)
                        
                        if (!response.status) { 
                            if (response.error.hasOwnProperty('profile')) {
                                $('#profile-error').text(response.error.profile);
                            }

                            if (response.error.hasOwnProperty('name')) {
                                $('#name-error').text(response.error.name);
                            }

                            if (response.error.hasOwnProperty('email')) {
                                $('#email-error').text(response.error.email);
                            }

                            if (response.error.hasOwnProperty('cnpj')) {
                                $('#cnpj-error').text(response.error.cnpj);
                            }

                            if (response.error.hasOwnProperty('cpf')) {
                                $('#cpf-error').text(response.error.cpf);
                            }

                            return response
                        } else {
                            return response
                        }
                    }
                });

                return response
            }

            $('[name="name"]').on("keyup", function(){
                $('#name-error').text('');
            })

            $('[name="email"]').on("keyup", function(){
                $('#mail-error').text('');
            })

            $('[name="cnpj"]').on("keyup", function(){
                $('#cnpj-error').text('');
            })

            $('[name="cpf"]').on("keyup", function(){
                $('#cpf-error').text('');
            });

            function videoCouses(){
                var videoCourses = $('.cursos-home-content a').attr('data-modal-id'),
                    textCourses = $('.cursos-home-content figcaption').text();

                $('#modal-video-course iframe').attr('src' , 'https://player.vimeo.com/video/'+videoCourses);
                $('#modal-video-course h2').text(textCourses);

                $('.cursos-home-link').unbind('click').on('click', function(e){
                    e.preventDefault();

                    var cursosContentTitle = $(this).attr('data-title');
                        cursosContentImg = $(this).attr('data-image');
                        cursosContentVideo = $(this).attr('data-video');

                    $('.cursos-home-content figcaption').text(cursosContentTitle);
                    $('.cursos-home-content figure img').css('background-image', 'url('+cursosContentImg+'), url(/_dist/image/img/default.jpg)' );

                    $('#modal-video-course iframe').attr('src' , 'https://player.vimeo.com/video/'+cursosContentVideo);
                    $('#modal-video-course h2').text(cursosContentTitle);

                    console.log(cursosContentTitle+' - '+cursosContentImg+' - '+cursosContentVideo);
                });

                //Parar o audio ao fechar o modal
                $(".close-modal").click(function() {
                    var $frame = $('#modal-video-course iframe');
                    var vidsrc = $frame.attr('src');
                    $frame.attr('src',''); 
                    $frame.attr('src', vidsrc);
                });
            }

            videoCouses();
            
           
			//carrosel destaques home
			if($("#destaques .slides").length) {
				$("#destaques .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: false,
					autoplayTimeout: 5000,
					center: true,
					margin: 0,
					loop: true,
					responsiveClass: true,
					nav: false,
					items: 1
				});

				$("#destaques .owl-dot").each(function(x) {
					var x = x + 1;
					$(this).attr("id", "destaques-dot-"+x);
				});
			}

            //carrosel destaques home
			if($(".slider-quiz-home .slides").length) {
				$(".slider-quiz-home .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					center: true,
					margin: 0,
					loop: true,
					responsiveClass: true,
					nav: true,
					items: 1
				});
			}

            //Carrosel de produdos na home
            if($("#slide-products .slides").length) {
                $("#slide-products .slides").owlCarousel({
                    autoplay: true,
                    autoplayHoverPause: true,
                    autoplayTimeout: 120000,
                    center: true,
                    margin: 0,
                    loop: true,
                    responsiveClass: true,
                    nav: false,
                    items: 1
                }).on('changed.owl.carousel', function(e) {
                    $(this).parent().find('.slide-icon').fadeOut(3000);
                });

                $("#slide-products .owl-dot").each(function(x) {
                    var x = x + 1;
                    $(this).attr("id", "slide-products-dot-"+x);
                });
            }

            //validação CNPJ 
            function checkCNPJ() {
                var cnpj = $('.cnpj').val(),
                    message = $("#cnpj-error"),
                    response = {'status': false}

                $.ajax({
                    url: "{{ path('api-check-cnpj') }}",
                    type: "POST",
                    dataType: "json",
                    async: false,
                    data: {
                        c: cnpj
                    },
                    success: function (data) {
                        response = data
                                        
                        if (response.status) {
                            message.text("");
                            return response;
                        } else {
                            message.text(response.message);
                            return response;
                        }
                    }
                });
            
                return response
            }

            //validação CPF
            function checkCpf() {
                var $this = $('.cpf'),
                    cpf = $this.val(),
                    message = $("#cpf-error"),
                    ischeckCpfExist = $this.data('check'),
                    response = {'status': false}
                
                $.ajax({
                    url: "{{ path('api-check-cpf') }}",
                    type: "POST",
                    dataType: "json",
                    async: false,
                    data: {
                        c: cpf,
                        e: ischeckCpfExist,
                    },
                    success: function (data) {
                        response = data
                        if (response.status) {
                            message.text("")
                            return response
                        } else {
                            message.text(response.message);
                            return response
                        }
                    }
                }); 
            
                return response
            }

            //consultar e-mail
            function checkEmail(){
                var email = $('.email').val(),
                    message = $(".email-error"),
                    response = {'status': false}

                if (validateEmail(email)) {
                    $.ajax({
                        url: "{{ path('api-check-email') }}",
                        type: "POST",
                        dataType: "json",
                        async: false,
                        data: {
                            e: email
                        },
                        beforeSend: function(){
                        //loading
                        },
                        success: function (data) {
                            response = data
                            
                            if (response.status) {
                                message.html("")
                                return response
                            } else {
                                message.html(response.message)
                                return response
                            }
                        }
                    });
                } else {
                    return response
                }
                return response
            }

            //validação e-mail
            function validateEmail(email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }

            $('.cpf').mask("999.999.999-99")
            $('.cnpj').mask('00.000.000/0000-00')
		});
	</script>
{% endblock %}
