

{% extends 'base.html.twig' %}
{% set metadescription = 'Login no Portal Neo Pharma a plataforma da Neo Química destinada a profissionais de saúde que trabalham em farmácias.' %}
{% set metatitle = 'Login' %}
{% block title %}Login{% endblock %}
{% block styles %}
    <style>
        #form span{ color: red !important; }
    </style>
{% endblock %}
{% block metatags %}
    
{% endblock %}
{% set pageIndex = 'lgn' %}
{% block body %}
    
    <div class="page-not-banner">
        <div class="container">
            
            <div class="container-small container text-center">
                <h1>O conteúdo do Portal Neo Pharma é exclusivo para profissionais de farmácia.</h1>
                <p class="is-not-gestor">Para acessá-lo, faça o login nos campos abaixo ou cadastre-se.</p>
            </div>

            <div class="login-forms-box">
                <form action="{{ path('home-login') }}" method="post" class="form" id="form">
                    <div class="space-h-10 profile-box">
                        <label for="username">Função: 
                        {% if error is defined %} 
                            <span class="error">{{ error }}</span>
                        {% endif %}
                        </label>
                        <select name="occupation" class="form-control occupation required">
                            <option value="">Você é</option>
                            <option value="balconista">Balconista</option>
                            <option value="farmaceutico">Farmacêutico</option>
                            <option value="gestor-de-loja">Parceiro Neo Pharma Excelência</option>
                        </select>
                    </div>
                    <div class="is-not-gestor">
                        <div class="space-h-10">
                            <label for="username">E-mail:</label>
                            <input type="text" id="username" name="form[username]" class="form-control lgn_mid_frm_nome">
                        </div>
                        <div class="space-h-10">
                            <label for="password">Senha:</label>
                            <input type="password" id="password" name="form[password]" class="form-control" autocomplete="off"/>
                        </div>
                        <div class="space-h-10" style="display: none;">
                            <input type="text" name="r" value="{{ app.request.get('r') }}" />
                        </div>
                        <div class="text-right">
                            <a href="{{ path('home-remember-password') }}" class="link-forgot lgn_mid_frm_esquecisenha">Esqueceu a senha</a>
                        </div>
                        <div class="space-h-20 text-center">
                            <button type="submit" class="btn-default btn-full lgn_mid_frm_sbm_cadastar">FAZER LOGIN</button>
                        </div>
                    </div>
                </form>

                <div class="is-gestor" style="display: none;">
                    <form class="form" id="form-gestor">
                        {# <h2 class="space-h-10 text-center">Insira o CNPJ e sua senha para acessar.</h2> #}
                        <input type="radio" class="cdt_mid_frm_rbtn_gestor hide" id="select-register-gestor" name="form[type]" value="gestor" checked>
                        <div class="space-h-10"  id="gestor-cnpj-hold">
                            <label for="gestor-cnpj">CNPJ <p class="error" id="cnpj-login-error"></p></label>
                            <input type="text" id="gestor-cnpj" name="form[cnpj-gestor]" class="form-control register-cnpj" required>
                        </div>
                        <div class="space-h-10">
                            <label for="gestor-password">Senha</label>
                            <input type="password" id="gestor-password" name="form[password-gestor]" class="form-control cdt_mid_frm_senha" autocomplete="off" required>
                        </div>
                        <div class="text-right">
                            <a href="{{ path('home-remember-password') }}" class="link-forgot lgn_mid_frm_esquecisenha">Esqueceu a senha</a>
                        </div>
                        <div class="space-h-20">
                            <button type="button" id="btn-login-gestor" class="btn-default btn-login-gestor btn-full btn-large cdt_mid_frm_sbm_cadastar">Entrar</button>
                        </div>
                    </form>
                </div>

                <div class="space-h-20 is-not-gestor list-login-socials">
                    <div class="space-h-10 list-login-socials-item">
                        <div class="facebookLoginButton btn-socials-login btn-socials lgn_mid_btn_facebook" id="facebookLoginButton"
                        onclick="dataLayer.push({'event': 'gaEvent','event_name': 'cadastro_clicks','event_section': 'cadastro','event_local': '/login','event_text': 'Entrar com o Facebook','event_action': 'click'});">
                            <i class="fa fa-facebook"></i><span>Entrar com o Facebook</span>
                        </div>
                    </div>
                   
                    <div class="space-h-10 list-login-socials-item">
                        <div class="googleLoginButton btn-socials btn-socials-login cdt_mid_btn_google" id="googleLoginButton"
                        onclick="dataLayer.push({'event': 'gaEvent','event_name': 'cadastro_clicks','event_section': 'cadastro','event_local': '/login','event_text': 'Entrar com o Google','event_action': 'click'});">
                            <i class="fa fa-google"></i><span>Entrar com o Google</span>
                        </div>
                    </div>
                </div>
                

                <div class="text-center space-h-20 is-not-gestor"><p>ou</p></div>
                
                <div class="text-center is-not-gestor">
                    <a href="{{ path('home-register') }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'cadastro_clicks','event_section': 'cadastro','event_local': '/login','event_text': 'cadastre-se','event_action': 'click'});">
                    class="btn-default btn-full">CADASTRE-SE</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Excelência -->
    <div class="modal-default excelencia-modal">
        <div class="confirm-excelencia">
            <div class="confirm-excelencia-content">
                <a class="close-modal" id="close-excelencia-modal" onclick="core.hideMessage()">X</a>
                <div class="space-h-10">
                    <h3>Você faz parte do</h3>
                </div>
                <figure>
                    <img src="{{ asset('_dist/image/img/excelencia.png') }}" alt="Neo Pharma Excelência">
                </figure>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
    // gestor farmacia
    var consultaGestorUrl = "{{path('login-excelencia')}}";
  
    //troca de perfil
    $('.occupation').on('change', function(e) {
        var profile = $(this).val(),
            notGestor = $('.is-not-gestor'),
            gestor = $('.is-gestor')
            
        if (profile == 'gestor-de-loja') {
            notGestor.hide()
            gestor.show()
        } else {
            notGestor.show()
            gestor.hide()
        }
    })

    $(".btn-login-gestor").on("click", function(){
        var $this = $(this);
        $.ajax({
            url: consultaGestorUrl,
            type: "POST",
            dataType: "json",
            data: {
                'type': 'gestor',
                'cnpj': $('[name="form[cnpj-gestor]"]').val(), 
                'pass': $('[name="form[password-gestor]"]').val()
            },
            beforeSend: function(){
                $this.text('Carregando...');
                $this.attr("disabled", true);
            },
            success: function (response) {
                if (response.status) {
                    modalExcelencia();
                    
                    window.location.href = response.url;
                } else {
                    $('#cnpj-login-error').text(response.message);
                    $('#cpf-g-error').text();
                }
                //console.log(response);    
                $this.text('Entrar');
                $this.attr("disabled", false);
            } 
        });
    });

    function modalExcelencia(){
        $('#mnu_excelencia').removeClass('hide');
        $('#mnu_excelencia').addClass('show');
            
        if($('.excelencia-modal').hasClass('open-menu')){
            $('.excelencia-modal').removeClass('open-modal');
        } else{
            $('.excelencia-modal').addClass('open-modal');
        }
    }

    $('.register-cnpj').mask('00.000.000-0000/00');
    </script>
{% endblock %}
