{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Política de Privacidade{% endblock %}
{% set pageIndex = 'ppe' %}
{% block body %}
    <div class="container">
        <header class="header-main text-center">
            <h1>Política de Privacidade</h1>
            <h3 class="text-gray text-normal"><strong>Última atualização:</strong> 07 de outubro de 2019</h3>
        </header>

        <div class="content-main content-text space-h-20">
            <p>
                Obrigado por escolher a HYPERA!
            </p>
            <p>
                A presente Política de Privacidade (“Política”) explica os detalhes essenciais da relação dos Dados Pessoais do Usuário com a HYPERA. A Política aplica-se às plataformas NEO PHARMA e NEO SCAN, fornecidas pela HYPERA, e tratadas em conjunto como “Plataforma” ou individualmente como “Plataforma Neo Pharma” ou “Plataforma Neo Scan”.
            </p>
            <p>
                <strong>NEO PHARMA.</strong> Os termos que regem a utilização dos Serviços NEO PHARMA pelo Usuário estão definidos nos nossos Termos e Condições de Uso, dos quais esta Política faz parte, disponível no endereço eletrônico falecom@hypera.com.br.
            </p>

            <p>
                <strong>NEO SCAN.</strong> Os termos que regem a utilização dos Serviços NEO SCAN pelo Usuário estão definidos nos nossos Termos e Condições de Uso, dos quais esta Política faz parte, disponível no endereço eletrônico falecom@hypera.com.br.
            </p>

            <p>
                Eventualmente, poderemos desenvolver novos Serviços ou oferecer Serviços adicionais. Se a introdução destes nos Serviços resultar em alguma alteração na forma como coletamos ou tratamos os dados pessoais do Usuário, disponibilizaremos mais informações, termos ou políticas adicionais. Salvo disposição em contrário, sempre que introduzirmos estes novos serviços ou funcionalidades adicionais, estes ficarão sujeitos à presente Política.
            </p>

            <p>
                A presente Política tem como propósito: 
            </p>

            <ul>
                <li>Garantir que o Usuário entenda quais dos seus dados pessoais coletamos, as razões pelas quais os coletamos e utilizamos, além de com quem os compartilhamos;</li>
                
                <li>Explicar como utilizamos os dados pessoais inseridos pelo Usuário na Plataforma para lhe proporcionar uma experiência única ao utilizar os Serviços;</li>
                
                <li>Explicar ao Usuário os respectivos direitos em relação aos seus dados pessoais coletados e tratados por nós, e de que forma protegeremos a sua privacidade.</li>
            </ul>

            <p>
                Esperamos que a presente Política auxilie o Usuário a compreender os nossos compromissos referentes à privacidade. Se surgirem quaisquer dúvidas ou preocupações, para obter informações sobre como entrar em contato conosco consulte o Item 13 "Fale com a HYPERA".
            </p>

            <p>
                Por outro lado, se o Usuário não concordar com o conteúdo da presente Política, destacamos que é livre para decidir se pretende utilizar ou não os Serviços da Plataforma, podendo, entretanto, em alguns casos, escolher não compartilhar certos dados opcionais - o que pode, por seu lado, impedir o uso de algumas funcionalidades dos Serviços.
            </p>

            <p>
                <strong>Ao criar sua Conta na Plataforma e aceitar as condições dos Termos de Uso, qualquer que seja a Plataforma, clicando em “Estou de acordo com os Termos de Uso e Política de Privacidade do serviço”, <u>você concede à HYPERA seu consentimento para tratamento de dados pessoais, fornecido de forma livre, informada e expressa,</u> declarando que teve acesso e compreendeu todas as informações constantes dos Termos de Uso e desta Política de Privacidade.</strong>
            </p>

            <h2>1.	Direitos e preferências do Usuário</h2>
            <p>
                A HYPERA preza pela privacidade do Usuário, de modo que garante a este o exercício dos seguintes direitos em relação a seus dados pessoais:
            </p>

            <ul>
                <li>Direito de acesso aos dados;</li>
                <li>Direito de correção de dados incompletos, inexatos ou desatualizados;</li>
                <li>Direito à eliminação dos dados pessoais tratados com o consentimento do titular, exceto nas hipóteses de 
                guarda legal e outras dispostas na LGPD;</li>
            </ul>

            <p>
                A HYPERA poderá enviar mensagens de publicidade eletrônica com base no consentimento ou de outra forma permitida pela lei aplicável ao Usuário. Este poderá, em qualquer momento, respectivamente, retirar a sua autorização ou declarar a sua recusa, sem custos adicionais. As mensagens de publicidade eletrônica que o Usuário recebe da HYPERA - por exemplo, as enviadas através de e-mail - incluem um mecanismo de recusa dentro da própria mensagem - por exemplo, um link para cancelamento da subscrição nos e-mails que lhe enviamos.
            </p>

            <h2>2.	Como coletamos os dados pessoais do Usuário?</h2>
            <p>
                Coletamos os dados pessoais do Usuário da Plataforma das seguintes formas:
            </p>

            <p>
                <strong>•	Quando o Usuário subscreve a Plataforma:</strong> quando o Usuário se cadastra na Plataforma, a HYPERA coleta determinados dados pessoais, tais como nome, endereço de e-mail, telefone, número do CPF e CNPJ (se tiver), para que o Usuário possa utilizar quaisquer dos Serviços ofertados;
            </p>

            <p>
                <strong>•	Através da utilização da Plataforma:</strong> quando o Usuário usa quaisquer dos Serviços, a HYPERA coleta dados pessoais sobre a sua utilização da Plataforma de modo automático ou semi-automático;
            </p>

            <p>
                <strong>•	Dados pessoais coletados que nos permitem proporcionar ao Usuário recursos e funcionalidades adicionais:</strong> eventualmente, o Usuário poderá também fornecer seus dados pessoais adicionais, por exemplo, para lhe fornecer mais recursos ou funcionalidades. O Usuário poderá sempre mudar de ideia e retirar o seu consentimento a qualquer momento.
            </p>

            <p>
                A HYPERA utiliza informações  agregadas para fins que incluem: testar os nossos sistemas de TI, investigação, análise de dados, criar modelos de marketing e promoção, melhorar os Serviços da HYPERA e desenvolver novos recursos e funcionalidades na Plataforma.
            </p>

            <h2>3.	Quais dados pessoais do Usuário que serão coletados?</h2>

            <p>
                Durante a utilização da Plataforma, a HYPERA coleta diversas informações do Usuário, seja ele pessoa física ou jurídica. Essas informações incluem Dados Pessoais, que podem ser de titularidade do próprio Usuário (quando este for pessoa física). Esses dados serão sempre referidos como “Dados Pessoais do Usuário”.
            </p>

            <p>
                Nas tabelas abaixo, a HYPERA informa os grupos de dados pessoais do Usuário que são coletados e utilizados:
            </p>

            <p>
                <strong>•	Dados pessoais coletados quando o Usuário subscreve aos Serviços da HYPERA</strong>
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Grupo de Dados Pessoais</th>
                        <th>Descrição do grupo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="25%" class="text-center">
                            <strong>Dados de criação da conta NEO PHARMA ou NEO SCAN</strong>
                        </td>
                        <td>
                            <p>
                                Trata-se dos dados pessoais fornecidos pelo Usuário para subscrever e utilizar a Plataforma. Inclui nome; endereço de e-mail; número de inscrição no Cadastro de Pessoa Física (CPF); número de inscrição no Conselho Regional de Farmácia (CRF), em caso de Usuário Farmacêutico; número de inscrição no Cadastro Nacional de Pessoa Jurídica (CNPJ) da Farmácia em que o Usuário trabalha.
                            </p>
                            <p>
                                Os dados acima mencionados são obrigatórios para que o Usuário possa criar a conta na Plataforma. O Usuário também tem a opção de fornecer alguns dados pessoais complementares para torná-la mais personalizada (conforme próximos itens).
                            </p>
                            <p>
                                Os dados pessoais que a HYPERA coleta depende se o Usuário utiliza um serviço de terceiros - conforme definido nos Termos e Condições de Uso, como o Facebook - para subscrever e utilizar da Plataforma. Se o Usuário utilizar um serviço de terceiros para criar uma conta, a HYPERA receberá dados pessoais através desse serviço de terceiros, mas apenas se o Usuário tiver autorizado o serviço do terceiro em questão a compartilhar os seus dados pessoais.
                            </p>
                        </td>
                    </tr>
                <tbody>
            </table>

            <p>
                <strong>•	Dados pessoais coletados quando o Usuário subscreve aos Serviços da HYPERA</strong>
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Grupo de Dados Pessoais</th>
                        <th>Descrição do grupo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="25%" class="text-center">
                            <strong>Dados sobre a utilização da Plataforma</strong>
                        </td>
                        <td>
                            <p>
                                São os dados pessoais coletados sobre o Usuário quando este está utilizando a Plataforma, o que poderá incluir: 
                            </p>
                            <ul>
                                <li>
                                    Informações sobre as interações do Usuário com a Plataforma, incluindo a data e hora de quaisquer solicitações de Serviços efetuados, conteúdos acessados, cursos e informações de interesse, entre outros
                                    <br>
                                    <br>
                                </li>
                                
                                <li>
                                    Conteúdos do Usuário - conforme definidos nos Termos e Condições de Uso - que este inserir na Plataforma, além de suas interações com a Equipe responsável pelo atendimento aos Usuários da HYPERA, através do “Fale Conosco” ou contato através do e-mail falecom@hypera.com.br;
                                    <br>
                                    <br>
                                </li>
                                <li>
                                    Dados técnicos, que poderão incluir informações de URL, o endereço IP do Usuário, os tipos de dispositivos por este utilizados para acessar a Plataforma, identificações exclusivas do dispositivo, atributos do dispositivo, tipo de ligação à rede (por exemplo, Wi-Fi, 3G, LTE, Bluetooth) e fornecedor de rede, desempenho da rede e do dispositivo, tipo de navegador, idioma, informações que permitam a gestão dos direitos digitais, sistema operativo e versão da Plataforma. 
                                    
                                </li>
                            </ul>
                        </td>
                    </tr>
                <tbody>
            </table>

            <p>
                <strong>•	Os dados pessoais adicionais fornecidos pelo Usuário à Plataforma</strong>
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Grupo de Dados Pessoais</th>
                        <th>Descrição do grupo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="25%" class="text-center">
                            <strong>Dados adicionais fornecidos pelo Usuário</strong>
                        </td>
                        <td>
                            <p>
                                Para além dos dados que coletamos para fornecer ao Usuário os Serviços da Plataforma, o Usuário tem também a opção de nos autorizar a tratar dados pessoais adicionais, fornecidos por ele à Plataforma, para que possamos fornecer-lhe recursos e funcionalidades da Plataforma. 
                            </p>
                            Tais dados adicionais podem incluir:
                            <br>
                            <ul class="check-list">
                                <li>Número de telefone;</li>
                                <li>Data de nascimento;</li>
                                <li>Sexo;</li>
                                <li>Grau de escolaridade;</li>
                                <li>Cidade e estado de residência;</li>
                                <li>Interesses para seleção de conteúdos personalizados na Plataforma.</li>

                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" class="text-center">
                            <strong>Dados para campanhas de marketing da HYPERA</strong>
                        </td>
                        <td>
                            Estes dados pessoais são utilizados para permitir à HYPERA enviar comunicações de marketing ao Usuário: 
                            <ul>
                                <li>por e-mail,</li> 
                                <li>durante a utilização da Plataforma.</li>
                            </ul>
                        </td>
                    </tr>
                <tbody>
            </table>

            <h2>4.	Para quais finalidades utilizamos os dados pessoais do Usuário?</h2>
            <p>
                Quando o Usuário interage com a Plataforma, utilizamos diversas tecnologias para tratar os dados pessoais coletados sobre o Usuário por vários motivos. Na tabela abaixo, a HYPERA expõe os motivos pelos quais são tratados os dados pessoais do Usuário, os fundamentos jurídicos associados em que foram baseados e que dispositivos legais que permitem o tratamento dos dados pessoais do Usuário e os grupos de dados pessoais utilizados para estas finalidades:
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Descrição da razão pela qual a HYPERA trata os dados pessoais do Usuário ("finalidade do tratamento")</th>
                        <th>Grupos de dados pessoais utilizados pela HYPERA para a finalidade de tratamento</th>
                        <th cospan="">Fundamento jurídico para a finalidade do tratamento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3">
                            Prestar os Serviços contratados, efetuar qualquer comunicação resultante de atividade do próprio aplicativo, fornecer acesso aos conteúdos e funcionalidades da Plataforma, garantir a segurança dos Usuários
                        </td>
                        <th>Dados de criação da conta NEO PHARMA ou NEO SCAN</th> 
                        <td>Execução de contrato para fornecimento da Plataforma</td>
                    </tr>

                    <tr>
                        <td>Dados sobre a utilização da Plataforma</td> 
                        <td>Execução de contrato para fornecimento da Plataforma</td> 
                    </tr> 

                    <tr>
                        <td>Dados adicionais fornecidos pelo Usuário</td> 
                        <td>Legítimo interesse</td> 
                    </tr> 

                    <tr>
                        <td>
                            Cumprimento de determinação de autoridade competente ou judicial
                        </td>
                        <td>
                            Todos os dados pessoais coletados, conforme especificado na determinação da autoridade competente
                        </td>
                        <td>Cumprimento de obrigação legal</td>
                    </tr>

                    <tr>
                        <td>
                            Constituir, defender ou exercer regularmente direitos em âmbito judicial ou administrativo
                        </td>
                        <td>
                            Todos os dados pessoais coletados, conforme sejam necessários para tal finalidade
                        </td>
                        <td>
                            Exercício regular de direito em contrato ou processo judicial
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="4">
                            Elaborar estatísticas gerais, para identificação do perfil dos Usuários e desenvolvimento de campanhas da HYPERA
                        </td>

                        <td>
                            Dados de criação da conta NEO PHARMA ou NEO SCAN
                        </td>
                        <td>
                            Legítimo interesse
                        </td>
                    </tr>

                    <tr>
                        <td>Dados sobre a utilização da Plataforma</td>
                        <td>Legítimo interesse</td>
                    </tr>

                    <tr>
                        <td>Dados adicionais fornecidos pelo Usuário</td>
                        <td>Legítimo interesse</td>
                    </tr>

                    <tr>
                        <td>Dados para campanhas de marketing da HYPERA</td>
                        <td>Legítimo interesse</td>
                    </tr>

                    <tr>
                        <td rowspan="3">Manter atualizado cadastro de Usuários para informação e divulgação de campanhas da HYPERA para promoção de seus produtos e serviços</td>
                        <td>Dados de criação da conta NEO PHARMA ou NEO SCAN</td>
                        <td>Legítimo interesse</td>
                    </tr>

                    <tr>
                        <td>Dados adicionais fornecidos pelo Usuário</td>
                        <td>Legítimo interesse</td>
                    </tr>

                    <tr>
                        <td>Dados para campanhas de marketing da HYPERA</td>
                        <td>Legítimo interesse</td>
                    </tr>
                <tbody>
            </table>

            <h2>5.	Compartilhamento dos dados pessoais do Usuário</h2>
            <p>
                A HYPERA definiu os grupos de destinatários dos dados pessoais coletados ou gerados através da utilização da Plataforma pelo Usuário.
            </p>

            <p> 
                <strong>•	Dados pessoais que o Usuário poderá optar por compartilhar</strong>
            </p>
            <p>
                Os seguintes dados pessoais só serão compartilhados com os grupos de destinatários indicadas na tabela abaixo se o Usuário:
            </p>

            <ul>
                <li>
                    optar por utilizar uma funcionalidade específica da Plataforma, na qual o compartilhamento dos dados pessoais seja necessário para a utilização correta da funcionalidade da Plataforma; ou</li>
                <li>
                    autorizar explicitamente o compartilhamento dos dados pessoais, por exemplo, selecionando a definição adequada na Plataforma.
                </li>
            </ul>

            <table>
                <thead>
                    <tr>
                        <th>Grupos de Destinatários</th>
                        <th>Motivo para compartilhamento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="25%" class="text-center">
                            <strong>Usuários da Plataforma</strong>
                        </td>
                        <td>
                            O Usuário poderá compartilhar os dados pessoais que forneceu a Plataforma com outros Usuários da Plataforma quando utilize funções de compartilhamento social disponibilizadas pela Plataforma.
                        </td>
                    </tr>

                    <tr>
                        <td width="25%" class="text-center">
                            <strong>Aplicações de terceiros associadas pelo Usuário à respectiva conta da Plataforma</strong>
                        </td>
                        <td>
                            Ao conectar a sua conta da HYPERA a uma aplicação de terceiros, como a rede social Facebook ou os serviços Google, a HYPERA poderá compartilhar os dados de utilização da Plataforma para que o Usuário possa se conectar à sua conta HYPERA.
                        </td>
                    </tr>

                    <tr>
                        <td width="25%" class="text-center">
                            <strong>Aplicação de terceiros utilizada pelo Usuário para acessar a Plataforma</strong>
                        </td>
                        <td>
                            Se iniciar o acesso à Plataforma em uma aplicação de terceiros utilizando as credenciais da sua conta HYPERA, então essa aplicação de terceiros poderá ter acesso a determinados dados de utilização da Plataforma para viabilizar o acesso à Plataforma (log in). 
                        </td>
                    </tr>
                <tbody>
            </table>

            <p>
                <strong>•	Informações que a HYPERA poderá compartilhar com terceiros</strong>
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Grupos de Destinatários</th>
                        <th>Motivo para compartilhamento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="25%" class="text-center">
                            <strong>Prestadores de serviços e outros</strong>
                        </td>
                        <td>
                            <p>
                                Utilizamos prestadores de serviços técnicos que operam a infraestrutura técnica de que necessitamos para disponibilizar a Plataforma, em particular fornecedores que alojam, guardam, gerem e mantêm a Plataforma, o seu conteúdo e os dados que processamos.
                            </p>
                            <p>
                                Tais prestadores podem receber dados pessoais para realizar tratamento de dados conforme orientações da HYPERA, na qualidade de Operador de Tratamento de Dados.

                            </p>
                        </td>
                    </tr>

                  

                    <tr>
                        <td width="25%" class="text-center">
                            <strong>Outras empresas do grupo HYPERA</strong>
                        </td>
                        <td>
                            <p>
                                Compartilharemos os dados pessoais do Usuário com outras empresas do Grupo HYPERA para a realização das nossas atividades diárias, e com o objetivo de manter e disponibilizar a Plataforma ao Usuário.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td width="25%" class="text-center">
                            <strong>Cumprimento da lei e autoridades de proteção de dados</strong>
                        </td>
                        <td>
                            <p>
                                Compartilharemos os dados pessoais do Usuário quando acreditarmos, de boa-fé, que seja necessário para o cumprimento de uma obrigação legal, nos termos da legislação aplicável, ou para responder a um processo legal válido, como, por exemplo, um mandado de busca, uma ordem judicial ou uma intimação.
                            </p>
                            <p>
                                Também compartilharemos os dados pessoais do Usuário se acreditarmos, de boa-fé, ser necessário para o nosso legítimo interesse, ou o de terceiros, em matéria de segurança nacional, cumprimento da lei, contencioso, investigação criminal, proteção da segurança de qualquer pessoa, ou para impedir a morte ou danos físicos iminentes, desde que consideremos que tal interesse não prevalece sobre os interesses ou direitos e liberdades fundamentais do Usuário que exijam a proteção dos dados pessoais do Usuário.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td width="25%" class="text-center">
                            <strong>Adquirentes do nosso negócio</strong>
                        </td>
                        <td>
                            <p>
                                Compartilharemos os dados pessoais do Usuário quando vendermos ou negociarmos a venda do nosso negócio a um comprador ou potencial comprador.
                            </p>
                            <p>
                                Nesta situação, a HYPERA continuará a assegurar a confidencialidade dos dados pessoais do Usuário e iremos notifica-lo antes de os dados pessoais serem transferidos para o comprador, ou de ficarem sujeitos a uma Política de Privacidade diferente.
                            </p>
                        </td>
                    </tr>
                <tbody>
            </table>

            <h2>6.	Conservação e eliminação de dados</h2>
            <p>
                A HYPERA conserva os dados pessoais dos Usuários enquanto for necessário para prestar os Serviços ofertados através da Plataforma e para fins comerciais legítimos e essenciais, tais como para manter o desempenho da Plataforma, tomar decisões empresariais acerca de funcionalidades e ofertas com base em dados, cumprir as nossas obrigações legais, e resolver disputas. Serão conservados alguns dos dados pessoais do Usuário enquanto este permanecer como Usuário da Plataforma.
            </p>
            <p>
                A pedido do Usuário, uma vez que este solicite o cancelamento da Conta e/ou o apagamento de seus dados, vamos eliminar ou anonimizar os seus dados pessoais de modo que não o identifiquem, exceto se for legalmente permitido ou obrigatório manter determinados dados pessoais, incluindo situações como as seguintes:
            </p>
            <ul>
                <li>
                    Se existir um problema não resolvido relativamente à sua conta, como um crédito pendente, uma reclamação ou disputa não resolvida, iremos reter os dados pessoais necessários até que o problema seja resolvido;
                </li>
                <li>
                    Se formos obrigados a manter os dados pessoais para as nossas obrigações jurídicas, fiscais, de auditoria e contabilidade, iremos reter os dados pessoais necessários pelo período exigido pela legislação aplicável; 
                </li>
                <li>
                    Sempre que necessário para os nossos legítimos interesses comerciais, como a prevenção contra fraudes ou para manter a segurança dos nossos Usuários.
                </li>
            </ul>

            <p>
                Caso os dados cujo apagamento é solicitado sejam essenciais para a prestação dos Serviços, tal solicitação acarretará também o cancelamento da Conta de Usuário.
            </p>

            <h2>7.	Links de terceiros</h2>
            <p>
                A HYPERA poderemos apresentar anúncios de terceiros e outros conteúdos com links para endereços eletrônicos de terceiros. Não é possível controlarmos, nem sermos responsabilizados por práticas de privacidade e conteúdo de terceiros. Se o Usuário clicar em um anúncio ou link de terceiros, deverá estar ciente de que sairá da Plataforma e que quaisquer dados pessoais que venha a fornecer não estarão abrangidos pela presente Política. O Usuário deverá ler as respetivas políticas de privacidade para saber de que forma coletam e tratam os seus dados pessoais.
            </p>

            <h2>8.	Manter os dados pessoais do Usuário em segurança</h2>

            <p>
                Estamos empenhados em proteger os dados pessoais dos nossos Usuários. Implementamos medidas técnicas e organizacionais para ajudar a proteger a segurança dos dados pessoais do Usuário; contudo, é importante que o Usuário tenha em mente que nenhum sistema é completamente seguro. A HYPERA implementa várias políticas de segurança da informação.
            </p>
            <p>
                A senha protege a conta de Usuário, pelo que incentivamos o Usuário a utilizar uma senha única e forte, a limitar o acesso ao computador e navegador e a encerrar a sessão depois de utilizar a Plataforma. 
            </p>

            <h2>9.	Crianças e Adolescentes</h2>

            <p>
                A Plataforma não se destina a crianças e adolescentes, isto é, indivíduos com idade inferior a 18 anos. Tais informações estão disponíveis nos Termos e Condições de Uso <a href="{{ path('home-privacy') }}">www.portalneopharma.com.br/politica-de-privacidade</a>.
            </p>
            <p>
                A HYPERA não coleta deliberadamente dados pessoais de crianças e adolescentes. Se o Usuário tiver idade inferior a 18 anos, não deverá utilizar a Plataforma e nem fornecer quaisquer dados pessoais.
            </p>
            <p>
                Se o Usuário for um dos pais de uma criança ou adolescente que forneceu dados pessoais à Plataforma, deverá entrar em contato conosco através do formulário "Fale Conosco" disponível no endereço eletrônico falecom@hypera.com.br e poderá solicitar o exercício dos seus direitos aplicáveis que se encontram discriminados no Item 2 da presente Política.
            </p>
            <p>
                Se a HYPERA tomar conhecimento de que foram coletados dados pessoais de uma criança ou adolescente, tomará as medidas razoáveis para eliminar os dados pessoais em questão. Para tal, o Usuário poderá ser informado da necessidade de eliminar a conta relativa a essa criança ou adolescente.
            </p>

            <h2>10.	Alterações à presente Política de Privacidade</h2>

            <p>Eventualmente, poderemos efetuar alterações à presente Política.</p>
            <p>
                Quando a HYPERA realizar alterações materiais à presente Política, ela providenciará uma comunicação visível e adequada de acordo com as circunstâncias, como por exemplo, apresentando uma comunicação visível na Plataforma ou através do envio de um e-mail ao Usuário. Ainda, poderá enviar, antecipadamente, uma comunicação ao Usuário.
            </p>
            <p>
                Assim, é fundamental que o Usuário se certifique de ler qualquer comunicação atentamente.
            </p>
            <p>
                Se quiser saber mais sobre a presente Política e como a Plataforma utiliza os dados pessoais, o Usuário entre em contato com a HYPERA por falecom@hypera.com.br para saber mais.
            </p>

            <h2>11.	Fale com a HYPERA</h2>
            <p>
                Obrigado por ler a nossa Política de Privacidade. Se tiver dúvidas relativamente à presente Política, contate o nosso Responsável pela Proteção de Dados através do formulário "Fale Conosco" no endereço eletrônico <a href="{{ path('home-contact-us') }}">www.portalneopharma.com.br/fale-conosco</a> ou escrevendo para o seguinte endereço eletrônico falecom@hypera.com.br. 
            </p>
            <p>© HYPERA</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}