{% extends 'base.html.twig' %}
{% set metadescription = 'Política de Privacidade - Portal Neo Pharma. A Política aplica-se às plataformas NEO PHARMA e NEO SCAN, fornecidas pela HYPERA.' %}
{% set metatitle = 'Política de Privacidade' %}
{% block title %}Política de Privacidade{% endblock %}
{% set pageIndex = 'ppe' %}
{% block body %}
    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>POLÍTICA DE PRIVACIDADE – NEO PHARMA e NEO SCAN</h1></div>
        </section>
        <div class="container">
            <header class="header-main text-center">
                <h3 class="text-gray text-normal"><strong>Última atualização:</strong> 08 de março de 2021</h3>
            </header>

            <div class="content-main content-text space-h-20">
                <p>
                    Obrigado por escolher a HYPERA!
                </p>
                <p>
                    A presente Política de Privacidade (“Política”) explica os detalhes essenciais da relação dos Dados Pessoais do Usuário com a HYPERA. A Política aplica-se às plataformas NEO PHARMA e NEO SCAN, fornecidas pela HYPERA, e tratadas em conjunto como “Plataforma” ou individualmente como “Plataforma Neo Pharma” ou “Plataforma Neo Scan”. 
                </p>
                <p>
                    <strong>NEO PHARMA.</strong> Os termos que regem a utilização dos Serviços NEO PHARMA pelo Usuário estão definidos nos nossos Termos e Condições de Uso, dos quais esta Política faz parte, disponível no endereço eletrônico <a href="https://www.portalneopharma.com.br/termos-de-uso">https://www.portalneopharma.com.br/termos-de-uso</a>.
                </p>

                <p>
                    <strong>NEO SCAN.</strong> Os termos que regem a utilização dos Serviços NEO SCAN pelo Usuário estão definidos nos nossos Termos e Condições de Uso, dos quais esta Política faz parte, disponível no endereço eletrônico <a href="https://www.portalneopharma.com.br/termos-de-uso">https://www.portalneopharma.com.br/termos-de-uso</a>.
                </p>

                <p>
                    Eventualmente, poderemos desenvolver novos Serviços ou oferecer Serviços adicionais. Se a introdução destes nos Serviços resultar em alguma alteração na forma como coletamos ou tratamos os dados pessoais do Usuário, disponibilizaremos mais informações, termos ou políticas adicionais. Salvo disposição em contrário, sempre que introduzirmos estes novos serviços ou funcionalidades adicionais, estes ficarão sujeitos à presente Política.
                </p>

                <p>
                    A presente Política tem como propósito:
                </p>

                <ul>
                    <li>Garantir que o Usuário entenda quais dos seus dados pessoais coletamos, as razões pelas quais os coletamos e utilizamos, além de com quem os compartilhamos;</li>
                    <li>Explicar como utilizamos os dados pessoais inseridos pelo Usuário na Plataforma para lhe proporcionar uma experiência única ao utilizar os Serviços;</li>
                    <li>Explicar ao Usuário os respectivos direitos em relação aos seus dados pessoais coletados e tratados por nós, e de que forma protegeremos a sua privacidade.</li>
                </ul>

                <p>
                    Esperamos que a presente Política auxilie o Usuário a compreender os nossos compromissos referentes à privacidade. Se surgirem quaisquer dúvidas ou preocupações, para obter informações sobre como entrar em contato conosco consulte o Item 11 "Fale com a HYPERA". 
                </p>

                <p>
                    Por outro lado, se o Usuário não concordar com o conteúdo da presente Política, destacamos que é livre para decidir se pretende utilizar ou não os Serviços da Plataforma, podendo, inclusive, escolher não fornecer certos dados que sejam opcionais ao funcionamento das Plataformas.
                </p>
                <p>
                    <strong>Ao criar sua Conta na Plataforma e aceitar as condições dos Termos de Uso, qualquer que seja a Plataforma, clicando em “Declaro que li e aceito os Termos e Condições de Uso”, recomenda-se que <u>você também tome ciência quanto ao tratamento de dados pessoais realizado pela HYPERA, nas condições descritas a seguir</u>.</strong>
                </p>

                <h2>1. Direitos e preferências do Usuário</h2>
                <p>
                    A HYPERA preza pela privacidade do Usuário, de modo que garante a este o exercício dos seguintes direitos em relação a seus dados pessoais:
                </p>

                <ul>
                    <li>Confirmação de tratamento e acesso aos dados;</li>
                    <li>Correção de dados incompletos, inexatos ou desatualizados;</li>
                    <li>
                        Eliminação dos dados pessoais tratados com o consentimento do titular, exceto nas hipóteses de guarda legal e outras dispostas na LGPD;
                    </li>
                    <li>Direito de revogar consentimento anteriormente fornecido;</li>
                    <li>Direito de requisitar a anonimização, bloqueio ou eliminação de dados supostamente desnecessários, excessivos ou tratados em suposta desconformidade com a lei;</li>
                    <li>Direito de manifestar sua oposição quanto ao tratamento realizado;</li>
                    <li>Direito de portabilidade dos dados a outro fornecedor de serviço ou produto, nos termos da regulamentação da Autoridade Nacional de Proteção de Dados;</li>
                    <li>
                        Direito de requisitar informações sobre entidades com as quais os dados são compartilhados
                    </li>
                    <li>
                        Direito a informações sobre eventuais limitações em decorrência do não fornecimento de consentimento para tratamento de dados opcionais.
                    </li>
                </ul>

                <p>
                    A HYPERA poderá enviar mensagens de publicidade eletrônica por meio de e-mail, telefone, messenger, SMS, ou listas no WhatsApp, com base no consentimento do Usuário ou se de outra forma permitido pela legislação aplicável. O Usuário poderá, em qualquer momento, respectivamente, retirar a sua autorização ou declarar a sua recusa, sem custos adicionais. As mensagens de publicidade eletrônica que o Usuário recebe da HYPERA - por exemplo, as enviadas através de e-mail - incluem um mecanismo de recusa dentro da própria mensagem - por exemplo, um link para cancelamento da subscrição nos e-mails que lhe enviamos. De qualquer maneira, o Usuário pode solicitar, a qualquer momento, a sua retirada de qualquer mailing ou lista de comunicação de marketing por meio de ferramentas disponibilizadas na Plataforma ou por meio dos canais de atendimento oficiais da HYPERA, conforme indicados no item 11, abaixo.
                </p>

                <h2>2.	Como coletamos os dados pessoais do Usuário?</h2>
                <p>
                    Coletamos os dados pessoais do Usuário da Plataforma das seguintes formas:
                </p>

                <p>
                    <strong>•	Quando o Usuário subscreve a Plataforma: </strong> quando o Usuário se cadastra na Plataforma, a HYPERA coleta determinados dados pessoais, tais como nome, endereço de e-mail, telefone fixo, telefone celular, número do CPF e CNPJ (se tiver), para que o Usuário possa utilizar quaisquer dos Serviços ofertados;
                </p>
                <p>
                    <strong>•	Através da utilização da Plataforma:</strong> quando o Usuário usa quaisquer dos Serviços, a HYPERA coleta dados pessoais sobre a sua utilização da Plataforma de modo automático ou semi-automático;
                </p>
                <p>
                    <strong>•	Dados pessoais coletados que nos permitem proporcionar ao Usuário recursos e funcionalidades adicionais:</strong> eventualmente, o Usuário poderá também fornecer seus dados pessoais adicionais, por exemplo, para lhe fornecer mais recursos ou funcionalidades. O Usuário poderá sempre mudar de ideia e retirar o seu consentimento a qualquer momento.
                </p>


                <h2>3.	Quais dados pessoais do Usuário que serão coletados?</h2>

                <p>
                    Durante a utilização da Plataforma, a HYPERA coleta diversas informações do Usuário, seja ele pessoa física ou jurídica. Essas informações incluem Dados Pessoais, que podem ser de titularidade do próprio Usuário (quando este for pessoa física). Esses dados serão sempre referidos como “Dados Pessoais do Usuário”.
                </p>
                <p>
                    Nas tabelas abaixo, a HYPERA informa os grupos de dados pessoais do Usuário que são coletados e utilizados:
                </p>

                <p>
                    <strong>•	Dados pessoais coletados quando o Usuário subscreve aos Serviços da HYPERA</strong>
                </p>

                <table>
                    <thead>
                        <tr>
                            <th>Grupo de Dados Pessoais</th>
                            <th>Descrição do grupo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="25%" class="text-center">
                                <strong>Dados de criação da conta NEO PHARMA ou NEO SCAN</strong>
                            </td>
                            <td>
                                <p>
                                    Trata-se dos dados pessoais fornecidos pelo Usuário para subscrever e utilizar a Plataforma. Inclui nome; função, endereço de e-mail; telefone celular, número de inscrição no Cadastro de Pessoa Física (CPF); número de inscrição no Conselho Regional de Farmácia (CRF), em caso de Usuário Farmacêutico; nome fantasia, número de inscrição no Cadastro Nacional de Pessoa Jurídica (CNPJ) e Estado em que está localizada a Farmácia em que o Usuário trabalha.
                                </p>
                                <p>
                                    Os dados acima mencionados são obrigatórios para que o Usuário possa criar a conta na Plataforma. O Usuário também tem a opção de fornecer alguns dados pessoais complementares para torná-la mais personalizada (conforme próximos itens).
                                </p>
                                <p>
                                    Os dados pessoais que a HYPERA coleta depende, ainda, se o Usuário utiliza um serviço de terceiros - conforme definido nos <a href=" https://www.portalneopharma.com.br/termos-de-uso">Termos e Condições de Uso</a>, como o Facebook - para subscrever e utilizar da Plataforma. Se o Usuário utilizar um serviço de terceiros para criar uma conta, a HYPERA receberá dados pessoais através desse serviço de terceiros, mas apenas se o Usuário tiver autorizado o serviço do terceiro em questão a compartilhar os seus dados pessoais. 
                                </p>
                            </td>
                        </tr>
                    <tbody>
                </table>

                <p>
                    <strong>•	Dados Pessoais coletados através da utilização da Plataforma pelo Usuário</strong>
                </p>

                <table>
                    <thead>
                        <tr>
                            <th>Grupo de Dados Pessoais</th>
                            <th>Descrição do grupo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="25%" class="text-center">
                                <strong>Dados sobre a utilização da Plataforma</strong>
                            </td>
                            <td>
                                <p>
                                    São os dados pessoais coletados sobre o Usuário quando este está utilizando a Plataforma, o que poderá incluir: 
                                </p>
                                <p>
                                    •	Informações sobre as interações do Usuário com a Plataforma, incluindo a data e hora de quaisquer solicitações de Serviços efetuados, conteúdos acessados, cursos e informações de interesse, entre outros;
                                </p>
                                <p>
                                    •	Conteúdos do Usuário - conforme definidos nos <a href="https://www.portalneopharma.com.br/termos-de-uso">Termos e Condições de Uso</a> - que este inserir na Plataforma, além de suas interações com a Equipe responsável pelo atendimento aos Usuários da HYPERA, através do “Fale Conosco” ou contato através do e-mail [inserir]; 
                                </p>
                                <p>
                                    •	Dados técnicos, que poderão incluir informações de URL, o endereço IP do Usuário, os tipos de dispositivos por este utilizados para acessar a Plataforma, identificações exclusivas do dispositivo, atributos do dispositivo, tipo de ligação à rede (por exemplo, Wi-Fi, 3G, LTE, Bluetooth) e fornecedor de rede, desempenho da rede e do dispositivo, tipo de navegador, idioma, informações que permitam a gestão dos direitos digitais, sistema operativo e versão da Plataforma. 
                                </p>
                            </td>
                        </tr>
                    <tbody>
                </table>

                <p>
                    <strong>•	Os dados pessoais adicionais fornecidos pelo Usuário à Plataforma</strong>
                </p>

                <table>
                    <thead>
                        <tr>
                            <th>Grupo de Dados Pessoais</th>
                            <th>Descrição do grupo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="25%" class="text-center">
                                <strong>Dados adicionais fornecidos pelo Usuário</strong>
                            </td>
                            <td>
                                <p>
                                    Para além dos dados que coletamos para fornecer ao Usuário os Serviços da Plataforma, o Usuário tem também a opção de nos fornecer dados pessoais adicionais para que possamos viabilizar outros recursos e funcionalidades da Plataforma. 
                                </p>
                                <p>
                                    Tais dados adicionais podem incluir:
                                </p>
                                <p>
                                    <span>&#8227;</span> Número de telefone fixo;<br>
                                    <span>&#8227;</span> Data de nascimento;<br>
                                    <span>&#8227;</span> Sexo;<br>
                                    <span>&#8227;</span> Grau de escolaridade;<br>
                                    <span>&#8227;</span> Cidade e estado de residência;<br>
                                    <span>&#8227;</span> Interesses para seleção de conteúdos personalizados na Plataforma.
                                </p>
                            </td>
                        </tr>
                    <tbody>
                </table>

                <p>
                    <strong>4.	Para quais finalidades utilizamos os dados pessoais do Usuário?</strong>
                </p>

                <p>
                    Quando o Usuário interage com a Plataforma, utilizamos diversas tecnologias para tratar os dados pessoais coletados sobre o Usuário por vários motivos. Na tabela abaixo, a HYPERA expõe os motivos pelos quais são tratados os grupos de dados pessoais fornecidos pelo Usuário:
                </p>

                <table>
                    <thead>
                        <tr>
                            <th>
                                Descrição da razão pela qual a <strong>HYPERA</strong> trata os dados pessoais do Usuário ("finalidade do tratamento")
                            </th>
                            <th>Grupos de dados pessoais utilizados pela <strong>HYPERA</strong> para a finalidade de tratamento</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3">
                                Prestar os Serviços contratados, efetuar qualquer comunicação resultante de atividade do próprio aplicativo, fornecer acesso aos conteúdos e funcionalidades da Plataforma, garantir a segurança dos Usuários
                            </td>
                            <td>
                                Dados de criação da conta NEO PHARMA ou NEO SCAN
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                Dados sobre a utilização da Plataforma
                            </td>
                           
                        </tr>
                        <tr>
                            <td>
                                Dados adicionais fornecidos pelo Usuário
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                Cumprimento de determinação de autoridade competente ou judicial
                            </td>
                            <td>
                                Todos os dados pessoais coletados, conforme especificado na determinação da autoridade competente
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                Constituir, defender ou exercer regularmente direitos em âmbito judicial ou administrativo
                            </td>
                            <td>
                                Todos os dados pessoais coletados, conforme sejam necessários para tal finalidade
                            </td>
                            
                        </tr>

                        <tr>
                            <td rowspan="2">
                                Elaborar estatísticas gerais, para identificação do perfil dos Usuários e desenvolvimento de campanhas da HYPERA
                            </td>
                            <td>
                                Dados de criação da conta NEO PHARMA ou NEO SCAN
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Dados sobre a utilização da Plataforma
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="2">
                                Manter atualizado cadastro de Usuários para informação e divulgação de campanhas da HYPERA para promoção de seus produtos e serviços
                            </td>
                            <td>
                                Dados de criação da conta NEO PHARMA ou NEO SCAN
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Dados adicionais fornecidos pelo Usuário
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Para viabilizar o Programa Neo Pharma Excelência para os seus participantes, por meio do acompanhamento da performance mensal de compra de produtos Neo Química e operacionalização da conversão e troca de pontos.
                            </td>
                            <td>
                                Dados de criação da conta NEO PHARMA ou NEO SCAN  (apenas participantes aderentes ao Programa Neo Pharma Excelência)
                            </td>
                        </tr>
                    <tbody>
                </table>

                <h2>5. Compartilhamento dos dados pessoais do Usuário</h2>
                <p>
                    A HYPERA definiu os grupos de destinatários dos dados pessoais coletados ou gerados através da utilização da Plataforma pelo Usuário.
                </p>
                <p>
                    <strong>•	Dados pessoais que o Usuário poderá optar por compartilhar</strong>
                </p>
                <p>
                    Os seguintes dados pessoais só serão compartilhados com os grupos de destinatários indicadas na tabela abaixo se o Usuário:
                </p>
                <p>
                    •	optar por utilizar uma funcionalidade específica da Plataforma, na qual o compartilhamento dos dados pessoais seja necessário para a utilização correta da funcionalidade da Plataforma; ou
                    <br>
                    •	autorizar explicitamente o compartilhamento dos dados pessoais, por exemplo, selecionando a definição adequada na Plataforma.
                </p>

                <table>
                    <thead>
                        <tr>
                            <th>Grupos de Destinatários</th>
                            <th>Motivo para compartilhamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="25%" class="text-center">
                                <strong>Usuários da Plataforma</strong>
                            </td>
                            <td>
                                O Usuário poderá compartilhar os dados pessoais que forneceu a Plataforma com outros Usuários da Plataforma quando utilize funções de compartilhamento social disponibilizadas pela Plataforma.
                            </td>
                        </tr>

                        <tr>
                            <td width="25%" class="text-center">
                                <strong>Aplicações de terceiros associadas pelo Usuário à respectiva conta da Plataforma</strong>
                            </td>
                            <td>
                                Ao conectar a sua conta da HYPERA a uma aplicação de terceiros, como a rede social Facebook ou os serviços Google, a HYPERA poderá compartilhar os dados de utilização da Plataforma para que o Usuário possa se conectar à sua conta HYPERA.
                            </td>
                        </tr>

                        <tr>
                            <td width="25%" class="text-center">
                                <strong>Aplicação de terceiros utilizada pelo Usuário para acessar a Plataforma</strong>
                            </td>
                            <td>
                                Se iniciar o acesso à Plataforma em uma aplicação de terceiros utilizando as credenciais da sua conta HYPERA, então essa aplicação de terceiros poderá ter acesso a determinados dados de utilização da Plataforma para viabilizar o acesso à Plataforma (log in). 
                            </td>
                        </tr>
                    <tbody>
                </table>
                <p>
                    •	Informações que a HYPERA poderá compartilhar com terceiros
                </p>

                <!-- NOVA TABELA -->
                <table>
                    <thead>
                        <tr>
                            <th>Grupos de Destinatários</th>
                            <th>Motivo para compartilhamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="25%" class="text-center">
                                <strong>Prestadores de serviços e outros</strong>
                            </td>
                            <td>
                                Utilizamos prestadores de serviços técnicos que operam a infraestrutura técnica de que necessitamos para disponibilizar a Plataforma, em particular fornecedores que alojam, guardam, gerem e mantêm a Plataforma, o seu conteúdo e os dados que processamos. 
                                <br>
                                <br>
                                Tais prestadores podem receber dados pessoais para realizar tratamento de dados conforme orientações da HYPERA, na qualidade de Operador de Tratamento de Dados.

                            </td>
                        </tr>

                        <tr>
                            <td width="25%" class="text-center">
                                <strong>Pesquisa de mercado</strong>
                            </td>
                            <td>
                                A HYPERA pode realizar entrevistas via pesquisa de mercado por meio de seu pareiro Lumina Lab, um Centro de Pesquisa voltado ao consumidor, que busca identificar sensações, percepções e experiências de consumidores sobre produtos e serviços. Para a tanto, a HYPERA pode compartilhar apenas dados cadastrais, como o e-mail, telefone.
                            </td>
                        </tr>

                        {# <tr>
                            <td width="25%" class="text-center">
                                <strong>Parceiros da HYPERA no fornecimento dos Serviços</strong>
                            </td>
                            <td>
                                A HYPERA é parceira do Instituto Racine, empresa que disponibiliza a plataforma de cursos online especificamente para a Plataforma NEO PHARMA.
                                <br>
                                <br>
                                Para viabilizar a oferta de tais cursos, o Instituto Racine pode receber dados pessoais dos Usuários que participem de tal Plataforma NEO PHARMA na medida que sejam necessários para realização, avaliação e certificação dos cursos realizados pelo Usuário.
                                <br>
                                <br>
                                A HYPERA reserva-se o direito de celebrar parcerias com outros parceiros semelhantes, sempre no interesse de prestar os Serviços contratados, garantindo sempre que o tratamento de dados por tais terceiros será pautado por contratos específicos que visem limitar o uso de tais dados pelo terceiro e proteger a confidencialidade, segurança e integridade dos dados pessoais transferidos.
                            </td>
                        </tr> #}

                        <tr>
                            <td width="25%" class="text-center">
                                <strong>Fornecedores que viabilizam o Programa Neo Pharma Excelência</strong>
                            </td>
                            <td>
                                Com relação aos titulares que tenham se cadastrado na Plataforma Neo Pharma ou aderido ao Programa Neo Pharma Excelência, a HYPERA realizará o compartilhamento de seus dados com fornecedores que são indispensáveis à operacionalização da plataforma e de alguns serviços disponibilizados e também do referido Programa, estando limitado o tratamento de dados por parte destes terceiros apenas ao necessário para viabilizar as operações do Programa. 
                            </td>
                        </tr>

                        <tr>
                            <td width="25%" class="text-center">
                                <strong>Outras empresas do grupo HYPERA</strong>
                            </td>
                            <td>
                                Compartilharemos os dados pessoais do Usuário com outras empresas do Grupo HYPERA para a realização das nossas atividades diárias, e com o objetivo de manter e disponibilizar a Plataforma ao Usuário.
                            </td>
                        </tr>

                        <tr>
                            <td width="25%" class="text-center">
                                <strong>Cumprimento da lei e autoridades de proteção de dados</strong>
                            </td>
                            <td>
                                Compartilharemos os dados pessoais do Usuário quando acreditarmos, de boa-fé, que seja necessário para o cumprimento de uma obrigação legal, nos termos da legislação aplicável, ou para responder a um processo legal válido, como, por exemplo, um mandado de busca, uma ordem judicial ou uma intimação.
                            </td>
                        </tr>

                        <tr>
                            <td width="25%" class="text-center">
                                <strong>Adquirentes do nosso negócio</strong>
                            </td>
                            <td>
                                Compartilharemos os dados pessoais do Usuário quando vendermos ou negociarmos a venda do nosso negócio a um comprador ou potencial comprador.
                                <br>
                                <br>
                                Nesta situação, a HYPERA continuará a assegurar a confidencialidade dos dados pessoais do Usuário e iremos notificá-lo antes de os dados pessoais serem transferidos para o comprador, ou de ficarem sujeitos a uma Política de Privacidade diferente.

                            </td>
                        </tr>

                    <tbody>
                </table>

                <h2>6.	Conservação e eliminação de dados</h2>

                <p>
                    A HYPERA conserva os dados pessoais dos Usuários enquanto for necessário para prestar os Serviços ofertados através da Plataforma e para fins comerciais legítimos e essenciais, tais como para manter o desempenho da Plataforma, tomar decisões empresariais acerca de funcionalidades e ofertas com base em dados, cumprir as nossas obrigações legais, e resolver disputas. Serão conservados alguns dos dados pessoais do Usuário enquanto este permanecer como Usuário da Plataforma.
                </p>
                <p>
                    A pedido do Usuário, uma vez que este solicite o cancelamento da Conta e/ou o apagamento de seus dados, vamos eliminar ou anonimizar os seus dados pessoais de modo que não o identifiquem, exceto se for legalmente permitido ou obrigatório manter determinados dados pessoais, incluindo situações como as seguintes:

                </p>
                <p>
                   •	Se existir um problema não resolvido relativamente à sua conta, como um crédito pendente, uma reclamação ou disputa não resolvida, iremos reter os dados pessoais necessários até que o problema seja resolvido;
                </p>
                <p>
                    •	Se formos obrigados a manter os dados pessoais para as nossas obrigações jurídicas, fiscais, de auditoria e contabilidade, iremos reter os dados pessoais necessários pelo período exigido pela legislação aplicável; 
                </p>
                <p>
                    •	Sempre que necessário para os nossos legítimos interesses comerciais, como a prevenção contra fraudes ou para manter a segurança dos nossos Usuários.
                </p>
                <p>
                    Caso os dados cujo apagamento é solicitado sejam essenciais para a prestação dos Serviços, tal solicitação acarretará também o cancelamento da Conta de Usuário.
                <p>

                <h2>7.	Links de terceiros</h2>
                <p>
                    Poderemos apresentar anúncios de terceiros e outros conteúdos com links para endereços eletrônicos de terceiros. Não é possível controlarmos, nem sermos responsabilizados, por práticas de privacidade e conteúdo de terceiros. Se o Usuário clicar em um anúncio ou link de terceiros, deverá estar ciente de que sairá da Plataforma e que quaisquer dados pessoais que venha a fornecer não estarão abrangidos pela presente Política. O Usuário deverá ler as respetivas políticas de privacidade para saber de que forma coletam e tratam os seus dados pessoais.
                </p>

                <h2>8.	Manter os dados pessoais do Usuário em segurança</h2>
                <p>
                    Estamos empenhados em proteger os dados pessoais dos nossos Usuários. Implementamos medidas técnicas e organizacionais para ajudar a proteger a segurança dos dados pessoais do Usuário; contudo, é importante que o Usuário tenha em mente que nenhum sistema é completamente seguro. 
                </p>
                <p>
                    A senha protege a conta de Usuário, pelo que incentivamos o Usuário a utilizar uma senha única e forte, a limitar o acesso ao computador e navegador e a encerrar a sessão depois de utilizar a Plataforma. 
                </p>

                <h2>9.	Crianças e Adolescentes</h2>
                <p>
                    A Plataforma não se destina a crianças e adolescentes, isto é, indivíduos com idade inferior a 18 anos completos. Tais informações estão disponíveis nos <a href="https://www.portalneopharma.com.br/termos-de-uso">Termos e Condições de Uso</a>.
                </p>
                <p>
                    A HYPERA não coleta deliberadamente dados pessoais de crianças e adolescentes. Se o Usuário tiver idade inferior a 18 anos completos, não deverá utilizar a Plataforma e nem fornecer quaisquer dados pessoais.
                </p>
                <p>
                    Se o Usuário for um dos pais de uma criança ou adolescente que forneceu dados pessoais à Plataforma, deverá entrar em contato conosco através do formulário "Fale Conosco" disponível no endereço eletrônico <a href="mailto:falecom@hypera.com.br">falecom@hypera.com.br</a> e poderá solicitar o exercício dos seus direitos aplicáveis que se encontram discriminados no Item 1 da presente Política.
                </p>
                <p>
                    Se a HYPERA tomar conhecimento de que foram coletados dados pessoais de uma criança ou adolescente, tomará as medidas razoáveis para eliminar os dados pessoais em questão. Para tal, o Usuário poderá ser informado da necessidade de eliminar a conta relativa a essa criança ou adolescente.
                </p>


                <h2>10.	Alterações à presente Política de Privacidade</h2>

                <p>
                    Eventualmente, poderemos efetuar alterações à presente Política.
                </p>
                <p>
                    Quando a HYPERA realizar alterações materiais à presente Política, ela providenciará uma comunicação visível e adequada de acordo com as circunstâncias, como por exemplo, apresentando uma comunicação visível na Plataforma ou através do envio de um e-mail ao Usuário. Ainda, poderá enviar, antecipadamente, uma comunicação ao Usuário.
                </p>
                <p>
                    Assim, é fundamental que o Usuário se certifique de ler qualquer comunicação atentamente.
                </p>
                <p>
                    Se quiser saber mais sobre a presente Política e como a Plataforma utiliza os dados pessoais, o Usuário entre em contato com a HYPERA por falecom@hypera.com.br para saber mais.
                </p>


                <h2>11.	Fale com a HYPERA</h2>
                <p>
                    Obrigado por ler a nossa Política de Privacidade. Se tiver dúvidas relativamente à presente Política, contate o nosso Responsável pela Proteção de Dados através do formulário "Fale Conosco" no endereço eletrônico <a href="https://www.portalneopharma.com.br/fale-conosco">https://www.portalneopharma.com.br/fale-conosco</a> ou escrevendo para o seguinte endereço eletrônico <a href="mailto:falecom@hypera.com.br">falecom@hypera.com.br</a>. 
                </p>
                <p>
                    © HYPERA
                </p>
            </div>
        </div>  
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}