{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Cadastro{% endblock %}
{% set pageIndex = 'cpc' %}
{% block body %}
    {% if error is defined %}
        {{error}}
    {% endif %}
    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>Complete seu cadastro</h1></div>
        </section>
        <div class="container">
            <div class="login-forms-box">
                <div class="text-center logo-login">
                    <a href="{{ path('home') }}" id="cpc_mid_icon_neopharma">
                        <img src="{{ asset('_dist/image/img/logo-blue.png') }}" alt="Logo Neo Pharma">
                    </a>
                </div>

                <div class="space-h-10 text-center">
                    <h2 class="space-h-10">Para continuar precisamos de sua identificação profissional.</h2>
                    <p>Qual o seu cargo?</p>
                </div>
                <form action="{{ path('home-register-complete') }}" method="post" class="form" id="form">
                    <div class="d-flex justify-content-between space-h-30">
                        <label for="select-register-balc"><input type="radio" id="select-register-balc" class="cpc_mid_frm_rbtn_balconista" name="form[type]" value="balconista" checked required> Balconista</label>
                        <label for="select-register-farmac"><input type="radio" class="cpc_mid_frm_rbtn_farmaceutico" id="select-register-farmac" name="form[type]" value="farmaceutico"> Farmacêutico</label>
                    </div>
                    <div class="space-h-10">
                        <label for="register-cpf" id="label-for-cpf">CPF: * <span class="error" id="cpf-error"></span></label>
                        <input type="text" id="register-cpf" name="form[cpf]" class="form-control cpc_mid_frm_cpf" required>
                    </div>
                    <div class="space-h-10" id="register-crf-hold" style="display:none">
                        <label for="register-crf" >CRF: * <span class="error" id="crf-error"></label>
                        <input type="text" id="register-crf" name="form[crf]" class="form-control cpc_mid_frm_crf">
                    </div>
                    <div class="space-h-10" id="register-state-hold" style="display:none">
                        <label for="register-state" id="label-register-state">Estado: </label>
                        <select id="register-state" name="form[state]" class="form-control select-content">
                            <option value="">Selecione um Estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia </option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                    <div class="space-h-10"  id="register-cnpj-hold">
                        <label for="register-cnpj" id="label-for-cnpj">CNPJ da farmácia: * <span class="error" id="cnpj-error"></span></label>
                        <input type="text" id="register-cnpj" name="form[cnpj]" class="form-control cpc_mid_frm_cnpj" required>
                    </div>
                    <div class="space-h-10">
                        <label for="register-friendIndication">Um amigo indicou o Portal Neo Pharma? <br>Digite aqui o código de indicação</label>
                        <input type="text" id="register-friendIndication" name="form[friendIndication]" class="form-control cpc_mid_frm_codigoindicacao">
                    </div>

                    <div class="space-h-20">
                        <div class="form-check">
                            <input type="checkbox" name="form[term]" id="agree-term" class="cpc_mid_frm_declaro" required />
                            <label for="agree-term" class="form-check-label">
                                <small class="text-gray">Declaro que li e aceito os <a class="show-terms">Termos e Condições de Uso</a></small>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="form[newsletter]" id="agree-newsletter" class="cpc_mid_frm_aceito"  />
                            <label for="agree-newsletter" class="form-check-label">
                                <small class="text-gray">Aceito receber e-mails sobre novidades da marca e seus produtos</small>
                            </label>
                        </div>
                    </div>
                    <p>
                        * Preenchimento obrigatório
                    </p>
                    <div class="space-h-20">
                        <button type="submit" class="btn-default btn-full btn-large cpc_mid_frm_sbm_completar">Completar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
        var checkCpfUrl = "{{path('api-check-cpf')}}";
        var checkCnpjUrl = "{{path('api-check-cnpj')}}";
        var checkCrfUrl = "{{path('api-check-crf')}}";
      
        $("#register-cpf").on("blur", function(){
            var cpf = $(this).val();
            $("#register-cpf")[0].setCustomValidity("");
            $("#cpf-error").html("");

            if (!cpf) {
                return false;
            }
            
            $.ajax({
                url: checkCpfUrl,
                type: "POST",
                dataType: "json",
                data: {
                    c: cpf
                },
                success: function (response) {
                    if (response.status) {
                        $("#register-cpf")[0].setCustomValidity("");
                        $("#cpf-error").html("");
                    } else {
                        $("#register-cpf")[0].setCustomValidity(response.message);
                        $("#cpf-error").html(response.message);
                    }
                }
            });
          
        });
       

        $("#register-cnpj").on("keyup", function(){
            var cnpj = $(this).val();
            $("#register-cnpj")[0].setCustomValidity("");
            $("#cnpj-error").html("");
            
            if(valida_cpf_cnpj(cnpj)){
                $.ajax({
                    url: checkCnpjUrl,
                    type: "POST",
                    dataType: "json",
                    data: {
                        c: cnpj
                    },
                    success: function (response) {
                        if (response.status) {
                            $("#register-cnpj")[0].setCustomValidity("");
                            $("#cnpj-error").html("");
                        } else {
                            $("#register-cnpj")[0].setCustomValidity(response.message);
                            $("#cnpj-error").html(response.message);
                        }
                    }
                });
            } else {
                $("#register-cnpj")[0].setCustomValidity("CNPJ inválido.");
                $("#cnpj-error").html("CNPJ inválido.");
            }
        });

        $("#register-crf").on("keyup", function(){
            var crf = $(this).val();
            $("#register-crf")[0].setCustomValidity("");
            $("#crf-error").html("");
            if( $("#register-state").val() != ""){
                $.ajax({
                    url: checkCrfUrl,
                    type: "POST",
                    dataType: "json",
                    data: {
                        c: crf,
                        s : $("#register-state").val()
                    },
                    success: function (response) {
                        if (response.status) {
                            $("#register-crf")[0].setCustomValidity("");
                            $("#crf-error").html("");
                        } else {
                            $("#register-crf")[0].setCustomValidity(response.message);
                            $("#crf-error").html(response.message);
                        }
                    }
                });
            }
        });

        $("#register-state").on('change', function(){
            var state = $(this).val();
            $("#register-state")[0].setCustomValidity("");
            $("#crf-error").html("");
            if( $("#register-crf").val() != ""){
                $.ajax({
                    url: checkCrfUrl,
                    type: "POST",
                    dataType: "json",
                    data: {
                        c: $("#register-crf").val(),
                        s : state
                    },
                    success: function (response) {
                        if (response.status) {
                            $("#register-crf")[0].setCustomValidity("");
                            $("#crf-error").html("");
                        } else {
                            $("#register-crf")[0].setCustomValidity(response.message);
                            $("#crf-error").html(response.message);
                        }
                    }
                });
            }
        });

        function validaCPF(strCPF) {
            var Soma;
            var Resto;
            Soma = 0;
            if (strCPF == "00000000000") return false;
                
            for (i=1; i<=9; i++) Soma = Soma + parseInt(strCPF.substring(i-1, i)) * (11 - i);
            Resto = (Soma * 10) % 11;
            
                if ((Resto == 10) || (Resto == 11))  Resto = 0;
                if (Resto != parseInt(strCPF.substring(9, 10)) ) return false;
            
            Soma = 0;
                for (i = 1; i <= 10; i++) Soma = Soma + parseInt(strCPF.substring(i-1, i)) * (12 - i);
                Resto = (Soma * 10) % 11;
            
                if ((Resto == 10) || (Resto == 11))  Resto = 0;
                if (Resto != parseInt(strCPF.substring(10, 11) ) ) return false;
                return true;
        }
        

        function valida_cpf_cnpj(valor) {
            var valida = verifica_cpf_cnpj(valor);
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            if (valida === 'CPF') {
                return valida_cpf(valor);
            }
            else if (valida === 'CNPJ') {
                return valida_cnpj(valor);
            }
            else {
                return false;
            }
        } 
        function verifica_cpf_cnpj(valor) {
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            if (valor.length === 11) {
                return 'CPF';
            }
            else if (valor.length === 14) {
                return 'CNPJ';
            }
            else {
                return false;
            }
        }
        function valida_cpf(valor) {
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            var digitos = valor.substr(0, 9);
            var novo_cpf = calc_digitos_posicoes(digitos);
            var novo_cpf = calc_digitos_posicoes(novo_cpf, 11);
            if (novo_cpf === valor) {
                return true;
            } else {
                return false;
            }

        }
        function valida_cnpj(valor) {
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            var cnpj_original = valor;
            var primeiros_numeros_cnpj = valor.substr(0, 12);
            var primeiro_calculo = calc_digitos_posicoes(primeiros_numeros_cnpj, 5);
            var segundo_calculo = calc_digitos_posicoes(primeiro_calculo, 6);
            var cnpj = segundo_calculo;
            if (cnpj === cnpj_original) {
                return true;
            }
            return false;
        }
        function calc_digitos_posicoes(digitos, posicoes = 10, soma_digitos = 0) {
            digitos = digitos.toString();
            for (var i = 0; i < digitos.length; i++) {
                soma_digitos = soma_digitos + (digitos[i] * posicoes);
                posicoes--;
                if (posicoes < 2) {
                    posicoes = 9;
                }
            }
            soma_digitos = soma_digitos % 11;
            if (soma_digitos < 2) {
                soma_digitos = 0;
            } else {
                soma_digitos = 11 - soma_digitos;
            }
            var cpf = digitos + soma_digitos;
            return cpf;
        }
        
        $('#register-cpf').mask('000.000.000-00');
        $('#register-cnpj').mask('00.000.000-0000/00');

        
    </script>

{% endblock %}