{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Cadastro{% endblock %}
{% block styles %}
    <style>
        #form span{ color: red !important; }
    </style>
{% endblock %}

{% set pageIndex = 'cdt' %}

{% block body %}
    {% if error is defined %}
        {{error}}
    {% endif %}

    {% set cnpj = app.session.get('cj') ? app.session.get('cj') : null %}
    {% set cpf = app.session.get('cf') ? app.session.get('cf') : null %}

    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>CADASTRE-SE </h1></div>
        </section>
        <div class="container">
            <div class="login-forms-box">
                <form id="form" class="form form-gestor form register-form" id="form-gestor-logged" method="post" action="{{ path('home-register') }}">
                    <h3>Fase 1</h3>
                    <fieldset>
                        <div class="space-h-10"  id="gestor-cnpj-hold">
                            <label for="gestor-cnpj">CNPJ: <span class="error" id="cnpj-login-error"></span></label>
                            <input type="text" id="gestor-cnpj" name="form[cnpj-gestor]"  class="form-control register-cnpj" value="{{ cnpj }}" required>
                        </div>
                        <div class="space-h-10 cpf-box">
                            <label for="gestor-cpf">
                                CPF: <span class="error" id="cpf-login-error"></span>
                                    <span class="error gestor-msg cpf-error" id="cpf-error"></span>
                            </label>
                            <input type="text" id="gestor-cpf" name="form[cpf-gestor]" data-check="true" class="form-control register-cpf" value="{{ cpf }}" required>
                        </div>
                        <div class="space-h-10" style="display: none;">
                            <h2 class="space-h-10 text-center gl-msg">O CPF está sendo utilizado, deseja trocar o perfil?</h2>
                        </div>
                        <div class="space-h-20">
                            <button type="button" id="btn-login-gestor" class="btn-default btn-login-gestor btn-full btn-large">Continuar</button>
                        </div>
                        <p>
                            <strong> * Preenchimento obrigatório</strong>
                        </p>
                    </fieldset>
                    
                    <h3>Fase 2</h3>
                    <fieldset>            
                        <div class="is-gestor-logged">
                            <div class="space-h-10" id="razao-social-text">
                                <label for="razao-social-gestor-text">Razão Social: </label>
                                <p class="razao-social-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                            </div>

                            <div class="space-h-10" id="razao-social-input">
                                <label for="razao-social-gestor-logged">Razão Social: * <span class="error" id="razao-social-g-error"></span></label>
                                <input type="text" id="razao-social-gestor-logged" name="razao_social" class="form-control" required>
                            </div>

                            {# <div class="space-h-10">
                                <label for="inscricao-estadual-gestor-logged">Inscrição Estadual * <span class="error" id="inscricao-estadual-g-error"></span></label>
                                <input type="text" id="inscricao-estadual-gestor-logged" name="inscricao_estadual" class="form-control" required>
                            </div> #}
                            <div class="space-h-10">
                                <input type="hidden" name="chage_profile" class="form-control is_chage_profile">
                                <input type="hidden" name="multi_cpf" class="form-control is_multi">
                            </div>
                            
                            <div class="space-h-10">
                                <label for="name-fantasia-gestor-logged">Nome fantasia: * <span class="error" id="name-fantasia-g-error"></span></label>
                                <input type="text" id="name-fantasia-gestor-logged" name="name_fantasia" class="form-control" maxlength="50" required>
                            </div>

                            <div class="space-h-10">
                                <label for="cnpj-gestor-text">CNPJ da farmácia: </label>
                                <p class="cnpj-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                            </div>

                            <div class="space-h-10" id="cpf-text">
                                <label for="cpf-gestor-text">CPF: </label>
                                <p class="cpf-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                            </div>
                            
                            <div class="space-h-10">
                                <label for="name-gestor-logged">Nome do Responsável: * <span class="error" id="name-g-error"></span></label>
                                <input type="text" id="name-gestor-logged" name="name" class="form-control" required>
                            </div>

                            <div class="space-h-10">
                                <label for="cep-gestor-logged">CEP: *<span class="error" id="cep-g-error"></span></label>
                                <input type="text" id="cep-gestor-logged" name="cep" class="form-control consult-cep" maxlength="8" required>
                            </div>

                            <div class="space-h-10">
                                <label for="endereco-gestor-logged">Endereço: *<span class="error" id="endereco-g-error"></span> <span style="font-size: 14px"> (Para alterar seu endereço, comece pelo seu CEP)</span></label>
                                <p class="endereco-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                                <input type="text" id="endereco-gestor-logged" name="endereco" class="form-control" style="display: none;" maxlength="100" required>
                            </div>

                            <div class="space-h-10">
                                <label for="numero-gestor-logged">N°: *<span class="error" id="numero-g-error"></span></label>
                                <input type="text" id="numero-gestor-logged" name="numero" class="form-control" maxlength="20" required>
                            </div>

                            <div class="space-h-10">
                                <label for="complemento-gestor-logged">Complemento: <span class="error" id="complemento-g-error"></span></label>
                                <input type="text" id="complemento-gestor-logged" name="complemento" class="form-control" maxlength="50" required>
                            </div>

                            <div class="space-h-10">
                                <label for="bairro-gestor-logged">Bairro: *<span class="error" id="bairro-g-error"></span></label>
                                <p class="bairro-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                                <input type="text" id="bairro-gestor-logged" name="bairro" class="form-control" style="display: none;" maxlength="50" required>
                            </div>

                            <div class="space-h-10">
                                <label for="cidade-gestor-logged">Cidade: *<span class="error" id="cidade-g-error"></span></label>
                                <p class="cidade-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                                <input type="text" id="cidade-gestor-logged" name="cidade" class="form-control" style="display: none;" maxlength="50" required>
                            </div>

                            <div class="space-h-10">
                                <label for="uf-gestor-logged">UF: *<span class="error" id="uf-g-error"></span></label>
                                <p class="uf-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                                <input type="text" id="uf-gestor-logged" name="uf" class="form-control" style="display: none;" maxlength="2" required>
                            </div>

                            <div class="space-h-10">
                                <label for="ponto-referencia-gestor-logged">Ponto de referência: *<span class="error" id="ponto-referencia-g-error"></span></label>
                                <input type="text" id="ponto-referencia-gestor-logged" name="ponto_referencia" class="form-control" maxlength="100" required>
                            </div>

                            <div class="space-h-10">
                                <label for="user-birth">Data de nascimento: * <span class="error" id="birthday-error"></span></label>
                                <input type="text" id="user-birth" name="birthday" class="form-control birthday datepicker">
                            </div>

                            {# <div class="space-h-10">
                                <label for="user-birth">Sexo:</label>
                                <select id="select"  class="form-control gender" name="gender">
                                    <option value="">Selecione uma opção</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                </select>
                            </div> #}

                            <div class="space-h-10">
                                <label for="ddd-celular-gestor-logged">DDD: *<span class="error" id="ddd-celular-g-error"></span></label>
                                <input type="text" id="ddd-celular-gestor-logged" name="ddd_celular" class="form-control" maxlength="2" required>
                            </div>
                            
                            <div class="space-h-10">
                                <label for="celular-gestor-logged">Celular: *<span class="error" id="celular-g-error"></span></label>
                                <input type="text" id="celular-gestor-logged" name="celular" class="form-control" maxlength="10" required>
                            </div>

                            <div class="space-h-10">
                                <label for="email-gestor-logged">E-mail: * <span class="error" id="mail-g-error"></span></label>
                                <p class="email-gl-text" style="font-weight: bold; font-size: 19px; display: none;"></p>
                                <input type="email" id="email-gestor-logged" name="mail" class="form-control cdt_mid_frm_email" required>
                            </div>

                            <div class="space-h-10" style="display: none !important;">
                                <label for="cpf-gestor-logged" id="label-for-cpf">CPF: * <span class="error" id="cpf-g-error"></span></label>
                                <input type="text" id="cpf-gestor-logged" name="cpf" class="form-control cdt_mid_frm_cpf register-cpf" required>
                            </div>

                            <div class="space-h-10" style="display: none !important;">
                                <label for="cnpj-gestor-logged">CNPJ da farmácia: * <span class="error" id="cnpj-g-error"></span></label>
                                <input type="text" id="cnpj-gestor-logged" name="cnpj" class="form-control register-cnpj">
                            </div>

                            <div class="space-h-10">
                                <label for="user-password">Senha: * <span class="error" id="password-g-error"></span></label>
                                <input type="password" id="user-password" name="password" class="form-control cdt_mid_frm_senha" autocomplete="off" required>
                            </div>
                            <div class="space-h-10">
                                <label for="user-passwordRepeat">Repetir Senha: *<span class="error" id="passwordRepeat-g-error"></span></label>
                                <input type="password" id="user-passwordRepeat" name="passwordRepeat" class="form-control cdt_mid_frm_repetirsenha" autocomplete="off" required>
                            </div>
                            <div class="space-h-20">
                                <div class="form-check">
                                    <input type="checkbox" name="form[whatsApp]" class="cdt_mid_frm_whatsApp checked_whatsApp" id="agree-whatsApp"  />
                                    <label for="agree-whatsApp" class="form-check-label">
                                        <small class="text-gray">Aceito receber mensagens de whatsapp e SMS</small>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" name="term" id="agree-term" class="cdt_mid_frm_declaro term-checked" required/>
                                    <label for="agree-term" class="form-check-label">
                                        <small class="text-gray">Declaro que li e aceito os <a href="{{ path('home-term') }}" target="_blank" class="show-terms">Termos e Condições de Uso</a>  <span class="error termo-use-error" id="term-g-error"></span></small>
                                    </label>
                                </div>

                                <!--- regulamento -->
                                <div class="form-check">
                                    <input type="checkbox" name="regulation" id="agree-regulation" class="cdt_mid_frm_declaro regulation-checked" required/>
                                    <label for="agree-regulation" class="form-check-label">
                                        <small class="text-gray">Declaro que li e aceito o <a href="{{ path('gestor-regulation') }}" target="_blank" class="show-regulation">Regulamento </a>  <span class="error regulation-error" id="regulation-g-error"></span></small>
                                    </label>
                                </div>
                                <!--- end -->

                                <div class="form-check">
                                    <input type="checkbox" name="form[newsletter]" class="cdt_mid_frm_aceito checked_aceito newsletter" id="agree-newsletter"  />
                                    <label for="agree-newsletter" class="form-check-label">
                                        <small class="text-gray">Aceito receber e-mails sobre novidades da marca e seus produtos</small>
                                    </label>
                                </div>
                            </div>
                            <p>
                                <strong> * Preenchimento obrigatório</strong>
                            </p>
                            <div class="space-h-20">
                                <button type="button" id="btn-login-gestor" class="btn-default btn-register-gestor btn-full btn-large cdt_mid_frm_sbm_cadastar">Cadastrar</button>
                            </div>
                        </div>
                       
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Modal Excelência -->
    <div class="modal-default excelencia-modal">
        <div class="confirm-excelencia">
            <div class="confirm-excelencia-content">
                <a class="close-modal" id="close-excelencia-modal" onclick="core.hideMessage()">X</a>
                <div class="space-h-10">
                    <h3>Você faz parte do</h3>
                </div>
                <figure>
                    <img src="{{ asset('_dist/image/img/excelencia.png') }}" alt="Neo Pharma Excelência">
                </figure>
            </div>
        </div>
    </div>
    <!-- Modal Cadastro Finalizado -->
    <div class="modal-default modal-cadastro-finalizado" id="modal-cadastro-finalizado">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                </div>
                <div class="text-center space-h-20 gjmsg">
                    <figure><img src="{{ asset('_dist/image/img/logo-popup.png') }}" alt="" /></figure>
                    <h2 class="space-h-20">Parabéns!</h2>
                    <p>Seu cadastro foi finalizado com sucesso, mas queremos saber mais sobre você.</p>
                    <div class="space-h-10">
                        <a href="{{ path('user-preferences') }}" class="btn-default btn-answer-now">RESPONDER AGORA</a>
                    </div>
                    <div class="space-h-10">
                        <a href="" class="btn-default btn-more-late">RESPONDER MAIS TARDE</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
    $(document).ready(function(e) {
        var checkEmailUrl = "{{path('api-check-email')}}";
        var checkCpfUrl = "{{path('api-check-cpf')}}";
        var checkCnpjUrl = "{{path('api-check-cnpj')}}";
        var checkCrfUrl = "{{path('api-check-crf')}}";
        var consultaGestorUrl = "{{ path('home-consult-gestor') }}";
        var registerGestor = "{{path('register-gestor')}}";
        var consultaCorreios = "{{path('api-correios')}}";
        var redirectHome = "{{ path('home') }}";
        var registrationCompleted = "{{ path('registration-completed') ~ '?rc=true'}}";
        var form = $(".register-form").show();
        
        form.steps({
            headerTag: "h3",
            bodyTag: "fieldset",
            transitionEffect: "slideLeft",
            enablePagination: false, //removendo botões de ações (proximo e finalizar)
            labels: {
                cancel: "Cancelar",
                current: "",
                pagination: "Pagination",
                finish: "",
                next: "",
                previous: "Voltar para a fase anterior",
                loading: "Carregando ..."
            },
            onStepChanging: function (event, currentIndex, newIndex)
            {
                // Allways allow previous action even if the current form is not valid!
                if (currentIndex > newIndex)
                {
                    return true;
                }
                // Forbid next action on "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age-2").val()) < 18)
                {
                    return false;
                }
                // Needed in some cases if the user went back (clean up)
                if (currentIndex < newIndex)
                {
                    // To remove error styles
                    form.find(".body:eq(" + newIndex + ") label.error").remove();
                    form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
                }

                form.validate().settings.ignore = ":disabled,:hidden";
                var formValidade = form.valid() 
                                
                return formValidade
            },
            onStepChanged: function (event, currentIndex, priorIndex)
            {
                // Used to skip the "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age-2").val()) >= 18)
                {
                    form.steps("Próxima fase");
                }
                // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3)
                {
                    form.steps("previous");
                }
            },
            onFinishing: function (event, currentIndex)
            {
                form.validate().settings.ignore = ":disabled"
                var formValidade = form.valid() 
                checkFieldRequired()                   
                                    
                return formValidade;
            },
            onFinished: function (event, currentIndex)
            {       
               //save    
            }
            }).validate(
                {
                    errorPlacement: function errorPlacement(error, element) { 
                        element.before(error); 
                },
                    rules: {
                        confirm: {
                        equalTo: "#password-2",
                        occupation: 'required',
                        name: 'required',
                        email: 'required',
                        ////
                        cpf: 'required',
                        cnpj: 'required',
                        crf: 'required',
                        phone: 'required',
                        state: 'required',
                        friendIndication: 'required',
                        password: 'required',
                        passwordRepeat: 'required',
                        term: 'required',
                        //gender: 'required',
                        birthday: 'required',
                    }
                },
                messages: {
                    occupation: "A função é obrigatória",
                    name: "Nome é obrigatório",
                    email: "E-mail é obrigatório",
                    cpf: 'CPF é obrigatório',
                    cnpj: 'CNPJ é obrigatório',
                    crf: 'CRF é obrigatório',
                    phone: 'Celular é obrigatório',
                    state: 'O estado é obrigatório',
                    friendIndication: 'Código de indicação é obrigatório',
                    password: 'A senha é obrigatório',
                    passwordRepeat: 'Repetir a senha é obrigatória',
                    term: 'Leitura do termo é obrigatória',
                    //gender: 'O sexo é obrigatório',
                    birthday: 'A Data de nascimento é obrigatório',
                }
        })

        //scroll até o campo obrigatório
        function checkFieldRequired(){
            $('label.error, span.error').each(function(index, value){
                 var id = $(this).attr('id')
                if ($(this).text().length > 0) {
                    index = 0
                    if (index == 0) {
                       $(window).scrollTop(0);
                        //console.log('id #', id)
                        return false;
                    }
                }
            })
        }

        //------------------------------------------------ Processos  ------------------------------
        //Fase 01 - validando CNPJ elegivel e cpf  
        // gestor farmacia
        $(".btn-login-gestor:not(.disable)").on("click", function(){
            var $this = $(this);
            
            $.ajax({
                url: consultaGestorUrl,
                type: "POST",
                dataType: "json",
                data: {
                    'type': 'gestor',
                    'cnpj': $('#gestor-cnpj').val(), 
                    'cpf': $('#gestor-cpf').val(),
                    'change_profile': $('.is_chage_profile').val(),
                    'multi_cpf': $('.is_multi').val(),
                },
                beforeSend: function(){
                    $this.text('Carregando...');
                    $this.attr("disabled", true);
                },
                success: function (response) {
                    if (response.status) {
                        //console.log('success');
                        var box_message = $(".gl-msg")
                        var cpf_box = $('.cpf-box')

                        if (response.hasOwnProperty('change_profile') && response.hasOwnProperty('code')) {
                            box_message.parents('div').show()
                            box_message.html(response.message)
                            $(window).scrollTop(cpf_box.offset().top)
                            
                            $('.is_chage_profile').val(response.code)
                            $('#gestor-cnpj').attr("disabled", true)
                            $('#gestor-cpf').attr("disabled", true)
                            $this.text('Sim')

                        } else if (response.hasOwnProperty('multi_cpf') && response.hasOwnProperty('code')) {
                            box_message.parents('div').show()
                            box_message.html(response.message)
                            $(window).scrollTop(cpf_box.offset().top);
                            
                            $('.is_multi').val(response.code)
                            $('#gestor-cnpj').attr("disabled", true)
                            $('#gestor-cpf').attr("disabled", true)
                            $this.text('Sim')
                        
                        } else if(response.hasOwnProperty('elegivel') && response.box == 'register'){
                            
                            form.steps('next'); //next form
                            $('.list-choice').hide();
                            $('.what-occupation').hide();

                            $('#cnpj-gestor-logged').val(response.cnpj).mask('00.000.000/0000-00', {reverse: true});
                            $('#cpf-gestor-logged').val(response.cpf).mask('000.000.000-00', {reverse: true});
                            $('.cnpj-gestor-text').text(response.cnpj).mask('00.000.000/0000-00', {reverse: true});
                            $('.cpf-gestor-text').text(response.cpf).mask('000.000.000-00', {reverse: true});

                            if (response.razao.length > 0){ //se existit razão social
                                $('#razao-social-text').show();
                                $('#razao-social-input').hide(); 
                                $('.razao-social-gestor-text').text(response.razao);
                                $('[name="razao_social"]').val(response.razao);
                            } else {
                                $('#razao-social-input').show(); 
                                $('#razao-social-text').hide();
                                $('[name="razao_social"]').val(response.razao);
                            }
                               
                            if (response.hasOwnProperty('change_profile')) { //código faz parte da troca de perfil para gestor de loja
                                $('[name="name"]').val(response.nome);  
                                $('#email-gestor-logged').hide()
                                $('.email-gl-text').text(response.email).show();
                            } 
                            
                            if (response.hasOwnProperty('multi_cpf')) {
                                if (response.multi_cpf == true) {
                                    $('#email-gestor-logged').val(response.email)
                                }
                            }

                            $('#email-gestor-logged').val(response.email)
                            $('.uf-gestor-text').text(response.uf);
                            $('[name="uf"]').val(response.uf); 
                            
                            modalExcelencia();
                              
                            $this.text('Cadastrar');
                        } else if(response.hasOwnProperty('elegivel') && response.box == 'logged'){
                           $('#cnpj-login-error').text(response.message);
                           $('#cpf-g-error').text();
                           $this.text('Cadastrar');  
                        } 
                       // console.log('success');
                    } else {
                        $('#cnpj-login-error').text(response.message);
                        $('#cpf-g-error').text();  
                        $this.text('Cadastrar');                          
                    }
                     
                   $this.attr("disabled", false);
                } 
            });
        });

        //cadastros add novo campo para outros time
        $('.team-football').on('change', function(e) {
            var option = $(this).val()
            var box = $('#team-football-other-box')
           
            if ($('.team-football option:selected').data('other') == 'other') { 
                box.show()  
            } else {
                box.hide()
            }
        });
         
        // register farmacia
         $(".btn-register-gestor").on("click", function(){
            var $this = $(this);
            var term = 0;
            var regulation = 0;
            var whatsApp = 0; //whatsApp
            var form_data = new FormData(); 

            if ($('.term-checked').is(':checked')){
                term = 1;
            } 

            if ($('.regulation-checked').is(':checked')){
                regulation = 1;
            } 

            if ($('.checked_whatsApp').is(':checked')){ //whatsApp
                whatsApp = 1;
            } 

            if ($this.is('disabled')) {
                return false;
            }

            if ($('[name="ddd_celular"]').val().length < 2) {
                $this.attr("disabled", true);
                $('#ddd-celular-g-error').text('DDD inválido');
            }

            if ($('[name="celular"]').val().length < 10) {
                $this.attr("disabled", true);
                $('#celular-g-error').text('Número de celular inválido');
            }

            //form_data.append('avatar', $('#avatar-gestor').prop('files')[0]);                  
            form_data.append('name', $('[name="name"]').val());
            form_data.append('cnpj', $('[name="cnpj"]').val());
            form_data.append('cpf', $('[name="cpf"]').val());
            form_data.append('mail', $('[name="mail"]').val());
            form_data.append('p', $('[name="password"]').val());
            form_data.append('pr', $('[name="passwordRepeat"]').val());
            form_data.append('term', term);
            /* news fields  */
            form_data.append('razao_social', $('[name="razao_social"]').val());  
            //form_data.append('inscricao_estadual', $('[name="inscricao_estadual"]').val());  
            form_data.append('name_fantasia', $('[name="name_fantasia"]').val());  
            form_data.append('cep', $('[name="cep"]').val());  
            form_data.append('endereco', $('[name="endereco"]').val());  
            form_data.append('numero', $('[name="numero"]').val());  
            form_data.append('complemento', $('[name="complemento"]').val());  
            form_data.append('bairro', $('[name="bairro"]').val());  
            form_data.append('cidade', $('[name="cidade"]').val());  
            form_data.append('uf', $('[name="uf"]').val());  
            form_data.append('celular', $('[name="celular"]').val());  
            form_data.append('ddd_celular', $('[name="ddd_celular"]').val());  
            form_data.append('ponto_referencia', $('[name="ponto_referencia"]').val());             
            form_data.append('whatsApp', whatsApp); //whatsApp            
            form_data.append('change_profile', $('.is_chage_profile').val()); //mudança de perfil para gestor de loja            
            form_data.append('multi_cpf', $('.is_multi').val()); //multi CNPJ para o mesmo CPF   
            form_data.append('regulation', regulation);         
            form_data.append('birthday', $('.birthday').val());
           
            if ($('.team-football option:selected').data('other') == 'other') {               
                form_data.append('team_football', $('[name="team_football_other"]').val());  
            } else {
                form_data.append('team_football', $('[name="team_football"]').val()); 
            }                    
            //form_data.append('gender', $('.gender').val());         
         
            if ($('.newsletter').is(':checked')) {
                form_data.append('newsletter', $('.newsletter').val()); 
            }
            
                    
            /* end */
                   
            $.ajax({
                url: registerGestor,
                type: "POST",
                dataType: "json",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                beforeSend: function(){
                    $this.text('Carregando...');
                    $this.attr("disabled", true);
                },
                success: function (response) {
                    if(response.status){  
                        if(response.hasOwnProperty('action')){
                            window.location.href = response.url;
                        } else {         
                            window.location.href = registrationCompleted;
                        }                        
                    }else{
                        if(response.fields.hasOwnProperty('name')){
                            $('#name-g-error').text(response.fields.name);
                        }

                        if(response.fields.hasOwnProperty('mail')){
                            $('#mail-g-error').text(response.fields.mail);
                        }

                        if(response.fields.hasOwnProperty('cnpj')){
                            $('#cnpj-g-error').text(response.fields.cnpj);
                        }

                        if(response.fields.hasOwnProperty('cpf')){
                            $('#cpf-g-error').text(response.fields.cpf);
                        }
                        
                        if (response.fields.hasOwnProperty('passwordRepeat') ) {
                            $('#passwordRepeat-g-error').text(response.fields.passwordRepeat);
                        }

                        if (response.fields.hasOwnProperty('password') ) {
                            $('#password-g-error').text(response.fields.password);
                        }

                        if (response.fields.hasOwnProperty('term') ) {
                            $('#term-g-error').text(response.fields.term);
                        }

                        if (response.fields.hasOwnProperty('regulation') ) {
                            $('#regulation-g-error').text(response.fields.regulation);
                        }

                        /* news fields */
                        if (response.fields.hasOwnProperty('razao_social') ) {
                            $('#razao-social-g-error').text(response.fields.razao_social);
                        }

                        /*
                        if (response.fields.hasOwnProperty('inscricao_estadual') ) {
                            $('#inscricao-estadual-g-error').text(response.fields.inscricao_estadual);
                        }
                        */

                        if (response.fields.hasOwnProperty('name_fantasia') ) {
                            $('#name-fantasia-g-error').text(response.fields.name_fantasia);
                        }

                        if (response.fields.hasOwnProperty('cep') ) {
                            $('#cep-g-error').text(response.fields.cep);
                        }

                        if (response.fields.hasOwnProperty('endereco') ) {
                            $('#endereco-g-error').text(response.fields.endereco);
                        }

                        if (response.fields.hasOwnProperty('numero') ) {
                            $('#numero-g-error').text(response.fields.numero);
                        }

                        if (response.fields.hasOwnProperty('complemento') ) {
                            $('#complemento-g-error').text(response.fields.complemento);
                        }

                        if (response.fields.hasOwnProperty('bairro') ) {
                            $('#bairro-g-error').text(response.fields.bairro);
                        }

                        if (response.fields.hasOwnProperty('cidade') ) {
                            $('#cidade-g-error').text(response.fields.cidade);
                        }

                        if (response.fields.hasOwnProperty('uf') ) {
                            $('#uf-g-error').text(response.fields.uf);
                        }

                        /*
                        if (response.fields.hasOwnProperty('gender') ) {
                            $('.gender').text(response.fields.gender);
                        }
                        */

                        if (response.fields.hasOwnProperty('birthday') ) {
                            $('#birthday-error').text(response.fields.birthday);
                        }

                        if (response.fields.hasOwnProperty('celular') ) {
                            $('#celular-g-error').text(response.fields.celular);
                        }

                        if (response.fields.hasOwnProperty('ddd_celular') ) {
                            $('#ddd-celular-g-error').text(response.fields.celular);
                        }

                        if (response.fields.hasOwnProperty('ponto_referencia') ) {
                            $('#ponto-referencia-g-error').text(response.fields.ponto_referencia);
                        }
                        /* end */

                        $this.text('Cadastrar');
                        $this.attr("disabled", false);
                    }
                                        
                }
               
            });
        });

            //limpando as mensagem após validação 
            $('[name="name"]').on("keyup", function(){
                $('#name-g-error').text('');
            });

            $('[name="email"]').on("keyup", function(){
                $('#mail-g-error').text('');
            });

            $('[name="cpf"]').on("keyup", function(){
                $('#cpf-g-error').text('');
            });

            $('[name="crf"]').on("keyup", function(){
                $('#crf-error').text('');
            });

            $('[name="state"]').on("keyup", function(){
                $('#crf-error').text('');
            });

            $('[name="cnpj"]').on("keyup", function(){
                $('#cnpj-g-error').text('');
            });

            $('[name="password"]').on("keyup", function(){
                $('#password-g-error').text('');
            });

            $('[name="passwordRepeat"]').on("keyup", function(){
                $('#passwordRepeat-g-error').text('');
            });
            
            $('#gestor-cnpj').on("keyup", function(){
                $('#cnpj-login-error').text('');
            });

            /* news fields */
            
            $('[name="razao_social"]').on("keyup", function(){
                $('#razao-social-g-error').text('');
            });
            /*
            $('[name="inscricao_estadual"]').on("keyup", function(){
                $('#inscricao-estadual-g-error').text('');
            });
            */
            $('[name="name_fantasia"]').on("keyup", function(){
                $('#name-fantasia-g-error').text('');
            });

            $('[name="cep"]').on("keyup", function(){
                $('#cep-g-error').text('');
            });

            $('[name="endereco"]').on("keyup", function(){
                $('#endereco-g-error').text('');
            });

            $('[name="numero"]').on("keyup", function(){
                $('#numero-g-error').text('');
            });

            $('[name="complemento"]').on("keyup", function(){
                $('#complemento-g-error').text('');
            });

            $('[name="bairro"]').on("keyup", function(){
                $('#bairro-g-error').text('');
            });

            $('[name="cidade"]').on("keyup", function(){
                $('#cidade-g-error').text('');
            });

            $('[name="uf"]').on("keyup", function(){
                $('#uf-g-error').text('');
            });

            $('[name="ddd_celular"]').on("keyup", function(){
                $('#ddd-celular-g-error').text('');
            });

            $('[name="celular"]').on("keyup", function(){
                $('#celular-g-error').text('');
            });

            $('[name="ponto_referencia"]').on("keyup", function(){
                $('#ponto-referencia-g-error').text('');
            });

            $('.birthday').on("keyup", function() {
                $('#birthday-error').text('');
            });
            /* end */

          
            $('.term-checked').on("click", function(){
                if ($(this).is(':checked')) {
                    $('#term-g-error').text('');
                }
            });

            $('.regulation-checked').on("click", function(){
                if ($(this).is(':checked')) {
                    $('#regulation-g-error').text('');
                }
            });

            //modal excelência 
            function modalExcelencia(){
                $('#mnu_excelencia').removeClass('hide');
                $('#mnu_excelencia').addClass('show');
                
                if($('.excelencia-modal').hasClass('open-menu')){
                    $('.excelencia-modal').removeClass('open-modal');
                } else{
                    $('.excelencia-modal').addClass('open-modal');
                }
            }
  
            //valida e-mail
            $("#email-gestor-logged").on("keyup", function(){
                var email = $(this).val();
                $("#mail-g-error").html("");

                if(validateEmail(email)){
                    $.ajax({
                        url: checkEmailUrl,
                        type: "POST",
                        dataType: "json",
                        data: {
                            e: email,
                            multi_cpf: $('.is_multi').val(),
                        },
                        beforeSend: function(){
                            $("#mail-g-error").html("");
                            $('.cdt_mid_frm_sbm_cadastar').attr("disabled", true);
                        },
                        success: function (response) {
                            if (response.status) {
                                $("#email-gestor-logged")[0].setCustomValidity("");
                                $("#mail-g-error").html("");
                                $('.cdt_mid_frm_sbm_cadastar').attr("disabled", false);
                            } else if ($('.is_chage_profile').val() == 'GL-001') {
                                $("#email-gestor-logged")[0].setCustomValidity("");
                                $("#mail-g-error").html("");
                                $('.cdt_mid_frm_sbm_cadastar').attr("disabled", false);
                            } else {
                                $("#email-gestor-logged")[0].setCustomValidity(response.message);
                                $("#mail-g-error").html(response.message);
                                $('.cdt_mid_frm_sbm_cadastar').attr("disabled", true);
                            }
                        }
                    });
                }
            });

            function validateEmail(email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
                    
            $(".register-form .actions").click(function(  ) {
                function isEmpty( el ){
                    return !$.trim(el.html())
                }
                if (isEmpty($('#element'))) {
                    //  $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top - 80 }, 500);
                }
                
            });

            //consulta correios
            $('.consult-cep').on('blur', function(){
                var cep = $(this).val();
                var btn = $('.btn-register-gestor')

                if (cep.length < 9) {
                    btn.attr("disabled", true);
                    $('#cep-g-error').text('CEP INVÁLIDO');
                    return false;
                }

                $('.endereco-gestor-text').text('');
                $('.bairro-gestor-text').text('');
                $('.cidade-gestor-text').text('');
                $('.uf-gestor-text').text('');

                $('[name="endereco"]').val('');  
                $('[name="bairro"]').val('');  
                $('[name="cidade"]').val('');  
                $('[name="uf"]').val('');   

                $.ajax({
                    url: "{{ path('api-correios') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        'cep': cep, 
                    },
                    beforeSend: function(){
                        //btn.text('Carregando...');
                        btn.attr("disabled", true);
                    },
                    success: function (response) {
                        if (!response.status) {
                            $('#cep-g-error').text(response.message);
                            return false;
                        }

                        if (!response.endereco) {
                            $('[name="endereco"]').show();
                            $('.endereco-gestor-text').hide();
                        }

                        if (!response.bairro) {
                            $('[name="bairro"]').show();
                            $('.bairro-gestor-text').hide();
                        }

                        if (!response.cidade) {
                            $('[name="cidade"]').show();
                            $('.cidade-gestor-text').hide();
                        }

                        if (!response.uf) {
                            $('[name="uf"]').show();
                            $('.uf-gestor-text').hide();
                        }

                        $('.endereco-gestor-text').text(response.endereco);
                        $('.bairro-gestor-text').text(response.bairro + ' ' + response.complemento2);
                        $('.cidade-gestor-text').text(response.cidade);
                        $('.uf-gestor-text').text(response.uf);

                        $('#cep-g-error').text('');
                        $('#endereco-g-error').text('');
                        $('#bairro-g-error').text('');
                        $('#cidade-g-error').text('');
                        $('#uf-g-error').text('');

                        $('[name="endereco"]').val(response.endereco);  
                        $('[name="bairro"]').val(response.bairro + ' ' + response.complemento2);  
                        $('[name="cidade"]').val(response.cidade);  
                        $('[name="uf"]').val(response.uf);

                        btn.attr("disabled", false);
                    }
                });
            });

            $('.register-cpf').mask('000.000.000-00');
            $('.register-cnpj').mask('00.000.000-0000/00');
            $('.consult-cep').mask('00000-000');
            $('#celular-gestor-logged').mask('00000-0000');
            $('.birthday').mask("99/99/9999")

            //modal final de cadastro 
            function modalRegister(url = null){   
                $('.btn-more-late').attr('href', url)

                if($('.modal-cadastro-finalizado').hasClass('open-menu')){
                    $('.modal-cadastro-finalizado').removeClass('open-modal');
                } else{
                    $('.modal-cadastro-finalizado').addClass('open-modal');
                }
            }
        });
	</script>
{% endblock %}