<!DOCTYPE html>
<html lang="pt-br" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>Portal Neo Pharma - CADASTRO FINALIZADO </title>
    <link rel="icon" type="image/png" href="{{asset('_dist/image/template/icon.png')}}" />
    <link rel="stylesheet" href="{{asset('vendor/select/select2.min.css') }}">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" /> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" integrity="sha384-tdg34jSbH8ohY76kZBTLOTf+YjdokUkiuqsrTIqPDDMmRWRyizPFmubeabSKEFzZ" crossorigin="anonymous">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('_dist/css/main.min.css') }}" />

    <!-- Meta Tags de Segurança -->
        <meta http-equiv="default-src 'self' *.portalneopharma.com.br *.youtube.com *.gstatic.com d3js.org *.fontawesome.com *.github.io fonts.googleapis.com *.bootstrapcdn.com *.github.io *.google.com.br *.google.com *.doubleclick.net *.google-analytics.com accounts.google.com cdnjs.cloudflare.com *.googletagmanager.com *.facebook.net connect.facebook.net *.facebook.com apis.google.com 'unsafe-inline'">
    <!-- End Meta Tags de Segurança -->
    
    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ GTM_ID }}');</script>
    <!-- End Google Tag Manager -->

    <!-- GTAG -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{GTAG}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('set', {
            'cookie_flags': 'SameSite=None;Secure'
        });

        gtag('config', '{{GTAG}}');       
    </script>
    <!-- END GTAG -->

    <meta name="facebook-domain-verification" content="sfdu8u77hg5iyd43slswu904hyyzku" />
</head>
<body class="page-{{ app.request.get('_route') }}" >
    <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GTM_ID }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="">
        <section class="title-page-not-banner text-center" style="margin-bottom: 0px !important">
            <div class="container"><h1>CADASTRO FINALIZADO </h1></div>
        </section>
        <div class="container">
            {# <div class="content-form-src-desk"> #}
                <div class="modal-content">
                    <div class="text-center space-h-20">
                    </div>
                    <div class="text-center space-h-20 gjmsg">
                        <figure><img src="{{ asset('_dist/image/template/logo.png') }}" alt="" /></figure>
                        <h2 class="space-h-20">Parabéns!</h2>
                        <p>Seu cadastro foi finalizado com sucesso, mas queremos saber mais sobre você.</p>
                        <div class="space-h-10">
                            <a href="{{ path('user-preferences') }}" class="btn-default btn-answer-now" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'cadastro', 'eventAction': 'click', 'eventLabel': 'step4:finalizado:responder-agora'});">RESPONDER AGORA</a>
                        </div>
                        <div class="space-h-10">
                            <a href="{{ url }}" class="btn-default btn-more-late" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'cadastro', 'eventAction': 'click', 'eventLabel': 'step4:finalizado:responder-mais-tarde'});">RESPONDER MAIS TARDE</a>
                        </div>
                    </div>
                    
                </div>
            {# </div> #}
        </div>
    </div>
</body>
</html>

<script>
dataLayer.push({
    'event': 'gaEvent',
    'event_name': 'cadastro_sucesso',
    'event_section': 'cadastro',
    'event_action': 'sucesso'
});
</script>
