{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Cadastro{% endblock %}
{% set pageIndex = 'cdt' %}
{% block body %}
    {% if error is defined %}
        {{error}}
    {% endif %}
    <div class="container">
        <div class="login-forms-box">
            <div class="text-center logo-login">
                <a href="{{ path('home') }}" id="cdt_mid_icon_neopharma">
                    <img src="{{ asset('_dist/image/img/logo-blue.png') }}" alt="Logo Neo Pharma">
                </a>
            </div>
            {# <div class="space-h-20 is-not-gestor">
                <div class="space-h-10">
                    <div class="facebookLoginButton btn-socials cdt_mid_btn_facebook" id="">
                        <i class="fa fa-facebook"></i><span>Cadastre-se com o Facebook</span>
                    </div>
                </div>
                <div class="space-h-10">
                    <div class="googleLoginButton btn-socials cdt_mid_btn_google" id="googleLoginButton">
                        <i class="fa fa-google"></i><span>Cadastre-se com o Google</span>
                    </div>
                </div>
            </div> #}

            <!--- Leads -->
            <div class="space-h-10 text-center">
                Cadastre-se aqui
            </div>
            <div class="lead">
                <form action="{{ path('lead-save') }}" method="POST" class="form" id="formLead">
                    <div class="space-h-10">
                        <label for="profile">  <span class="error" id="profile-error"></label>
                        <select name="p" class="form-control">
                            <option value="">Você é</option>
                            <option value="balconista">Balconista</option>
                            <option value="farmaceutico">Farmacêutico</option>
                            <option value="gestor-de-loja">Parceiro Neo Pharma Excelência</option>
                        </select>
                    </div>
                    <div class="space-h-10">
                        <label for="name">Nome * <span class="error" id="profile-name-error"></span></label>
                        <input type="text" name="n" class="form-control cdt_mid_frm_nome" required>
                    </div>
                    <div class="space-h-10">
                        <label for="email">E-mail * <span class="error" id="profile-email-error"></span></label>
                        <input type="email" name="m" class="form-control" required>
                    </div>
                    <div class="space-h-20">
                        <button type="button" class="btn-default btn-full btn-large btn-register-lead">Realizar cadastrar</button>
                    </div>
                </form>
            </div>

            <form action="{{ path('home-register') }}" method="post" class="form" id="form">
                <!--- Fase 01 - Balconista e Farmacêutico -->
                <div class="step-one" style="display: none">
                    <div class="space-h-10">
                        <label for="occupation">Função <span class="error" id="occupation-error"></label>
                        <input type="text" name="o" class="form-control o" required>
                        <input type="hidden" name="step" class="form-control step" value="two">
                    </div>
                    <div class="space-h-10">
                        <label for="name">Nome * <span class="error" id="occupation-name-error"></span></label>
                        <input type="text" name="o" class="form-control n" required>
                    </div>
                    <div class="space-h-10">
                        <label for="email">E-mail * <span class="error" id="occupation-email-error"></span></label>
                        <input type="email" name="m" class="form-control m" required>
                    </div>
                    <div class="space-h-20">
                        <button type="button" class="btn-default btn-full btn-large btn-step-one">Próxima fase</button>
                    </div>
                </div>
                <div class="step-two" style="display: none;">                 
                    <div class="is-not-gestor">
                        {# <div class="avatar-user-box text-center">
                            <div class="space-h-20">
                                <h2 class="text-center">Identificação</h2>
                            </div>
                            <figure>
                                <img id="user-avatar" src="{{ asset('_dist/image/img/avatar.jpg') }}" class="cdt_mid_frm_lnk_carregarimagem" />
                            </figure>
                            <input type="file" name="form[avatar]" id="" class="change-image-input" accept=".jpg,.png,.webp,.jpeg"/>
                            <div class="text-file-name"></div>
                            <div class="text-center space-h-10"><a href="#" class="text-gray change-image-btn cdt_mid_frm_lnk_carregarimagem" id="">Carregar imagem</a></div>
                        </div> #}
                        {# <div class="space-h-10">
                            <label for="register-name">Nome *</label>
                            <input type="text" id="register-name" name="form[name]" class="form-control cdt_mid_frm_nome" required>
                        </div>
                        <div class="space-h-10">
                            <label for="register-email">E-mail * <span class="error" id="email-error"></span></label>
                            <input type="email" id="register-email" name="form[email]" class="form-control cdt_mid_frm_email" required>
                        </div> #}
                        <div class="space-h-10">
                            <label for="register-cpf" id="label-for-cpf">CPF * <span class="error cpf-error" id="cpf-error"></span></label>
                            <input type="text" id="register-cpf" name="form[cpf]" class="form-control cdt_mid_frm_cpf register-cpf" required>
                        </div>
                        <div class="space-h-10" id="register-crf-hold" style="display:none">
                            <label for="register-crf">CRF * <span class="error" id="crf-error"></label>
                            <input type="text" id="register-crf" name="form[crf]" class="form-control">
                        </div>
                        
                        <div class="space-h-10" id="register-cnpj-farmaceutico-hold" style="display:none">
                            <label for="register-cnpj-farmaceutico">CNPJ <span class="error cnpj-error" id="cnpj-error"></span></label>
                            <input type="text" id="register-cnpj-farmaceutico" name="form[cnpj-farmaceutico]" class="form-control register-cnpj">
                        </div> 

                        <div class="space-h-10" id="register-state-hold" style="display:none">
                            <label for="register-state" id="label-register-state">Estado </label>
                            <select id="register-state" name="form[state]" class="form-control select-content">
                                <option value="">Selecione um Estado</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia </option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                        <div class="space-h-10"  id="register-cnpj-hold">
                            <label for="register-cnpj" id="label-for-cnpj">CNPJ da farmácia * <span class="error cnpj-error" id="cnpj-error"></span></label>
                            <input type="text" id="register-cnpj" name="form[cnpj]" class="form-control register-cnpj" required value=" ">
                        </div>
                        <div class="space-h-10">
                            <label for="register-friendIndication">Um amigo indicou o Portal Neo Pharma? <br>Digite aqui o código de indicação</label>
                            <input type="text" id="register-friendIndication" name="form[friendIndication]" class="form-control cdt_mid_frm_umamigoindicou" value="{{ app.request.get('code') }}">
                        </div>
                        <div class="space-h-10">
                            <label for="user-password">Senha*</label>
                            <input type="password" id="user-password" name="form[password]" class="form-control cdt_mid_frm_senha" autocomplete="off" required>
                        </div>
                        <div class="space-h-10">
                            <label for="user-passwordRepeat">Repetir Senha*<span class="error" id="passwordRepeat-error"></span></label>
                            <input type="password" id="user-passwordRepeat" name="form[passwordRepeat]" class="form-control cdt_mid_frm_repetirsenha" autocomplete="off" required>
                        </div>
                        <div class="space-h-20">
                            <div class="form-check">
                                <input type="checkbox" name="form[term]" id="agree-term" class="cdt_mid_frm_declaro" required/>
                                <label for="agree-term" class="form-check-label">
                                    <small class="text-gray">Declaro que li e aceito os <a class="show-terms">Termos e Condições de Uso</a></small>
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="form[newsletter]" class="cdt_mid_frm_aceito" id="agree-newsletter"  />
                                <label for="agree-newsletter" class="form-check-label">
                                    <small class="text-gray">Aceito receber e-mails sobre novidades da marca e seus produtos</small>
                                </label>
                            </div>
                        </div>
                        <p>
                            * Preenchimento obrigatório
                        </p>
                        <div class="space-h-20">
                            <button type="submit" class="btn-default btn-full btn-large cdt_mid_frm_sbm_cadastar">Cadastrar</button>
                        </div>
                    </div>                
                </div>
            </form> 
{#             
            <div class="is-gestor" style="display: none;">
                <form class="form" id="form-gestor" method="POST">
                    <h2 class="space-h-10 text-center">Insira o CNPJ e seu CPF para acessar.</h2>
                    <input type="radio" class="cdt_mid_frm_rbtn_gestor hide" id="select-register-gestor" name="form[type]" value="gestor" checked>
                    <div class="space-h-10"  id="gestor-cnpj-hold">
                        <label for="gestor-cnpj">CNPJ <span class="error" id="cnpj-login-error"></span></label>
                        <input type="text" id="gestor-cnpj" name="form[cnpj-gestor]" class="form-control register-cnpj" required>
                    </div>
                    <div class="space-h-10">
                        <label for="gestor-cpf">
                            CPF <span class="error" id="cpf-login-error"></span>
                                <span class="error gestor-msg cpf-error" id="cpf-error"></span>
                        </label>
                        <input type="text" id="gestor-cpf" name="form[cpf-gestor]" data-check="true" class="form-control register-cpf" required>
                    </div>
                    <div class="space-h-10" style="display: none;">
                        <h2 class="space-h-10 text-center gl-msg">O CPF está sendo utilizado, deseja trocar o perfil?</h2>
                    </div>
                    <div class="space-h-20">
                        <button type="button" id="btn-login-gestor" class="btn-default btn-login-gestor btn-full btn-large cdt_mid_frm_sbm_cadastar">Continuar</button>
                    </div>
                </form>
            </div>
         #}
           
            {# <div class="is-gestor-logged" style="display: none;">
                <form class="form form-gestor" id="form-gestor-logged" method="POST">
                    <div class="avatar-user-box text-center">
                        <div class="space-h-20">
                            <h2 class="text-center">Identificação</h2>
                        </div>
                        <figure>
                            <img id="user-avatar" src="{{ asset('_dist/image/img/avatar.jpg') }}" class="cdt_mid_frm_lnk_carregarimagem" />
                        </figure>
                        <input type="file" name="avatar" id="avatar-gestor" class="change-image-input" accept=".jpg,.png,.webp,.jpeg"/>
                        <div class="text-file-name"></div>
                        <div class="text-center space-h-10"><a href="#" class="text-gray change-image-btn cdt_mid_frm_lnk_carregarimagem" id="">Carregar imagem</a></div>
                    </div>

                    <div class="space-h-10" id="razao-social-text">
                        <label for="razao-social-gestor-text">Razão Social </label>
                        <p class="razao-social-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                    </div>

                    <div class="space-h-10" id="razao-social-input">
                        <label for="razao-social-gestor-logged">Razão Social * <span class="error" id="razao-social-g-error"></span></label>
                        <input type="text" id="razao-social-gestor-logged" name="razao_social" class="form-control" required>
                    </div> #}

                    {# <div class="space-h-10">
                        <label for="inscricao-estadual-gestor-logged">Inscrição Estadual * <span class="error" id="inscricao-estadual-g-error"></span></label>
                        <input type="text" id="inscricao-estadual-gestor-logged" name="inscricao_estadual" class="form-control" required>
                    </div> #}

                    {# <div class="space-h-10">
                        <input type="hidden" name="chage_profile" class="form-control is_chage_profile">
                    </div>
                    
                    <div class="space-h-10">
                        <label for="name-fantasia-gestor-logged">Nome fantasia * <span class="error" id="name-fantasia-g-error"></span></label>
                        <input type="text" id="name-fantasia-gestor-logged" name="name_fantasia" class="form-control" maxlength="50" required>
                    </div>

                    <div class="space-h-10">
                        <label for="cnpj-gestor-text">CNPJ da farmácia </label>
                        <p class="cnpj-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                    </div>

                    <div class="space-h-10" id="cpf-text">
                        <label for="cpf-gestor-text">CPF </label>
                        <p class="cpf-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                    </div>
                    
                    <div class="space-h-10">
                        <label for="name-gestor-logged">Nome do Responsável * <span class="error" id="name-g-error"></span></label>
                        <input type="text" id="name-gestor-logged" name="name" class="form-control" required>
                    </div>

                    <div class="space-h-10">
                        <label for="cep-gestor-logged">CEP *<span class="error" id="cep-g-error"></span></label>
                        <input type="text" id="cep-gestor-logged" name="cep" class="form-control consult-cep" maxlength="8" required>
                    </div>

                    <div class="space-h-10">
                        <label for="endereco-gestor-logged">Endereço *<span class="error" id="endereco-g-error"></span> <span style="font-size: 14px"> (Para alterar seu endereço, comece pelo seu CEP)</span></label>
                        <p class="endereco-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                        <input type="text" id="endereco-gestor-logged" name="endereco" class="form-control" style="display: none;" maxlength="100" required>
                    </div>

                    <div class="space-h-10">
                        <label for="numero-gestor-logged">N° *<span class="error" id="numero-g-error"></span></label>
                        <input type="text" id="numero-gestor-logged" name="numero" class="form-control" maxlength="20" required>
                    </div>

                    <div class="space-h-10">
                        <label for="complemento-gestor-logged">Complemento <span class="error" id="complemento-g-error"></span></label>
                        <input type="text" id="complemento-gestor-logged" name="complemento" class="form-control" maxlength="50" required>
                    </div>

                    <div class="space-h-10">
                        <label for="bairro-gestor-logged">Bairro *<span class="error" id="bairro-g-error"></span></label>
                        <p class="bairro-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                        <input type="text" id="bairro-gestor-logged" name="bairro" class="form-control" style="display: none;" maxlength="50" required>
                    </div>

                    <div class="space-h-10">
                        <label for="cidade-gestor-logged">Cidade *<span class="error" id="cidade-g-error"></span></label>
                        <p class="cidade-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                        <input type="text" id="cidade-gestor-logged" name="cidade" class="form-control" style="display: none;" maxlength="50" required>
                    </div>

                    <div class="space-h-10">
                        <label for="uf-gestor-logged">UF *<span class="error" id="uf-g-error"></span></label>
                        <p class="uf-gestor-text" style="font-weight: bold; font-size: 19px;"></p>
                        <input type="text" id="uf-gestor-logged" name="uf" class="form-control" style="display: none;" maxlength="2" required>
                    </div>

                    <div class="space-h-10">
                        <label for="ponto-referencia-gestor-logged">Ponto de referência *<span class="error" id="ponto-referencia-g-error"></span></label>
                        <input type="text" id="ponto-referencia-gestor-logged" name="ponto_referencia" class="form-control" maxlength="100" required>
                    </div>

                    <div class="space-h-10">
                        <label for="ddd-celular-gestor-logged">DDD *<span class="error" id="ddd-celular-g-error"></span></label>
                        <input type="text" id="ddd-celular-gestor-logged" name="ddd_celular" class="form-control" maxlength="2" required>
                    </div>
                    
                    <div class="space-h-10">
                        <label for="celular-gestor-logged">Celular *<span class="error" id="celular-g-error"></span></label>
                        <input type="text" id="celular-gestor-logged" name="celular" class="form-control" maxlength="10" required>
                    </div>

                    <div class="space-h-10">
                        <label for="email-gestor-logged">E-mail * <span class="error" id="mail-g-error"></span></label>
                        <p class="email-gl-text" style="font-weight: bold; font-size: 19px; display: none;"></p>
                        <input type="email" id="email-gestor-logged" name="mail" class="form-control cdt_mid_frm_email" required>
                    </div>

                    <div class="space-h-10" style="display: none !important;">
                        <label for="cpf-gestor-logged" id="label-for-cpf">CPF * <span class="error" id="cpf-g-error"></span></label>
                        <input type="text" id="cpf-gestor-logged" name="cpf" class="form-control cdt_mid_frm_cpf register-cpf" required>
                    </div>

                    <div class="space-h-10" style="display: none !important;">
                        <label for="cnpj-gestor-logged">CNPJ da farmácia * <span class="error" id="cnpj-g-error"></span></label>
                        <input type="text" id="cnpj-gestor-logged" name="cnpj" class="form-control register-cnpj">
                    </div>

                    <div class="space-h-10">
                        <label for="user-password">Senha * <span class="error" id="password-g-error"></span></label>
                        <input type="password" id="user-password" name="password" class="form-control cdt_mid_frm_senha" autocomplete="off" required>
                    </div>
                    <div class="space-h-10">
                        <label for="user-passwordRepeat">Repetir Senha*<span class="error" id="passwordRepeat-g-error"></span></label>
                        <input type="password" id="user-passwordRepeat" name="passwordRepeat" class="form-control cdt_mid_frm_repetirsenha" autocomplete="off" required>
                    </div>
                    <div class="space-h-20">
                        <div class="form-check">
                            <input type="checkbox" name="form[whatsApp]" class="cdt_mid_frm_whatsApp checked_whatsApp" id="agree-whatsApp"  />
                            <label for="agree-whatsApp" class="form-check-label">
                                <small class="text-gray">Aceito receber mensagens de whatsapp e SMS</small>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="term" id="agree-term" class="cdt_mid_frm_declaro term-checked" required/>
                            <label for="agree-term" class="form-check-label">
                                <small class="text-gray">Declaro que li e aceito os <a href="{{ path('home-term') }}" target="_blank" class="show-terms">Termos e Condições de Uso</a>  <span class="error termo-use-error" id="term-g-error"></span></small>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="form[newsletter]" class="cdt_mid_frm_aceito checked_aceito" id="agree-newsletter"  />
                            <label for="agree-newsletter" class="form-check-label">
                                <small class="text-gray">Aceito receber e-mails sobre novidades da marca e seus produtos</small>
                            </label>
                        </div>
                    </div>
                    <p>
                        * Preenchimento obrigatório
                    </p>
                    <div class="space-h-20">
                        <button type="button" id="btn-login-gestor" class="btn-default btn-register-gestor btn-full btn-large cdt_mid_frm_sbm_cadastar">Cadastrar</button>
                    </div>
                </form>
            </div> #} 
        
        </div>
    </div>
    <!-- Modal Excelência -->
    <div class="modal-default excelencia-modal">
        <div class="confirm-excelencia">
            <div class="confirm-excelencia-content">
                <a class="close-modal" id="close-excelencia-modal" onclick="core.hideMessage()">X</a>
                <div class="space-h-10">
                    <h3>Você faz parte do</h3>
                </div>
                <figure>
                    <img src="{{ asset('_dist/image/img/excelencia.png') }}" alt="Neo Pharma Excelência">
                </figure>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    <style>
        .btn-default.disable{background:#CCC; border:1px solid #CCC; color:#666; cursor:default;}
    </style>
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
        var checkEmailUrl = "{{path('api-check-email')}}";
        var checkCpfUrl = "{{path('api-check-cpf')}}";
        var checkCnpjUrl = "{{path('api-check-cnpj')}}";
        var checkCrfUrl = "{{path('api-check-crf')}}";
        var consultaGestorUrl = "{{path('home-consult-gestor')}}";
        var registerGestor = "{{path('register-gestor')}}";
        var consultaCorreios = "{{path('api-correios')}}";

        // ---------------------------------------------- lead ----------------------------
        $('.btn-register-lead').on('click', function(e) {
            var form = $('#formLead');
            var url = form.attr('action');
            console.log('url ', url)
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function(response)
                {
                    var lead = $('.lead'),
                        step_one = $('.step-one')
                    console.log('response', 'teste')
                    if (!response.status) {                       
                        if (response.error.hasOwnProperty('profile') ) {
                            $('#profile-error').text(response.error.profile);
                            console.log('profile ', response.error.profile)
                        }   
                        
                        if (response.error.hasOwnProperty('name') ) {
                            $('#profile-name-error').text(response.error.name)
                            console.log('name ', response.error.name)
                        }    
                        
                        if (response.error.hasOwnProperty('email') ) {
                            $('#profile-email-error').text(response.error.email);
                            console.log('email ', response.error.email)
                        }     
                    } else {
                        console.log('foii')
                        $('[name="o"]').val(response.field.o) 
                        $('[name="n"]').val(response.field.n)
                        $('[name="m"]').val(response.field.m)
                        lead.hide()
                        step_one.show()
                    }
                },
                error: function(error) {
                    console.log('error ' + error)
                    //alert('error ' + error)
                }
            });
        })

        $('[name="p"]').on("change", function(){
            $('#profile-error').text('');
        })
        
        $('[name="n"]').on("keyup", function(){
            $('#profile-name-error').text('');
        })

        $('[name="m"]').on("keyup", function(){
            $('#profile-email-error').text('');
        })
        //------------------------------------------------ end ------------------------------


        // ---------------------------------------------- lead ----------------------------
        $('.btn-step-one').on('click', function(e) {
            var form = $('#form');
            var url = form.attr('action')
            var data = {'name': $('.n').val(), 'email': $('.m').val(), 'type': $('.o').val(), 'step': $('.step').val()};
            console.log('step-one ', true)
            $.ajax({
                type: "POST",
                url: url,
                //data: form.serialize(), // serializes the form's elements.
                form: {
                    data
                }, // serializes the form's elements.
                success: function(response)
                {
                    var lead = $('.lead'),
                        step_one = $('.step-one')

                    if (!response.status) {                       
                        if (response.error.hasOwnProperty('profile') ) {
                            $('#profile-error').text(response.error.profile);
                            console.log('profile ', response.error.profile)
                        }   
                        
                        if (response.error.hasOwnProperty('name') ) {
                            $('#profile-name-error').text(response.error.name)
                            console.log('name ', response.error.name)
                        }    
                        
                        if (response.error.hasOwnProperty('email') ) {
                            $('#profile-email-error').text(response.error.email);
                            console.log('email ', response.error.email)
                        }     
                    } else {
                        console.log('foii')
                        $('[name="o"]').val(response.field.o) 
                        $('[name="n"]').val(response.field.n)
                        $('[name="m"]').val(response.field.m)
                        lead.hide()
                        step_one.show()
                    }
                },
                error: function(error) {
                    console.log('error ' + error)
                    //alert('error ' + error)
                }
            });
        })

        $('[name="profile"]').on("change", function(){
            $('#profile-error').text('');
        })
        
        $('[name="name"]').on("keyup", function(){
            $('#profile-name-error').text('');
        })

        $('[name="email"]').on("keyup", function(){
            $('#profile-email-error').text('');
        })
        //------------------------------------------------ end ------------------------------



        //--------------------------------------- daqui pra cima são códigos novos da versão 2.0 -------- 



        $('.consult-cep').on('blur', function(){
          
            var cep = $(this).val();
            var btn = $('.btn-register-gestor')

            if (cep.length < 9) {
                btn.attr("disabled", true);
                $('#cep-g-error').text('CEP INVÁLIDO');
                return false;
            }

            $('.endereco-gestor-text').text('');
            $('.bairro-gestor-text').text('');
            $('.cidade-gestor-text').text('');
            $('.uf-gestor-text').text('');

            $('[name="endereco"]').val('');  
            $('[name="bairro"]').val('');  
            $('[name="cidade"]').val('');  
            $('[name="uf"]').val('');   

            $.ajax({
                url: consultaCorreios,
                type: "POST",
                dataType: "json",
                data: {
                    'cep': cep, 
                },
                beforeSend: function(){
                    //btn.text('Carregando...');
                    btn.attr("disabled", true);
                },
                success: function (response) {
                    if (!response.status) {
                        $('#cep-g-error').text(response.message);
                        return false;
                    }

                    if (!response.endereco) {
                        $('[name="endereco"]').show();
                        $('.endereco-gestor-text').hide();
                    }

                    if (!response.bairro) {
                        $('[name="bairro"]').show();
                        $('.bairro-gestor-text').hide();
                    }

                    if (!response.cidade) {
                        $('[name="cidade"]').show();
                        $('.cidade-gestor-text').hide();
                    }

                    if (!response.uf) {
                        $('[name="uf"]').show();
                        $('.uf-gestor-text').hide();
                    }

                    $('.endereco-gestor-text').text(response.endereco);
                    $('.bairro-gestor-text').text(response.bairro + ' ' + response.complemento2);
                    $('.cidade-gestor-text').text(response.cidade);
                    $('.uf-gestor-text').text(response.uf);

                    $('#cep-g-error').text('');
                    $('#endereco-g-error').text('');
                    $('#bairro-g-error').text('');
                    $('#cidade-g-error').text('');
                    $('#uf-g-error').text('');

                    $('[name="endereco"]').val(response.endereco);  
                    $('[name="bairro"]').val(response.bairro + ' ' + response.complemento2);  
                    $('[name="cidade"]').val(response.cidade);  
                    $('[name="uf"]').val(response.uf);

                    btn.attr("disabled", false);
                }
            });
        });

            
        // gestor farmacia
        $(".btn-login-gestor:not(.disable)").on("click", function(){
            var $this = $(this);
            
            $.ajax({
                url: consultaGestorUrl,
                type: "POST",
                dataType: "json",
                data: {
                    'type': 'gestor',
                    'cnpj': $('#gestor-cnpj').val(), 
                    'cpf': $('#gestor-cpf').val(),
                    'change_profile': $('.is_chage_profile').val()
                },
                beforeSend: function(){
                    $this.text('Carregando...');
                    $this.attr("disabled", true);
                },
                success: function (response) {
                    if (response.status) {
                        console.log('success');
                        if (response.hasOwnProperty('change_profile') && response.hasOwnProperty('code')) {
                            
                            $(".gl-msg").parents('div').show()
                            $(".gl-msg").html(response.message)
                            $('.is_chage_profile').val(response.code)
                            $('#gestor-cnpj').attr("disabled", true)
                            $('#gestor-cpf').attr("disabled", true)
                            $this.text('Sim')

                            //$('#cnpj-login-error').text(response.message);
                        } else if(response.hasOwnProperty('elegivel') && response.box == 'register'){
                            
                            $('.is-gestor-logged').css('display', 'block');
                            $('.is-gestor, .is-not-gestor').css('display', 'none');
                            $('.list-choice').hide();
                            $('.what-occupation').hide();

                            $('#cnpj-gestor-logged').val(response.cnpj).mask('00.000.000/0000-00', {reverse: true});
                            $('#cpf-gestor-logged').val(response.cpf).mask('000.000.000-00', {reverse: true});
                            $('.cnpj-gestor-text').text(response.cnpj).mask('00.000.000/0000-00', {reverse: true});
                            $('.cpf-gestor-text').text(response.cpf).mask('000.000.000-00', {reverse: true});

                            if (response.razao.length > 0){ //se existit razão social
                                $('#razao-social-text').show();
                                $('#razao-social-input').hide(); 
                                $('.razao-social-gestor-text').text(response.razao);
                                $('[name="razao_social"]').val(response.razao);
                            } else {
                                $('#razao-social-input').show(); 
                                $('#razao-social-text').hide();
                                $('[name="razao_social"]').val(response.razao);
                            }
                               
                            //$('[name="inscricao_estadual"]').val(response.);  
                            $('[name="name_fantasia"]').val(response.fantasia);  
                            $('[name="cep"]').val(response.cep).mask('00000-000', {reverse: true});    
                            $('[name="endereco"]').val(response.logradouro);  
                            $('[name="numero"]').val(response.numero);  
                            $('[name="complemento"]').val(response.complemento);  
                            $('[name="bairro"]').val(response.bairro);  
                            $('[name="cidade"]').val(response.cidade);  
                            $('[name="uf"]').val(response.uf);  
                            $('[name="celular"]').val(response.num_celular).mask('00000-0000', {reverse: true});
                            $('[name="ddd_celular"]').val(response.ddd);
                            $('[name="mail"]').val(response.email);

                            if (response.hasOwnProperty('change_profile')) { //código faz parte da troca de perfil para gestor de loja
                                $('[name="name"]').val(response.nome);  
                                $('#email-gestor-logged').hide()
                                $('.email-gl-text').text(response.email).show();
                            } 
                           
                            $('.endereco-gestor-text').text(response.logradouro);
                            $('.bairro-gestor-text').text(response.bairro);
                            $('.cidade-gestor-text').text(response.cidade);
                            $('.uf-gestor-text').text(response.uf);
                            
                            //if (response.codigo == 0) {
                                //alert('teste1');
                                modalExcelencia();
                                //$('.menu_excelencia').html('<div class="menu_desafio_30_dias menu_excelencia_top"><a href="'+ response.url +'" class="check-if-is-logged mnu_excelencia" data-id="mnu_excelencia" style="cursor: pointer;">Neopharma<br> Excelência</a></div>');
                            //}
                            $this.text('Cadastrar');
                        } else if(response.hasOwnProperty('elegivel') && response.box == 'logged'){
                           $('#cnpj-login-error').text(response.message);
                           $('#cpf-g-error').text();
                           $this.text('Cadastrar');  
                        } 
                       // console.log('success');
                    } else {
                        $('#cnpj-login-error').text(response.message);
                        $('#cpf-g-error').text();  
                        $this.text('Cadastrar');                          
                    }
                     
                   $this.attr("disabled", false);
                } 
            });
        });
         

        // register farmacia
         $(".btn-register-gestor").on("click", function(){
            var $this = $(this);
            var term = 0;
            var whatsApp = 0; //whatsApp
            var form_data = new FormData(); 

            if ($('.term-checked').is(':checked')){
                term = 1;
            } 

            if ($('.checked_whatsApp').is(':checked')){ //whatsApp
                whatsApp = 1;
            } 

            if ($this.is('disabled')) {
                return false;
            }

            if ($('[name="ddd_celular"]').val().length < 2) {
                $this.attr("disabled", true);
                $('#ddd-celular-g-error').text('DDD inválido');
            }

            if ($('[name="celular"]').val().length < 10) {
                $this.attr("disabled", true);
                $('#celular-g-error').text('Número de celular inválido');
            }

            form_data.append('avatar', $('#avatar-gestor').prop('files')[0]);                  
            form_data.append('name', $('[name="name"]').val());
            form_data.append('cnpj', $('[name="cnpj"]').val());
            form_data.append('cpf', $('[name="cpf"]').val());
            form_data.append('mail', $('[name="mail"]').val());
            form_data.append('p', $('[name="password"]').val());
            form_data.append('pr', $('[name="passwordRepeat"]').val());
            form_data.append('term', term);
            /* news fields  */
            form_data.append('razao_social', $('[name="razao_social"]').val());  
            //form_data.append('inscricao_estadual', $('[name="inscricao_estadual"]').val());  
            form_data.append('name_fantasia', $('[name="name_fantasia"]').val());  
            form_data.append('cep', $('[name="cep"]').val());  
            form_data.append('endereco', $('[name="endereco"]').val());  
            form_data.append('numero', $('[name="numero"]').val());  
            form_data.append('complemento', $('[name="complemento"]').val());  
            form_data.append('bairro', $('[name="bairro"]').val());  
            form_data.append('cidade', $('[name="cidade"]').val());  
            form_data.append('uf', $('[name="uf"]').val());  
            form_data.append('celular', $('[name="celular"]').val());  
            form_data.append('ddd_celular', $('[name="ddd_celular"]').val());  
            form_data.append('ponto_referencia', $('[name="ponto_referencia"]').val());             
            form_data.append('whatsApp', whatsApp); //whatsApp            
            form_data.append('change_profile', $('.is_chage_profile').val()); //mudança de perfil para gestor de loja            
            /* end */
                   
            $.ajax({
                url: registerGestor,
                type: "POST",
                dataType: "json",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                beforeSend: function(){
                    $this.text('Carregando...');
                    $this.attr("disabled", true);
                },
                success: function (response) {
                    if(response.status){
                                                
                        window.location.href = response.url;                        
                    }else{
                        if(response.fields.hasOwnProperty('name')){
                            $('#name-g-error').text(response.fields.name);
                        }

                        if(response.fields.hasOwnProperty('mail')){
                            $('#mail-g-error').text(response.fields.mail);
                        }

                        if(response.fields.hasOwnProperty('cnpj')){
                            $('#cnpj-g-error').text(response.fields.cnpj);
                        }

                        if(response.fields.hasOwnProperty('cpf')){
                            $('#cpf-g-error').text(response.fields.cpf);
                        }
                        
                        if (response.fields.hasOwnProperty('passwordRepeat') ) {
                            $('#passwordRepeat-g-error').text(response.fields.passwordRepeat);
                        }

                        if (response.fields.hasOwnProperty('password') ) {
                            $('#password-g-error').text(response.fields.password);
                        }

                        if (response.fields.hasOwnProperty('term') ) {
                            $('#term-g-error').text(response.fields.term);
                        }

                        /* news fields */
                        if (response.fields.hasOwnProperty('razao_social') ) {
                            $('#razao-social-g-error').text(response.fields.razao_social);
                        }

                        /*
                        if (response.fields.hasOwnProperty('inscricao_estadual') ) {
                            $('#inscricao-estadual-g-error').text(response.fields.inscricao_estadual);
                        }
                        */

                        if (response.fields.hasOwnProperty('name_fantasia') ) {
                            $('#name-fantasia-g-error').text(response.fields.name_fantasia);
                        }

                        if (response.fields.hasOwnProperty('cep') ) {
                            $('#cep-g-error').text(response.fields.cep);
                        }

                        if (response.fields.hasOwnProperty('endereco') ) {
                            $('#endereco-g-error').text(response.fields.endereco);
                        }

                        if (response.fields.hasOwnProperty('numero') ) {
                            $('#numero-g-error').text(response.fields.numero);
                        }

                        if (response.fields.hasOwnProperty('complemento') ) {
                            $('#complemento-g-error').text(response.fields.complemento);
                        }

                        if (response.fields.hasOwnProperty('bairro') ) {
                            $('#bairro-g-error').text(response.fields.bairro);
                        }

                        if (response.fields.hasOwnProperty('cidade') ) {
                            $('#cidade-g-error').text(response.fields.cidade);
                        }

                        if (response.fields.hasOwnProperty('uf') ) {
                            $('#uf-g-error').text(response.fields.uf);
                        }

                        if (response.fields.hasOwnProperty('celular') ) {
                            $('#celular-g-error').text(response.fields.celular);
                        }

                        if (response.fields.hasOwnProperty('ddd_celular') ) {
                            $('#ddd-celular-g-error').text(response.fields.celular);
                        }

                        if (response.fields.hasOwnProperty('ponto_referencia') ) {
                            $('#ponto-referencia-g-error').text(response.fields.ponto_referencia);
                        }
                        /* end */

                        $this.text('Cadastrar');
                        $this.attr("disabled", false);
                    }
                                        
                }
               
            });
        });

        $('[name="name"]').on("keyup", function(){
            $('#name-g-error').text('');
        });
        $('[name="mail"]').on("keyup", function(){
            $('#mail-g-error').text('');
        });
        $('[name="cpf"]').on("keyup", function(){
            $('#cpf-g-error').text('');
        });
        $('[name="cnpj"]').on("keyup", function(){
            $('#cnpj-g-error').text('');
        });
        $('[name="password"]').on("keyup", function(){
            $('#password-g-error').text('');
        });
        $('[name="passwordRepeat"]').on("keyup", function(){
            $('#passwordRepeat-g-error').text('');
        });
        
        $('#gestor-cnpj').on("keyup", function(){
            $('#cnpj-login-error').text('');
        });

         /* news fields */
        
        $('[name="razao_social"]').on("keyup", function(){
            $('#razao-social-g-error').text('');
        });
        /*
        $('[name="inscricao_estadual"]').on("keyup", function(){
            $('#inscricao-estadual-g-error').text('');
        });
        */
        $('[name="name_fantasia"]').on("keyup", function(){
            $('#name-fantasia-g-error').text('');
        });

        $('[name="cep"]').on("keyup", function(){
            $('#cep-g-error').text('');
        });

        $('[name="endereco"]').on("keyup", function(){
            $('#endereco-g-error').text('');
        });

        $('[name="numero"]').on("keyup", function(){
            $('#numero-g-error').text('');
        });

        $('[name="complemento"]').on("keyup", function(){
            $('#complemento-g-error').text('');
        });

        $('[name="bairro"]').on("keyup", function(){
            $('#bairro-g-error').text('');
        });

        $('[name="cidade"]').on("keyup", function(){
            $('#cidade-g-error').text('');
        });

        $('[name="uf"]').on("keyup", function(){
            $('#uf-g-error').text('');
        });

        $('[name="ddd_celular"]').on("keyup", function(){
            $('#ddd-celular-g-error').text('');
        });

        $('[name="celular"]').on("keyup", function(){
            $('#celular-g-error').text('');
        });

        $('[name="ponto_referencia"]').on("keyup", function(){
            $('#ponto-referencia-g-error').text('');
        });
        /* end */

          
        $('.term-checked').on("click", function(){
            if ($(this).is(':checked')) {
                $('#term-g-error').text('');
            }
        });

        function modalExcelencia(){
            $('#mnu_excelencia').removeClass('hide');
            $('#mnu_excelencia').addClass('show');
             
            if($('.excelencia-modal').hasClass('open-menu')){
                $('.excelencia-modal').removeClass('open-modal');
            } else{
                $('.excelencia-modal').addClass('open-modal');
            }
        }
  

        $("#register-email").on("keyup", function(){
            var email = $(this).val();
            if(validateEmail(email)){
                $.ajax({
                    url: checkEmailUrl,
                    type: "POST",
                    dataType: "json",
                    data: {
                        e: email
                    },
                    beforeSend: function(){
                       $("#email-error").html("");
                       $('.cdt_mid_frm_sbm_cadastar').attr("disabled", true);
                    },
                    success: function (response) {
                        if (response.status) {
                            $("#register-email")[0].setCustomValidity("");
                            $("#email-error").html("");
                            $('.cdt_mid_frm_sbm_cadastar').attr("disabled", false);
                        } else {
                            $("#register-email")[0].setCustomValidity("Email está sendo utilizado.");
                            $("#email-error").html(" já está sendo utilizado.");
                            $('.cdt_mid_frm_sbm_cadastar').attr("disabled", true);
                        }
                    }
                });
            }
        });

        $(".register-cpf").on("keyup", function(){
            var cpf = $(this).val();
            var ischeckCpfExist = $(this).data('check') 

            $(".register-cpf")[0].setCustomValidity("");
            $(".cpf-error").html("");

            if (!cpf) {
               return false;
            }
            
            $.ajax({
                url: checkCpfUrl,
                type: "POST",
                dataType: "json",
                data: {
                    c: cpf,
                    e: ischeckCpfExist,
                },
                success: function (response) {
                    if (response.status) {
                        $(".register-cpf")[0].setCustomValidity("");
                        $(".cpf-error").html("")
                        //validação
                        $(this).parent().find('label').find('span').html("");
                        $('.btn-login-gestor').removeClass('disable');
                        $('.btn-login-gestor').attr("disabled", false);

                        
                    } else {
                        $(".register-cpf")[0].setCustomValidity(response.message);
                        $(".cpf-error").html(response.message);

                        //validação
                        $(".register-cpf")[0].setCustomValidity(response.message);
                        $("#cpf-error").html(response.message);
                        $(this).parent().find('label').find('span').html(response.message);
                        $('.btn-login-gestor').addClass('disable');
                        $('.btn-login-gestor').attr("disabled", true);
                    }
                }
            }); 
        });

        //validação CNPJ 
        $(".register-cnpj").on("keyup", function(){
            var cnpj = $(this).val();
            $(".register-cnpj")[0].setCustomValidity("");
            $(".cnpj-error").html("");

            if(valida_cpf_cnpj(cnpj)){
                $.ajax({
                    url: checkCnpjUrl,
                    type: "POST",
                    dataType: "json",
                    data: {
                        c: cnpj
                    },
                    success: function (response) {
                        if (response.status) {
                            $(".register-cnpj")[0].setCustomValidity("");
                            $(".cnpj-error").html("");
                        } else {
                            $("#register-cnpj")[0].setCustomValidity(response.message);
                            $(".cnpj-error").html(response.message);
                        }
                    }
                });

                $(this).parent().find('label').find('span').html("");
                if ($('.gestor-msg').text().trim().length == 0) {
                    $('.btn-login-gestor').removeClass('disable');
                } 
            } else {
                $(".register-cnpj")[0].setCustomValidity("CNPJ inválido.");
                $(".cnpj-error").html("CNPJ inválido.");
                $(this).parent().find('label').find('span').html("CNPJ inválido.");
                $('.btn-login-gestor').addClass('disable');
            }
        });

        $("#register-crf").on("keyup", function(){
            var crf = $(this).val();
            $("#register-crf")[0].setCustomValidity("");
            $("#crf-error").html("");
            if( $("#register-state").val() != ""){
                $.ajax({
                    url: checkCrfUrl,
                    type: "POST",
                    dataType: "json",
                    data: {
                        c: crf,
                        s : $("#register-state").val()
                    },
                    success: function (response) {
                        if (response.status) {
                            $("#register-crf")[0].setCustomValidity("");
                            $("#crf-error").html("");
                        } else {
                            $("#register-crf")[0].setCustomValidity(response.message);
                            $("#crf-error").html(response.message);
                        }
                    }
                });
            }
        });

        $("#register-state").on('change', function(){
            var state = $(this).val();
            $("#register-state")[0].setCustomValidity("");
            $("#crf-error").html("");
            if( $("#register-crf").val() != ""){
                $.ajax({
                    url: checkCrfUrl,
                    type: "POST",
                    dataType: "json",
                    data: {
                        c: $("#register-crf").val(),
                        s : state
                    },
                    success: function (response) {
                        if (response.status) {
                            $("#register-crf")[0].setCustomValidity("");
                            $("#crf-error").html("");
                        } else {
                            $("#register-crf")[0].setCustomValidity(response.message);
                            $("#crf-error").html(response.message);
                        }
                    }
                });
            }
        });

        //valida e-mail
        $("#email-gestor-logged").on("keyup", function(){
            var email = $(this).val();
            if(validateEmail(email)){
                $.ajax({
                    url: checkEmailUrl,
                    type: "POST",
                    dataType: "json",
                    data: {
                        e: email
                    },
                    beforeSend: function(){
                        $("#mail-g-error").html("");
                        $('.cdt_mid_frm_sbm_cadastar').attr("disabled", true);
                    },
                    success: function (response) {
                        if (response.status) {
                            $("#email-gestor-logged")[0].setCustomValidity("");
                            $("#mail-g-error").html("");
                            $('.cdt_mid_frm_sbm_cadastar').attr("disabled", false);
                        } else if ($('.is_chage_profile').val() == 'GL-001') {
                            $("#email-gestor-logged")[0].setCustomValidity("");
                            $("#mail-g-error").html("");
                            $('.cdt_mid_frm_sbm_cadastar').attr("disabled", false);
                        } else {
                            $("#email-gestor-logged")[0].setCustomValidity("Email está sendo utilizado.");
                            $("#mail-g-error").html(" já está sendo utilizado.");
                            $('.cdt_mid_frm_sbm_cadastar').attr("disabled", true);
                        }
                    }
                });
            }
        });

        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        $("#user-passwordRepeat").on("keyup", function(){
            var pass = $("#user-password").val();
            var repeatPass = $("#user-passwordRepeat").val();

            if(pass == repeatPass){
                $("#user-passwordRepeat")[0].setCustomValidity("");
                $("#passwordRepeat-error").html("");
            } else {
                $("#user-passwordRepeat")[0].setCustomValidity("As senhas não são equivalentes");
                $("#passwordRepeat-error").html("não é equivalente");
            }

        })
        

        function valida_cpf_cnpj(valor) {
            var valida = verifica_cpf_cnpj(valor);
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            if (valida === 'CPF') {
                return valida_cpf(valor);
            }
            else if (valida === 'CNPJ') {
                return valida_cnpj(valor);
            }
            else {
                return false;
            }
        } 
        function verifica_cpf_cnpj(valor) {
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            if (valor.length === 11) {
                return 'CPF';
            }
            else if (valor.length === 14) {
                return 'CNPJ';
            }
            else {
                return false;
            }
        }
        function valida_cpf(valor) {
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            var digitos = valor.substr(0, 9);
            var novo_cpf = calc_digitos_posicoes(digitos);
            var novo_cpf = calc_digitos_posicoes(novo_cpf, 11);
            if (novo_cpf === valor) {
                return true;
            } else {
                return false;
            }

        }
        function valida_cnpj(valor) {
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            var cnpj_original = valor;
            var primeiros_numeros_cnpj = valor.substr(0, 12);
            var primeiro_calculo = calc_digitos_posicoes(primeiros_numeros_cnpj, 5);
            var segundo_calculo = calc_digitos_posicoes(primeiro_calculo, 6);
            var cnpj = segundo_calculo;
            if (cnpj === cnpj_original) {
                return true;
            }
            return false;
        }
        function calc_digitos_posicoes(digitos, posicoes = 10, soma_digitos = 0) {
            digitos = digitos.toString();
            for (var i = 0; i < digitos.length; i++) {
                soma_digitos = soma_digitos + (digitos[i] * posicoes);
                posicoes--;
                if (posicoes < 2) {
                    posicoes = 9;
                }
            }
            soma_digitos = soma_digitos % 11;
            if (soma_digitos < 2) {
                soma_digitos = 0;
            } else {
                soma_digitos = 11 - soma_digitos;
            }
            var cpf = digitos + soma_digitos;
            return cpf;
        }

        $('.change-image-btn, .avatar-user-box img').on('click', function(e){
            e.preventDefault();
            $('.change-image-input').click();
        });

        $('.change-image-input').on('change', function() {
            var fileName = $(this)[0].files[0].name;
            $('.text-file-name').text('Arquivo: '+fileName);
            readURL(this);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#user-avatar').attr('src' , e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $('.register-cpf').mask('000.000.000-00');
        $('.register-cnpj').mask('00.000.000-0000/00');
        $('.consult-cep').mask('00000-000');
        $('#celular-gestor-logged').mask('00000-0000');
	</script>
{% endblock %}