{% extends 'base.html.twig' %}
{% set metadescription = 'O programa Neo Pharma Excelência é um programa de excelência da Neo Química para farmácias independentes. Acesse e saiba mais!' %}
{% set metatitle = 'Regulamento' %}
{% block title %}Regulamento{% endblock %}
{% set pageIndex = 'tuso' %}
{% block body %}

    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>REGULAMENTO – PROGRAMA NEO PHARMA EXCELÊNCIA</h1></div>
        </section>
        <div class="container">
            {# <header class="header-main text-center">
                <h3 class="text-gray text-normal"><strong>Última atualização:</strong> 07 de outubro de 2019</h3>
            </header> #}

            <div class="content-main content-text space-h-20">
                <p>
                    O programa Neo Pharma Excelência é um programa de excelência da Neo Química para farmácias independentes que promove, incentiva e reconhece seus participantes, pelas melhores práticas de execução, desenvolvimento e treinamento dos colaboradores, compras/abastecimento de estoques e sortimento adequado, onde a compra de produtos Neo Química realizada através de Distribuidores parceiros gera pontos que podem ser trocados por diversos prêmios.
                </p>
                <h2>1. PARTICIPANTES</h2>
                <p>
                    <strong>1.1.</strong> São considerados elegíveis a participar do Programa Neo Pharma Excelência, as farmácias selecionadas pela Neo Química e que sejam clientes dos distribuidores parceiros da Neo Química (“Farmácia Participante”) que se cadastrarem no Programa conforme as regras a seguir.
                </p>
                <p>
                    <strong>1.1.1.</strong> O cadastro da Farmácia Participante deve ser feito por uma pessoa física maior de 18 (dezoito) anos de idade, que seja dono ou responsável pela mesma.
                </p>
                <p>
                    <strong>1.1.2.</strong>	O cadastro deve ser feito através do Portal Neo Pharma (www.portalneopharma.com.br), clicando em “Cadastre-se”, escolhendo a opção “Parceiro Neo Pharma” e inserindo os dados solicitados, além de cadastrar uma senha pessoal para acesso ao site do Programa.
                </p>
                <p>
                    <strong>1.1.3.</strong> O cadastro só é válido mediante aceite do regulamento do programa e dos termos de uso do Portal Neo Pharma. 

                <h2>2. MECÂNICA</h2>
                <p>
                    <strong>2.1.</strong> Os pontos serão acumulados de acordo com o volume de compras no Distribuidor parceiro sob a mecânica de “Comprou, ganhou”.
                </p>
                <p>
                    <strong>2.2.</strong> A mecânica atual ocorre com a cada R$ 600 em compras acumuladas de produtos Neo Química, dentro do mês vigente, a Farmácia Participante recebe 10 pontos no Programa. Esta mecânica e este múltiplo (a cada R$ 600) poderá ser alterado, a qualquer momento a critério da Neo química mediante aviso prévio no site.
                </p>
                <p>
                    <strong>2.3.</strong> 2.3.	A lista de produtos elegíveis para computar a pontuação dentro do programa encontra-se disponível em <a href="https://portalneopharma.com.br/produtos">https://portalneopharma.com.br/produtos</a>, mediante login na plataforma.
                </p>
                <p>
                    <strong>2.4.</strong> Será considerado o valor total da Nota Fiscal emitida dentro do mês vigente para computação de pontos.
                </p>
                <p>
                    <strong>2.5.</strong> Os pontos só serão computados e considerados válidos se não ocorrerem devoluções dos produtos adquiridos.
                </p>
                <p>
                    <strong>2.6.</strong> Adicionalmente, serão lançados aceleradores como forma de ganhar mais pontos através da compra de produtos focos, execução de campanhas especiais, treinamentos e outras regras definidas previamente pela Neo Química. As condições de liberação da pontuação adicional estarão previstas em um regulamento apartado que será disponibilizado ao Participante na época da realização de cada campanha aceleradora, sem prejuízo da aplicação das regras gerais previstas neste Regulamento.
                </p>

                <h2>3. PONTUAÇÃO</h2>
                <p>
                    <strong>3.1.</strong> Dentro deste programa 1 ponto corresponde a R$ 1,00 (Um real) para troca por prêmios. 
                </p>
                <p>
                    <strong>3.2.</strong> A pontuação será liberada até o 15º (décimo quinto) dia útil do mês subsequente mediante cumprimento das regras de compras.
                <p>
                    <strong>3.3.</strong> Durante a vigência do Programa poderão ser criadas novas categorias de pontuação como forma de acelerar o acúmulo de pontos, única e exclusivamente a critério da Neo Química. Sempre que isso ocorrer, todos os participantes serão informados através de comunicados por e-mail, SMS e pelo site do Programa Neo Pharma Excelência.
                </p>
                <p>
                    <strong>3.4.</strong> Em nenhuma hipótese, os pontos acumulados no Programa Neo Pharma Excelência serão convertidos total ou parcialmente em dinheiro.
                </p>
                <p>
                    <strong>3.5.</strong> Os Pontos acumulados pela farmácia participante são intransferíveis. Em hipótese alguma e em nenhum momento do Programa será permitido que um Participante registre, comercialize, negocie, transfira ou ceda seus Pontos para outro Participante do Programa ou para terceiros. Da mesma maneira, é proibida a comercialização, transferência, negociação ou cessão de Produtos e Serviços objeto do Programa, que somente serão disponibilizados pela Neo Química diretamente ao Participante cadastrado no Programa que solicitou o resgate.
                </p>
                <p>
                    <strong>3.6.</strong> Em casos onde 2 ou mais Farmácia Participantes possuírem o mesmo gestor (Pessoa Física), a pontuação será acumulada no mesmo CPF na plataforma de troca de prêmios.
                </p>
                <p>
                    <strong>3.7.</strong> Os pontos creditados poderão ser resgatados no prazo máximo de 18 meses, a validade será computada a partir da data de recebimento de cada crédito. Os débitos serão realizados pelas datas de vencimento mais próximas para as mais distantes.
                </p>
                <p>
                    <strong>3.8.</strong> Caso a Farmácia Participante deseje retirar-se ou seja excluído do Programa, por qualquer motivo, incluindo o fechamento do ponto comercial, ela terá o prazo de 30 dias para solicitar que sua pontuação seja trocada por prêmio. Se não houver a troca nesse período, os pontos serão automaticamente expirados.
                </p>

                <h2>4. RESGATE E ENTREGA DE PRODUTOS E SERVIÇOS</h2>
                <p>
                    <strong>4.1.</strong> Os prêmios do catálogo on-line (e-commerce) têm caráter meramente indicativo e poderão sofrer alteração, assim como os valores, de acordo com o formato padrão de comércio eletrônico. Caso algum prêmio seja descontinuado ou esteja indisponível, pode não haver substituição deste ou os valores podem ser alterados após o reabastecimento do estoque por parte do fornecedor. A inserção de produtos na lista de desejos não garante estoque, disponibilidade e/ou valores do item. 
                </p>
                <p>
                    <strong>4.2.</strong> Os detalhes e especificações técnico-funcionais dos prêmios exibidos, assim como a qualidade, imagens e a garantia dos produtos e/ou serviços existentes, são fornecidas pelos parceiros que detém a responsabilidade sobre essas informações.
                </p>
                <p>
                    <strong>4.3.</strong> As mercadorias serão entregues somente no território nacional, de acordo com a disponibilidade de envio por parte do fornecedor informada no momento do resgate. As entregas serão feitas no endereço informado pelo Participante do Programa no momento do resgate. O Participante autoriza que suas informações cadastrais (nome e endereço completos), sejam divulgadas ao fornecedor do prêmio solicitado para o cadastramento e seu envio. 
                </p>
                <p>
                    <strong>4.4.</strong> A realização da entrega dos prêmios resgatados é de responsabilidade exclusiva do fornecedor selecionado no momento do resgate.
                </p>                    
                <p>
                    4.5.</strong> Os custos de distribuição e entrega dos prêmios (frete) serão descontados da pontuação dos participantes no momento do resgate do prêmio.
                </p>
                <p>
                    <strong>4.6.</strong> Caso não seja possível entregar o prêmio devido a informações incorretas por parte do Participante ou, havendo insucesso em (3) três tentativas de entrega pelo fornecedor, o resgate será cancelado e os respectivos pontos utilizados no resgate serão estornados, porém o valor do frete não será devolvido.
                </p>
                <p>
                    <strong>4.7.</strong> A promotora da Campanha não se responsabiliza pela não entrega do prêmio em nenhuma hipótese após o pedido ter sido enviado ao fornecedor do produto.
                </p>
                <p>
                    <strong>4.8.</strong> Os Produtos resgatados no catálogo da plataforma dentro do Portal do Programa Neo Pharma Excelência serão entregues diretamente no endereço informado pelo Participante. Produtos disponibilizados de forma virtual como vales-presente, por exemplo, serão enviados para o endereço eletrônico (e-mail) informado pelo Participante.
                </p>
                <p>
                    <strong>4.9.</strong> Na hipótese de ser constatada qualquer irregularidade no prêmio no ato do recebimento, para efeitos de troca, o Participante deverá seguir as regras do fornecedor dos produtos. 
                </p>
                <p>
                    <strong>4.9.1.</strong> Salientamos que Prazos, Verificações, Trocas e/ou Impossibilidade de Entrega é de responsabilidade da Transportadora, bem como da empresa parceira que fornece o prêmio ao Participante. Portanto, a Neo Química não se responsabiliza por qualquer inconveniente que possa vir a acontecer envolvendo essas características de entrega e defeitos dos produtos.
                </p>
                <p>
                    <strong>4.10.</strong> A Neo Química não se responsabiliza pelas especificações técnicas, funcionamento, manuseio, garantias, segurança, tampouco pela qualidade dos Produtos ou Serviços adquiridos pelo Participante, e, portanto, qualquer responsabilização ou dano nesse sentido será exclusiva dos fornecedores e fabricantes de bens e Serviços que o Participante adquirir.
                </p>

                <h2>5. VIGÊNCIA DO PROGRAMA</h2>
                <p>
                    <strong>5.1.</strong> O Programa Neo Pharma Excelência possui prazo indeterminado e poderá ser cancelado a qualquer momento a exclusivo critério da Neo Química sem qualquer aviso prévio. Em caso de cancelamento, a pontuação arrecadada e não resgatada pelo participante ficará disponível para ser realizada a troca dos pontos no período de 30 dias contados do cancelamento do programa. 
                </p>
                <p>
                    <strong>5.2.</strong> O Programa Neo Pharma Excelência também poderá, a qualquer momento, cancelar a participação de qualquer pessoa inscrita no Programa, nos casos abaixo listados, ocasião em que o Participante automaticamente perderá o direito de resgatar os pontos até então acumulados:
                </p>
                <p>
                    <strong>5.2.1.</strong> Qualquer prática ilegal, má conduta ou mau uso do Programa, fraude ou em desencontro a qualquer item deste regulamento;
                </p>
                <p>
                    <strong>5.2.2.</strong> Fornecimento de informações falsas para realização de cadastro no programa.
                </p>
                <p>
                    <strong>5.2.3.</strong> Fornecimento de informações falsas para realização de transações no programa.
                </p>
                <p>
                    <strong>5.2.4.</strong> Fornecimento de login, senha e informações para terceiros não autorizados.
                </p>
                <p>
                    <strong>5.2.5.</strong>	O PDV não ter realizado compra de Neo Química com 6 meses consecutivos.
                </p>
                <p>
                    <strong>5.3.</strong> O Participante, por outro lado, poderá a qualquer momento cancelar sua participação no Programa Neo Pharma Excelência, bastando para isso entrar em contato com a central de atendimento do Programa através do canal “Fale conosco” localizada no portal.
                </p>
                <p>
                    <strong>5.3.1.</strong> Nos casos de cancelamento da participação solicitada pelo Participante ou encerramento do Programa pela Neo Química e desde que o Participante não incorra nas hipóteses previstas no Item 5.2 acima, o Participante terá o prazo de 30 (trinta) dias contatos da data da comunicação do cancelamento/encerramento para resgatar os pontos até então acumulados. Após este prazo os pontos estarão automaticamente expirados e não poderão mais ser utilizados.
                </p>
                <p>
                    <strong>5.3.2.</strong> Ao término do programa, o saldo de pontos inferior ao necessário para troca pelo prêmio mínimo será expirado. Os pontos não serão transferidos para o programa seguinte.
                </p>
                <h2>6. CONSIDERAÇÕES GERAIS</h2>
                <p>
                    <strong>6.1.</strong> Os Participantes autorizam o uso de sua imagem, voz e nome para divulgação do Programa Neo Pharma Excelência e para fins institucionais, sem qualquer ônus para a Neo Química, que poderá fazer uso em qualquer tipo de mídia e a qualquer tempo.
                </p>
                <p>
                    <strong>6.2.</strong> Os Participantes desde já autorizam contato por meio telefônico, SMS, aplicativos de mensagens, correio eletrônico e envio de mala direta com cunho institucional, comercial e informativo, a fim de viabilizar a comunicação entre as Partes.
                </p>
                <p>
                    <strong>6.3.</strong> Serão de responsabilidade dos Participantes as informações fornecidas no cadastramento.
                </p>
                <p>
                    <strong>6.4.</strong> A participação no Programa Neo Pharma Excelência não caracteriza, sob nenhum aspecto e hipótese, vínculo empregatício, vínculo associativo, bem como não existe a constituição de qualquer modalidade de sociedade, de distribuição, de representação ou outro semelhante entre a Neo Química e os Participantes inscritos, seja a que título for.
                </p>
                <p>
                    <strong>6.5.</strong> A Neo Química decidirá, de forma soberana, sobre qualquer assunto controverso que esteja previsto ou não neste regulamento e poderá alterar as regras ou suspender o programa a qualquer momento.
                </p>
                <p>
                    <strong>6.6.</strong> O presente Regulamento encontra-se disponível para consulta no endereço eletrônico www.portalneopharma.com.br e permanecerá vigente até que substituído, a critério da Neo Química.
                </p>
                <p>
                    <strong>6.7.</strong> Ao aderir a promoção o Participante concorda expressamente que todos os dados pessoais fornecidos e os demais dados que vierem a ser coletados dos Participantes durante a promoção e na entrega da premiação poderão ser compartilhados com a Neo Química, suas afiliadas ou parceiros, vinculados ou contratados para execução do programa, sempre de forma confidencial. Os dados dos Participantes serão usados para fins de monitorar sua participação na promoção, oferecer descontos em produtos, prover informações que possam interessar ao Participante, gerar relatórios estatísticos e para demais assuntos institucionais.
                </p>
                <p>
                    <strong>6.8.</strong> Os Participantes, ao fazerem sua inscrição, concordam com todos os termos e condições presentes neste instrumento relacionados estritamente com este Programa, bem como concordam em aceitá-los sem direito à futuras reivindicações ao Programa, bem como também concordam em isentar o mesmo e/ou qualquer empresa envolvida no programa, suas companhias coligadas, subsidiárias e afiliadas, inclusive seus respectivos funcionários, representantes, prestadores de serviços e agentes ou qualquer outra pessoa ou organização envolvida diretamente ou indiretamente com este Programa, de toda e qualquer demanda ou ação legal consequente de sua participação ou recebimento e utilização de qualquer prêmio.
                </p>
                <p>
                    <strong>6.9.</strong> Este programa poderá, a exclusivo critério da Comissão Organizadora, sofrer alterações em sua programação e regras sem aviso prévio.
                </p>
                <p>
                    <strong>6.10.</strong> Fica, desde já, eleito o foro da Comarca da Capital de São Paulo, do Estado de São Paulo para solução de quaisquer questões referentes ao presente instrumento ou ao programa.
                </p>
                {% if app.user %}
                    {% if not app.user.isRegulation %}
                        <div class="form-src text-center" id="form-src">
                            <form action="{{ path('gestor-regulation') }}" method="POST" style="font-size: 20px;">
                                <input type="checkbox" name="r" value="1" id="accept"> <label for="accept" style="font-size: 23px;">Aceito o regulamento</label>
                                <div class="space-h-10"><button type="submit" name="e" class="btn-default btn-full">Salvar</button></div>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}

                
            </div>
        </div>
    </div>
    <style>
        .page-gestor-regulation .search-global, .regulation .search-global{
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
{% endblock %}