{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Lenbrar senha{% endblock %}
{% set pageIndex = 'lbs' %}
{% block body %}
    {% if error is defined %}
        {{error}}
    {% endif %}
    <div class="page-not-banner">
        <div class="container">
            <div class="login-forms-box">
                <div class="text-center logo-login">
                    <a href="{{ path('home') }}" id="lbs_mid_icon_neopharma">
                        <img src="{{ asset('_dist/image/img/logo-blue.png') }}" alt="Logo Neo Pharma">
                    </a>
                </div>
                <div class="space-h-20 text-center">
                    <h2 class="space-h-10">Recupere sua senha</h2>
                    <p>Digite o e-mail cadastrado e enviaremos instruções para recuperar a senha.</p>
                    {% if status is defined %}
                        <div class="space-h-10">
                            <h2 class="text-center">{{ status }}</h2>
                        </div>
                    {% endif %}
                </div>
                <form action="{{path('home-remember-password')}}" method="post" class="form" id="form-remember">
                    <div class="space-h-10">
                        <label for="email-remember">E-mail:</label>
                        <input type="email" id="email-remember" name="form[email]" class="form-control lbs_mid_frm_email">
                    </div>
                    <div class="space-h-20">
                        <button type="submit" class="btn-default btn-full btn-large lbs_mid_frm_sbm_enviar">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}