{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Busca - {% endblock %}

{% block body %}
    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>Busca</h1></div>
        </section>
        <header class="header-main text-center">
            <div class="container">
                <h3 class="text-gray">Sua busca por “{{q}}” retornou {{totalResults}} resultados</h3>
            </div>
        </header>

        <div  class="space-h-40">
            <section class="posts-section-main">
                <div class="container">
                    <div class="posts-list">
                    {% if result|length > 0 %}
                    {% for r in result %}
                        {% if r.class != 'campaing' and r.class != 'product' %}
                            {% include 'component/content-structure.html.twig' with { 'object' : r.object, 'cat' : r.cat, 'class' : r.class }%}
                        {% elseif r.class == 'product' %}
                        <div class="product-section">
                            <div class="prod-box d-flex justify-content-between align-items-center">
                                <figure>
                                    <a href="{{path('product_detail',{'slug' : r.object.slug})}}">
                                        <img src="{{asset( r.object.assets[0] is defined ? r.object.assets[0].file : '' )}}" alt="{{r.object.name}}" class="visible-xs">
                                        <img src="{{asset( r.object.assets[0] is defined ? r.object.assets[0].file : '' )}}" alt="{{r.object.name}}" class="hidden-xs">
                                    </a>
                                </figure>

                                <div class="prod-info">
                                    <h2>{{ r.object.name }}</h2>
                                    <p>
                                        {{ r.object.activeSubstance }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% elseif r.class == 'campaing' %}
                            <div class="list-videos cat-4 space-h-20">
                                <div class="video-item">
                                    <a href="{{path('campanhas_home', {'cid' : r.object.id})}}">
                                        <figure>
                                            <!-- Desktop -->
                                            <img src="/_dist/image/img/blank.gif" style="background-image: url({{asset(r.object.image)}}), url('/_dist/image/default_desktop.png');" alt="Video 1" class="thumb-video hidden-xs">
                                            <!-- Mobile -->
                                            <img src="/_dist/image/img/blank.gif" style="background-image: url({{asset(r.object.imageMobile)}}), url('/_dist/image/default_desktop.png');" alt="Video 1" class="thumb-video visible-xs">
                                        </figure>
                                        <div class="info-video">
                                            <h3>{{r.object.title}}</h3>
                                            <p>
                                                {{r.object.shortDescription}}
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if totalPages > 1%}
                    <div class="space-h-20">
                        <div class="pagination" id="pagination">
                            <div class="pagination">
                                {% if thisPage != 0 %}
                                    <span class="next">
                                        <a href="{{path('home-search',{'q': q, 'page': 1})}}">&lt;&lt;</a>
                                    </span>
                                    <span class="last">
                                        <a href="{{path('home-search',{'q': q, 'page': thisPage })}}">&lt;</a>
                                    </span>
                                {% endif %}
                                {% for i in 1..totalPages %}
                                    {% if i == thisPage + 1 %}
                                        <span class="current">{{i}}</span>
                                    {% else %}
                                        <span class="page">
                                            <a href="{{path('home-search',{'q': q, 'page': i})}}">{{i}}</a>
                                        </span>
                                    {% endif %}
                                {% endfor %}
                                {% if thisPage + 1 != totalPages %}
                                    <span class="next">
                                        <a href="{{path('home-search',{'q': q, 'page': thisPage + 2})}}">&gt;</a>
                                    </span>

                                    <span class="last">
                                        <a href="{{path('home-search',{'q': q, 'page': totalPages})}}">&gt;&gt;</a>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% else %}
                    <h2>Desculpe, não encontramos nenhum resultado para “{{q}}”</h2>
                {% endif %}
            </div>
            </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    dataLayer.push({
        'event': 'gaEvent',
        'event_name': 'search',
        'event_section': 'home',
        'event_local': "{{app.request.get('o')}}",
        'search_term': '{{q}}',
    });
</script>
{% endblock %}