<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>portal Neopharma</title>
        <meta charset="utf-8">
    </head>
    <body style="background:#2b2d8a;">
        <div>
            <img src="{{ asset('_dist/image/img/tapume.png')}}" alt="Novo Portal Neo Pharma - Criado por Neo Química">
        </div>
    </body>
    <style type="text/css">
        body{
            height: 100vh;
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        div{
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img{
            max-width: 100%;
            display: block;
        }

        @media screen and (max-width: 992px) {
            img{
                width: 70%;
                max-width: 100%;
            }    
        }
    </style>
</html>