{% extends 'base.html.twig' %}
{% set metadescription = 'Termos e condições de uso - Portal Neo Pharma a plataforma da Neo Química destinada a profissionais de saúde que trabalham em farmácias.' %}
{% set metatitle = 'Termos de uso' %}
{% block title %}Termos de uso{% endblock %}
{% set pageIndex = 'tuso' %}
{% block body %}

    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>TERMOS E CONDIÇÕES DE USO DA PLATAFORMA “NEO PHARMA”</h1></div>
        </section>
        <div class="container">
            <header class="header-main text-center">
                <h3 class="text-gray text-normal"><strong>Última atualização:</strong> 08 de agosto de 2022</h3>
            </header>

            <div class="content-main content-text space-h-20">
                <p>
                    Obrigado por escolher a <strong>HYPERA!</strong>
                </p>
                <p>
                    Os presentes Termos e Condições de Uso regem os Serviços disponibilizados pela <strong>Hypera</strong> a você, Usuário, na forma da <strong>Plataforma NEO PHARMA</strong>.
                </p>
                <p>
                    O USUÁRIO DEVERÁ LER CUIDADOSAMENTE ESTES TERMOS E CONDIÇÕES ANTES DE ACESSAR OU UTILIZAR OS SERVIÇOS. Caso não concorde com estes Termos, o Usuário não deve utilizar os Serviços nem enviar qualquer dado pessoal à HYPERA.
                </p>
                <p>
                    O acesso e a utilização dos Serviços pelo Usuário estão sujeitos a estes Termos e Condições de Uso, os quais deverão ser lidos e aceitos pelo Usuário antes de acessar e utilizar os Serviços.
                </p>
                <p>
                    A coleta e o tratamento de dados pessoais associados aos Serviços estão disciplinados na Política de Privacidade da Neo Pharma, disponibilizada para o Usuário no sítio eletrônico: <a href="{{ path('home-privacy') }}">https://www.portalneopharma.com.br/politica-de-privacidade</a>.
                </p>


                <h2>1.	Definições</h2>

                <p>
                    Para os fins destes Termos de Uso, as seguintes expressões terão o seguinte significado:
                </p>
                <p>
                    <strong>"Hypera":</strong> HYPERA S.A., pessoa jurídica de direito privado, inscrita no CNPJ sob o nº 02.932.074/0001-91, com sede na Rua Nova Cidade, nº 404, Vila Olímpia, São Paulo – SP, CEP 04547-070.
                </p>
                <p>
                    <strong>"Medalhas”:</strong> bótons digitais que representam marcos de interação do Usuário com a Plataforma;
                </p>
                <p>
                    <strong>"Conta":</strong> conta do Usuário dos Serviços;
                </p>
                <p>
                    <strong>"Conteúdo de Usuário":</strong> conteúdo ou informação em formato de texto, áudio ou visual, incluindo comentários e reações relacionados aos Serviços;
                </p>
                <p>
                    <strong>"Dados do Usuário":</strong> todas as informações referentes ao Usuário, o que pode incluir informações comerciais, estratégicas, sigilosas e Dados Pessoais do próprio Usuário (quando pessoa física) ou de seu representante (quando pessoa jurídica);
                </p>
                <p>
                    <strong>“Dados Pessoais”:</strong> toda e qualquer informação relacionada a uma pessoa identificada ou identificável;
                </p>
                <p>
                    <strong>"Plataforma":</strong> sítio eletrônico <a href="{{ path('home') }}">www.portalneopharma.com.br</a> e aplicativo “Neo Scan”, disponível nas plataformas Android e iOS, além de qualquer outro meio disponibilizado pela HYPERA como parte dos Serviços;
                </p>
                <p>
                    <strong>"Serviços":</strong> conteúdo, produtos e serviços do Aplicativo, disponibilizados pela HYPERA, para acesso ou uso pelo Usuário;
                </p>
                <p>
                    <strong>"Termos de Uso":</strong> os presentes Termos e Condições de Uso da Plataforma Neo Pharma;
                </p>
                <p>
                    <strong>"Usuário":</strong> pessoa física ou jurídica que acesse ou use os Serviços.
                </p>

                <h2>2.	Condições de Uso e Aceite</h2>

                <p>
                    <strong>Objeto.</strong> Estes Termos de Uso têm por objeto regular todos os serviços oferecidos por meio da Plataforma Neo Pharma (“Plataforma”) e poderão ser visualizados a qualquer momento pelo Usuário, por meio do link <a href="https://www.portalneopharma.com.br/termos-de-uso">https://www.portalneopharma.com.br/termos-de-uso</a>
                </p>
                <p>
                    <strong>Quem pode utilizar a Plataforma.</strong> Para utilizar os Serviços, o Usuário tem de registrar e manter uma Conta na Plataforma. O Usuário <strong>(i)</strong> deve ter pelo menos 18 anos completos de idade para acessar e utilizar os Serviços; <strong>(ii)</strong> deve ser balconista/atendente/vendedor de farmácia ou estabelecimento similar ou farmacêutico devidamente inscrito em seu conselho profissional; e <strong>(iii)</strong> deve ser empregado ou de outra forma colaborador de uma farmácia ou estabelecimento autorizado a dispensar produtos farmacológicos ao público, conforme regulamentação aplicável. As Contas que não preencham tais requisitos ou que sejam criadas em violação a estes Termos, seja por descoberta fortuita ou denúncia de terceiro, serão prontamente suspensas ou canceladas, a exclusivo critério da HYPERA, sem prejuízo das demais sanções legais aplicáveis.
                </p>
                <p>
                    O registro para obtenção de uma Conta exige o fornecimento de determinados dados pessoais à HYPERA, tais como o nome, e-mail, telefone, endereço, número do CPF (Cadastro de Pessoa Física), número de inscrição no CRF (Conselho Regional de Farmácia), sendo que o tratamento desses dados está disciplinado na Política de Privacidade.
                </p>
                <p>
                    <strong>Ao acessar a Plataforma e utilizar os serviços nela disponibilizados, o Usuário concorda com os Termos de Uso.</strong> Se o Usuário não concordar com os Termos de Uso ou com qualquer uma de suas cláusulas, deverá abster-se de utilizar a Plataforma. Caso tenha dúvidas sobre algum ponto aqui previsto, poderá entrar em contato com a HYPERA, por meio dos canais mencionados no item “Fale com a HYPERA”.
                </p>
                <p>
                    Estes Termo de Uso substituem quaisquer outros Termos ou Acordos relacionados ao mesmo objeto, os quais tenham sido firmados entre o Usuário e a HYPERA. 
                </p>

                <h2>3.	Serviços</h2>
                <p>
                    O Usuário, ao utilizar a Plataforma terá acesso a Serviços que disponibilizarão diversos materiais educativos, informativos, de extensão e auxiliares às atividades profissionais dos Usuários, o que pode incluir, mas não se limita a, cursos à distância fornecidos online, textos e matérias informativas, programação informativa em áudio digital (podcasts e semelhantes), programação informativa em vídeo digital, quizzes para testes de conhecimento,  entre outros conteúdos que tenham relação com produtos farmacológicos, produtos e serviços fornecidos pela HYPERA, conteúdos de formação para profissionais da área, além de conteúdo publicitário próprio ou de terceiros que tenham relação com tais temas.
                </p>
                <p>
                    O Usuário, ao utilizar a Plataforma, fica ciente sobre a funcionalidade da Gamificação Neo Química Conquista da Plataforma (“Neo Química Conquista”), que tem por finalidade divulgar, incentivar, motivar e fidelizar balconistas, gestores de loja e farmacêuticos a utilização da Plataforma por meio da distribuição de pontos e Medalhas, de acordo com as regras dispostas no item “Neo Química Conquista”.
                </p>
                <p>
                    Os Serviços serão disponibilizados na Plataforma, seja por meio de aplicativo ou do sítio eletrônico, podendo o Usuário formalizar o seu cadastro informando o respectivo cargo (balconista ou farmacêutico), alterar seus dados cadastrais, cancelar seu cadastro e ainda obter ajuda sobre a Plataforma. 
                </p>
                <p>
                    <strong>Funcionalidades.</strong> As funcionalidades disponíveis na Plataforma serão definidas e disponibilizadas a exclusivo critério da HYPERA, podendo determinadas funcionalidades serem descontinuadas sem qualquer direito a indenização ou compensação ao Usuário.
                </p>
                <p>
                <strong> Preço.</strong> A Plataforma é disponibilizada, por tempo indeterminado e a exclusivo critério da HYPERA, a título gratuito. A HYPERA pode vir a cobrar pelo acesso aos Serviços a qualquer momento, mediante notificação prévia ou notificação expressa na própria Plataforma, em caso de Serviços pagos específicos.
                </p>
                <p>
                    <strong>Acesso.</strong> O acesso à Plataforma poderá ser feito pelo aplicativo “Neo Pharma”, disponível tanto para Android, quanto para iOS (“Aplicativo”), que poderá ser baixado nas respectivas Lojas de Aplicativos do “Google” ou “Apple”, ou por meio do sítio eletrônico, no endereço “<a href="{{ path('home') }}">www.portalneopharma.com.br</a>” (“Plataforma Web”). O uso de tais portais de conteúdo, ainda que apenas para obter o Aplicativo da Plataforma, está sujeito às regras próprias dos seus respectivos fornecedores.
                </p>

                <h2>4.	Utilização dos Serviços pelo Usuário</h2>

                <p>
                    <strong>Condutas e obrigações do Usuário.</strong> Para utilizar os Serviços, o Usuário terá de efetuar um registro na Plataforma, na qual lhe será disponibilizada uma “Conta”. 
                </p>
                <p>
                    O registro para obtenção de uma Conta demandará o fornecimento de determinados dados pessoais, os quais são necessários para a disponibilização e pleno funcionamento da Conta. Os dados coletados, sua forma de coleta, as finalidades e formas de seu tratamento são definidos na Política de Privacidade da Plataforma, disponível em <a href="{{ path('home-privacy') }}">www.portalneopharma.com.br/politica-de-privacidade</a>. 
                </p>
                <p>
                    <strong>Atualização cadastral.</strong> O Usuário concorda em manter as informações referentes a sua Conta corretas, completas e atualizadas, de modo a evitar que seja impossibilitado de acessar e usar a Plataforma. 
                <p>
                    <strong>Segurança e credenciais de acesso.</strong> O Usuário é responsável pela segurança e confidencialidade do “nome de usuário” e da “senha” da sua Conta, reconhecendo o seu caráter pessoal e intransferível. Salvo autorização por escrito da HYPERA, o Usuário só poderá ter uma Conta associada ao seu respectivo número do Cadastro de Pessoa Física (CPF). O Usuário não poderá autorizar terceiros a acessarem ou utilizarem a sua Conta, bem como não poderá ceder ou por outra forma transferir a sua Conta para qualquer outra pessoa física ou jurídica. 
                </p>
                <p>
                    <strong>Senha.</strong> Para maior segurança do Usuário, não é recomendável a utilização de senhas de fácil acerto, tais como: nome, números sequenciais, placa de veículo, número de telefone, data de aniversário, entre outros. Também visando segurança, devem ser utilizados apenas dispositivos com recursos de segurança e, periodicamente, deve ser alterada a senha de acesso, a fim de dificultar qualquer utilização indevida. Nesse sentido, a HYPERA não se responsabiliza por incidentes decorrentes do acesso realizado por aparelhos eletrônicos que não contam com as configurações de segurança recomendadas.
                </p>
                <p>
                    O Usuário aceita cumprir todas as leis aplicáveis durante a utilização da Plataforma, aceitando que só poderá utilizá-la para fins lícitos e legítimos. 
                </p>
                <p>
                    <strong>Condutas proibidas.</strong> O Usuário fica proibido, sob pena de suspensão ou cancelamento da Conta, sem prejuízo das penalidades legais, de: <strong>(i)</strong> utilizar a Plataforma para finalidades ilícitas; <strong>(ii)</strong> submeter à Plataforma, falsamente, dados de terceiros; <strong>(iii)</strong> submeter à Plataforma dados protegidos por direitos autorais dos quais não possa dispor; <strong>(iv)</strong> submeter à Plataforma qualquer tipo de conteúdo ilegal, imoral ou incompatível com o Serviço, tais como: material preconceituoso, racista, ofensivo, injurioso, difamatório, calunioso, pornográfico, relacionado a menores de idade em qualquer aspecto e em especial pornografia ou exploração infantil, além de qualquer informação, ferramenta, software ou conhecimento que permita a um usuário ou terceiro violar, de qualquer forma, os presentes Termos de Uso. Igual tratamento será concedido a qualquer tipo de arquivo, sítio eletrônico, mídia ou informação inserida de forma criptografada, protegida por senha ou de outro modo não imediatamente identificado como material ilícito.
                </p>
                <p>
                    <strong>Integridade da Plataforma.</strong> O Usuário fica proibido, igualmente e sob as mesmas penas de todas Condutas proibidas, de: <strong>(i)</strong> modificar, apagar, sabotar ou de qualquer forma violar, ou auxiliar, incentivar ou facilitar a terceiro a violação, da Plataforma, seja o sítio eletrônico, o Aplicativo ou o Serviço conectado subjacente; <strong>(ii)</strong> violar conteúdo protegido por direitos de propriedade intelectual da HYPERA ou de qualquer afiliado, subcontratado ou parceiro; <strong>(iii)</strong> não buscar, abordar ou aceitar abordagem de terceiro para, de qualquer forma utilizar o Serviço ou qualquer de seus componentes para fraudar os Termos de Uso ou violar a Lei.
                </p>

                <h2>5. Neo Química Conquista</h2>
                <p>
                   O Usuário que realizar o cadastro na Plataforma fica ciente sobre a funcionalidade da gamificação Neo Química Conquista e estará habilitado a acessar todo o seu conteúdo. O Usuário já cadastrado na Plataforma, desde que elegível, terá acesso a este Serviço.
                </p>
                <p>
                    A gamificação Neo Química Conquista compreende em um sistema de interação do Usuário com a Plataforma por meio do acúmulo de pontos e Medalhas, conforme descrito a seguir.
                </p>
                <p>
                    Pontuação. O Usuário que acessar a Plataforma e realizar as interações abaixo receberá a seguinte quantidade de pontos:
                </p>

                <table>
                    <thead style="background:#18097c; color:#FFF;">
                        <tr>
                            <th>Interação</th>
                            <th>Pontos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="50%" class="text-center">
                                <strong>Cadastrar-se na Plataforma</strong>
                            </td>
                            <td>
                                <p  class="text-center">
                                    10 pontos
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" class="text-center">
                                <strong>Acessar a Plataforma</strong>
                            </td>
                            <td>
                                <p  class="text-center">
                                    05 pontos
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" class="text-center">
                                <strong>Ler uma matéria</strong>
                            </td>
                            <td>
                                <p  class="text-center">
                                    10 pontos
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" class="text-center">
                                <strong>Assistir a um vídeo</strong>
                            </td>
                            <td>
                                <p  class="text-center">
                                    10 pontos
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" class="text-center">
                                <strong>Responder a um quiz</strong>
                            </td>
                            <td>
                                <p  class="text-center">
                                    10 pontos
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" class="text-center">
                                <strong>Consultar um produto da marca</strong>
                            </td>
                            <td>
                                <p  class="text-center">
                                    10 pontos
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" class="text-center">
                                <strong>Acessar uma landing page especial</strong>
                            </td>
                            <td>
                                <p  class="text-center">
                                    15 pontos
                                </p>
                            </td>
                        </tr>
                        {# <tr>
                            <td width="50%" class="text-center">
                                <strong>Concluir um curso</strong>
                            </td>
                            <td>
                                <p  class="text-center">
                                    20 pontos
                                </p>
                            </td>
                        </tr> #}
                        <tr>
                            <td width="50%" class="text-center">
                                <strong>Ouvir um podcast</strong>
                            </td>
                            <td>
                                <p  class="text-center">
                                    10 pontos
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" class="text-center">
                                <strong>Indicar amigo</strong>
                            </td>
                            <td>
                                <p  class="text-center">
                                    20 pontos
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" class="text-center">
                                <strong>Preencher preferências no cadastro</strong>
                            </td>
                            <td>
                                <p  class="text-center">
                                    20 pontos
                                </p>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>

                <p>
                   Às interações relativas à leitura de textos ou à visualização de vídeos e podcasts não serão computados acessos repetidos ao mesmo conteúdo específico.
                </p>
                <p>
                    <strong>Medalhas.</strong> A cumulação de pontos possibilitará ao Usuário a obtenção de Medalhas e pontos extras, caso completem missões especiais, conforme especificado abaixo:
                </p>

                <table>
                    <thead style="background:#18097c; color:#FFF;">
                        <tr>
                            <th>Missão</th>
                            <th>Badge</th>
                            <th>Pontos extrass</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <p>Completar cadastro na Plataforma</p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    Sempre atualizado
                                </p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    50 pontos
                                </p>
                            </td>
                        </tr> 
                        <tr>
                            <td class="text-center">
                                <p>Acessar 10 conteúdos diferentes</p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    Vocação em cuidar
                                </p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    50 pontos
                                </p>
                            </td>
                        </tr> 
                        <tr>
                            <td class="text-center">
                                <p>Retornar à Plataforma 10 vezes</p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    De casa
                                </p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    50 pontos
                                </p>
                            </td>
                        </tr> 
                        <tr>
                            <td class="text-center">
                                <p>Acessar landing pages especiais diferentes por 3 vezes</p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    Neo Expert
                                </p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    50 pontos
                                </p>
                            </td>
                        </tr> 
                        <tr>
                            <td class="text-center">
                                <p>Consultar 10 páginas de produtos diferentes</p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    Neopedia
                                </p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    50 pontos
                                </p>
                            </td>
                        </tr> 
                        <tr>
                            {# <td class="text-center">
                                <p>Concluir 5 cursos diferentes </p>
                            </td> #}
                            <td>
                                <p  class="text-center">
                                    NPHD
                                </p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    50 pontos
                                </p>
                            </td>
                        </tr> 
                        <tr>
                            <td class="text-center">
                                <p>Ouvir 2 podcasts diferentes </p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    Mãos livres
                                </p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    50 pontos
                                </p>
                            </td>
                        </tr> 
                        <tr>
                            <td class="text-center">
                                <p>Indicar 3 amigos diferentes </p>
                            </td>
                            <td>
                                <p  class="text-center">
                                   Popular
                                </p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    50 pontos
                                </p>
                            </td>
                        </tr> 
                        <tr>
                            <td class="text-center">
                                <p>Consumir conteúdo de campanha nova</p>
                            </td>
                            <td>
                                <p  class="text-center">
                                   Medalha personalizada de acordo com a campanha vigente
                                </p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    50 pontos
                                </p>
                            </td>
                        </tr> 
                        <tr>
                            <td class="text-center">
                                <p>Ganhou todas as medalhas</p>
                            </td>
                            <td>
                                <p  class="text-center">
                                   Neopharmer
                                </p>
                            </td>
                            <td>
                                <p  class="text-center">
                                    50 pontos
                                </p>
                            </td>
                        </tr> 
                    </tbody>
                </table>

                <p>
                    O Usuário poderá acompanhar as Medalhas e pontos conquistados e a sua posição geral no ranking através do acesso à área logada da Plataforma.
                </p>
                <p>
                    <strong>Níveis.</strong> O Usuário será classificado em níveis de acordo com a quantidade de Medalhas conquistadas, conforme especificado abaixo:
                </p>
                <table>
                    <thead style="background:#18097c; color:#FFF;">
                        <tr>
                            <th>Nível</th>
                            <th>Quantidade de Badges</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="50%" class="text-center">
                                Bronze
                            </td>
                            <td>
                                <p  class="text-center">
                                    Até 3
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" class="text-center">
                                Prata
                            </td>
                            <td>
                                <p  class="text-center">
                                    De 4 a 7
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" class="text-center">
                                Ouro
                            </td>
                            <td>
                                <p  class="text-center">
                                    Acima de 7
                                </p>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <p>
                    O Usuário poderá acessar os conteúdos, acompanhar a pontuação, consultar sua posição no ranking geral, quantidade de Medalhas e níveis conquistados a qualquer momento, através do acesso à área logada da Plataforma.
                </p>
                <p>
                    <strong>Importante: Os pontos conquistados no Neo Química Conquista não são válidos no programa Neo Pharma Excelência.</strong>
                </p>
                <p>
                    <strong>Exclusão.</strong> Será excluído automaticamente do ranking, podendo, inclusive, ensejar em rescisão por violação legal ou contratual (conforme disposto no item Vigência e Rescisão Contratual) o Usuário que se envolver em qualquer tipo de fraude, seja ela comprovada ou mero indício, ou, ainda, em caso de violação de regras éticas e/ou comerciais.
                </p>
                <p>
                    <strong>Condições gerais.</strong> O Usuário fica ciente que a HYPERA poderá, a qualquer tempo, reavaliar as metas e/ou resultados apurados, se reservando ao direito de modificar as regras aqui dispostas, bem como suspender ou cancelar a iniciativa a critério da HYPERA, sem aviso prévio, por motivo de força maior ou por qualquer outro motivo. O acúmulo de pontos e obtenção de benefícios são facultativos, não havendo qualquer sanção àqueles que optem por não participar, de forma que o Usuário não poderá responsabilizar a HYPERA por qualquer dano ou prejuízo oriundo de sua participação. Para dúvidas e informações adicionais, entre em contato pelos canais mencionados no item “Fale com a Hypera”.
                </p>


                <h2>6.	Programa Neo Pharma Excelência</h2>
                <p>
                    O Usuário, ao utilizar a Plataforma, desde que responsável por farmácia elegível selecionada pela Neo Química, poderá ter acesso ao Neo Pharma Excelência, programa de fidelidade que visa a concessão de pontos a partir de compras realizadas de produtos da Neo Química. Para que as farmácias elegíveis possam participar efetivamente do programa Neo Pharma Excelência, além do cadastro de seu responsável na Plataforma, é necessário o aceite do Regulamento, acessível em <a href="https://portalneopharma.com.br/regulamento">https://portalneopharma.com.br/regulamento</a>
                </p>

                <h2>7. Privacidade e Proteção de Dados Pessoais</h2>
                <p>
                    <strong>Política de Privacidade.</strong> Ao utilizar a Plataforma, o Usuário insere diversos dados, os quais podem incluir dados pessoais. A HYPERA está comprometida em garantir a confidencialidade e a segurança das suas informações, por isso elaboramos a Política de Privacidade disponibilizada para o Usuário no endereço eletrônico <a href="https://portalneopharma.com.br/politica-de-privacidade">https://portalneopharma.com.br/politica-de-privacidade.</a>
                </p>
                <p>
                    <strong>Solicitações relacionadas à Privacidade.</strong> Caso o Usuário deseje realizar solicitações relacionadas ao tratamento de seus dados pessoais ou exercer quaisquer dos direitos previstos na legislação de proteção de dados, poderá contatar nosso Responsável pela Proteção de Dados através do formulário “Fale Conosco” no endereço eletrônico <a href="https://portalneopharma.com.br/fale-conosco">https://portalneopharma.com.br/fale-conosco</a> ou enviar um e-mail para o seguinte endereço eletrônico dpo@hypera.com.br.
                </p>
                <p>
                    <strong>Parte dos Termos de Uso.</strong> A Política de Privacidade da Plataforma Neo Pharma/Neo Scan é parte integrante destes Termos de Uso, devendo com eles ser interpretada e aplicada, prevalecendo, contudo, naquilo que for específica à matéria de tratamento e proteção de dados pessoais, a Política de Privacidade.
                </p>

                <h2>8. Propriedade Intelectual</h2>
                <p>
                    <strong>Propriedade Intelectual da HYPERA.</strong> A HYPERA é titular exclusiva de todos os direitos, morais e patrimoniais, incidentes ou eventualmente incidentes sobre aspectos visuais e/ou artísticos da Plataforma, das interfaces do sítio eletrônico e do Aplicativo, bem como o código-fonte, os elementos técnicos, de design, de processos, relatórios, e outros que nos ajudam a caracterizar a Plataforma, a aplicação em si, os produtos e serviços, incluindo todos os sinais distintivos, marcas, logos e qualquer material passível de proteção por direitos autorais ou propriedade industrial. 
                </p>
                <p>
                    <strong>Licenciamento.</strong> Para permitir a utilização da Plataforma, a HYPERA concede, durante a manutenção da sua Conta na Plataforma, uma licença de uso, limitada, revogável, intransferível, não exclusiva e não passível de sublicenciamento, dos direitos de propriedade intelectual estritamente necessários à utilização da Plataforma, o que não inclui direitos de reprodução, alteração, comunicação ao público ou qualquer forma de distribuição. 
                </p>
                <p>
                    <strong>Proibições e limitações.</strong> É estritamente proibida qualquer tipo de cópia, alteração ou redistribuição do aplicativo, do sítio eletrônico, do código-fonte ou de qualquer elemento relativo à Propriedade Intelectual, em parte ou no todo. O Usuário também concorda que não vai fazer, tentar fazer, ou ajudar alguém a fazer nenhum tipo de engenharia reversa ou tentativa de acesso ao código fonte e estrutura do banco de dados, em relação à Plataforma.
                </p>
                <p>
                    <strong>Violação de Propriedade Intelectual de Terceiros.</strong> O Usuário é responsável pelas informações inseridas na Plataforma, e declara que tem o direito ou as necessárias licenças para utilizar-se de tal material. Na eventualidade de tal presunção provar-se falsa, mediante descoberta fortuita ou notificação do interessado, o conteúdo em questão será imediatamente removido da Plataforma, sendo notificado o Usuário responsável sobre a remoção, exceto no caso de determinação judicial em contrário. 
                </p>
                <p>
                    <strong>Direito de Regresso.</strong> A HYPERA não se responsabiliza pela violação, por parte do Usuário, de direitos de propriedade intelectual de terceiro, sendo o Usuário responsável pela violação e obrigado a intervir nos procedimentos em trâmite, de modo a isentar a HYPERA de qualquer resultado negativo, a que a HYPERA venha a sofrer. Ainda que tais esforços não sejam suficientes, a HYPERA terá direito integral de regresso contra o Usuário, quando o dano a ser indenizado decorra direta ou indiretamente de culpa deste. A HYPERA declara que não realiza e não está obrigada a realizar controle prévio das informações submetidas à Plataforma.
                </p>
                <p>
                    <strong>Notificações.</strong> Quaisquer notificações sobre violações de propriedade intelectual podem ser encaminhadas para o <a href="mailto:falecom@hypera.com.br">falecom@hypera.com.br</a>
                </p>

                <h2>9. Exceções de Garantia</h2>

                <p>
                    <strong>OS SERVIÇOS SÃO PRESTADOS "COMO SÃO" E "NOS TERMOS EM QUE SE ENCONTRAM DISPONÍVEIS".</strong> A HYPERA não aceita quaisquer declarações e garantias, expressas, implícitas ou legais, não expressamente estabelecidas nestes Termos de Uso. A HYPERA não garante que a Plataforma seja adequada a qualquer outra finalidade ou uso que não aqueles expressamente descritos nos presentes Termos.
                </p>
                <p>
                    A HYPERA não faz qualquer declaração e nem presta qualquer garantia relativamente à confiabilidade, tempestividade, qualidade, adequação ou disponibilidade dos Serviços ou de que a Plataforma estará isenta de interrupções ou de erros. 
                </p>
                <p>
                    <strong>Acesso à rede e dispositivos.</strong> O Usuário é responsável por seus dados e conexão para obter o acesso à Plataforma da HYPERA. As taxas e encargos de sua rede de dados poderão se aplicar se você acessar ou usar os Serviços de um dispositivo sem fio e você será responsável por essas taxas e encargos. O Usuário é responsável por adquirir e atualizar os dispositivos necessários para acessar e usar a Plataforma e quaisquer de suas atualizações. 
                </p>
                <p>
                    <strong>A HYPERA não garante que os Serviços, ou qualquer parte deles, funcionarão em qualquer equipamento ou dispositivo, em particular. Além disso, os Serviços poderão estar sujeitos a mau funcionamento e atrasos inerentes ao uso da Internet e de comunicações eletrônicas, não imputáveis à HYPERA.</strong>
                </p>
                <p>
                    <strong>Ação de Agentes Maliciosos.</strong> O Usuário está ciente de que, apesar de toda a segurança que a HYPERA se esforçou em implementar, não há garantia contra a ação de hackers, crackers, ciberativistas e outros agentes maliciosos, que podem tentar ou desejem violar a Plataforma, por diversão ou para ganho próprio ou de terceiros, e concorda que, nestes casos, não haverá qualquer responsabilidade da HYPERA pelos danos daí decorrentes. A HYPERA, entretanto, envidará todos os esforços razoáveis para prevenir incidentes, dentro dos padrões de mercado, e para assistir o Usuário eventualmente afetado por tais ocorrências.
                </p>

                <h2>10. Exceções de Responsabilidade</h2>
                <p>
                    <strong>RESPONSABILIDADE PESSOAL E PROFISSIONAL DO USUÁRIO.</strong> Ao aceitar estes Termos, o Usuário reconhece que é o único responsável pelo desempenho de sua função na dispensação de medicamentos, de qualquer gênero, ao público em geral, sendo inteiramente e exclusivamente responsável pelas recomendações e orientações dadas a terceiros sobre medicamentos dispensados. O Usuário reconhece ainda que a Plataforma é mera ferramenta informativa e que não oferta qualquer serviço de aconselhamento ou assistência profissional na prestação de serviços de venda e/ou dispensação de medicamentos.
                </p>
                <p>
                    <strong>RESPONSABILIDADE POR INFORMAÇÕES TÉCNICAS.</strong> As informações técnicas sobre medicamentos apresentadas na Plataforma mediante consulta pelo Usuário são fornecidas diretamente pelo FABRICANTE de tais medicamentos, sendo essas informações de total e exclusiva responsabilidade de tal FABRICANTE, não possuindo a Plataforma qualquer caráter de repositório oficial, publicação científica, análise crítica, aval ou qualquer tipo de confirmação da veracidade de tais informações, nem qualquer responsabilidade sobre a veracidade de tais informações.
                </p>
                <p>
                    <strong>DANOS PELO USO DO SERVIÇO.</strong> A HYPERA, suas afiliadas, subcontratantes e parceiros não são responsáveis por quaisquer danos, sejam eles de natureza física, moral, estética, econômica, acidental, punitiva, perda de chance, lucros cessantes, perdas e dados, ou qualquer outra que você ou terceiro venha a experimentar direta ou indiretamente, relacionados ao uso da Plataforma. O Usuário também reconhece que a HYPERA não é responsável por qualquer tipo de danos oriundos de, mas não limitado a: <strong>(i)</strong> vulnerabilidades de segurança nos dispositivos de acesso à Plataforma, <strong>(ii)</strong> danos causados por ações ou omissões do Usuário; <strong>(iii)</strong> utilização indevida dos dispositivos; <strong>(iv)</strong> interrupções ou erros na transmissão de dados pela internet ou telefonia celular; <strong>(v)</strong> intervenção de qualquer espécie do Poder Público ou ainda <strong>(vi)</strong> força maior ou caso fortuito. A Plataforma é ofertada tal como se encontra e o uso feito dos Serviços é de responsabilidade do próprio Usuário.
                </p>
                <p>
                    <strong>DANOS SOFRIDOS POR INTERFERÊNCIA DE TERCEIROS.</strong> A HYPERA, suas afiliadas, subcontratantes e parceiros não são responsáveis por quaisquer danos, sejam eles de natureza física, moral, estética, econômica, acidental, punitiva, perda de chance, lucros cessantes, perda de dados, ou qualquer outra que você ou terceiro venham a experimentar em razão da interferência ilegítima de terceiros nos Serviços prestados.
                </p>
                <p>
                    <strong>DIREITO DE REGRESSO.</strong> Caso a HYPERA seja implicada de qualquer maneira em cobranças extrajudiciais ou qualquer outra medida judicial, em decorrência de danos causados por um Usuário ou pessoas pelas quais é responsável o Usuário, este se obriga a intervir nos procedimentos em trâmite, de modo a isentar a HYPERA de qualquer possível resultado negativo. Ainda que tais esforços não sejam suficientes, a HYPERA terá direito integral de regresso contra seus usuários, quando o dano a ser indenizado decorra direta ou indiretamente de culpa de um Usuário.
                </p>
                <p>
                    <strong>ACESSO A LOGS.</strong> A HYPERA não tem a obrigação de fornecer e não fornecerá eventuais logs ou registros de conexão e de acesso à Plataforma que não digam respeito ao próprio Usuário solicitante, exceto se assim determinado por decisão judicial. 
                </p>
                <p>
                    <strong>AUSÊNCIA DE MONITORAMENTO ATIVO.</strong> A HYPERA não realiza e não está obrigada a realizar o monitoramento ativo dos conteúdos e dados inseridos pelo Usuário na Plataforma. Os conteúdos que violem os presentes termos poderão ser reportados pelos canais mencionados no item “Fale com a HYPERA”.
                </p>

                <h2>11.	Vigência e Rescisão Contratual</h2>
                <p>
                    <strong>Vigência.</strong> Os Termos de Uso, em regra, estão vigentes desde o registro realizado pelo Usuário até seu desligamento da Plataforma, seja ele realizado a pedido de uma das partes, por comum acordo ou por descontinuidade de qualquer um dos Serviços.
                </p>
                <p>
                    <strong>Rescisão por violação contratual ou legal.</strong> Caso o Usuário viole qualquer disposição dos Termos de Uso, da Política de Privacidade ou da Lei vigente, a HYPERA fica autorizada, à sua discrição, a suspender ou cancelar a Conta do Usuário.
                </p>
                <p>
                    <strong>Rescisão a pedido do Usuário.</strong> Caso o Usuário solicite o encerramento da sua Conta, sua conta será excluída no prazo de 30 (trinta) dias a contar do pedido, feito por meio da própria Plataforma. Após este prazo, todas as informações referentes à Conta serão apagadas definitivamente, exceto quando subsistirem bases legais válidas para o tratamento de dados, em especial quando a HYPERA esteja obrigada, por Lei, a armazenar determinados dados. 
                </p>
                <p>
                    <strong>Descontinuidade do Serviço.</strong> A HYPERA pode, a seu exclusivo critério, descontinuar os Serviços como um todo ou qualquer parte deles, sem que assista ao Usuário qualquer indenização, compensação ou direito sobrevivente de uso do Serviço descontinuado. Nesse caso, sempre que possível e previsível, o Usuário será comunicado com pelo menos 5 (cinco) dias de antecedência, de modo que possa tomar as medidas adequadas para migração para outro serviço ou download de suas informações. 
                </p>

                <h2>11.	Alterações destes Termos</h2>
                <p>
                    De modo a melhor atender os nossos Usuários, estes Termos de Uso estarão sujeitos ao contínuo aperfeiçoamento, razão pela qual o seu conteúdo poderá ser modificado a qualquer tempo, salvo vedação legal neste sentido. Nas hipóteses de alteração, os Termos atualizados serão postados neste link e o Usuário será devidamente notificado, por exemplo através de uma mensagem eletrônica ou por um banner digital no próximo acesso à Plataforma. Caso não concorde com as alterações promovidas, poderá se abster de utilizar a Plataforma e solicitar o cancelamento de sua conta, por meio de contato disponibilizado pela HYPERA, no telefone/e-mail 0800 97 99 900 / <a href="mailto:falecom@hypera.com.br">falecom@hypera.com.br</a>.
                </p>
                <p>
                    O fato de o Usuário continuar a acessar ou usar os Serviços após essa postagem e notificação representa sua concordância em vincular-se aos Termos alterados. 
                </p>

                <h2>13.	Disposições gerais</h2>
                <p>
                    <strong>Lei aplicável.</strong> Estes Termos de Uso são regidos pela lei brasileira, sendo esta integralmente aplicável a quaisquer disputas que possam surgir sobre a interpretação ou execução deste contrato, assim como qualquer outra disputa que envolva direta ou indiretamente a prestação dos Serviços.
                </p>
                <p>
                    <strong>Tolerância.</strong> Eventuais omissões ou meras tolerâncias das partes no exigir o estrito e pleno cumprimento dos Termos de Uso ou de prerrogativas decorrentes dele ou de lei, não constituirão novação ou renúncia, nem afetarão o exercício de quaisquer direitos, que poderão ser plena e integralmente exercidos, a qualquer tempo.
                </p>
                <p>
                    <strong>Comunicações.</strong> As comunicações realizadas por parte da HYPERA ao Usuário serão consideradas eficazes, para todos os efeitos, quando realizadas por meio de qualquer informação de contato fornecida pelo Usuário quando de seu cadastro na Plataforma ou da celebração de contrato junto à HYPERA. 
                </p>
                <p>
                    <strong>Independência das cláusulas.</strong> Caso se perceba que uma disposição é nula, as disposições restantes dos Termos de Uso permanecerão em pleno vigor e um termo válido substituirá o termo nulo, refletindo nossa intenção, tanto quanto possível.
                </p>
                <p>
                    <strong>Eleição de foro.</strong> As partes optam desde já por reconhecer a competência da Justiça Estadual brasileira, elegendo o foro da Comarca de São Paulo/SP, Brasil, e renunciando a qualquer outro, por mais privilegiado que seja.
                </p>    

                <h2>14.	Fale com a HYPERA</h2>
                <p>
                    Obrigado por ler nossos Termos. Se tiver quaisquer dúvidas relativamente a estes Termos, entre em contato através do formulário "Fale Conosco" no endereço eletrônico <a href="https://www.portalneopharma.com.br/fale-conosco">https://www.portalneopharma.com.br/fale-conosco</a> ou escrevendo para o seguinte endereço eletrônico falecom@hypera.com.br.
                </p>
                <p>
                    SAC (0800 97 99 900)
                    <br>
                    Atendimento 7 dias por semana, 24 horas por dia.	
                    <br>
                    Ouvidoria (0800 97 99 900)
                    <br>
                    Atendimento: (De segunda a sexta – 8 as 18 horas)
                    <br>
                    *Se não estiver satisfeito com a solução dada por meio de contato ao SAC.
                </p>
                <p>© HYPERA</p>

                <h2 id="dia-farmaceutico">15. Campanha Dia do Farmacêutico 2023</h2>
                <ul>
                    <li>Ser farmacêutico;</li>
                    <li>Residir em cidades que a uber atende (<a href="https://www.uber.com/global/pt-br/cities/" target="_blank">https://www.uber.com/global/pt-br/cities/</a>);</li>
                    <li>Ter todo o cadastro completo (tanto os novos usuários como os cadastrados);</li>
                    <li>A promoção dura enquanto durarem os estoques; </li>
                    <li>O voucher funciona exclusivamente no app da uber (não pode ser usado em outro aplicativo, ou com qualquer outra finalidade);</li>
                    <li>O voucher só pode ser usado uma única vez;</li>
                    <li>Se o valor da viagem for maior que o do voucher (R$50,00) o usuário paga a diferença;</li>
                    <li>Se o valor da viagem for inferior a R$50,00 o saldo não utilizado não é acumulativo e não pode ser utilizado em outra viagem;</li>
                    <li>Validade do voucher: 24 meses;</li>
                    <li>O e-mail que o participante receberá o voucher é o que for indicado no preenchimento do formulário;</li>
                    <li>O voucher pode chegar em até 7 dias úteis no e-mail e pode parar na caixa de spam;</li>
                    <li>Essa é uma campanha destina exclusivamente ao dia do farmacêutico, o Portal Neo Pharma não é um portal de distribuição de vouchers e/ou brindes;</li>
                    <li>Toda a responsabilidade da viagem e a usabilidade do app é de responsabilidade da Uber. Confirma aqui o termo de uso da uber: </li>
                </ul>
                <p>
                    Uber é um app para solicitar viagens rápidas e confiáveis em apenas alguns minutos, disponível 24 horas por dia. Não é preciso estacionar nem esperar táxi ou ônibus. Basta um toque no app Uber para solicitar uma viagem. Com o Uber Pré-Pago você incluí o crédito na sua conta Uber e realiza em viagens enquanto houver crédito disponível. Você pode escolher entre as opções de corrida disponíveis para viajar do seu jeito. Não será permitida a transferência do saldo. Não é permitido a troca por dinheiro. O cartão não poderá ser trocado, cancelado ou devolvido. O saldo é cumulativo, o premiado poderá incluir quantos cartões desejar. Passo a passo para utilização do seu Uber Pré-Pago. 1. Selecione Pagamento no menu do app Uber. 2. Toque em adicionar meio de pagamento e selecione Uber Pré-Pago. 3. Insira o Código. TERMOS E CONDIÇÕES: Olá! Bom saber que você se interessou pelo Uber Pré-Pago. Queremos lhe explicar como vai funcionar! Antes de tudo, lembre-se que para usar o Uber Pré-Pago você precisa ter uma conta ativa de Usuário da Uber, isto é: i) ter 18 anos ou mais, ii) ter lido, compreendido e aceito tanto os Termos e Condições de Usuário como os seguintes Termos e Condições para o uso do Uber Pré-Pago. Este Uber Pré-Pago só funcionará em viagens do aplicativo Uber nas cidades brasileiras em que atuamos e não poderá ser recarregado, exceto quando exigido por lei. Também não poderá ser resgatado em dinheiro, reembolsado ou devolvido. O crédito disponível na carteira é válido por 24 meses, contados somente após a sua ativação no aplicativo, logo, não há motivo para não aproveitar seu Uber Pré-Pago. Uma dica: em algumas situações, você será obrigado a adicionar um método de pagamento secundário para usar seu Uber Pré-Pago em viagens no aplicativo Uber. Por favor, cuide bem do seu Uber Pré-Pago, porque não nos responsabilizamos por cartões perdidos ou roubados ou por uso não autorizado. Este Uber Pré-Pago é emitido pela Uber Do Brasil Tecnologia Ltda. Gostou? Conheça mais sobre o funcionamento do Uber Pré-Pago nos termos e condições completos e nos canais de atendimento ao cliente ou pelo site, uber.com/legal/gift/br. O Uber Pré-Pago Virtual é entregue no e-mail cadastrado em até 7 dias úteis. No caso de dúvidas sobre a utilização do Uber Pré-Pago, entre em contato pelo telefone 11 2135 5800 ou pelo e-mail <a href="mailto:contato@giftty.com.br">contato@giftty.com.br</a> <strong>Validade: 6 meses para ativar o código no App + 24 meses para utilizar os créditos.</strong>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}