{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Sobre o portal{% endblock %}
{% set pageIndex = 'sbp' %}
{% block body %}
    <div>
        <section class="banner-main">    
            <div class="p-hero">
                <div class="slide p-hero__item">
                    <div class="p-hero__body">
                        <h1 class="p-hero__title">Bem-vindo à Neo Pharma</h1>
                    </div>
                    
                    <figure class="p-hero__figure">
                        <!-- Desktop -->
                        <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{ asset('_dist/image/img/banner-bem-vindo.jpg') }}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post hidden-xs" />
                        
                        <!-- Mobile -->
                        <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{ asset('_dist/image/img/banner-bem-vindo-mobile.jpg') }}'), url(/_dist/image/img/default.jpg); background-position: center top;" alt="" class="img-post visible-xs" />
                    </figure>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="content-main content-text">
                <div class="space-h-30">
                    <div class="container-about">
                        <div class="text-about">
                            <p>
                               Pensando em maneiras de inovar, além da introdução de novos produtos em sua grade de medicamentos genéricos e similares, a Neo Química criou o Portal Neo Pharma, uma plataforma digital voltada para o desenvolvimento e aprimoramento das habilidades dos profissionais de farmácia.
                            </p>
                            
                        </div>
                        <div class="img-about">
                            <figure>    
                                <img src="{{ asset('_dist/image/img/img-welcome.png') }}" alt="" />
                            </figrue>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}