{% extends 'base.html.twig' %}
{% set metadescription = 'Saiba mais sobre o Neo Química Conquista, o programa de pontos do Portal Neo Pharma, quanto mais aprende mais pontos você ganha. Confira!' %}
{% set metatitle = 'Neo quimica conquista' %}
{% block title %}Neo Química Conquista{% endblock %}
    
{% block body %}
    <div class="page-gamificacao">
        <section class="text-center banner-gamificacao" >
            <img src="{{ asset('_dist/image/img/gamefication/banner-desktop.png')}}" alt="Banner " class="visible-xs">
            <img src="{{ asset('_dist/image/img/gamefication/banner-desktop.png')}}" alt="Banner " class="hidden-xs">
        </section>
        <section class="text-banner-gamificacao">
            <div class="container">
                Quem trabalha com farmácia sabe que estar bem informado é muito importante para prestar o melhor atendimento possível – e, de quebra, se destacar em meio a tantos profissionais da área. Nós também sabemos!
            </div>
        </section>

        <section class="gamificacao-section-1">
            <div class="container">
                <h2>Por isso, os conteúdos que você já acessa no <strong>Portal Neo Pharma</strong> agora geram pontos para você competir com seus colegas.</h2>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="space-h-30">
                            <figure><img src="{{ asset('_dist/image/img/gamefication/booking.svg')}}" alt="" title="" /></figure>
                            <p>
                                Quanto mais você interagir,
                                <span>mais pontos você ganha!</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="space-h-30">
                            <figure><img src="{{ asset('_dist/image/img/gamefication/quality.svg')}}" alt="" title="" /></figure>
                            <p>
                                E mais medalhas
                                <span>você conquista!</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="space-h-30">
                            <figure><img src="{{ asset('_dist/image/img/gamefication/trophy.svg')}}" alt="" title="" /></figure>
                            <p>
                                Com cada conquista,
                                <span>maior o seu nível!</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="space-h-30">
                            <figure><img src="{{ asset('_dist/image/img/gamefication/win.svg')}}" alt="" title="" /></figure>
                            <p>
                                E maior é
                                <span>o seu ranking!</span>
                            </p>
                        </div>
                    </div>
                </div>
                <h2>E não importa o seu nível ou posição. <span>Com toda a informação oferecida pelo <strong>Portal Neo Pharma</strong>, todo mundo sai ganhando!</span></h2>
                <p>*Os pontos conquistados no Neo Química Conquista não são válidos no programa Neo Excelência.</p>
            </div>
        </section>

        <section class="gamificacao-section-2">
            <div class="gamificacao-section-2-header">
                <div class="container">
                    <h2>
                        Para você mostrar que <span>preparo</span> é o seu nome do meio e alcançar o topo do ranking de<br> profissionais de farmácia, confira como adquirir seus pontos:
                    </h2>
                </div>
            </div>
            <div class="gamificacao-section-2-body">
                <div class="row gamificacao-section-2-row">
                    <div class="col-sm-6">
                        <div class="gamefication-points-list">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="gamefication-points-number">
                                        +10 <span>pontos</span>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="gamefication-points-text">
                                        Se cadastrar na plataforma
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="gamefication-points-list">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="gamefication-points-number">
                                        +10 <span>pontos</span>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="gamefication-points-text">
                                        Consultar produtos
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="gamefication-points-list">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="gamefication-points-number">
                                        +5 <span>pontos</span>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="gamefication-points-text">
                                        Acessar o portal
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="gamefication-points-list">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="gamefication-points-number">
                                        +15 <span>pontos</span>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="gamefication-points-text">
                                        Acessar uma landing page especial
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="gamefication-points-list">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="gamefication-points-number">
                                        +10 <span>pontos</span>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="gamefication-points-text">
                                        Ler uma matéria
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# <div class="col-sm-6">
                        <div class="gamefication-points-list">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="gamefication-points-number">
                                        +20 <span>pontos</span>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="gamefication-points-text">
                                        Concluir um curso
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> #}

                    <div class="col-sm-6">
                        <div class="gamefication-points-list">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="gamefication-points-number">
                                        +10 <span>pontos</span>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="gamefication-points-text">
                                        Assistir a um vídeo
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="gamefication-points-list">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="gamefication-points-number">
                                        +10 <span>pontos</span>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="gamefication-points-text">
                                        Ouvir podcast
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="gamefication-points-list">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="gamefication-points-number">
                                        +20 <span>pontos</span>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="gamefication-points-text">
                                        Preencher preferências no cadastro
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="gamefication-points-list">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="gamefication-points-number">
                                        +20 <span>pontos</span>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="gamefication-points-text">
                                        Indicar amigo
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="gamefication-points-list not-border border-mobile">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="gamefication-points-number">
                                        +10 <span>pontos</span>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="gamefication-points-text">
                                        Responder a um quiz
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="gamefication-points-list not-border gamefication-points-list-last-item">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="gamefication-points-number">
                                        ...
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="gamefication-points-text">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gamificacao-section-2-footer">
                <div class="space-h-40 text-center">
                    <img src="{{ asset('_dist/image/img/gamefication/seta-baixo.svg')}}" alt="" title="" />
                </div>
                <div class="container">
                    <p>
                        Além dos pontos, você pode desbloquear diversas conquistas!<br> Confira abaixo cada uma delas:
                    </p>
                </div>
            </div>
            
        </section>

        <section class="gamificacao-section-3">
            <div class="container">
                <div class="row gamificacao-section-3-row-main">
                    <div class="col-sm-6 gamificacao-section-3-item">
                        <div class="row  gamificacao-section-3-row">
                            <div class="col-xs-4 gamificacao-section-3-img">
                                <figure>
                                    <img src="{{ asset('_dist/image/img/gamefication/badge_nphd.png')}}" alt="NPHD" title="NPHD" />
                                </figure>
                            </div>
                            {# <div class="col-xs-8 gamificacao-section-3-content">
                                <h3>NPHD</h3>
                                <div class="row">
                                    <div class="col-xs-3 gamificacao-section-3-number">
                                        <p>
                                            +50 <span>pontos </span>
                                        </p>
                                    </div>
                                    <div class="col-xs-9 gamificacao-section-3-text">
                                        <p>
                                            Concluir 5 cursos<br>
                                           
                                        </p>
                                    </div>
                                </div>
                            </div> #}
                        </div>
                    </div>

                    <div class="col-sm-6 gamificacao-section-3-item">
                        <div class="row  gamificacao-section-3-row">
                            <div class="col-xs-4 gamificacao-section-3-img">
                                <figure>
                                    <img src="{{ asset('_dist/image/img/gamefication/badge_neo_expert.png')}}" alt="Neo Expert" title="Neo Expert" />
                                </figure>
                            </div>
                            <div class="col-xs-8 gamificacao-section-3-content">
                                <h3>Neo Expert</h3>
                                <div class="row">
                                    <div class="col-xs-3 gamificacao-section-3-number">
                                        <p>
                                            +50 <span>pontos </span>
                                        </p>
                                    </div>
                                    <div class="col-xs-9 gamificacao-section-3-text">
                                        <p>
                                           Acessar landing pages especiais 3 vezes​
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 gamificacao-section-3-item">
                        <div class="row  gamificacao-section-3-row">
                            <div class="col-xs-4 gamificacao-section-3-img">
                                <figure>
                                    <img src="{{ asset('_dist/image/img/gamefication/badge_vocacao_em_cuidar.png')}}" alt="Vocação em cuidar" title="Vocação em cuidar" />
                                </figure>
                            </div>
                            <div class="col-xs-8 gamificacao-section-3-content">
                                <h3>Vocação em cuidar</h3>
                                <div class="row">
                                    <div class="col-xs-3 gamificacao-section-3-number">
                                        <p>
                                            +50 <span>pontos </span>
                                        </p>
                                    </div>
                                    <div class="col-xs-9 gamificacao-section-3-text">
                                        <p>
                                                Acessar 10 conteúdos
                                                {# Benefício:Acesso à especial de conteúdo exclusivo​ #}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 gamificacao-section-3-item">
                        <div class="row  gamificacao-section-3-row">
                            <div class="col-xs-4 gamificacao-section-3-img">
                                <figure>
                                    <img src="{{ asset('_dist/image/img/gamefication/badge_popular.png')}}" alt="Popular" title="Popular" />
                                </figure>
                            </div>
                            <div class="col-xs-8 gamificacao-section-3-content">
                                <h3>Popular</h3>
                                <div class="row">
                                    <div class="col-xs-3 gamificacao-section-3-number">
                                        <p>
                                            +50 <span>pontos </span>
                                        </p>
                                    </div>
                                    <div class="col-xs-9 gamificacao-section-3-text">
                                        <p>
                                           Indicar 3 amigos​
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 gamificacao-section-3-item">
                        <div class="row  gamificacao-section-3-row">
                            <div class="col-xs-4 gamificacao-section-3-img">
                                <figure>
                                    <img src="{{ asset('_dist/image/img/gamefication/badge_sempre_atualizado.png')}}" alt="Sempre Atualizado" title="Sempre Atualizado" />
                                </figure>
                            </div>
                            <div class="col-xs-8 gamificacao-section-3-content">
                                <h3>Sempre Atualizado</h3>
                                <div class="row">
                                    <div class="col-xs-3 gamificacao-section-3-number">
                                        <p>
                                            +50 <span>pontos </span>
                                        </p>
                                    </div>
                                    <div class="col-xs-9 gamificacao-section-3-text">
                                        <p>
                                           Completar cadastro<br> no portal
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 gamificacao-section-3-item">
                        <div class="row  gamificacao-section-3-row">
                            <div class="col-xs-4 gamificacao-section-3-img">
                                <figure>
                                    <img src="{{ asset('_dist/image/img/gamefication/badge_maos_livres.png')}}" alt="Mãos Livres" title="Mãos Livres" />
                                </figure>
                            </div>
                            <div class="col-xs-8 gamificacao-section-3-content">
                                <h3>Mãos Livres</h3>
                                <div class="row">
                                    <div class="col-xs-3 gamificacao-section-3-number">
                                        <p>
                                            +50 <span>pontos </span>
                                        </p>
                                    </div>
                                    <div class="col-xs-9 gamificacao-section-3-text">
                                        <p>
                                           Ouvir 2 podcasts​
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 gamificacao-section-3-item">
                        <div class="row  gamificacao-section-3-row">
                            <div class="col-xs-4 gamificacao-section-3-img">
                                <figure>
                                    <img src="{{ asset('_dist/image/img/gamefication/badge_de_casa.png')}}" alt="De Casa" title="De Casa" />
                                </figure>
                            </div>
                            <div class="col-xs-8 gamificacao-section-3-content">
                                <h3>De Casa</h3>
                                <div class="row">
                                    <div class="col-xs-3 gamificacao-section-3-number">
                                        <p>
                                            +50 <span>pontos </span>
                                        </p>
                                    </div>
                                    <div class="col-xs-9 gamificacao-section-3-text">
                                        <p>
                                            Retornar ao portal <br>10 vezes​
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 gamificacao-section-3-item">
                        <div class="row  gamificacao-section-3-row">
                            <div class="col-xs-4 gamificacao-section-3-img">
                                <figure>
                                    <img src="{{ asset('_dist/image/img/gamefication/badge_neopharmer.png')}}" alt="NeoPharmer" title="NeoPharmer" />
                                </figure>
                            </div>
                            <div class="col-xs-8 gamificacao-section-3-content">
                                <h3>NeoPharmer</h3>
                                <div class="row">
                                    <div class="col-xs-3 gamificacao-section-3-number">
                                        <p>
                                            +50 <span>pontos </span>
                                        </p>
                                    </div>
                                    <div class="col-xs-9 gamificacao-section-3-text">
                                        <p>
                                            Ganhou todas as medalhas
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 gamificacao-section-3-item">
                        <div class="row  gamificacao-section-3-row">
                            <div class="col-xs-4 gamificacao-section-3-img">
                                <figure>
                                    <img src="{{ asset('_dist/image/img/gamefication/badge_neopedia.png')}}" alt="NEOPEDIA" title="NEOPEDIA" />
                                </figure>
                            </div>
                            <div class="col-xs-8 gamificacao-section-3-content">
                                <h3>NEOPEDIA</h3>
                                <div class="row">
                                    <div class="col-xs-3 gamificacao-section-3-number">
                                        <p>
                                           +50 <span>pontos </span>
                                        </p>
                                    </div>
                                    <div class="col-xs-9 gamificacao-section-3-text">
                                        <p>
                                            Consultar 10 páginas<br> de produtos
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="gamificacao-section-4">
            <div class="container">
                <div class="gamificacao-section-4-header">
                    <figure>
                        <img src="{{ asset('_dist/image/img/gamefication/trofeu01.png')}}" alt="Neo Pharmer" title="Neo Pharmer" />
                    </figure>
                    <h2>Comece agora a pontuar <span>e mostre que você tem o que é preciso para chegar ao topo!</span></h2>
                </div>
                

                <div class="gamificacao-section-4-conteudos">
                    <div class="row">
                        {# <div class="col-sm-4">
                            <div class="gamificacao-section-4-conteudos-item">
                                <figure>
                                    <a href="{{ path('course_home') }}" target="_blank"><img src="{{ asset('_dist/image/img/gamefication/thumb-cursos.png')}}" alt="Confira nossos cursos gratuitos" title="Confira nossos cursos gratuitos" /></a>
                                </figure>
                                <h3><a href="{{ path('course_home') }}" target="_blank">Confira nossos<br> cursos gratuitos</a></h3>
                            </div>
                        </div> #}

                        <div class="col-sm-4">
                            <div class="gamificacao-section-4-conteudos-item">
                                <figure>
                                    <a href="{{ path('specials', {'slug': 'especiais'}) }}" target="_blank"><img src="{{ asset('_dist/image/img/gamefication/thumb-especiais.png')}}" alt="Acesse nossos especiais" title="Acesse nossos especiais" /></a>
                                </figure>
                                <h3><a href="{{ path('course_home') }}" target="_blank">Acesse nossos<br> especiais</a></h3>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="gamificacao-section-4-conteudos-item">
                                <figure>
                                    <a href="{{ path('course_home') }}" target="_blank"><img src="{{ asset('_dist/image/img/gamefication/thumb-materias.png')}}" alt="Acesse nossas matérias exclusivas" title="Acesse nossas matérias exclusivas" /></a>
                                </figure>
                                <h3><a href="{{ path('blog_home', {'tipo':'materias'}) }}" target="_blank">Acesse nossas<br> matérias exclusivas</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                {# <div class="space-h-20 text-center ">
                    <a href="{{ path('gamefication_points') }}" class="btn-gamificacao-conquistas"><span>Clique aqui</span> e acesse suas conquistas!</a>
                </div> #}

                <div class="page-gamificacao-pontos-body">
                    <div class="container">
                        <h2>Minhas conquistas</h2>
                     
                        <div class="gamificacao-cards-1">

                            {% set user_position = userPositionGamification('user_id', app.user.id, app.user) %}
                            
                            {% if user_position.position is defined %}
                                <div class="gamificacao-card-item gamificacao-card-posicao">
                                    <span class="gamificacao-card-number">{{ '#' ~ user_position.position }}</span>
                                    <span class="gamificacao-card-text">posição no ranking</span>
                                </div>
                            {% endif %}

                            {% if user_ranking.id is defined %}
                                <div class="gamificacao-card-item gamificacao-card-pontos">
                                    <span class="gamificacao-card-number">{{ user_ranking.point }}</span>
                                    <span class="gamificacao-card-text">pontos</span>
                                </div>
                            {% endif %}

                            {% if user_level.level.id is defined %}
                                <div class="gamificacao-card-item gamificacao-card-medalha">
                                    <span class="gamificacao-card-text">Atualmente<br> seu troféu é</span>
                                    <span class="gamificacao-card-tipo">{{ user_level.level.name }}</span>
                                </div>
                            {% endif %}
                        </div>

                        <div class="gamificacao-section-icons">
                            <div class="gamificacao-section-icons-row">
                                {% for medal in medals %}
                                    {% set is_medal = false %}
                                
                                    {% for user_medal in user_medals %} 
                                        {% if user_medal.medal.id == medal.id %}
                                            {% set is_medal = true %}
                                        {% endif %}
                                    {% endfor %}

                                    <div class="gamificacao-section-icons-item {{ is_medal ? 'active' : '' }}">
                                        <figure>
                                            <img src="{{ asset(medal.icon)}}" alt="{{ medal.name }}}" title="{{ medal.name }}}" />
                                        </figure>
                                        <h3>{{ medal.name }}</h3>
                                    </div>
                                {% endfor %}

                            </div>
                        <div>

                    </div>
                </div>
            </div>
        </section>
        <footer class="footer" id="footer">
            <div class="container">
                <div class="logo-footer">
                    <a href="/" id="">
                        <img src="/_dist/image/img/logo-footer.png" alt="Logo Neo Pharma">
                    </a>
                </div>
                
                <ul class="menu-footer-top">
                    <li><a href="/sobre-o-portal-neo-pharma" id="">A NEO QUIMICA</a></li>
                    <li><a href="/blog" id="">Informação</a></li>
                    {# <li><a href="/cursos" id="">Cursos</a></li> #}
                    <li><a href="/produtos" id="">PRODUTOS</a></li>
                    <li><a href="/especiais" id="">ESPECIAIS</a></li>
                </ul>

                <ul class="menu-footer">
                    <li><a href="/fale-conosco" id="">Fale Conosco</a></li>
                    <li><a href="/politica-de-privacidade" id="">Política de Privacidade</a></li>
                    <li><a href="/termos-de-uso" id="">Termos de Uso</a></li>
                </ul>
                <p class="copy">
                    Importante: Esta é uma plataforma da Neo Química destinada a profissionais de saúde que trabalham em farmácias.
                    <span>Copyright © Neo Química</span>
                </p>
            </div>
        </footer>
    </div>

                <div class="space-h-20 text-center">
                    <a href="{{ path('home-term') }}" class="btn-default btn-yellow btn-gamificacao-lp">Confira o regulamento</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}