{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Meus Pontos{% endblock %}
    
{% block body %}
<div class="page-gamificacao-pontos">
    <div class="page-gamificacao-pontos-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 page-gamificacao-pontos-header-img">
                    <figure>
                        <img src="{{ asset('_dist/image/img/gamefication/trofeu01.png')}}" alt="" title="" />
                    </figure>
                </div>
                <div class="col-sm-10 page-gamificacao-pontos-header-text">
                    <div>
                        <h2>Meus pontos</h2>
                        <p>{{ app.user.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-gamificacao-pontos-body">
        <div class="container">
            <h2>Minhas conquistas</h2>

            <div class="gamificacao-cards-1">

                {% set user_position = userPositionGamification('user_id', app.user.id, app.user) %}
                
                {% if user_position.position is defined %}
                    <div class="gamificacao-card-item gamificacao-card-posicao">
                        <span class="gamificacao-card-number">{{ '#' ~ user_position.position }}</span>
                        <span class="gamificacao-card-text">posição no ranking</span>
                    </div>
                {% endif %}

                {% if user_ranking.id is defined %}
                    <div class="gamificacao-card-item gamificacao-card-pontos">
                        <span class="gamificacao-card-number">{{ user_ranking.point }}</span>
                        <span class="gamificacao-card-text">pontos</span>
                    </div>
                {% endif %}

                {% if user_level.level.id is defined %}
                    <div class="gamificacao-card-item gamificacao-card-medalha">
                        <span class="gamificacao-card-text">Atualmente<br> seu troféu é</span>
                        <span class="gamificacao-card-tipo">{{ user_level.level.name }}</span>
                    </div>
                {% endif %}
            </div>

            <div class="gamificacao-section-icons">
                <div class="gamificacao-section-icons-row">
                    {% for medal in medals %}
                        {% set is_medal = false %}
                      
                        {% for user_medal in user_medals %} 
                            {% if user_medal.medal.id == medal.id %}
                                {% set is_medal = true %}
                            {% endif %}
                        {% endfor %}

                        <div class="gamificacao-section-icons-item {{ is_medal ? 'active' : '' }}">
                            <figure>
                                <img src="{{ asset(medal.icon)}}" alt="{{ medal.name }}}" title="{{ medal.name }}}" />
                            </figure>
                            <h3>{{ medal.name }}</h3>
                        </div>
                    {% endfor %}

                </div>
            <div>
        </div>
    </div>
</div>
{% endblock %}