<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <title>
        Troca de perfil
    </title>	
</head>

<body>
    <table border="0" cellpadding="0" cellspacing="0" width="600" style="background:#ffffff; width: 600px; font-family: Arial, Helvetica, sans-serif;" align="center">
        <tr>
            <td>
                <img src="{{ absolute_url('/imgs-email/pesquisa/01/img01.jpg') }}" style="display: block;" alt="">
            </td>
        </tr>
        <tr>
            <td height="40px">
                <img src="{{ absolute_url('/imgs-email/pesquisa/01/space-w60-h40.jpg') }}" style="display: block;" alt="">
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td width="60"><img src="{{ absolute_url('/imgs-email/pesquisa/01/space-w60-h40.jpg') }}" style="display: block;" alt=""></td>
                        <td align="center">
                            <font style="color:#383588; font-size: 40px; font-family: Arial, Helvetica, sans-serif;">
                                <b> Olá, {{ user.name }}</b></br>
                            </font>
                            <br>
                            <br>
                            <font style="color: #595959; font-size: 20px; font-family: Arial, Helvetica, sans-serif;">
                                <b>Para finalizar o procedimento de migração de seu cadastro no Portal Neo Pharma, clique no link:</b></br>
                            </font>
                            <br>
                            <a href="{{ url }}" target="_blank">
                                {{ url }}   
                            </a>
                            <br>
                            <br>
                            <font color="#595959" style="color: #595959; font-size: 16px; font-family: Arial, Helvetica, sans-serif; line-height: 20px;">
                                Caso não consiga acessar o link, copie o endereço e cole em seu navegador.
                            </font>
                            <br>
                            <br>
                            <font color="#595959" style="color: #595959; font-size: 16px; font-family: Arial, Helvetica, sans-serif; line-height: 20px;">
                                Caso queira acessar o programa Neo Pharma Excelência, você deverá fazer o login com uma conta <b>Gestor de Loja</b>. Depois de logado, você deverá clicar no botão <b>Neo Excelência</b>, que estará destacado no menu.
                            </font>
                        </td>
                        <td width="60"><img src="{{ absolute_url('/imgs-email/pesquisa/01/space-w60-h40.jpg') }}" style="display: block;" alt=""></td>
                    </tr>
                </table>
            </td>            
        </tr>
        <tr>
            <td height="40"><img src="{{ absolute_url('/imgs-email/pesquisa/01/space-w60-h40.jpg') }}" style="display: block;" alt=""></td>
        </tr>
        <tr>
            <td height="40"><img src="{{ absolute_url('https://hmgportalneophar1.websiteseguro.com/imgs-email/cadastro-neo-excelencia/print.jpg') }}" style="display: block;" alt=""></td>
        </tr>
        <tr>
            <td height="40"><img src="{{ absolute_url('/imgs-email/pesquisa/01/space-w60-h40.jpg') }}" style="display: block;" alt=""></td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" style="background: #0e0f54;" width="100%">
                    <tr>
                        <td>
                            <img src="{{ absolute_url('/imgs-email/pesquisa/01/space-blue-30x30.jpg') }}" style="display: block;" alt="">
                        </td>
                        <td bgcolor="#0e0f54" style="background: #0e0f54; color: #FFF;" align="center">
                            <br>
                            <a href="https://portalneopharma.com.br/" target="_blank"><img src="{{ absolute_url('/imgs-email/pesquisa/01/img02.jpg') }}" alt="" style="display: block;"></a>
                            <br>
                            <font style="background: #0e0f54; color: #FFF; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                <a href="https://portalneopharma.com.br/sobre-o-portal-neo-pharma" target="_blank" style="color: #FFF; text-decoration: none;">Sobre o Portal Neo Pharma</a>   |   <a href="https://portalneopharma.com.br/fale-conosco" target="_blank" style="color: #FFF; text-decoration: none;">Fale Conosco</a>   |   <a href="https://portalneopharma.com.br/politica-de-privacidade" target="_blank" style="color: #FFF; text-decoration: none;">Política de Privacidade</a>   |   <a href="https://portalneopharma.com.br/termos-de-uso" target="_blank" style="color: #FFF; text-decoration: none;">Termo de Uso </a>
                            </font>
                        </td>
                        <td>
                            <img src="{{ absolute_url('/imgs-email/pesquisa/01/space-blue-30x30.jpg') }}" style="display: block;" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="{{ absolute_url('/imgs-email/pesquisa/01/space-blue-30x30.jpg') }}" style="display: block;" alt=""></td>
                    </tr>
                </table>
            </td>
        </tr>
    
    </table>
</body>

</html>