{% extends 'admin.html.twig' %}

{% block title %}BANNER | TIPO | LISTAGEM
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Tipo de Banner</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>

                                    <th>Tipo</th>
                                    <th>Slug</th>

                                    <th>Ativo</th>

                                    <th>Criado Em</th>

                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if types|length > 0 %}
                                    {% for type in types %}
                                        <tr>
                                            <td class="center">
                                                <a href="{{ path('admin_banner_type_edit', { 'id': type.id }) }}">
                                                    {{ type.id }}
                                                </a>
                                            </td>
                                            <td>{{ type.name }}</td>
                                            <td>{{ type.slug }}</td>
                                            <td class="center">
                                                {% if type.isActive %}
                                                    <span class="label label-success">Sim</span>
                                                {% else %}
                                                    <span class="label label-danger">Não</span>
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                {% if type.createdAt %}
                                                    {{ type.createdAt|date('d/m/Y H:i:s') }}
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_banner_type_edit', { 'id': type.id}) }}">
                                                    Editar
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">Nenhum registro foi encontrado.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="box-paginator">
                    {{ knp_pagination_render(types) }}
                </div>
                
                <div class="box-footer">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_banner_type_new') }}">
                        Novo
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
