{% extends 'admin.html.twig' %}

{% block title %}CURSO | BANNER
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Editar Banner</h3>
                </div>

                <form enctype="multipart/form-data" method="POST">

                    <div class="box-body">
                        <div class="form-group">
                            <label for="banner_name">title</label>
                            {# <input id="banner_name" name="banner[title]" type="text" value="{{banner.title}}" /> #}
                            <textarea class="ckeditor" id="banner_name" name="banner[title]" type="text">{{ banner.title }}</textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descrição</label>
                            {# <input class="form-control" type="text" value="{{banner.description}}"  name="banner[description]" /> #}
                            <textarea class="ckeditor" id="banner_description" name="banner[description]" type="text">{{ banner.description }}</textarea>
                        </div>
                         <div class="form-group">
                            <label class="control-label">Link</label>
                            <input class="form-control" type="text"  name="banner[link]" value="{{banner.link}}"/>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="banner_type">Local de Exibição</label>
                                <select id="banner_type" name="banner[type]">
                                    {% for t in types %}
                                        <option value="{{t.id}}" {{ banner.type.id == t.id ? 'selected' : '' }}>{{t.name}}</li>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="banner_isActive">Ativo</label>
                                <input {{ banner.isActive ? 'checked' : '' }} data-toggle="toggle" id="banner_isActive" name="banner[isActive]" type="checkbox">
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <div id="preview-web" class="preview-img">
                                    <img   src="{{ asset(banner.image) }}">
                                </div>
                                <label for="banner_image">Imagem</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="banner_image" name="banner[image]" type="file"/>
                               <label id="mensagem-web" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                            </div>
                            <div class="form-group">
                                <div id="preview-mobile" class="preview-img">
                                    <img  src="{{ asset(banner.imageMobile) }}">
                                </div>
                                <label for="banner_imageMobile">Imagem Mobile</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="banner_imageMobile" name="banner[imageMobile]" type="file"/>
                                <label id="mensagem-mobile" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="banner_name">GA eventLabel</label>
                            <input class="form-control" type="text" name="banner[ga_event]" value="{{ banner.gaEvent }}"/>
                        </div>
                        <div class="form-group">
                            <label for="position_name">Ordem</label>

                            <select id="position_name" name="banner[position]" />
                            {% for i in 0..10 %}
                                <option value="{{ i }}" {{ banner.position == i ? 'selected' : ''}}>{{ i }}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="banner_isLogged">Deseja exibir o banner somente quando estiver logado?</label>
                            <input {{ banner.isLogged ? 'checked' : '' }} data-toggle="toggle" id="banner_isLogged" name="banner[isLogged]" type="checkbox">
                        </div>

                         <div class="form-group">
                            <label for="banner_isPromo">Promoção</label>
                            <input {{ banner.isPromo ? 'checked' : '' }} data-toggle="toggle" id="banner_isPromo" name="banner[isPromo]" type="checkbox">
                        </div>

                    </div>

                    <div class="box-footer">
                        <button  type="" class="btn btn-success">Salvar</button>
                        <a class="btn btn-default" href="{{ path('admin_banner_list') }}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script>
    
        $("form").on("submit", function(){
            showLoading();
        });

        $('#banner_image').on('change', function (){
        
          readSize("banner_image", "mensagem-web","preview-web",0);
        });

        $('#banner_imageMobile').on('change', function(){
            
          readSize("banner_imageMobile", "mensagem-mobile","preview-mobile",0);
         
        });
        
        function readSize(id, idMessage,idPreview,index){
              if(parseInt(document.getElementById(id).files[index].size) > 1048576){
                $(`#${id}`).val("");
                document.getElementById(idPreview).style.display = "none";
                document.getElementById(idMessage).style.cssText = " display: block;color: red;font-size: larger";
                
                return ;
               }else {
            
              document.getElementById(idPreview).style.display = "block";
              document.getElementById(idMessage).style.cssText = " display: none";
              readURL(document.getElementById(id));
            
               }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    console.log();
                    $(input).siblings('.preview-img').html('<img src="' + e.target.result + '">');
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        
    </script>

{% endblock %}

