{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Blog{% endblock %}
{% set pageIndex = 'blg' %}
{% block body %}


<div class="example-wrapper">
    <h1 style="text-align: center;">E-mail enviado com sucesso!</h1>

    
</div>
{% endblock %}
