{% extends 'admin.html.twig' %}

{% block title %}PRODUTO | LISTAGEM
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Produtos</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    
                                    <th>Código</th>

                                    <th>Tipo</th>
                                    
                                    <th>Titulo</th>

                                    <th>Ativo</th>

                                    <th>Criação</th>

                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if products|length > 0 %}
                                    {% for product in products %}
                                        <tr>
                                            <td class="center">
                                                <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">
                                                    {{ product.id }}
                                                </a>
                                            </td>
                                            <td>{{ product.barCode }}</td>
                                            <td>{{product.type is not null ? product.type.name : ''}}</td>
                                            <td>{{ product.name }}</td>
                                            <td class="center">
                                                {% if product.isActive %}
                                                    <span class="label label-success">Sim</span>
                                                {% else %}
                                                    <span class="label label-danger">Não</span>
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                {% if product.createdAt %}
                                                    {{ product.createdAt|date('d/m/Y H:i:s') }}
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_product_view', { 'id': product.id}) }}">
                                                    Ver
                                                    <i class="fa fa-eye"></i>
                                                </a>

                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_product_edit', { 'id': product.id}) }}">
                                                    Editar
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">Nenhum registro foi encontrado.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="box-paginator">
                    {{ knp_pagination_render(products) }}
                </div>

                <div class="box-footer">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_product_new') }}">
                        Novo
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
