{% extends 'admin.html.twig' %}

{% block title %}PRODUTO | NOVO
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Adicionar Produto</h3>
                </div>
                <br/>
                <form enctype="multipart/form-data" id="new-product-form" method="POST">

                    <h1>Informações do Produto</h1>

                    <div class="box-body">
                        <div class="form-group">
                            <label for="product_name">Nome Comercial</label>
                            <input class="form-control" id="product_name" name="product[name]" type="text" required/>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Nome da substância ativa</label>
                            <input class="form-control" type="text"  name="product[activeSubstance]" required/>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Descrição Curta Aparece no Carousel da Home</label>
                            <input class="form-control" type="text"  name="product[shortDescription]"/>
                        </div>

                        <div class="form-group">
                            <label for="product_metaTitle">Meta Title (SEO)</label>
                            <input class="form-control" id="product_metaTitle" name="product[metaTitle]" type="text"/>
                        </div>

                        <div class="form-group">
                            <label for="product_metaDescription">Meta Descrição (SEO)</label>
                            <input class="form-control" id="product_metaDescription" name="product[metaDescription]" type="text"/>
                        </div>

                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="product_manager">Gerente</label>
                                <input class="form-control" id="product_manager" name="product[manager]" type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="product_internalCode">Código Interno</label>
                                <input class="form-control" id="product_internalCode" name="product[internalCode]" type="text"/>
                            </div>
                        </div>

                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="product_sapName">NOME SAP</label>
                                <input class="form-control" id="product_sapName" name="product[sapName]" type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="product_refMedicine">MED. REFERÊNCIA</label>
                                <input class="form-control" id="product_refMedicine" name="product[refMedicine]" type="text"/>
                            </div>
                        </div>

                        <div class="form-group-double">
                            <div class="form-group">
                                <label class="control-label">Data de impressão das peças publicitárias</label>
                                <input class="form-control" type="date" name="product[publicityPieceImpressionDate]"/>
                            </div>
                            <div class="form-group">
                                <label for="post_category">Categoria do Produto</label>
                                <select class="select-content" id="post_category" name="product[category]" required>
                                    {% for category in categories %}
                                        <option value="{{category.id}}">{{category.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="product_barcode">Código de Barras</label>
                                <input class="form-control" id="product_barcode" name="product[barcode]" type="text" required/>
                            </div>
                            <div class="form-group">
                                <label for="product_anvisa">Registro na Anvisa</label>
                                <input class="form-control" id="product_anvisa" name="product[anvisaRegistration]" type="text" required/>
                            </div>
                        </div>

                        

                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="post_type">Tipo de apresentação</label>
                                <select class="select-content" id="post_type" name="product[type]">
                                    {% for type in types %}
                                        <option value="{{type.id}}">{{type.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="post_classification">Classificação em relação a Dispersão e Prescrição</label>
                                <select class="select-content" id="post_classification" name="product[classification]">
                                    {% for class in classifications %}
                                        <option value="{{class.id}}">{{class.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group-double">
                            <div class="form-group">
                                <label class="control-label">Classe Sistêmica</label>
                                <select class="select-content" id="post_sistemic_class" name="product[sistemicClass]" required>
                                    {% for sc in sistemicClass %}
                                        <option value="{{sc.id}}">{{sc.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="product_presentation">Apresentação</label>
                                <input type="text" id="product_presentation" name="product[presentation]" required>
                            </div>

                            <div class="form-group">
                                <label for="product_fullPresentation">Apresentação Completa</label>
                                <input type="text" id="product_fullPresentation" name="product[fullPresentation]" required>
                            </div>
                        </div>

                        <div class="form-group-double">
                            <div class="form-group border">
                                <div id="preview-web" class="preview"></div>
                                <label for="product_banner">Banner (Aparece no Carousel da Home)</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="product_banner" name="product[banner]" type="file" />
                               <label id="mensagem-web" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                <p></p>
                                <label for="product_bannerMetaTitle">Banner Meta Title (SEO)</label>
                                <input class="form-control" id="product_bannerMetaTitle" name="product[bannerMetaTitle]" type="text"/>
                                <label for="product_bannerMetaDescription">Banner Meta Description (SEO)</label>
                                <input class="form-control" id="product_bannerMetaDescription" name="product[bannerMetaDescription]" type="text"/>
                            </div>
                            <div class="form-group border">
                                <div id="preview-mobile" class="preview"></div>
                                <label for="product_bannerMobile">Banner Mobile (Aparece no Carousel da Home)</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="product_bannerMobile" name="product[bannerMobile]" type="file"/>
                               <label id="mensagem-mobile" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                <p></p>
                                <label for="bannerMetaTitle">Banner Mobile Meta Title (SEO)</label>
                                <input class="form-control" id="product_bannerMobileMetaTitle" name="product[bannerMobileMetaTitle]" type="text"/>
                                <label for="bannerMetaDescription">Banner Mobile Meta Description (SEO)</label>
                                <input class="form-control" id="product_bannerMobileMetaDescription" name="product[bannerMobileMetaDescription]" type="text"/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="product_composition">Composição</label>
                            <textarea class="ckeditor" id="product_composition" name="product[composition]" required></textarea>
                        </div>
                       
                        <div class="form-group">
                            <label for="product_indication">Indicações</label>
                            <textarea class="ckeditor" id="product_indication" name="product[indication]" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="product_contraindication">Contra Indicações</label>
                            <textarea class="ckeditor" id="product_contraindication" name="product[contraindication]" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="product_dosage">Posologia</label>
                            <textarea class="ckeditor" id="product_dosage" name="product[dosage]" required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="product_bullaFile">Arquivo da Bula</label>
                            <input accept=".pdf" id="product_bullaFile" name="product[bullaFile]" type="file"/>
                        </div>

                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="product_isActive">Ativo?</label>
                                <input data-toggle="toggle"  id="product_isActive" name="product[isActive]" type="checkbox">
                            </div>
                            <div class="form-group">
                                <label for="product_isPublic">Publico?</label>
                                <input data-toggle="toggle"  id="product_isPublic" name="product[isPublic]" type="checkbox">
                            </div>
                        </div>
                        
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="product_isHomeHighLight">Deve exibir na Home?</label>
                                <input data-toggle="toggle" id="product_isHomeHighLight" name="product[isHomeHighLight]" type="checkbox">
                            </div>
                            <div class="form-group">
                                <label for="product_isPsicotropic">É Psicotrópico</label>
                                <input data-toggle="toggle" id="product_isPsicotropic" name="product[isPsicotropic]" type="checkbox">
                            </div>
                        </div>
                    </div>

                    <h1>Assets
                        <i aria-hidden="true" class="fa fa-plus" id="add-asset"></i>
                    </h1>

                    <div class="box-body" id="hold-assets">
                        <div class="hold-product-asset" data-index="0">
                            <div class="form-group">
                                <label for="asset-type">Tipo de Arquivo</label>
                                <select class="asset-type" name="assets[0][type]">
                                    <option value="image">Imagem</option>
                                    <option value="video">Vídeo</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="asset-file">Arquivo</label>
                                <div class="preview"></div>
                                <input accept=".jpg,.png,.webp,.jpeg" class="asset-file" name="assets[0][file]" required type="file" required/>
                                <p></p>
                                <label>Banner Mobile Meta Title (SEO)</label>
                                <input name="assets[0][fileMetaTitle]" type="text"/>
                                <label>Banner Mobile Meta Description (SEO)</label>
                                <input name="assets[0][fileMetaDescription]" type="text"/>
                            </div>
                            <button class="btn btn-danger remove-new-asset">remover</button>
                        </div>
                    </div>

                    <h1>Outras Apresentações</h1>
                    <div class="box-body" id="hold-other-presentation">
                        <div class="form-group">
                            <label>Selecione as outras apresentações deste produto</label>
                            <select class="select-content" name="product[otherPresentation][]" multiple="multiple">
                                {% for prod in allProducts %}
                                    <option value="{{prod.name}}">{{prod.name}} | {{prod.type.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <h1>Contéudo Referenciado
                        <i aria-hidden="true" class="fa fa-plus" id="add-referrer"></i>
                    </h1>
                    <div class="box-body" id="hold-referrer"></div>

                    <div class="box-footer">
                        <button class="btn btn-success" id="send-form">Salvar</button>
                        <a class="btn btn-default" href="{{ path('admin_product_list') }}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var assetIndex = 0;

        $("form").on("submit", function (e) {
            var error = false;
            showLoading();
            $('.ckeditor').each(function () {
                var string = $(this).val().replace(/<[^>]*>/gi, '').length;
                
                if (string == 0) {
                    $(this).siblings(".cke_chrome").addClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid red");
                    error = true;
                } else {
                    $(this).siblings(".cke_chrome").removeClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid #d1d1d1");
                }
            })
            if (error) {
                var id = $('.error').first().attr("id");
                
                $('.admin-content').animate({
                    scrollTop: $("#" + id)[0].offsetTop
                },500);
                hideLoading();
                e.preventDefault();
                return false;
            }
        });

        $("#add-asset").on("click", function () {
            
            var html = '<div class="form-group"><label for="asset-type">Tipo de Arquivo</label><select class="asset-type" name="assets[0][type]"><option value="image">Imagem</option><option value="video">Vídeo</option></select></div><div class="form-group"><label for="asset-file">Arquivo</label><div class="preview"></div><input accept=".jpg,.png,.webp,.jpeg" class="asset-file" name="assets[0][file]" required type="file" required/><p></p><label>Banner Mobile Meta Title (SEO)</label><input name="assets[0][fileMetaTitle]" type="text"/><label>Banner Mobile Meta Description (SEO)</label><input name="assets[0][fileMetaDescription]" type="text"/></div><button class="btn btn-danger remove-new-asset">remover</button>';

            var id = $(".hold-product-asset").last().data("index");

            if(id == undefined) id = 0;

            var findString = "assets\\[0\\]";
            var replaceString = "assets[" + (id+1) + "]";

            var re = new RegExp(findString,"g");
            var newhtml = html.replace(re,replaceString);
            
            var newAsset = '<div class="hold-product-asset" data-index="' + (id+1) + '">' + newhtml + '</div>';
            
            $("#hold-assets").append(newAsset);

            $(".remove-new-asset").unbind("click").on("click", function () {
                var canRemove = confirm("Deseja realmente remover este asset?");
                if (canRemove) {
                    $(this).parent().parent().remove();
                }
            });

            $(".asset-file").unbind("change").change(function () {
                var type = $(this).parent('.form-group').siblings('.form-group').children('.asset-type').val();
                readURL(this, type);
            });

            $(".asset-type").unbind("change").change(function () {
                if ($(this).val() == 'image') {
                    $(this).parent('.form-group').siblings('.form-group').children('.asset-file').attr('accept', '.jpg,.png,.webp,.jpeg');
                } else {
                    $(this).parent('.form-group').siblings('.form-group').children('.asset-file').attr('accept', '.mp4');
                }
            });
        });

        $(".asset-type").change(function () {
            if ($(this).val() == 'image') {
                $(this).parent('.form-group').siblings('.form-group').children('.asset-file').attr('accept', '.jpg,.png,.webp,.jpeg');
            } else {
                $(this).parent('.form-group').siblings('.form-group').children('.asset-file').attr('accept', '.mp4');
            }
        });

        $(".asset-file").change(function () {
            var type = $(this).parent('.form-group').siblings('.form-group').children('.asset-type').val();
            readURL(this, type);
        });

        $("#product_banner").change(function(){
            readSize("product_banner", 'mensagem-web','preview-web', 0);
        });
        $("#product_bannerMobile").change(function(){
            
            readSize("product_bannerMobile", 'mensagem-mobile','preview-mobile', 0);
        });
        function readSize(id, idMessage,idPreview,index){
              if(parseInt(document.getElementById(id).files[index].size) > 1048576){
                $(`#${id}`).val("");
                document.getElementById(idPreview).style.display = "none";
                document.getElementById(idMessage).style.cssText = " display: block;color: red;font-size: larger";
                
                return ;
               }else {
                   
              document.getElementById(idPreview).style.display = "block";
              document.getElementById(idMessage).style.cssText = " display: none";
              readURL(document.getElementById(id));
            
               }
        }
        function readURL(input, type) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    if (type == 'image') {
                        $(input).siblings('.preview').html('<img src="' + e.target.result + '">');
                    } else {
                        $(input).siblings('.preview').html('<video controls><source src="' + e.target.result + '" type="video/mp4">Your browser does not support the video tag.</video>');
                    }
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>

{% endblock %}
