{% extends 'admin.html.twig' %}

{% block title %}PRODUTO | {{ product.name }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Produto</h3>
                </div>

                <div class="owl-carousel owl-theme">
                    {% for asset in product.assets %}
                        <div class="hold-asset item">
                            {% if asset.type == 'image' %}
                                <img class="asset-image" src="{{asset(asset.file)}}" />
                            {% elseif asset.type == 'video'%}
                                <video class="asset-video" controls>
                                    <source src="{{asset(asset.file)}}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="box-body">
                    <table class="table table-striped table-hover table-bordered">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ product.id }}</td>
                            </tr>
                            <tr>
                                <th>Titulo</th>
                                <td>{{ product.name }}</td>
                            </tr>
                            <tr>
                                <th>BarCode</th>
                                <td>{{ product.barCode }}</td>
                            </tr>
                            <tr>
                                <th>BarCode</th>
                                <td><img class="barcode" src="http://barcodes4.me/barcode/c128b/{{ product.barCode }}.png"></td>
                            </tr>
                            <tr>
                                <th>Descricao</th>
                                <td>{{ product.description|raw }}</td>
                            </tr>
                            <tr>
                                <th>Indicação</th>
                                <td>{{ product.indication|raw }}</td>
                            </tr>
                            <tr>
                                <th>Contra Indicação</th>
                                <td>{{ product.contraindication|raw }}</td>
                            </tr>
                            <tr>
                                <th>Posologia</th>
                                <td>{{ product.dosage|raw }}</td>
                            </tr>
                            <tr>
                                <th>Composição</th>
                                <td>{{ product.composition|raw }}</td>
                            </tr>
                            <tr>
                                <th>Ativo</th>
                                <td>
                                    {% if product.isActive %}Yes{% else %}No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Createdat</th>
                                <td>
                                    {% if product.createdAt %}
                                        {{ product.createdAt|date('d/m/Y H:i:s') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Updatedat</th>
                                <td>
                                    {% if product.updatedAt %}
                                        {{ product.updatedAt|date('d/m/Y H:i:s') }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="box-footer view">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_product_edit', { 'id': product.id}) }}">
                        Alterar <i class="fa fa-edit"></i>
                    </a>
                    <a href="{{ path('admin_product_list') }}" class="btn btn-default btn-sm">Voltar</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                center: true,
                items:2,
                loop:false,
            });
        });
    </script>
{% endblock %}