{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Preferências{% endblock %}
{% block styles %}
    <style>
        #form span{ color: red !important; }
    </style>
{% endblock %}

{% set pageIndex = 'cdt' %}

{% block body %}

    {% set user = app.user %}

   
    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>PREFERÊNCIAS</h1></div>
        </section>
        <div class="container">
            <div class="login-forms-box">
                <form id="form" class="form register-form" method="post" action="{{ path('user-home') }}">    
                    <div class="space-h-10 form-groump">
                        <label for="hobby">Qual é o seu hobby preferido? <span class="error" id="hobby-error"></label>
                        <select name="hobby" class="form-control hobby required field-hobby">
                            <option value="">Selecione</option>
                            <option value="Esportes" {{ user_preferential.id is defined and user_preferential.hobby == 'Esportes' ? 'selected' : 'Esportes' }}>Esportes</option>
                            <option value="Leitura" {{ user_preferential.id is defined and user_preferential.hobby == 'Leitura' ? 'selected' : 'Leitura' }}>Leitura</option>
                            <option value="Viajar" {{ user_preferential.id is defined and user_preferential.hobby == 'Viajar' ? 'selected' : 'Viajar' }}>Viajar</option>
                            <option value="Gastronomia" {{ user_preferential.id is defined and user_preferential.hobby == 'Gastronomia' ? 'selected' : '' }}>Gastronomia</option>
                            <option value="Assistir filmes e TV" {{ user_preferential.id is defined and user_preferential.hobby == 'Assistir filmes e TV' ? 'selected' : '' }}>Assistir filmes e TV</option>
                            {% if user_preferential.id is defined and user_preferential.hobby != '' and user_preferential.hobby != 'Outros' %}
                                <option {{ user_preferential.hobby ? 'selected' : '' }} value="{{ user_preferential.hobby }}">{{  user_preferential.hobby }}</option>
                            {% endif %}
                            <option value="Outros" data-other="other">Outros</option>
                        </select>
                        <div class="space-h-10" id="hobby-other-box" style="display: none;">
                            <label for="hobby-other"><span class="error" id="hobby-other-error"></span></label>
                            <input type="text" id="hobby-other" name="hobby_other" placeholder="Digite aqui" class="form-control hobby-other other" autocomplete="off" style="color: #000;" pattern="[a-zA-Z0-9]+">
                        </div>
                    </div>
                    <div class="space-h-10 form-groump">
                        <label for="sport">Qual é o seu esporte preferido? <span class="error" id="sport-error"></label>
                        <select name="sport" class="form-control sport">
                            <option value="">Selecione</option>
                            <option {{ user_preferential.id is defined and user_preferential.sport == 'Futebol' ? 'selected' : '' }} value="Futebol">Futebol</option>
                            <option {{ user_preferential.id is defined and user_preferential.sport == 'Basquete' ? 'selected' : '' }} value="Basquete">Basquete</option>
                            <option {{ user_preferential.id is defined and user_preferential.sport == 'Natação' ? 'selected' : '' }} value="Natação">Natação</option>
                            <option {{ user_preferential.id is defined and user_preferential.sport == 'Vôlei' ? 'selected' : '' }} value="Vôlei">Vôlei</option>
                            <option {{ user_preferential.id is defined and user_preferential.sport == 'Tênis' ? 'selected' : '' }} value="Tênis">Tênis</option>
                            {% if user_preferential.sport is defined and user_preferential.sport != 'Outros' and user_preferential.sport != '' %}
                                <option {{ user_preferential.sport ? 'selected' : '' }} value="{{ user_preferential.sport }}">{{ user_preferential.sport }}</option>
                            {% endif %}
                            <option value="Outros" data-other="other">Outros</option>
                        </select>
                        <div class="space-h-10" id="sport-other-box" style="display: none;">
                            <label for="sport-other"><span class="error" id="sport-other-error"></span></label>
                            <input type="text" id="sport-other" name="sport_other" placeholder="Digite aqui" class="form-control sport-other other" autocomplete="off" style="color: #000;" pattern="[a-zA-Z0-9]+">
                        </div>
                    </div>
                                            
                    <div class="space-h-10  form-groump">
                        <label for="register-team-football">Para qual time você torce?</label>
                        <select name="team_football" class="form-control select-content team-football" >
                            <option value="">Selecione</option>
                            {% for team in teams %}
                            <option {{ user_preferential.id is defined and user.teamFootball == team ? 'selected' : '' }} value="{{ team }}">{{ team }}</option>
                            {% endfor %}
                            <option value="Outros" data-other="other" pattern="[a-zA-Z0-9]+">Outros</option>
                        </select>
                    </div>
                    <div class="space-h-10 form-groump" id="team-football-other-box" style="display: none;">
                        <label for="team-football-other"><span class="error" id="team-football-other-error"></span></label>
                        <input type="text" id="team-football-other" name="team_football_other" placeholder="Digite aqui" class="form-control team-football-other" autocomplete="off" style="color: #000;" pattern="[a-zA-Z0-9]+">
                    </div>

                    <div class="space-h-10 form-groump do-you-have-childrem">
                        <label for="is_children">Você tem filhos? <span class="error" id="children-error"></label>
                        <div class="d-flex">
                            <div>
                                <div class="form-check" style="margin-right:20px;">
                                    <input type="radio" name="is_children" class="form-control is-children" {{ user_preferential.id is defined and user_preferential.isChildren ? 'checked' : '' }} value="1" id="tem-filhos-sim" style="margin-top:0;">
                                    <label for="tem-filhos-sim" class="form-check-label">Sim</label>
                                </div>

                            </div>
                            <div>
                                <div class="form-check">
                                    <input type="radio" name="is_children" class="form-control is-children" {{ user_preferential.id is defined and user_preferential.isChildren ? '' : 'checked' }} value="0"  id="tem-filhos-nao" style="margin-top:0;">
                                    <label for="tem-filhos-nao" class="form-check-label">Não</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="space-h-10  form-groump" id="box-how-many" style="display: {{ user_preferential.id is defined and user_preferential.isChildren ? 'block' : 'none' }}">
                        <label for="sport">Quantos? <span class="error" id="how-many-error"></label>
                        <select name="how_many" class="form-control how-many">
                            <option value="0">Selecione</option>
                            <option value="1" {{ user_preferential.id is defined and user_preferential.howManyChildren == 1 ? 'selected' : '' }}>1</option>
                            <option value="2" {{ user_preferential.id is defined and user_preferential.howManyChildren == 2 ? 'selected' : '' }}>2</option>
                            <option value="3" {{ user_preferential.id is defined and user_preferential.howManyChildren == 3 ? 'selected' : '' }}>3</option>
                            <option value="4" {{ user_preferential.id is defined and user_preferential.howManyChildren == 4 ? 'selected' : '' }}>4</option>
                            <option value="5" {{ user_preferential.id is defined and user_preferential.howManyChildren == 5 ? 'selected' : '' }}>5</option>
                            <option value="6" {{ user_preferential.id is defined and user_preferential.howManyChildren == 6 ? 'selected' : '' }}>6</option>
                            <option value="7" {{ user_preferential.id is defined and user_preferential.howManyChildren == 7 ? 'selected' : '' }}>7</option>
                            <option value="8" {{ user_preferential.id is defined and user_preferential.howManyChildren == 8 ? 'selected' : '' }}>8</option>
                            <option value="9" {{ user_preferential.id is defined and user_preferential.howManyChildren == 9 ? 'selected' : '' }}>9</option>
                            <option value="10" {{ user_preferential.id is defined and user_preferential.howManyChildren == 10 ? 'selected' : '' }}>10</option>
                            <option value="11" {{ user_preferential.id is defined and user_preferential.howManyChildren == 11 ? 'selected' : '' }}>11</option>
                            <option value="12" {{ user_preferential.id is defined and user_preferential.howManyChildren == 12 ? 'selected' : '' }}>12</option>
                            <option value="13" {{ user_preferential.id is defined and user_preferential.howManyChildren == 13 ? 'selected' : '' }}>13</option>
                            <option value="14" {{ user_preferential.id is defined and user_preferential.howManyChildren == 14 ? 'selected' : '' }}>14</option>
                            <option value="15" {{ user_preferential.id is defined and user_preferential.howManyChildren == 15 ? 'selected' : '' }}>15</option>
                            <option value="16" {{ user_preferential.id is defined and user_preferential.howManyChildren == 16 ? 'selected' : '' }}>16</option>
                            <option value="17" {{ user_preferential.id is defined and user_preferential.howManyChildren == 17 ? 'selected' : '' }}>17</option>
                            <option value="18" {{ user_preferential.id is defined and user_preferential.howManyChildren == 18 ? 'selected' : '' }}>18</option>
                            <option value="19" {{ user_preferential.id is defined and user_preferential.howManyChildren == 19 ? 'selected' : '' }}>19</option>
                            <option value="20" {{ user_preferential.id is defined and user_preferential.howManyChildren == 20 ? 'selected' : '' }}>20</option>
                        </select>
                    </div>

                    <div class="space-h-10  form-groump" id="box-age-children" style="display: {{ user_preferential.id is defined and user_preferential.howManyChildren >= 1 ? 'block' : 'none' }};">
                        <label for="age-children"> Qual a idade? <span class="error" id="age-children-error"></label>

                        <div class="container grid">
                            {% if user_preferential.id is defined and user_preferential.howManyChildren >= 1 %}

                                {% for info in user_preferential.getChildren %}
                                    {% set i = loop.index %}
                                    
                                        <div class="one-fourth">
                                            <div class="space-h-10 form-groump">
                                                <label for="age-i">Filho {{ i }}<span class="error" id="age-{{ i }}-children-error"></label>
                                                <select name="info_children[age][{{ i }}]" class="form-control age-children-{{ i }}">
                                                    <option value="">Selecione</option>
                                                    {% for n in 0..50 %}
                                                        {% if loop.first %}
                                                            
                                                            <option value="0-11 meses" {{ info.age == n and info.age != '' ? 'selected' : '' }}>0-11 meses</option>
                                                        {% else %}
                                                            {% set age_children = n == 1 ? n ~ ' ano' : n ~ ' anos' %}
                                                            
                                                            <option value="{{ age_children }}" {{ info.age == n and info.age != '' ? 'selected' : '' }}>{{ age_children }} </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    
                                   
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="space-h-10  form-groump" id="box-sport-children" style="display: {{ user_preferential.id is defined and user_preferential.howManyChildren >= 1 ? 'block' : 'none' }};">
                        <label for="sport-children">Quais os esportes preferidos? <span class="error" id="sport-children-error"></label>

                        <div class="container grid">
                            {% if user_preferential.id is defined and user_preferential.howManyChildren >= 1 %}

                            {% for info in user_preferential.getChildren %}
                                {% set i = loop.index %}
                                   
                                        <div class="one-fourth">
                                            <div class="space-h-10  form-groump">
                                                <label for="sport">Filho {{ i }}<span class="error" id="sport-children-error"></label>
                                                <select name="info_children[sport][{{ i }}]" class="form-control sport-children-{{ i }}">
                                                    <option value="">Selecione</option>
                                                    <option {{ info.sport == 'Futebol' ? 'selected' : '' }} value="Futebol">Futebol</option>
                                                    <option {{ info.sport == 'Basquete' ? 'selected' : '' }} value="Basquete">Basquete</option>
                                                    <option {{ info.sport == 'Natação' ? 'selected' : '' }} value="Natação">Natação</option>
                                                    <option {{ info.sport == 'Vôlei' ? 'selected' : '' }} value="Vôlei">Vôlei</option>
                                                    <option {{ info.sport == 'Tênis' ? 'selected' : '' }} value="Tênis">Tênis</option>
                                                    {% if info.sport is defined and info.sport != '' %}
                                                        <option {{ info.sport ? 'selected' : '' }} value="{{ info.sport }}">{{ info.sport }}</option>
                                                    {% endif %}
                                                    <option value="Outros" data-other="other">Outros</option>
                                                </select>
                                            </div>
                                        </div>
                                    
                                {% endfor %}
                            {% endif %}
                        </div>
                       
                    </div>

            
                    <div class="space-h-10" id="box-team-football-children" style="display: {{ user_preferential.id is defined and user_preferential.howManyChildren >= 1 ? 'block' : 'none' }};">
                        <label for="team-football-children">Torcem por algum time? <span class="error" id="team-football-children-error"></label>

                         <div class="container grid">
                            {% if user_preferential.id is defined and user_preferential.howManyChildren >= 1 %}

                                {% for info in user_preferential.getChildren %}
                                    {% set i = loop.index %}
                                        <div class="one-fourth">
                                            <div class="space-h-10  form-groump">
                                                <label for="team-football-children-{{ i }}">Filho {{ i }}<span class="error" id="team-football-children-{{ i }}-error"></label>
                                                <select name="info_children[team_football][{{ i }}]" class="form-control team-football-children-{{ i }}">
                                                    <option value="">Selecione</option>
                                                    {% for team in teams %}
                                                        <option {{ user_preferential.id is defined and info.teamFootball == team ? 'selected' : '' }} value="{{ team }}">{{ team }}</option>
                                                    {% endfor %}
                                                    <option data-children="{{ loop.index }}" value="Outros" data-other="other">Outros</option>
                                                </select>
                                            </div>
                                        </div>
                                   
                                {% endfor %}
                            {% endif %}
                         </div>
                        
                    </div>            


                    <div class="space-h-10">
                        <button type="button" class="btn-default save" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'preferencias', 'eventAction': 'click', 'eventLabel': 'etapa:ETAPA-CONCLUÍDA'});">Salvar</button>
                    </div>                  
                    
                </form>
            
            </div>
        </div>
    </div>
    
{% endblock %}



{% block javascripts %}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
     <script>
    $(document).ready(function(e) {
        var redirectHome = "{{ path('home') }}";
        
        var teams = [
            'América-MG',
            'Athletico',
            'Avaí',
            'Atlético-GO',
            'Atlético-MG',
            'Bahia',
            'Botafogo',
            'Bragantino',
            'Brasil de Pelotas',
            'Brusque',
            'Ceará',
            'Chapecoense',
            'Confiança',
            'Corinthians',
            'Curitiba',
            'CRB',
            'Cruzeiro',
            'CSA',
            'Cuiabá',
            'Fortaleza',
            'Flamengo',
            'Fluminense',
            'Goiás',
            'Grêmio',
            'Guarani',
            'Internacional',
            'Juventude',
            'Londrina',
            'Náutico',
            'Operário',
            'Palmeiras',
            'Ponte Preta',
            'Remo',
            'Sampaio Corrêa',
            'Santos',
            'São Paulo',
            'Sport',
            'Vasco',
            'Vila Nova',
            'Vitória',
            'Nenhum'
        ];

        $('.is-children').on('click', function(e) {      
            var is_children = $(this).val()
            var box_team_football_children = $('#box-team-football-children')
            var box_sport_children = $('#box-sport-children')
            var box_age_children = $('#box-age-children')

            if (is_children == 1) {
                $('#box-how-many').show();
            } else {
                $('#box-how-many').hide()
                box_team_football_children.hide()
                box_sport_children.hide()
                box_age_children.hide()
                box_team_football_children.find('.container').html('')
                box_sport_children.find('.container').html('')
                box_age_children.find('.container').html('')
                $(".how-many option:selected").prop("selected", false);
                $(".how-many option:first").prop("selected", "selected");
            }
        })


        $('.how-many').on('change', function(e) {
            var how_many = $(this).val()
            var box_team_football_children = $('#box-team-football-children')
            var box_sport_children = $('#box-sport-children')
            var box_age_children = $('#box-age-children')

            box_team_football_children.show()
            box_sport_children.show()
            box_age_children.show()
            box_team_football_children.find('.container').html('')
            box_sport_children.find('.container').html('')
            box_age_children.find('.container').html('')

            for (var i = 1; i <= how_many; i++) {
                //console.log(i);
                var age_html = 
                    '<div class="one-fourth">' +
                        '<div class="space-h-10 form-groump">' +
                            '<label for="age-'+ i +'-children">Filho '+ i +'<span class="error" id="age-'+ i +'-children-error"></label>' +
                            '<select name="info_children[age]['+ i +']" class="form-control age-children-'+ i +'" onchange="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'preferencias\', \'eventAction\': \'click\', \'eventLabel\': \'etapa: Idade filho ' +i+'\'}); ">';
                                age_html += '<option value="">Selecione</option>';
                                for(var x = 0; x <= 50; x++) {
                                    if (x == 0) {
                                        age_html += '<option value="0-11 meses">0-11 meses</option>';
                                    } else {
                                        var age_children = x == 1 ? x + ' ano' : x + ' anos'
                                        age_html += '<option value="'+ age_children +'">'+ age_children +'</option>';
                                    }
                                }
                age_html += '</select>';
                age_html += '</div>';
                age_html += '</div>';      

                box_age_children.find('.container').append(age_html);

                //var j = i;

                //Quais os esportes preferidos?
                box_sport_children.find('.container').append('<div class="one-fourth">' +
                    '<div class="space-h-10  form-groump">' +
                        '<label for="sport">Filho '+ i +'<span class="error" id="sport-children-error"></label>' +
                        '<select name="info_children[sport]['+ i +']" class="form-control sport-children-'+ i +'"  onchange="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'preferencias\', \'eventAction\': \'click\', \'eventLabel\': \'etapa: Esporte filho ' +i+'\'}); ">' +
                            '<option data-children="'+i+'" data-i="'+i+'" value="">Selecione</option>' +
                            '<option data-children="'+i+'" data-i="'+i+'" value="Futebol">Futebol</option>' +
                            '<option data-children="'+i+'" value="Basquete">Basquete</option>' +
                            '<option data-children="'+i+'" value="Natação">Natação</option>' +
                            '<option data-children="'+i+'" value="Vôlei">Vôlei</option>' +
                            '<option data-children="'+i+'" value="Tênis">Tênis</option>' +
                            '<option data-children="'+i+'" value="Outros" data-other="other">Outros</option>' +
                        '</select>' +

                        '<div class="space-h-10 other-sport-'+ i +'" style="display: none;">' +
                            '<label for="info-children-sport-other-'+ i +'"><span class="error" id="info-children-sport-other-'+ i +'-error"></span></label>' +
                            '<input type="text" name="info_children[sport][other]['+ i +']" placeholder="Digite aqui" class="form-control .other-'+ i +'" onkeyup="valida(this)" style="color: #000;" pattern="[a-zA-Z0-9]+">' +
                        '</div>' +
                        
                        '</div>' +
                    '</div>');


                    var box_teams_html = '<div class="one-fourth">' 
                    box_teams_html += '<div class="space-h-10  form-groump">'                          
                        box_teams_html += '<label for="team-football-children-'+ i +'">Filho '+ i +'<span class="error" id="team-football-children-'+ i +'-error"></label>'
                        box_teams_html += '<select name="info_children[team_football]['+ i +']" class="form-control team-football-children-'+ i +'"  onchange="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'preferencias\', \'eventAction\': \'click\', \'eventLabel\': \'etapa: Time filho ' +i+'\'}); ">'                   
                            box_teams_html += '<option data-children="" value="">Selecione</option>'
                            for (var y = 0; y < teams.length; y++) {
                            box_teams_html += '<option data-children="'+i+'" value="'+ teams[y] +'">'+ teams[y] +'</option>'
                            }
                            
                            box_teams_html += '<option data-children="'+i+'" value="Outros" data-other="other">Outros</option>' 
                        box_teams_html += '</select>'

                    box_teams_html += '<div class="space-h-10 form-groump other-team-football-'+ i +'" style="display: none;">' 
                        box_teams_html += '<label for="info-children-team_football-other-'+ i +'"><span class="error" id="info-children-team-football-other-'+ i +'-error"></span></label>' 
                        box_teams_html += '<input type="text" name="info_children[team_football][other]['+ i +']"  placeholder="Digite aqui" class="form-control .other-'+ i +'" onkeyup="valida(this)" style="color: #000;" pattern="[a-zA-Z0-9]+">'
                    box_teams_html += '</div>';

                    box_teams_html += '</div>';
                    box_teams_html += '</div>';

                box_team_football_children.find('.container').append(box_teams_html);

                    
                    //Outros campo para filhos - Quais os esportes preferidos?
                    $('.sport-children-'+ i).on('change', function(e) {
                        var option = $(this).val()
                        var children = $(this).find('option:selected').data('children')
                        
                        if ($(this).val() == 'Outros') { 
                            
                           $(this).siblings('.other-sport-' + children).show()  
                        } else {
                           $(this).siblings('.other-sport-' + children).hide()
                        }
                    });    

                    
                    //Outros campo para filhos - Torcem por algum time?
                    $('.team-football-children-'+ i).on('change', function(e) {
                        var option = $(this).val()
                        var children = $(this).find('option:selected').data('children')
                        
                        if ($(this).val() == 'Outros') { 
                            $(this).siblings('.other-team-football-' + children).show() 
                        } else {
                            $(this).siblings('.other-team-football-' + children).hide() 
                        }
                    });                        

            }

        })

        //salvando o cadastro
        $('.save').on('click', function(e) {
            var form = $('#form')
             
            $.ajax({
                url: "{{ path('user-save-preferences') }}",
                type: "POST",
                dataType: "json",
                async: false,
                data: form.serialize(),
                success: function (data) {
                    response = data
                    console.log('save ', response)
                    
                    if (!response.status) {
                        if (response.error.hasOwnProperty('hobby')) {
                            $('#hobby-error').text(response.error.hobby);
                        }

                        if (response.error.hasOwnProperty('sport')) {
                            $('#sport-error').text(response.error.sport);
                        }

                    } else {
                        window.location.href = response.url
                    }
                }
            });
        });

        $('[name="hobby"]').on("change", function(){
            $('#hobby-error').text('');
        });

        $('[name="sport"]').on("change", function(){
            $('#sport-error').text('');
        });

        //Outros campo para qual time você torce?
        $('.team-football').on('change', function(e) {
            var option = $(this).val()
            var box = $('#team-football-other-box')
            
            if ($('.team-football option:selected').data('other') == 'other') { 
                box.show()  
            } else {
                box.hide()
            }
        });

        //Outros campo para qual é o seu esporte preferido? 
        $('.sport').on('change', function(e) {
            var option = $(this).val()
            var box = $('#sport-other-box')
            
            if ($('.sport option:selected').data('other') == 'other') { 
                box.show()  
            } else {
                box.hide()
            }
        });    

        //Outros campo qual é o seu hobby preferido?
        $('.hobby').on('change', function(e) {
            var option = $(this).val()
            var box = $('#hobby-other-box')
            
            if ($('.hobby option:selected').data('other') == 'other') { 
                box.show()  
            } else {
                box.hide()
            }
        });    

      
       $('input').on('keyup', function(){
        var input_val = $(this).val();
        var inputRGEX = /^[a-zA-Z]*$/;
        var inputResult = inputRGEX.test(input_val);
          if(!(inputResult))
          {     
            this.value = this.value.replace(/[^a-z\s]/gi, '');
          }
       });
    });

    function valida($this) {
        var input_val = $this.value
        var inputRGEX = /^[a-zA-Z]*$/;
        var inputResult = inputRGEX.test(input_val);
        if(!(inputResult))
        {     
            $this.value = $this.value.replace(/[^a-z\s]/gi, '');
        }
    }

     $('input').on('keyup', function(){
            var input_val = $(this).val();
            var inputRGEX = /^[a-zA-Z]*$/;
            var inputResult = inputRGEX.test(input_val);
            if(!(inputResult))
            {     
                this.value = this.value.replace(/[^a-z\s]/gi, '');
            }
        });
	</script>
    <style>
        .container.grid{padding:0;}
        .grid .one-fourth{margin-right: 20px;}
    </style>

    <script>
        $('select').on('change', function() {
            var labelName = $(this).parent().find('label').text();
            var valueField = this.value;
            
            dataLayer.push({ 
                'event':'GAEvent', 
                'eventCategory': 'preferencias', 
                'eventAction': 'click', 
                'eventLabel': 'etapa:'+labelName
            });
        });


        $('input[type=radio][name=is_children]').change(function() {
            dataLayer.push({ 
            'event':'GAEvent', 
            'eventCategory': 'preferencias', 
            'eventAction': 'click', 
            'eventLabel': 'etapa:Você tem filhos?'
            });
        });
    </script>
{% endblock %}