{% extends 'base.html.twig' %}
{% set metadescription = 'Linha inverno da Neo Quimica. Confira nossos medicamentos, serão seus novos aliados para o inverno. Saiba mais sobre agora, acesse!' %}
{% set metatitle = 'Linha inverno' %}
{% block title %}Linha Inverno{% endblock %}
    
{% block body %}
<div class="histamin" id="histamin">
    <section class="text-center banner-histamin" >
        <img src="{{ asset('_dist/image/img/histamin/banner-mobile.png')}}" alt="Banner " class="visible-xs">
        <img src="{{ asset('_dist/image/img/histamin/banner-desk.png')}}" alt="Banner " class="hidden-xs">
    </section>

    <div class="space-h-40 histamin-section-1">
        <div class="container">
            <h1>Seus aliados para o inverno!</h1>
            <p>
                A estação mais fria do ano traz consigo diversos sintomas bem conhecidos. Mas, com a Linha Inverno da Neo Química, você está preparado para lidar com cada um deles.
            </p>
            <p class="space-h-20">
                Confira os conteúdos especiais que preparamos para você conhecer mais sobre cada um dos produtos e como eles podem ajudá-lo a trazer mais bem-estar para os seus clientes!
            </p>
        </div>
    </div>
    
    <div class="dark-blue-section">
        <div class="container">
            <div class="histamin-videos-1">
                <div class="histamin-videos-text">
                    <h2>Conheça a<br> linha completa!</h2>
                    <p class="space-h-20">
                        Assista aos vídeos e saiba mais sobre cada um dos seus maiores aliados dessa estação!
                    </p>
                    {# <a href="#winter-line-products" class="btn-default">Clique aqui e confira!</a> #}
                </div>
                <div class="histamin-videos-carousel">
                    <div class="slides owl-carousel">
                        <div class="item">
                            <a href="#" data-modal="video1" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha:Histamin'});">
                                <img src="{{ asset('_dist/image/img/histamin/video-1.jpg')}}" alt=""style="border-radius:15px;">
                            </a>
                        </div>
                        <div class="item" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha:Neo Loratadin'});">
                            <a href="#" data-modal="video2">
                                <img src="{{ asset('_dist/image/img/histamin/video-2.jpg')}}" alt=""style="border-radius:15px;">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" data-modal="video3" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha:Neolefrin'});">
                                <img src="{{ asset('_dist/image/img/histamin/video-3.jpg')}}" alt=""style="border-radius:15px;">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" data-modal="video4" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha:Neopiridin'});">
                                <img src="{{ asset('_dist/image/img/histamin/video-4.jpg')}}" alt=""style="border-radius:15px;">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" data-modal="video5" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha:Neosoro'});">
                                <img src="{{ asset('_dist/image/img/histamin/video-5.jpg')}}" alt=""style="border-radius:15px;">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" data-modal="video6" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha:Neossolvan'});">
                                <img src="{{ asset('_dist/image/img/histamin/video-6.jpg')}}" alt=""style="border-radius:15px;">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" data-modal="video7" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha:Tilugen'});">
                                <img src="{{ asset('_dist/image/img/histamin/video-7.jpg')}}" alt="" style="border-radius:15px;">
                            </a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    {# <div class="histamin-cursos-section">
        <div class="container">
            <h2>Aprofunde seus conhecimentos!</h2>
            <p>
               Realize os cursos rápidos elaborados pelo Instituto Racine.<br> Além de aprimorar seus conhecimentos, você ainda receberá um certificado exclusivo!
            </p>
    
            <div class="histamin-cursos-carousel">
                <div class="slides owl-carousel">
                    <div class="item">
                        <a href="{{ path('course_detail', {'slug':'caracteristicas-das-principais-classes-de-medicamentos-utilizadas-no-tratamento-da-asma-dpoc-e-rinite-alergica-brocodilatadores-corticosteroides-mucoliticos-e-descongestionantes'}) }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'aprofunde-seus-conhecimentos:Características das principais classes de medicamentos utilizadas no tratamento da asma, DPCO e rinite alérgica'});">
                            <img src="{{ asset('_dist/image/img/histamin/curso-1.jpg')}}" alt="">
                        </a>
                        <h3>Características das principais classes de medicamentos utilizadas no tratamento da asma, DPCO e rinite alérgica:</h3>
                        <p>broncodilatadores, coricosteroides, mucolíticos e descongestionantes.</p>
                    </div>
                    <div class="item">
                        <a href="{{ path('course_detail', {'slug':'orientacao-para-uso-de-produtos-que-requerem-cuidados-especiais-nasais-e-inalatorios-oculares-e-transdermicos'}) }}"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'aprofunde-seus-conhecimentos:Orientação para uso de produtos que requerem cuidados especiais'});">
                            <img src="{{ asset('_dist/image/img/histamin/curso-2.jpg')}}" alt="">
                        </a>
                        <h3>Orientação para uso de<br> produtos que requerem<br> cuidados especiais:</h3>
                        <p>nasais, inalatórios<br> e transdérmicos.</p>
                    </div>
                    <div class="item">
                        <a href="{{ path('course_detail', {'slug':'reacoes-alergicas-e-atuacao-do-farmaceutico-na-sua-identificacao-prevencao-e-manejo'}) }}"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'aprofunde-seus-conhecimentos:Reações alérgicas e a atuação do farmacêutico'});">
                            <img src="{{ asset('_dist/image/img/histamin/curso-3.jpg')}}" alt="">
                        </a>
                        <h3>Reações alérgicas<br> e a atuação do<br> farmacêutico</h3>
                        <p>na sua identificação,<br> prevenção e manejo.</p>
                    </div>
                    <div class="item">
                        <a href="{{ path('course_detail', {'slug':'fisiopatologia-e-farmacoterapia-da-tosse'}) }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'aprofunde-seus-conhecimentos:Fisiopatologia e Farmacoterapia da Tosse'});">
                            <img src="{{ asset('_dist/image/img/histamin/curso-4.jpg')}}" alt="">
                        </a>
                        <h3>Fisiopatologia e Farmacoterapia da Tosse</h3>
                        
                    </div>
                </div> 
            </div>
          

        </div>
    </div> #}

    {% set contentsGameficacao = pagesSpecialContents('inverno') %}

    {% if contentsGameficacao|length > 0 %}
        <div class="histamin-materias-exclusivas">
            <div class="container">
                <h2>Matérias exclusivas!</h2>
                <p class="space-h-20">
                    Fique ainda mais atualizado sobre os sintomas mais comuns do inverno e descubra quais são os seus melhores aliados para combater cada um deles!
                </p>

                <div class="materias-histamin-mobile">
                    <div class="slides  owl-carousel">

                        {% for contents in contentsGameficacao.blogPost %}
                            {% set url = path('blog_detail', {'slug': contents.slug}) ~ '?lp=true'%}
                            <div class="item">
                                <article>
                                    <figure>
                                        <a href="{{ url }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'materias:{{ contents.title|raw }}'});"><img src="{{ asset(contents.image)}}" alt=""></a>
                                    </figure>
                                    <h3><a href="{{ url }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'materias:{{ contents.title|raw }}'});">{{ contents.title|raw }}</a> </h3>
                                    <p>
                                        <a href="{{ url }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'materias:{{ contents.title|raw }}'});">
                                            Entenda como eles funcionam no organismo!
                                        </a>
                                    </p>
                                </article>
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
                
                
                <div class="text-center space-h-30">
                    <a href="{{ path('blog_home', {'tipo':'materias'}) }}" class="btn-default btn-full" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-inverno', 'eventAction': 'clique', 'eventLabel': 'materia-exclusivas>ver-todos'});">VER TODAS</a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="">
        <div class="box-blue-one quiz-box">
            <div class="container">
                <h2>Você está pronto para<br> testar seus conhecimentos?</h2>
                <p>
                    Agora que você é um especialista em combater os sintomas mais<br> comuns dessa estação, coloque seus conhecimentos à prova<br> neste quiz interativo!
                </p> 
                <div>
                    <a href="https://www.portalneopharma.com.br/quiz/voce-sabe-como-aliviar-os-sintomas-do-inverno" class="btn-default btn-full" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'faca-o-teste'});dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'faca-o-teste'});">FAÇA O TESTE</a>  
                </div>
            </div>
        </div>
    </div>

    <div class="container winter-line-container" id="winter-line-products">
        <div class="text-center">
            <h2>Lista de produtos</h2>
        </div>
        
        <div class="winter-line-products">
            <div class="winter-line-item">
                <figure class="winter-line-img">
                    <img src="{{ asset('_dist/image/img/histamin/antigripais-img.png')}}" alt="">
                </figure>
                <span class="text-upper">AntigripaL</span>
                <figure class="list-img">
                    <a href="https://www.portalneopharma.com.br/produtos?q=neolefrin" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'produtos:neolefrin'});"><img src="{{ asset('_dist/image/img/histamin/list-antigripal.png')}}" alt=""></a>
                </figure>
            </div>
            <div class="winter-line-item">
                <figure class="winter-line-img">
                    <img src="{{ asset('_dist/image/img/histamin/congestao-nasal-img.png')}}" alt="">
                </figure>
                <span class="text-upper">Congestão Nasal</span>
                <figure class="list-img">
                    <a href="https://www.portalneopharma.com.br/produtos?q=Neosoro" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'produtos:Neosoro'});"><img src="{{ asset('_dist/image/img/histamin/list-neosoro.png')}}" alt=""></a>
                </figure>
            </div>
            <div class="winter-line-item">
                <figure class="winter-line-img">
                    <img src="{{ asset('_dist/image/img/histamin/tosse-img.png')}}" alt="">
                </figure>
                <span class="text-upper">Tosse</span>
                <figure class="list-img">
                    <!-- Image Map Generated by http://www.image-map.net/ -->
                    <img src="{{ asset('_dist/image/img/histamin/list-tosse.png')}}" usemap="#image-tosse">
                    <map name="image-tosse">
                        <area target="_blank" alt="Neossolvan" title="Neossolvan" href="https://www.portalneopharma.com.br/produtos?q=Neossolvan" coords="2,2,3,149,211,149,210,0" shape="poly"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'produtos:Neossolvan'});">
                        <area target="_blank" alt="Tilugen" title="Tilugen" href="https://www.portalneopharma.com.br/produtos?q=Tilugen" coords="212,1,211,151,423,151,423,1" shape="poly"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'produtos:Tilugen'});">
                    </map>
                </figure>
            </div>
            <div class="winter-line-item">
                <figure class="winter-line-img">
                    <img src="{{ asset('_dist/image/img/histamin/neopiridin.png')}}" alt="">
                </figure>
                <span class="text-upper">Garganta</span>
                <figure class="list-img">
                    <a href="https://www.portalneopharma.com.br/produtos?q=Neopiridin" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'produtos:Neopiridin'});"><img src="{{ asset('_dist/image/img/histamin/list-neopiridin.png')}}" alt=""></a>
                </figure>
            </div>

            <div class="winter-line-item">
                <figure class="winter-line-img">
                    <img src="{{ asset('_dist/image/img/histamin/antialergicos.png')}}" alt="">
                </figure>
                <span class="text-upper">Antialérgicos</span>
                <figure class="list-img">
                    <!-- Image Map Generated by http://www.image-map.net/ -->
                    <img src="{{ asset('_dist/image/img/histamin/listt-antialergicos.png')}}" usemap="#image-antialergicos">

                    <map name="image-antialergicos">
                        <area target="_blank" alt="histamin" title="histamin" href="https://www.portalneopharma.com.br/produtos?q=histamin" coords="3,0,5,151,209,151,212,2,3,0" shape="poly"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'produtos:histamin'});">
                        <area target="_blank" alt="desrinite" title="desrinite" href="https://www.portalneopharma.com.br/produtos?q=desrinite" coords="215,0,215,149,409,151,410,2" shape="poly"   onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'produtos:desrinite'});">
                        <area target="_blank" alt="loratadin" title="loratadin" href="https://www.portalneopharma.com.br/produtos?q=loratadin" coords="413,0,412,150,618,149,617,2" shape="poly"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'inverno', 'eventAction': 'click', 'eventLabel': 'produtos:loratadin'});">
                    </map>
                </figure>
            </div>
            
        </div>
    </div>

    <!-- Video 1 Histamin -->
    <div class="modal-default video-modal" id="video1">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Histamin</h2>
                </div>
                <div class="text-center video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Xzg8ynzQJWs" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 2 Neo Loratadin -->
    <div class="modal-default video-modal" id="video2">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Neo Loratadin</h2>
                </div>
                <div class="text-center video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1LkyOzj8kYY" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 3 Neolefrin -->
    <div class="modal-default video-modal" id="video3">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Neolefrin</h2>
                </div>
                <div class="text-center video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lNRnfgUUuTo" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 4 Neopiridin -->
    <div class="modal-default video-modal" id="video4">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Neopiridin</h2>
                </div>
                <div class="text-center video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vctgRskX2Lw" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 5 Neosoro -->
    <div class="modal-default video-modal" id="video5">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Neosoro</h2>
                </div>
                <div class="text-center video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/MSzhEDOm5Gw" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 6 Neossolvan -->
    <div class="modal-default video-modal" id="video6">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Neossolvan</h2>
                </div>
                <div class="text-center video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4Gn6wIu5MFQ" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 7 Tilugen  -->
    <div class="modal-default video-modal" id="video7">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Tilugen </h2>
                </div>
                <div class="text-center video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_t0mkYAZBFw" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <p class="texto-legal">
          Desrinite. Cloridrato de fexofenadina. Indicações: para o alívio das manifestações alérgicas. MS 1.5584.0606. Neosoro Fluid Spray. Cloreto de sódio. Indicações: fluidificante e descongestionante nasal. MEDICAMENTO DE NOTIFICAÇÃO SIMPLIFICADA RDC ANVISA Nº 199/2006 AFE nº 1.05584-9. Neosoro H. cloreto de sódio. Indicações: descongestionante nasal de uso tópico. MS 1.5584.0083. Neosoro infantil. Cloreto de sódio e cloreto de benzalcônio. Indicações: fluidificante e descongestionante nasal. MEDICAMENTO DE NOTIFICAÇÃO SIMPLIFICADA RDC ANVISA Nº 199/2006 AFE nº 1.05584-9. Histamin. Maleato de dexclorfeniramina. Comprimido. MS 1.5584.0573. Xarope. MS 1.5584.0373. Indicações: tratamento de alergias, prurido, rinite alérgica, urticária, picada de inseto, conjuntivite alérgica, dermatite atópica e eczemas alérgicos. Creme. Indicações: para o alívio do prurido, alergias, coceiras, urticária e picada de inseto. MS 1.5584.0373. Neossolvan. Cloridrato de ambroxol. Indicações: tratamento das doenças broncopulmonares agudas e crônicas para facilitar a expectoração quando houver acúmulo de secreção. MS 1.5584.0349 Tilugen. fendizoato de cloperastina 3,54mg/ml. Indicações: tratamento sintomático de todas as formas de tosse seca sem causa definida e/ou sem produção de secreções (catarro). MS 1.5584.0231. Neolefrin. Cloridrato de fenilefrina, maleato de carbinoxamina e paracetamol. Indicações: tratamento dos sintomas das gripes e resfriados. MS 1.5584.0214. Neo Loratadin. loratadina. Indicações: alívio dos sintomas associados com a rinite alérgica, como: coceira nasal, coriza, espirros, ardor e coceira nos olhos. Também é indicado para o alívio dos sinais e sintomas da urticária e de outras alergias da pele. MS 1.5584.0576. Neopiridin. benzocaína e cloreto de cetilpiridínio. Indicações: alívio rápido e temporário das dores e irritações da boca e da garganta provocadas por faringites, amigdalites, estomatites, resfriados, por procedimentos odontológicos e pequenas cirurgias da boca e da garganta. MS 1.5584.0367.<br> SE PERSISTIREM OS SINTOMAS, O MÉDICO DEVERÁ SER CONSULTADO – JUNHO/2022.
        </p>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){

            if($(".histamin-videos-carousel .slides").length) {
				$(".histamin-videos-carousel .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					margin: 0,
					loop: true,
					nav: true,
					items: 1
				});
			}

            //Carrossel de cursos
            if($(".histamin-cursos-carousel .slides").length) {
				$(".histamin-cursos-carousel .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					margin: 60,
					loop: true,
					nav: true,
					items: 1,
                    responsive:{
                        960:{
                            items:4
                        }
                    }
				});
			}
            if($(".materias-histamin-mobile .slides").length) {
				$(".materias-histamin-mobile .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					margin: 50,
					loop: true,
					nav: true,
					items:1,
                    responsive:{
                        960:{
                            items:3
                        }
                    }
				});
			}
            

            //Pausar o audio ao fechar o modal
            $(".close-modal").click(function() {
                $('audio').get(0).pause();
                $('video').trigger('pause'); 
            });
            

            //Stop no video ao fechar o modal 
            $('.video-modal iframe').addClass("youtube-iframe");
            
            $(".video-modal .close-modal").click(function() {
                var addId = $(this).closest(".video-modal").attr('id');
                
                $('#'+addId+' .youtube-iframe').each(function(index) {
                    $(this).attr('src', $(this).attr('src'));
                    return false;
                });
                
            });
        });
    </script>
{% endblock %}
