{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Linha Inverno - Quiz{% endblock %}
    
{% block body %}
<div class="histamin-quiz histamin" id="histamin-quiz">
    <section class="text-center banner-histamin" >
        <img src="{{ asset('_dist/image/img/histamin/banner-quiz-mobile.jpg')}}" alt="Banner " class="visible-xs">
        <img src="{{ asset('_dist/image/img/histamin/banner-quiz-desktop.jpg')}}" alt="Banner " class="hidden-xs">
        <div class="content-banner-histamin-quiz"><h2>Quiz de inverno</h2></div>
    </section>
    

    <div class="histamin-quiz-intro">
        <div class="container">
            <div class="main-intro">
                <p>
                    A baixa da temperatura durante o inverno possibilita experiências muito boas, como assistir a um bom filme debaixo das cobertas, usar agasalhos confortáveis e curtir um belo chocolate quente. Mas não é só isso que marca a estação. Ela traz, também, alguns sintomas bem conhecidos por você, profissional de farmácia. Para que você possa garantir mais bem-estar à população, é sempre importante estar atualizado sobre esses sintomas e como combatê-los, além de sempre informar a necessidade de consultar um médico em caso de persistência dos mesmos.
                </p>
                <p>
                    <strong>Responda ao quiz abaixo</strong> e mostre que você sabe tudo sobre os <strong>sintomas mais comuns do inverno!</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="container container-mobile-full">
        <div class="histamin-quiz-container">
            <!-- 1 -->
            <div class="histamin-quiz-section">
                <h2 class="quiz-question">
                    A <strong>tosse</strong> é um dos principais sintomas do inverno. Quais são os <strong>seus tipos</strong>?
                </h2>
                <div class="histamin-quiz-list">
                    <ul class="histamin-quiz-respostas" data-quiz-question="1">
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="b">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-1.2.jpg') }}" alt>
                            </figure>
                            <p>Expectorante ou abrasiva.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="a">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-1.1.jpg') }}" alt>
                            </figure>
                            <p>Seca ou úmida.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer correto" data-quiz-answer="c">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-1.3.jpg') }}" alt>
                            </figure>
                            <p>Seca ou produtiva. </p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="d">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-1.4.jpg') }}" alt>
                            </figure>
                            <p>Aguda ou diafragmática. </p>
                        </li>
                    </ul>

                    <div class="refrence">
                        <p>
                            <strong>COMPLEMENTO:</strong><br>
                            A tosse é dividida em dois tipos:<br>
                            Produtiva, quando há expectoração de secreção, e seca, quando não há.
                        </p>
                        <p>
                            <strong>Referências:</strong><br>
                            OLIVEIRA, Maria Josyanne Almeida de et al. Prescrição farmacêutica nos diferentes tipos de tosse. Mostra Científica da Farmácia, [S.l.], v. 4, n. 2, ago. 2018. Disponível em: <http://publicacoesacademicas.unicatolicaquixada.edu.br/index.php/mostracientificafarmacia/article/view/2337>. Acesso em: 26 mai. 2021.
                        </p>
                    </div>
                </div>
            </div>

            <!-- 2 -->
            <div class="histamin-quiz-section">
                <h2 class="quiz-question">
                    A tosse impacta negativamente o dia a dia dos pacientes. Qual dessas <strong>opções oferece alívio</strong>?
                </h2>
                <div class="histamin-quiz-list">
                    <ul class="histamin-quiz-respostas" data-quiz-question="2">
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="a">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-2.1.png') }}" alt>
                            </figure>
                            <p>Chá de carqueja para tosse seca e gargarejo com antisséptico bucal para produtiva.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer correto"  data-quiz-answer="b">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-2.2.png') }}" alt>
                            </figure>
                            <p>Xarope expectorante para tosse produtiva e xarope antitussígeno para seca.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer" data-quiz-answer="c">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-2.3.png') }}" alt>
                            </figure>
                            <p>Vitamina C diluída em água para ambos os casos. </p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="d">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-2.4.png') }}" alt>
                            </figure>
                            <p>Nenhuma das anteriores.</p>
                        </li>
                    </ul>

                    <div class="refrence">
                        <p>
                            <strong>COMPLEMENTO:</strong><br>
                            O xarope expectorante facilita na expectoração, dissolvendo o catarro e trazendo alívio a casos de tosse produtiva. Ja o xarope antitussígeno inibe a tosse seca e traz alívio para a garganta.
                        </p>
                        <p>
                            <strong>Referências:</strong><br>
                            OLIVEIRA, Maria Josyanne Almeida de et al. PRESCRIÇÃO FARMACÊUTICA NOS DIFERENTES TIPOS DE TOSSE. Mostra Científica da Farmácia, [S.l.], v. 4, n. 2, ago. 2018. Disponível em: <http://publicacoesacademicas.unicatolicaquixada.edu.br/index.php/mostracientificafarmacia/article/view/2337>. Acesso em: 26 mai. 2021.
                        </p>
                    </div>
                </div>
            </div>

            <!-- 3 -->
            <div class="histamin-quiz-section">
                <h2 class="quiz-question">
                    Qual das opções abaixo <strong>descreve o que é</strong> uma alergia?
                </h2>
                <div class="histamin-quiz-list">
                    <ul class="histamin-quiz-respostas" data-quiz-question="3">
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="a">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-3.1.png') }}" alt>
                            </figure>
                            <p>A alergia é uma resposta ao contato com agentes externos, que se manifesta exclusivamente de forma cutânea.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="b">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-3.2.png') }}" alt>
                            </figure>
                            <p>Alergias são sintomas provenientes da exposição do tórax a baixas temperaturas.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer " data-quiz-answer="c">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-3.3.png') }}" alt>
                            </figure>
                            <p>Alergias são manifestações do sistema nervoso em resposta ao frio.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer correto"  data-quiz-answer="d">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-3.4.png') }}" alt>
                            </figure>
                            <p>Alergia é a resposta do corpo ao contato com agentes externos, que se manifesta de forma cutânea, respiratória ou digestiva.</p>
                        </li>
                    </ul>

                    <div class="refrence">
                        <p>
                            <strong>COMPLEMENTO:</strong><br>
                            Ao entrar em contato com agentes externos, como alimentos, pólen, ácaro, medicamentos, maquiagens, tecidos etc., o corpo aumenta sua produção de histamina, causando as diferentes reações alérgicas.
                        </p>
                        <p>
                            <strong>Referências:</strong><br>
                            MINER, Margaret et al. ALERGÍAS: GUÍA COMPLETA PARA SU DIAGNÓSTICO, TRAMIENTO Y CONTROL DIARIO. Buenos Aires 2005. Disponível em : < https://books.google.com.br/books?id=pfRZQPWkjqgC&lpg=PA7&ots=3A_5fP_X3o&dq=alergias&lr&hl=pt-BR&pg=PP1#v=onepage&q=alergias&f=false> Acesso em: 26 mai. 2021.
                        </p>
                    </div>
                </div>
            </div>

            <!-- 4 -->
            <div class="histamin-quiz-section">
                <h2 class="quiz-question">
                    Das alergias <strong>que afetam as vias aéreas</strong>, podemos considerar:
                </h2>
                <div class="histamin-quiz-list">
                    <ul class="histamin-quiz-respostas" data-quiz-question="4">
                        <li class="histamin-quiz-box quiz-answer correto"  data-quiz-answer="a">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-4.1.png') }}" alt>
                            </figure>
                            <p>Asma e rinite.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="b">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-4.2.png') }}" alt>
                            </figure>
                            <p>Sinusite, otite e dermatite.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer" data-quiz-answer="c">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-4.3.png') }}" alt>
                            </figure>
                            <p>Rinite, bronquite e cistite.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="d">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-4.4.png') }}" alt>
                            </figure>
                            <p>Otite, bronquiolite e cefalite.</p>
                        </li>
                    </ul>

                    <div class="refrence">
                        <p>
                            <strong>COMPLEMENTO:</strong><br>
                            Muito comuns ao redor de todo o mundo, a asma e a rinite, apesar do que muitos pensam, são reações alérgicas e, como todas as alergias, não possuem cura.
                        </p>
                        <p>
                            <strong>Referências:</strong><br>
                            MINER, Margaret et al. ALERGÍAS: GUÍA COMPLETA PARA SU DIAGNÓSTICO, TRAMIENTO Y CONTROL DIARIO. Buenos Aires 2005. Disponível em : < https://books.google.com.br/books?id=pfRZQPWkjqgC&lpg=PA7&ots=3A_5fP_X3o&dq=alergias&lr&hl=pt-BR&pg=PP1#v=onepage&q=alergias&f=false> Acesso em: 26 mai. 2021
                        </p>
                    </div>
                </div>
            </div>

            <!-- 5 -->
            <div class="histamin-quiz-section">
                <h2 class="quiz-question">
                    Qual das opções abaixo <strong>apresenta os alérgenos</strong> das vias respiratórias mais comuns?
                </h2>
                <div class="histamin-quiz-list">
                    <ul class="histamin-quiz-respostas" data-quiz-question="5">
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="a">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-5.1.png') }}" alt>
                            </figure>
                            <p>Picadas de insetos, mofo e tecidos.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="b">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-5.2.png') }}" alt>
                            </figure>
                            <p>Ácaros, bolor e produtos de beleza.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer correto" data-quiz-answer="c">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-5.3.png') }}" alt>
                            </figure>
                            <p>Ácaros, mofo, pólen e fumaça.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="d">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-5.4.png') }}" alt>
                            </figure>
                            <p>Leite, camarão, maquiagem, tecidos.</p>
                        </li>
                    </ul>

                    <div class="refrence">
                        <p>
                            <strong>COMPLEMENTO:</strong><br>
                            Ácaros, mofo, pólen e fumaça são fatores extremamente comuns no dia a dia de todas as pessoas. E todos eles são causadores de diferentes reações alérgicas, como a rinite e a asma.
                        </p>
                        <p>
                            <strong>Referências:</strong><br>
                            MINER, Margaret et al. ALERGÍAS: GUÍA COMPLETA PARA SU DIAGNÓSTICO, TRAMIENTO Y CONTROL DIARIO. Buenos Aires 2005. Disponível em : < https://books.google.com.br/books?id=pfRZQPWkjqgC&lpg=PA7&ots=3A_5fP_X3o&dq=alergias&lr&hl=pt-BR&pg=PP1#v=onepage&q=alergias&f=false> Acesso em: 26 mai. 2021
                        </p>
                    </div>
                </div>
            </div>

             <!-- 6 -->
            <div class="histamin-quiz-section">
                <h2 class="quiz-question">
                    Dos sintomas abaixo, <strong>qual deles</strong> está relacionado à rinite alérgica?
                </h2>
                <div class="histamin-quiz-list">
                    <ul class="histamin-quiz-respostas" data-quiz-question="6">
                        <li class="histamin-quiz-box quiz-answer correto"  data-quiz-answer="a">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-6.1.png') }}" alt>
                            </figure>
                            <p>Obstrução nasal.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="b">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-6.2.png') }}" alt>
                            </figure>
                            <p>Dores abdominais.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer" data-quiz-answer="c">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-6.3.png') }}" alt>
                            </figure>
                            <p>Sonolência.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="d">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-6.4.png') }}" alt>
                            </figure>
                            <p>Dores na região do tórax. </p>
                        </li>
                    </ul>

                    <div class="refrence">
                        <p>
                            <strong>COMPLEMENTO:</strong><br>
                            Além da obstrução nasal, a rinite alérgica pode causar outros sintomas, como coceira e coriza nasal, ardor e coceira na região dos olhos.
                        </p>
                        <p>
                            <strong>Referências:</strong><br>
                            Mendes AI, et al. Métodos objetivos e subjetivos de avaliação da obstrução nasal. Rev. Bras. Alerg. Imunopatol. 2011;34(6):234-40.
                        </p>
                    </div>
                </div>
            </div>

            <!-- 7 -->
            <div class="histamin-quiz-section">
                <h2 class="quiz-question">
                    Qual a <strong>principal diferença</strong> entre a gripe e um resfriado comum?
                </h2>
                <div class="histamin-quiz-list">
                    <ul class="histamin-quiz-respostas" data-quiz-question="7">
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="a">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-7.1.png') }}" alt>
                            </figure>
                            <p>As doenças não possuem sintomas em comum.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer correto"  data-quiz-answer="b">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-7.2.png') }}" alt>
                            </figure>
                            <p>As doenças são causadas por vírus diferentes.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer" data-quiz-answer="c">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-7.3.png') }}" alt>
                            </figure>
                            <p>A gripe afeta o sistema respiratório, enquanto o resfriado afeta o digestivo.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="d">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-7.4.png') }}" alt>
                            </figure>
                            <p>Não há diferenças.</p>
                        </li>
                    </ul>

                    <div class="refrence">
                        <p>
                            <strong>COMPLEMENTO:</strong><br>
                            Apesar de muitas vezes serem confundidas entre si, são duas doenças bastante diferentes. A principal diferença está do agente causador, sendo a gripe causada pelo vírus influenza. Já os resfriados podem ser causados por diferentes vírus, como o rinovírus e adenovírus, entre outros.
                        </p>
                        <p>
                            <strong>Referências:</strong><br>
                            CAMPOS, Hisbello S. GRIPE OU RESFRIADO? SINUSITE OU RINITE? JBM JANEIRO/FEVEREIRO, 2014 VOL. 102, Nº 1. Disponível em; < http://files.bvs.br/upload/S/0047-2077/2014/v102n1/a4024.pdf> Acesso em: 26 mai. 2021.
                        </p>
                    </div>
                </div>
            </div>

            <!-- 8 -->
            <div class="histamin-quiz-section">
                <h2 class="quiz-question">
                    Dos sintomas abaixo, <strong>qual deles é causado pela gripe</strong> e não pelo resfriado comum?
                </h2>
                <div class="histamin-quiz-list">
                    <ul class="histamin-quiz-respostas" data-quiz-question="8">
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="a">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-8.1.png') }}" alt>
                            </figure>
                            <p>Tosse.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer"  data-quiz-answer="b">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-8.2.png') }}" alt>
                            </figure>
                            <p>Fadiga leve.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer" data-quiz-answer="c">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-8.3.png') }}" alt>
                            </figure>
                            <p>Congestão nasal.</p>
                        </li>
                        <li class="histamin-quiz-box quiz-answer correto"  data-quiz-answer="d">
                            <figure>
                                <img src="{{ asset('_dist/image/img/histamin/quiz/quiz-8.4.png') }}" alt>
                            </figure>
                            <p>Febre mais elevada.</p>
                        </li>
                    </ul>

                    <div class="refrence">
                        <p>
                            <strong>COMPLEMENTO:</strong><br>
                            Apesar de ter alguns sintomas em comum com a gripe, os resfriados não causam febre.
                        </p>
                        <p>
                            <strong>Referências:</strong><br>
                            CAMPOS, Hisbello S. GRIPE OU RESFRIADO? SINUSITE OU RINITE? JBM JANEIRO/FEVEREIRO, 2014 VOL. 102, Nº 1. Disponível em; < http://files.bvs.br/upload/S/0047-2077/2014/v102n1/a4024.pdf> Acesso em: 26 mai. 2021
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="quiz-histamin-result">
            <h2>Resultados:</h2>
            <p>
                <span class="number"></span>
                <span class="text"></span>
            </p>
        </div>
    </div>
<div>



{% endblock %}
{% block javascripts %}
    <script>     
    var Quiz = function(){
    var self = this;
    this.init = function(){
        self._bindEvents();
    }
  
  this.correctAnswers = [
    { question: 1, answer: 'c' },
    { question: 2, answer: 'b' },
    { question: 3, answer: 'd' },
    { question: 4, answer: 'a' },
    { question: 5, answer: 'c' },
    { question: 6, answer: 'a' },
    { question: 7, answer: 'b' },
    { question: 8, answer: 'd' },
  ]
  
  this._pickAnswer = function($answer, $answers){
    $answers.find('.quiz-answer').removeClass('active');
    $answer.addClass('active');
  }
  this._calcResult = function(){
    var numberOfCorrectAnswers = 0;
    $('ul[data-quiz-question]').each(function(i){
      var $this = $(this),
          chosenAnswer = $this.find('.quiz-answer.active').data('quiz-answer'),
          correctAnswer;
      
      for ( var j = 0; j < self.correctAnswers.length; j++ ) {
        var a = self.correctAnswers[j];
        if ( a.question == $this.data('quiz-question') ) {
          correctAnswer = a.answer;
        }
      }
      
      if ( chosenAnswer == correctAnswer ) {
        numberOfCorrectAnswers++;
        
        // highlight this as correct answer
        //$this.find('.quiz-answer.active').addClass('correct');
      }
      //else {
        //$this.find('.quiz-answer[data-quiz-answer="'+correctAnswer+'"]').addClass('correct');
        //$this.find('.quiz-answer.active').addClass('incorrect');
      //}
    });
    if ( numberOfCorrectAnswers < 3 ) {
      return {code: 'bad', number: '0 a 3 acertos', text: 'Que fria! O inverno te pegou completamente desprevenido, não é mesmo? Mas não precisa se preocupar. Acesse nossos conteúdos especiais e fique por dentro de tudo o que você precisa saber sobre os sintomas mais comuns dessa estação!'};
    }
    else if ( numberOfCorrectAnswers > 3 || numberOfCorrectAnswers == 7 ) {
      return {code: 'mid', number: '4 a 7 acertos', text: 'Está esquentando! Mas é claro que ainda dá para melhorar. Acesse nossos conteúdos especiais e fique por dentro de tudo o que você precisa saber sobre os sintomas mais comuns dessa estação!'};
    }
    else if ( numberOfCorrectAnswers > 7 ) {
      return {code: 'good', number: '8 acertos', text: 'Uau! Você sabe tudo sobre os sintomas que mais incomodam durante o inverno. Mas, sempre que bater alguma dúvida, tenha à mão nossos conteúdos especiais!'};
    }
  }
  this._isComplete = function(){
    var answersComplete = 0;
    $('ul[data-quiz-question]').each(function(){
      if ( $(this).find('.quiz-answer.active').length ) {
        answersComplete++;
      }
    });
    if ( answersComplete >= 8 ) {
      return true;
    }
    else {
      return false;
    }
  }
  this._showResult = function(result){
    $('.quiz-histamin-result .number').html(result.number);
    $('.quiz-histamin-result .text').addClass(result.code).html(result.text);
  }
  this._bindEvents = function(){
    $('.quiz-answer').on('click', function(){
      var $this = $(this),
          $answers = $this.closest('ul[data-quiz-question]');
      self._pickAnswer($this, $answers);
      if ( self._isComplete() ) {
        $('.quiz-histamin-result').show();
        // scroll to answer section
        $('html, body').animate({
          scrollTop: $('.quiz-histamin-result').offset().top
        });
        
        self._showResult( self._calcResult() );
        $('.quiz-answer').off('click');
        
      }
    });

    $(".histamin-quiz-box").click(function() {

        $(this).parent().parent().parent().find('.refrence').show();
                
        if($(this).hasClass('correto')){
            $('.histamin-quiz-box').removeClass('incorrect');
            $(this).addClass('correct');
        } else{
            $('.histamin-quiz-box').removeClass('incorrect');
            $(this).addClass('incorrect');
            $(this).parents('.histamin-quiz-section').find('.histamin-quiz-box.correto').addClass('correct');
        }

    });
  }
}
var quiz = new Quiz();
quiz.init();
        
    </script>
{% endblock %}