{% extends 'admin.html.twig' %}

{% block title %}Post instagram
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Post instagram</h3>
                </div>

                 {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        {% if ( label == 'success' ) %}
                            <div class="alert alert-success alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% elseif ( label == 'error' ) %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <div class="box-body">
                    <p>
                        <a href="{{ path('admin_promothirtyday_import_post') }}"> << Voltar </a>
                    </p>
                    <h1 class="text-center"> Posts instagram </h1>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Post</th>
                                    <th>Ponto</th>
                                    <th>+ Ponto Extra</th>
                                    <th>Data publicação</th>
                                </tr>
                            </thead>
                             <tbody>
                                {% if posts|length > 0 %}
                                    {% for post in posts %}
                                        <tr>
                                            <td><a href="{{ post.postInstagram.post }}" target="blank">{{ post.postInstagram.post }}</a></td>
                                            <td>{{ post.point }}</td>
                                            <td>{{ post.pointExtra }}</td>
                                            <td>
                                                {{ post.postInstagram.datePublicAt|date('d/m/Y H:i:s') }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">Nenhum registro foi encontrado.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        {# $("form").on("submit", function (e) {
           alert('test');
        }); #}
    </script>
{% endblock %}