{% extends 'admin.html.twig' %}

{% block title %}Post instagram
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Post instagram</h3>
                </div>

                 <form action="{{ path('admin_promothirtyday_import_post') }}" enctype="multipart/form-data" method="POST">

                    <div class="box-body">
                        <div class="form-group">
                            <label for="course_name">Import posts</label>
                            <input id="post" name="post" type="file" required/>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success" name="send">Enviar</button>
                            {# <a class="btn btn-default" href="{{ path('admin_course_list') }}">Cancelar</a> #}
                        </div>
                    </div>

                </form>
                 {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        {% if ( label == 'success' ) %}
                            <div class="alert alert-success alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% elseif ( label == 'error' ) %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <div class="box-body">
                    <h1 class="text-center"> Post Instagram </h1>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                 
                                    <th>Nome</th>

                                    <th>Instagram</th>

                                    <th>Whatsapp</th>

                                    <th>Pontos</th>

                                    <th>Acões</th>
                                </tr>
                            </thead>
                             <tbody>
                                {% if posts|length > 0 %}
                                    {% for post in posts %}
                                        <tr>
                                            <td>{{ post.name }}</td>
                                            <td>
                                                {{ post.instagram}}
                                            </td>
                                            <td class="center">
                                                {{ post.whatsapp }}
                                            </td>
                                            <td class="center">
                                                {{ post.point }}
                                            </td>
                                            <td class="center">
                                                <a href="{{ path('admin_promothirtyday_detail_post', {'user_promo': post.user_promo_id}) }}">
                                                    Exibir Post
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">Nenhum registro foi encontrado.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="box-paginator">
                    {{ knp_pagination_render(posts) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        {# $("form").on("submit", function (e) {
           alert('test');
        }); #}
    </script>
{% endblock %}