{% extends 'base.html.twig' %}
{% set metadescription = 'Confira os vídeos e matérias do Portal da Neo Pharma, conteúdos focados na área da saúde, para farmacêuticos e também balconistas. Acesse! ' %}
{% set metatitle = 'Vídeos' %}
{% block title %}Vídeos{% endblock %}

{% block body %}
<div class="cat-4 neo-tv" id="neo-tv">
    <section class="banner-main">    
        <div class="p-hero">
            <div class="slide p-hero__item">
                <div class="p-hero__body">
                    <h1 class="p-hero__title">Vídeos</h1>
                </div>
                
                <figure class="p-hero__figure">
                    <!-- Desktop -->
                    <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{ asset('_dist/image/img/videos-banner.png') }}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post hidden-xs" />
                    
                    <!-- Mobile -->
                    <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{ asset('_dist/image/img/banner-videos-mobile.png') }}'), url(/_dist/image/img/default.jpg); background-position: center top;" alt="" class="img-post visible-xs" />
                </figure>
            </div>
        </div>
    </section>
    {% if videos|length > 0 %}
    <section class="more-recent-post-section">
        <div class="container">
            {% for v in videos %}
                {% if loop.first %}
                    <div class="more-recent-post-container">
                        <figure class="post-image btn-gamefication" data-content="{{ v.id }}">
                            <a href="https://www.youtube.com/watch?v={{v.youtubeId}}" data-fancybox class="video-icon video-blue">
                                <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{asset(v.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{v.title}}" class="img-post" />
                            </a>
                        </figure>

                        <div class="more-recent-post-info">
                            <h2 class="text-yellow">{{v.title}}</h2>
                            <p>
                                {{v.shortDescription}}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section class="posts-section-main">
        <div class="container">
            <div class="posts-list">
                {% for v in videos %}
                    {% if not loop.first %}
                        <div class="posts-item posts-item-video">
                            <figure class="post-image btn-gamefication" data-content="{{ v.id }}">
                                <a href="https://www.youtube.com/watch?v={{v.youtubeId}}" data-fancybox class="video-icon video-blue">
                                    <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{asset(v.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{v.title}}" class="img-post" />
                                </a>
                            </figure>
                            <div class="post-info">
                                <h2>{{v.title}}</h2>
                                <p class="text-gray">
                                    {{v.shortDescription}}
                                </p>
                            </div>
                        </div>  
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $("document").ready(function(){

            $(".change-video").on("click", function(e){
                e.preventDefault();
                if($(this).hasClass('selected')){
                    return false;
                }

                var videoid = $(this).data("videoid");
                var videodescripton = $(this).data("videodescripton");
                var videotitle = $(this).data("videotitle");

                $("#video-title").html(videotitle);
                $("#video-description").html(videodescripton);
                $("#video-embed").attr('src', "https://www.youtube.com/embed/" + videoid);

                $(".change-video").removeClass('selected');
                $(this).addClass('selected');

            });

            {% if cid is not null %}
                $("#neo-tv-video-{{cid}}").trigger("click");
            {% endif %}

            //Gamificação interação
            $(".btn-gamefication").on("click", function(){
                var $this = $(this);
                var movie = $(this).data('content');
            
                $.ajax({
                    url: "{{ path('campanhas_home') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        'g': true,
                        'i': movie
                    },
                    beforeSend: function() {
                        //Carregando
                    },
                    success: function (response) {

                    }
                });
            });
        });
    </script>

{% endblock %}
