dirImg = '_dist/images'
fastTransition = .1s all ease-in-out
normalTransition = .15s all ease-in-out
slowTransition = .3s all ease-in-out
colorDefault = #00287F
colorYellow = #F7D64C
colorLightBlue = #18CEE3
colorDarkBlue = #1C0281
colorBlue = #66CEE3
colorSkyBlue = #D6E9FC
colorDefault = #18097C
colorGray = #717171

colorPink = #B45ABC
colorDarkPurple = #675283
colorGreen = #619F55

*
    list-style none
    padding 0
    margin 0
    box-sizing border-box

body
    color colorDefault
    overflow-x hidden

    &.open-modal
        overflow: hidden

hr, .line
    border-top 2px solid colorDefault

    &.gray-line
        border-top 2px solid colorGray


p
    color colorDefault
    font-size 16px

h1
    margin-bottom 15px
    line-height 1.2em

h2
    font-size 1.6em

small
    font-size 0.8em

big
    font-size 1.3em

#loadpage
    background: url(../images/load.gif) center center no-repeat
    width: 100%
    height: 100%
    position: fixed
    left: 0
    top: 0
    bottom 0
    top 0
    margin: auto
    z-index: 9999

body>.conatiner-total
    opacity 0

.container, .container--narrow
    max-width 1280px
    margin 0 auto

.container-small
    max-width 700px

.text-intro
    
    font-size 16px

    @media(max-width 960px)
        padding 20px 0

    @media(min-width 961px)
        max-width 70%
        margin 0 auto
        font-size 20px
        padding 40px 0

.btn-
	&default
        display inline-block
        text-align center
        font-size 1em
        color colorDefault
        border-radius 20px
        border 1px solid colorDefault
        padding 8px 30px
        cursor pointer
        transition slowTransition
        text-transform uppercase

        &:hover
            background colorDefault
            color #FFF
            text-decoration none


    &yellow 
        background colorYellow
        color colorDefault

        &:hover
            background colorDefault
            color colorYellow
            border 1px solid colorYellow
    
    &yellow2
        border 1px solid colorYellow

        &:hover
            border 1px solid colorDefault

    &large
        width 100%

    &full
        background colorDefault
        color #FFF

        &:hover
            background none
            color colorDefault


    &special-pink
        background #FC648D
        border-color #FC648D
        color #FFF

        &:hover
            background none
            color #FC648D

    &blue   
        background colorDefault
        color #FFF
        
        &:hover
            background #FFF
            color colorDefault

.text-
	// Text aligment
	&center
		text-align center
	&right
		text-align right
	&left
		text-align left
	// Text coloring
	&blue
        color colorDarkBlue
	&white
		color #FFF

	@media(min-width 960px)
		&large
			font-size 22px
	// Text styling
	&upper
		text-transform uppercase
	&bold
		font-weight bolder
	&normal
		font-weight normal

.text-purple
    color colorDefault !important

.text-gray
    color colorGray !important

.text-blue
    color colorBlue !important

.text-pink
    color colorPink !important 

.text-yellow
    color colorYellow !important

.text-dark-purple
    color colorDarkPurple !important 

.text-green
    color colorGreen !important

.text-red
    color #F00 !important

.align-
	&center
		display table
		margin auto
	&left
		float left
	&right
		float right
	&vertical-
		&top
			align-items flex-start
		&center
			align-items center
		&bottom
			align-items flex-end
.space-
	&h-
		&10
			padding 10px 0
		&20
			padding 20px 0
		&30
			padding 30px 0
		&40
			padding 40px 0
		&50
			padding 50px 0
	&v-
		&10
			padding 0 10px
		&20
			padding 0 20px
		&30
			padding 0 30px
		&40
			padding 0 40px
		&50
			padding 0 50px
.space-h-5
    padding 5px 0


img 
    max-width 100%

.hidden
    display none
    &-on-mobile
        display block
    &-on-desktop
        display none

.mnu_excelencia
    color #fff
    font-weight 700

    &:focus, &:hover
        color #fff
        
    @media(min-width 960px)
        text-align center

    @media(max-width 960px)
        line-height 2.3em
        font-size 1.3em

    &:hover
        color #ffffff
        text-decoration underline

//Alert Box
.alert-box
    background colorDefault
    color #FFF
    font-size 0.8em
    text-align center
    border-radius 5px
    padding 5px

    @media(min-width 960px)
        max-width 700px
        margin 0 auto 
        padding 8px

//Bullets do carrossel    
.owl-dots
    text-align center
    position absolute
    left 0
    right 0
    margin auto
    bottom 20px

    .owl-dot 
        display inline-block
        zoom 1
        border 1px solid #FFF
        width 10px
        height 10px
        text-align center
        border-radius 10px
        position relative
        margin 0 4px
        *display inline
	
        &.active
            background #FFF
            width 25px

.blue-slides
    .owl-nav

        div
            position: relative;
            height: 32px
            width: 15px
            font-size: 0
        
        .owl-prev
            left: 0;
            background-image: url('../image/img/left-arow-dark.svg')
            background-size contain
            background-repeat repeat

        .owl-next
            right: 0;
            background-image: url('../image/img/right-arow-dark.svg')
            background-size contain
            background-repeat repeat


    .owl-dots

        .owl-dot
            border 1px solid colorDefault
            background colorDefault

            &.active
                background colorDefault



.owl-nav
    position absolute
    top calc(50% - 26px)
    width 100%
    display flex
    justify-content space-between
    height 0

    div
        position relative
        height 53px
        width 25px
        font-size 0

    .owl-prev
        left: 0;
        background-image: url('../image/img/arow-light-blue-left.svg')
        background-size cover

    .owl-next
        right: 0;
        background-image: url('../image/img/arow-light-blue-right.svg')
        background-size cover


.video-embed
    position relative 
    padding-bottom 56.25% 
    height 0 
    overflow hidden 
    max-width 100%
    height auto

    &.video-square
        padding-bottom 100%

    iframe, object, embed, video
        position: absolute 
        top 0 
        left 0
        width 100%
        height 100%
        border none


a
    img 
        transition 0.3s ease opacity

        &:hover
            opacity 0.8


.video-icon
    position relative
    display block


    &:after
        content ""
        background-image url('../image/img/video-icon.svg')
        height 100px
        width 100px
        background-size cover
        background-repeat no-repeat
        position absolute
        left 0
        right 0
        top 0
        bottom 0
        display block
        margin auto
        transition .3s ease
        display block
        
        @media(max-width 960px)
            height 50px
            width 50px 


    &.video-blue
        &:after
            background-image url('../image/img/video-circle-blue.png')

    &:hover
        &:after
            height 80px
            width 80px

            @media(max-width 960px)
                height 50px
                width 50px 


.catagory-menu
    display flex
    justify-content space-between
    margin-top 20px
    flex-wrap wrap
    
    .cat-item
        border 2px solid colorBlue
        border-radius: 50%
        height 65px
        width 65px
        padding 3px

        a
            background colorDefault
            color #FFF
            display flex
            justify-content center
            flex-direction column
            height 55px
            width 55px
            border-radius: 50%
            text-align: center
            font-weight bold
            line-height 1em
            cursor pointer
            transition 0.5s ease opacity 

            &:hover
                opacity 0.7
                text-decoration none

        @media(max-width 480px)
            border-width 1px
            height 55px
            width 55px

            a
                font-size 12px
                height 47px
                width 47px
        
        @media(max-width 320px)
            height 45px
            width 45px
            padding 1px
            a
                font-size 8px
                height 41px
                width 41px

        &.cat-1
            border-color #c6e6ec
            a
                background colorBlue

        &.cat-2
            border-color #e7c4ea
            a
                background colorPink

        &.cat-3
            border-color #fae6b6
            a
                background #F4C552

        &.cat-4
            border-color #c3c4d0
            a
                background colorDarkPurple
                font-size 9px

                @media(max-width 320px)
                    font-size 7px

        &.cat-5
            border-color #d5e5d2
            a
                background colorGreen
                font-size 10px

                @media(max-width 320px)
                    font-size 8px

         &.cat-6
            border-color #c6e6ec
            a
                font-size 8px

                @media(max-width 320px)
                    font-size 6px

.post-titles
    h2
        font-size 1.8em
        color colorDefault
        position relative
        padding-bottom 10px 
        font-weight bold
        line-height 1.2em
        
        &:after
            background #8c85be
            content ''
            height 5px
            margin 0 auto 
            left 0
            right 0
            bottom 0
            width 70px
            position absolute

    p
        font-weight normal
        font-size 1.2em
        margin-bottom 0
        margin-top 20px

    @media(min-width 960px)
        h2
            font-size 2.2em

        p
            font-size 1.5em

.post-box
    position relative
    padding-left 0
    padding-right 0
    padding-bottom 10px
    margin-top 30px
    overflow hidden

    .post-img
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        background-size cover
        background-repeat no-repeat
        z-index 0
    
    &.home-post
        article
            border-radius 0 5px 5px 0
            width 95%

    //Article
    article
        display: block
        min-height: 200px
        position relative
        overflow hidden
        border-radius 5px
        width 100%

        &:before
            background colorDefault
            background -moz-linear-gradient(top, #18097c 0%, #090923 100%); 
            background -webkit-linear-gradient(top, #18097c 0%,#090923 100%)
            background linear-gradient(to bottom, #18097c 0%,#090923 100%)
            content ''
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            margin auto
            opacity 0.8
            z-index 1

        @media(min-width 960px)
            height 300px
            width inherit
            margin 0 auto
            max-width 960px

    //Info
    .post-info
        position absolute
        bottom 15%
        color #FFF
        max-width: 80%
        padding-left 40px
        z-index 2
        
        @media(max-width 960px)
            max-width 90%

        h3
            color #FFF
            font-weight bold
            margin-bottom 5px

            @media(min-width 960px)
                font-size 2em

        p
            color #FFF
            line-height 1.2em
            font-size 1em
            
            @media(max-width 320px)
                font-size 0.9em

            @media(min-width 960px)
                font-size 1.5em

        &:before
            content ''
            height 8px
            width 30px
            background #FFF
            position absolute
            left 0
            top 50%

    //Star Rating
    .post-star-rating
        position absolute
        top 10px
        right 5%
        color #FFF
        z-index 2

        .fa-star
            color #FFF

    //Border on post
    &.border-post
        padding 10px
        padding-right 10px
        padding-left 0

        &.right-post
            &:before
                right -50%

        &.left-post
            &:before
                left -50%

        &:before
            content ''
            border 2px solid colorDefault
            display block
            width 100%
            height 100%
            position absolute
            top 0
            -webkit-transform skew(-20deg)
            -moz-transform skew(-20deg)
            -o-transform skew(-20deg)

.duration-text
    img
        margin-right 3px

.slide-products
    a
        position relative
        display block
        height 200px
        width 100%
        border-radius 5px
        overflow hidden

        @media(min-width 960px)
            height 250px

        img
            position absolute
            top 0
            left 0
            background-size cover
            background-repeat no-repeat
            height 100%
            width 100%
            display block
            border-radius 5px
            z-index 0
            


        &:before
            content ''
            background-color #000
            height 100%
            width 100%
            position absolute
            top 0
            bottom 0
            left 0 
            right 0
            opacity 0.5
            border-radius 5px
            z-index 1

    .info-prod-slide
        position absolute
        bottom 30px
        max-width: 50%
        left 30px
        z-index 2

        h2
            color #ffffff
        p
            color #ffffff

        @media(min-width 960px)
            bottom 60px

            h2
                font-size 2em
            p
                font-size 1.5em


.search-global
    position absolute
    z-index 9
    border 2px solid #ffffff
    border-radius 20px
    background rgba(255,255,255,.8)
    padding 10px
    width 300px

    @media(max-width 960px)
        top 150px
        width 90%
        margin 0 auto
        right 0
        left 0
        z-index 100

        &.open
            z-index 9

    @media(min-width 961px)
        position absolute
        right: 5%;
        top 200px
        z-index 98

    @media(min-width 1400px)
        right 20%

    .form
        display flex

    input, button
        border none 
        background none

        &:focus 
            outline none

        &::-webkit-input-placeholder
            color colorDefault
            font-size 14px
        
        &:-ms-input-placeholder
            color colorDefault
            font-size 14px
        
        &::placeholder
            color colorDefault
            font-size 14px

    button 
        width 20%

    input 
        width 80%
        font-size 14px

        i
            font-size 25px

    

//Banner Top
.banner-top
    height 280px
    overflow hidden
    color #FFF !important
    position relative
    background-color colorBlue

    @media(min-width 960px)
        height 350px

    img
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-repeat no-repeat
        background-size 105%
        background-attachment fixed
        background-position center top
        z-index 0
        
        @media(min-width 960px)
            background-size 100%

        @media(max-width 320px)
            background-size 117%
            
    &:before
        content ''
        background-color rgba(24, 9, 124, 0.8)        
        position absolute
        height 100%
        width 100%
        top 0
        left 0
        right 0
        bottom 0
        margin auto
        display block
        opacity 0.8
        z-index 1

    .content-banner
        position absolute
        bottom 50px
        max-width 960px
        margin 0 auto
        left 0
        right 0
        padding-left 5%
        padding-right 5%
        z-index 2

    h1, h2
        color #ffffff
        color #FFF !important

    h1
        font-size 2.5em
        margin 0 0 20px 0
        color #FFF !important

    p
        color #FFF !important
        font-size 1.3em

    &.cat-1
        background-color colorBlue

        &:before
            background colorBlue

    &.cat-2
        background-color colorPink
        &:before
            background colorPink
        
    &.cat-3
        background-color colorYellow

        &:before
            background colorYellow
            background -moz-linear-gradient(top,  #f4c552 0%, #b76e01 100%)
            background -webkit-linear-gradient(top,  #f4c552 0%,#b76e01 100%)
            background linear-gradient(to bottom,  #f4c552 0%,#b76e01 100%)

    &.cat-4
        background-color colorDarkPurple

        &:before
            background colorDarkPurple

    &.cat-5
        background-color colorGreen

        &:before
            background colorGreen

.visuhide
    position absolute !important
    overflow hidden
    width 1px
    height 1px
    clip rect(1px, 1px, 1px, 1px)

.star__container:hover .star__item, .star__radio:checked ~ .star__item
    &:before
        content '\f005'

.star__container:not(:hover) > .star__radio:nth-of-type(1):checked ~ .star__item:nth-of-type(1) ~ .star__item, .star__container:not(:hover) > .star__radio:nth-of-type(2):checked ~ .star__item:nth-of-type(2) ~ .star__item, .star__container:not(:hover) > .star__radio:nth-of-type(3):checked ~ .star__item:nth-of-type(3) ~ .star__item, .star__container:not(:hover) > .star__radio:nth-of-type(4):checked ~ .star__item:nth-of-type(4) ~ .star__item, .star__container:not(:hover) > .star__radio:nth-of-type(5):checked ~ .star__item:nth-of-type(5) ~ .star__item, .star__item, .star__item:hover ~ .star__item 
    &:before
        content '\f006'

.star__radio:nth-of-type(1):checked ~ .star__item:nth-of-type(1)::before,
.star__radio:nth-of-type(2):checked ~ .star__item:nth-of-type(2)::before, 
.star__radio:nth-of-type(3):checked ~ .star__item:nth-of-type(3)::before, 
.star__radio:nth-of-type(4):checked ~ .star__item:nth-of-type(4)::before,
.star__radio:nth-of-type(5):checked ~ .star__item:nth-of-type(5)::before 
    &:before
        content '\f005'

.star__container
    margin auto

.star__item::before 
    display inline-block

.category-menu
    margin-top 30px

    ul
        display flex
        justify-content space-around

        a
            font-weight bold
            color colorBlue
            border 1px solid colorBlue
            padding 3px 7px 
            font-size 1.2em
            border-radius 5px
            cursor pointer
            transition 0.3s ease all

            @media(min-width 960px)
                padding 8px 15px
                
                &:hover
                    background colorBlue
                    color #FFF
                    text-decoration none

.video-box   
    position relative
    padding-bottom 56.25%
    height 0
    overflow hidden
    max-width 100%
    height auto

    .video-post, video, iframe, object, embed
        position absolute
        top 0
        left 0
        width 100%
        height 100%

//Audio Post
.audio-post
    width 100%


//Header Main
.header-main
    margin-top 30px

    h1
        font-size 2.5em
        margin 0 0 10px 0
        font-weight bold
        color colorDefault

        @media(min-width 960px)
            margin-top 40px
            margin-bottom 25px

    h2
        font-size 1.2em
        line-height 1.1em
        font-weight bold
        color #585858

    p
        font-size 1.2em

//Type-time
.type-time
    align-items center

    p
        padding-left 10px

        @media(max-width 320px)
            font-size 10px


.details-bottom-box
    align-items center
    justify-content center
    margin-top 30px
    
    @media(min-width 961px)
        display flex
        justify-content: center;

    .details-bottom-item
        width 100%

        .share-rating
            display flex
            justify-content: center;

        @media(min-width 961px)
            width 50%

    .relateds-posts 
        h4
            font-size 18px

    

.share-rating
    @media(min-width 961px)
        display flex
        align-items center
        justify-content space-evenly

        div
            text-align center

    @media(max-width 960px)
        text-align center

    h3
        margin-bottom 10px
        font-size 16px

        @media(max-width 320px)
            font-size 1em

    .item-share-rating
        padding 0 10px

        @media(max-width 960px)
            margin-bottom 20px
            
            span 
                margin-bottom 10px

        @media(max-width 320px)
            padding 0 5px

    .share-rating-info
        background: #f3f5ff
        padding: 10px 30px
        border-radius: 40px
        display inline-block

//Like button
.like-box
    button
        outline none
        border none
        background none

        &.saved
            i
                &:before
                    content '\f004'


    i
        font-size 25px

        @media(min-width 960px)
            font-size 35px


//Rating box
.rating-box
    label
        font-size 20px

        @media(max-width 320px)
            font-size 16px

        @media(min-width 960px)
            font-size 35px

//Shere Box
.share-box

    @media(max-width 960px)
        margin-bottom 30px

    h3
        background colorDefault
        color #FFF
        padding 5px 20px
        border-radius 30px
        display inline-block
        margin 0

    ul
        background #f3f5ff
        padding 40px 30px 10px 30px
        border-radius 40px
        margin-top -20px
        
    li
        a
            background colorDefault
            color #FFF
            display inline-block
            margin 0 6px
            border-radius 50%
            text-align center
            border 1px solid colorDefault
            height 35px
            width 35px
            line-height 35px
            font-size 1.2em

            &:hover
                background #FFF
                border 1px solid colorDefault

                i
                    color colorDefault

.share-box-2
    a
        height 50px
        width 50px
        display block
        line-height 50px
        text-align center
        background colorSkyBlue
        border-radius 8px

    i
        background: colorDefault
        color colorSkyBlue
        display inline-block
        height 35px
        width 35px
        border-radius 50%
        line-height 35px
        text-align center

    .icon-sms
        line-height 1.5em
        text-align center
        width: 35px
        height 35px
        position relative
        border-radius 50%
        overflow hidden

        .icon-figure
            font-size 10px
            line-height 1em
            font-size 12px
            background: colorDefault
            color colorSkyBlue
            height 35px
            width 35px
            line-height 35px
            position absolute
            top 0

            &:before
                font-size: 25px

        .icon-text
            color #d6e9fc
            position absolute
            top 0
            font-size 8px
            text-align center
            left 0
            width 100%
            line-height 35px


//Content text
.content-text
    color colorGray
    font-size 14px
    max-width 1080px
    margin 0 auto

    h1
        font-size 2.2em
        margin-bottom 20px

        @media(max-width 960px)
            font-size 25px

    h2
        font-size 2em
        margin-bottom 20px
        color colorDefault

        @media(max-width 960px)
            font-size 23px
            line-height 1.2em

    h3
        font-size 1.8em
        margin-bottom 20px
        color colorDefault
        
        @media(max-width 960px)
            font-size 25px
            line-height 1.2em

    h4
        font-size 1.7em
        margin-bottom 20px
        color colorDefault

    h5, h6
        font-size 1.5em
        margin-bottom 20px
        color colorDefault

    ul
        margin-bottom 30px

    li
        color colorGray
        margin-bottom 5px
        font-size 1.3em
        list-style-type disc
        list-style-position inside

        @media(max-width 320px)
            font-size 1.2em

    p, blockquote
        font-size 1.2em
        line-height 1.3em
        margin-bottom 25px
        color #585858

        @media(max-width 960px)
            font-size 16px

    blockquote
        color colorGray
        font-style: italic

        @media(max-width 320px)
            font-size 1.2em


    table
        border 1px solid colorGray
        margin-bottom 30px
        background #FFF
        width 100%

        p, li
            font-size 1em

    td, th
        border 1px solid colorGray
        font-size 1.3em
        line-height 1.5em
        padding 15px

    thead
        background-color #e9ecef



//Navigation
.pagination
    display flex
    justify-content center

    span
        margin 0 5px
        min-height 30px
        min-width 30px
        padding 7px
        line-height 1em
        text-align center
        border-radius 50%
        font-weight bold

        &.current , &:hover
            background colorDefault
            color #FFF

            a
                color #FFF
                text-decoration none
    a
        display inline-block
        color colorDefault
        width: 100%
        height 100%
        

.arows-navigation
    a

        color colorGray
        font-weight bold
        font-size 18px

    .prev-arow
        span
            margin-right 10px
            color #65CEE3

    .next-arow
        span
            margin-left 10px
            color #65CEE3


.pdf-box
    .icon-pdf
        width 100px
        margin-right 20px

    .text-pdf
        width calc(100% - 120px)

.info-complate
    p
        width calc(100% - 120px)
        margin-right 30px

    .grafic-circle
        width 120px
        text-align center

        .c100
            margin 0
            float inherit 

.avatar-user-box
    figure
        max-width 130px
        margin 0 auto
        overflow hidden
        border-radius 7px
        border 1px solid colorDefault

.change-image-input
    opacity 0
    height 0
    overflow hidden
    font-size 0

.change-image-btn
    text-decoration underline

    &:hover
        text-decoration none


.list-order
    li
        display flex
        margin-bottom 20px

        @media(min-width 960px)
            align-items: center

        .number-list
            font-size 2.8em
            width 60px
            text-align center

        .text-list
            color colorGray
            font-size 1.3em
            width calc(100% - 60px)

.btn-socials
    background #D1D1D1
    color colorDefault
    padding 6px 12px
    border-radius 7px
    text-align: center
    display flex
    max-width 320px
    margin 0  auto
    cursor pointer

    &.btn-socials-login
        background colorDefault
        color #ffffff
        border-radius 15px

        i
            color #FFF

            &.fa-facebook
                background #FFF
                color colorDefault
                border-radius 50%

    span
        width calc(100% - 36px)

    i
        color #707070
        height 18px
        width 18px
        text-align center
        line-height 18px

        &.fa-facebook
            background #707070
            color #D1D1D1
            border-radius 3px
            line-height 20px


.list-login-socials
    @media(min-width 960px)
        display flex
        justify-content: space-evenly

    .list-login-socials-item
        @media(min-width 960px)
            width 40%

.exclude-text
    position relative
    display inline-block

    &:before
        content ''
        background url('../image/img/x.svg') no-repeat center center 
        height 30px
        background-size 28px 28px
        width 30px
        position absolute
        left 0
        right 0
        top 0
        bottom 0
        margin auto
        display block
        
.texto-legal
    text-align center
    font-size 9px
    padding 30px 0

.texto-legal
    text-align center
    font-size 9px
    padding 30px 0
.menu-ancor
    display flex
    max-width 960px
    margin 0 auto
    justify-content center

    @media(max-width 960px)
        display block
        width 100%

    li
        text-align center
        padding 0 20px 30px 20px
        

        @media(max-width 960px)
            padding-bottom 0

        a
            text-transform uppercase
            display block
            background colorDarkBlue
            color #FFF
            padding 5px 20px
            border-radius 8px
            transition 0.3s ease opacity
            margin 0 auto
            margin-bottom 15px
            max-width 200px
        
            &:hover
                text-decoration none
                opacity 0.7

            @media(max-width 960px)
                padding 8px 20px
                border-radius 16px

        @media(max-width 960px)
            margin-bottom 20px
            width 100%

            &:last-child 
                margin-bottom 0


#modal-perfil-gestor-loja

    .content-form-src-desk
        .modal-content 
            background #FFF
            position relative
            overflow hidden

            &:before
                content ''
                height 72px
                width 84px
                position absolute
                left 0
                bottom 0
                background #FFF  url('../image/img/left-bg-modal.jpg') no-repeat
                background-size contain
            
            &:after
                content ''
                height 72px
                width 84px
                position absolute
                top 0
                right 0
                background #FFF  url('../image/img/right-bg-modal.jpg') no-repeat
                background-size contain

    h2  
        font-size 1.8em

    p
        font-size 16px

        a
            color #717171
            text-decoration underline

            &:hover
                text-decoration none


#modal-cadastro-finalizado
    .modal-content
        background #F3F5FF
        max-width 500px

    img
        max-width 150px

        @media(max-width: 960px)
            max-width 100px

    h2
        font-size 50px

        @media(max-width: 960px)
            font-size 35px
            padding 10px 0

    p
        font-size 18px
        max-width 300px
        margin 0 auto

    .btn-answer-now
        background #1A2361
        border 1px solid #1A2361
        color #ffffff

        @media(max-width: 960px)
            font-size 18px
            border-radius 35px

        @media(min-width: 960px)
            font-size 25px
            border-radius 35px
            padding 10px 39px

        &:hover 
            background #DCDAEB
            color #1A2361

    .btn-more-late
        background #DCDAEB
        border 1px solid #DCDAEB

        @media(max-width: 960px)
            font-size 12px

        &:hover 
            background #1A2361
            color #FFF


#modal-hello-answer
    background #1A2361
    position fixed
    z-index 100

    @media(max-width: 960px)
        left 0
        right 0
        height inherit
        bottom inherit
        width 90%
        margin 0 auto
        top 50px
        text-align center
        border-radius 20px

        .close-modal
            position absolute
            right 10px
            top 10px

    
    @media(min-width: 961px)
        right 0
        left inherit
        height inherit
        bottom inherit
        top 40%
        width 31%
        color #FFF
        padding-right 15%
        padding-left 5%
        padding-top 50px
        padding-bottom 50px
        overflow-y clip
        border-radius: 150px 0 0 150px;

        &:before
            content: "";
            height: 100%;
            width: 200px;
            border-radius: 200px 0 0 200px;
            background: #1a2361;
            left: -45px;
            top: 0;
            position: absolute;
            z-index 0

    @media(max-width: 1400px)
        padding: 50px 7% 50px 5%;

    h2
        color #FFF
        font-size 40px

    p   
        color #FFF
        
        @media(min-width: 961px)
            padding-left 20%

    .btn-default
        border 1px solid #FFF
        background #FFF
        color #1A2361

        &:hover
            background #1A2361
            color #FFF

    .modal-hello-answer-content
        z-index 1
        position relative

        @media(min-width: 961px)
            text-align right

    .close-modal-answer
        border 1px solid #fff
        color #FFF
        padding 0
        height 40px
        width 40px
        display flex
        text-align center
        align-items: center;
        justify-content: center;
        float right
        font-size: 20px;
        cursor: pointer;
        transition: all .3s ease;
        border-radius 50%

        &:hover 
            background #FFF
            color #1A2361
            text-decoration: none

//Banner
.destaque
    .owl-dots
        bottom 0
    
    &.logged
        .owl-dots
            bottom 20px


.p-hero
    display flex
    flex-direction column-reverse
    margin-bottom 8.88889vw
    position relative
    width 100%


    @media (min-width 961px)
        margin-bottom 40px
        position relative
        display block


    .p-hero__item
        display flex
        flex-direction column-reverse

        //Se estiver logado
        &.check-if-is-logged
            .form-banner-top
                display none

            .p-hero__body
                @media (max-width 960px) 
                    top 40%

        @media (min-width 961px)
            position relative
            display block
            
            img
                opacity 1
                transition none

    .p-hero__body
        position absolute

        &:last-child
            margin-bottom 0

        p, h2
            width 100%

        p
            font-size 20px
            color colorDefault

            @media (max-width 960px)
                font-size 16px

        @media (max-width 960px) 
            top 230px
            left 0
            width calc(90% - 50px)
            background colorYellow
            color colorDefault
            padding 20px 0 20px 20px 

            &:before
                content ''
                height 100%
                width 50px
                border-radius 0 50px 50px 0
                background colorYellow
                right -50px
                top 0
                position absolute
            
        @media (min-width 961px)
            left 0
            top 39%
            width 40%
            color #00287f
            right 0
            padding-left: 15%
            display flex
            justify-content center
            flex-direction column
            background colorYellow
            padding-top 30px
            padding-bottom 30px

            &:before
                content ''
                height 100%
                width 100px
                border-radius 0 100px 100px 0
                background colorYellow
                right -100px
                top 0
                position absolute


        
    .p-hero__sub
        line-height 1.44
        font-size 5.55556vw

        @media (min-width 961px)
            line-height 1.33
            font-size: 24px


    .p-hero__title
        margin-bottom 2.22222vw
        line-height: 1.2em
        font-size 25px
        font-weight bold

        @media (min-width 961px)
            margin-bottom: 16px;
            line-height: 1.22;
            font-size: 34px

    .p-hero__text
        @media (max-width: 960px)
            font-size 16px
            line-height 1.2em

            br
                display: none

    .p-hero__figure-image
        width: 100%


    .p-hero__link
        position absolute
        bottom 10%
        text-align center
        right 0
        left 0


        .btn-default
            background #FFF
            border 1px solid #FFF
            color colorDefault

            &:hover
                background colorYellow 
                border 1px solid colorYellow

.form-banner-top

    @media (max-width 960px) 
        margin -100px auto 0 auto
        max-width 300px
        position relative
        z-index 3

    @media(min-width 961px)
        position absolute
        right: 5%;
        z-index: 98
        top: calc(50% - 220px)
        max-width: 300px;


    @media(min-width 1400px)
        right 20%


    .form-banner-content
        max-width 300px
        background colorDefault
        padding 25px
        border-radius 20px

        @media(min-width 961px)
            float right

    .form 
        .form-control
            background #FFF
            font-size 14px
            color colorDefault

            &::-webkit-input-placeholder
                color colorDefault
                font-size 14px
            
            &:-ms-input-placeholder
                color colorDefault
                font-size 14px
            
            &::placeholder
                color colorDefault
                font-size 14px

            &:focus
                outline none


        .btn-default
            background colorYellow 
            color colorDefault
            font-weight bold

            &:hover
                background #FFF

    h2  
        text-align center
        color colorYellow
        text-transform uppercase
        font-size 16px

    .btn-social
        color #FFF
        text-align center
        font-weight light
        cursor pointer

        .fa
            margin-right 10px


    .is-user
        background colorYellow 
        max-width 80%
        margin 0 auto 
        padding 15px
        border-radius 20px
        text-align center
        margin-top 10px

        p
            color #03287F
            margin-bottom 10px

        .btn-default
            background #FFF
            border 1px solid #FFF
            font-size 12px
            padding 8px 5px
            width 100%

            &:hover
                background colorDefault 
                color #FFF
                border 1px solid colorDefault



//Banner internas
.banner-main
    .p-hero 
        .p-hero__title
            margin 0
            font-size 40px
            text-transform uppercase

            @media (max-width: 960px)
                font-size 30px

        .p-hero__body
            padding-top 30px
            padding-bottom 30px
            height inherit
            top inherit
            bottom 100px
            

        @media (min-width: 961px)
            .form-banner-top
                top 100px

            .p-hero__body
                bottom 10%

img.img-post
    background-size cover
    background-position center

//Posts box
.posts-list

    @media (min-width: 961px)
        display flex
        flex-wrap wrap
    
    .posts-item
        position relative

        @media (max-width: 960px)
            margin-bottom 30px


        @media (min-width: 961px)
            width calc(50% - 40px)
            margin 0 20px 30px 20px
        
        background #F3F5FF
        padding 20px
        border-radius 30px

        &.posts-item-video
            background none

        figure
            border-radius 20px
            overflow hidden

            img
                border-radius 20px

            &.post-image
                margin-bottom 20px

        .posts-type
            position absolute
            z-index 10
            background colorYellow
            color colorDefault
            padding 8px 40px 8px 80px
            border-radius 23px
            font-weight bold
            left -15px
            top 50px

            @media (min-width: 961px)
                left -30px

            i 
                position: absolute
                width 50px
                height 50px
                background-color colorDefault
                top:calc(50% - 25px)
                left 0
                border-radius 50px
                background-size 25px
                background-repeat no-repeat
                background-position 50%
                background-image url(../image/img/file-icon.svg)

                &.icon-podcast
                    background-image url(../image/img/podcast-icon.svg)
                    background-size 17px

                &.icon-quiz
                    background-image url(../image/img/quiz-icon.svg)
                    background-size 19px

        .post-category
            display inline-block
            text-align center
            font-size 1em
            color colorYellow
            border-radius 20px
            padding 8px 30px
            background colorDefault
            margin-bottom 30px


        .post-info
            h2
                font-size 20px
                margin-bottom 20px
                position relative
                padding-top 20px

                &:before
                    content ''
                    height 5px
                    width 50px
                    position absolute
                    left 0
                    top 0
                    background colorLightBlue

        .duration-text
            font-size 14px
            margin-bottom 20px


        .btn-default
            background colorLightBlue
            color colorDefault
            border 1px solid colorLightBlue
            padding 8px 40px

            &:hover
                background colorDefault
                color #FFF
                border 1px solid colorDefault


.relateds-posts

    .relateds-title
        display inline-block
        text-align center
        font-size 1em
        color colorDefault
        border-radius 20px
        padding 8px 30px
        text-transform uppercase
        background colorYellow

    .relateds-list
        display flex
        flex-wrap wrap


    .relateds-image
        width 100%

        @media(min-width 961px)
            width 50%

        img
            border-radius 20px

    .relateds-info
        width 100%

        @media(max-width 960px)
            margin-top 20px

        @media(min-width 961px)
            width 50%
            padding-left 30px

        .relateds-special-title
            background colorYellow
            color colorDefault
            padding 8px 30px 8px 70px
            position relative
            border-radius 23px
            margin-bottom 20px
            display inline-block

            i 
                position: absolute
                width 50px
                height 50px
                background-color colorDefault
                top:calc(50% - 25px)
                left 0
                border-radius 50px
                background-size 25px
                background-repeat no-repeat
                background-position 50%
                background-image url(../image/img/star-icon.svg)

                &.icon-materia
                    background-image url('../image/img/file-icon.svg')

                &.icon-podcast
                    background-image url('../image/img/podcast-icon.svg')
                    background-size 15px 25px

                &.icon-quiz
                    background-image url('../image/img/quiz-icon.svg')
                    background-size 19px
        p
            font-size 18px
            font-weight bold
        
            a
                color colorDefault

.relateds-colapse
    .relateds-colapse-item
        display none

        &.open
            display block

    .relateds-title
        cursor pointer

        &:hover
            background colorDefault
            color colorYellow


.racine-course-section
    
    @media (min-width: 961px)
        display flex
        align-items center

    .racine-course-info
        font-size 18px

        @media (max-width: 960px)
            margin-bottom 20px

        @media (min-width: 961px)
            width 50%
            padding-right 10%
        

    .racine-course-content
        width 100%
        display flex
        background colorDefault
        color #ffffff
        border-radius 50px
        padding 30px 10%
        align-items center

        @media (min-width: 961px)
            width 50%

        p, figure 
            width 50%
            

        p
            font-size 14px
            color #ffffff


.more-recent-post-section
    padding 50px 0
    background colorDefault
    margin 40px 0
    position relative

    @media(max-width 960px)
        padding-bottom 20px

    @media(min-width 961px) 
        &:after
            content ''
            height 100%
            width 10%
            position absolute
            right 0
            bottom 0
            background url('../image/img/blue-form-1.png') no-repeat bottom right
            background-size contain


    .more-recent-post-container
        align-items center
        display flex
        flex-wrap wrap

        .btn-more
            @media(max-width 960px)
                text-align center

        figure 
            border-radius 20px
            overflow hidden

            @media(max-width 960px)
                margin-bottom 30px

            @media(min-width 961px)
                width 50%

        .more-recent-post-info
            color #fff
            width 100%

            @media(min-width 961px)
                width 50%
                padding-left 5%
                padding-right 10%

            p
                color #fff
                padding-top 20px
                position relative
                margin-top 5px

                &:before
                    content ''
                    height 4px
                    width 50px
                    position absolute
                    left 0
                    top 0
                    background colorLightBlue
        

.page-not-banner
    padding-top 178px


.title-page-not-banner
    background colorYellow
    padding 30px 0
    margin-bottom 30px

    h1
        line-height 1em
        margin 0
        padding 0


.container-about

    @media(min-width 960px)
        display flex

        .text-about
            width 60%


        .img-about  
            width 40%
            margin-left 30px
.cod-vendas
    margin-bottom 20px

.form-cod-vendas
    display flex
    align-items center

    label 
        color colorDefault
        font-size 18px

        span 
            display block
            font-weight bold

    input 
        height 40px
        background: rgb(200,200,200);
        background: linear-gradient(180deg, rgba(200,200,200,1) 0%, rgba(246,245,245,1) 100%);
        border-radius 20px
        border none
        width 200px
        margin-right 15px
        padding 0 20px

        &:focus
            border none 
            outline none


//Paginas sem a busca
body
    &.page-user-favorites,
    &.page-user-invite,
    &.page-user-home,
    &.page-home-contact-us,
    &.page-home-privacy,
    &.page-home-term,
    &.page-dropyd,
    &.page-covid19,
    &.page-orienteme,
    &.page-doralgina,
    &.page-centro,
    &.page-documentario,
    &.page-dropyd_quiz,
    &.page-histamin_quiz,
    &.page-user-responsible-update
    &.page-histamin_quiz,
    &.page-histamin

        .search-global
            display none



