//Footer
.footer 
    background #f3f5ff
    padding 30px 0
    margin-top 80px

    .container
        max-width 900px

    .logo-footer
        max-width 100px
        margin -60px auto 0 auto
        border-radius 15px
        overflow hidden

    .menu-footer, .menu-footer-top
        text-align center
        margin 25px 0
        border-top 1px solid #A2A2A2
        border-bottom 1px solid #A2A2A2
        padding 15px 0

        &.menu-footer-top
            text-transform uppercase

            @media(max-width 960px)
                padding 15px 0

        &.menu-footer
            border none

            @media(max-width 960px)
                padding 0

            li
                position relative

                @media(min-width 961px)
                    &:after
                        content '|'
                        right 0
                        top 0
                        position absolute
                        color #686868

                        &:last-child
                            &:after
                                display none

            

        @media(min-width 960px)
            display flex
            justify-content center

        li
            font-size 16px

            @media(max-width 960px)
                padding 5px 0

            @media(min-width 961px)
                padding 0 15px  

            &:last-child
                margin-bottom 0

            a
                color #686868
                text-decoration none

                &:hover
                    text-decoration underline

    p
        color #686868
        text-align center

        span 
            display block
            
            @media(max-width 960px)
                margin-top 15px
