.form

    .icon-form
        font-size 40px
        margin-right 15px
        color #707070
    
    @media(max-width 960px)
        .list-choice
            display block

            label
                display block
                text-align: center

    fieldset
        min-width 0
        padding-left 0
        padding-right 0
        margin  0
        border  0

    legend
        font-weight bold
        text-align center
        font-size 1.3em

    .form-check
        margin-bottom 10px
        overflow hidden
        
        input
            margin-top 5px
            margin-right 10px
            width 20px
            float left

        label
            float left
            width calc(100% - 30px)
            line-height 1em

    input[type="radio"], input[type="checkbox"]
        box-sizing border-box
        padding 0

    button, input, select, textarea
        overflow visible
        outline none

        &:focus
            outline none

    label
        color colorDefault
        display inline-block
        font-size 1.2em
        margin-bottom 0.5rem
        line-height 1.3em

        &.error
            color #f00

        &.title-label
            font-weight bold
            margin-bottom 15px
            color colorDefault

        &.form-check-label
            margin-bottom 0
    
    .form-control
        display block
        width 100%
        padding 2px 10px
        font-size 1.2em
        color #585858
        background-color #f3f5fb
        background-clip padding-box
        border 1px solid #f3f5fb
        border-radius 15px
        transition border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

        &:focus
            border 0
    
    .select2-container
        width 100% !important

    .src-box
        display flex
        border 1px solid colorDefault
        border-radius 7px
        padding 5px

        input
            width calc(100% - 40px)
            border none !important

        button
            height 30px
            width 30px
            background-color transparent
            border none

            i 
                font-size 25px
                color colorDefault


    textarea
        min-height 150px
        overflow auto
        resize vertical

.login-forms-box
    max-width 600px
    margin 0 auto
    margin-top 40px

.g-signin2, .logo-login
    width 120px
    margin 0 auto

.error
    color red

    @media(max-width 680px)
        display block


.current-info
    display none

.steps
    ul
        display flex
        justify-content space-between
        position relative
        margin-bottom 20px

        &:before
            content ''
            height 2px
            width 100%
            display block
            position absolute
            top 50%
            left 0
            background #a9a4cd


        li
            margin 0
            position relative
            z-index 1
            font-size 0
            

            &.disabled  
                a
                    background #CCC
                    color #FFF
                    cursor default
                    border: 1px solid #ccc;
                    
                    

        .current
            a
                background colorDefault 
                color #FFF

        a
            background #FFF
            border 1px solid #18097c
            display inline-block
            text-align center
            font-size 0
            color colorDefault
            border-radius 20px
            border 1px solid #18097c
            padding 6px 50px
            cursor pointer
            transition all .3s ease-in-out
            text-transform uppercase
            text-decoration none

            &:hover 
                background colorDefault 
                color #FFF


.register-form
    h3
        display none

    .number
        display none


    .actions
        .disabled
            display none

        ul
            display flex
            justify-content center
            margin-top 20px
        li
            text-align center
            margin 0 10px

        a
            background colorDefault
            display inline-block
            text-align center
            font-size 1em
            color #FFF
            border-radius 20px
            padding 8px 50px
            cursor pointer
            transition all .3s ease-in-out
            text-transform uppercase
            text-decoration none

            &:hover 
                background #8799bf
                text-decoration none
