
.header
    position relative

    .logo-neoquimica
        margin-left 20px
        max-width 115px
        display none

        @media(max-width 960px)
            position absolute
            top 28px
            right 70px

    .logo
        max-width 150px
        border-radius 0 0 20px 20px
        overflow hidden

    &.compact
        background colorDefault
        height inherit

        .logo
            margin-top -20px
            border-radius 0

        .avatar-menu
            display none

        @media (max-width: 960px)
            button#menu-mobile
                top 12px

                div
                    background #FFF
                

    .container
        position relative
        z-index 1

//Botão de Registro
.register-btn    
    p
        color #FFF
        text-align right
        font-size 0.9em

        @media(max-width 320px)
            font-size .8em

    a
        border 1px solid #FFF
        border-radius 10px
        padding 10px
        display block
        margin-top 3px
        font-weight bold
        color #FFF
        text-decoration none
        transition 0.3s ease all

        &:hover
            background: #ffffff
            color colorDefault
        
        @media(max-width 320px)
            font-size .8em

//Botão de login
.login-btn
    a
        background url(../image/img/avatar.svg) no-repeat
        display block
        width 30px
        height 30px
        margin 0 auto 0 auto
        text-indent -999999px
        cursor pointer


.modal-default
    .content-form-src-desk
        .modal-content
            position inherit 


.content-form-src-desk
    display flex
    align-items center
    height 100%
    position relative
    form
        display flex
        input
            width calc(100% - 50px)
            padding 5px 10px
            font-size 1.2em
            color #495057
            background-color #fff
            background-clip padding-box
            border 1px solid #18097c
            border-radius 5px 0 0 5px
            transition border-color .15s ease-in-out,box-shadow .15s ease-in-out

        button
            background colorDefault
            width 50px
            color #FFF
            border none 
            border-radius 0 5px 5px 0



//User info header logado
.user-menu
    text-align right
    position relative

    @media(max-width 960px)
        position absolute
        top 20px
        right 70px
        display flex
        flex-direction row-reverse
        z-index 102

    p
        color #FFF
    
    a
        color #FFF

    .name-user
        position relative
        padding-right 25px
        cursor pointer

        &:before
            content: "";
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #fff;
            right: 5px;
            top: calc(50% - 3px);
            position: absolute;

    .user-drop-dowm
        display none
        position absolute
        background colorDefault
        padding 20px
        text-align right
        border-radius 10px;
        width 185px
        right 0
        font-size 16px
        z-index 103

        &.open
            display block
        

//Avatar header Logado
.avatar-menu
    width 50px
    height 50px
    border-radius 50%
    overflow hidden
    background-size cover
    display inline-block

    @media(max-width 960px)
        margin-left 15px
        display none

    img
        border-radius 50%  

//Only Mobile
@media(max-width 960px)

    //Botão do menu mobile
    button#menu-mobile
        background transparent
        width 48px
        height 48px
        padding 8px
        cursor pointer
        transition ease-in-out .3s
        border none
        text-align center
        position absolute
        right 10px
        top 20px

        &:focus
            outline none

        div
            background colorDefault
            width 100%
            height 4px
            margin 5px auto 0 auto
            border-radius 9px
            transition ease-in-out .12s
            &:nth-child(3)
                margin-top -4px
            &:first-child
                margin 0
        
        &.navOpen
            transition ease-in-out .3s
            z-index 100

            div
                background #FFF
                width 100%
                margin 0
                transition ease-in-out .3s
                &:nth-child(1),
                &:nth-child(4)
                    background transparent
                &:nth-child(2)
                    transform rotate(45deg)
                &:nth-child(3)
                    margin-top -4px
                    transform rotate(-45deg)
    .header
        position fixed
        color #FFF
        z-index 99
        top 0
        width 100%
        
        &.compact
            height 70px

            .logo-neoquimica
                top 13px

        a
            color #ffffff

            &:hover
                text-decoration none

        .logo
            max-width 120px
            z-index 102
            position relative

        .container
            width 100%

        .login-btn
            width 20%

        .register-btn
            width 35%

        .mnu_excelencia
            background: #ffd800;
            color: #00287f;
            padding: 5px;
            border-radius: 15px;
            font-size 12px
            text-align center
            display block



    //Menu mobile
    .menu
        background colorDefault
        position absolute
        top 0
        right -100%
        width 100%
        padding 130px 5% 25px 5%
        transition ease-in-out .3s
        text-align left 
        height 100vh
        overflow auto

        .container-menu
            background colorDefault
            position relative
            z-index 103   

        &.white-menu
            background #f0f0f0

        &.open-menu
            right 0

        .form-src
            border-radius 20px
            border 2px solid #FFF
            overflow hidden
            position relative
            height 40px
            margin-bottom 20px
            width 100%
            
            input
                background colorDefault
                border none
                height 40px
                line-height 40px
                position absolute
                top 0
                left 0
                width 100%
                color #FFF
                padding-left 50px

                &::-webkit-input-placeholder
                    color #FFF
                    font-size 13px
                
                &:-ms-input-placeholder
                    color #FFF
                    font-size 13px
                
                &::placeholder
                    color #FFF
                    font-size 13px
                

            button
                background none
                background-size cover
                border none
                cursor pointer
                left 10px
                top 3px
                position absolute
                height 30px
                width: 30px

                i 
                    color #FFF
                    font-size 25px
        
        li
            line-height 2em
            font-size 1.3em
        
        span
            background colorDefault
            padding-right 10px
            position relative
            z-index 1

        .title-line
            color colorLightBlue
            position relative
            line-height 2.5em

            &:after
                background colorLightBlue
                content ''
                position absolute
                right 0
                bottom 16px
                height 1px
                width 100%

        a
            display block
            color #FFF
            font-weight bold

            &:hover
                text-decoration none


        .nav
            text-align right
            z-index 103
            position relative

            li
                text-transform uppercase
                font-size 14px
                margin-bottom 10px

                &.dropdown
                    >a
                        position relative
                        padding-right 30px

                        &:before
                            content ''
                            width: 0; 
                            height: 0; 
                            border-left 6px solid transparent
                            border-right 6px solid transparent
                            border-top 6px solid #fff
                            right 5px
                            top calc(50% - 3px)
                            position absolute

                .submenu
                    background #04144B
                    padding 10px
                    border-radius 10px
                    display none
                    margin-top 10px

                    &.open
                        display block
                        border 1px solid #000

                    li
                        &:last-child
                            margin-bottom 0

@media (min-width 960px)
    .header
        padding 0
        position fixed
        width 100%
        z-index 99
        top 0

        .container
            display flex
            justify-content space-between
            align-items center

        .content-header
            display flex
            justify-content space-between
            align-items center

        .menu-mobile
            display none

        .form-src, .close-menu
            display none

        .avatar-menu
            display none
        
        .form-src-desk
            height 40px
            width 40px
            background colorDefault
            border-radius 50%
            text-align center
            display flex
            align-items center
            justify-content center
            display none

            .button-form-src-desk
                color #FFF
                font-size 18px
                cursor pointer

            form
                display flex
                position absolute
                right -5px
                border-radius 20px
                top 0
                background: #FFF
                width 100%
                overflow hidden
                height 30px

            input
                background: #FFF
                border none
                width calc(100% -30px)
                padding 0 20px

            button
                border none
                width 30px
                background #FFF


        //Menu desktop
        .menu
            display flex
            align-items center
            
            ul.nav
                display flex
                justify-content space-between
                flex-wrap wrap

                .title-line
                    display none

                a
                    color #FFF
                    font-weight bold
                    border-radius 15px
                    padding 7px 15px
                    transition 0.2s ease
                    background colorDefault
                    font-size 12px
                    cursor pointer

                    &:hover
                        background-color #ffffff
                        color colorDefault
                        text-decoration none


                    &.mnu_excelencia
                        background #FFD800
                        color colorDefault
                        padding 15px 20px
                        border-radius 25px

                        &:hover
                            background #FFF

                li
                    margin 0 5px
                    text-transform uppercase

                    //Submenu
                    &.dropdown
                        >a
                            position relative
                            padding-right 30px

                            &:before
                                content ''
                                width: 0; 
                                height: 0; 
                                border-left 6px solid transparent
                                border-right 6px solid transparent
                                border-top 6px solid #fff
                                right 5px
                                top calc(50% - 3px)
                                position absolute

                            &:hover:before
                                border-left 6px solid transparent
                                border-right 6px solid transparent
                                border-top 6px solid colorDefault


                        ul.submenu
                            position absolute
                            background rgba(0,30,120,0.7)
                            padding 20px
                            text-align right
                            border-radius 10px
                            top 85px
                            display none

                            &.open
                                display block


                                >a
                                    background #FFF
                                    color colorDefault

                            li
                                margin 0 0 5px 0

                                &:last-child
                                    margin 0

                            a
                                background none 
                                color #FFF
                                padding 2px 5px
                                display block

                                &:hover
                                    background #FFF
                                    color colorDefault

    .logged
        .header
            &.compact
                .form-src-desk
                    display flex
    #data-user
        height 0
        overflow hidden
        text-align right
        color #FFF
        transition height 0.7s linear

        ul
            margin-top 20px

            a
                color #FFF
                line-height 2em
                display inline-block
                font-weight bold

        &.open-menu
            height auto

        p
            color colorLightBlue
            position relative
            margin-top 20px
            
            &:before
                background #568fe5
                content ''
                position absolute
                right 0
                bottom 9px
                height 1px
                width 100%
                display: block
                z-index 0

            span
                
                background colorDefault
                padding-left 10px
                display inline-block
                z-index 1
                position relative

//Dispositivos menores
@media(max-width 320px)
    .header
        .logo
            max-width 100px


.logged
    .header
        background  url('../image/img/bg-gradient.png') repeat-x left top
        height 213px

        &.compact
            background colorDefault
            height inherit

.page-home
    .header
        .logo-neoquimica
            display block