.modal-default
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    position fixed
    z-index 100
    width 100%
    background rgba(24, 9, 124, 0.8)
    overflow-y auto
    padding-bottom 20px
    display none

    .height-auto
        display flex
        align-items center
        height 100%
        position relative

    //Modal Excelência
    &.excelencia-modal
        .confirm-excelencia
            position relative
            display flex
            flex-direction column
            align-items center
            height 100%
            justify-content center

        .confirm-excelencia-content
            width 300px
            margin 0 auto
            background colorDefault
            text-align center
            color #FFF
            display flex
            flex-direction column
            align-items center
            justify-content center
            border-radius 30px
            position relative
            padding 50px 30px

        .close-modal
            color #ffffff
            position absolute
            right 10px
            top 10px


    &.open-modal
        display block

        .modal-content 
            right 0

    .modal-content    
        padding 20px
        background #FFF
        width 90%
        left 0
        right 0
        margin 0 auto
        max-width 960px
        z-index 101
        border-radius 10px
        position absolute
        top 20px
        margin-bottom 20px

        @media(min-width 960px)
            max-width 700px
        

    .close-modal
        font-size 20px
        color colorDefault 
        padding 8px 30px
        border-radius 20px
        cursor pointer
        transition 0.3s ease all

        &:hover
            text-decoration none 
            background colorDefault
            color #FFF

    &.cat-1
        background rgba(102, 206, 227, 0.8)

        .close-modal
            color colorBlue

            &:hover
                background colorBlue
                color #FFF

    &.cat-2
        background rgba(180, 90, 188, 0.8)

        .close-modal
            color colorPink

            &:hover
                background colorPink
                color #FFF

    &.cat-3
        background rgba(244, 197, 82, 0.8)

        .close-modal
            color colorYellow

            &:hover
                background colorYellow
                color #FFF
    
    &.cat-4
        background rgba(103, 82, 131, 0.8)

        .close-modal
            color colorDarkPurple

            &:hover
                background colorDarkPurple
                color #FFF

    &.cat-5
        background rgba(97, 159, 95, 0.8)

        .close-modal
            color colorGreen

            &:hover
                background colorGreen
                color #FFF

    &.modal-image
        background rgba(255, 255, 255, 0.8)

        .confirm-modal-image
            position relative
            display flex
            flex-direction column
            align-items center
            height 100%
            justify-content center

        .modal-content
            padding 0
            background none

        a
            &:hover
                img 
                    opacity 1

        .confirm-modal-image-content
            margin 0 auto
            background colorDefault
            text-align center
            color #FFF
            display flex
            flex-direction column
            align-items center
            justify-content center
            border-radius 30px
            position relative


        .close-modal
            position: absolute;
            right: 20px;
            top: 20px;
            height: 40px;
            width: 40px;
            background: none;
            padding: 0;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
            color: #FFF;
            font-size: 20px;
            border: 1px solid #FFF;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover
                background #ffffff
                color colorDefault

        &#modal-n-motivos
            &.open-modal
                display flex
                justify-content center
                align-items center

            .modal-content
                max-width 600px
                position relative
                top 0 

                
        