{% extends 'base.html.twig' %}
{% set metadescription = 'Combate dores da Neo Quimica. Confira a linha de medicamentos para se livrar das dores. Acesse e saiba mais!' %}
{% set metatitle = 'Combate Dores' %}
{% block title %}Combate Dores{% endblock %}
    
{% block body %}
<div class="dores" id="dores">
    <section class="text-center banner-dores" >
        <img src="{{ asset('_dist/image/img/dores/banner-dores-mobile.png')}}" alt="Banner " class="visible-xs">
        <img src="{{ asset('_dist/image/img/dores/banner-dores.png')}}" alt="Banner " class="hidden-xs">
    </section>

    <div class="dores-banner-download">
        
        <a onclick="dataLayer.push({'event': 'gaEvent','event_name': 'baixe-o-ebook','event_local': '/combatedores','event_action': 'click','event_text': 'fazer-download'});" href="{{ asset('_dist/image/img/dores/dores-ebook.pdf')}}" download>
            <img src="{{ asset('_dist/image/img/dores/banner-down-load-mobile.png')}}" alt="Banner " class="visible-xs">
            <img src="{{ asset('_dist/image/img/dores/banner-download.png')}}" alt="Banner " class="hidden-xs">
        </a>
        
        <div class="visible-xs space-h-20 text-center">
            <a onclick="dataLayer.push({'event': 'gaEvent','event_name': 'baixe-o-ebook','event_local': '/combatedores','event_action': 'click','event_text': 'fazer-download'});" href="{{ asset('_dist/image/img/dores/dores-ebook.pdf')}}" download class="btn-default">FAZER DOWNLOAD</a>
        </div>

        <div class="visible-xs text-center">
            <hr>
        </div>
    </div>

    <div class="container">
        <ul class="menu-dores">
            <li>
                <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'cta:materias'}); " href="#materias" class="btn-menu">Matérias</a>
                <p>
                    Conteúdos sobre os tipos de dores que podem aparecer no dia a dia. 
                </p>
            </li>
            <li>
                <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'cta:podcast'}); " href="#podcast" class="btn-menu">PODCAST</a>
                <p>
                    Ouça o podcast exclusivo com um especialista no assunto.
                </p>
            </li>
        </ul>

        <div class="dores-racine-box text-center">
            <p>
                <strong>Conquiste mais conhecimento para combater as dores com o curso:</strong><br>
                Fisiopatologia e Farmacoterapia da Dor: Foco em Dor de Cabeça e Dor Musculoesquelética.
            </p>
            <figure><a href="https://www.portalneopharma.com.br/cursos/fisiopatologia-e-farmacoterapia-da-dor-foco-em-dor-de-cabeca-e-dor-musculoesqueletica" target="_blank"><img src="{{ asset('_dist/image/img/dores/btn-racine.png')}}" alt=""></a></figure>
        </div>

        <div class="dores-products">
            <div class="header-section">
                <h2>Conheça a linha COMBATEDORES</h2>
                <p>
                    Passe o cursor sobre as categorias e saiba mais.
                </p>
            </div>
            <div class="dores-slide-products">
                <div class="slides owl-carousel">
                    <div class="item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/dores/doralgina.png')}}" alt="Doralgina">
                        </figure>
                        <div class="space-h-10">
                            <h3 class="text-center">Doralgina</h3>
                        </div>
                        <div class="text-center">
                            <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha-combatedores:Doralgina'});" href="" data-modal="doralgina-modal" class="btn-default">Saiba mais</a>
                        </div>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/dores/massageol.png')}}" alt="Massageol">
                        </figure>
                        <div class="space-h-10">
                            <h3 class="text-center">Massageol</h3>
                        </div>
                        <div class="text-center">
                            <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha-combatedores:Massageol'});" href=""  data-modal="massageol-modal" class="btn-default">Saiba mais</a>
                        </div>
                    </div>
                    <div class="item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/dores/neocoflan.png')}}" alt="Neocoflan">
                        </figure>
                        <div class="space-h-10">
                            <h3 class="text-center">Neocoflan</h3>
                        </div>
                        <div class="text-center">
                            <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha-combatedores:Neocoflan'});" href="" data-modal="neocoflan-modal" class="btn-default">Saiba mais</a>
                        </div>
                    </div>

                    <div class="item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/dores/napronax.png')}}" alt="Napronax">
                        </figure>
                        <div class="space-h-10">
                            <h3 class="text-center">Napronax</h3>
                        </div>
                        <div class="text-center">
                            <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha-combatedores:Napronax'});"  href="" data-modal="napronax-modal" class="btn-default">Saiba mais</a>
                        </div>
                    </div>

                    <div class="item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/dores/ibufran.png')}}" alt="Ibufran">
                        </figure>
                        <div class="space-h-10">
                            <h3 class="text-center">Ibufran</h3>
                        </div>
                        <div class="text-center">
                            <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha-combatedores:Ibufran'});" href="" data-modal="ibufran-modal" class="btn-default">Saiba mais</a>
                        </div>
                    </div>

                    <div class="item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/dores/mirador.png')}}" alt="Mirador">
                        </figure>
                        <div class="space-h-10">
                            <h3 class="text-center">Mirador</h3>
                        </div>
                        <div class="text-center">
                            <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha-combatedores:Mirador'});"  href="" data-modal="mirador-modal" class="btn-default">Saiba mais</a>
                        </div>
                    </div>

                    <div class="item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/dores/miorrelax.png')}}" alt="Miorrelax">
                        </figure>
                        <div class="space-h-10">
                            <h3 class="text-center">Miorrelax</h3>
                        </div>
                        <div class="text-center">
                            <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'conheca-a-linha-combatedores:Miorrelax'});" href="#" data-modal="miorrelax-modal" class="btn-default">Saiba mais</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <hr>

        <div class="dores-materias-section" id="materias">
            <div class="header-section">
                <h2>Matérias</h2>
                <p>
                    Aqui você aprende mais sobre dores,<br> sintomas e seus impactos.
                </p>
            </div>
            <div class="dores-materias-box">
                <div class="dores-materias-img">
                    <img src="{{ asset('_dist/image/img/dores/materias.png')}}" alt="">
                </div>
                <div class="dores-materias-content">
                    <div class="dores-slide-materias">
                        <div class="slides owl-carousel">
                            <div class="item">
                                <div class="materias-content">
                                    <h3>Conheça os tipos mais comuns de dor de cabeça</h3>
                                    <p>
                                        Entender o sintoma é o primeiro passo para tratá-lo.
                                    </p>
                                </div>
                                <div class="space-h-0">
                                    <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'materias:conheca-os-tipos-mais-comuns-de-dor-de-cabeca'});" href="{{ path('blog_detail', {'slug':'conheca-os-tipos-mais-comuns-de-dor-de-cabeca'}) }}" class="btn-default" target="_blank">Saiba mais clicando aqui. </a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="materias-content">
                                    <h3>A dor de cabeça na vida do jovem</h3>
                                    <p>
                                        Entenda como o crescimento emocional e físico deixam o jovem vulnerável à dor de cabeça.
                                    </p>
                                </div>
                                <div class="space-h-0">
                                    <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': a-dor-de-cabeca-na-vida-do-jovem'});"  href="{{ path('blog_detail', {'slug':'a-dor-de-cabeca-na-vida-do-jovem'}) }}" class="btn-default" target="_blank">Saiba mais clicando aqui. </a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="materias-content">
                                    <h3>Saiba tudo sobre lombalgia</h3>
                                    <p>
                                        Conheça as principais causas, sintomas e tratamento para essa dor que afeta uma grande parcela da população!
                                    </p>
                                </div>
                                <div class="space-h-0">
                                    <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel':saiba-tudo-sobre-lombalgia'});"  href="{{ path('blog_detail', {'slug':'saiba-tudo-sobre-lombalgia'}) }}" class="btn-default" target="_blank">Saiba mais clicando aqui. </a>
                                </div>
                            </div>
                            
                            {# <div class="item">
                                <div class="materias-content">
                                    <h3>Insensibilidade congênita à dor </h3>
                                    <p>
                                        Condição rara de saúde, essa patologia altera a percepção de dor e pode apresentar riscos.
                                    </p>
                                </div>
                                <div class="space-h-0">
                                    <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'materias:insensibilidade-congenita-a-dor'});" href="{{ path('blog_detail', {'slug':'insensibilidade-congenita-a-dor'}) }}" class="btn-default">Saiba mais clicando aqui. </a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="materias-content">
                                    <h3>A dor na farmácia</h3>
                                    <p>
                                        Você, profissional de farmácia, é a parte mais importante dos COMBATEDORES. Descubra como lidar com este sintoma na farmácia.
                                    </p>
                                </div>
                                <div class="space-h-0">
                                    <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'materias:a-dor-na-farmacia'});"  href="{{ path('blog_detail', {'slug':'a-dor-na-farmacia'}) }}" class="btn-default">Saiba mais clicando aqui. </a>
                                </div>
                            </div> #}

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="space-h-40">
            <!-- Podcast -->
            <div class="container" id="podcast">
                <div class="text-center space-h-30">
                    <div class="header-section">
                        <h2 class="main-title text-new-pink ">Podcast</h2>
                        <p>
                            Vamos conversar sobre dores, os sintomas e o impacto na rotina de cada um? Você tem um papel muito importante.
                        </p>
                    </div>
                </div>
            </div>
            <div class="podcast-box">
                <div class="podcast-item">
                    <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'podcast:ouca-aqui'});" href="" class="icon" data-modal="podcast1">
                        <img src="{{ asset('_dist/image/img/dores/retangulo.png')}}">
                    </a>
                    <h3 data-modal="podcast1">PODCAST</h3> 
                </div>
                <div class="text-center btn">
                    <a onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'combatedores', 'eventAction': 'click', 'eventLabel': 'podcast:ouca-aqui'});" href="" class="btn-default"  data-modal="podcast1">Ouça aqui</a>
                </div>
            </div>
        </div>

        <p class="texto-legal">
            Massageol. pomada e solução aerossol salicilato de metila, cânfora e mentol. Indicações: tratamento exclusivamente dermatológico dos sintomas do reumatismo, nevralgias, torcicolos, contusões e dores musculares. MS 1.5584.0307. Neocoflan. diclofenaco dietilamônio. Indicações: aliviar a dor e diminuir a inflamação e o inchaço em diversas condições dolorosas. MS 1.5584.0305. Doralgina. dipirona, mucato de isometepteno e cafeína. Indicações: analgésico e antiespasmódico; incluindo enxaquecas ou para o tratamento de cólicas. MS 1.5584.0380. Napronax. naproxeno sódico. Indicações: é um agente analgésico, anti-inflamatório e antipirético muito utilizado em diversos tipos de dores. MS 1.5584.0579. Ibufran. ibuprofeno. Indicações: para alívio temporário da febre e de dores de leve a moderada intensidade como: dor de cabeça, dor nas costas, dor muscular, enxaqueca, cólica menstrual, de gripes e resfriados comuns, dor de artrite e dor de dente. MS 1.5584.0602. Mirador. Dipirona monoidratada. Indicações: analgésico e antitérmico. MS 1.5584.0582. Miorrelax. cafeína, citrato de orfenadrina e dipirona monoidratada. Indicações: alívio da dor associada a contraturas musculares, incluindo dor de cabeça tensional. MS 1.5584.0073.
            <br>SE PERSISTIREM OS SINTOMAS, O MÉDICO DEVERÁ SER CONSULTADO. Outubro/2022

        </p>
    </div> 

    <!-- Podcast 1 -->
    <div class="modal-default pod-modal pink-modal" id="podcast1">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2></h2>
                    <p>
                        
                    </p>
                </div>
                <audio controls="" class="audio-post" id="audio1">
                    <source src="{{ asset('_dist/image/img/dores/podcast-dores.mp3')}}" type="audio/mpeg">
                    Seu navegador não suporta audio.
                </audio>
            </div>
        </div>
    </div>

    <div class="modal-default modal-medicamentos" id="doralgina-modal">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <a class="close-modal" onclick="core.hideMessage()">X</a>
                <div class="space-h-20">
                    <p>
                        <strong>Dipirona + mucato de isometepteno + cafeína</strong>
                    </p>
                    <p>
                        Doralgina é um medicamento com atividade analgésica e antiespasmódica indicado para o tratamento de dor de cabeça, incluindo enxaquecas, ou para o tratamento de cólicas.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-default modal-medicamentos" id="massageol-modal">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <a class="close-modal" onclick="core.hideMessage()">X</a>
                <div class="space-h-20">
                    <p>
                        <strong>Salicilato de metila + cânfora + mentol</strong>
                    </p>
                    <p>
                       Massageol é indicado para o tratamento exclusivamente tópico dos sintomas do reumatismo, nevralgias, torcicolos, contusões e dores musculares.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-default modal-medicamentos" id="neocoflan-modal">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <a class="close-modal" onclick="core.hideMessage()">X</a>
                <div class="space-h-20">
                    <p>
                        <strong>Diclofenaco dietilamônio</strong>
                    </p>
                    <p>
                        Neocoflan é um medicamento indicado para aliviar a dor e reduzir a inflamação e inchaço em diversas condições que afetam as articulações e músculos.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-default modal-medicamentos" id="napronax-modal">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <a class="close-modal" onclick="core.hideMessage()">X</a>
                <div class="space-h-20">
                    <p>
                       <strong>Diclofenaco dietilamônio</strong>
                    </p>
                    <p>
                        Napronax é um anti-inflamatório com ação analgésica e antitérmica, indicado para aliviar as dores agudas, febre e dor, dores musculares e articulares e dores após traumas.
                    </p>
                </div>
            </div>
        </div>
    </div>  

    <div class="modal-default modal-medicamentos" id="mirador-modal">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <a class="close-modal" onclick="core.hideMessage()">X</a>
                <div class="space-h-20">
                    <p>
                       <strong>Mirador</strong>
                    </p>
                    <p>
                        É um medicamento analgésico à base de dipirona, indicado para o tratamento de dor e febre.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-default modal-medicamentos" id="ibufran-modal">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <a class="close-modal" onclick="core.hideMessage()">X</a>
                <div class="space-h-20">
                    <p>
                       <strong>Ibufran</strong>
                    </p>
                    <p>
                        Ibufran contém ibuprofeno, que possui ação analgésica, antitérmica e anti-inflamatória. É indicado para o alívio temporário da febre e de dores de leve a moderada intensidade.
                    </p>
                </div>
            </div>
        </div>
    </div> 

    <div class="modal-default modal-medicamentos" id="miorrelax-modal">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <a class="close-modal" onclick="core.hideMessage()">X</a>
                <div class="space-h-20">
                    <p>
                       <strong>Miorrelax</strong>
                    </p>
                    <p>
                        Miorrelax possui ação analgésica e relaxante muscular. É indicado no alívio da dor associada a contraturas musculares, incluindo dor de cabeça tensional.
                    </p>
                </div>
            </div>
        </div>
    </div>     
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            //Menu onepage
            $(".menu-dores a").click(function( event ) {
                event.preventDefault();
                $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top - 80 }, 500);
            });

            //Carrossel
            if($(".dores-slide-products .slides").length) {
				$(".dores-slide-products .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					loop: true,
					nav: true,
                    center: true,
					items: 1,

                    responsive:{
                        960:{
                            items:3,
                            nav:true
                        }
                    }
				});
			}

            //Carrossel
            if($(".dores-slide-materias .slides").length) {
				$(".dores-slide-materias .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					margin: 20,
					loop: true,
					nav: true,
					items: 1,

                    responsive:{
                        960:{
                            items:2,
                            nav:true
                        }
                    }
				});
			}
        });
    </script>
{% endblock %}