{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Teaser Ingressos Corinthians {% endblock %}
    
{% block body %}
    <div class="page-not-banner page-satisfacao-arena-main">
        <div class="container">
            <div class="text-center">
                
                <div class="page-satisfacao-arena page-satisfacao-arena-agradecimento">
                    <h2>
                        Muito obrigado pela sua opinião.
                    </h2>
                    <p class="space-h-20">
                        Sua avaliação é muito importante para podermos analisar nossas ações,<br class="hidden-xs"> implementar melhorias e continuar oferecendo a melhor experiência para você.
                    </p>
                    <p class="text-yellow">
                        <strong>Até a próxima!</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

