{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Teaser Ingressos Corinthians {% endblock %}
    
{% block body %}
    <div class="page-not-banner page-satisfacao-arena-main">
        <div class="container">
            <div class="text-center">
                
                <div class="page-satisfacao-arena">
                    <h2>
                        Conte pra gente como foi a sua<br>
                        experiência na <strong class="text-yellow">Neo Química Arena!</strong>
                    </h2>
                    <h3>
                        Olá, profissional de farmácia. 
                    </h3>
                    <p class="space-h-20">
                        Para compreender o impacto de nossas campanhas e buscar meios<br class="hidden-xs">
                        de melhorá-las, solicitamos que responda às perguntas abaixo.
                    </p>
                    <p>
                        Com base na sua experiência sobre a ação realizada para o jogo<br class="hidden-xs"><span class="text-yellow"> Corinthians x Fluminense, dê uma nota de 0 a 5</span> para os tópicos a seguir:
                    </p>
                    
                    <form action="{{ path('satisfacao_arena') }}" method="POST">
                        {% for key, question in questions %}
                            <div class="satisfacao-pergunta">
                                <p><strong>{{ key|upper }}.</strong> {{ question }}</p>
                                <input type="hidden" name="{{ key }}" value="{{ question }}" />

                                <div class="satisfacao-perguntas-list">
                                    {% for i in 1..5 %}
                                        <label for="{{ 'p' ~ i }}">
                                            <span><input type="radio" name="{{ key ~ '-answer' }}" value="{{ i }}" required="required" style="height: 20px !important; width: 18px !important; border: 0 !important; opacity: 5 !important;"></span>
                                            {{ i }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        
                        <div class="satisfacao-sugestao">
                            <label>Tem algum comentário ou sugestão? Deixe no campo abaixo:</label>
                            <textarea name="comment"></textarea>
                        </div>

                        <div>
                            <button type="submit" name="s" id="" class="btn-default">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $(".satisfacao-perguntas-list span input").change(function() {
            if ($(this).prop("checked") == true) {
                $(this).parent().parent().parent().find('span').removeClass('checked');
                
                $(this).parent().addClass('checked');
            }
        });
   });

</script>
{% endblock %}
