{% extends 'admin.html.twig' %}

{% block title %}Enquete{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {# {% include 'admin/component/content-header.html.twig' with {'title':'Enquete', 'link': path('admin_survey_question'), 'page':'editar'} %} #}
    <!-- /.content-header -->

   <!-- Main content -->

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="box">
            <!-- /.card-header -->
            <!-- Form Element sizes -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Editar</h3>
                </div>
                {{ form_start(form) }}
                <div class="box-body">
                  <div class="form-group">
                    {{ form_row(form.title, {'label': 'Título'})}}
                    {{ form_row(form.response_yes, {'label': 'Sim', 'attr': {'class':'ckeditor'}} ) }}
                    {{ form_row(form.response_no, {'label': 'Não',  'attr': {'class':'ckeditor'}} ) }}
                    {{ form_row(form.response_empate, {'label': 'Empate',  'attr': {'class':'ckeditor'}} ) }}
                    {{ form_row(form.is_active, {'label': 'Ativo'}) }}

                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Salvar</button>
                    <a href="{{ path('admin_survey_question') }}" class="btn btn-danger btn-sm">Voltar</a>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.card -->
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-2">
        </div>
      </div>
      <!-- /.row -->
   </div>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}

{% endblock %}

