{% extends 'admin.html.twig' %}

{% block title %}Enquete
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Enquete</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Pergunta</th>
                                <th>Resultado - SIM</th>
                                <th>Resultado - NÃO</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for survey in surveys %}
                                {# {{ dump(survey) }} #}
                                {% set qtdSurvey = qtdSurvey(survey.id) %}
                                {# {{ dump(qtdSurvey) }} #}
                                <tr>
                                  <td>{{ loop.index }}</td>
                                  <td>{{ survey.title|raw }}</td>
                                  <td>{{ qtdSurvey.yes }}</td> 
                                  <td>{{ qtdSurvey.no }}</td>
                                  <td>
                                    <div class="row">
                                
                                      <!-- /.col -->                     
                                        <div class="col-6">
                                          <a href="{{ path('admin_survey_question_edit', {'id': survey.id }) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                                        </div>
                                      
                                        <div class="col-6">
                                          <a href="{{ path('admin_survey_question_delete', {'id': survey.id }) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                                        </div>
                                    
                                      <!-- /.col -->
                                    </div>
                                  </td>
                                </tr>
                              {% endfor %}
                              </tbody>
                        </table>
                    </div>
                </div>

                {# <div class="box-paginator">
                    {{ knp_pagination_render(surveys) }}
                </div>
                 #}
                <div class="box-footer">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_survey_question_new') }}">
                        Novo
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}




{% block javascripts %}
    

{% endblock %}

