{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Resultado Ingressos Corinthians {% endblock %}
    
{% block body %}
    <div class="page-not-banner page-ingresso-corinthians page-result-ingresso-corinthians">
        <div class="container">
            <div class="">
                <div class="page-ingresso-corinthians-realizado">
                    <div class="page-ingresso-corinthians-resultado text-center">
                        {% if result == 'parabens' %}
                            <!-- Feito com Sucesso! -->
                            <h2 class="text-yellow"><big>Parabéns!</big><span>É Goool! Você garantiu seu ingresso!</span></h2>
                            <p class="space-h-20">
                               Fique de olho nas caixas de entrada ou de SPAM do seu e-mail<br>
                                nos próximos dias e siga as orientações para recebê-lo.
                            </p>
                        {% elseif result == 'ingressos-esgotados' %}
                            <!-- Esgotado -->
                            <h2 class="text-yellow"><big>Não foi desta vez! </big><span>Os ingressos já se esgotaram.</span></h2>
                            <p class="space-h-20">
                                Mas, bom torcedor não perde a esperança. Mantenha o seu<br class="hidden-xs"> cadastro atualizado e fique de olho nas próximas oportunidades.
                            </p>

                            <div class="space-h-20 text-center">
                                <span class="space-v-10"><a href="{{ path('user-home') }}" class="btn-default btn-arena" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'ingressos-corinthians', 'eventAction': 'click:esgotado', 'eventLabel': 'atualizar-dados'});">Atualizar Dados</a></span>
                                <span class="space-v-10"><a href="{{ path('user-preferences') }}" class="btn-default btn-arena" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'ingressos-corinthians', 'eventAction': 'click:esgotado', 'eventLabel': 'atualizar-preferencias'});">Atualizar preferências</a></span>
                            </div>

                        {% elseif result == 'cidade-indisponivel' %}
                            
                            <h2 class="text-yellow"><big>Opa!</big><span>Os ingressos não estão<br class="hidden-xs"> disponíveis para sua região. </span></h2>
                            <p class="space-h-20">
                               Mas, bom torcedor não perde a esperança. Mantenha o seu<br class="hidden-xs"> cadastro atualizado e fique de olho nas próximas oportunidades.
                            </p>

                            <div class="space-h-20 text-center">
                                <span class="space-v-10"><a href="{{ path('user-home') }}" class="btn-default btn-arena" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'ingressos-corinthians', 'eventAction': 'click:city-indisponivel', 'eventLabel': 'atualizar-dados'});">Atualizar Dados</a></span>
                                <span class="space-v-10"><a href="{{ path('user-preferences') }}" class="btn-default btn-arena" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'ingressos-corinthians', 'eventAction': 'click:city-indisponivel', 'eventLabel': 'atualizar-preferencias'});">Atualizar preferências</a></span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
