{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Teaser Ingressos Corinthians {% endblock %}
    
{% block body %}
    <div class="page-not-banner page-ingresso-corinthians page-result-ingresso-corinthians page-ingresso-corinthian-teaser">
        <div class="container">
            <div class=" text-center">
                
                <div class="page-ingresso-corinthians-realizado">
                    <div class="page-ingresso-corinthians-resultado">
                        <h2>
                            No próximo dia 15 de setembro, às 20h, vai acontecer a partida da semifinal
                            da <strong class="text-yellow">Copa do Brasil entre Corinthians e Fluminense</strong> <strong>na Neo Química Arena.</strong>
                            <span>E você não pode perder essa!</span>
                        </h2>
                        <p class="space-h-40">
                            Fique de olho por aqui. A partir das <strong class="text-yellow">12h do dia 8 de setembro</strong> vamos distribuir 3 pares de ingressos para assistir ao jogo <strong class="text-yellow">Corinthians e Fluminense</strong> no <strong class="text-yellow">Camarote Festa Arena Neo Química.</strong><br>
                            Os primeiros usuários que preencherem levam.
                        </p>
                        <p class="text-yellow">
                            <strong>Não perca tempo e já atualize seu cadastro.<br>
                            Só é possível participar com o cadastro completo.</strong>
                        </p>
                        
                        <div class="space-h-40">
                            <span class="space-v-10"><a href="{{ path('user-home') }}" class="btn-default btn-arena" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'ingressos-corinthians', 'eventAction': 'click:teaser', 'eventLabel': 'atualizar-dados'});">Atualizar Dados</a></span>
                            <span class="space-v-10"><a href="{{ path('user-preferences') }}" class="btn-default btn-arena" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'ingressos-corinthians', 'eventAction': 'click:teaser', 'eventLabel': 'atualizar-preferencias'});">Atualizar preferências</a></span>
                        </div>
                        <p class="texto-legal"><small>Ingressos válidos para o Camarote Festa da Neo Química Arena, disponíveis para os 3 primeiros usuários que se inscreverem. Válido apenas para os cadastrados com a função farmacêutico ou balconista, residentes em SP Capital e Grande SP. A Neo Química não se responsabiliza pelos custos de transporte e/ou hospedagem. Os ingressos são nominais e intransferíveis.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
