{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Especiais - {% endblock %}

{% block body %}
    <div class="specials-page">
        <section class="banner-main">    
            <div class="p-hero">
            <div class="slide p-hero__item">
                    <div class="p-hero__body">
                        <h1 class="p-hero__title">ESPECIAIS</h1>
                    </div>
                    <figure class="p-hero__figure">
                        <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{asset('_dist/image/img/banner-produtos.jpg')}}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post hidden-xs" />
                        
                        <!-- Mobile -->
                        <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{asset('_dist/image/img/banner-mobile-produto.jpg')}}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post visible-xs" />
                    </figure>
                </div>
            </div>
        </section>

        <div class="container">
            <p class="text-intro text-center">
                Conhecimento nunca é demais para um bom profissional de farmácia. Mas é essencial saber como e quando aplicá-lo. Por isso, preparamos diversos especiais para você estar preparado para os mais variados tipos de situação!
            </p>
        </div>
        
        {% if special_campaign|length > 0 %}
            {% for special in special_campaign %}
                {% if loop.first %}
                    <section class="more-recent-post-section">
                        <div class="container">
                            <div class="more-recent-post-container">
                                <figure class="post-image">
                                    <a href="{{ path('specials', {'slug': special.slug}) }}">
                                        <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{asset(special.image)}}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post" />
                                    </a>
                                </figure>

                                <div class="more-recent-post-info">
                                    <h2 class="text-yellow">MAIS RECENTE</h2>
                                    <p>
                                    {{ special.title }}
                                    </p>
                                    <div class="space-h-20 btn-more">
                                        <a href="{{ path('specials', {'slug': special.slug}) }}" class="btn-default btn-yellow">SAIBA MAIS</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}
            {% endfor %}
        {% endif %}
        <section class="posts-section-main">
            <div class="container">
                <div class="posts-list">
                    {% if special_campaign|length > 0 %}
                        {% for special in special_campaign %}
                            {% if loop.first %}

                            {% else %}
                                <div class="posts-item">
                                    <figure class="post-image">
                                        <a href="{{ path('specials', {'slug': special.slug}) }}" >
                                            <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{asset(special.image)}}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post" />
                                        </a>
                                    </figure>
                                    <div class="post-info">
                                        <h2 class="text-center">{{ special.title }}</h2>
                                    </div>
                                    <div class="text-center">
                                        <a href="{{ path('specials', {'slug': special.slug}) }}" class="btn-default" id="post-">SAIBA MAIS</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>

    </div>
{% endblock %}


{% block javascripts %}{% endblock %}