<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cron ranking vendedores - Portal Neo Pharma</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('_dist/css/main.min.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="space-h-40" id="content">
                <h1 class="text-red text-center space-h-20">Atualizando ranking vendedores</h1>
            </div>
        </div>
    </div>
    <script src="{{ asset('_dist/js/jquery.min.js') }}"></script>

    <script>
        enviaCron(); 

        function enviaCron() {
            $.ajax({
                url: '{{ path('promo_thirty_day_movement_point_update_vendas') }}',
                type: 'GET',
                data: {'q':true}
            }).done(function (response) {
                if(response.message == 'OK') {
                    $('#content').append('<p>'+ response.quantity_sent +' vendedores atualizados.</p>');
                    $('#content').append('<p>&nbsp;</p>');
                    enviaCron();
                }
                if(response.message == 'Todos os vendedores tiveram as suas pontuação atualizadas com sucesso.') {
                    $('#content').append('<p>'+ response.message +'</p>')
                }
            }).fail(function (response) {
                $('#content').append('<p>erro: '+ response +'</p>')
            });
        }
    </script>
</body>
</html>