{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Desafio 30 dias de Movimento - Ranking{% endblock %}

{% block body %}
    <div class="page-desafio-30-dias page-desafio-30-dias-ranking">
        <div class="container">
            <h1 class="text-center space-h-30">Ranking</h1>
        </div>
        <div class="container text-center space-h-30">
            <div class="btns-top">
                <a href="{{ path('promo_thirty_day_movement_videos') }}">Vídeos</a>
                <a href="{{ path('promo_thirty_day_movement_ranking_bf') }}">Ranking</a>
                <a href="{{ path('promo_thirty_day_movement_winners_week') }}">Prêmios Semanais</a>
                <a href="{{ path('promo_thirty_day_movement_landpage') }}">Campanha</a>
            </div>
        </div>
        <div class="tarja">
            <img src="{{ asset('_dist/image/img/medal.png') }}" alt="">
        </div>
        <div class="container">
            <div class="ranking-list">
                {% if ranking|length > 0 %}
                    {% for rank in ranking %}
                        {% if loop.index  <= 50 %}
                            <div class="ranking-item">
                                <div class="ranking-name">
                                   {{ rank.user.name }}
                                </div>
                                <div class="ranking-points" data-cadastro="{{ rank.createdAt|date('d/m/Y H:i:s') }}">
                                    {{ rank.points }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h2>Nenhum resultado a ser exibido.</h2>
                {% endif %}
            </div>
        </div>

        <div class="space-h-30 text-center">
            <a href="#" class="btn-more">Confira mais</a>
        </div>
        {% if ranking|length > 0 %}
        <div class="space-h-30 text-center">
            <span>
                <strong>Última atualização em:</strong> {{ ranking[0].updatedAt|date('d/m/Y H:i:s') }}
            </span>
        </div>  
        {% endif %}
    </div>  
{% endblock %}

{% block javascripts %}
    <script>
        $("document").ready(function(){
            $( ".ranking-item" ).each(function(index) {
                $(this).addClass('ranking-item-'+ parseInt(index + 1));
                
                if(index > 9){
                    $(this).hide();
                    
                    $('.btn-more').on('click', function(e){
                        e.preventDefault();
                        $( ".ranking-item" ).show();
                        $(this).hide();
                        return false;
                    });
                }
            });
        });
    </script>

{% endblock %}