{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Cadastro Desafio 30 dias de Movimento{% endblock %}

{% block body %}
    <div class="text-center">
        <img src="{{ asset('_dist/image/img/banner-desafio.jpg') }}" alt="30 Dias de Movimento" class="hidden-xs">
        <img src="{{ asset('_dist/image/img/banner-desafio-mobile.jpg') }}" alt="30 Dias de Movimento" class="visible-xs">

        
    </div>
    <div class="container">
        <div class="login-forms-box">
            <div class="text-center space-h-10">
                <h2 id="lightbox-message">Desafio <span class="exclude-text">30</span> 52 Dias de Movimento </h2>
                <p class="space-h-10">
                    <big>
                        Cadastre-se aqui e concorra até <strong>R$ 1.000</strong> em prêmios. Ainda dá tempo!! 
                    </big>
                </p>
                <p class="space-h-10" id="alert-promo" style="color: red; font-weight: bold;"></p>
            </div>
            <form method="post" class="form" id="form" enctype="multipart/form-data">
                <div class="space-h-10">
                    <label for="register-instagram">Instagram * <span class="error" id="instagram-error"></span></label>
                    <div class="d-flex">
                        <i class="fa fa-instagram icon-form"></i>
                        <input type="text" id="register-instagram" name="formPromo[instagram]" class="form-control cdt_mid_frm_nome" required maxlength="30">
                    </div>
                </div>
                <div class="space-h-10">
                    <label for="register-whatsapp">WhatsApp * <span class="error" id="whatsapp-error"></span></label>
                    <div class="d-flex">
                        <i class="fa fa-whatsapp icon-form"></i>
                        <input type="text" id="register-whatsapp" name="formPromo[whatsapp]" class="form-control cdt_mid_frm_email" required>
                    </div>
                </div>
                <div>
                    <div class="form-check">
                        <input type="checkbox" name="term" id="agree-term" class="cdt_mid_frm_declaro term-checked" required/>
                        <label for="agree-term" class="form-check-label">
                            <small class="text-gray">Declaro que li e aceito este​ <a href="{{ path('promo_thirty_day_movement_regulation') }}" target="_blank" class="show-terms">regulamento</a>. <span class="error termo-use-error" id="term-g-error"></span></small>
                        </label>
                    </div>
                </div>
                <div class="space-h-20">
                    <button type="button" id="btn-login-gestor" class="btn-default btn-special-pink btn-register-gestor btn-full btn-large cdt_mid_frm_sbm_cadastar">Participar da campanha</button>
                </div>
            </form>
        </div>

        <!-- Modal de Confirmação -->
        <div class="modal-default modal-image" id="modal-promo30day">
            <div class="confirm-modal-image">
                <div class="confirm-modal-image-content">
                    {# <a class="close-modal" id="close-modal-image" onclick="closeModal()">X</a> #}
                    <figure class="container">
                        <a href="{{ path('promo_thirty_day_movement_landpage') }}">
                          {% if app.user.isPharmaceutical %}
                            <img src="{{ asset('_dist/image/img/popup2-desktop.jpg') }}" alt="30 Dias de Movimento" class="hidden-xs">
                            <img src="{{ asset('_dist/image/img/popup2.jpg') }}" alt="30 Dias de Movimento" class="visible-xs">
                          {% else %}
                            <img src="{{ asset('_dist/image/img/popup1-desktop.jpg') }}" alt="30 Dias de Movimento" class="hidden-xs">
                            <img src="{{ asset('_dist/image/img/popup1.jpg') }}" alt="30 Dias de Movimento" class="visible-xs">
                          {% endif %}
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %} 
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
        var url  = "{{ path('promo_thirty_day_movement_create') }}";

        $('#btn-login-gestor').on('click', function(e){
            var $this = $(this),
                term = 0;

            if ($('.term-checked').is(':checked')){
                term = 1;
            } 

            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                cache: false,
	            headers: { "cache-control": "no-cache" },
                data: {
                    'u': {{ app.user.id }},
                    'instagram': $('[name="formPromo[instagram]"]').val(), 
                    'whatsapp': $('[name="formPromo[whatsapp]"]').val(), 
                    'regulament': term,
                },
                beforeSend: function(e){
                  $this.text('Carregando...');
                  $this.attr("disabled", true);
                  $('#alert-promo').text('');
                },
                success: function (response) {
                    if(response.status){
                        modalPromoThirtyDays();
                    }else{
                        if(response.errors.hasOwnProperty('instagram')){
                           $('#instagram-error').text(response.errors.instagram);
                        }

                        if(response.errors.hasOwnProperty('whatsapp')){
                            $('#whatsapp-error').text(response.errors.whatsapp);
                        }

                        if (response.errors.hasOwnProperty('regulament') ) {
                            $('#term-g-error').text(response.errors.regulament);
                        }

                        if (response.errors.hasOwnProperty('alert') ) {
                            $('#alert-promo').text(response.errors.alert);
                        }
                    }

                    $this.text('Participar da campanha');
                    $this.attr("disabled", false);
                } 
            });
        });

        $('[name="formPromo[instagram]"]').on("keyup", function(){
            $('#instagram-error').text('');
        });

        $('[name="formPromo[whatsapp]"]').on("keyup", function(){
            $('#whatsapp-error').text('');
        });

        $('.term-checked').on("click", function(){
            if ($(this).is(':checked')) {
                $('#term-g-error').text('');
            }
        });

        function modalPromoThirtyDays() {
            //$('#modal-promo30day').removeClass('hide');
            //$('#modal-promo30day').addClass('show');
             
            if($('#modal-promo30day').hasClass('open-menu')){
                $('#modal-promo30day').removeClass('open-modal');
            } else{
                $('#modal-promo30day').addClass('open-modal');
            }
        }

        $('[name="formPromo[whatsapp]"]').mask('(00) 00000-0000');
    </script>

{% endblock %}