{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Termo de uso{% endblock %}
{% set pageIndex = 'tuso' %}
{% block body %}
    <div class="container">
        <header class="header-main text-center">
            <h1>REGULAMENTO/PLANO DE OPERAÇÃO DA CONCURSO @30DDIASDEMOVIMENTO</h1>
        </header>

        <div class="content-main content-text space-h-20">
            <h2>EMPRESAS PROMOTORAS:</h2>
            <p>
                <strong>1.1</strong> - Empresa Mandatária: Razão Social: HYPERA S.A. Endereço: AVENIDA MAGALHÃES DE CASTRO NÚMERO: 4.800 Complemento: 24° ANDAR, EDIFÍCIO CONTINENTAL TOWER. Bairro: CIDADE JARDIM. Município: SÃO PAULO. UF: SP CEP: 05676-120 CNPJ/MF: 02.932.074/0001-91
            </p>
            <p>
                <strong>2.</strong> MODALIDADE DA PROMOÇÃO: Concurso
            </p>
            <p>
                <strong>3.</strong> ÁREA DE ABRANGÊNCIA: Todo o território nacional.
            </p>
            <p>
                <strong>4.</strong> PERÍODO DA PROMOÇÃO: 15/02/2020 a 30/04/2020
            </p>
            <p>
                <strong>5.</strong> PERÍODO DE PARTICIPAÇÃO: 10/03/2020 a 30/04/2020 
            </p>
            <p>
                <strong>6.</strong> CRITÉRIO DE PARTICIPAÇÃO:
            </p>
            <p>
                <strong>6.1.</strong> Produto Objeto da Promoção: Este Concurso tem a finalidade de incentivar a prática de exercício físico entre os profissionais de farmácia pelo país. A PROMOTORA, não exige vínculo de compra ou exigência de prova de compra, de seus produtos, para a participação no concurso.
            </p>
            <p>
                <strong>6.2.</strong> Condições e Forma de Participação.
            </p>
            <p> 
                <strong>6.2.1</strong> Poderá participar deste concurso qualquer profissional de farmácia, seja ele farmacêutico registrado no CRF ou balconista, que esteja cadastrado no site wwww.portalneopharma.com.br, que tenha se cadastrado com nome de usuário do Instagram e número de WhatsApp no concurso @30DIASDEMOVIMENTO, com o perfil de rede social aberto e público e que preencha os requisitos estipulados no regulamento da campanha;
            </p>
            <p>
                <strong>6.2.2.</strong> Para participar, o interessado deverá acessar o portal e se cadastrar na ação @30DIASDEMOVIMENTO, identificados com banner em destaque durante todo o período. Na página de cadastro, deverá fornecer o seu nome de usuário na rede social Instagram e estar de acordo com este regulamento.  Para pontuar no concurso, o participante deverá seguir com o que está disposto no item 6.2.3.1.
            </p>
            <p>
                <strong>6.2.3.</strong> No período de 10/03/2020, a partir das 00h00 até as 23h50 do dia 30/04/2020, o interessado em participar deverá assistir a vídeos dentro da área logada do site da PROMOTORA, postar fotos pessoais praticando atividades físicas de qualquer modalidade (caminhada, corrida, futebol, natação, dança, academia, artes marcais, entre outros) em perfil público no Instagram. As fotos deverão ser postadas diariamente, sempre na rede social Instagram, utilizando a ferramenta “marcação de pessoas” da ferramenta para mencionar o perfil @30diasdemovimento.
            </p>
            <p>
                <strong>6.2.3.1.</strong> A eventual informação falsa ou inverídica disponibilizada pelos participantes, no momento do seu aceite em participar, isentará a PROMOTORA de quaisquer responsabilidades civis ou de qualquer outra natureza, podendo o participante ser desclassificado, conforme previsto neste instrumento. Além disso, a PROMOTORA não se responsabilizará por informações ou dados inseridos de forma equivocada ou incompleta, de modo que os eventuais participantes nessa condição terão sua pontuação desconsiderada, podendo, inclusive, ser desclassificados.
            </p>
            <p>
                <strong>6.2.3.2.</strong> Os conteúdos postados deverão ser de autoria do próprio participante e não poderão conter bebidas alcoólicas, marcas concorrentes a PROMOTORA, remédios, alimentos e bebidas que não façam parte de uma dieta saudável (hamburguer, fast food, refrigerantes, doces em geral). Essas fotos terão a sua pontuação não computada para a campanha.
            </p>
            <p>
                <strong>6.2.3.3</strong> Os conteúdos postados não poderão conter nudez total e/ou parcial, ou escatologia de qualquer tipo, conotação/conteúdo obsceno, referência à pedofilia, palavras, gestos ou imagens que incitem a violência, contrários à moral e aos bons costumes, palavras de baixo calão, palavrões ou ofensas ao nome ou à moral de qualquer pessoa, imagens de terceiros, de marcas concorrentes ou não, ou que possam denegrir a imagem da marca, ou qualquer outra protegida por direitos autorais, ou ainda, com teor comercial (propaganda de produtos e serviços que não sejam relacionadas com a PROMOTORA e ao tema do Concurso), ou que fizerem referências desonrosas a locais, obras culturais ou eventos culturais, musicais e esportivos ou que possam contrariar as regras do Regulamento, isentando a PROMOTORA de qualquer responsabilização quanto ao fato que estiver além de seu conhecimento e controle.
            </p>

            <p>
                Também não serão aceitos os conteúdos que demonstrarem qualquer tipo de discriminação por conta de religião, política, raça, cor, sexo, gênero, orientação sexual, nacionalidade ou origem étnica. Sem prejuízo do disposto nos parágrafos anteriores, os conteúdos que indicarem ou apresentarem marcas ou produtos de empresas diversas e/ou concorrentes, personagens, vestuário ou cenário protegidos por direito autoral e/ou por qualquer outra proteção legal serão analisados pela moderação, podendo o conteúdo ser imediatamente desconsiderado, a qualquer tempo. Conteúdos que estejam de acordo com este item levam a desclassificação automática do participante no concurso.
            </p>

            <p>
                <strong>6.2.3.4.</strong> Para fins deste concurso, os participantes declaram que são autores dos conteúdos enviados e responderão penal e civilmente por esta informação e pela utilização indevida de direitos autorais e conexos pertencentes a terceiros e responderão por eventuais danos causados a tais terceiros, isentando a PROMOTORA de qualquer responsabilidade, ou seja, será presumido que os participantes são os autores dos conteúdos enviados, não tendo cometido plágio, ou qualquer outra forma de apropriação autoral vedada pela lei, não sendo a empresa PROMOTORA responsável por este uso e/ou citação.
            </p>

            <p>
                <strong>6.2.3.5.</strong> Durante o período de participação, o participante poderá tirar e postar até 30 (trinta) fotos por perfil na rede social Instagram. Será considerada para este concurso apenas a primeira foto postada no dia. Caso haja publicação de fotos a mais, estas serão desconsideradas.
            </p>

            <p>
                <strong>6.3.</strong> Para efeitos deste Concurso, serão consideradas como válidas as participações que atenderem todas as condições e prazos deste Regulamento.
            <p>

            <p>
                <strong>7</strong> - APURAÇÃO E DESCRIÇÃO DE PRÊMIOS: PERÍODO DA APURAÇÃO: 10/04/2020 00:00 a 30/04/2020 23:59 
            </p>

            <p>
                PERÍODO DE PARTICIPAÇÃO DA APURAÇÃO: 15/02/2020 00:00 a 30/04/2020 23:50 
            </p>

            <p>
                ENDEREÇO DA APURAÇÃO: www.portalneopharma.com.br 
            </p>

            <p>
                LOCAL DA APURAÇÃO: Escritório da PROMOTORA 
            </p>

            <p>
                PRÊMIOS <br>
                Quantidade: 
            </p>

            <p>
                -1 (um) prêmio para o 1° (primeiro) lugar no valor de R$1.438,80 (um mil, quatrocentos e trinta e oito reais e oitenta centavos) em Gympass (plano básico) ou R$ 1.000,00 (um mil reais)em vale compras na Decathlon,
            </p>

            <p>
                - 1 (um) prêmio para o 2° (segundo) lugar no valor R$719,40 (setecentos e dezenove reais e quarenta centavos) em Gympass (plano básico) ou R$ 500,00 (quinhentos reais) em vale compras na Decathlon, 
            </p>

            <p>
                - 1 (um) prêmio para o 3° (terceiro) lugar no valor de R$ 359,70 (trezentos e cinquenta e nove reais e setenta centavos)  em Gympass (plano básico) ou R$ 300,00(trezentos reiais) em vale compras na Decathlon;
            </p>

            <p>
                - 66 (sessenta e seis) premiações de igual valor, de R$ 100,00 (Cem reais) em vale compras na Decathlon, que será destinado a participantes que se envolverem no concurso, totalizando R$6.600,00 (Seis mil e seiscentos reais) a serem distribuídos em igual valor.
            </p>

            <p>
                Descrição do prêmio: Cartões de crédito adquiridos pela PROMOTORA no site da Gympass e/ou no site Decathlon Pro, de acordo com os valores descritos no item acima, a serem entregues individualmente aos ganhadores.
            </p>

            <p>
                <strong>Valor Total:</strong> R$ 6.600,00 (seis mil e seiscentos reais)
            </p>
            <p>
                Ordem: 1
            </p>
            <p>
                <strong>8</strong> - PREMIAÇÃO TOTAL:
            </p>
            <p>
                Quantidade Total de Prêmios: 69(sessenta e nove) <br>
                Valor total do Concurso: R$ 101.000 (cento e um mil reais)
            </p>
            <p>
                <strong>9</strong> - FORMA DE APURAÇÃO: 
            </p>
            <p>
                <strong>9.1.</strong> Serão consideradas para a apuração as fotos postadas no Instagram com a menção do perfil do concurso, apenas de usuários cadastrados na página do concurso dentro do Portal Neopharma, de propriedade da PROMOTORA. 
            </p>
            <p>
                <strong>9.2.</strong> A pontuação seguirá da forma abaixo:
            </p>

            <p>
                Cadastro na plataforma – 10 pontos
            </p>
            <p>
                Inscrição até o dia 01/03 – 5 pontos
            </p>
            <p>
                Indicação de amigo – 5 pontos (cadastro efetivado por completo na ação)
            </p>
            <p>
                Assistir vídeos na plataforma – 2 pontos por vídeo
            </p>
            <p>
                Fotos postadas no Instagram – 1 ponto por foto
            </p>
            <p>
            <p>
                1 foto – 1 ponto – +2 pontos extras
            </p>
            <p>
                7 fotos – 7 pontos – +4 pontos extras
            </p>
            <p>
                14 fotos – 14 pontos – +6 pontos extras
            </p>
            <p>
                21 fotos – 21 pontos – +8 pontos extras
            </p>
            <p>
                30 fotos – 30 pontos – +16 pontos extras
            </p>
            <p>
                <strong>9.3 O</strong> resultado será divulgado até o dia 30/04/2020, no site www.portalneopharma.com.br e nas redes sociais da PROMOTORA. 
            </p>
            <p>
                <strong>9.4.</strong> Será considerado o ganhador os usuários que acumularem mais pontos de acordo com a mecânica posta no item 9.2.
            </p>
            <p>
                <strong>9.5.</strong> Em caso de empate entre participantes, será utilizado, como critério de desempate, a data e horário de participação, sendo considerado o ganhador, o participante que se inscreveu primeiro no Concurso.
            </p>
            <p>
                <strong>10</strong> - CRITÉRIOS DE DESCLASSIFICAÇÃO:
            </p>
            <p>
                <strong>10.1.</strong> Excluem-se deste concurso os prepostos com função de gestão, sócios e empregados da PROMOTORA e os funcionários das agências envolvidas na operacionalização deste concurso.
            </p>
            <p>
                <strong>10.2.</strong> Os participantes poderão ser excluídos automaticamente e a qualquer tempo do Concurso, em caso de descumprimento deste Regulamento, bem como nos casos de suspeita de fraude e/ou prática de ato de má-fé, respondendo civil e criminalmente pelos atos praticados.
            </p>
            <p>
                <strong>10.3.</strong> Serão sumariamente desclassificados/eliminados, os participantes que não observarem às condições desse Regulamento ou que praticarem condutas que possam alterar o regular resultado do Concurso.
            </p>
            <p>
                <strong>11</strong> - FORMA DE DIVULGAÇÃO DO RESULTADO: A divulgação do nome dos ganhadores do Concurso será realizada no dia 30/04/2020, no site www.portalneopharma.com.br e nas redes sociais da PROMOTORA.
            </p>
            <p>
                <strong>12</strong> - ENTREGA DOS PRÊMIOS:
            </p>
            <p>
                o prêmio será entregue ao ganhador, de forma gratuita e sem ônus, via e-mail da PROMOTORA no prazo de até 30 (trinta),  ocasião em que conferirá ampla e irrestrita quitação à Promotora.
            </p>
            <p>
                <strong>12.2.1.</strong> Os participantes, ao receberem os créditos em seus vale-compras, concordam com todos os termos e condições presentes neste instrumento relacionados com este concurso, bem como concordam em aceitá-los sem direito à futuras reivindicações à PROMOTORA, bem como também concordam em isentar a mesma e/ou qualquer empresa envolvida no concurso, suas companhias coligadas, subsidiárias e afiliadas, inclusive seus respectivos funcionários, representantes, prestadores de serviços e agentes ou qualquer outra pessoa ou organização envolvida diretamente ou indiretamente neste concurso, de toda e qualquer demanda ou ação legal consequente de sua participação ou recebimento e utilização de qualquer prêmio.
            </p>
            <p>
                <strong>12.2.</strong> O prêmio a ser distribuído destina-se ao ganhador e será entregue em seu nome, sendo vedada sua transferência antes da entrega, bem como não poderá ser convertido, total ou parcialmente, em dinheiro.
            </p>
            <p>
                <strong>12.3.</strong> Na eventualidade do ganhador vir a falecer, o prêmio será entregue ao seu inventariante, que deverá comprovar tal condição.
            </p>
            <p>
                <strong>12.4.</strong> Todas as despesas necessárias à entrega do prêmio, inclusive pagamentos de taxas, impostos, contribuições previdenciárias e/ou emolumentos serão custeados pela PROMOTORA.
            </p>
            <p>
                <strong>13</strong> - DISPOSIÇÕES GERAIS:
            </p>
            <p>
                <strong>13.1.</strong> Local de exibição dos prêmios: Em face da natureza do prêmio, o mesmo não poderá ser exibido.
            </p>
            <p>
                <strong>13.2.</strong> A PROMOTORA não se responsabilizará por eventuais prejuízos que os Participantes possam ter, oriundos da participação no Concurso, da aceitação ou utilização do prêmio, ou ainda, de situações que estejam fora do controle da PROMOTORA.
            </p>
            <p>
                <strong>13.3.</strong> Cláusulas de Exclusão de Responsabilidade. O provimento de condições apropriadas de acesso à rede de Internet é de responsabilidade da prestadora de serviços contratada pelo participante para tal finalidade (provedor).
            </p>
            <p>
                <strong>13.3.1.</strong> Em caso de perda de conexão à rede de Internet, no momento do envio do conteúdo, não será devida qualquer indenização por parte da PROMOTORA, tendo o participante que aceitar a implicação da eventual falha.
            </p>
            <p>
                <strong>13.3.2.</strong> A PROMOTORA não se responsabiliza pela divulgação do conteúdo das participações na internet, como por exemplo, redes sociais, blogs, etc. 
            </p>
            <p>
                <strong>13.4.</strong> Canais e formas de divulgação institucional pela mídia. A divulgação do Concurso realizar-se-á através do site, comunicados nas redes sociais da PROMOTORA e de eventuais parceiros no Concurso. 
            </p>
            <p>
                <strong>13.4.1.</strong> O Regulamento estará disponível para consulta no site www.portalneopharma.com.br, as dúvidas devem ser encaminhadas para o e-mail disponível no referido site e serão respondidas no prazo de até 5 (cinco) dias úteis, contados do recebimento da mensagem.
            </p>
            <p>
                <strong>13.5.</strong> Cessão do direito de uso de imagem e outros conexos. Para os fins deste Concurso, ao submeter ou enviar seu conteúdo para participação, o participante concede uma licença exclusiva, não revogável, global e pelo prazo de um ano à PROMOTORA, relativa à totalidade dos direitos patrimoniais de autor, assim como sobre os direitos que lhe são conexos, para que a mesma divulgue e exponha tais imagens livremente com quaisquer terceiros e para quaisquer finalidades relativas ao concurso, que poderão ser fixadas em ambientes eletrônicos e/ou quaisquer suportes aptos à gravação e leitura de informações eletrônicas incluindo, mas não se limitando aos ambientes na Internet, Intranets, demais redes públicas ou privadas de dados, dispositivos móveis tais como celulares e dispositivos de mão, computadores e aparelhos com capacidade de processamento de informações, mídias físicas como CDs, DVDs, cartões de memória, discos rígidos ou quaisquer outros suportes à informação eletrônica bem como autoriza(m), automaticamente, a PROMOTORA a se utilizar de sua imagem, nome e/ou voz: conteúdos, cartazes, filmes, bem como em qualquer tipo de mídia e peças promocionais para a divulgação deste Concurso pelo prazo de 1 (um) ano, contado do término do Concurso.
            </p>
            <p>
                <strong>13.5.1.</strong> A PROMOTORA poderá gravar/filmar o recebimento do prêmio para veiculação em TV e outras mídias, sendo assim, o ganhador deste Concurso autorizará, sem quaisquer ônus, à PROMOTORA a utilizar as suas imagens, nomes e/ou vozes, em conteúdo, cartazes, filmes, bem como, em qualquer tipo de mídia e sites da PROMOTORA, produtos e peças promocionais para a divulgação da conquista do prêmio pelo prazo de 1 (um) ano, contado do término do Concurso.
            </p>
            <p>
                <strong>13.6.</strong> A simples participação neste Concurso implicará no total e integral reconhecimento das condições e aceitação irrestrita deste Regulamento.
            </p>
            <p>
                <strong>13.7.</strong> Quaisquer casos omissos deste regulamento ou dúvidas suscitadas pelos participantes serão resolvidos por uma comissão julgadora formada por indicação da PROMOTORA, que determinará de maneira irrecorrível e final a solução para cada caso ou responderá à questão suscitada.
            </p>
            <p>
                <strong>14</strong> - TERMO DE RESPONSABILIDADE Poderá participar deste concurso qualquer profissional de farmácia, seja ele farmacêutico registrado no CRF ou balconista, que esteja cadastrado no site wwww.portalneopharma.com.br, que tenha se cadastrado com nome de usuário do Instagram e número de WhatsApp no concurso @30DIASDEMOVIMENTO, com o perfil de rede social aberto e público e que preencha os requisitos estipulados no regulamento da campanha autorizada;
            </p>
            <p>
                Os prêmios não poderão ser convertidos em dinheiro;
            </p>
            <p>
                Quando o prêmio não for reclamado no prazo de cento e oitenta (180) dias, contados, respectivamente, da apuração do resultado do concurso ou do término do prazo do concurso, caducará o direito do respectivo titular. A divulgação da imagem dos contemplados poderá ser feita até um ano após a apuração do concurso comercial;
            </p>
            <p>
                <strong>15</strong> – Os participantes e premiados autorizam a PROMOTORA, ao participar deste concurso, a utilização de seus endereço físicos, eletrônicos, nome de usuário de Instagram, telefones e demais dados pessoais informados com o propósito de formação e atualização de cadastro, divulgação do próprio concurso e comunicação pela promotora de demais assuntos institucionais sem nenhum ônus para a PROMOTORA.
            </p>
            <p>
                <strong>16</strong> - A realização de exercícios físicos deverá ser realizado exclusivamente por pessoas que estejam aptas para tanto, conforme avaliação médica. Não é recomendado que gestantes, pessoas com lesões e pessoas com suspeita de infecção pelo COVID-19 realizem qualquer atividade física sem prévia autorização médica, não se responsabilizando a PROMOTORA por quaisquer prejuízos ou danos que os Participantes possam ter.
            </p>
            <p>
                <strong>17</strong> - Fica, desde já, eleito o foro da Comarca da Capital de São Paulo, do Estado de São Paulo para solução de quaisquer questões referentes ao presente instrumento ou ao presente concurso.
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}