{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Desafio 30 dias de Movimento{% endblock %}

{% block body %}
    <div class="page-desafio-30-dias" id="torcilax-pos-campanha">
        <div class="text-center">
            <img src="{{ asset('_dist/image/img/torcilax/banner.jpg') }}" alt="30 Dias de Movimento" class="hidden-xs">
            <img src="{{ asset('_dist/image/img/torcilax/banner-mobile.jpg') }}" alt="30 Dias de Movimento" class="visible-xs">
        </div>
        <div class="main">
            <div class="pink-box text-center">
                Nosso desafio foi um sucesso
            </div>
            
            <div class=" block-two">
                <div class="text-center container">
                    <p>
                        A equipe de <strong>Neo Pharma</strong> gostaria de agradecer a participação de todos os profissionais de farmácia que se movimentaram na campanha de conscientização e prevenção da dor.
                    </p>
                    <p>
                        Por <strong>52 dias</strong>, com início no Dia Mundial Contra o Sedentarismo, balconistas e farmacêuticos se exercitaram, convidaram amigos ao desafio e postaram fotos das atividades físicas feitas no período. 
                    </p>
                </div>
            </div>
            
            <div class="pink-center-box">
                <div class="text-center">
                    <img src="{{ asset('_dist/image/img/torcilax/medal.png') }}" alt="">
                </div>
            </div>
            

            <div class="container">
                <div class="text-center titles-main">
                    <h2>Parabéns aos primeiros colocados!</h2>
                    <h3>Vocês conquistaram o lugar mais alto do pódio e ganharam:</h3>
                </div>

                <div class="list-winners">
                    <ul class="slides owl-carousel">
                        <li>
                            <div class="winners-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/torcilax/davidson-ultima.jpg') }}" alt="">
                                    </figure>
                                    <h3>
                                        1º) Davidson Ludwig <br>
                                        Alves Campos<br>
                                        1 ano de Gympass* <br>
                                        ou R$ 1.000,00 em voucher* <br>
                                        127 pontos
                                    </h3>
                                </article>
                            </div>
                        </li>
                        <li>
                            <div class="winners-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/torcilax/leticia-ultima.jpg') }}" alt="">
                                    </figure>
                                    <h3>
                                        2º) Letícia Brigolini de Oliveira<br>
                                        6 meses de Gympass* <br>
                                        ou R$ 500,00 em voucher* <br>
                                        99 pontos
                                    </h3>
                                </article>
                            </div>
                        </li>
                        <li>
                            <div class="winners-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/torcilax/vagner-ultima.png') }}" alt="">
                                    </figure>
                                    <h3>
                                        3º) Vagner Calixto Oliveira <br>
                                        3 meses de Gympass*  <br>
                                        ou R$ 300,00 em voucher*  <br>
                                        97 pontos 
                                    </h3>
                                </article>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="space-h-20">
                    <div class="text-center titles-main">
                        <h2 style="color:#EF4259;">Veja quem mais ganhou!</h2>
                        <h3>Premiação de R$ 100,00 em voucher*</h3>
                    </div>

                    <div class="d-flex justify-content-center win-more">
                        <div>
                            <p>4º André Saidell Corrêa</p>
                            <p>5º Edilson jesus dos santos</p>
                            <p>6º Aline Goulart De Souza</p>
                            <p>7º Carlos Dantas</p>
                            <p>8º Aline Vieira Silva</p>
                            <p>9º Joyce Mendes Badan</p>
                            <p>10º Timeneo</p>
                            <p>11º Janaína Cavalcanti</p>
                            <p>12º Natalia Bertini Contieri</p>
                            <p>13º Rayssa carla da silva reis</p>
                            <p>14º Erivelton Paula</p>
                            <p>15º Joani Mirele Cunha Santos</p>
                            <p>16º Maria eduarda almeida de souza</p>
                            <p>17º Marianne Marks</p>
                            <p>18º Ana Domingues</p>
                            <p>19º Jéssica Leite</p>
                            <p>20º Tatiane da Silva souza</p>
                            <p>21º Aparecida Filgueira de Sousa</p>
                            <p>22º Gabriel Ribeiro</p>
                            <p>23º Anny Caroline da Silva Saboia</p>
                            <p>24º Patrícia Rennó</p>
                            <p>25º Sttephano Victorino</p>
                        </div>
                        <div>
                            
                            
                            <p>26º Edvânia Oliveira</p>
                            <p>27º CICERA VLADIA GONCALVES DOS SANTOS</p>
                            <p>28º THIAGO EVERTON DE OLIVEIRA</p>
                            <p>29º Ana Carolina de Quintal Squarcini</p>
                            <p>30º Josenilso Silva de Assis</p>
                            <p>31º José Bessa</p>
                            <p>32º Michelle Fernandes</p>
                            <p>33º Karina Lorena Silva</p>
                            <p>34º Priscilla Lopes</p>
                            <p>35º Aurea Ribeiro Carvalho</p>
                            <p>36º Izabela Aparecida de Almeida</p>
                            <p>37º Rita de Cassia Coelho de Almeida</p>
                            <p>38º Regina</p>
                            <p>39º Jose flavio de araujo</p>
                            <p>40º Wende da Silva Moreira</p>
                            <p>41º Rosilene ferreira aguiar</p>
                            <p>42º Midiã Queiroz</p>
                            <p>43º Sandra Helena</p>
                            <p>44º Nadja rodrigues</p>
                            <p>45º Juliana Faria</p>
                            <p>46º Cleide Ivete Araújo Silva</p>

                        </div>
                    </div>
                </div>
                <div class="text-center box-contact-gray">
                    <p>Aos ganhadores, entre em contato através do e-mail</p>

                    <p class="pink-contact-box"><a href="mailto:contato@portalneopharma.com.br">contato@portalneopharma.com.br</a></p>

                    <p>
                        até o dia 30/6* para resgatar seu prêmio. <br> 
                        <small>*Caso não haja contato dentro do período estipulado, o prêmio será invalidado. </small>
                    </p>
                </div>
                <div class="text-center titles-main">
                    <h2>Aproveite. E nos vemos nos próximos desafios.</h2>
                </div> 
            </div>

            <div class="gray-full-box">
                <div class="container text-center">
                    O que nos move é mover você 
                </div>
            </div>
            <div class="space-h-30 text-center">
                <div class="blue-box">
                    portalneopharma.com.br
                </div>
            </div>
            <div class="text-center text-legal">
                <small>*Gympass no plano de R$119,90 por mês. O voucher poderá ser usado em qualquer loja física da Decathlon ou on-line no site <a href="https://www.decathlon.com.br" target="_blank">https://www.decathlon.com.br/</a>. O custo do frete será debitado do valor total do voucher.</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            if($(".list-winners .slides").length) {
				$(".list-winners .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					margin: 0,
					loop: true,
					responsiveClass: true,
					nav: false,
					items: 1, 
                    responsive:{
                        0:{
                            items:1,
                            nav:true
                        },
                        960:{
                            items:3,
                            nav:false,
                            loop: false
                        }
                    }

				});
			}
        });
    </script>

{% endblock %}
