{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Desafio 30 dias de Movimento - Vídeos{% endblock %}

{% block body %}
    <div class="page-desafio-30-dias page-desafio-30-dias-videos">
        <div class="space-h-10">
            <div class="container">
                <h2 class="text-center colorNewPink space-h-30 main-title">Campanha Desafio @30 Dias de Movimento</h2>
            </div>
        </div>
        <div class="container text-center space-h-30">
            <div class="btns-top">
                <a href="{{ path('promo_thirty_day_movement_videos') }}">Vídeos</a>
                <a href="{{ path('promo_thirty_day_movement_ranking_bf') }}">Ranking</a>
                <a href="{{ path('promo_thirty_day_movement_winners_week') }}">Prêmios Semanais</a>
                <a href="{{ path('promo_thirty_day_movement_landpage') }}">Campanha</a>
            </div>
        </div>
        {% if movies|length > 0 %}
        <div class="video-main">
            {% set movie = movies|first %}
            
            <div class="container-video">
                <div class="video-box" data-embed="{{ movie.link }}">
                    {% for movie in movies %}
                        <div id="player{{ movie.id }}" style="display: {{ loop.first ? 'block' : 'none' }}"></div>
                    {% endfor %}
                </div>
                <div class="">
                    <div class="container">
                        <div class="text-center text-gray  space-h-20" id="video-description">
                            {{ movie.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="space-h-10">
                <div class="list-videos">
                {% for movie in movies %}
                    <div class="video-item" >
                        <a class="change-video" href="#" id="player-{{movie.id}}" data-ids="player{{ loop.index }}" data-videoid="{{movie.link}}" data-videodescripton="{{movie.description}}" data-videotitle="{{movie.title}}">
                            <figure> 
                               <img src="{{ asset('_dist/image/img/video-thumb.gif') }}" style="background-image: url('https://img.youtube.com/vi/{{movie.link}}/sddefault.jpg'), url({{ asset('_dist/image/default_desktop.png)') }};" alt="Video 1" class="thumb-video">
                            </figure>
                            <div class="info-video">
                                <h3>{{movie.title}}</h3>
                                <p>
                                    {{movie.description}}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% else  %}
            <h3 class="text-center">Nenhum video encontrado.</h3>
        {% endif %}
    </div>
{% endblock %}


{% block javascripts %}
    <script>

        $(document).ready(function(){            

            $(".change-video").unbind("click").on("click", function(e){
                e.preventDefault();

                var videodescripton = $(this).data("videodescripton");
                var videotitle = $(this).data("videotitle");
                var contentVideo = $(".video-main").offset().top;
                var videoid = $(this).data('ids');
                
                $("#video-title").html(videotitle);
                $("#video-description").html(videodescripton);
                $(".video-box iframe").hide();
                $("#"+videoid).show();

                $("html, body").animate({ scrollTop: parseInt(contentVideo - 70)}, "slow");

            });
        });
    
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var movies =  {{ movies|json_encode|raw }},
            playerInfoList = [],
            id = 'player';

        for (var i = 0; i < movies.length; i++) {
            id = 'player' + movies[i].id;
            videoId = movies[i].link;

            playerInfoList.push({'id': id, 'videoId': movies[i].link});
        }
  
        function onYouTubeIframeAPIReady() {
            if (typeof playerInfoList === 'undefined') return;
            
            for (var i = 0; i < playerInfoList.length; i++) {
                var curplayer = createPlayer(playerInfoList[i]);
                players[i] = curplayer;
                //console.log(players[i]);
            }
        }

        var players = new Array();

        function createPlayer(playerInfo) {
            return new YT.Player(playerInfo.id, {
                height: '390',
                width: '640',
                videoId: playerInfo.videoId,
                origin: '{{ app.request.getSchemeAndHttpHost() }}',
                events: {
                    // onReady: playerInfo.events.onReady,
                    onStateChange: onPlayerStateChange,
                },
            });
        }

        function onPlayerStateChange(event) {
            //console.log(event.target);
            //console.log(event.target.b.b.videoId);
            if (event.data == -1) {
                var videoId = event.target.b.b.videoId;
                sendUserMovie(videoId);
            }
   
        }

        function sendUserMovie(videoId) {
            var urlSendMovie = '{{ path('promo_thirty_day_movement_generate_point_movie') }}';
            $.ajax({
                url: urlSendMovie,
                type: "POST",
                dataType: "json",
                data: {
                    u : {{ app.user.id }},
                    movie: videoId,
                },
                success: function(response) {
                    console.log(response);
                }
            });
        }

        
    </script>

{% endblock %}