{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Desafio 30 dias de Movimento - Ganhadores da Semana{% endblock %}

{% block body %}
    <div class="page-desafio-30-dias page-desafio-30-dias-ranking">
        <div class="container">
            <h1 class="text-center space-h-30">Prêmios semanais</h1>
        </div>
        <div class="container text-center space-h-30">
            <div class="btns-top">
                <a href="{{ path('promo_thirty_day_movement_videos') }}">Vídeos</a>
                <a href="{{ path('promo_thirty_day_movement_ranking_bf') }}">Ranking</a>
                <a href="{{ path('promo_thirty_day_movement_winners_week') }}">Prêmios Semanais</a>
                <a href="{{ path('promo_thirty_day_movement_landpage') }}">Campanha</a>
            </div>
        </div>
        <div class="tarja">
            <img src="{{ asset('_dist/image/img/medal.png') }}" alt="">
        </div>

        <div class="space-h-30">
            <div class="container text-center winner-container">
                <h2><span>VENCEDORES DA ÚLTIMA SEMANA</span> VOUCHER DE R$100,00</h2>
                <p class="space-h-10">
                    21/4/2020 a 30/4/2020
                </p>

                <div class="winner-box space-h-50">
                    <div class="slides owl-carousel">
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/davidson-ultima.jpg') }}" alt="Davidson Ludwig Alves Campos">
                                    </figure>
                                    <h3>Davidson Ludwig Alves Campos</h3>
                                    <p>@Davidson.ludig</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/vagner-ultima.png') }}" alt="Vagner Calixto Oliveira">
                                    </figure>
                                    <h3>Vagner Calixto Oliveira</h3>
                                    <p>@Calixtovagner</p>
                                </div>
                            </article>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/andre-ultima.png') }}" alt="André Saidell Corrêa">
                                    </figure>
                                    <h3>André Saidell Corrêa</h3>
                                    <p>@andresaidell</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/leticia-ultima.jpg') }}" alt="Letícia Brigolini de Oliveira">
                                    </figure>
                                    <h3>Letícia Brigolini de Oliveira</h3>
                                    <p>@leticiabrigolini14</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="space-h-30">
            <div class="container text-center winner-container">
                <h2><span>VENCEDORES DA SEXTA SEMANA</span> VOUCHER DE R$100,00</h2>
                <p class="space-h-10">
                    14/4/2020 a 20/4/2020
                </p>

                <div class="winner-box space-h-50">
                    <div class="slides owl-carousel">
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/davidson-6.jpg') }}" alt="Davidson Ludwig Alves Campos">
                                    </figure>
                                    <h3>Davidson Ludwig Alves Campos</h3>
                                    <p>@Davidson.ludig</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/vagner-6.jpg') }}" alt="Vagner Calixto Oliveira">
                                    </figure>
                                    <h3>Vagner Calixto Oliveira</h3>
                                    <p>@Calixtovagner</p>
                                </div>
                            </article>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/andre-6.jpg') }}" alt="André Saidell Corrêa">
                                    </figure>
                                    <h3>André Saidell Corrêa</h3>
                                    <p>@andresaidell</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/leticia-6.jpg') }}" alt="Letícia Brigolini de Oliveira">
                                    </figure>
                                    <h3>Letícia Brigolini de Oliveira</h3>
                                    <p>@leticiabrigolini14</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="space-h-30">
            <div class="container text-center winner-container">
                <h2><span>VENCEDORES DA QUINTA SEMANA</span> VOUCHER DE R$100,00</h2>
                <p class="space-h-10">
                    07/4/2020 a 13/4/2020
                </p>

                <div class="winner-box space-h-50">
                    <div class="slides owl-carousel">
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/davidson-5.jpg') }}" alt="Davidson Ludwig Alves Campos">
                                    </figure>
                                    <h3>Davidson Ludwig Alves Campos</h3>
                                    <p>@Davidson.ludig</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/vagner-5.jpg') }}" alt="Vagner Calixto Oliveira">
                                    </figure>
                                    <h3>Vagner Calixto Oliveira</h3>
                                    <p>@Calixtovagner</p>
                                </div>
                            </article>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/andre-5.jpg') }}" alt="André Saidell Corrêa">
                                    </figure>
                                    <h3>André Saidell Corrêa</h3>
                                    <p>@andresaidell</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/leticia-5.jpg') }}" alt="Letícia Brigolini de Oliveira">
                                    </figure>
                                    <h3>Letícia Brigolini de Oliveira</h3>
                                    <p>@leticiabrigolini14</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="space-h-30">
            <div class="container text-center winner-container">
                <h2><span>VENCEDORES DA QUARTA SEMANA</span> VOUCHER DE R$100,00</h2>
                <p class="space-h-10">
                    31/3/2020 a 06/4/2020
                </p>

                <div class="winner-box space-h-50">
                    <div class="slides owl-carousel">
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/davinson-4.jpg') }}" alt="Davidson Ludwig Alves Campos">
                                    </figure>
                                    <h3>Davidson Ludwig Alves Campos</h3>
                                    <p>@Davidson.ludig</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/vagner-4.jpg') }}" alt="Vagner Calixto Oliveira">
                                    </figure>
                                    <h3>Vagner Calixto Oliveira</h3>
                                    <p>@Calixtovagner</p>
                                </div>
                            </article>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/andre-4.jpg') }}" alt="André Saidell Corrêa">
                                    </figure>
                                    <h3>André Saidell Corrêa</h3>
                                    <p>@andresaidell</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/leticia-4.jpg') }}" alt="Letícia Brigolini de Oliveira">
                                    </figure>
                                    <h3>Letícia Brigolini de Oliveira</h3>
                                    <p>@leticiabrigolini14</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

         <div class="space-h-30">
            <div class="container text-center winner-container">
                <h2><span>VENCEDORES DA TERCEIRA SEMANA</span> VOUCHER DE R$100,00</h2>
                <p class="space-h-10">
                    24/3/2020 a 30/3/2020
                </p>

                <div class="winner-box space-h-50">
                    <div class="slides owl-carousel">
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/davidson-semana-3.jpg') }}" alt="Davidson Ludwig Alves Campos">
                                    </figure>
                                    <h3>Davidson Ludwig Alves Campos</h3>
                                    <p>@Davidson.ludig</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/vagner-semana-3.jpg') }}" alt="Vagner Calixto Oliveira">
                                    </figure>
                                    <h3>Vagner Calixto Oliveira</h3>
                                    <p>@Calixtovagner</p>
                                </div>
                            </article>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/andre-semana-3.jpg') }}" alt="André Saidell Corrêa">
                                    </figure>
                                    <h3>André Saidell Corrêa</h3>
                                    <p>@andresaidell</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/leticia-semana-3.jpg') }}" alt="Letícia Brigolini de Oliveira">
                                    </figure>
                                    <h3>Letícia Brigolini de Oliveira</h3>
                                    <p>@leticiabrigolini14</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="space-h-30">
            <div class="container text-center winner-container">
                <h2><span>VENCEDORES DA SEGUNDA SEMANA</span> VOUCHER DE R$100,00</h2>
                <p class="space-h-10">
                    17/3/2020 a 23/3/2020
                </p>

                <div class="winner-box space-h-50">
                    <div class="slides owl-carousel">
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/davidson-ludwing.jpg') }}" alt="Davidson Ludwig Alves Campos">
                                    </figure>
                                    <h3>Davidson Ludwig Alves Campos</h3>
                                    <p>@Davidson.ludig</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/vagner.jpg') }}" alt="Vagner Calixto Oliveira">
                                    </figure>
                                    <h3>Vagner Calixto Oliveira</h3>
                                    <p>@Calixtovagner</p>
                                </div>
                            </article>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/andre-saidell.jpg') }}" alt="André Saidell Corrêa">
                                    </figure>
                                    <h3>André Saidell Corrêa</h3>
                                    <p>@andresaidell</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/leticia-brigolini.jpg') }}" alt="Letícia Brigolini de Oliveira">
                                    </figure>
                                    <h3>Letícia Brigolini de Oliveira</h3>
                                    <p>@leticiabrigolini14</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="space-h-30">
            <div class="container text-center winner-container">
                <h2><span>VENCEDORES DA PRIMEIRA SEMANA</span> VOUCHER DE R$100,00</h2>
                <p class="space-h-10">
                    10/3/2020 a 16/3/2020 
                </p>

                <div class="winner-box space-h-50">
                    <div class="slides owl-carousel">
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/ganhador-1.png') }}" alt="Davidson Ludwig Alves Campos">
                                    </figure>
                                    <h3>Davidson Ludwig Alves Campos</h3>
                                    <p>@Davidson.ludig</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/ganhador-2.png') }}" alt="Vagner Calixto Oliveira">
                                    </figure>
                                    <h3>Vagner Calixto Oliveira</h3>
                                    <p>@Calixtovagner</p>
                                </div>
                            </article>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/ganhador-3.png') }}" alt="André Saidell Corrêa">
                                    </figure>
                                    <h3>André Saidell Corrêa</h3>
                                    <p>@andresaidell</p>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="winner-card">
                                <article>
                                    <figure>
                                        <img src="{{ asset('_dist/image/img/vencedores/ganhador-4.png') }}" alt="Letícia Brigolini de Oliveira">
                                    </figure>
                                    <h3>Letícia Brigolini de Oliveira</h3>
                                    <p>@leticiabrigolini14</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        
    </div>  
{% endblock %}

{% block javascripts %}

    <script>
		$(document).ready(function() {

            $(".winner-box .slides").owlCarousel({
                margin: 20,
                responsiveClass: true,
                nav: true,
                items: 1, 

                responsive:{
                    600:{
                        items: 4
                    },
                }
            });

		});
	</script>
{% endblock %}