{% extends 'admin.html.twig' %}

{% block title %} Editar {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <style>
        fieldset {
            /* min-width: 0; */
            padding: 2px 2px 2px 50px;
            /* margin: 0; */
            border: 1px solid;
            margin: 2px 5px 5px 5px;
            padding-bottom: 25px
        }

        legend {
            /* border: 1px solid #000; */
            /* margin: 0px 0px 0px 20px; */
            padding: 2px 5px 5px 9px;
            width: 22%;
        }
        .jumbotron { background-color: #fff }
    </style>
{% endblock %}
{% block body %}
    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {# <div class="box"> #}
                    <form action="{{ path('admin_quiz_all_edit', {'id': quiz.id}) }}" class="formulario" role="form" method="POST" enctype="multipart/form-data" novalidate>
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="step1" data-count="{{ quiz.quizAllRuleResults|length }}">
                                    <div class="row text-center">
                                        <h4 class="text-center">
                                        Quiz - Editar
                                        <i class="fa fa-comments"></i>
                                        </h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="data-encontpresen">Nome</label>
                                                <input type="text" class="form-control" name="name" value="{{ quiz.name }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="data-encontpresen">Descrição</label>
                                                <textarea class="form-control ckeditor" name="descripton" type="text" required>{{ quiz.description }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {% if quiz.image %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="{{ asset(quiz.image) }}" style="width: 250px;"/>
                                        </div>
                                    </div>
                                    {% endif %}
                                   
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="data-encontpresen">Imagem Desktop</label>
                                                <input type="file" class="form-control" name="image">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="data-encontpresen">Título da imagem</label>
                                            <input type="text" class="form-control" name="image_alt" value="{{ quiz.imageAlt }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p >
                                                Permissões
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="is_active" value="Ativo" {{ quiz.isActive ? 'checked="checked"' : '' }}>
                                                <label class="form-check-label" for="Sim">
                                                    Ativo
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="is_public" value="Publico" {{ quiz.isPublic ? 'checked="checked"' : '' }}>
                                                <label class="form-check-label" for="Não">
                                                    Publico
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="is_clerk" value="Balconista" {{ quiz.isClerk ? 'checked="checked"' : '' }}>
                                                <label class="form-check-label" for="Não">
                                                    Balconista
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="is_pharmaceutical" value="Farmacêutico" {{ quiz.isPharmaceutical ? 'checked="checked"' : '' }}>
                                                <label class="form-check-label" for="Não">
                                                    Farmacêutico
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="is_pharmacy" value="Gestor de Loja" {{ quiz.isStoreManager ? 'checked="checked"' : '' }}>
                                                <label class="form-check-label" for="Não">
                                                    Gestor de Loja
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    
            
                                    {% if quiz.quizAllRuleResults|length > 0 %} 
                                        {% for result in quiz.quizAllRuleResults %}
                                            {% set number_result = loop.index %}
                                            <div class="question">
                                                <fieldset>
                                                    <legend>Resultado {{ number_result }}</legend>
                                                    
                                                    <input type="hidden" class="form-control" name="form[result-{{ number_result }}][result_id]" value="{{ result.id }}">
                                                    
                                                    <div class="row">
                                                        <div class="col-md-11">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Descrição </label>
                                                                <textarea class="form-control ckeditor" name="form[result-{{ number_result }}][description]" type="text" required>{{ result.description }}</textarea>
                                                            </div>
                                                        </div>
                                                        {% if loop.last %}
                                                            <div class="col-md-1">
                                                                <div class="form-group">
                                                                    <button type="button" class="btn-adicionar" questions="0">Adicionar</button>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Minímo de acertos</label>
                                                                <input type="number" class="form-control" name="form[result-{{ number_result }}][min]" value="{{ result.min }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Máximo de acertos</label>
                                                                <input type="number" class="form-control" name="form[result-{{ number_result }}][max]" value="{{ result.max }}">
                                                            </div>
                                                        </div>
                                                    </div>                            
                                                </fieldset>
                                            </div> 
                                        {% endfor %}
                                    {% else %}
                                        <div class="question template-add">
                                            <fieldset>
                                                <legend>Resultado 1</legend>
                                                <div class="row">
                                                    <div class="col-md-11">
                                                        <div class="form-group">
                                                            <label for="data-encontpresen">Descrição </label>
                                                            <textarea class="form-control ckeditor" name="form[result-0][description]" type="text" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <div class="form-group">
                                                            <button type="button" class="btn-adicionar">Adicionar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label for="data-encontpresen">Minímo de acertos</label>
                                                            <input type="number" class="form-control" name="form[result-0][min]">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="data-encontpresen">Máximo de acertos</label>
                                                            <input type="number" class="form-control" name="form[result-0][max]">
                                                        </div>
                                                    </div>
                                                </div>                            
                                            </fieldset>
                                        </div>
                                    {% endif %}
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary" style="float: right;">Salvar</button>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="{{ path('admin_quiz_all') }}" class="btn btn-danger" style="margin: auto;">Voltar</a>
                                    </div>
                                </div>
                            </div>
                            </form>
                    </div>
                    <div id="step2">
                        <!-- Template ADD -->
                        <div class="question template-add">
                            <fieldset style="display: none">
                                <legend>Resultado 1</legend>
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label for="data-encontpresen">Descrição </label>
                                            <textarea class="form-control" id="result-0" name="form[result-0][description]" id="#result-0" rows="10" cols="50" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <button type="button" class="btn-adicionar">Adicionar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="data-encontpresen">Minímo de acertos</label>
                                            <input type="number" class="form-control" name="form[result-0][min]">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="data-encontpresen">Máximo de acertos</label>
                                            <input type="number" class="form-control" name="form[result-0][max]">
                                        </div>
                                    </div>
                                </div>                            
                            </fieldset>
                        </div>
                        <!-- END Template -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
<script type="text/javascript">
    var clone_step1 = $("#step2").find(".template-add:eq(0)").html().replaceAll('none', 'block'); // cópia da div com os inputs
    ClassicEditor
        .create( document.querySelector( '#result-0' ))
        .catch( error => {
            console.error( error );
        });

    $(document).on("click", ".btn-adicionar", function(e){
        var box = $("#step1")
        var count = box.data('count')
        //console.log('count', count);
        count++
        var clone = clone_step1.replaceAll('form[result-0]', 'form[result-' + count +']');
        clone = clone.replaceAll('result-0', 'result-'+ count);
        var title = 'Resultado ' + count
        clone = clone.replaceAll("Resultado 1", title);

        box.find(".question").last().append(clone); // insere nova linha
        $(this).closest(".col-md-1").remove(); // remove o botão adicionar
        box.data('count', count)     

        ClassicEditor
            .create( document.querySelector( '#result-'+ count ))
            .catch( error => {
                console.error( error );
            });
    });
</script>
{% endblock %}