
colorNewPink = #F16F9B


.winner-container .owl-nav, .list-winners .owl-nav
    position absolute
    top 30%
    width 100%
    display flex
    justify-content space-between

    div
        position relative
        height 44px
        width 25px
        font-size 0

    .owl-prev
        background url('../image/img/torcilax/arow-left.svg') no-repeat center top

    .owl-next
        background url('../image/img/torcilax/arow-right.svg') no-repeat center top


.page-desafio-30-dias
    background #FFF
    overflow hidden

    .owl-dots
        color colorGray

        .owl-dot
            width 15px
            height 15px
            border: 1px solid colorGray

            &.active 
                background colorGray

    .winner-container
        h2
            span    
                font-weight normal
                display block

                @media(max-width 960px)
                    font-size 18px
                    line-height 20px
                    

        .slides
            background colorNewPink
            padding 30px
            border-radius 15px

            @media(max-width 960px)
                background none
                padding 0

                article 
                    padding 20px
                    background colorNewPink
                    border-radius 15px


    .winner-card
        figure 
            border-radius 10px
            overflow hidden
            margin-bottom 10px

        color #FFF

        p
            color #FFF

        @media(max-width 960px)
            padding-left 50px
            padding-right 50px

        h3
            font-size 23px
            line-height 1.3em

    .btn-more
        padding-left 40px
        position relative
        height 30px
        line-height 30px
        display inline-block
        cursor pointer
        color colorPurple 

        &:before
            content ''
            background-image url('../image/img/down.jpg')
            height 25px
            width 25px
            position absolute 
            left 0
            background-size cover

    .ranking-list

        .ranking-item
            display flex
            border-bottom 1px solid colorGray
            align-itens center

            &.ranking-item-1
                .ranking-name
                    color #bd8b2a
                    font-weight bold
                    
                    &:before
                        background-image url('../image/img/golden-medal.jpg')

            &.ranking-item-2
                .ranking-name
                    color #a9a9a9
                    font-weight bold

                    &:before
                        background-image url('../image/img/silver-medal.jpg')

            &.ranking-item-3
                .ranking-name
                    color #914f00
                    font-weight bold

                    &:before
                        background-image url('../image/img/bronze-medal.jpg')

            div
                padding 15px 0

            .ranking-name
                width 50%
                color colorGray
                font-size 14px
                padding-left 30px
                position relative

                &:before
                    content ''
                    height 25px
                    width 25px
                    left 0
                    top 0
                    bottom 0
                    position absolute
                    margin auto
                    background-size 100%

            .ranking-points
                width 50%
                text-align right 
                font-weight bold
                font-size 20px

    &.page-desafio-30-dias-ranking
        background-color #efefef
        .tarja
            height 400px
            position relative

            &:before
                content ''
                position absolute
                left 0
                top 0
                bottom 0
                right 0
                margin auto 
                width 100%
                height 70%
                background: rgba(244,130,122,1)
                background: -moz-linear-gradient(top, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,130,122,1)), color-stop(100%, rgba(241,119,154,1)))
                background: -webkit-linear-gradient(top, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
                background: -o-linear-gradient(top, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
                background: -ms-linear-gradient(top, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
                background: linear-gradient(to bottom, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
            
            &:after
                content ''
                background url('../image/img/raking-bg.png') no-repeat right center
                background-size auto 100%
                padding-top 80px
                padding-bottom 80px
                height 70%
                margin auto
                position absolute
                width 100%
                top 0
                bottom 0
                right 20%

            @media(max-width 960px)
                height 300px

                &:before
                    height 60%

                &:after
                    height 60%
                    right -10%

            img
                position absolute
                left 0
                right 0
                margin 0 auto
                height 100%


    &.page-desafio-30-dias-videos
        @media(min-width 961px)
            background url('../image/img/pink-arow-bg.png') no-repeat right top

        .main-title
            line-height 1.2em
        
        .video-item
            figure
                background: rgba(244,130,122,1)
                background: -moz-linear-gradient(top, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,130,122,1)), color-stop(100%, rgba(241,119,154,1)))
                background: -webkit-linear-gradient(top, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
                background: -o-linear-gradient(top, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
                background: -ms-linear-gradient(top, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
                background: linear-gradient(to bottom, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)

            a
                
                align-items center

        .info-video
            color colorNewPink
            @media(max-width 961px)
                p
                    font-size 13px
                    line-height 1.1em

                h3
                    
                    line-height 1.2em
                    margin-bottom 5px
    
    hr
        border-top: 1px solid #666666

    h2
        color colorNewPink
        font-size 30px

    p
        font-size 17px
        line-height 1.4em

    .btns-top
        display flex
        flex-direction row
        justify-content space-around
        flex-wrap wrap

        a
            display inline-block
            border 1px solid colorNewPink
            color colorNewPink
            padding 5px 10px
            border-radius 20px
            font-size 16px
            width 20%
            transition 0.3s ease
            margin-bottom 20px

            &:hover
                background colorNewPink
                color #ffffff
                text-decoration none

            @media(max-width 960px)
                width 45%
                font-size 14px
            @media(max-width 320px)
                font-size 13px

    .text-color
        color colorNewPink

    .pink-table
        background colorNewPink
        color #FFF
        position relative

        @media(min-width 960px)

            &:before, &:after
                content '' 
                width 100%
                height 100px
                background #F00
                position absolute
                top 0
                bottom 0
                margin-top auto
                margin-bottom auto

            &:before
                left -100%
                background: rgba(250,209,218,1);
                background: -moz-linear-gradient(left, rgba(250,209,218,1) 0%, rgba(246,158,173,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,209,218,1)), color-stop(100%, rgba(246,158,173,1)));
                background: -webkit-linear-gradient(left, rgba(250,209,218,1) 0%, rgba(246,158,173,1) 100%);
                background: -o-linear-gradient(left, rgba(250,209,218,1) 0%, rgba(246,158,173,1) 100%);
                background: -ms-linear-gradient(left, rgba(250,209,218,1) 0%, rgba(246,158,173,1) 100%);
                background: linear-gradient(to right, rgba(250,209,218,1) 0%, rgba(246,158,173,1) 100%);

            &:after
                right -100%
                background: rgba(246,157,174,1);
                background: -moz-linear-gradient(left, rgba(246,157,174,1) 0%, rgba(250,209,218,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,157,174,1)), color-stop(100%, rgba(250,209,218,1)));
                background: -webkit-linear-gradient(left, rgba(246,157,174,1) 0%, rgba(250,209,218,1) 100%);
                background: -o-linear-gradient(left, rgba(246,157,174,1) 0%, rgba(250,209,218,1) 100%);
                background: -ms-linear-gradient(left, rgba(246,157,174,1) 0%, rgba(250,209,218,1) 100%);
                background: linear-gradient(to right, rgba(246,157,174,1) 0%, rgba(250,209,218,1) 100%);

    table
        max-width 600px
        width 100%
        margin 0 auto

        th
            font-weight normal

        td, th
            padding 10px
            border 2px solid #FFF
            font-size 16px
            text-align left
            width 50%

            @media(max-width 960px)
                border 4px solid #FFF

    .gray-table
        background: rgba(241,110,156,1);
        background: -moz-linear-gradient(left, rgba(241,110,156,1) 0%, rgba(244,126,120,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,110,156,1)), color-stop(100%, rgba(244,126,120,1)));
        background: -webkit-linear-gradient(left, rgba(241,110,156,1) 0%, rgba(244,126,120,1) 100%);
        background: -o-linear-gradient(left, rgba(241,110,156,1) 0%, rgba(244,126,120,1) 100%);
        background: -ms-linear-gradient(left, rgba(241,110,156,1) 0%, rgba(244,126,120,1) 100%);
        background: linear-gradient(to right, rgba(241,110,156,1) 0%, rgba(244,126,120,1) 100%);
        border-radius 20px
        
        td, th
            border 2px solid #FFF
            color #FFF
            width 33.333%
            text-align center

            @media(max-width 960px)
                font-size 12px


    .icons-box
        display flex
        max-width 600px
        margin 0 auto

        @media(max-width 960px)
            display block

            figure 
                max-width 150px
                text-align center
                margin-right 30px

            .icons-box-itens
                margin-bottom 30px
                text-align left


        .icons-box-itens
            display flex
            align-items center

            img 
                max-width 120px

    .premiacao-box
        margin 20px auto 30px auto

        p
            font-size 20px

            sup 
                margin-right 0

        .premiacao-row
            display flex
            border-bottom 1px solid #666666
            padding 13px 0

            &:last-child
                border none


            @media(min-width 960px)

                .classificacao
                    width 300px

            @media(max-width 960px)
                display block
                text-align center

                p
                    font-size 18px

                strong.text-color
                    font-size 20px
                    padding-bottom 10px

    .tarja-pink
        background colorNewPink
        margin-top 30px
        
        p
            color #FFF
            padding 20px
            font-size 22px


    .gray-box
        background #E3E3E3
        padding 40px
        border-radius 20px
        margin 40px 0 0 0

        h2
            font-size 30px


.page-30-dias-ranking
    .header-top
        
        .container
            background url('../image/img/raking-gray-bg.png') no-repeat left center
            background-size auto 150%
            padding 80px 0

            @media(max-width 960px)
                background-size auto 100%
                background-position -30%

        h2
            font-size 25px

        p
            font-size 16px

    .src-points
        background: rgba(244,130,122,1)
        background: -moz-linear-gradient(top, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,130,122,1)), color-stop(100%, rgba(241,119,154,1)))
        background: -webkit-linear-gradient(top, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
        background: -o-linear-gradient(top, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
        background: -ms-linear-gradient(top, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
        background: linear-gradient(to bottom, rgba(244,130,122,1) 0%, rgba(241,119,154,1) 100%)
        margin-bottom 50px
        

        .container
            background url('../image/img/raking-bg.png') no-repeat right center
            background-size auto 100%
            padding-top 80px
            padding-bottom 80px

            @media(max-width 960px)
                background none
                max-width 80%
                margin 0 auto
                padding-top 25px
                padding-bottom 25px

        h3
            text-align center
            color #FFF
            font-size 18px
            margin-bottom 30px

        .form
            max-width 600px
            margin 0 auto

            input 
                width calc(100% - 50px)
                border-radius 5px 0 0 5px
                border none
                padding 7px 20px
                color colorGray

                &:focus
                    outline: none


            button
                background #FFF
                border-radius 0 5px 5px 0
                width 50px
                text-align center
                border none
                cursor pointer

                i 

                    font-size 23px
                    color #707070

        .result-box
            border-top 1px solid #f9c2ca
            margin-top 20px
            padding-top 30px
            color #FFF
            
            h4
                font-size 25px
                font-weight normal 

            p
                color #FFF
                font-size 30px
                font-weight bold

#modal-promo30day
    &.modal-default.modal-image .confirm-modal-image-content
        background none

#torcilax-pos-campanha
    padding-bottom 50px

    .main
        background #FFF url('../image/img/raking-gray-bg.png') no-repeat right 0
        background-size 200px

        @media(max-width 960px)
            background #FFF

    .pink-box
        background: rgb(255,124,97);
        background: linear-gradient(304deg, rgba(255,124,97,1) 0%, rgba(255,113,129,1) 100%);
        max-width 1000px
        margin 0 auto
        font-size 25px
        text-transform uppercase
        border-radius 10px
        color #FFF
        padding 15px 30px
        position relative
        top -20px

        @media(max-width 960px)
            top 0
            width 100%
            border-radius 0
            font-size 20px
            font-weight bold

    .block-two
        position relative
        padding 30px 0

        p
            margin-bottom 20px

            &:last-child
                margin-bottom none

    .pink-center-box
        position relative
        margin-bottom 30px

        @media(max-width 480px)
            padding 0 20px

        img 
            max-width 400px
            margin 0 auto
            position relative
            z-index 1

            @media(max-width 480px)
                max-width 100%

        &:after
            content ''
            height 80px
            background: linear-gradient(304deg, rgba(255,124,97,1) 0%, rgba(255,113,129,1) 100%);
            width 100%
            position absolute
            left 0
            top calc(50% - 40px)
    
    .titles-main
        color #F16F9B
        margin-bottom 30px
        
        h2
            font-size 23px
            
            @media(max-width 960px)
                font-size 20px
        h3
            font-size 20px

            @media(max-width 960px)
                font-size 18px

    .list-winners
        @media(max-width 960px)
            margin-bottom 40px

        .winners-card
            figure
                background #F16F9B
                border-radius 20px
                overflow hidden
                padding 20px
                max-width 200px
                margin 0 auto 20px auto

                img
                    border-radius 10px

            h3
                color #737373
                text-align center
                padding 0 20px


    .win-more
        @media(max-width 960px)
            display block
            margin-bottom 20px
        div
            @media(max-width 960px)
                padding 0 30px
            p
                line-height 1.5em

            &:first-child
                border-right 2px solid #eaeaea
                padding-right 30px

                @media(max-width 960px)
                    border none

            &:last-child
                padding-left 30px

    .box-contact-gray
        background #E3E3E3
        border-radius 30px
        padding 20px 40px
        max-width 700px
        margin 0 auto 30px auto

        @media(max-width 960px)
            padding 20px

        .pink-contact-box
            background #F16F9B
            color #FFF
            width 80%
            margin 20px auto
            padding 5px 20px
            border-radius 10px

            @media(max-width 960px)
                width 100%

            a
                color #FFF
                text-decoration none
                display block

        small 
            font-size 10px

    .gray-full-box
        padding 30px 0
        background #E3E3E3
        color #666666
        font-size 25px
        text-transform uppercase
        font-weight bold

        @media(max-width 960px)
            font-size 18px 

    .blue-box
        color #ffffff
        background #18087C
        max-width 300px
        margin 0 auto
        border-radius 10px
        padding 8px 20px

    .text-legal
        color #666666
        max-width 600px
        margin 0 auto

        a
            color #666666