.page-congresso_crm
    background #001971

    .search-global
        display none
    

.page-congresso
    padding-top 150px
    background #001971

    .congresso-content-resultado

        h2
            color #f7d64c

            @media(min-width: 961px)
                font-size 50px

        p
            color #FFF
            margin-bottom 20px

            @media(min-width: 961px)
                font-size 25px

    .container
        max-width 960px

    .congresso-cadastro
        background  url('../image/img/congresso/vector.png') no-repeat left bottom

    .logo-congresso
        @media(min-width: 960px)
            max-width 60%
    
    form
        input
            display block
            width 100%
            border-radius 20px
            border 1px solid #FFF
            padding 3px 10px

        label
            display block
            color #FFF
            margin-bottom 5px

    .congresso-logos
        div
            height 70px
            width 200px
            margin 0 20px

            @media(max-width 960px)
                height 35px
                width 100px

            &.logo-crf
                background url('../image/img/congresso/logo-crf.jpg') no-repeat
                background-size contain

            &.logo-neoquimica
                background url('../image/img/congresso/logo-neoquimica.jpg')  no-repeat
                background-size contain

.page-congresso_crm_result
    .congresso-cadastro
        background  url('../image/img/congresso/vector.png') no-repeat right 120%

        .btn-yellow
            border-radius 10px

    .search-global
        display none

    .footer
        margin-top 0
