.courses-page

    .courses-inter-box
        @media(min-width 960px)
            display flex
            
        .courses-inter-image
            margin-bottom 20px

            @media(min-width 960px)
                width 50%
                margin-bottom 0

            img 
                border-radius 20px

        .courses-inter-info
            p
                &:first-child
                    margin-bottom 0


            @media(min-width 960px)
                width 50%
                padding-left 30px


    .btn-start
        .btn-default
            background: #f7d64c;
            color: #18097c;
            padding: 8px 50px 8px 70px;
            position: relative;
            border-radius: 23px;
            margin-bottom: 20px;
            display: inline-block;
            border none

            i 
                position: absolute;
                width: 50px;
                height: 50px;
                background-color: #18097c;
                top: calc(50% - 25px);
                left: 0;
                border-radius: 50px;
                background-size: 25px;
                background-repeat: no-repeat;
                background-position: 50%;
                background-image: url(../image/img/video-icon.svg);



    .content-text
        p.duration-text
            color colorDefault
            margin-bottom 0

        .header-main
            @media(max-width 960px)
                margin-top 0

            h1
                font-size 22px
                margin-bottom 20px

            h3
                font-size 18px

                @media(max-width 960px)
                    padding 0


            @media(min-width 960px)
                max-width 70%
                h1
                    font-size 25px
                    padding 0
                    margin 0

                h3
                    font-size 20px
                    
            