.covid-19
    background #FFF

    .text-content
        p
            margin-bottom 20px
            color #969696

        @media(max-width 960px)
            font-size 16px
            line-height 1.4em

    .covid-header

        &.covid-header-
            &textos
                color #5593B4

            &podcasts
                color #40BF93

            &ebook
                color #E43EBD

            &compartilhar
                color #FFAA0A
            
        h2
            margin-bottom 20px

        img     
            max-width 100px

        figure 
            margin-bottom 30px
            

    //Menu
    .covid-inter-menu
        margin 20px 0
        display flex
        flex-wrap wrap
        justify-content center

        @media(max-width 960px)
            margin-bottom 0

        li
            @media(max-width 960px)
                width calc(50% - 20px)
                text-align center
                margin-bottom 20px

            margin 0 5px

            a
                color #ffffff
                background #5593B4
                padding 5px 20px
                border-radius 15px
                transition 0.3s ease opacity 

                &.menu-podcasts
                    background #40BF93
                
                &.menu-ebook
                    background #D14EB8

                &.menu-compartilhar
                    background #FFAA0A

                &:hover
                    text-decoration none
                    opacity 0.8 

                @media(max-width 960px)
                    display block
                    font-size 18px

    .plans-card-container
        flex-wrap: wrap

        
        @media(max-width 960px)
            display block

        
        .plans-card-box
            @media(max-width 960px)
                width 100%
                margin 0 0 30px 0

                &.open
                    padding-bottom 40px
                    
                    .plans-card-info
                        display block

                    .plans-card-title
                        &:after
                            transform: rotate(180deg)
                            bottom 12px
                    

            width calc(33.3333% - 20px)
            margin 0 10px 20px 10px
            background #EBEBEB
            border-radius 10px
            position relative
            padding-bottom 40px
            

            @media(max-width 960px)
                padding-bottom 0

                @media(max-width 960px)
                    margin-bottom 0

            &:nth-child(2)
                .plans-card-title
                    background #8E87E0

            &:nth-child(3)
                .plans-card-title
                    background #67B9C4

            &:nth-child(4)
                .plans-card-title
                    background #F4C851

            &:nth-child(5)
                .plans-card-title
                    background #E28FD2

            &:nth-child(6)
                .plans-card-title
                    background #5ABE88

            .plans-card-title
                background #87C1E0
                color #FFF
                font-size 12px
                padding 10px
                border-radius 10px

                @media(max-width 960px)
                    position relative
                    padding-bottom 40px
                    font-size 16px

                    &:after
                        display: inline-block
                        font normal normal normal 18px/1 FontAwesome
                        font-size: inherit
                        text-rendering: auto
                        content '\f078'
                        height 12px
                        width 20px
                        position absolute
                        left 0
                        right 0
                        margin 0 auto
                        bottom 25px
                        font-size 22px

                h3
                    font-weight normal
            
            .plans-card-info
                color #969696
                padding 15px

                @media(max-width 960px)
                    display none
            .btn
                position absolute
                bottom 20px
                width 100%
                left 0
                text-align center

            a
                color #9260E4
                text-decoration underline

                &:hover
                    text-decoration none


    .list-podcasts

        max-width 500px
        margin 0 auto

        .owl-dots
            display none

        .owl-nav
            position absolute
            width 90%
            top calc(50% - 20px)
            right 0
            left 0
            max-width 960px
            margin auto

            div
                position absolute;
                display inline-block
                height 33px
                width 17px
                font-size 0
                background-size 100%
                background-position center 
                background-repeat no-repeat
                top 0

            .owl-prev
                left -40px
                background-image url('../image/img/corona/arow-left.svg')

            .owl-next
                right -40px
                background-image url('../image/img/corona/arow-right.svg')



        @media(max-width 960px)
            max-width 230px

        li
            margin 0 10px
            

            a.title-pod
                color #00C390
            

            a.link-pod
                display block
                width 100%
                height 100%
                position relative
                transform 0.3s ease
                overflow-x hidden
                border-radius 10px
                margin-bottom 20px

                img 
                    border-radius 10px

                &:hover
                    &:after
                        height 90px
                        width 90px

                &:after
                    content ''
                    background-image url('../image/img/corona/video-icon-green.png')
                    height 50px
                    width 50px
                    background-size cover
                    background-repeat no-repeat
                    position absolute
                    left 0
                    right 0
                    top 0
                    bottom 0
                    display block
                    margin auto
                    transition 0.3s ease


    .ebook-container
        display flex
        align-items center
        max-width 780px
        margin 0 auto

        @media(max-width 960px)
            display block

        .ebook-text
            width 60%

            @media(max-width 960px)
                width 100%
            a
                color #E43EBD
                text-decoration underline

                &:hover
                    text-decoration none

        .ebbok-image
            width 40%

            @media(max-width 960px)
                width 100%


    .cards-container
        position relative
        padding-top 40px
        padding-bottom 50px

        .owl-nav
            display none

        .owl-dots 
            .owl-dot
                height 10px
                width 10px

                &.active
                    background #FFA600
                    border 1px solid #FFA600

        &:after
            content ''
            height 120px
            position absolute
            left 0
            top 0
            width 100%
            background #ffe5b5
            z-index 0

        ul
            display flex
            flex-wrap wrap
            z-index 1
            position relative

            li
                width calc(25% - 20px)
                text-align center
                margin 0 10px 20px 10px

                @media(max-width 960px)
                    width 100%
                    margin 0

.share-socials
    text-align center
    margin-top 15px

    li
        margin-bottom 15px

        &:last-child 
            margin-bottom 0
    
    .btn-default
        border 1px solid #ffaa0a
        font-size 14px
        background #ffaa0a
        color #FFF
        border-radius 20px

        &:hover 
            background #FFF
            color #ffaa0a

.btn-share
    border 1px solid #ffaa0a
    font-size 14px
    background #ffaa0a
    color #FFF
    border-radius 20px

    &:hover 
        background #FFF
        color #ffaa0a
            

        