@font-face
    font-family: 'Inter Extra Bold';
    src: url('../fonts/inter/Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/inter/Inter-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;

@font-face
    font-family: 'Inter Bold';
    src: url('../fonts/inter/Inter-Bold.woff2') format('woff2'),
        url('../fonts/inter/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;

@font-face
    font-family: 'Inter Black';
    src: url('../fonts/inter/Inter-Black.woff2') format('woff2'),
        url('../fonts/inter/Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;

@font-face
    font-family: 'Inter Extra Light';
    src: url('../fonts/inter/Inter-ExtraLight.woff2') format('woff2'),
        url('../fonts/inter/Inter-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;

@font-face
    font-family: 'Inter Light';
    src: url('../fonts/inter/Inter-Light.woff2') format('woff2'),
        url('../fonts/inter/Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;

@font-face
    font-family: 'Inter Regular';
    src: url('../fonts/inter/nter-Regular.woff2') format('woff2'),
        url('../fonts/inter/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

@font-face
    font-family: 'Inter Medium';
    src: url('../fonts/inter/Inter-Medium.woff2') format('woff2'),
        url('../fonts/inter/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;

@font-face
    font-family: 'Inter Semi Bold';
    src: url('../fonts/inter/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/inter/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;

@font-face
    font-family: 'Inter Thin';
    src: url('../fonts/inter/Inter-Thin.woff2') format('woff2'),
        url('../fonts/inter/Inter-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;

.page-dia_da_saude
    .search-global
        display none

#dia-da-saude-page
    font-family: 'Inter Regular';

    p
       color #4B4B4B

    strong 
        font-family: 'Inter Semi Bold';

    .row
        display flex
        flex-wrap wrap
        margin 0

    .container-small
        max-width 1090px

    .dia-da-saude-banner
        background #f8faf7

    .dia-da-saude-section-1
        background #F4F4F4
        
        .section-1-text
            width 50%
            padding-top 40px

            @media(max-width 960px)
                width 100%
                text-align center

            h1
                color #D58F23
                font-family: 'Inter Extra Light';

                strong 
                    font-family: 'Inter Semi Bold';

                @media(max-width 960px)
                    br
                        display none

            p
                margin-top 20px

        .section-1-img
            width 50%
            text-align right

            @media(max-width 960px)
                width 100%


    .dia-da-saude-materias
        padding 40px 0

        .dia-da-saude-materias-texto
            width 30%

            @media(max-width 960px)
                width 100%
                text-align center

            h2
                font-family: 'Inter Semi Bold';
                font-size 40px
                line-height 1.1em
                color #3824B4

            p
                font-family: 'Inter Light';
                margin-top 15px
                max-width 180px

                @media(max-width 960px)
                    max-width 100%

        .dia-da-saude-materias-itens
            width 70%

            @media(max-width 960px)
                width 100%

        .dia-da-saude-materias-list
            display flex
            flex-wrap wrap

            .dia-da-saude-materias-item
                width 33.333%
                text-align center
                

                @media(max-width 960px)
                    width 100%
                    border-bottom 1px solid #CCC
                    padding-bottom 20px

                    &:last-child
                        border-bottom none
                        margin-bottom 0
                
                h3
                    color #525252
                    font-family: 'Inter Bold';
                    font-size 20px

            .btn-default
                font-size 12px
                text-transform inherit
                padding 5px 20px
                color #FFF
                background colorDefault 

                &:hover
                    background #FFF
                    color colorDefault


                &.btn-1
                    background #F3BA08
                    border 1px solid #F3BA08
                    color #525252

                    &:hover
                        background #FFF
                        color #F3BA08
                
                &.btn-2
                    background #2E2BE5
                    border 1px solid #2E2BE5

                    &:hover
                        background #FFF
                        color #2E2BE5

                &.btn-3
                    background #021D73
                    border 1px solid #021D73

                    &:hover
                        background #FFF
                        color #021D73

    .dia-da-saude-quiz
        background #F4F4F4
        padding 40px 0

        @media(max-width 960px)
            text-align center

        h2
            font-family: 'Inter Bold';
            font-size 30px
            color #D99D3F
            line-height 1.2em

            @media(max-width 960px)
                font-size 25px
                text-align center

        p
            font-family: 'Inter Light';
            margin-top 20px

            @media(max-width 960px)
                text-align center


        .btn-default
            background #707070
            border 1px solid #707070
            color #FFF
            font-family: 'Inter Semi Bold';
            padding 5px 25px

            &:hover
                background #F4F4F4
                color #707070

    .dia-da-saude-golden-section
        background #D99D3F
        color #ffffff

        @media(max-width 960px)
            text-align center

        h2
            color #FFF
            padding 40px 0
            font-family: 'Inter Light';

            strong 
                font-family: 'Inter Semi Bold';

    
    .dia-da-saude-planner
        .dia-da-saude-panner-text
            width 60%
            padding-right 100px

            @media(max-width 960px)
                text-align center
                width 100%
                padding-right 0

            h2 
                margin-top 40px

            p
                font-family: 'Inter Light';

        .dia-da-saude-panner-img
            width 40%
            @media(max-width 960px)
                text-align center
                width 100%

        .btn-default
            background #707070
            border 1px solid #707070
            color #FFF
            font-family: 'Inter Semi Bold';
            padding 5px 25px

            &:hover
                background #F4F4F4
                color #707070

            @media(max-width 960px)
                margin-bottom 20px