.header 
    .menu_desafio_30_dias

        &.menu_doralgina
            background #C5122C

            @media(max-width 960px)
                br
                    display none

            &:after
                background #C5122C

            strong 
                font-weight normal
                display block

                @media(max-width 960px)
                    display inline
                    font-weight bold

           
                    

.doralgina
    #form-quiz
        padding 50px 0 0 0

        label
            position relative
            color #6E6E6E
            font-size 16px
            display block
            padding-left 40px
        
        .input-box
            width 30px
            position relative
            padding-left 35px
            margin-bottom 12px
            cursor pointer
            font-size 22px
            user-select: none
            left 0

            input 
                display none

        .checkmark
            position absolute
            top 0
            left -40px
            height 25px
            width 25px
            background-color #FFF
            border-radius 50%
            border 1px solid #C5132C
            display inline-block

            &:after
                top 8px
                left 8px
                width 8px
                height 8px
                border-radius 50%
                background white
                display: block
                position absolute
                content ""
                display none

            &.checked
                background #FFE200

                &:after
                    background-color #C5132C
                    display block

    .share-socials-btns 
        .btn-default
            background #C5132C
            border 1px solid #C5132C

            &:hover
                color #C5132C
                background #FFF

    .btn-default-doralgina
        background #c5122c
        border 1px solid #c5122c
        color #FFF

        &:hover
            background #FFF
            color #c5122c
        
    .owl-nav
        position absolute
        top calc(50% - 26px)
        width 100%
        display flex
        justify-content space-between
        height 0

        div
            position relative
            height 53px
            width 25px
            font-size 0
                
    .owl-dot
        background #FFF
        border 1px solid #FFF
        border-radius 8px
        height 8px
        width 8px

        &.active
            background #FFF
            border 1px solid #FFF
            width 25px

    .owl-dot
        background #C5122C
        border 1px solid #C5122C
        
        &.active
            border 1px solid #C5122C
            background #C5122C
    .owl-nav 
        @media(max-width 960px)
            top 50%

        .owl-prev
            left -40px
            background-repeat no-repeat
            background-image: url('../image/img/doralgina/seta-left.png')
            background-size contain

        .owl-next
            background-repeat no-repeat
            right -40px
            background-image: url('../image/img/doralgina/seta-right.png')
            background-size contain

    .menu-ancor-doralgina
        li
            a
                background #C5122C

    .doralgina-banner-familia
        @media(min-width 961px)
            padding 0 5%

    .doralgina-materias-section
        display flex
        align-items center
        margin-bottom 30px

        @media(max-width 960px)
            display block


        .doralgina-materias-box
            width 50%

            @media(max-width 960px)
                width 100%

        .doralgina-materias-info
            padding-right 30px

            @media(max-width 960px)
                padding-right 0

            h2
                color #C5122C
                font-size 60px

            p
                font-weight bold
                font-size 20px
                line-height 1.2em

        .doralgina-materias-slide
            padding 0 50px

            @media(max-width 960px)
                margin-top 30px

            .item
                padding-bottom 15px

            .content    
                background #EFBF06
                padding 30px
                position relative

                h3
                    color #C5122C
                    font-size 30px
                    margin-bottom 20px

                p
                    font-weight bold
                    font-size 18px

            .btn
                position absolute
                bottom -13px
                width 100%
                text-align center
                left 0

                a
                    background #c5122c
                    color #FFF
                    display inline-block
                    padding 5px 15px
                    font-size 12px
                    border-radius 3px


    .doralgina-memes-section
        display flex

        @media(max-width 960px)
            flex-wrap wrap

        .doralgina-memes-info
            @media(max-width 960px)
                order 1
        
        .doralgina-memes-img
            @media(max-width 960px)
                margin-top 30px
                order 2

        .doralgina-memes-box
            @media(min-width 961px)
                width 50%

            h2
                color #C5122C
                font-size 60px
                line-height 60px
                position relative
                padding 10px 0 10px 15px

                @media(max-width 960px)
                    padding-left 50px

                &:before
                    content ''
                    position absolute
                    left 0
                    top 0
                    z-index 0
                    height 80px
                    -webkit-transform skew(20deg)
                    -moz-transform skew(20deg)
                    -o-transform skew(20deg)
                    background #EFBF06
                    width 230px

                    @media(max-width 960px)
                        width 100%
                        right -30px
                        left inherit

                span 
                    position relative
                    z-index 1

            h3
                color #C5122C
                font-size 30px
                padding-left 12px
                margin-top 20px

                @media(max-width 960px)
                    font-size 25px

            p
                font-weight bold
                font-size 18px
                padding-left 12px

    .list-memes

        @media(max-width 960px)
            padding 0 50px
            
        .item-meme
            background #EFBF06
            margin 0 20px 20px 20px 
            padding 10px

    .share-btn
        span
            background #c5122c
            color #FFF
            padding 5px 30px
            border-radius 5px
            display inline-block


    .back-top
        margin-top 30px

        .btn
            padding-top 40px
            position relative
            cursor pointer

            span
                background #c5122c
                color #FFF
                padding 5px 30px
                border-radius 5px
                display inline-block

            &:before
                content ''
                background-image: url('../image/img/doralgina/seta-top.png')
                background-size contain
                background-repeat no-repeat
                background-position center
                height 30px
                width 30px
                margin 0 auto
                position absolute
                top 0
                left 0
                right 0

    .doralgina-quiz-back
        text-align center
        margin-top 30px
        
        .btn-default
            margin 10px 0
        @media(min-width 961px)
            
            display flex
            justify-content space-around
            margin-top 50px
            margin-bottom 20px
