.page-dores
    .search-global
        display: none

.dores
    hr
        border-top 2px solid #1CB5CF

    p
        color #717171

    .banner-dores
        background #15391e
        img 
            margin 0 auto

    .header-section
    
        h2
            color #1CB5CF
            text-transform uppercase

            @media(max-width 960px)
                margin-bottom 20px

        @media(max-width 960px)
            p
                font-size 18px

    .btn-default
        background #1CB5CF
        color #FFF
        border 1px solid #1CB5CF
        border-radius 20px

        &:hover
            background #FFF
            color #1CB5CF
    
    .dores-banner-download
        @media(min-width 961px)
            max-width 80%
            margin-top 20px

    .owl-dot
        background #1CB5CF
        border 1px solid #1CB5CF
        border-radius 8px
        height 8px
        width 8px

        &.active
            background #1CB5CF
            border 1px solid #1CB5CF
            width 25px

    .owl-nav
        position absolute
        top calc(50% - 26px)
        width 100%
        display flex
        justify-content space-between
        height 0

        div
            position relative
            height 44px
            width 20px
            font-size 0

        .owl-prev
            left -40px
            background-image: url('../image/img/dores/left-arow-blue.svg')
            background-size cover

            @media(max-width 960px)
                left: 0

        .owl-next
            right -40px
            background-image: url('../image/img/dores/right-arow-blue.svg')
            background-size cover

            @media(max-width 960px)
                right 0

    .owl-dots
        bottom -30px

    .menu-dores
        display flex
        max-width 960px
        margin 20px auto 0 auto
        flex-wrap wrap
        justify-content center

        @media(max-width 960px)
            display block
            width 100%
            margin-bottom 40px

            p
                font-size 16px

        li
            text-align center
            width 33.333%
            padding 0 20px 30px 20px
            

            @media(max-width 960px)
                padding-bottom 0

            a
                text-transform uppercase
                display block
                background #1CB5CF
                color #FFF
                padding 5px 20px
                border-radius 13px
                transition 0.3s ease opacity
                margin 0 auto
                margin-bottom 15px
                max-width 200px
            
                &:hover
                    text-decoration none
                    opacity 0.7

                @media(max-width 960px)
                    padding 8px 20px
                    border-radius 16px

            &:nth-child(even)
                a
                    background #1D446A

            @media(max-width 960px)
                margin-bottom 20px
                width 100%

                &:last-child 
                    margin-bottom 0


    .dores-racine-box
        background #1D446A
        color #FFF
        padding 15px 100px 50px 100px
        border-radius 70px
        position relative
        margin-bottom 50px
        

        @media(max-width 960px)
            border-radius 20px
            padding 15px 50px 50px 50px
        
        // &:before, &:after
        //     content ""
        //     background-image url('../image/img/dores/rain.png')
        //     height 100px
        //     width 90px
        //     background-size contain
        //     background-repeat no-repeat
        //     position absolute
        //     top 15%
        //     display block
        //     transition .3s ease
        //     z-index 1

        //     @media(max-width 960px)
        //         height 50px
        //         width 45px
        //         top 20px

        // &:before
        //     left 20px

        //     @media(max-width 960px)
        //         left 5px

        // &:after
        //     right 20px

        //     @media(max-width 960px)
        //         right 5px
            
            
        @media(max-width 960px)
            font-size 18px
            padding-bottom 70px

        figure 
            position absolute
            max-width 200px
            left 0
            right 0
            bottom -20px
            margin 0 auto

            @media(max-width 960px)
                max-width 250px
        p   
            color #FFF
            font-size 16px


    .dores-products
        margin-bottom 50px

        .dores-slide-products
            figure 
                padding 0 40px

            h3
                color colorGray
            
            .btn-default
                padding 5px 40px
                opacity 0
        
            .owl-carousel 
                .owl-item 
                    img 
                        opacity 0.4
                        transition 0.3 ease opacity 

                    &.center
                        img 
                            opacity 1

                        .btn-default
                            opacity 1

    .dores-materias-section
        .header-section
            p
                width 40%

                @media(max-width 960px)
                    width 100%            

    .dores-materias-box
        display flex
        margin-top 30px

        @media(max-width 960px)
            display block

        .dores-materias-img
            width 40%

            @media(max-width 960px)
                width 100%
                margin-bottom 40px

        .dores-materias-content
            width 60%
            padding 0 5%

            @media(max-width 960px)
                width 100%
                padding 0 40px

                .owl-nav .owl-prev
                    left -40px

                .owl-nav .owl-next
                    right -40px

        .item
            text-align center

            .materias-content
                background #1CB5CF
                color #FFF
                border-radius 20px

                h3
                    color #FFF
                    padding 15px

                    @media(max-width 960px)
                        font-size 20px

                
            p
                background #1D446A
                color #FFF
                border-radius 20px
                padding 15px 15px 40px 15px
                margin-bottom -15px

                @media(max-width 960px)
                    font-size 16px

            .btn-default
                padding 5px 10px
                font-size 12px
                font-weight normal


    #podcast
        .header-section
            padding-bottom 60px
            max-width 450px
            margin 0 auto

            @media(max-width 960px)

                h2, p
                    text-align left
                    width 100%

    .podcast-box
        background  url('../image/img/dores/podcast.png') no-repeat
        color #FFF
        padding 70px 0 40px 0
        text-align center
        border-radius 30px
        position relative

        @media(max-width 960px)
            padding 10px

        .btn-default
            background #1CB5CF
            font-size 13px
            border 1px solid #1CB5CF
            padding 10px 70px
            text-transform uppercase

            &:hover
                background #FFF
                color #1CB5CF

        .btn
            text-align center
            margin-top -21px
            position relative
            z-index 10

        .podcast-item
            display inline-block
            position relative
            z-index 1
            background #1D446A
            padding 30px 100px
            border-radius 20px
            margin-top -130px

            @media(max-width 960px)
                padding 10%
                margin-top -80px

        a.icon
            background #1CB5CF
            display block
            position relative
            border-radius 30px
            overflow hidden

            @media(max-width 960px)
                max-width 200px 
                margin 0 auto

            &:after
                content ""
                background-image url('../image/img/dropyd/podcast-icon.svg')
                height 75px
                width 45px
                background-size cover
                background-repeat no-repeat
                position absolute
                left 0
                right 0
                top 0
                bottom 0
                display block
                margin auto
                transition .3s ease
                z-index 2

            &:hover
                &:after
                    height 100px
                    width 57px

            img
                position relative
                z-index 1
                max-width 250px
                margin 0 auto

                @media(max-width 960px)
                    max-width 100%

        h3
            text-align center
            padding 15px 0

.modal-default.modal-medicamentos
    background rgba(28,181,207,.3)
    .content-form-src-desk 
        .modal-content
            background #1D446A
            max-width 500px

            p
                color #FFF

            .close-modal
                background #FFF
                color #1D446A
                position absolute
                top 0
                right 0

.section-modal-prod
    position relative
    padding-top 150px

    @media(max-width 960px)
        padding-top 80px

    .img-modal-prod
        position absolute
        top -50%
        max-width 400px
        margin 0 auto
        left 0
        right 0

    h3
        color #000
        font-weight normal
        margin-bottom 20px
        font-size 25px

    p
        font-size 16px


.modal-centro-estilo

    .modal-content
        position relative

        .close-modal
            position: absolute;
            right: -19px;
            top: -20px;
            background: #00F5FF;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index 99
