.dropyd
    background #FFF
    colorOrange = #EC9130
    
    p
        color #969696

    h2, h3
        text-transform uppercase

    h2
        font-size 20px

    .modal-default 
        background rgba(236,145,48,.8)

        h2 
            color colorOrange

    .text-orange
        color colorOrange

    .modal-default .close-modal
        color colorOrange  

    .owl-nav
        position absolute
        width 100%
        top calc(50% - 50px)
        right 0
        left 0
        max-width 960px
        margin auto

        div
            position absolute
            display inline-block
            height 53px
            width 20px
            font-size 0
            background-size 100%
            background-position 50%
            background-repeat no-repeat
            top 0

    .owl-dots
        bottom -10px

        .owl-dot
            background colorOrange
            border 1px solid colorOrange
            border-radius 8px
            height 8px
            width 8px

            &.active
                background colorOrange
                border 1px solid colorOrange
                width 25px

    .owl-carousel 
        .owl-item
            img
                width auto 
                max-width 100%

    .menu-dropyd
        display flex
        max-width 960px
        margin 0 auto

        @media(max-width 960px)
            display block
            width 100%
            flex-wrap wrap

        li
            text-align center

            @media(max-width 960px)
                margin-bottom 20px

                &:last-child 
                    margin-bottom 0

        .btn-menu
            background colorOrange
            color #FFF
            border-radius 15px
            padding 7px 25px
            display inline-block
            text-transform uppercase
            margin-bottom 10px
            transition 0.3s ease background

            &:hover
                background #F7B41C
                text-decoration none

            @media(max-width 960px)
                display block


    //Orange Box
    .orange-box
        background #cb481e url('../image/img/dropyd/orange-bg.jpg') repeat-y 
        background-size 100% 
        padding 40px 0
        color #FFF
        text-align center

        @media(max-width 960px)
            background #cb481e url('../image/img/dropyd/bg-filete.png') repeat

        .container
            max-width 960px

        p
            color #FFF
            margin-bottom 25px

            &:last-child
                margin-bottom 0

    //Pilulas de conteudo
    .pipulas-de-conteudo
        padding 60px 0 0 0
        position relative
        overflow hidden

        h2
            margin-bottom 25px
        
        p
            max-width 300px

            @media(max-width 960px)
                text-align center
                max-width 100%
                margin-bottom 30px

        .img-sun
            position absolute
            top -150px
            right -150px
            width 300px

            @media(max-width 960px)
                top -180px
                right -180px


    .pipulas-de-conteudo-container
        display flex
        flex-wrap wrap
        overflow hidden

        h2
            @media(max-width 960px)
                text-align center

        .pipulas-de-conteudo-content
            width 50%
            position relative
            
            .img-sun-1
                position absolute
                bottom  -150px
                width 300px
                left 0
                @media(max-width 960px)
                    display none
            
            @media(max-width 960px)
                width 100%

        .pipulas-de-conteudo-slide
            width 50%
            padding 0 40px

            @media(max-width 960px)
                width 100%

            .pipulas-videos
                padding-bottom 20px

            .owl-nav 
                .owl-prev
                    left: -40px;
                    background-image: url('../image/img/dropyd/left-arow-orange.svg')

                .owl-next
                    right: -40px;
                    background-image: url('../image/img/dropyd/right-arow-orange.svg')

            h3
                text-align center
                padding 15px 0

            a 
                background colorOrange
                display block
                position relative
                border-radius 30px
                overflow hidden

                &:after
                    content ""
                    background-image url('../image/img/dropyd/video-icon.svg')
                    height 50px
                    width 50px
                    background-size cover
                    background-repeat no-repeat
                    position absolute
                    left 0
                    right 0
                    top 0
                    bottom 0
                    display block
                    margin auto
                    transition .3s ease

                &:hover
                    &:after
                        height 75px
                        width 75px


                img 
                    opacity 0.6
                    
    
    .pilulas-podcasts
        background #cb481e url('../image/img/dropyd/orange-bg.jpg') repeat-y
        background-size 100%
        color #FFF

        @media(max-width 960px)
            background #cb481e url('../image/img/dropyd/bg-filete.png') repeat

            text-align center

    .pilulas-podcasts-container
        display flex
        padding 40px 0

        @media(max-width 960px)
            display block        

        h2
            margin-bottom 30px

        .pilulas-podcasts-content
            width 50%

            @media(max-width 960px)
                width 100%

            p
                color #FFF
                margin-bottom 20px

        .pilulas-podcasts-slides
            width 50%
            padding 0 50px 10px 50px

            @media(max-width 960px)
                width 100%

            a 
                background colorOrange
                display block
                position relative
                border-radius 30px
                overflow hidden

                &:after
                    content ""
                    background-image url('../image/img/dropyd/podcast-icon.svg')
                    height 75px
                    width 45px
                    background-size cover
                    background-repeat no-repeat
                    position absolute
                    left 0
                    right 0
                    top 0
                    bottom 0
                    display block
                    margin auto
                    transition .3s ease

                &:hover
                    &:after
                        height 100px
                        width 57px

                img
                    opacity 0.6

            h3
                text-align center
                padding 15px 0

            .podcasts-box
                max-width 300px
                margin 0 auto
    
            .owl-dots .owl-dot.active, .owl-dots .owl-dot
                background #FFF
                border 1px solid #fff

            .owl-nav 
                .owl-prev
                    left: -40px;
                    background-image: url('../image/img/dropyd/left-arow-white.svg')

                .owl-next
                    right: -40px;
                    background-image: url('../image/img/dropyd/right-arow-white.svg')

    .pilulas-materias
        padding 40px 0

        @media(max-width 960px)
            h2, .sub-title
                text-align center

        .pilulas-materias-container
            display flex
            flex-wrap wrap

        .pilulas-materias-item
            width calc(50% -20px)
            background #f8a54c
            color #FFF
            padding 20px 30px
            margin-right 20px
            margin-bottom 20px
            border-radius 50px

            @media(max-width 960px)
                width 100%
                margin-right 0

            &:nth-child(2)
                background #F7B41C

            &:nth-child(3)
                background #EC7830

            &:nth-child(4)
                background colorOrange

            p
                margin 0
                color #FFF

                &:first-child
                    margin-bottom 10px
                    font-weight bold
            
            a 
                color #FFF 
                text-decoration underline

                &:hover
                    text-decoration none


    .pilulas-quiz
        background #cb481e url('../image/img/dropyd/orange-bg.jpg') repeat-y
        background-size 100%
        padding 40px 0
        color #FFF

        @media(max-width 960px)
            text-align center
            background #cb481e url('../image/img/dropyd/bg-filete.png') repeat

        .pilulas-quiz-container
            display flex
            align-items baseline
            
            @media(max-width 960px)
                display block
                margin-top 20px
                margin-bottom 20px

            p.pilulas-quiz-text
                width 40%
                color #FFF

                @media(max-width 960px)
                    width 100%
                    margin-bottom 20px

            .pilulas-quiz-cta
                width 60%
                text-align center

                @media(max-width 960px)
                    width 100%

                span
                    font-size 20px
                    color #FFF

                    @media(max-width 960px)
                        margin-bottom 20px
                        display block

                .btn-cta
                    color #E56A0F
                    background #FFF
                    border 1px solid #FFF
                    padding 10px 40px
                    border-radius 10px
                    display inline-block
                    margin-left 10px

                    &:hover
                        text-decoration none
                        background #E56A0F
                        color #FFF

    .texto-legal
        text-align center
        font-size 9px
        padding 30px 0


#dropyd-quiz
    @media(max-width 960px)
        p X
            font-size 18px
            
.banner-orange
    background #cb481e url('../image/img/dropyd/orange-bg.jpg') repeat-y
    padding 40px 0

    @media(max-width 960px)
        background #cb481e url('../image/img/dropyd/bg-filete.png') repeat

    h2
        color #fee032
        font-size 40px
        margin-bottom 10px

    p
        color #FFF
        font-size 22px

.btn-orange-big
    background #EC7830
    border 1px solid #EC7830
    color #FFF
    width 100%
    max-width 400px
    margin 0 auto
    border-radius 30px
    font-size 26px
    font-weight normal

    &:hover
        background #ffffff
        color #EC7830

.main-content
    position relative
    overflow hidden

    .img-sun-3
        position absolute
        top 0
        bottom 0
        margin auto 0
        right -150px
        width 300px
        height 300px

        @media(max-width 960px)
            display none
    
.btn-orange
    color #FFF
    font-size 18px
    background #EC7830
    padding 10px 50px
    border-radius 20px
    width auto
    height auto
    transition 0.3s ease opacity 
    display inline-block

    &:focus
        text-decoration none

    &:hover
        text-decoration none
        opacity 0.7

@media(min-width: 960px)
    #modal-required.modal-default 
        .modal-content
            max-width: 400px;


#dropyd-quiz-form
    position relative

    @media(max-width 960px)
        padding 0 20px 

    .steps
        display none 

    .actions
        ul
            padding 30px 0
            li
                text-align center

                &:first-child
                    display none

            a
                color #FFF
                font-size 18px
                background #EC7830
                padding 10px 50px
                border-radius 20px
                width auto
                height auto
                transition 0.3s ease opacity 

                &:focus
                    text-decoration none

                &:hover
                    text-decoration none
                    opacity 0.7

    fieldset 
        background #EC7830
        padding 30px 80px
        color #FFF
        display none
        border none 
        border-radius 30px
        max-width 800px
        margin 0 auto

        @media(max-width 960px)
            padding 20px 15px


        &:fist-child, .current
            display block

        p
            color #FFF

            strong 
                color #FFE200

        ul
            margin-top 30px

            li
                display flex
                margin-bottom 15px

                &:last-child
                    margin-bottom 0

        label 
            display block
            width calc(100% - 30px)

        .input-box
            width 30px
            border 1px sodid #FFF
            position relative
            padding-left 35px
            margin-bottom 12px
            cursor pointer
            font-size 22px
            user-select: none

            input 
                display none

        .checkmark
            position absolute
            top 0
            left 0
            height 25px
            width 25px
            background-color #FFF
            border-radius 50%

            &:after
                top 9px
                left 9px
                width 8px
                height 8px
                border-radius 50%
                background white
                display: block
                position absolute
                content ""
                display none

            &.checked
                background #FFE200

                &:after
                    background-color #EC7830
                    display block

.quiz-dropyd

    .third-stap
        .banner-orange
            padding 80px 0

    .resp-box
        margin-top 40px 
        margin-bottom 20px
        h2
            text-transform inherit
            background #ec7830
            border 1px solid ##ec7830
            color #fff
            width 100%
            max-width 600px
            margin 0 auto
            border-radius 30px
            font-size 40px
            font-weight 400

            strong
                color #fee032
                font-weight 400

        p
            color #ec7830
            max-width 600px
            margin 30px auto 0 auto
            font-size 18px