@font-face {
    font-family: 'typo_round_bold_demoregular';
    src: url('../image/img/equilibresse/fonts/typo_round_bold_demo-webfont.woff2') format('woff2'),
         url('../image/img/equilibresse/fonts/typo_round_bold_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.page-equilibresse
    background #1899b5

    .modal-default
        background rgba(197,100,155,.8)
    

    .footer
        margin-top 0

    .search-global
        display none

    .equilibresse
        // background url('../image/img/equilibresse/bg.jpg') no-repeat center top
        min-height 100vh
        padding-bottom 120px
        // font-family 'typo_round_bold_demoregular'
        background-size cover

        @media(max-width 960px)
            background none


        a.btn-equilibresse
            background #99c032
            color #ffffff
            display inline-block
            padding 20px
            border-radius 30px
            max-width 400px
            font-size 25px
            position relative
            z-index 2
            transition 0.3s ease background

            &:hover
                text-decoration none
                background #18097c

        .pack-section-equilibresse
            position relative
            margin-top 140px
            overflow hidden

            @media(min-width 960px)
                margin-top 0
                padding-top 150px

                position relative

                &:before
                    content ''
                    height 300px
                    width 300px
                    background url('../image/img/equilibresse/flor1.png') no-repeat center 
                    position absolute
                    right -150px
                    top 0
                    background-size contain

            @media(max-width 1401px)
                figure  
                    max-width 960px
                    

            .text-legal
                color #ffffff
                font-size 9px

                @media(max-width 960px)
                    padding 0 15px
                    max-width 50%

                @media(min-width 960px)
                    position absolute
                    left 14%
                    bottom 0
                    max-width 400px

        .logo-equilibresse
            position relative

            figure 
                position relative
                z-index 2
            
            @media(min-width 960px)
                margin-top -100px

             @media(max-width 960px)

                &:before
                    content ''
                    height 150px
                    width 150px
                    background url('../image/img/equilibresse/flor1.png') no-repeat center 
                    position absolute
                    right -75px
                    top 0
                    background-size contain

            &:after
                content ''
                height 400px
                width 100%
                background url('../image/img/equilibresse/curva02.png') no-repeat left top 
                position absolute
                left -150px
                bottom 0
                background-size contain
                z-index 1

                @media(max-width 960px)
                    height 207px

           

            figure 
                position relative
                z-index 2

        .equilibresse-banner-01
            padding 60px 0 120px 0
            position relative
            overflow hidden

            @media(max-width 960px)
                padding 60px 0

            &:before
                content ''
                height 300px
                width 300px
                background url('../image/img/equilibresse/flor1.png') no-repeat center 
                position absolute
                right -150px
                top 0
                background-size contain

                @media(max-width 960px)
                    top: -20%;
                    background-size: 170px;

            &:after
                content ''
                height 400px
                width 400px
                background url('../image/img/equilibresse/flor1.png') no-repeat center 
                position absolute
                right -150px
                bottom 0
                background-size contain

                @media(max-width 960px)
                    bottom -30px
                    height 200px
                    right 0
                    background url('../image/img/equilibresse/curva01.png') no-repeat right center
                    background-size 200px

        .equilibresse-banner-01-div-container
            max-width 980px

        .equilibresse-banner-01-div
            position relative

            &:after
                content ''
                height 400px
                width 400px
                background url('../image/img/equilibresse/flor1.png') no-repeat center 
                position absolute
                left -150px
                bottom 0
                background-size contain

                @media(max-width 960px)
                   display none


        .equilibresse-banner-01-img
            position relative
            z-index 2


    .equilibresse-baixe-zapbook-header
        text-align center

        h2
            color #ffffff
            text-align center
            font-size 30px

            @media(max-width 960px)
                font-size 20px

        h3
            color #ffffff
            text-align center
            margin 0 auto 
            max-width 650px
            font-size 20px

            @media(max-width 960px)
                font-size 17px


    .equilibresse-baixe-zapbook-section
        display flex
        align-items center

        .equilibresse-baixe-img
            width 50%
            position relative
            padding-left 14%

            @media(max-width 960px)
                padding-left 15px

            &:before
                content ''
                height 300px
                width 100%
                background url('../image/img/equilibresse/curva-rosa.png') no-repeat 0 0 
                position absolute
                left -50px
                top 10%
                background-size contain
                content ''
                

            img 
                position relative
                z-index 2


        .equilibresse-baixe-btn
            width 50%
            position relative

            @media(max-width 960px)
                overflow hidden

            &:before
                content ''
                width 100%
                position absolute
                right 0
                background-size contain
                
                @media(min-width 961px)
                    background url('../image/img/equilibresse/curva-rosa.png') no-repeat 0 0
                    transform rotate(180deg)
                    margin-top -115px
                    top 10%
                    height 300px
                    background-size contain

                @media(max-width 960px)
                    background #c5649b
                    height 115px
                    border-radius 50px 0 0 50px
                    right -20px


                @media(min-width 1601px)
                    height 450px


            a.btn-equilibresse
                margin-left 20%

                @media(min-width 1601px)
                    margin-top 82px

                @media(max-width 960px)
                    font-size: 12px;
                    margin-left: 21%;
                    margin-top: 23px;
                    margin-bottom: 31px;

    .equilibresse-baixe-ebook
        background #c5649b
        padding 50px 0
        margin-top 50px

    .equilibresse-baixe-ebook-icons
        display flex
        align-items center 
        margin-top 30px

        .equilibresse-baixe-ebook-icon
            width 50%
            text-align right
            margin-right 30px

            @media(max-width 960px)
                width 40%

                img 
                    max-width 50px
                    margin 0 auto

        .equilibresse-baixe-ebook-btn
            width 50%
            margin-left 20px

            @media(max-width 960px)
                margin-left 0
                width 60%

                .btn-equilibresse
                    font-size 14px


    
    .equilibresse-chamada-1
        position relative
        margin-top 70px

        h2
            margin-top 50px
            background #c5649b
            color #FFF
            text-decoration none
            display block
            text-align center
            padding 25px 70px
            font-weight normal
            font-size 33px
            line-height 1.2em
            transition 0.3s ease background


            @media(max-width 960px)
                margin-top 20px
                margin-right 15px
                margin-left 15px
                font-size 18px
                padding 20px

        &:before
            content ''
            height 400px
            width 100%
            background #bacf09
            position absolute
            left 0
            bottom 10%
            background-size contain
            content ''

            @media(max-width 960px)     
                height 200px

        .equilibresse-chamada-1-container
            max-width 990px
            margin 0 auto
            position relative
            z-index 2

            @media(max-width 960px)
                figure 
                    padding 0 15px

            h2
                margin-top 50px

                @media(max-width 960px)
                    margin-top 20px
                    margin-right 15px
                    margin-left 15px
                
                a
                    background #c5649b
                    color #FFF
                    text-decoration none
                    display block
                    text-align center
                    padding 25px 70px
                    font-weight normal
                    font-size 33px
                    line-height 1.2em
                    transition 0.3s ease background

                    @media(max-width 960px)
                        font-size 18px
                        padding 20px

                    &:hover 
                        background #18097c


    .equilibresse-chamada-2
        margin-top 60px
        margin-bottom 60px

        @media(max-width 960px)
            margin-top 30px


        .equilibresse-chamada-2-container
            max-width 800px
            margin 0 auto 
            display flex
            justify-content center

            .equilibresse-chamada-2-box
                width 45%

                &:first-child
                    margin-right 2.5%

                &:last-child
                    margin-left 2.5%

        h3
            margin-top 40px

            @media(max-width 960px)
                margin-top 20px

    .btn
        background #c5649b
        color #FFF
        text-decoration none
        display block
        text-align center
        padding 15px 20px
        font-weight normal
        font-size 23px
        line-height 1.2em
        transition 0.3s ease background

        @media(max-width 960px)
            font-size 13px

        &:hover 
            background #18097c


    .equilibresse-chamada-3
        background #99c032
        margin-top 100px
        padding-top 30px

        @media(max-width 960px)
            margin-top 50px

        .equilibresse-chamada-2-container
            display flex
            align-items center
            max-width 800px
            margin 30px auto -65px auto

            @media(max-width 960px)
                margin 0 auto -80px auto
                padding-bottom 40px

            .equilibresse-chamada-3-img
                width 55%

            .equilibresse-chamada-3-title
                width 45%
                color #ffffff
                display flex
                justify-content center

                h2
                    font-size 30px

                    @media(max-width 960px)
                        font-size 25px

        .btn
            max-width 800px
            margin 0 auto
            padding 15px 100px
            position relative
            bottom -40px

            @media(max-width 960px)
                padding 15px


    .equilibresse-chamada-4
        @media(max-width 960px)
            margin-top 100px

.page-equilibrisse_quiz
    .search-global
        display none

    .equilibresse-quiz
        padding-top 180px

        @media(max-width 960px)
            padding-top 165px

        .main-title
            color #1899b5
            max-width 960px
            margin 0 auto

            h2
                font-size 35px
                line-height 1.1em
                margin-bottom 30px

                @media(max-width 960px)
                    font-size 25px

            h3
                font-size 25px

                @media(max-width 960px)
                    font-size 20px

        .refrence
            margin-top 20px

            p
                color #6a6d72
                font-size 12px
                word-break break-all


        .equilibresse-quiz-section
            margin-top 50px
            position relative
            

            &:before
                content ''
                height 100px
                width 100%
                background #bacf09
                position absolute
                left 0
                top 70px
                background-size contain
                content ''

            h2
                color #ffffff
                background #c5649b
                max-width 600px
                text-align center
                padding 20px 50px
                font-size 30px
                line-height 1.2em
                position relative
                z-index 1
                margin-bottom 50px
                min-height 150px
                display flex
                align-items center
                justify-content center

                @media(max-width 960px)
                    max-width 90%
                    font-size 25px
                    padding 20px 30px


        .equilibresse-quiz-respostas
            display flex
            flex-wrap wrap
            position relative
            z-index 1
            justify-content center

        .equilibresse-quiz-box
            width 25%
            cursor pointer
            padding 20px
            background #fff
            transition 0.3s ease background

            figure 
                position relative

            @media(max-width 960px)
                width 50%
                padding 10px

            p
                font-size 14px
                color #000
                padding 20px
                text-align center

                @media(max-width 960px)
                    padding 15px 0

            &.yes
                background #bacf09

                figure
                    &:before
                        content ''
                        height 40px
                        width 40px
                        background #bacf09 url('../image/img/equilibresse/check.png') no-repeat 0 0 
                        position absolute
                        right 20px
                        top 20px
                        border-radius 50%
                        background-size contain

            &.no
                background #b92629

                figure
                    &:before
                        content ''
                        height 40px
                        width 40px
                        background #ed2427 url('../image/img/equilibresse/nope.png') no-repeat 0 0 
                        position absolute
                        right 20px
                        top 20px
                        border-radius 50%
                        background-size contain


.slide-zapbook
    .owl-carousel

        .btn-default
            color #259ab4
            border 1px solid #259ab4

            &:hover 
                background #259ab4
                color #FFF

        .owl-dots
            bottom -15px
            
            .owl-dot
                border 1px solid #259ab4

                &.active
                    background #259ab4
        .owl-item 
            img
                max-height 400px
                width inherit
                margin 0 auto