colorPurbleCentro = #4f27e3
colorBlueCentro = #268EC9

#familia-centro
    background #FFF
    overflow-x hidden

    .btn-default
        color #fff
        background: #707070
        border 1px solid #707070
        padding 5px 20px
        text-transform: inherit

        &:hover
            background: #fff
            color #707070

    #familia-centro-section-1
        p
            color #2F2F2F

    .familia-centro-section-2
        background: #F0F0F0
        padding: 30px 0 10px 0

        h2
            color #18087C

        .grid
            align-items: center

        @media(max-width 960px)
            text-align: center

            h2
                font-size: 20px

    .familia-centro-section-3
        background: #18087C
        color #FFF

        @media(max-width 960px)
            text-align: center
            padding: 30px 0

            h2
                margin-bottom: 30px
            
            .familia-centro-section-3-materias
                margin-bottom: 40px

            .familia-centro-section-3-img
                margin-bottom 20px


        a
            color #FFF

        .familia-centro-section-3-btns
            margin-top: 20px

        .btn-default
            background: #F0F0F0
            color #18087C
            border 1px solid #F0F0F0
            font-weight: bold

            &:hover
                background: #18087C
                color #F0F0F0

        .familia-centro-section-3-row
            @media(min-width 960px)
                display: flex
                align-items: center
                flex-wrap: wrap
                padding: 35px 0

                .familia-centro-section-3-title
                    width 20%

                    h2
                        font-size 35px

                .familia-centro-section-3-materias
                    width 40%
                    display: flex
                    align-items: flex-end;
                    flex-wrap: wrap
                    padding-left: 30px

                    .familia-centro-section-3-img
                        width 196px
                        padding-right: 30px

                    .familia-centro-section-3-text
                        width calc(100% - 196px)
    .familia-centro-section-4
        background: #F0F0F0
        padding: 30px 0

        @media(max-width 960px)
            text-align: center

            .familia-centro-section-4-img
                margin-top: 30px

        .familia-centro-section-4-row
            @media(min-width 960px)
                display: flex
                flex-wrap wrap
                align-items: center

            .familia-centro-section-4-text
                p
                    color #4B4B4B

                @media(min-width 960px)
                    width 40%

            .familia-centro-section-4-img
                @media(min-width 960px)
                    width 60%

    .familia-centro-section-5
        background: #DAE9FA
        padding: 30px 0

        @media(max-width 960px)
            text-align: center

            .familia-centro-section-5-text
                margin-bottom: 30px

        .familia-centro-section-5-row
            @media(min-width 960px)
                display: flex
                flex-wrap wrap
                align-items: center

            .familia-centro-section-5-text
                p
                    color #4B4B4B
                    margin-top: 15px

                @media(min-width 960px)
                    width 70%

            .familia-centro-section-5-img
                @media(min-width 960px)
                    width 30%

    .familia-centro-section-6
        text-align: center
        padding: 50px 0

        h2
            font-size: 30px
            margin-bottom: 30px
            
            span
                display: block
                color #FDBE34
                font-size: 60px
                line-height: 45px

        .familia-centro-section-6-row
            @media(min-width 960px)
                display: flex
                flex-wrap wrap
                align-items: center

        .prod-vitaminas-item
            margin-bottom: 40px

            @media(min-width 960px)
                width 50%

        .btn-default
            background: #18087C
            color #FFF
            border 1px solid #18087C

            &:hover
                background: #fff
                color #18087C

        .text-bottom1
            border-radius 5px

        .text-bottom2
            p
                color #4B4B4B
                font-size 16px
                line-height: 1.1em
    
    .container
        max-width 1200px

    .container-small
        max-width: 960px

   

.page-centro_quiz
    header
        background: url(../image/img/bg-gradient.png) repeat-x 0 0;
        height: 213px;

    .search-global
        display none

    .quiz-centro-result-box
        background #FFF
        padding-top 30px
        margin-bottom 20px

        h2
            color #4f27e3

        p
            background #4f27e3
            color colorDefault
            padding 20px
            border-radius 15px
            margin-bottom 30px

            span
                display block

                &.number
                    text-decoration underline

                &.text-1
                    font-weight bold
                    margin-bottom 20px


    .centro-quiz-container
        background #4f27e3
        padding-bottom 50px

    .page-centro-quiz
        padding-top 180px

        @media(max-width 960px)
            padding-top 165px

        .main-title
            position relative
            
            @media(min-width 960px)

                &:before
                    content ''
                    height 350px
                    width 500px
                    left -300px
                    background url('../image/img/centro/curva-2.png') no-repeat
                    background-size contain
                    position absolute
                    transform: rotate(155deg);
                    top 0

                &:after
                    content ''
                    height 350px
                    width 500px
                    right -200px
                    background url('../image/img/centro/curva-1.png') no-repeat
                    background-size contain
                    position absolute
                    transform: rotate(230deg);
                    top 0

            .container
                color #4f27e3
                max-width 960px
                margin 0 auto

            h2
                font-size 45px
                line-height 1.1em
                margin-bottom 30px

                @media(max-width 960px)
                    font-size 25px

            p
                font-size 20px
                margin-bottom 20px
                color #4f27e3

                @media(max-width 960px)
                    font-size 20px

        .refrence
            margin 0 auto
            margin-top 20px
            max-width 960px
            display flex
            font-size 12px
            color colorDefault

            p
                color colorDefault
                word-break break-all
                font-size 12px
                width calc(100% - 20px)


            span
                display block
                height 20px
                width 20px
                margin-right 10px

                &.yes
                    background url('../image/img/centro/check.png') no-repeat 0 0
                    background-size cover

                &.no
                    background url('../image/img/centro/nope.png') no-repeat 0 0
                    background-size cover

            a
                color colorDefault


        .centro-quiz-section
            padding-top 50px
            position relative
        
            h2
                color colorDefaultfff
                text-align center
                font-size 25px
                line-height 1.2em
                position relative
                margin-bottom 50px
                font-weight normal
                z-index 1

                &:after
                    content ''
                    height 2px
                    width 100%
                    background #78D8DF
                    position absolute
                    left 0
                    top calc(50% - 1px)
                    background-size contain
                    content ''
                    z-index 0
                

                .container  
                    max-width 960px
                    border 2px solid #78D8DF
                    background #4f27e3
                    border-radius 20px
                    z-index 2
                    padding 10px 40px
                    position relative

                @media(max-width 960px)
                    max-width 90%
                    font-size 20px
                    padding 20px 30px


        .centro-quiz-respostas
            display flex
            flex-wrap wrap
            position relative
            z-index 1
            justify-content center

        .centro-quiz-box
            width 25%
            cursor pointer
            padding 20px
            transition 0.3s ease background
            border-radius 20px

            figure 
                position relative
                border-radius 20px
                overflow hidden

            @media(max-width 960px)
                width 50%
                padding 10px

            p
                font-size 18px
                color #000
                padding 20px
                color colorDefault

                @media(max-width 960px)
                    padding 15px 0

            &.yes
                background #7cd8df

                figure
                    &:before
                        content ''
                        height 40px
                        width 40px
                        background #7cd8df url('../image/img/centro/check.png') no-repeat 0 0 
                        position absolute
                        right 20px
                        top 20px
                        border-radius 50%
                        background-size contain

                p
                    color #4f27e3

            &.no
                background #fc519d

                figure
                    &:before
                        content ''
                        height 40px
                        width 40px
                        background #fc519d url('../image/img/centro/nope.png') no-repeat 0 0 
                        position absolute
                        right 20px
                        top 20px
                        border-radius 50%
                        background-size contain


.page-solicitation_sample
    .search-global
        display none
        
    .page-solicitacao-amostra
        border-bottom 100px solid #ff43a7
        padding-bottom 40px

    &.logged 
        .header
            background #ff43a7
            height inherit
            padding-bottom 30px

        background #4f27e3

    .form-solicitacao-amostra
        label
            color colorDefault

    .header-solicitacao-amostra
        color colorDefault

        h1
            font-weight normal
            margin-bottom 20px

            strong  
                display block
                margin-top 20px

    .footer
        margin-top 0