.gamificacao-section-home
    background: #180A7C
    padding 40px 0

    @media(max-width 960px)
        padding-bottom: 0

    .gamificacao-main-tile
        font-size: 30px
        position relative
        display: inline-block
        margin-bottom: 20px

        @media(max-width 960px)
            display: block
            padding-bottom: 15px

        &:before
            content ''
            height: 10px
            width: 100%
            position: absolute
            right: -110%
            bottom 3px
            border-bottom: 2px dotted #FFF

            @media(max-width 960px)
                right inherit
                left 0
                width: 80%

        &:after
            height 10px
            width 10px
            content ''
            background: #fff
            border-radius 50%
            right -110%
            position: absolute
            bottom: -1px

            @media(max-width 960px)
                right: 18%

    .gamificacao-item
        color #FFF

        @media(min-width 961px)
            width: 50%

        &.gamificacao-item-1
            @media(min-width 961px)
                width 40%

            @media(max-width 960px)
                margin-bottom: 30px

                99
    .gamificacao-item-text
        font-size: 25px
        color colorYellow
        line-height: 1.2em

        @media(max-width 960px)
            font-size: 20px

        big
            display: block
            font-size: 40px
            color #FFF
            margin-bottom: 15px

            @media(max-width 960px)
                font-size: 30px

        span 
            color #FFF

    .btn-default
        background: #4C8FFF
        color #FFF

        @media(min-width 961px)
            font-size: 18px


    .gamificacao-home-row
        display: flex

        .gamificacao-home-td-1
            display: flex
            flex-wrap: wrap 

            @media(min-width 961px)
                width 60%
                margin-right: 10px

        .gamificacao-home-td-2
            border 1px solid #4C8FFF
            border-radius 15px
            text-align: center

            @media(min-width 961px)
                width 40%

            @media(max-width 960px)
                margin-left: 10px

    .gamificacao-home-number
        display: block
        font-size: 45px
        font-weight: bold
        line-height 45px

        @media(max-width 960px)
            font-size: 35px
            line-height 35px

    .gamificacao-home-cell
        border 1px solid #4C8FFF
        border-radius 15px
        position relative
        display flex
        flex-direction column
        justify-content center
        padding-left: 55px

        &:before
            content ''
            height 40px
            width 40px
            position absolute
            left 5px
            top 0
            bottom 0
            margin auto 0

        &.gamificacao-home-cell-1
            width: 100%
            margin-bottom: 10px
            
            &:before
                background: url('../image/img/gamefication/icon-trofeu.png') no-repeat

        &.gamificacao-home-cell-2
            width calc(55% - 10px)
            margin-right: 10px
            padding-left: 45px

            &:before
                background: url('../image/img/gamefication/icon-pontos.png') no-repeat
                background-size contain
            

        &.gamificacao-home-cell-3
            width 45%
            padding-left: 45px

            .gamificacao-home-number, .gamificacao-home-text
                padding-left: 7px

            &:before
                background: url('../image/img/gamefication/icon-medalhas.png') no-repeat
                background-size contain


.gamificacao-section-home-deslogada
    padding: 45px 0
    color #170A7C

    @media(max-width 960px)
        text-align: center

        figure
            margin-bottom: 30px

    a
        color #170A7C
        font-weight: bold

    h2
        @media(min-width 961px)
            font-size: 35px

    .container
        max-width 960px

.page-gamificacao
    background: #180A7C
    color #FFF
    padding-bottom: 60px

    .page-gamificacao-pontos-body
        padding: 50px 0

        h2
            text-transform: uppercase
            color #4C8FFF
            font-size: 2.8em
            font-weight: normal

            @media(max-width 960px)
                font-size: 2em

    .gamificacao-cards-1
        display: flex
        margin-top: 20px
        flex-wrap: wrap

        .gamificacao-card-item
            margin-right: 20px

            &.gamificacao-card-posicao
                @media(max-width 960px)
                    width calc(60% - 15px)
                    margin-right: 15px
                    

            &.gamificacao-card-pontos
                @media(max-width 960px)
                    width 40%
                    margin: 0

            &.gamificacao-card-medalha
                @media(max-width 960px)
                    width 100%
                    margin: 0
                    margin-top: 15px
                    padding-top: 20px
                    padding-bottom: 20px

                    .gamificacao-card-text
                        br
                            display: none
    .gamificacao-section-icons
        background: #0E0453
        padding: 20px
        border-radius 15px
        margin-top: 40px

        .gamificacao-section-icons-row
            display: flex
            flex-wrap wrap

        .gamificacao-section-icons-item
            width calc(20% - 40px)
            margin: 20px
            text-align: center

            @media(max-width 960px)
                width calc(50% - 40px)

            figure
                
                position: relative

                &:before
                    position: absolute
                    content ''
                    width 95%
                    height: 95%
                    background: #A3A3A3
                    border-radius 50%
                    opacity 0.9
                    margin auto
                    left 0
                    right 0
                    top 0
                    bottom 0
                    

            h3
                color #A7A7A7
                text-transform: uppercase
                line-height: 1em
                margin-top: 15px


            &.active
                h3
                    color #4C8FFF

                figure
                    &:before
                        opacity 0
                        
    p
        color #FFF

    .text-banner-gamificacao
        padding: 20px 0

        .container
            max-width: 960px
            text-transform: uppercase
            text-align: center
            font-size: 16px

    .gamificacao-section-1
        background: #0E0453
        text-align: center
        padding: 40px 0

        h2
            max-width 960px
            margin: 0 auto
            font-weight: normal

        figure
            height: 100px
            display: block
            margin-bottom: 20px

            img
                max-height: 100%
        
        span 
            display: block
            color colorYellow

    .gamificacao-section-2
        background #4C8FFF

    .gamificacao-section-2-header
        background: #180A7C
        padding 30px 0 50px 0

        .container
            max-width 960px
            margin: 0 auto

        h2
            font-weight: normal
            text-transform: uppercase
            font-size: 16px

            span 
                display: block
                color #4C8FFF
                font-size 50px
                line-height: 50px

    .gamificacao-section-2-body
        max-width 960px
        margin: 0 auto
        background: #0E0453
        border-radius 10px
        padding: 30px 50px
        margin-top -30px

        @media(max-width 960px)
            .col-sm-6
                width: 100%

        .gamificacao-section-2-row
            display flex
            justify-content: space-between
            flex-wrap wrap

        .gamefication-points-list
            align-items: center
            padding: 20px 0
            border-bottom 1px solid #4C8FFF
            margin-top 10px
            margin-bottom 10px

            &.not-border
                border none
                padding-bottom: 0
                margin-bottom: 0

                &.border-mobile
                    @media(max-width 960px)
                        border-bottom 1px solid #4C8FFF
                        margin-bottom 10px
                        padding: 10px 0 20px 0

            @media(max-width 960px)
                padding: 0 0 20px 0
                margin-bottom: 0

                .row
                    display: flex
                    flex-wrap: wrap
                    align-items: center

            &.gamefication-points-list-last-item
                @media(max-width 960px)
                    padding-top 0
                    margin-top: 0

                .gamefication-points-number
                    @media(max-width 960px)
                        top 0
                        line-height: inherit


        .gamefication-points-number
            font-size: 60px
            font-weight: bold
            line-height: 20px
            text-align: right

            @media(max-width 960px)
                font-size: 40px
                position: relative;
                top: 10px;

            span 
                font-size: 16px
                line-height: 16px

        .gamefication-points-text
            font-size: 20px

            @media(max-width 960px)
                line-height: 1em


    .gamificacao-section-2-footer
        text-align: center

        p
            font-size 25px
            border-right 2px solid #180A7C
            border-left 2px solid #180A7C
            border-top 2px solid #180A7C
            border-radius 10px 10px 0 0
            padding: 30px
            margin-top: 10px

            @media(max-width 960px)
                font-size: 20px

        .container
            max-width: 960px


    .gamificacao-section-3-row
        display: flex
        align-items: center
        flex-wrap: wrap

    .gamificacao-section-3-row-main
        display: flex
        flex-wrap: wrap

    .gamificacao-section-3
        padding-top: 40px

        .container
            max-width 960px
            margin: 0 auto

        .gamificacao-section-3-item
            margin-bottom: 20px

        .gamificacao-section-3-number
            padding: 0

            p
                display: block
                font-size: 45px
                font-weight: bold
                line-height 16px
                text-align: right                
                margin-top: 15px


                @media(max-width 960px)
                    font-size: 35px

                span 
                    font-size: 14px
                    font-weight: normal

        .gamificacao-section-3-text
            p
                font-size 18px
                line-height: 1.2em

                @media(max-width 960px)
                    font-size: 16px

                small
                    font-size 12px
                    line-height: 12px


        h3
            color #4C8FFF
            text-transform: uppercase
            font-size 22px
            font-weight: normal
            margin-bottom: 0
            

        .gamificacao-section-3-content
            padding-left 0

            .row
                margin-left: 0


    .gamificacao-section-4
        .container
            max-width: 960px


        .gamificacao-section-4-header
            margin-bottom: 50px

            h2
                font-size: 50px
                font-weight: normal
                line-height: 40px
                margin-top: -40px

                span 
                    font-size: 25px
                    display: block

                @media(max-width 960px)
                    margin-top: 0
                    font-size: 30px

                    span 
                        font-size: 20px
                        line-height: 20px

            figure
                position relative
                text-align: right

                img
                    position relative
                    z-index 3

                &:before
                    content ''
                    height: 10px
                    width: 95%
                    position: absolute
                    right: 5%
                    top calc(50% - 5px)
                    border-bottom: 2px dotted #FFF
                    z-index 1

                &:after
                    height 10px
                    width 10px
                    content ''
                    background: #fff
                    border-radius 50%
                    left 0
                    position: absolute
                    top calc(50% - 1px)
                    z-index 2
        
        .gamificacao-section-4-conteudos
            margin-bottom: 30px

            @media(max-width 960px)
                text-align: center
                margin-bottom: 0

                .gamificacao-section-4-conteudos-item
                    margin-bottom: 40px

            figure
                img
                    border-radius 10px

            a
                color #FFF

            h3
                font-size: 25px
                font-weight: normal
                line-height: 1.1em
                margin-top: 15px

           

    .btn-gamificacao-lp
        background: #FFD800
        font-size: 20px
        font-weight: bold
        border-radius 30px

        &:hover
            background: #18097c

    .btn-gamificacao-conquistas
        color #FFF
        text-align: center
        font-size: 30px
        position relative
        display: inline-block
        padding: 0 80px

        @media(max-width 960px)
            line-height: 1.1em

        &:before, &:after
            content ''
            height 26px
            width 60px
            background: url('../image/img/gamefication/setas-3-laterais.svg') no-repeat
            position: absolute
            background-size contain
            top calc(50% - 13px)

        &:before
            left 0

        &:after
            right 0
            transform: rotate(180deg)

        span 
            color #4C8FFF
            font-weight: bold

        &:hover
            color #4C8FFF
            text-decoration: none

            span 
                color #FFF

        
.gameficationpoints 
    .search-global
        display: none

.page-gamificacao-pontos
    background: #180A7C
    color #FFF

    p, a
        color #FFF


    .container
        max-width 960px

    .page-gamificacao-pontos-header
        background: #4C8FFF
        padding-top: 250px
        padding-bottom: 50px
        
        @media(max-width 960px)
            padding-top: 150px
            padding-bottom: 20px

        .row
            @media(min-width 961px)
                display: flex
                align-items: center
                flex-wrap: wrap

        .page-gamificacao-pontos-header-img
            @media(max-width 960px)
                max-width: 150px
                margin-bottom: 15px
        
        .page-gamificacao-pontos-header-text
            @media(max-width 960px)
                width: 100%

            

    .page-gamificacao-pontos-header-text
        color #180A7C
        p, a
            color #180A7C

        h2
            text-transform: uppercase
            font-size: 22px
            font-weight: normal
            position: relative
            padding-bottom: 5px
            margin-bottom: 10px
            color #180A7Cs

            &:before
                content ''
                height: 2px
                width: 100%
                position: absolute
                left: 0
                bottom 0
                border-bottom: 2px dotted #FFF
                z-index 1

            &:after
                height 10px
                width 10px
                content ''
                background: #fff
                border-radius 50%
                right 0
                position: absolute
                bottom: -3px


    .page-gamificacao-pontos-body
        padding: 50px 0

        h2
            text-transform: uppercase
            color #4C8FFF
            font-size: 2.8em
            font-weight: normal

            @media(max-width 960px)
                font-size: 2em
        
    .gamificacao-section-icons
        background: #0E0453
        padding: 20px
        border-radius 15px
        margin-top: 40px

        .gamificacao-section-icons-row
            display: flex
            flex-wrap wrap

        .gamificacao-section-icons-item
            width calc(20% - 40px)
            margin: 20px
            text-align: center

            @media(max-width 960px)
                width calc(50% - 40px)

            figure
                
                position: relative

                &:before
                    position: absolute
                    content ''
                    width 95%
                    height: 95%
                    background: #A3A3A3
                    border-radius 50%
                    opacity 0.9
                    margin auto
                    left 0
                    right 0
                    top 0
                    bottom 0
                    

            h3
                color #A7A7A7
                text-transform: uppercase
                line-height: 1em
                margin-top: 15px


            &.active
                h3
                    color #4C8FFF

                figure
                    &:before
                        opacity 0


    .gamificacao-cards-1
        display: flex
        margin-top: 20px
        flex-wrap: wrap

        .gamificacao-card-item
            margin-right: 20px

            &.gamificacao-card-posicao
                @media(max-width 960px)
                    width calc(60% - 15px)
                    margin-right: 15px
                    

            &.gamificacao-card-pontos
                @media(max-width 960px)
                    width 40%
                    margin: 0

            &.gamificacao-card-medalha
                @media(max-width 960px)
                    width 100%
                    margin: 0
                    margin-top: 15px
                    padding-top: 20px
                    padding-bottom: 20px

                    .gamificacao-card-text
                        br
                            display: none
                            
                

.gamificacao-card-item
    border: 1px solid #4c8fff
    border-radius: 15px
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    padding: 7px
    padding-left: 55px
    padding-right: 10px

    .gamificacao-card-tipo
        font-weight: bold
        color #EDCD5E
        font-size 30px

        @media(max-width 960px)
            font-size: 20px

    .gamificacao-card-number
        display: block
        font-size: 45px
        font-weight: 700
        line-height: 45px

        @media(max-width 960px)
            font-size: 30px

    &:before
        content ''
        height 40px
        width 40px
        position absolute
        left 5px
        top 0
        bottom 0
        margin auto 0

    &.gamificacao-card-posicao
        &:before
            background: url('../image/img/gamefication/icon-trofeu.png') no-repeat center top
            background-size 40px

    &.gamificacao-card-pontos
        &:before
            background: url('../image/img/gamefication/icon-pontos.png') no-repeat center top
            background-size 26px

    &.gamificacao-card-medalha
        padding-left: 70px

        &:before
            background: url('../image/img/gamefication/trofeu-bronze.png') no-repeat
            background-size: contain
            width 62px
            height 70px

    &.gamificacao-card-item-small
        .gamificacao-card-tipo
            font-weight: bold
            color #EDCD5E
            font-size 20px

        &.gamificacao-card-pontos, .gamificacao-card-medalhas
            .gamificacao-card-number
                font-size: 15px

        
.popup-gamefication-points
    width: 200px
    background: #180A7C
    color #FFF
    top 30%
    right 0
    position fixed
    box-shadow: 0 0 1.5em #666
    min-height: 200px
    padding: 15px
    z-index 99

    .popup-gamefication-points-cotainer
        position relative

        .close-pop
            position: absolute
            height: 25px
            width 25px
            color #FFF
            border-radius 50%
            border 1px solid #fff
            top -10px
            right -10px
            display: flex
            justify-content: center
            align-items: center
            cursor pointer
            transition 0.2s ease all

            &:hover
                background: #fff
                color #180A7C

        .popup-gamefication-point-box
            height: 120px
            width 120px
            border 1px solid #4C8FFF
            border-radius 50%
            margin 0 auto
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center

        .popup-gamefication-point-number
            font-size: 50px
            font-weight: bold
            line-height: 40px
            text-align: center

        .popup-gamefication-point
            font-size: 20px
            font-weight: bold
            line-height: 20px
            text-align: right

        .popup-gamefication-point-text
            color #FFF
            text-align: center
            margin-top: 10px
            line-height: 18px
            

.popup-gamefication-win
    width: 280px
    background: #4C8FFF
    color #FFF
    top 5%
    right 0
    position fixed
    box-shadow: 0 0 1.5em #666
    min-height: 200px
    padding: 15px
    z-index 99

    .popup-gamefication-win-container
        position relative

        h3
            margin: 10px 0
            font-weight: normal
            font-size: 20px
            line-height: 22px

        .close-pop
            position: absolute
            height: 25px
            width 25px
            color #FFF
            border-radius 50%
            border 1px solid #fff
            top -15px
            right -10px
            display: flex
            justify-content: center
            align-items: center
            cursor pointer
            transition 0.2s ease all

            &:hover
                background: #fff
                color #180A7C


        .popup-gamefication-win-box
            display: flex
            flex-wrap wrap
            align-items: center

            figure
                width 45%

            span.popup-gamefication-win-text
                width 55%
                padding-left: 20px
                font-size: 20px
                text-transform: uppercase
                line-height: 1.2em