.histamin
    background #ffffff
    overflow-x hidden
    color #1A0947

    p
        color #1A0947
        font-size 18px

        &.texto-legal
            font-size 10px
            color #969696

    h2
        font-size 35px
        line-height 40px
        font-weight normal

    .text-new-pink
        color #BF1C7A

    .container
        max-width 1200px
        margin 0 auto

    hr
        border-top 2px solid #ecbdd8

    .banner-histamin
        background #1a0733

        img     
            margin 0 auto

    .main-title
        text-transform uppercase
        color #2B4482
        font-size 25px
        margin-bottom 20px

        &.text-new-pink
            color #bf1c7a

    .owl-nav
        position absolute
        top calc(50% - 26px)
        width 100%
        display flex
        justify-content space-between
        height 0
        left 0

        div
            position relative
            height 18px
            width 22px
            font-size 0
            width 0
            height 0
            border-top 18px solid transparent
            border-bottom 18px solid transparent
            

            &.owl-next
                border-left 25px solid #1A0947 
                right 0

            &.owl-prev
                border-right 25px solid #1A0947
                left 0
    .owl-dots    
        bottom -30px
        .owl-dot
            border-radius 10px
            height 10px
            width 10px
            background #1A0947

            &.active
                background #1A0947
                width 25px

    .histamin-section-1
        position relative 

        @media(max-width 960px)
            text-align center

        @media(min-width 960px)

            &:before
                content ''
                height 100px
                width 100px
                background url('../image/img/histamin/floco-grande.svg') no-repeat
                background-size cover  
                position absolute
                left -50px

            &:after
                content ''
                height 40px
                width 40px
                background url('../image/img/histamin/floco-pequeno.svg') no-repeat
                background-size cover  
                position absolute
                right 10px
                bottom 30px

    .dark-blue-section
        background #42AEE3
        padding 50px 0

        .owl-dots 
            .owl-dot
                border none

        @media(max-width 960px)
            padding-top 20px
            
        .histamin-videos-1
            display flex
            flex-wrap wrap

            @media(max-width 960px)
                flex-direction: column-reverse;
                

        .histamin-videos-text

            @media(max-width 960px)
                text-align center

            @media(min-width 960px)
                width 40%
                padding-right 10%
            
            .btn-default
                background #76DAFF
                color #3F65BA
                border none

                &:hover
                    background #1A0947
                    color #FFF

            h2
                color #FFF
                font-weight: bold

        .histamin-videos-carousel
            width 100%
            position relative

            @media(max-width 960px)
                margin-bottom 50px

            @media(min-width 960px)
                width 60%

            a
                position relative
                display block

                &:after
                    content ""
                    background-image url('../image/img/histamin/play-blue.png')
                    height 100px
                    width 100px
                    background-size cover
                    background-repeat no-repeat
                    position absolute
                    left 0
                    right 0
                    top 0
                    bottom 0
                    display block
                    margin auto
                    transition .3s ease
                    display block

                &:hover
                    &:after
                        height 150px
                        width 150px
        .slides
            @media(min-width 960px)
                padding 0 10%

    .histamin-cursos-section
        padding 50px 0

        @media(max-width 960px)
            text-align center

        h2
            color #42AEE3
            margin-bottom 20px

        p
            margin-bottom 20px

        img     
            display block
            border-radius 20px

        h3
            color #8D037C
            margin-top 20px

        .histamin-cursos-carousel
            margin-bottom 50px

            @media(max-width 960px)
                padding-left 40px
                padding-right 40px


        .owl-nav
            
            div
                &.owl-next
                    right -50px
                    @media(max-width 960px)
                        right -40px
                        border-left 25px solid #1A0947
                        

                &.owl-prev
                    left -50px
                    @media(max-width 960px)
                        left -40px
                        border-right 25px solid #1A0947

        .owl-dots 
            .owl-dot
                @media(max-width 960px)
                    background #1A0947

                    &.active
                        background #8D037C


    .histamin-materias-exclusivas
        background #DEF4FF
        padding 60px 0 30px 0

        a
            text-decoration none
            color #1a0947

        @media(max-width 960px)
            text-align center
            padding-top 20px

        h2
            color #8D037C

        figure
            overflow hidden
            
        img
            border-radius 15px

        h3
            font-size 25px
            line-height 27px

        article 
            p
                margin-top 20px

        .histamin-materias-1
            width 50%
            padding-right 40px

            figure
                margin-bottom 20px

        .histamin-materias-2
            width 50%

            article 
                display flex
                margin-bottom 30px
            
            figure 
                width 50%

            div
                width 50%

        .btn-default
            color #E6ACC4

            &:hover
                color colorDefault

        .materias-histamin-mobile
            padding-left 20px
            padding-right 20px
            margin-bottom 30px
            margin-top 10px

            figure 
                margin-bottom 20px

            article
                p
                    font-size 16px

            .item   
                color #1A0947
                text-align: center

            .owl-nav
                top 30%
            
                div
                    &.owl-next
                        right -55px
                        border-left 15px solid #1A0947

                        @media(max-width 960px)
                            right -25px
                            

                    &.owl-prev
                        left -55px
                        border-right 15px solid #1A0947

                        @media(max-width 960px)
                            left -25px

            .owl-dots 
                display: none

            

    .box-blue-one
        position relative
        background #1A0947
        align-items center
        background: url('../image/img/histamin/bg-quiz.jpg') no-repeat center center fixed
        text-align: center
        padding 50px 0
        margin-bottom 40px

        h2
            color #3EAEE2
            margin-bottom: 15px

        @media(max-width 960px)
            display block

            h2
                font-size 25px
                margin-bottom 20px
                line-height 27px

        figure 
            width 500px
            display block
            position relative
            left -10%

            @media(max-width 960px)
                width 100%
                max-width 90%
                margin-bottom 30px

        div
            padding 0
            width 100%

        .btn-default
            background #8D037C
            color #FFF

            &:hover
                background #ffffff
                color #8D037C

        p
            color #ffffff
            margin-bottom 20px

            &:last-child
                margin-bottom 0

        .box-blue-text
            color #FFF
            padding-right 10%
            padding-left 40px
            padding-top 30px
            padding-bottom 30px
            width calc(100% - 500px)

            @media(max-width 960px)
                width 100%
                padding-top 0
                padding-right 10%
                padding-left 10%
                text-align center


    .winter-line-container
        position relative

        @media(min-width 960px)

            &:before
                content ''
                height 100px
                width 100px
                background url('../image/img/histamin/floco-grande.svg') no-repeat
                background-size cover  
                position absolute
                left -50px

            &:after
                content ''
                height 100px
                width 100px
                background url('../image/img/histamin/floco-grande.svg') no-repeat
                background-size cover  
                position absolute
                right 10px
                bottom 30px


        h2
            color #E30083
        
        border-bottom 1px solid #8B245B
        margin-bottom 30px
        padding-bottom 30px

    .winter-line-products
        display flex
        flex-wrap wrap
        position relative
        justify-content: center

        @media(min-width 960px)

            &:after
                content ''
                height 40px
                width 40px
                background url('../image/img/histamin/floco-pequeno.svg') no-repeat
                background-size cover  
                position absolute
                right -50px
                top 100px

            &:before
                content ''
                height 40px
                width 40px
                background url('../image/img/histamin/floco-pequeno.svg') no-repeat
                background-size cover  
                position absolute
                left 0
                bottom 0

        @media(max-width 960px)
            display block

        .winter-line-item
            width 50%
            text-align center
            margin-top 20px
            margin-bottom 20px

            @media(max-width 960px)
                width 100%
                margin-bottom 30px

            span 
                color #3F65BA
                background #76DAFF
                display inline-block
                padding 13px 10px
                border-radius 30px
                width 250px
                margin 0 auto
                font-size 18px
                position relative
                font-weight bold
                z-index 2
                top -30px

            .list-img
                margin-top -60px


body.page-histamin, body.page-histamin_quiz
    @media (max-width: 960px)
        button#menu-mobile
            div 
                background #FFF



.histamin-quiz

    .container-mobile-full
        padding-left 0
        padding-right 0

    .banner-histamin
        position relative

        .content-banner-histamin-quiz
            position absolute
            max-width 1200px
            margin: 0 auto
            left 0
            right 0
            bottom 30px

            @media (max-width: 960px)
                padding-left: 15px;
                padding-right: 15px;
            
            
        h2
            color #FFF
            text-align left
            font-weight bold


    .quiz-histamin-result
        background #76DAFF
        border-radius 15px
        padding 20px
        margin-top 30px
        display none

        h2
            color #1A0947
            background #ffffff
            display inline-block
            padding 10px
            font-size 25px
            font-weight bold
            color #1A0947
            margin-bottom 20px
            border-radius 10px

        p
            color #1A0947
            background #ffffff
            padding 10px
            border-radius 10px

            .number
                font-weight bold
                display block
                margin-bottom 15px



    .histamin-quiz-intro
        background #18087C
        padding-top 30px
        padding-bottom 30px

        @media(max-width 780px)

            .container
                padding-left 0
                padding-right 0

    .main-intro
        background #e2ebff
        padding 30px 50px
        color #1A0947
        border-radius 25px

        @media(max-width 780px)
            border-radius 0
            padding 20px 15px

        p
            margin-bottom 20px

            &:last-child
                margin-bottom 0

    .histamin-quiz-container
        background #FFF7FA
        padding 30px

        @media(max-width 960px)
            padding 15px

    .main-title
        color #1899b5
        max-width 960px
        margin 0 auto

        h2
            font-size 35px
            line-height 1.1em
            margin-bottom 30px

            @media(max-width 960px)
                font-size 25px

        h3
            font-size 25px

            @media(max-width 960px)
                font-size 20px

    .refrence
        margin-top 20px
        display none

        p
            color #1A0947
            font-size 14px
            word-break break-all
            padding 15px
            padding-top 45px
            background url('../image/img/histamin/check.png') no-repeat 10px 10px
            background-size 30px
            border 1px solid #1a0947
            border-radius 10px
            margin-bottom 15px 

            strong 
                text-transform uppercase   


    .histamin-quiz-section
        margin-top 50px
        background #FFF
        padding 20px 30px

        @media(max-width 960px)
            padding 20px 15px
            margin-top 20px

        h2
            color #1A0947
            background #76DAFF
            padding 20px 30px
            border-radius 10px
            margin-bottom 30px

            @media(max-width 960px)
                font-size 20px
                line-height 23px
            
    .histamin-quiz-respostas
        display flex
        flex-wrap wrap
        position relative
        z-index 1
        justify-content center
        padding 0

        li
            width calc(50% - 20px)
            cursor pointer
            background #fff
            margin-right 20px
            margin-bottom 20px
            border-radius 20px
            overflow hidden

            figure 
                position relative
                border-radius 18px
                overflow hidden

            p
                color #1A0947
                padding 20px
                font-size 20px

                @media(max-width 960px)
                    padding 10px 5px
                    font-size 12px
                    text-align center

            &.correct
                border 2px solid #bacf09

                figure
                    &:before
                        content ''
                        height 40px
                        width 40px
                        background url('../image/img/histamin/check.png') no-repeat 0 0 
                        position absolute
                        right 20px
                        top 20px
                        border-radius 50%
                        background-size contain

                        @media(max-width 960px)
                            height 20px
                            width 20px
                            right 10px
                            top 10px


            &.incorrect
                border 2px solid #b92629

                figure
                    &:before
                        content ''
                        height 40px
                        width 40px
                        background url('../image/img/histamin/nope.png') no-repeat 0 0 
                        position absolute
                        right 20px
                        top 20px
                        border-radius 50%
                        background-size contain
                        
                        @media(max-width 960px)
                            height 20px
                            width 20px
                            right 10px
                            top 10px
