.destaque
    position relative

    .p-hero
        margin-bottom 0

.arow-bottom
    img     
        max-width 50px

.testimony-section
    text-align center
    margin 50px 0

    .testimony-container
        max-width 600px
        margin 0 auto
        position relative

            
    .testimony-prefile
        width 100px
        margin 0 auto 
        border-radius 50%
        overflow hidden


    .testimony-text
        position relative
        padding 30px 100px 0 100px
        font-size 20px
        margin-bottom 30px
        color colorGray
        font-size 16px

    .testimony-name
        color colorGray
            

        @media(max-width 960px)
            padding 30px 50px 0 50px

        &:before
            content ''
            height 100%
            width 80px
            background url('../image/img/aspa-esquerda.png') no-repeat
            background-size contain
            position absolute
            left 0
            top 0

            @media(max-width 960px)
                width 40px
                top -40px
                left 40px


        &:after
            content ''
            height 100%
            width 80px
            background url('../image/img/aspa-direita.png') no-repeat center center
            background-size contain
            position absolute
            right 0
            bottom 0

            @media(max-width 960px)
                width 40px
                bottom -40px
                right 40px
                background url('../image/img/aspa-direita.png') no-repeat center bottom
                background-size contain

.specials-section
    background #F7D64C
    padding 40px 0
    text-align center

    .owl-dots
        bottom -45px

    h2
        @media(min-width 961px)
            font-size 35px

    .specials-list

        .specials-item
            @media(max-width 960px)
                padding 0 30px

        @media(min-width 961px)
            display flex
            flex-wrap wrap
            justify-content space-between

            .specials-item
                width 33.333%
                max-width 300px

    
    .btn-default
        padding 5px 30px
        background colorDefault
        color #FFF
        text-transform none

        &:hover
            background #FFF
            color colorDefault

            span
                color colorDefault

        span 
            display block
            color colorYellow

    
    .btn-see-all
        position relative
        bottom -55px

        .btn-default
            padding 10px 40px


.enquete-section
    margin-bottom 50px

    @media(max-width 960px)
        background colorDefault
        margin-bottom 60px

    .enquete-box
        background colorDefault
        border-radius 80px
        padding 20px 20% 30px 20%
        color #FFF
        text-align center
        margin 40px 0

        @media(max-width 960px)
            padding 0
            margin 40px 0 20px 0
            
        h2
            text-align center
            color colorLightBlue
            text-transform uppercase
            margin-bottom 15px

        .enquete-form
            text-align center

            label 
                font-size 16px
                
                &.question
                    font-size 18px
                    padding-right 30px

                    @media(max-width 960px)
                        width 100%
                        display block
                        font-size 14px
                        margin-bottom 20px
                        text-align center
                        padding-right 0

                &.answer
                    padding 0 20px 
                

        .enquete-info
            background colorYellow
            color colorDefault
            display inline-flex
            margin 0 auto
            padding 20px 40px
            border-radius 60px
            align-items center
            position relative
            bottom -80px
            margin-top -80px

            @media(max-width 960px)
                bottom -60px
                margin-top -60px

            .info-1
                font-size 50px
                font-weight bold
                padding-right 20px

                @media(max-width 960px)
                    font-size 30px

            .info-2
                font-size 18px
                line-height 1.1em
                text-align left

                @media(max-width 960px)
                    font-size 14px


.racine-section
    background #F3F5FF
    padding 30px 0
    margin-bottom 40px
    margin-top 40px

    @media(max-width 960px)
        img 
            max-width 155px

    h2  
        color #585858
        font-size 18px
        margin-bottom 10px

        @media(max-width 960px)
            font-size 25px
            line-height 1.1em
            font-weight normal




.cursos-home-box
    @media(max-width 960px)
        margin-bottom 40px

    h2
        font-size 25px
        text-transform uppercase
        margin-bottom 20px

    .cursos-home-container
        
        @media(min-width 961px)
            display flex
        

        figure
            border-radius 20px
            overflow hidden

        .cursos-home-content

            @media(max-width 960px)

                margin-bottom 30px

            @media(min-width 961px)
                width 50%
                padding-right 30px
                
            a
                color colorDefault
            

            figure
                position relative

                .cursos-home-info
                    position absolute
                    bottom 20px
                    background colorYellow
                    padding 20px
                    width 70%
                    font-size 18px
                    font-weight bold

                    @media(max-width 960px)
                        font-size 14px

                    &:before
                        content ''
                        height 100%
                        position absolute
                        right -50px
                        width 50px
                        background colorYellow
                        border-radius 0 50px 50px 0
                        top 0


        .cursos-home-list

            .owl-dots
                bottom 0
            
            @media(min-width 961px)
                width calc(50% - 30px)
                padding-left 30px

        .cursos-home-item
            align-items center
            margin-bottom 10px

            @media(max-width 960px)
                padding 0 30px 20px 30px
                display block

            @media(min-width 961px)
                display flex

            .cursos-home-item-img

                @media(min-width 961px)
                    width 40%
                    padding-right 5%

            .cursos-home-item-info
                
                @media(min-width 961px)
                    width 60%

                p
                    font-size 17px
                    color colorDefault
                    font-weight bold
                    padding-top 20px
                    position relative

                    @media(max-width 960px)
                        font-size 16px

                    @media(min-width 961px)
                        &:before
                            content ''
                            height 5px
                            width 50px
                            position absolute
                            left 0
                            top 0
                            background colorLightBlue
                a
                    color colorDefault
                    font-weight bold



.quiz-box-home
    color #ffffff
    position relative
    margin-top 50px
    margin-bottom 50px

    @media(max-width 960px)
        background colorDefault
        margin-top 30px
        margin-bottom 30px
        padding 30px 0


    .owl-dots
        display none

    .owl-nav 
        .owl-prev
            left 40px
            @media(max-width 960px)
                left 0
                height 32px
                width 15px

        .owl-next
            right 40px

            @media(max-width 960px)
                right 0
                height 32px
                width 15px

    &:before
        content ''
        height 70%
        position absolute
        left 0
        top 0
        bottom 0
        margin auto
        width 100%
        background colorDefault
        z-index 0

        @media(max-width 960px)
            display none

    .quiz-box-content
        display flex
        align-items center
        z-index 1
        position relative
        padding 0 10%
        flex-wrap: wrap;

        @media(min-width 961px)
            justify-content space-around

    .quiz-box-img
        width 200px
        border-radius 50%
        overflow hidden
        border 5px solid colorYellow

        @media(max-width 960px)
            width 29%

    .quiz-box-info
        width calc(50% - 100px)
        margin-left 30px
        background colorDefault

        @media(max-width 960px)
            width 60%

        h3
            color colorLightBlue
            font-size 25px
            margin-bottom 10px

        p 
            color #ffffff
            font-size 16px

    .quiz-box-btn
        width 30%
        background colorDefault
        text-align center

        @media(max-width 960px)
            width 100%
            margin-top 20px



.recents-content-section
    background colorYellow
    color colorDefault
    padding 50px 0

    @media(max-width 960px)
        padding 20px 0

    figure 
        border-radius 20px
        overflow hidden

    .recents-content-box
        display flex

        @media(max-width 960px)
            display block
    
        .recents-box

            @media(min-width 961px)
                width calc(75% - 30px)
                padding-right 30px
                border-right 1px solid #707070

            h2
                text-transform uppercase
                font-size 30px

                @media(max-width 960px)
                    font-size 20px

            p.description
                margin-bottom 40px
                color colorDefault
                font-size 18px
                

            .recents-list
                display flex

                @media(max-width 960px)
                    display block

                    .owl-nav
                        bottom: 33%;
                        top inherit 

                h3
                    background colorDefault
                    color colorYellow
                    font-weight: normal
                    padding: 8px 8px 8px 60px
                    position: relative
                    border-radius: 23px
                    margin-bottom 20px


                    @media(max-width 960px)
                        
                        margin 0 auto
                        margin-bottom 20px

                    i 
                        position absolute
                        width 50px
                        height 50px
                        background-color #2442A7
                        top calc(50% - 25px)
                        left 0
                        border-radius 50px
                        background-size 25px
                        background-repeat no-repeat
                        background-position: center;

                        &.icon-materia
                            background-image url('../image/img/file-icon.svg')

                        &.icon-podcast
                            background-image url('../image/img/podcast-icon.svg')
                            background-size 15px 25px

                        &.icon-quiz
                            background-image url('../image/img/quiz-icon.svg')
                            background-size 19px

                p
                    margin-bottom 20px
                    color colorDefault
                    font-weight bold
                    font-size 16px
                    min-height 70px

                .recents-item
                    width 33.333%
                    margin-right 20px

                    @media(max-width 960px)
                        width 100%
                        padding 15px 30px 0
                            
                        img
                            border-radius 20px

        .more-access
            @media(min-width 961px)
                padding-left 30px
                width calc(25% - 30px)

            @media(max-width 960px)
                margin-top 20px

                .slides
                    padding-bottom 60px

            h2
                text-transform uppercase

                @media(max-width 960px)
                    padding-left 30px

            .more-access-box
                padding 5px 0

                @media(max-width 960px)
                    width 100%
                    padding 0 30px
                        
                    img
                        border-radius 20px

                h3
                    font-size 14px
                    margin-bottom 10px
                    font-size 16px

                    @media(max-width 960px)
                        padding-top 30px

                        &:before
                            content ""
                            height 5px
                            width 50px
                            position absolute
                            left 30px
                            top 15px
                            background #18cee3



.video-home
    background colorDefault
    padding 40px 0

    @media(max-width 960px)
        padding 0


        .container
            padding-left 0
            padding-right 0
    
    h2
        color #FFF
        
        @media(min-width 960px)
            font-size 45px
            line-height 1.4em

        @media(max-width 960px)
            padding 15px
            text-align center
            font-weight normal
        
    .video-home-row
        display flex
        flex-wrap wrap
        align-items center

    .video-home-text
        width 100%

        @media(min-width 960px)
            width calc(50% - 20px)
            margin-right 20px

    .video-home-video
        width 100%

        @media(min-width 960px)
            width calc(50% - 20px)
            margin-left 20px