.page-incentivo
    .header-top
        
        .container
            background url('../image/img/raking-gray-bg.png') no-repeat left center
            background-size auto 150%
            padding 80px 0

            @media(max-width 960px)
                background-size auto 100%
                background-position -30%

        h2
            font-size 25px

        p
            font-size 16px

    .src-points
        background colorDefault 
        margin-bottom 50px
        

        .container
            padding-top 80px
            padding-bottom 80px

            @media(max-width 960px)
                background none
                max-width 80%
                margin 0 auto
                padding-top 25px
                padding-bottom 25px

        h3
            text-align center
            color #FFF
            font-size 18px
            margin-bottom 30px

            span 
                color colorYellow

        .form
            max-width 600px
            margin 0 auto

            input 
                width calc(100% - 50px)
                border-radius 5px 0 0 5px
                border none
                padding 7px 20px
                color colorGray

                &:focus
                    outline: none


            button
                background #FFF
                border-radius 0 5px 5px 0
                width 50px
                text-align center
                border none
                cursor pointer

                i 

                    font-size 23px
                    color #707070

        .result-box
            border-top 1px solid #f9c2ca
            margin-top 20px
            padding-top 30px
            color #FFF
            
            h4
                font-size 25px
                font-weight normal 

            p
                color #FFF
                font-size 30px
                font-weight bold