.page-tickets-corinthians, .page-tickets-corinthians-result, .page-corinthians-always-ready, .corinthians-always-ready-result, .page-corinthians-always-ready-teaser,.page-corinthians-fluminense-teaser, .page-corinthians-fluminense-result, .page-corinthians-fluminense
    .search-global
        display none

    .logged .header
        background none

.page-voucher-uber
    background #110903
    color #FFF
    background #110903 url('../image/img/voucher-uber/bg.jpg') no-repeat bottom center
    padding-bottom: 50px

    p.texto-legal
        line-height: 15px
        font-size 9px

    .btn-default
        background #665619
        color #fff3ba
        border 1px solid #665619

        &.btn-arena
            color #FFF

        &:hover
            background #fff3ba
            color #665619

    &.page-result-voucher-uber
        @media(min-width: 960px)
            h2
                font-size 38px
                font-weight 400

                span 
                    display block
                    color #FFF
                    font-size 30px

            p
                font-size 20px

    &.page-ingresso-corinthian-teaser
        padding-bottom: 50px

        h2
            font-weight 400

            @media(min-width: 960px)
                font-size 32px
                line-height: 1.1em

            span
                @media(min-width: 960px)
                    font-size 30px
                
                @media(max-width: 960px)
                    color #FFF
                
                font-weight: normal

    .header-voucher-uber
        margin-bottom 30px
        position relative

        h2
            margin-bottom 20px

            span
                color #f4d22b

        @media(min-width: 960px)
            h2
                padding-right 150px
                position relative

                &:before
                    background url('../image/img/voucher-uber/logo-arena.png') no-repeat
                    content ''
                    width 150px
                    height 150px
                    position absolute
                    right 0
                    top 0
                    background contain
                    background-size contain

    .container
        max-width 960px
        margin 0 auto
    h3
        color #f4d22b

    &.page-voucher-uber-main

        h2
            font-weight: 400

            span
                font-weight: bold

    p, label 
        color #FFF

    .form 
        .form-control, p
            background rgba(255, 219, 45, 0.3)
            border none
            color #FFF

        p
            display block
            width 100%
            padding 2px 10px
            font-size 1.2em
            border-radius 15px
            height 28px