.live-vida-saudavel
    background #041a72
    color #FFF

    .container
        max-width 900px

    p
        color #FFF

    .banner-live-vida-saudavel
        padding-top 160px
        padding-bottom 50px
        position relative

        @media(min-width: 960px)
            &:before
                content ''
                height 30px
                width 30px
                background-image url('../image/img/live-vida-saudavel/seta.svg')
                position absolute
                bottom 0
                left 0
                right 0
                margin 0 auto
                background-size contain
                background-repeat no-repeat


        ul
            margin-top 40px

            @media(min-width: 960px)
                display flex
                justify-content center

            li  
                display flex
                align-items center

                @media(max-width: 960px)
                    margin-bottom 30px

                    &:last-child
                        margin-bottom 0


                @media(min-width: 960px)
                    width 33.333%

                h3
                    color #76D1FA
                    text-transform uppercase 

                figure 
                    width calc(40% - 20px)
                    border-radius 50%
                    overflow hidden
                    background #FFF
                    margin-right 20px

                    img 
                        background-size cover
                        background-poistion center

                div
                    width 60%

    .cowntdown-section
        background #76D1FA
        color #041a72
        text-align center
        padding 40px 0

        h2
            font-size 37px

        #clock
            display flex
            justify-content center
            text-align center
            font-weight bold

        .clock-number
            background #041a72
            color #ffffff
            font-size 40px
            padding 20px
            margin 0 10px 10px 10px
            font-weight bold

            @media(max-width: 960px)
                margin 0 5px 10px 5px
        
        .clock-point
            font-size 20px
            line-height 90px


        h2 
            margin-bottom 30px

    .live-vida-video-section
        padding 40px 0

        .live-vida-video-box
            max-width 600px
            margin 0 auto

        h2
            background #76D1FA
            color #041a72
            padding 20px
            border-radius 40px
            text-transform uppercase
            max-width 600px
            margin 0 auto
            margin-bottom 30px

            a
                display block
                color #041a72

            span 
                display block
                font-size 14px
                text-transform inherit

    .play
        position relative
        display block

        &:after
            content ""
            background-image url('../image/img/live-vida-saudavel/play.png')
            height 100px
            width 100px
            background-size cover
            background-repeat no-repeat
            position absolute
            left 0
            right 0
            top 0
            bottom 0
            display block
            margin auto
            transition .3s ease
            display block

            @media(max-width: 960px)
                height 50px
                width 50px

    .live-vida-logos
        padding 40px 0

        ul
            @media(min-width: 960px)
                display flex
                justify-content space-between

            @media(max-width: 960px)
                max-width 200px
                margin 0 auto

                li
                    margin-bottom 30px

        img
            @media(min-width: 960px)
                max-height 70px

