.video-item
    margin-bottom 30px

    &:last-child
        margin-bottom 0

    a
        display flex
        align-items flex-start

    figure
        margin-right 20px
        width calc(50% -20px)
        background colorDarkPurple
        position relative

        &:before
            content ''
            height 50px
            width 50px
            top 0
            left 0
            right 0
            bottom 0
            margin auto
            position absolute
            background-image url('../image/img/play.png')
            background-size cover
            z-index: 2
            transition 0.3s ease

        img
            width 100%
            background-size 100%
            background-repeat no-repeat
            background-position center center
            opacity 0.5
            font-size 0
            z-index: 1
    @media(min-width 961px)
        &:hover
            figure 
                &:before
                    height 80px
                    width 80px
        
    
    .info-video
        width 50%

.video-main
    max-width 960px
    margin 0 auto


