.page-novembro_azul

    .footer
        z-index 99
        position relative
        margin-top 0
    
    @media (max-width: 960px)
        button#menu-mobile 
            div
                background #FFF

.page-novembro-azul

    .banner-novembro-azul
        text-align center
        background #150B77

    .container
        max-width 960px

    .novembro-azul-section-1
        background #150B77
        color #FFF
        position relative

        @media (max-width: 960px)
            padding 30px 0

        @media (min-width: 961px)

            &:before
                content ''
                background url('../image/img/novembro-azul/novembro-azul-frase.png') no-repeat
                position absolute
                height 250px
                width 100%
                right 0
                top 0
                background-size contain
                background-position right
                z-index 0

            &:after
                content ''
                background url('../image/img/novembro-azul/novembro-azul-frase.png') no-repeat
                position absolute
                height 150px
                width 100%
                left 0
                top 50px
                background-size contain
                z-index 0


        .novembro-azul-text
            color #7CC1FA

            @media (max-width: 960px)
                font-size 12px
                padding-left 20px

        .novembro-azul-section-1-row
            display flex
            align-items center
            justify-content center
            position relative
            z-index 1

        .novembro-azul-img
            width 40%
            

        .novembro-azul-text
            width 60%
            text-transform uppercase
            font-style italic

    .novembro-azul-cards-title
        padding-bottom 40px
        padding-top 30px
        position relative
        display inline-block
        font-style italic

        &:before
            content ''
            height 5px 
            width 100%
            position absolute
            bottom 30px
            background #65C3FF


    .cards-novembro-azul
        padding 50px 0

        @media(max-width 960px)
            .card-carousel
                padding 0 50px 

        .owl-dots
            display none

        .owl-nav
            top calc(50% - 60px)

            div
                height 43px
                width 20px

            .owl-next
                right -40px
                background url('../image/img/novembro-azul/seta-direita.svg') no-repeat
                background-size contain

            .owl-prev
                left -40px
                background url('../image/img/novembro-azul/seta-esquerda.svg') no-repeat
                background-size contain

        .cards-novembro-azul-img
            background #FFF
            display block
            border-radius 15px
            margin-bottom 30px
            overflow auto

        .btn-default
            background #150B77
            color #65C3FF
            border-radius 10px
            text-transform inherit
            padding 8px 40px

            &:hover
                background #65C3FF
                color #150B77


    .novembro-azul-section
        background #150B77
        color #FFF
        padding-top 40px
        
        position relative

        @media(min-width 961px)
            padding-bottom 280px

            &:before
                content ''
                background url('../image/img/novembro-azul/novembro-azul-frase.png') no-repeat
                position absolute
                height 250px
                width 100%
                right -75px
                bottom 30px
                background-size contain
                background-position right
                z-index 0

            &:after
                content ''
                background url('../image/img/novembro-azul/novembro-azul-frase.png') no-repeat
                position absolute
                height 250px
                width 100%
                left -75px
                bottom 30px
                background-size contain
                z-index 0

        .grid
            position relative
            z-index 1

        h2
            color #7CC1FA
            font-size 30px
            text-transform uppercase
            font-style italic
            margin-bottom 30px

    .novembro-azul-section-img
        img
            border-radius 30px

    .novembro-azul-section-text
        padding-left 30px

        a
            color #ffffff

            &:hover
                color #ffffff
                text-decoration underline

        @media(max-width 960px)
            padding-left 0
            margin-top 20px

        p
            color #FFF
            padding 10px 40px 10px 20px
            border-left 3px solid #65C3FF
            font-style italic

            @media(min-width 960px)
                margin-top 30px

    
    .novembro-azul-section-fita
        margin 0 auto

        @media(max-width 960px)
            width 250px
            padding-bottom 80px

        @media(min-width 960px)
            width 100px
            display block
            position absolute
            left 0
            right 0
            bottom 60px

        