
a.regulamento-btn
    color colorPurple
    text-decoration underline
    margin-bottom 15px
    display inline-block

    &:hover
        text-decoration none

#aceitou-btn
    font-size 16px
    min-width 300px
    padding 15px 20px

#regulamento-modal
    font-size 16px


#oriente-me
    a
        img:hover
            opacity 1

    &.oriente-me-principal
        
        .container
            @media(max-width 961px)
                padding-left 30px
                padding-right 30px

            @media(min-width 961px)
                max-width 960px

    .video-play
        position relative
        display block

        &:after
            content ""
            background-image url('../image/img/oriente-me/play.png')
            height 100px
            width 100px
            background-size cover
            background-repeat no-repeat
            position absolute
            left 0
            right 0
            top 0
            bottom 0
            display block
            margin auto
            transition .3s ease
            display block

            @media(max-width 961px)
                height 50px
                width 50px 

        &:hover
            &:after
                height 120px
                width 120px

                @media(max-width 961px)
                    height 50px
                    width 50px 

    .section-blue
        position relative
        color #FFF
        margin-top 30px
        padding-top 40px

        &:before
            content ''
            height 80%
            width 100%
            left 0 
            top 0
            background #0d265e
            position absolute

        &.section-quiz
            h3
                @media(max-width 960px)
                    font-size 20px

                    strong  
                        font-weight normal
            &:before
                @media(max-width 960px)
                    height 60%
                    

        p
            color #FFF
            font-size 20px
            margin-bottom 20px

            @media(max-width 960px)
                font-size 18px

        h3
            font-size 22px
            color #002c42
            font-weight normal

            a
                color #002c42

        

        .container
            position relative
            z-index 1

    .oriente-section-posts-container
        position relative
        margin-top: 40px

        .container
            @media(min-width 960px)
                max-width: 90%

            @media(min-width 1400px)
                max-width: 1200px

    .oriente-section-posts
        position relative
        z-index 1
        text-align: center
        
        h2
            margin-top 10px
            margin-bottom 40px
            color #059883
            font-size 30px

            @media(max-width 960px)
                font-size 20px
                margin-bottom 20px

        &.oriente-section-posts-half
            .oriente-posts

                @media(min-width 960px)
                    margin-left -20px
                    display flex
                    flex-wrap wrap


            .oriente-post
                
                width calc(50% - 20px)

                @media(min-width 960px)
                    padding: 0 30px
                    margin-left 20px

                @media(max-width 960px)
                    width 100%

        .oriente-post
            margin-bottom 60px

            @media(max-width 960px)
                margin-bottom 30px


            h3
                margin-top 10px
                font-size 20px
                text-align: center
                color #059883


                @media(max-width 960px)
                    font-size 20px

                    strong 
                        font-weight normal

            p
                color #002c42

            a
                color #059883
            
            
    p
        font-size 16px


    .box-talk
        display flex
        align-items center 

        @media (max-width 960px)
            display block

        figure 
            width 20%
            text-align center
            display block
            padding 20px

            @media (max-width 960px)
                width 100%

            img

                max-height 80%

        span 
            background #18087c
            color #FFF
            width 80%
            display block
            padding 20px 30px
            border-radius 10px

            @media (max-width 960px)
                width 100%

    .banner-main
        background-color #d7d7d7
        img 
            margin 0 auto

    .icons-oriente
        .item
            width 33.333%
            padding 0 5%
            color #5D5D5D
            font-size 16px

            figure
                margin-bottom 20px

        @media (max-width 960px)
            display block

            .item
                width 100%
                margin-bottom 30px

                figure 
                    padding 0 30px

                &:last-child
                    margin-bottom 0

    @media (max-width 960px)
        p
            font-size 16px

@media (max-width 960px)
    #regulamento-modal .modal-content
        h2
            font-size 18px
    
@media (min-width 960px)
    #regulamento-modal .modal-content
        max-width 960px
        padding 40px 100px

        .close-modal
            font-size 30px

        h2
            font-size 18px

#oriente-me-info

    @media(max-width 960px)
        p 
            font-size 16px

        h3
            font-size 22px

    hr
        border-top 1px solid #707070
        margin-top 0

    .logo-oriente-me
        max-width 300px
        margin 0 auto
        padding-top 50px

        @media(max-width 960px)
            max-width 200px

    .green-light-box
        background #6BCFCC
        padding 50px 100px
        border-radius 30px
        color #FFF

        @media(max-width 960px)
            padding 30px

        .app-stores
            margin-bottom 20px
            img 
                max-width 150px

        p 
            color #FFF
            padding-bottom 20px

            &:last-child
                padding-bottom 0

        h4
            padding-top 15px

            @media(max-width 960px)
                font-size 20px
                margin-bottom 15px

        h2
            font-size 30px
            margin-bottom 5px

    .video-embed
        border-radius 20px
        overflow hidden
        margin-top 20px

    @media(min-width 961px)
        .small-container
            max-width 70%
            margin 0 auto

    

.faixa-banner
    background: #66AE7E
    color #FFF
    text-align: center
    padding: 15px 0
    font-size: 18px

.oriente-section-1
    padding: 40px 0

    h2
        color #019584
        font-size: 28px
        margin-bottom: 20px

    p
        color #535353
        margin-bottom: 15px

    .btn-default
        border 1px solid #019584
        background: #019584
        color #FFF

        &:hover
            background: #fff
            color #019584

    .oriente-section-1-btns
        @media(min-width 960px)
            display: flex
            justify-content: center;
            align-items: center;
            flex-wrap: wrap

        span 
            padding: 0 20px
            font-size 20px

            @media(max-width 960px)
                display: block
                padding: 10px 0
#oriente-me

    .section-fixed-orienteme
        padding: 30px 0
        color #FFF
        margin-bottom: 30px

        @media(min-width 960px)
            height 400px

        .container
            display flex
            flex-direction column
            align-items center
            justify-content center
            height 100%

        h2
            margin 10px 0
            font-size 30px

            @media(max-width 960px)
                font-size: 20px

        p
            font-size: 20px

            @media(max-width 960px)
                font-size: 16px



    .assistencia-tecnica-orienteme
        background: url('../image/img/oriente-me/assistencia-tecnica.jpg') no-repeat center top fixed
        
        h2
            color #6DF7C3

        p
            color #FFF


    .com-quem-voce-se-comunicar-orienteme
        background: url('../image/img/oriente-me/com-quem-voce-ira-se-comunicar.jpg') no-repeat center top fixed

        h2
            color #019683

        p
            color #3B3B3B


    .quanto-isso-ira-custar-orienteme
        background: url('../image/img/oriente-me/quanto-isso-ira-custar.jpg') no-repeat center top fixed

        p
            color #FFF

            span 
                background: #6DF7C3
                color #17826F
                font-weight: bold
                display: inline-block
                padding: 2px

        h2
            color #6DF7C3

    

    .com-oque-a-orienteme-ira-ajudar-section
        text-align: center
        padding: 30px 0
        
        h2
            font-size: 30px
            color #019683
            margin-bottom: 35px

        .com-oque-a-orienteme-ira-ajudar-box

            figure
                margin-bottom: 15px

                img
                    height: 50px

            h3
                color #019683
                font-size: 20px
                margin-bottom: 10px


            p
                color #1A0947
                font-size: 14px

 
            @media(min-width 960px)
                display: flex
                flex-wrap: wrap
                justify-content: center

                .com-oque-a-orienteme-ira-ajudar-item
                    width: 33.333%

            .com-oque-a-orienteme-ira-ajudar-item
                padding: 0 20px 20px 20px


    .o-que-pensa-quem-usa-section
        background: #019683 url('../image/img/oriente-me/o-que-pensa-quem-usa-bg.jpg')
        padding: 40px 0

        .container
            max-width 96%

        .item
            background: url('../image/img/oriente-me/o-que-pensa-quem-usa-itembg.png') no-repeat center
            background-size contain
            transform: scale(0.7)

        .center
            .item
                transform: scale(1)

        .owl-dots
            display: none

        .owl-nav
            top calc(50% - 43px)

            div
                background-size cover
                height: 95px

            .owl-next
                background: url('../image/img/oriente-me/seta.png') no-repeat
                background-size cover
                right -23px
            
            .owl-prev
                background: url('../image/img/oriente-me/seta.png') no-repeat
                background-size cover
                left -23px
                transform: rotate(180deg)


    .oriente-bottom
        margin-top: 40px

        h2
            color #059883
            font-size 25px
            margin-bottom: 40px

            @media(max-width 960px)
                br
                    display: none

        .btn-default
            background: colorDefault
            color #FFF
            border-radius: 7px
            cursor inherit
            text-transform inherit