#page-outubro-rosa
    .btn-default
        background #E62296
        color #ffffff
        border 1px solid #E62296
        
        &:hover
            background none

    .container
        max-width 960px

    .seta-site  
        max-width 30px
        margin 0 auto

    .owl-nav
        top calc(50% - 60px)
        
        div
            height 35px
            width 23px


        .owl-next
            right -40px
            @media(max-width 960px)
              right -10px

        .owl-prev
            left -40px
            @media(max-width 960px)
              left -10px
    .owl-dots
        display none

    hr
        border-color #E62296


    .outubro-rosa-text
        color #9B1062
        text-decoration underline
        font-size 23px
        font-weight bold
        margin 0 auto

    .outubro-rosa-section-1
        text-align center
        padding 60px 0
        position relative

        .barra-section-1
           padding-bottom 20px

        @media(min-width 960px)
            .barra-section-1
                padding-top 30px
                padding-bottom 30px

            &:before
                content ''
                height 150px
                width 100%
                background url('../image/img/outubro-rosa/bg-1.png') no-repeat right top
                background-size contain
                position absolute
                right 0

    .outubro-rosa-mao
        img
            margin 50px auto 20px auto
            position relative
            z-index 2

            @media(min-width 960px)
                max-width 700px
                margin 50px auto
        
        position relative

        @media(min-width 960px)
            &:before
                content ''
                height 200px
                width 100%
                background url('../image/img/outubro-rosa/bg-2.png') no-repeat
                background-size contain
                position absolute
                left 0
                top calc(50% - 100px)
                z-index 1

    .outubro-rosa-cards-title
        background #E62296
        color #FFF
        padding 14px 30px
        border-radius 25px

        @media(max-width 960px)
            border-radius 35px

    .cards-outubro-rosa
        padding 50px 0
        background #9B1062

        .owl-nav

            .owl-next
                background-image: url('../image/img/outubro-rosa/seta-direita-branca.svg');
                background-size: cover;

            .owl-prev
                background-image: url('../image/img/outubro-rosa/seta-esquerda-branca.svg');
                background-size: cover;

        .cards-outubro-rosa-img
            background #FFF
            display block
            border-radius 15px
            margin-bottom 30px
            overflow auto

    .materias-outubro-rosa
        padding 30px 0 200px 0
        position relative

        @media(max-width 960px)
            padding 30px 0 100px 0

        &:before
            content ''
            height 200px
            width 100%
            background url('../image/img/outubro-rosa/bg-4.png') no-repeat
            background-size contain
            position absolute
            left -100px
            bottom 0

            @media(max-width 960px)
                height 73px
                left -50px

        .owl-nav

            .owl-next
                background-image: url('../image/img/outubro-rosa/seta-direita.svg');
                background-size: cover;

            .owl-prev
                background-image: url('../image/img/outubro-rosa/seta-esquerda.svg');
                background-size: cover;

        .laco-outubro-rosa
            position absolute
            left 0
            top -50px
            max-width 280px

        h2
            color #E62296
            font-size 60px

        .materias-outubro-rosa-img
            border 1px solid #9B1062
            display block
            border-radius 15px
            margin-bottom 15px
            overflow auto

        h3
          text-align center
          margin-bottom 15px
          color #E62296

          a
            text-decoration none
            color #9B1062

        .outubro-rosa-text
            margin 30px 0