.produtos
    .p-intro
        font-size 18px
        margin-top 20px
        margin-bottom 50px

        @media(max-width 960px)
            margin-bottom 20px

    .prod-top-filters
        @media(max-width 960px)
            margin-bottom 30px

        @media(min-width 960px)
            display flex

        .menu-prod-filter
            @media(min-width 960px)
                width 60%

        .itens-top-filter
            @media(max-width 960px)
                margin-top 10px

            @media(min-width 960px)
                width 40%

        .filter-list
            text-align center

            a
                @media(max-width 960px)
                    display inline-block
                    margin 10px
                    font-size 13px

            @media(min-width 960px)
                display flex
                align-items: center;
                justify-content: space-between;

    .btns-filter-prod
        display flex
        justify-content flex-end
        
        @media(max-width 960px)
            justify-content space-between;


.product-section
    
    .header-main
        position relative

        h1
            padding-left 30px
            padding-right 30px

    .product-like-button
        position: absolute
        right 0    

.prod-app-download
    figure
        width 50%
    

    .icons-down-story
        width 50%

        a
            display block
            max-width 120px
            margin 10px auto

    @media(min-width 960px)
        max-width 600px
        margin 0 auto
        
        .icons-down-story
            a
                max-width 180px

.menu-prod-filter
    li
        width 33.33%
        text-align center

    button 
        background none
        color colorDefault
        border none
        font-size 1.3em
        font-weight bold
        transition 0.5s ease
        padding 3px 30px
        border-radius 15px

        @media(max-width 320px)
            font-size 1.1em

        @media(min-width 960px)
            padding 5px 8px

        &:hover, &.active
            background colorDefault 
            color #FFF

.filter-btns-txt
    display flex
    align-items center

    a
        color colorDefault
        font-size 18px

        &:hover
            text-decoration none

.products-filter
    overflow hidden
    position relative
    min-height 40px

    @media(min-width 960px)
        margin-bottom 25px

    .total-prod
        color colorDefault
        font-size 1.3em
        float left

    .filter-prod
        background transparent
        width 50px
        height 40px
        cursor pointer
        transition ease-in-out .3s
        border none
        text-align center
        padding 8px

        div
            background colorDefault 
            width 100%
            height 4px
            margin 5px auto 0 auto
            border-radius 9px
            transition ease-in-out .12s
            &:nth-child(2)
                width 100%
            &:nth-child(3)
                margin-top -4px
                width 100%
            &:nth-child(4)
                width 100%
            &:first-child
                margin 0

    .src-prod

        .btn-src
            background-color transparent
            border none

            i 
                font-size 25px

        form
            display flex
            
            input
                height 40px
                color colorDefault
                border none
                background #FFF
                padding 0 10px
                width calc(100% - 40px)

                @media(max-width 960px)
                    padding 0

            button
                height 30px
                width 30px
                background none 
                border none

                i
                    color colorDefault
                    font-size 25px

.product-section
    width 100%
    
    flex-wrap: wrap;
    
    
    .prod-list-content
        @media(min-width 960px)   
            width 50%

.inter-prod-box
    width 50%
    margin-bottom 20px

    @media(max-width 960px)
        width 100%

    figure
        width 50%
        margin-right 20px

    .prod-info
        align-items: flex-start
        width 50%
     

.prod-box
    width 100%
    display flex
    align-items center

    h2
        font-size: 20px
    
    figure
        width 50%

    .prod-info
        width 50%

    @media(min-width 960px)
        h3
            font-size 1.5em

        p
            font-size 1.2em
            
.slide-product-image
    max-width 600px
    margin 0 auto
    
    .owl-carousel .owl-item img
        width inherit 


@media(max-width 960px)
    .product-section
        .content-text
            p
                font-size 1em
                margin-bottom 15px


.apresentacoes-prod
    figure
        width 120px
    
    div
        width calc(100% - 120px)

        p
            margin 0 !important

        a
            font-weight bold