.quiz
    .banner-main .p-hero .p-hero__body
        width 30%

        @media(max-width 960px)
            width calc(90% - 50px)
    .container-quiz
        @media(max-width 960px)
            padding 0


.list-quizes
    max-width 960px
    margin 40px auto 0 auto

    .item-quizes
        
        padding 20px 30px

        @media(min-width 961px)
            display flex
            align-items center
            border-bottom 1px solid colorDefault 

        &.list-quiz-recent
            background colorDefault
            padding 20px 30px
            border-bottom none

            @media(min-width 961px)
                border-radius 40px
            
            .list-quiz-title
                @media(min-width 961px)
                    display flex
                    align-items center

                span 
                    color colorYellow
                    display inline-block

                    @media(min-width 961px)
                        padding-right 20px
                        border-right 1px solid #FFF

                a
                    color #FFF
                    display inline-block
                    
                    @media(min-width 961px)
                        padding-left 20px

        .list-quiz-title
            
            font-size 16px 
            font-weight bold

            @media(max-width 960px)
                margin-bottom 30px
                font-size 20px
            
            @media(min-width 961px)
                width calc(100% - 200px)
                
            a   
                color colorDefault

        .list-quiz-button

            @media(max-width 960px)
                text-align center
            
            @media(min-width 961px)
                width 200px
                text-align right 
            

.form-quiz
    label 
        font-size 16px
        display flex
        width 100%

        .input
            width 30px

        .text
            width calc(100% - 30px)


.quiz-feedback
    padding 20px
    background #ffd800
    margin-bottom 20px

    p
        font-size 16px
        margin-bottom 0
        font-weight bold
        color colorDefault
        


.new-quiz

    .container-mobile-full
        padding-left 0
        padding-right 0

    .new-quiz-result
        background #76DAFF
        border-radius 15px
        padding 20px
        margin-top 30px
        display none

        h2
            color #1A0947
            background #ffffff
            display inline-block
            padding 10px
            font-size 25px
            font-weight bold
            color #1A0947
            margin-bottom 20px
            border-radius 10px

        p
            color #1A0947
            background #ffffff
            padding 10px
            border-radius 10px

            .number
                font-weight bold
                display block
                margin-bottom 15px

    .new-quiz-intro
        background #18087C
        padding-top 30px
        padding-bottom 30px

        @media(min-width 780px)
            font-size 23px

        @media(max-width 780px)

            .container
                padding-left 0
                padding-right 0

                h2
                    padding-left 15px
                    padding-right 15px

    .main-intro
        background #e2ebff
        padding 30px 50px
        color #1A0947
        border-radius 25px

        @media(max-width 780px)
            border-radius 0
            padding 20px 15px

        p
            margin-bottom 20px

            &:last-child
                margin-bottom 0

    .new-quiz-container
        background #FFF7FA
        padding 30px

        @media(max-width 960px)
            padding 15px

    .main-title
        color #1899b5
        max-width 960px
        margin 0 auto

        h2
            font-size 35px
            line-height 1.1em
            margin-bottom 30px

            @media(max-width 960px)
                font-size 25px

        h3
            font-size 25px

            @media(max-width 960px)
                font-size 20px

    .refrence
        margin-top 20px
        display none

        p
            color #1A0947
            font-size 14px
            word-break break-all
            padding 15px
            padding-top 45px
            background url('../image/img/check.png') no-repeat 10px 10px
            background-size 30px
            border 1px solid #1a0947
            border-radius 10px
            margin-bottom 15px 

            strong 
                text-transform uppercase   


    .new-quiz-section
        margin-top 50px
        background #FFF
        padding 20px 30px

        @media(max-width 960px)
            padding 20px 15px
            margin-top 20px

        h2
            color #1A0947
            background #76DAFF
            padding 20px 30px
            border-radius 10px
            margin-bottom 30px

            @media(max-width 960px)
                font-size 20px
                line-height 23px
            
    .new-quiz-respostas
        display flex
        flex-wrap wrap
        position relative
        z-index 1
        padding 0

        li
            width calc(25% - 20px)
            cursor pointer
            background #fff
            margin-right 20px
            margin-bottom 20px
            border-radius 20px
            overflow hidden
            position relative

            figure 
                position relative
                border-radius 18px
                overflow hidden

            p
                color #1A0947
                padding 20px
                font-size 16px

                @media(max-width 960px)
                    padding 10px 5px
                    font-size 12px
                    text-align center

            &.correct
                border 2px solid #bacf09

                &:before
                    content ''
                    height 40px
                    width 40px
                    background url('../image/img/check.png') no-repeat 0 0 
                    position absolute
                    right 5px
                    top 5px
                    border-radius 50%
                    background-size contain
                    z-index 1

                    @media(max-width 960px)
                        height 20px
                        width 20px
                        right 10px
                        top 10px


            &.incorrect
                border 2px solid #b92629

                &:before
                    content ''
                    height 40px
                    width 40px
                    background url('../image/img/nope.png') no-repeat 0 0 
                    position absolute
                    right 5px
                    top 5px
                    border-radius 50%
                    background-size contain
                    z-index 1
                    
                    @media(max-width 960px)
                        height 20px
                        width 20px
                        right 10px
                        top 10px


.page-quiz_do
    .search-global
        display none