.ranking-table

    table
        width 100%

    .avatar-ranking
        padding-top 10px
        padding-bottom 10px
        width 60px

        img 
            height 50px

    @media(min-width 960px)
        .avatar-ranking
            img
                height 100px
    
    .name-ranking
        padding-top 10px
        padding-bottom 10px
        width 60%

        .table-medal
            margin-left 10px
            margin-right 10px
            width 30px
            text-align center

            img
                width 30px
        
        .table-text
            width calc(100% - 50px)

    @media(min-width 960px)
        .name-ranking
            .table-medal
                img
                    height 100px

    .point-ranking
        padding-top 10px
        padding-bottom 10px
        text-align right
        width 23%
        font-size 1.3em


.ranking-top-box
    margin-bottom 10px

    .ranking-top-image
        border-right 1px solid colorPurple
        padding-right 5% 
        padding-left 5% 
        width 35%
    
    .ranking-top-text
        padding-left 5%
        width 65%

        h3
            margin-bottom 20px
    