.page-satisfacao_arena, .page-satisfacao_agredecimento
    .search-global
        display: none

.page-satisfacao-arena-main
    background: #110903 url('../image/img/satisfacao/bg.jpg') bottom center no-repeat
    color #FFF
    background-size cover
    padding-bottom: 50px

    .page-satisfacao-arena-agradecimento
        height 100%
        display: flex
        flex-direction: column
        align-items: center
        min-height 300px
        justify-content: center

        h2
            font-size 28px
        

    .text-yelllow
        color #f1cf00

    p
        color #FFF


    .satisfacao-pergunta
        margin-top 30px

        p
            background: #f1cf00
            color #100a06
            display: inline-block
            padding: 5px 20px
            border-radius 5px
            margin-bottom: 15px

        .satisfacao-perguntas-list
            display: flex
            align-items: center
            justify-content: center

            label
                margin 0 10px
                color #f1cf00
                font-size 18px


                span 
                    display: block
                    margin-bottom: 5px
                    height: 16px
                    width 16px
                    border-radius 50%
                    border 1px solid #f1cf00

                    &.checked
                        background: #f1cf00


                    input
                        height: 0
                        width 0
                        border none
                        opacity 0

    
    .satisfacao-sugestao
        margin-top: 20px

        label
            display: block
            font-size 18px
            font-weight: bold
            margin-bottom: 15px

        textarea
            display: block
            width: 100%
            height: 50px
            border-radius 10px
            max-width: 600px
            margin 0 auto 20px auto
            color #000
            padding: 10px


    .btn-default
        background: #f1cf00
        color #100a06
        border-radius 10px
        border 1px solid #f1cf00
        text-transform: capitalize
        font-weight: bold

        &:hover
            background: #100a06
            color #f1cf00

