@font-face {
    font-family: 'Neusa Next Pro Condensed Medium';
    src: url('../fonts/NeusaNextPro/NeusaNextPro-CondensedMedium.woff2') format('woff2'),
        url('../fonts/NeusaNextPro/NeusaNextPro-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neusa Next Pro Condensed Regular';
    src: url('../fonts/NeusaNextPro/NeusaNextPro-CondensedRegular.woff2') format('woff2'),
        url('../fonts/NeusaNextPro/NeusaNextPro-CondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neusa Next Pro Compact Bold';
    src: url('../fonts/NeusaNextPro/NeusaNextPro-CompactBold.woff2') format('woff2'),
        url('../fonts/NeusaNextPro/NeusaNextPro-CompactBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neusa Next Pro Compact Regular';
    src: url('../fonts/NeusaNextPro/NeusaNextPro-CompactRegular.woff2') format('woff2'),
        url('../fonts/NeusaNextPro/NeusaNextPro-CompactRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.page-voucher_uber
    .search-global
        display none

    .logged .header
        background none

    

.page-voucher-uber
    background #110903
    color #FFF
    background #110903 url('../image/img/voucher-uber/bg.jpg') no-repeat center center
    padding-bottom: 50px
    font-family: 'Neusa Next Pro Condensed Regular';
    letter-spacing: 1px

    strong
        font-family: 'Neusa Next Pro Compact Bold';

    p.texto-legal
        line-height: 15px
        font-size 8px

    .btn-default
        background rgba(2, 20, 53, 0.4)
        color #fff3ba
        border none

        &.btn-arena
            color #FFF

        &:hover
            background #021435

    &.page-result-voucher-uber
        @media(min-width: 960px)
            h2
                font-size 55px
                font-weight 400
                line-height: 50px

                span 
                    display block

            p
                font-size 20px

    &.page-ingresso-corinthian-teaser
        padding-bottom: 50px

        h2
            font-weight 400

            @media(min-width: 960px)
                font-size 32px
                line-height: 1.1em

            span
                @media(min-width: 960px)
                    font-size 30px
                
                @media(max-width: 960px)
                    color #FFF
                
                font-weight: normal

    .header-voucher-uber
        margin-bottom 30px
        position relative

        h2
            margin-bottom 20px

            span
                color #f4d22b

        @media(min-width: 960px)
            h2
                padding-right 150px
                position relative

                &:before
                    background url('../image/img/voucher-uber/logo-arena.png') no-repeat
                    content ''
                    width 150px
                    height 150px
                    position absolute
                    right 0
                    top 0
                    background contain
                    background-size contain

    .container
        max-width 960px
        margin 0 auto
    h3
        color #fff
        font-family: 'Neusa Next Pro Compact Bold';
        font-size 30px


    &.page-voucher-uber-main

        h2
            font-weight: 400

            span
                font-weight: bold

    p, label 
        color #FFF

    .form 
        .form-control, p
            background rgba(255, 255, 255, 0.3)
            border none
            color #FFF

        p
            display block
            width 100%
            padding 2px 10px
            font-size 1.2em
            border-radius 15px
            height 28px

        .p-accept-term
            background: none

            a
                color #FFF
                text-decoration: underline

                &:hover
                    text-decoration: none

            label 
                font-size: 18px

        select.form-control
            option
                color #000