.page-setembro_amarelo
    background #FBC200

    .search-global
        display none


    .setembro-amarelo 
        .container
            max-width 960px

    .banner
        padding-top 100px

        p
            font-size 18px
            margin-bottom 30px

        
        @media(max-width: 960px)
            padding-left 0
            padding-right 0
            padding-top 0
            text-align center

            p
                padding-left 15px
                padding-right 15px
                text-align left
                

    .setembro-amarelo-faixa
        background #1A2361
        color #FFF
        padding 40px 0

        @media(max-width: 960px)
            .container  
                padding 0

        .grid-sys
            margin-bottom 0

        .grid
            align-items center

        figure 
            border-radius 15px
            overflow hidden

            @media(max-width: 960px)
                border-radius 0

        h2
            font-size 28px
            font-weight normal

            a
                color #FFF

                &:hover
                    text-decoration none
                    color #fbc200

            @media(max-width: 960px)
                padding 0 15px
                font-size 22px
                margin-top 20px

            span 
                display block
                font-size 55px
                line-height 1em

                @media(max-width: 960px)
                    font-size 30px
    
    .setembro-amarelo-posts
        padding 60px 0 0 0

        h2
            margin-bottom 30px
            color #1A2361

            @media(min-width: 960px)
                font-size 30px

        figure
            border-radius 15px
            overflow hidden
        
        h3
            font-size 20px
            margin-top 10px
            margin-bottom 10px

            a
                color #1A2361


        .setembro-amarelo-cards
            @media(max-width: 960px)
                padding 0 20px

            .grid
                @media(min-width: 960px)
                    display flex !important

        .owl-dots
           display none

        .owl-carousel 
            .owl-item
                img
                    width auto 
                    max-width 100%

        .owl-nav
            position absolute
            width 100%
            top calc(42% - 50px)
            right 0
            left 0
            max-width 960px
            margin auto

            div
                position absolute
                display inline-block
                height 53px
                width 20px
                font-size 0
                background-size 100%
                background-position 50%
                background-repeat no-repeat
                top 0

            .owl-prev
                    left: -30px;
                    background-image: url('../image/img/setembro-amarelo/left-arow.svg')

            .owl-next
                right: -30px;
                background-image: url('../image/img/setembro-amarelo/right-arow.svg')
    

