{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Documentário{% endblock %}
    
{% block body %}
    <div class="documentario-page" id="documentario-page">
        <div class="container">
            <img src="{{ asset('_dist/image/img/documentario/banner-top.png')}}" alt="">
        </div>

        <section class="documentario-section-text-1">
            <p>
                Os farmacêuticos exercem um papel fundamental no acesso à saúde para
                grande parte da população. E, para homenageá-los, nós viajamos pelos 
                quatro cantos do Brasil para reunir histórias que reforçam o carinho 
                e a dedicação de todos esses profissionais quê tem uma vocação 
                em comum: cuidar!
            </p>
        </section>

        <section class="documentario-video-section">
            <h2>Confira essas histórias no documentário produzido pela parceria entre a ONG ImageMagica e a Neo Química!</h2>
            <div class="documentario-video-box">
                <div class="video-cover">
                    <div class="btn-play" data-modal="video1"></div>
                    <a href="" data-modal="video1">
                        <img src="{{ asset('_dist/image/img/documentario/cover-video.png')}}" alt="" />
                    </a>
                </div>
            </div>
        </section>

        <section class="conheca-nossa-historia">
            <div class="container">
                <h2>Conheça um pouco mais sobre cada uma dessas histórias!</h2>

                <div class="documentario-carousel-depoimentos">
                    <div class="slides owl-carousel">
                        <div class="item text-center">
                            <div class="documentario-perfil">
                                <div class="documentario-avatar">
                                    <img src="{{ asset('_dist/image/img/documentario/camila-jorge.jpg')}}" alt="">
                                </div>
                                <h3>CAMILA JORGE<span>FARMACÊUTICA (CRF/SP 058015)</span></h3>
                            </div>
                            <div class="documentario-info">
                                <div class="left">
                                   <img src="{{ asset('_dist/image/img/documentario/citacao.png')}}" alt="">
                                </div>
                                <div class="center">
                                    <p>
                                        Camila Jorge conhece praticamente todos os moradores da pequena Bananal (SP), cidade com pouco mais de 10 mil habitantes e rodeada pela Serra da Bocaina. Na farmácia, conheceu seu João Valim, paciente que se tornou amigo. Como seu João mora na zona rural, sempre que faz colheitas, ele traz algo para Camila e o pessoal da farmácia. “Como eu cuido do povo, o povo também cuida de mim”, diz ela emocionada. 
                                    </p>
                                    <p> 
                                        "O que eu mais gosto no meu trabalho é essa ligação afetiva e profissional com a população. Esse contato e cuidado me fazem bem." - Camila Jorge
                                    </p>
                                </div>
                                
                                <div class="right">
                                    <img src="{{ asset('_dist/image/img/documentario/citacao.png')}}" alt="">
                                </div>
                            </div>  
                        </div>

                        <div class="item text-center">
                            <div class="documentario-perfil">
                                <div class="documentario-avatar">
                                    <img src="{{ asset('_dist/image/img/documentario/ronei.jpg')}}" alt="">
                                </div>
                                <h3>RONEI FELICIANO DA COSTA <span>FARMACÊUTICO (CRF/SP 077020)</span></h3>
                            </div>
                            <div class="documentario-info">
                                <div class="left">
                                   <img src="{{ asset('_dist/image/img/documentario/citacao.png')}}" alt="">
                                </div>
                                <div class="center">
                                    <p>
                                       É com o maior carinho que Ronei Feliciano da Costa, farmacêutico de Bananal (SP), começa seu dia antes mesmo de entrar na farmácia, para visitar alguns pacientes com dificuldade de sair de casa. A visita à dona Nely dos Santos, de 79 anos, traz a segurança e a confiança que ela precisava para seguir seu tratamento. Para Ronei, “cuidar de pessoas é viver”.
                                    </p>
                                </div>
                                
                                <div class="right">
                                    <img src="{{ asset('_dist/image/img/documentario/citacao.png')}}" alt="">
                                </div>
                            </div>  
                        </div>

                        <div class="item text-center">
                            <div class="documentario-perfil">
                                <div class="documentario-avatar">
                                    <img src="{{ asset('_dist/image/img/documentario/antonio.jpg')}}" alt="">
                                </div>
                                <h3>ANTONIO CLARET CHAGAS <span>FARMACÊUTICO (CRF/MG 3858)</span></h3>
                            </div>
                            <div class="documentario-info">
                                <div class="left">
                                   <img src="{{ asset('_dist/image/img/documentario/citacao.png')}}" alt="">
                                </div>
                                <div class="center">
                                    <p>
                                       Antônio Claret Chagas, ou Claret, como é conhecido em Caeté (MG), vem de uma família de quatro gerações de farmacêuticos: avô, pai, tio e tia. A história de seus antepassados também é a história da farmácia: os farmacêuticos faziam suas próprias fórmulas, guardadas nas boticas. A preservação dessa história, da farmácia e da família, fez com que Claret guardasse esse acervo para mostrar no Museu Farmácia Ideal, que será inaugurado em uma parte do casarão que abriga a farmácia da família. 
                                    </p>
                                    <p>
                                        “Nós todos sabemos que a saúde é o bem maior que podemos almejar. Vamos dar valor àquilo que realmente merece ter valor.” – Antônio Claret Chagas
                                    </p>
                                </div>
                                
                                <div class="right">
                                    <img src="{{ asset('_dist/image/img/documentario/citacao.png')}}" alt="">
                                </div>
                            </div>  
                        </div>

                        <div class="item text-center">
                            <div class="documentario-perfil">
                                <div class="documentario-avatar">
                                    <img src="{{ asset('_dist/image/img/documentario/luiz-antonio.jpg')}}" alt="">
                                </div>
                                <h3>LUIZ ANTÔNIO CHAGAS <span>FARMACÊUTICO (CRF/MG 12303)</span></h3>
                            </div>
                            <div class="documentario-info">
                                <div class="left">
                                   <img src="{{ asset('_dist/image/img/documentario/citacao.png')}}" alt="">
                                </div>
                                <div class="center">
                                    <p>
                                       Luiz Antônio Chagas precisou provar seu valor para a comunidade de Caeté (MG), que conhecia e respeitava seu pai, o Claret, farmacêutico importante da cidade. Aos poucos, Luiz foi mostrando seu dom para continuar exercendo essa profissão que tanto cativou sua família há gerações. Hoje, ele cuida das 3 farmácias da família junto a seu pai e ainda desperta a curiosidade de seu filho pela profissão. Durante a pandemia, ficou na linha de frente, dando assistência e suporte à população caeteense. 
                                    </p>
                                    <p>    
                                        "A função do farmacêutico é cuidar: seja com um medicamento, um olhar ou simplesmente dedicar o seu tempo ao outro." – Luiz Antonio Chagas
                                    </p>
                                </div>
                                
                                <div class="right">
                                    <img src="{{ asset('_dist/image/img/documentario/citacao.png')}}" alt="">
                                </div>
                            </div>  
                        </div>

                        <div class="item text-center">
                            <div class="documentario-perfil">
                                <div class="documentario-avatar">
                                    <img src="{{ asset('_dist/image/img/documentario/adriane-rosa.jpg')}}" alt="">
                                </div>
                                <h3>ADRIANE ROSA <span>FARMACÊUTICA (CRF/GO 11832)</span></h3>
                            </div>
                            <div class="documentario-info">
                                <div class="left">
                                   <img src="{{ asset('_dist/image/img/documentario/citacao.png')}}" alt="">
                                </div>
                                <div class="center">
                                    <p>
                                       Adriane Rosa é personagem forte e inspiradora. Sua história de vida foi marcada por muita luta e resiliência. Fundou a farmácia de Alto Paraíso com seu irmão e cursou farmácia já trabalhando e com 2 filhas. Juntou uma turma de mais de 20 pessoas e viajava toda a semana para assistir às aulas. Infelizmente, dias antes da celebração de sua formatura, perdeu seu marido num trágico acidente de carro. Arrasada, Adriane juntou forças com o apoio da família e dos amigos da cidade para seguir em frente e continuar sua missão. Hoje, ela cuida da população de Alto Paraíso com muito carinho, como a dona Severa, que ela visita frequentemente e acompanha seu tratamento". 
                                    </p>
                                    <p>
                                        “Eu ajudo porque eu quero o bem do meu paciente, do meu amigo e do meu irmão. A minha doação é essa.” – Adriane Rosa
                                    </p>
                                </div>
                                
                                <div class="right">
                                    <img src="{{ asset('_dist/image/img/documentario/citacao.png')}}" alt="">
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="modal-default video-modal" id="video1">
            <div class="content-form-src-desk">
                <div class="modal-content">
                    <div class="text-center space-h-20">
                        <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                    </div>
                    {# <div class="text-center space-h-20">
                        <h2>Vídeo 1</h2>
                    </div> #}
                    <div class="video-embed">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ayk5z42VkVs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block javascripts %} 
    <script>
        $(document).ready(function(){
            //Carrossel Podcast
            if($(".documentario-carousel-depoimentos .slides").length) {
				$(".documentario-carousel-depoimentos .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					loop: true,
					nav: true,
                    center: true,
					items: 1
				});
			}
        });
    </script>

{% endblock %}


