{% extends 'admin.html.twig' %}

{% block title %}Dashboard Neoquimica{% endblock %}

{% block body %}
    <h1 class="title">Usuários</h1>
    <div class="hold-graphic">
        <h1>Usuários Por Mês</h1>
        <div class="graph" id="lead-month"></div>
    </div>
    <div class="hold-graphic">
        <h1>Usuários Por Mês e Gênero</h1>
        <div class="graph" id="lead-gender"></div>
    </div>
    <div class="hold-graphic">
        <h1>Farmacêuticos Por Mês e Estado</h1>
        <div class="graph" id="lead-state-pharma"></div>
    </div>

    <div class="double-field">
        <div class="hold-graphic">
            <h1>Farmacêutico Por Gênero</h1>
            <div class="graph" id="pharma-gender-lifetime"></div>
        </div>
        <div class="hold-graphic">
            <h1>Farmacêutico Por Estado</h1>
            <div class="graph" id="pharma-state-lifetime"></div>
        </div>
    </div>
    <div class="hold-graphic">
        <h1>Balconistas Por Mês e Estado</h1>
        <div class="graph" id="lead-state-balco"></div>
    </div>
    <div class="double-field">
        <div class="hold-graphic">
            <h1>Balconistas Por Gênero</h1>
            <div class="graph" id="balco-gender-lifetime"></div>
        </div>
        <div class="hold-graphic">
            <h1>Balconistas Por Estado</h1>
            <div class="graph" id="balco-state-lifetime"></div>
        </div>
    </div>
    <h1 class="title">Blog</h1>
    <div class="hold-graphic">
        <h1>Post por mês</h1>
        <div class="graph" id="post-by-month"></div>
    </div>
    <div class="double-field">
        <div class="hold-graphic">
            <h1>Blog por Tipo</h1>
            <div class="graph" id="post-by-type"></div>
        </div>
        <div class="hold-graphic">
            <h1>Blog por Categoria</h1>
            <div class="graph" id="post-by-category"></div>
        </div>
    </div>
    <div class="double-field">
        <div class="hold-graphic">
            <h1>Posts Mais Lidos</h1>
            <div class="graph">
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th>Título</th>
                        <th>Views</th>
                        <th>Leitura</th>
                        <th>Criado em</th>
                    </tr>
                    
                    {% for p in postByViews %}
                        <tr>
                            <td>{{p.title}}</td>
                            <td class="center">{{p.views}}</td>
                            <td class="center">{{p.reading_time}}</td>
                            <td class="center">{{p.created_at|date('Y-m-d')}}</td>
                        </tr>
                    {% endfor %}
                </table>
            
            </div>
        </div>
        <div class="hold-graphic">
            <h1>Posts Mais Pontudos</h1>
            <div class="graph">
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th>Título</th>
                        <th>Nota</th>
                        <th>Leitura</th>
                        <th>Criado em</th>
                    </tr>
                    
                    {% for p in postByScore %}
                        <tr>
                            <td>{{p.title}}</td>
                            <td class="center">{{p.score}}</td>
                            <td class="center">{{p.reading_time}}</td>
                            <td class="center">{{p.created_at|date('Y-m-d')}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <h1 class="title">Cursos</h1>
    <div class="hold-graphic">
        <h1>Cursos Inscrições e Conclusões</h1>
        <div class="graph" id="course-stats"></div>
    </div>
    <div class="hold-graphic">
        <h1>Tempo médio para conclusão de curso</h1>
        <div class="graph">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>Curso</th>
                    <th>AVG Conclusão (dias)</th>
                    <th>Aulas</th>
                    <th>Conclusões</th>

                </tr>
                
                {% for p in courseAvgTimeToComplete %}
                    <tr>
                        <td>{{p.name}}</td>
                        <td class="center">{{(p.timediff/86400)|round }}</td>
                        <td class="center">{{p.classes}}</td>
                        <td class="center">{{p.total}}</td>
                    </tr>
                {% endfor %}
            </table>
        
        </div>
    </div>
{% endblock %}  

{% block javascripts %}
    
    <script>
        var colors = ['#0000ff','#0099ff','#0269b0','#05053a','#070754','#087ac6','#12538f','#1a1ac5','#213e71','#242542','#242a4c','#25325d','#2e2ea2','#2e2ea2','#3ab0ff','#3d79ab','#5050ff','#52799a','#56569b','#7f8b95','#9191ff','#93d4ff','#c9eaff','#d2d2ff','#d8d8ff','#e9f6ff','#eeeeff'];

        var graphMonthLead = JSON.parse('{{ graphMonth|json_encode|raw }}');
        var chartMonthLead = c3.generate({
            bindto: '#lead-month',
            data: {
                x: 'x',
                columns: graphMonthLead,
                type: 'bar',
                labels: true,
                colors : {
                    'balconista' : '#0099ff',
                    'farmacêutico' : '#05053a',
                }
            },
            legend: {
                hide: false
            },
            bar: {
                width: {
                    ratio: 0.2 // this makes bar width 50% of length between ticks
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%m/%y'
                    }
                }
            },
            color: {
               pattern: colors
            }
        });

        var graphGender = JSON.parse('{{ graphGender|json_encode|raw }}');
        var chartGender = c3.generate({
            bindto: '#lead-gender',
            data: {
                x: 'x',
                columns: graphGender,
                type: 'bar',
                groups: [
                    ['balconista masculino', 'balconista feminino'],
                    ['farmacêutico masculino', 'farmacêutico feminino'],
                ],
                labels: true,
                colors : {
                    'balconista masculino' : '#B22222',
                    'balconista feminino' : '#20B2AA',
                    'farmacêutico masculino' : '#FF6347',
                    'farmacêutico feminino' : '#008080',
                }
            },
            legend: {
                hide: false
            },
            bar: {
                width: {
                    ratio: 0.2 // this makes bar width 50% of length between ticks
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%m/%y'
                    }
                }
            },
            color: {
               pattern: colors
            }
        });

        var graphState = JSON.parse('{{ graphState.balconista is defined ? graphState.balconista|json_encode|raw : "[]" }}');
        var chartStateBalconista = c3.generate({
            bindto: '#lead-state-balco',
            data: {
                x: 'x',
                columns: graphState,
                type: 'spline'
            },
            legend: {
                hide: false
            },
            bar: {
                width: {
                    ratio: 0.2 // this makes bar width 50% of length between ticks
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%m/%y'
                    }
                }
            },
        });
        
        var graphState = JSON.parse('{{ graphState.farmaceutico is defined ? graphState.farmaceutico|json_encode|raw : "[]" }}');
        var chartStateFarmaceutico = c3.generate({
            bindto: '#lead-state-pharma',
            data: {
                x: 'x',
                columns: graphState,
                type: 'spline'
            },
            legend: {
                hide: false
            },
            bar: {
                width: {
                    ratio: 0.2 // this makes bar width 50% of length between ticks
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%m/%y'
                    }
                }
            },
        });

        var graphStateLifetime = JSON.parse('{{ graphStateLifetime.farmaceutico is defined ? graphStateLifetime.farmaceutico|json_encode|raw : "[]" }}');
        var chartStateLifetimeFarmaco = c3.generate({
            donut: {
                title: "Farmacêutico por Estado"
            },
            bindto: '#pharma-state-lifetime',
            data: {
                // iris data from R
                columns: graphStateLifetime,
                type : 'donut',
                colors: colors
            },
            legend: {
                hide: false,
                position: 'bottom'
            }
        });
        
        var graphGenderLifetime = JSON.parse('{{ graphGenderLifetime.farmaceutico is defined ? graphGenderLifetime.farmaceutico|json_encode|raw : "[]" }}');
        var chartLifetimeFarmaco = c3.generate({
            donut: {
                title: "Farmacêutico por Gênero"
            },
            bindto: '#pharma-gender-lifetime',
            data: {
                // iris data from R
                columns: graphGenderLifetime,
                type : 'donut',
                colors : {
                    'Masculino' : '#B22222',
                    'Feminino' : '#20B2AA',
                }
            },
            legend: {
                hide: false,
                position: 'bottom'
            }
        });

        var graphStateLifetime = JSON.parse('{{ graphStateLifetime.balconista is defined ? graphStateLifetime.balconista|json_encode|raw : "[]" }}');
        var chartStateLifetimeBalconista = c3.generate({
            donut: {
                title: "Balconistas por Estado"
            },
            bindto: '#balco-state-lifetime',
            data: {
                // iris data from R
                columns: graphStateLifetime,
                type : 'donut',
                colors: colors
            },
            legend: {
                hide: false,
                position: 'bottom'
            }
        });
        
        var graphGenderLifetime = JSON.parse('{{ graphGenderLifetime.balconista is defined ? graphGenderLifetime.balconista|json_encode|raw : "[]" }}');
        var chartGenderLifetimeBalconista = c3.generate({
            donut: {
                title: "Balconistas por Gênero"
            },
            bindto: '#balco-gender-lifetime',
            data: {
                // iris data from R
                columns: graphGenderLifetime,
                type : 'donut',
                colors : {
                    'Masculino' : '#B22222',
                    'Feminino' : '#20B2AA',
                }
            },
            legend: {
                hide: false,
                position: 'bottom'
            }
        });

        var graphPostByMonthGraph = JSON.parse('{{ graphPostByMonthGraph|json_encode|raw }}');
        var chartPostByMonthGraph = c3.generate({
            bindto: '#post-by-month',
            data: {
                x: 'x',
                columns: graphPostByMonthGraph,
                type: 'line'
            },
            legend: {
                hide: false
            },
            bar: {
                width: {
                    ratio: 0.1 // this makes bar width 50% of length between ticks
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%m/%y'
                    }
                }
            },
            color: {
               pattern: colors
            }
        });

        var graphPostByType = JSON.parse('{{ graphPostByType|json_encode|raw }}');
        var chartPostByType = c3.generate({
            donut: {
                title: "Tipos de Post"
            },
            bindto: '#post-by-type',
            data: {
                // iris data from R
                columns: graphPostByType,
                type : 'donut',
                colors: colors
            },
            legend: {
                hide: false,
                position: 'bottom'
            }
        });

        var graphPostByCategory = JSON.parse('{{ graphPostByCategory|json_encode|raw }}');
        var chartPostByCategory = c3.generate({
            donut: {
                title: "Categorias de Post"
            },
            bindto: '#post-by-category',
            data: {
                // iris data from R
                columns: graphPostByCategory,
                type : 'donut',
                colors: colors
            },
            legend: {
                hide: false,
                position: 'bottom'
            }
        });

        var courseStatistic = JSON.parse('{{ courseStatistic|json_encode|raw }}');
        var chartCourseStatistic = c3.generate({
            bindto: '#course-stats',
            data: {
                x: 'x',
                columns: courseStatistic,
                type: 'bar',
                labels: true
            },
            legend: {
                hide: false
            },
            bar: {
                width: {
                    ratio: 0.2 // this makes bar width 50% of length between ticks
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%m/%y'
                    }
                }
            },
            color: {
               pattern: colors
            }
        });

    </script>
{% endblock %}
