<form method="post" action="{{ path('admin_medals_gamification_delete', {'id': medals_gamification.id}) }}" onsubmit="return confirm('Tem certeza de que deseja excluir este item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medals_gamification.id) }}">
    
    <a href="{{ path('admin_medals_gamification_index') }}" class="btn btn-success">Voltar</a>
    <a href="{{ path('admin_medals_gamification_edit', {'id': medals_gamification.id}) }}" class="btn btn-primary">Editar</a> 
    <button class="btn btn-danger">Delete</button>
</form>
