{% extends 'admin.html.twig' %}

{% block title %}MedalsGamification index{% endblock %}

{% block body %}
    <h1>Medalhas Gameficação</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Medalha</th>
                <th>Icone</th>
                <th>Descrição</th>
                <th>Ativo</th>
                <th>Campanhas</th>
                <th>Criado em</th>
                <th>Atualizado em</th>
               <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
        {% for medals_gamification in medals_gamifications %}
            <tr>
                <td>{{ medals_gamification.id }}</td>
                <td>{{ medals_gamification.name }}</td>
                <td><img src="{{ asset(medals_gamification.icon) }}" /></td>
                <td>{{ medals_gamification.description }}</td>
                <td>{{ medals_gamification.isActive ? 'Sim' : 'Não' }}</td>
                <td>{{ medals_gamification.isCampaign ? 'Sim' : 'Não' }}</td>
                <td>{{ medals_gamification.createdAt ? medals_gamification.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ medals_gamification.updatedAt ? medals_gamification.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td class="center">
                    <div class="row">
                                
                        <!-- /.col -->                     
                        <div class="col-6">
                            <a href="{{ path('admin_medals_gamification_edit', {'id': medals_gamification.id }) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                        </div>
                        
                        <div class="col-6">
                            <a href="{{ path('admin_medals_gamification_show', {'id': medals_gamification.id}) }}" class="btn btn-warning btn-block justify-content-center">Visualizar</a>
                            {# <a href="{{ path('admin_special_campaign_delete', {'id': special.id }) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a> #}
                        </div>
                    
                        <!-- /.col -->
                    </div>
                    
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_medals_gamification_new') }}">Novo</a>
{% endblock %}
