{% extends 'admin.html.twig' %}

{% block title %}MedalsGamification{% endblock %}

{% block body %}
    <h1>Medalha {{ medals_gamification.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medals_gamification.id }}</td>
            </tr>
            <tr>
                <th>Medalha</th>
                <td>{{ medals_gamification.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ medals_gamification.slug }}</td>
            </tr>
            <tr>
                <th>Ícone</th>
                <td><img src="{{ asset(medals_gamification.icon) }}" /></td>
            </tr>
            <tr>
                <th>Descrição</th>
                <td>{{ medals_gamification.description }}</td>
            </tr>
            <tr>
                <th>Ativo</th>
                <td>{{ medals_gamification.isActive ? 'Sim' : 'Não' }}</td>
            </tr>
            <tr>
                <th>Campanha</th>
                <td>{{ medals_gamification.isCampaign ? 'Sim' : 'Não' }}</td>
            </tr>
            <tr>
                <th>Criado em</th>
                <td>{{ medals_gamification.createdAt ? medals_gamification.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Atualizado em</th>
                <td>{{ medals_gamification.updatedAt ? medals_gamification.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

 
    {{ include('admin_medals_gamification/_delete_form.html.twig') }}
{% endblock %}
