{% extends 'admin.html.twig' %}

{% block title %}Farmácias
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Farmácias</h3>
                </div>
                
                <div class="box-body">
                    <div class="form-group">
                        <label for="course_name">Import Farmácias</label>
                        <input id="arquivo" name="arquivo" type="file" required/>
                        <div class="pharma-response" style="overflow: auto;">
                            <!-- load message -->
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-success sendFile" data-path="{{ path('admin_pharmacy_import') }}">Enviar</button>
                    </div>
                </div>

                 {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        {% if ( label == 'success' ) %}
                            <div class="alert alert-success alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% elseif ( label == 'error' ) %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <div class="box-body">
                    <h1 class="text-center"> Farmácias </h1>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                 
                                    <th>PDV</th>

                                    <th>CNPJ</th>

                                    <th>Bairro</th>

                                    <th>Cidade</th>

                                    <th>Estado</th>

                                    {# <th>Acões</th> #}
                                </tr>
                            </thead>
                             <tbody>
                                {% if pharmacies|length > 0 %}
                                    {% for pharmacy in pharmacies %}
                                        <tr>
                                            <td>{{ pharmacy.pdv }}</td>
                                            <td>
                                                {{ pharmacy.cnpj}}
                                            </td>
                                            <td>
                                                {{ pharmacy.neighborhood }}
                                            </td>
                                            <td class="center">
                                                {{ pharmacy.city }}
                                            </td>
                                            <td class="center">
                                                {{ pharmacy.state }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">Nenhum registro foi encontrado.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="box-paginator">
                    {{ knp_pagination_render(pharmacies) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // register farmacia
        $(".sendFile").on("click", function() {
            var $this     = $(this);
            var url       = $this.data('path');
            var form_data = new FormData(); 
            
            form_data.append('arquivo', $('#arquivo').prop('files')[0]);                  
            form_data.append('loadXml', true);                  
            
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                async: true,
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                beforeSend: function() {
                  //loading
                },
                success: function (response) { 
                    if(response.status){
                        if (response.amount > 0) {    
                            $('.pharma-response').css('max-height','200px');
                            $('.pharma-response').append('<p>' + response.message +'</p>');
                            loadXml($this);
                        } else {
                             $('.pharma-response').append(response.message);
                        }                                 
                    }else{
                        $('.pharma-response').append(response.message);
                    }              
                }
               
            });
        });

        function loadXml($this){
            var url = $this.data('path');
                
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: {'loadXml':true, 'number': 50},
                beforeSend: function() {
                   // $this.text('Carregando...');
                    //$this.attr("disabled", true);
                },
                success: function (response) {
                    if(response.status){
                        if (response.amount > 0) {
                            $('.pharma-response').append('<p>' + response.message +'</p>');
                            loadXml($this);
                        } else {
                             $('.pharma-response').append(response.message);
                        }                                  
                    }else{
                        $('.pharma-response').append(response.message);  
                    }
                   // $this.text('Enviar');
                   // $this.attr("disabled", false);                 
                }
               
            });

            return true;
        }
    </script>
{% endblock %}