{% extends 'admin.html.twig' %}

{% block title %}BLOG | POST | LISTAGEM
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Posts</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>

                                    <th>Titulo</th>
                                    
                                    <th>Tipo</th>

                                    <th>Categoria</th>

                                    <th>Tempo de Duração</th>

                                    <th>Ativo</th>

                                    <th>Criado Em</th>

                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if posts|length > 0 %}
                                    {% for post in posts %}
                                        <tr>
                                            <td class="center">
                                                <a href="{{ path('admin_blog_post_edit', { 'id': post.id }) }}">
                                                    {{ post.id }}
                                                </a>
                                            </td>
                                            <td>{{ post.title }}</td>
                                            <td class="center">{{ post.type.name }}</td>
                                            <td class="center">{{ post.category.name }}</td>
                                            <td class="center">{{ post.getReadingTimeString() }}</td>
                                            <td class="center">
                                                {% if post.isActive %}
                                                    <span class="label label-success">Sim</span>
                                                {% else %}
                                                    <span class="label label-danger">Não</span>
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                {% if post.createdAt %}
                                                    {{ post.createdAt|date('d/m/Y H:i:s') }}
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_blog_post_view', { 'id': post.id}) }}">
                                                    Ver
                                                    <i class="fa fa-eye"></i>
                                                </a>

                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_blog_post_edit', { 'id': post.id}) }}">
                                                    Editar
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">Nenhum registro foi encontrado.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="box-paginator">
                    {{ knp_pagination_render(posts) }}
                </div>

                <div class="box-footer">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_blog_post_new') }}">
                        Novo
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
