{% extends 'admin.html.twig' %}

{% block title %}BLOG | POST | NOVO
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Adicionar Post</h3>
                </div>

                <form action="{{path('admin_blog_post_new')}}" enctype="multipart/form-data" method="POST">

                    <div class="box-body">
                        <div class="form-group">
                            <label for="post_title">Título</label>
                            <input id="post_title" name="post[title]" type="text" required/>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="post_type">Tipo</label>
                                <select id="post_type" name="post[type]" required>
                                    <option>Selecione uma opção</option>
                                    {% for type in types %}
                                        <option value="{{type.id}}" data-slug="{{type.slug}}">{{type.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="post_category">Categoria</label>
                                <select id="post_category" name="post[category]" required>
                                    <option>Selecione uma opção</option>
                                    {% for category in categories %}
                                        <option value="{{category.id}}">{{category.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="post_tags">Tags</label>
                                <input id="post_tags" name="post[tags]" type="text" required/>
                            </div>
                            <div class="form-group">
                                <label for="post_readingTime">Duração do Post (leitura, video ou podcast)</label>
                                <input type="time" min="00:00:00" min="23:59:59" step="1" id="post_readingTime" name="post[readingTime]" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descrição Curta</label>
                            <input class="form-control" type="text"  name="post[shortDescription]"/>
                        </div>
                        <div class="form-group">
                            <label for="post_description">Descrição</label>
                            <textarea class="ckeditor required" id="post_description" name="post[description]" type="text"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="post_metaTitle">Meta Title (SEO)</label>
                            <input class="ckeditor" id="post_metaTitle" name="post[metaTitle]" type="text" required/>
                        </div>
                        <div class="form-group">
                            <label for="post_metaDescription">Meta Descrição (SEO)</label>
                            <input class="ckeditor" id="post_metaDescription" name="post[metaDescription]" type="text" required/>
                        </div>

                        <div class="form-group-double" id="hold-podcast-file">
                            <div class="form-group">
                                <label for="post_podcastFile">Podcast File</label>
                                <input accept=".mp3" id="post_podcastFile" name="post[podcastFile]" type="file"/>
                            </div>
                            <div class="form-group">
                                <label for="podcast-preview">Podcast Preview</label>
                                <audio id="podcast-preview" controls>
                                    <source id="podcast-file-preview" src="" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                        </div>
                        <div class="form-group-double" id="hold-video-file">
                            <div class="form-group">
                                <label for="post_videoFile">Video File</label>
                                <input accept=".mp4" id="post_videoFile" name="post[videoFile]" type="file"/>
                            </div>
                            <div class="form-group">
                                <label for="video-preview">Video Preview</label>
                                <video id="video-preview" controls>
                                    <source id="video-file-preview" src="" type="video/mp4">
                                    Your browser does not support the video element.
                                </video>
                            </div>
                        </div>
                        <div class="form-group" id="hold-post-text">
                            <label for="post_post">Post</label>
                            <textarea class="ckeditor required" id="post_post" pattern=".{20,}" name="post[post]" required></textarea>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <div id="preview-web" class="preview-img"></div>
                                <label for="post_image">Imagem</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="post_image" name="post[image]" type="file" required/>
                               <label id="mensagem-web" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                <p></p>
                                <label for="post_imageMetaTitle">Image Meta Title (SEO)</label>
                                <input id="post_imageMetaTitle" name="post[imageMetaTitle]" type="text" required/>
                                <label for="post_imageMetaDescription">Image Meta Description (SEO)</label>
                                <input id="post_imageMetaDescription" name="post[imageMetaDescription]" type="text" required/>
                            </div>
                            <div class="form-group">
                                <div id="preview-mobile" class="preview-img"></div>
                                <label for="post_imageMobile">Imagem Mobile</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="post_imageMobile" name="post[imageMobile]" type="file" required/>
                               <label id="mensagem-mobile" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                <p></p>
                                <label for="imageMetaTitle">Image Mobile Meta Title (SEO)</label>
                                <input id="post_imageMobileMetaTitle" name="post[imageMobileMetaTitle]" type="text" required/>
                                <label for="imageMetaDescription">Image Mobile Meta Description (SEO)</label>
                                <input id="post_imageMobileMetaDescription" name="post[imageMobileMetaDescription]" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="post_isOnlyToPharmaceutical">Farmacêuticos</label>
                                <input data-toggle="toggle" id="post_isOnlyToPharmaceutical" name="post[isOnlyToPharmaceutical]" type="checkbox">
                            </div>
                            <div class="form-group">
                                <label for="post_isOnlyToClerk">Balconista</label>
                                <input data-toggle="toggle" id="post_isOnlyToClerk" name="post[isOnlyToClerk]" type="checkbox">
                            </div>
                            <div class="form-group">
                                <label for="post_isActive">Ativo</label>
                                <input checked data-toggle="toggle" id="post_isActive" name="post[isActive]" type="checkbox">
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="post_isPublic">Publico</label>
                                <input data-toggle="toggle" id="post_isPublic" name="post[isPublic]" type="checkbox">
                            </div>
                        </div>
                    </div>
                    
                    <h1>Contéudo Referenciado
                        <i aria-hidden="true" class="fa fa-plus" id="add-referrer"></i>
                    </h1>
                    <div class="box-body" id="hold-referrer"></div>

                    <div class="box-footer">
                        <button  type="submit" class="btn btn-success">Salvar</button>
                        <a class="btn btn-default" href="{{ path('admin_blog_post_list') }}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        $("#hold-podcast-file, #hold-video-file, #hold-post-text").css("display", "none");

        $("form").on("submit", function (e) {
            var error = false;
            showLoading()
            $('.ckeditor.required').each(function () {
                var string = $(this).val().replace(/<[^>]*>/gi, '').length;
                
                if (string == 0) {
                    $(this).siblings(".cke_chrome").addClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid red");
                    error = true;
                } else {
                    $(this).siblings(".cke_chrome").removeClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid #d1d1d1");
                }
            })
            if (error) {
                var id = $('.error').first().attr("id");
                
                $('.admin-content').animate({
                    scrollTop: $("#" + id)[0].offsetTop
                },500);
                hideLoading();
                e.preventDefault();
                return false;
            }
        });

        $("#post_type").change(function(){
            var value = ($("#post_type").find(":selected").data("slug"));
            $("#hold-podcast-file").css("display", "none");
            $("#hold-video-file").css("display", "none");
            $("#hold-post-text").css("display", "none");

            $("#post_post").removeClass("required");
            $("#post_podcastFile").prop("required", false);
            $("#post_videoFile").prop("required", false);
             switch(value){
                 case "materias" : {
                    $("#hold-post-text").css("display", "block");
                    $("#post_post").addClass("required");
                    break;
                 }
                 case "video" : {
                    $("#hold-video-file").css("display", "flex");
                    $("#post_videoFile").prop("required", true);
                    break;
                 }
                 case "podcast" : {
                    $("#hold-podcast-file").css("display", "flex");
                    $("#post_podcastFile").prop("required", true);
                    break;
                 }
             }
        });

        $("#post_podcastFile").change(function () {
            readURLAudio(this);
        });

        function readURLAudio (input){
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#podcast-file-preview").attr('src', e.target.result)
                };
                reader.readAsDataURL(input.files[0]);
                var audio = document.getElementById('podcast-preview');
                setTimeout(function(){
                    audio.load();
                }, 3000);
            }
        }

        $("#post_videoFile").change(function () {
            readURLVideo(this);
        });

        function readURLVideo (input){
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#video-file-preview").attr('src', e.target.result)
                };
                reader.readAsDataURL(input.files[0]);
                var video = document.getElementById('video-preview');
                setTimeout(function(){
                    video.load();
                }, 3000);
            }
        }
        $("#post_image").change(function () {
            
            readSize("post_image","mensagem-web","preview-web",0);
        });

         $("#post_imageMobile").change(function () {
            readSize("post_imageMobile","mensagem-mobile","preview-mobile",0);
        });

           function readSize(id, idMessage,idPreview,index){
              if(parseInt(document.getElementById(id).files[index].size) > 1048576){
                $(`#${id}`).val("");
                document.getElementById(idPreview).style.display = "none";
                document.getElementById(idMessage).style.cssText = " display: block;color: red;font-size: larger";
                
                return ;
               }else {
                   
              document.getElementById(idPreview).style.display = "block";
              document.getElementById(idMessage).style.cssText = " display: none";
              readURL(document.getElementById(id));
            
               }
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    console.log();
                    $(input).siblings('.preview-img').html('<img src="' + e.target.result + '">');
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        
    </script>

{% endblock %}

