{% extends 'admin.html.twig' %}

{% block title %}BLOG | POST | {{ post.title }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Post: {{ post.title }}</h3>
                </div>

                <div class="box-body col-md-12">
                    <table class="table table-striped table-hover table-bordered">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ post.id }}</td>
                            </tr>
                            <tr>
                                <th>Imagem</th>
                                <td><img src="{{ asset(post.image) }}"></td>
                            </tr>
                            <tr>
                                <th>Imagem Mobile</th>
                                <td><img src="{{ asset(post.imageMobile) }}"></td>
                            </tr>
                            <tr>
                                <th>Titulo</th>
                                <td>{{ post.title }}</td>
                            </tr>
                            <tr>
                                <th>Descricao</th>
                                <td>{{ post.description }}</td>
                            </tr>
                            {% if post.type.name == 'Post' %}
                                <tr>
                                    <th>Post</th>
                                    <td>{{ post.post|raw }}</td>
                                </tr>
                            {% elseif post.type.name == 'Podcast' %}
                                <tr>
                                    <th>Podcast</th>
                                    <td>
                                        <audio id="podcast-preview" controls>
                                            <source id="podcast-file-preview" src="{{asset(post.podcastFile)}}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>Ativo</th>
                                <td>
                                    {% if post.isActive %}Yes{% else %}No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Createdat</th>
                                <td>
                                    {% if post.createdAt %}
                                        {{ post.createdAt|date('d/m/Y H:i:s') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Updatedat</th>
                                <td>
                                    {% if post.updatedAt %}
                                        {{ post.updatedAt|date('d/m/Y H:i:s') }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="box-footer view">

                    <a class="btn btn-primary btn-sm" href="{{ path('admin_blog_post_edit', { 'id': post.id}) }}">
                        Alterar <i class="fa fa-edit"></i>
                    </a>

                    <a href="{{ path('admin_blog_post_list') }}" class="btn btn-danger btn-sm">Voltar</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

    </script>
{% endblock %}