{% extends 'admin.html.twig' %}

{% block title %}PRODUTO | CLASSIFICAÇÂO | EDITAR
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Editar Classificação de Produto</h3>
                </div>
                <form method="POST">

                    <div class="box-body">
                        <div class="form-group">
                            <label for="classification_name">Nome</label>
                            <input id="classification_name" name="form[name]" type="text" value="{{classification.name}}" required/>
                        </div>
                        <div class="form-group">
                            <label for="type_isActive">Ativo</label>
                            <input data-toggle="toggle" {{ classification.isActive == true ? 'checked' : '' }} id="type_isActive" name="form[isActive]" type="checkbox">
                        </div>
                    </div>

                    <div class="box-footer">
                        <button  type="" class="btn btn-success">Salvar</button>
                        <a class="btn btn-default" href="{{ path('admin_product_classification_list') }}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $("form").on("submit", function(){
            showLoading();
        });
    </script>
{% endblock %}

