{% extends 'admin.html.twig' %}

{% block title %}BADGE | EDITAR
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Editar Badge</h3>
                </div>

                <form enctype="multipart/form-data" method="POST">

                    <div class="box-body hold-badge">
                        <div class="form-group">
                            <label for="badge_name">Nome</label>
                            <input id="badge_name" name="badge[name]" type="text" value="{{badge.name}}" required/>
                            <input id="badge_id" name="badge[id]" type="hidden" value="{{badge.id}}" required/>
                        </div>
                        <div class="form-group">
                            <label for="badge_description">Descrição Curta</label>
                            <input id="badge_description" name="badge[shortDescription]" type="text" value="{{badge.shortDescription}}" required/>
                        </div>
                        <div class="form-group">
                            <label for="badge_description">Descrição</label>
                            <textarea class="ckeditor" id="badge_description" name="badge[description]" type="text" value="{{badge.description}}" required>{{badge.description}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="badge_metaTitle">Meta Title (SEO)</label>
                            <input class="ckeditor" id="badge_metaTitle" name="badge[metaTitle]" type="text" value="{{badge.metaTitle}}" required/>
                        </div>
                        <div class="form-group">
                            <label for="badge_metaDescription">Meta Descrição (SEO)</label>
                            <input class="ckeditor" id="badge_metaDescription" name="badge[metaDescription]" type="text" value="{{badge.metaDescription}}" required/>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="badge_givenPointPharmaceutical">Pontuação para Farmacêuticos</label>
                                <input id="badge_givenPointPharmaceutical" name="badge[givenPointPharmaceutical]" value="{{badge.givenPointPharmaceutical}}" type="text" required/>
                            </div>
                            <div class="form-group">
                                <label for="badge_givenPointClerk">Pontuação para Balconistas</label>
                                <input id="badge_givenPointClerk" name="badge[givenPointClerk]" value="{{badge.givenPointClerk}}" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <div class="preview-img">
                                    <img src="{{ asset(badge.image) }}">
                                </div>
                                <label for="badge_image">Imagem</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="badge_image" name="badge[image]" type="file"/>
                                <p></p>
                                <label for="badge_imageMetaTitle">Image Meta Title (SEO)</label>
                                <input id="badge_imageMetaTitle" name="badge[imageMetaTitle]" value="{{badge.imageMetaTitle}}" type="text"/>
                               <label id="mensagem-web" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                                <label for="badge_imageMetaDescription">Image Meta Description (SEO)</label>
                                <input id="badge_imageMetaDescription" name="badge[imageMetaDescription]" value="{{badge.imageMetaDescription}}" type="text"/>
                            </div>
                            <div class="form-group">
                                <div class="preview-img">
                                    <img src="{{ asset(badge.imageMobile) }}">
                                </div>
                                <label for="badge_imageMobile">Imagem Mobile</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="badge_imageMobile" name="badge[imageMobile]" type="file"/>
                                <p></p>
                                <label for="imageMetaTitle">Image Mobile Meta Title (SEO)</label>
                                <input id="badge_imageMobileMetaTitle" name="badge[imageMobileMetaTitle]" value="{{badge.imageMobileMetaTitle}}" type="text"/>
                               <label id="mensagem-mobile" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                                <label for="imageMetaDescription">Image Mobile Meta Description (SEO)</label>
                                <input id="badge_imageMobileMetaDescription" name="badge[imageMobileMetaDescription]" value="{{badge.imageMobileMetaDescription}}" type="text"/>
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="badge_isOnlyToPharmaceutical">Apenas para Farmaceuticos</label>
                                <input {{ badge.isOnlyToPharmaceutical ? 'checked' : '' }} data-toggle="toggle" id="badge_isOnlyToPharmaceutical" name="badge[isOnlyToPharmaceutical]" type="checkbox">
                            </div>
                            <div class="form-group">
                                <label for="badge_isActive">Ativo</label>
                                <input {{ badge.isActive ? 'checked' : '' }} data-toggle="toggle" id="badge_isActive" name="badge[isActive]" type="checkbox">
                            </div>
                        </div>
                    </div>
                    
                    <div class="box-header">
                        <h4 class="box-title">
                            <span>Adicionar os Níveis de Badge</span>
                            <span>
                                <i class="fa fa-plus add-level"></i>
                            </span>
                        </h4>
                    </div>
                    
                    <div class="box-body hold-levels">
                        {% for l in badge.levels %}
                            <div class="hold-level" data-id="{{l.id}}">
                                <i class="fa fa-times remove-level-saved" data-ajax="{{path('admin_badge_remove_level', {'id' : l.id})}}" ></i>
                                <div class="form-group">
                                    <label for="badge_level_name">Nome</label>
                                    <input class="badge_level_name" value="{{ l.name }}" name="level[{{l.id}}][name]" type="text" required/>
                                    <input class="badge_level_id" name="level[{{l.id}}][id]" type="hidden" value="{{l.id}}" required/>
                                </div>
                                <div class="form-group-double">
                                    <div class="form-group">
                                        <label for="badge_level_minPointPharmaceutical">Pontuação mínima Farmacêuticos</label>
                                        <input class="badge_level_minPointPharmaceutical" value="{{ l.minPointPharmaceutical }}" name="level[{{l.id}}][minPointPharmaceutical]" type="text" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="badge_level_minPointClerk">Pontuação mínima Balconistas</label>
                                        <input class="badge_level_minPointClerk" value="{{ l.minPointClerk }}" name="level[{{l.id}}][minPointClerk]" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group-double">
                                    <div class="form-group">
                                        <div class="preview-img">
                                            <img src="{{ asset(l.image) }}">
                                        </div>
                                        <label for="badge_level_image">Imagem</label>
                                        <input accept=".jpg,.png,.webp,.jpeg" class="badge_level_image" id="badge_level_image"  name="level[{{l.id}}][image]" type="file"/>
                                        <label id="mensagem-badge-web" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                                        <p></p>
                                        <label for="imageMetaTitle">Image Meta Title (SEO)</label>
                                        <input id="badge_level_imageMetaTitle" name="level[{{l.id}}][imageMetaTitle]" value="{{l.imageMetaTitle}}" type="text"/>
                                        <label for="imageMetaDescription">Image Meta Description (SEO)</label>
                                        <input id="badge_level_imageMetaDescription" name="level[{{l.id}}][imageMetaDescription]" value="{{l.imageMetaDescription}}" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <div class="preview-img">
                                            <img src="{{ asset(l.imageMobile) }}">
                                        </div>
                                        <label for="badge_level_imageMobile">Imagem Mobile</label>
                                        <input accept=".jpg,.png,.webp,.jpeg" class="badge_level_imageMobile" id="badge_level_imageMobile" name="level[{{l.id}}][imageMobile]" type="file"/>
                                        <label id="mensagem-badge-mobile" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                                        <p></p>
                                        <label for="imageMetaTitle">Image Mobile Meta Title (SEO)</label>
                                        <input id="badge_level_imageMobileMetaTitle" name="level[{{l.id}}][imageMobileMetaTitle]" value="{{l.imageMobileMetaTitle}}" type="text"/>
                                        <label for="imageMetaDescription">Image Mobile Meta Description (SEO)</label>
                                        <input id="badge_level_imageMobileMetaDescription" name="level[{{l.id}}][imageMobileMetaDescription]" value="{{l.imageMobileMetaDescription}}" type="text"/>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="box-footer">
                        <button  type="" class="btn btn-success">Salvar</button>
                        <a class="btn btn-default" href="{{ path('admin_badge_list') }}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        $("form").on("submit", function(){
            showLoading();
        });
         $("#badge_image").change(function(){
             
            readSize("badge_image", "mensagem-web",0);
         });
           $("#badge_imageMobile").change(function(){
              
            readSize("badge_imageMobile", "mensagem-mobile",0);

         });
           $("#badge_level_image").change(function(){
              
            readSize("badge_level_image", "mensagem-badge-web",0);
             
         });
           $("#badge_level_imageMobile").change(function(){
            
            readSize("badge_level_imageMobile", "mensagem-badge-mobile",0);
         });

        function readSize(id, idMessage,index){
              if(parseInt(document.getElementById(id).files[index].size) > 1048576){
                $(`#${id}`).val("");
                $(`#${id}`).siblings('.preview-img').html('<img src="">');
                document.getElementById(idMessage).style.cssText = " display: block;color: red;font-size: larger";
                
                return ;
               }else {
                   
              document.getElementById(idMessage).style.cssText = " display: none";
              readURL(document.getElementById(id));
            
               }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(input).siblings('.preview-img').html('<img src="' + e.target.result + '">');
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        
        $(".add-level").unbind("click").on("click", function(){
            var html = '<i class="fa fa-times remove-level"></i><div class="form-group"><label for="badge_level_name">Nome</label><input class="badge_level_name" name="level[0][name]" type="text" required/></div><div class="form-group-double"><div class="form-group"><label for="badge_level_minPointPharmaceutical">Pontuação mínima Farmacêuticos</label><input class="badge_level_minPointPharmaceutical" name="level[0][minPointPharmaceutical]" type="text" required/></div><div class="form-group"><label for="badge_level_minPointClerk">Pontuação mínima Balconistas</label><input class="badge_level_minPointClerk" name="level[0][minPointClerk]" type="text" required/></div></div><div class="form-group-double"><div class="form-group"><div class="preview-img"></div><label for="badge_level_image">Imagem</label><input accept=".jpg,.png,.webp,.jpeg" class="badge_level_image" name="level[0][image]" type="file" required/><p></p><label for="imageMetaTitle">Image Meta Title (SEO)</label><input id="badge_level_imageMetaTitle" name="level[0][imageMetaTitle]" type="text" required/><label for="imageMetaDescription">Image Meta Description (SEO)</label><input id="badge_level_imageMetaDescription" name="level[0][imageMetaDescription]" type="text" required/></div><div class="form-group"><div class="preview-img"></div><label for="badge_level_imageMobile">Imagem Mobile</label><input accept=".jpg,.png,.webp,.jpeg" class="badge_level_imageMobile" name="level[0][imageMobile]" type="file" required/><p></p><label for="imageMetaTitle">Image Mobile Meta Title (SEO)</label><input id="badge_level_imageMobileMetaTitle" name="level[0][imageMobileMetaTitle]" type="text" required/><label for="imageMetaDescription">Image Mobile Meta Description (SEO)</label><input id="badge_level_imageMobileMetaDescription" name="level[0][imageMobileMetaDescription]" type="text" required/></div></div>';
            
            var id = $(".hold-levels").children(".hold-level").last().data("id");

            if(id == undefined) id = 0;

            var findString = "level\\[0\\]";
            var replaceString = "level[" + (id+1) + "]";

            var re = new RegExp(findString,"g");
            var newhtml = html.replace(re,replaceString);

            var newLevel = '<div class="hold-level" data-id="'+ (id+1) +'">' + newhtml + '</div>';
            
            $(".hold-levels").append(newLevel);
            
            $(".badge_level_image, .badge_level_imageMobile").change(function () {
                readURL(this);
            });

            removeLevel();
        });
        
        removeLevel();

        function removeLevel(){
            $(".remove-level").unbind("click").on("click", function(){
                var removeIt = confirm("Deseja realmente remover?");

                if(removeIt){
                    $(this).parent(".hold-level").remove();
                }
            });
        }
        
        $(".remove-level-saved").on("click", function(){

            var ajaxUrl = $(this).data('ajax');
            var parent = $(this).parent();
            var remove = confirm("Deseja realmente remover?");

            if(remove){
                showLoading();
                $.ajax({
                    url: ajaxUrl,
                    type: "POST",
                    dataType: "json",
                    success: function(response) {
                        if (response.status) {
                            parent.remove();
                        } else {
                            alert(response.message);
                        }
                        hideLoading();
                    }
                });
            }
        });
    </script>

{% endblock %}

