{% extends 'admin.html.twig' %}

{% block title %}BADGE | LISTAR
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Badges</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Image</th>
                                    <th>Nome</th>
                                    <th>Levels</th>
                                    <th>Ativo</th>
                                    <th>Criado Em</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if badges|length > 0 %}
                                    {% for badge in badges %}
                                        <tr>
                                            <td class="center">
                                                <a href="{{ path('admin_badge_edit', { 'id': badge.id }) }}">
                                                    {{ badge.id }}
                                                </a>
                                            </td>
                                            <td>
                                                <img src="{{ asset(badge.imageMobile) }}">
                                            </td>
                                            <td>{{ badge.name }}</td>
                                            <td>{{ badge.levels|length }}</td>
                                            <td class="center">
                                                {% if badge.isActive %}
                                                    <span class="label label-success">Sim</span>
                                                {% else %}
                                                    <span class="label label-danger">Não</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ badge.slug }}</td>                                           
                                            <td class="center">
                                                {% if badge.createdAt %}
                                                    {{ badge.createdAt|date('d/m/Y H:i:s') }}
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_badge_view', { 'id': badge.id}) }}">
                                                    Ver
                                                    <i class="fa fa-eye"></i>
                                                </a>

                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_badge_edit', { 'id': badge.id}) }}">
                                                    Editar
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">Nenhum registro foi encontrado.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-paginator">
                    {{ knp_pagination_render(badges) }}
                </div>
                <div class="box-footer">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_badge_new') }}">
                        Novo
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
