{% extends 'admin.html.twig' %}

{% block title %}BADGE | NOVO
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Adicionar Badges</h3>
                </div>

                <form enctype="multipart/form-data" method="POST">

                    <div class="box-body hold-badge">
                        <div class="form-group">
                            <label for="badge_name">Nome</label>
                            <input id="badge_name" name="badge[name]" type="text" required/>
                        </div>
                        <div class="form-group">
                            <label for="badge_description">Descrição Curta</label>
                            <input id="badge_description" name="badge[shortDescription]" type="text" required/>
                        </div>
                        <div class="form-group">
                            <label for="badge_description">Descrição</label>
                            <textarea class="ckeditor" id="badge_description" name="badge[description]" type="text" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="badge_metaTitle">Meta Title (SEO)</label>
                            <input class="ckeditor" id="badge_metaTitle" name="badge[metaTitle]" type="text" required/>
                        </div>
                        <div class="form-group">
                            <label for="badge_metaDescription">Meta Descrição (SEO)</label>
                            <input class="ckeditor" id="badge_metaDescription" name="badge[metaDescription]" type="text" required/>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="badge_givenPointPharmaceutical">Pontuação para Farmacêuticos</label>
                                <input id="badge_givenPointPharmaceutical" name="badge[givenPointPharmaceutical]" type="text" required/>
                            </div>
                            <div class="form-group">
                                <label for="badge_givenPointClerk">Pontuação para Balconistas</label>
                                <input id="badge_givenPointClerk" name="badge[givenPointClerk]" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <div class="preview-img"></div>
                                <label for="badge_image">Imagem</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="badge_image" name="badge[image]" type="file" required/>
                               <label id="mensagem-web" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                                <p></p>
                                <label for="badge_imageMetaTitle">Image Meta Title (SEO)</label>
                                <input id="badge_imageMetaTitle" name="badge[imageMetaTitle]" type="text" required/>
                                <label for="badge_imageMetaDescription">Image Meta Description (SEO)</label>
                                <input id="badge_imageMetaDescription" name="badge[imageMetaDescription]" type="text" required/>
                            </div>
                            <div class="form-group">
                                <div class="preview-img"></div>
                                <label for="badge_imageMobile">Imagem Mobile</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="badge_imageMobile" name="badge[imageMobile]" type="file" required/>
                               <label id="mensagem-mobile" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                                <p></p>
                                <label for="imageMetaTitle">Image Mobile Meta Title (SEO)</label>
                                <input id="badge_imageMobileMetaTitle" name="badge[imageMobileMetaTitle]" type="text" required/>
                                <label for="imageMetaDescription">Image Mobile Meta Description (SEO)</label>
                                <input id="badge_imageMobileMetaDescription" name="badge[imageMobileMetaDescription]" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="badge_isOnlyToPharmaceutical">Apenas para Farmaceuticos</label>
                                <input data-toggle="toggle" id="badge_isOnlyToPharmaceutical" name="badge[isOnlyToPharmaceutical]" type="checkbox">
                            </div>
                            <div class="form-group">
                                <label for="badge_isActive">Ativo</label>
                                <input checked data-toggle="toggle" id="badge_isActive" name="badge[isActive]" type="checkbox">
                            </div>
                        </div>
                    </div>
                    
                    <div class="box-header">
                        <h4 class="box-title">
                            <span>Adicionar os Níveis de Badge</span>
                            <span>
                                <i class="fa fa-plus add-level"></i>
                            </span>
                        </h4>
                    </div>
                    
                    <div class="box-body hold-levels">
                        <div class="hold-level" data-id="0">
                            <i class="fa fa-times remove-level"></i>
                            <div class="form-group">
                                <label for="badge_level_name">Nome</label>
                                <input class="badge_level_name" name="level[0][name]" type="text" required/>
                            </div>
                            <div class="form-group-double">
                                <div class="form-group">
                                    <label for="badge_level_minPointPharmaceutical">Pontuação mínima Farmacêuticos</label>
                                    <input class="badge_level_minPointPharmaceutical" name="level[0][minPointPharmaceutical]" type="text" required/>
                                </div>
                                <div class="form-group">
                                    <label for="badge_level_minPointClerk">Pontuação mínima Balconistas</label>
                                    <input class="badge_level_minPointClerk" name="level[0][minPointClerk]" type="text" required/>
                                </div>
                            </div>
                            <div class="form-group-double">
                                <div class="form-group">
                                    <div class="preview-img"></div>
                                    <label for="badge_level_image">Imagem</label>
                                    <input accept=".jpg,.png,.webp,.jpeg" class="badge_level_image" id="badge_level_image_0" name="level[0][image]" type="file" required/>
                                        <label id="mensagem-badge-web-0" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                                    <p></p>
                                    <label for="imageMetaTitle">Image Meta Title (SEO)</label>
                                    <input id="badge_level_imageMetaTitle" name="level[0][imageMetaTitle]" type="text" required/>
                                    <label for="imageMetaDescription">Image Meta Description (SEO)</label>
                                    <input id="badge_level_imageMetaDescription" name="level[0][imageMetaDescription]" type="text" required/>
                                </div>
                                <div class="form-group">
                                    <div class="preview-img"></div>
                                    <label for="badge_level_imageMobile">Imagem Mobile</label>
                                    <input accept=".jpg,.png,.webp,.jpeg" class="badge_level_imageMobile" id="badge_level_imageMobile_0" name="level[0][imageMobile]" type="file" required/>
                                    <label id="mensagem-badge-mobile-0" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                                    <p></p>
                                    <label for="imageMetaTitle">Image Mobile Meta Title (SEO)</label>
                                    <input id="badge_level_imageMobileMetaTitle" name="level[0][imageMobileMetaTitle]" type="text" required/>
                                    <label for="imageMetaDescription">Image Mobile Meta Description (SEO)</label>
                                    <input id="badge_level_imageMobileMetaDescription" name="level[0][imageMobileMetaDescription]" type="text" required/>
                                </div>
                            </div>
                        </div>
                        <div class="hold-level" data-id="1">
                            <i class="fa fa-times remove-level"></i>
                            <div class="form-group">
                                <label for="badge_level_name">Nome</label>
                                <input class="badge_level_name" name="level[1][name]" type="text" required/>
                            </div>
                            <div class="form-group-double">
                                <div class="form-group">
                                    <label for="badge_level_minPointPharmaceutical">Pontuação mínima Farmacêuticos</label>
                                    <input class="badge_level_minPointPharmaceutical" name="level[1][minPointPharmaceutical]" type="text" required/>
                                </div>
                                <div class="form-group">
                                    <label for="badge_level_minPointClerk">Pontuação mínima Balconistas</label>
                                    <input class="badge_level_minPointClerk" name="level[1][minPointClerk]" type="text" required/>
                                </div>
                            </div>
                            <div class="form-group-double">
                                <div class="form-group">
                                    <div class="preview-img"></div>
                                    <label for="badge_level_image">Imagem</label>
                                    <input accept=".jpg,.png,.webp,.jpeg" class="badge_level_image" id="badge_level_image_1" name="level[1][image]" type="file" required/>
                                        <label id="mensagem-badge-web-1" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                                    <p></p>
                                    <label for="imageMetaTitle">Image Meta Title (SEO)</label>
                                    <input id="badge_level_imageMetaTitle" name="level[1][imageMetaTitle]" type="text" required/>
                                    <label for="imageMetaDescription">Image Meta Description (SEO)</label>
                                    <input id="badge_level_imageMetaDescription" name="level[1][imageMetaDescription]" type="text" required/>
                                </div>
                                <div class="form-group">
                                    <div class="preview-img"></div>
                                    <label for="badge_level_imageMobile">Imagem Mobile</label>
                                    <input accept=".jpg,.png,.webp,.jpeg" class="badge_level_imageMobile" id="badge_level_imageMobile_1" name="level[1][imageMobile]" type="file" required/>
                                     <label id="mensagem-badge-mobile-1" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                                    <p></p>
                                    <label for="imageMetaTitle">Image Mobile Meta Title (SEO)</label>
                                    <input id="badge_level_imageMobileMetaTitle" name="level[1][imageMobileMetaTitle]" type="text" required/>
                                    <label for="imageMetaDescription">Image Mobile Meta Description (SEO)</label>
                                    <input id="badge_level_imageMobileMetaDescription" name="level[1][imageMobileMetaDescription]" type="text" required/>
                                </div>
                            </div>
                        </div>
                        <div class="hold-level" data-id="2">
                            <i class="fa fa-times remove-level"></i>
                            <div class="form-group">
                                <label for="badge_level_name">Nome</label>
                                <input class="badge_level_name" name="level[2][name]" type="text" required/>
                            </div>
                            <div class="form-group-double">
                                <div class="form-group">
                                    <label for="badge_level_minPointPharmaceutical">Pontuação mínima Farmacêuticos</label>
                                    <input class="badge_level_minPointPharmaceutical" name="level[2][minPointPharmaceutical]" type="text" required/>
                                </div>
                                <div class="form-group">
                                    <label for="badge_level_minPointClerk">Pontuação mínima Balconistas</label>
                                    <input class="badge_level_minPointClerk" name="level[2][minPointClerk]" type="text" required/>
                                </div>
                            </div>
                            <div class="form-group-double">
                                <div class="form-group">
                                    <div class="preview-img"></div>
                                    <label for="badge_level_image">Imagem</label>
                                    <input accept=".jpg,.png,.webp,.jpeg" class="badge_level_image" id="badge_level_image_2" name="level[2][image]" type="file" required/>
                                        <label id="mensagem-badge-web-2" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                                    <p></p>
                                    <label for="imageMetaTitle">Image Meta Title (SEO)</label>
                                    <input id="badge_level_imageMetaTitle" name="level[2][imageMetaTitle]" type="text" required/>
                                    <label for="imageMetaDescription">Image Meta Description (SEO)</label>
                                    <input id="badge_level_imageMetaDescription" name="level[2][imageMetaDescription]" type="text" required/>
                                </div>
                                <div class="form-group">
                                    <div class="preview-img"></div>
                                    <label for="badge_level_imageMobile_2">Imagem Mobile</label>
                                    <input accept=".jpg,.png,.webp,.jpeg" class="badge_level_imageMobile" id="badge_level_imageMobile_2" name="level[2][imageMobile]" type="file" required/>
                                     <label id="mensagem-badge-mobile-2" style="display:none;">Imagem maior que o permitido.  Selecione imagem de até 1MB.</label>
                                    <p></p>
                                    <label for="imageMetaTitle">Image Mobile Meta Title (SEO)</label>
                                    <input id="badge_level_imageMobileMetaTitle" name="level[2][imageMobileMetaTitle]" type="text" required/>
                                    <label for="imageMetaDescription">Image Mobile Meta Description (SEO)</label>
                                    <input id="badge_level_imageMobileMetaDescription" name="level[2][imageMobileMetaDescription]" type="text" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button  type="" class="btn btn-success">Salvar</button>
                        <a class="btn btn-default" href="{{ path('admin_badge_list') }}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        $(".add-level").unbind("click").on("click", function(){
            var html = '<i class="fa fa-times remove-level"></i><div class="form-group"><label for="badge_level_name">Nome</label><input class="badge_level_name" name="level[0][name]" type="text" required/></div><div class="form-group-double"><div class="form-group"><label for="badge_level_minPointPharmaceutical">Pontuação mínima Farmacêuticos</label><input class="badge_level_minPointPharmaceutical" name="level[0][minPointPharmaceutical]" type="text" required/></div><div class="form-group"><label for="badge_level_minPointClerk">Pontuação mínima Balconistas</label><input class="badge_level_minPointClerk" name="level[0][minPointClerk]" type="text" required/></div></div><div class="form-group-double"><div class="form-group"><div class="preview-img"></div><label for="badge_level_image">Imagem</label><input accept=".jpg,.png,.webp,.jpeg" class="badge_level_image" name="level[0][image]" type="file" required/><p></p><label for="imageMetaTitle">Image Meta Title (SEO)</label><input id="badge_level_imageMetaTitle" name="level[0][imageMetaTitle]" type="text" required/><label for="imageMetaDescription">Image Meta Description (SEO)</label><input id="badge_level_imageMetaDescription" name="level[0][imageMetaDescription]" type="text" required/></div><div class="form-group"><div class="preview-img"></div><label for="badge_level_imageMobile">Imagem Mobile</label><input accept=".jpg,.png,.webp,.jpeg" class="badge_level_imageMobile" name="level[0][imageMobile]" type="file" required/><p></p><label for="imageMetaTitle">Image Mobile Meta Title (SEO)</label><input id="badge_level_imageMobileMetaTitle" name="level[0][imageMobileMetaTitle]" type="text" required/><label for="imageMetaDescription">Image Mobile Meta Description (SEO)</label><input id="badge_level_imageMobileMetaDescription" name="level[0][imageMobileMetaDescription]" type="text" required/></div></div>';
            
            var id = $(".hold-levels").children(".hold-level").last().data("id");

            if(id == undefined) id = 0;

            var findString = "level\\[0\\]";
            var replaceString = "level[" + (id+1) + "]";

            var re = new RegExp(findString,"g");
            var newhtml = html.replace(re,replaceString);

            var newLevel = '<div class="hold-level" data-id="'+ (id+1) +'">' + newhtml + '</div>';
            
            $(".hold-levels").append(newLevel);
            
            $(".badge_level_image, .badge_level_imageMobile").change(function () {
                readURL(this);
            });
            
            removeLevel();
        });
        
        removeLevel();

        function removeLevel(){
            $(".remove-level").unbind("click").on("click", function(){
                var removeIt = confirm("Deseja realmente remover?");

                if(removeIt){
                    $(this).parent(".hold-level").remove();
                }
            });
        }
        

        $("form").on("submit", function(){
            showLoading();
        });

          $("#badge_image").change(function(){
             
               readSize("badge_image", "mensagem-web",0);
         });
           $("#badge_imageMobile").change(function(){
          
               readSize("badge_imageMobile", "mensagem-mobile",0);

         });
           $("#badge_level_image_0").change(function(){
             let id = "badge_level_image_0";
               readSize("badge_level_image_0", "mensagem-badge-web-0",0);
               
            $(`#badge_level_image_0`).siblings('.preview-img').html('<img src="">');
            
         });  
         
          $("#badge_level_image_1").change(function(){
             
               readSize("badge_level_image_1", "mensagem-badge-web-1",0);
            
         });
            $("#badge_level_image_2").change(function(){
             
               readSize("badge_level_image_2", "mensagem-badge-web-2",0);
            
         });
           $("#badge_level_imageMobile_0").change(function(){
               readSize("badge_level_imageMobile_0", "mensagem-badge-mobile-0",0);
             
         });
           $("#badge_level_imageMobile_1").change(function(){
               readSize("badge_level_imageMobile_1", "mensagem-badge-mobile-1",0);
             
         });  $("#badge_level_imageMobile_2").change(function(){
            readSize("badge_level_imageMobile_2", "mensagem-badge-mobile-2",0);
              
              });

              {# function readSize(id, idMessage,idPreview,index){
              if(parseInt(document.getElementById(id).files[index].size) > 1048576){
                $(`#${id}`).val("");
                document.getElementById(idPreview).style.display = "none";
                document.getElementById(idMessage).style.cssText = " display: block;color: red;font-size: larger";
                
                return ;
               }else {
                   
              document.getElementById(idPreview).style.display = "block";
              document.getElementById(idMessage).style.cssText = " display: none";
              readURL(document.getElementById(id));
            
               }
        } #}

        function readSize(id, idMessage,index){
              if(parseInt(document.getElementById(id).files[index].size) > 1048576){
                $(`#${id}`).val("");
                $(`#${id}`).siblings('.preview-img').html('<img src="">');
                document.getElementById(idMessage).style.cssText = " display: block;color: red;font-size: larger";
                
                return ;
               }else {
                   
              document.getElementById(idMessage).style.cssText = " display: none";
              readURL(document.getElementById(id));
              
               }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    console.log(input);
                    if($(input).siblings('.preview-img')[0].nodeName == 'IMG'){
                        $(input).siblings('.preview-img').attr('src', e.target.result);
                    } else {
                        $(input).siblings('.preview-img').css({
                            'background-image' : "url(" + e.target.result + ")", 
                            'width' : '100%',
                            'height': '250px',
                            'background-size': 'contain',
                            'background-position': 'center center',
                            'background-repeat': 'no-repeat',
                        });
                    }
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        
        
    </script>

{% endblock %}

