{% extends 'admin.html.twig' %}

{% block title %}Quiz
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Quiz</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Titulo</th>
                                    {# <th>Criado</th>
                                    <th>Atualizado</th> #}
                                    {# <th>Views</th> #}
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if quizAll|length > 0 %}
                                    {% for quiz in quizAll %}
                                        <tr>
                                            <td>{{ quiz.id }}</td>
                                            <td>{{ quiz.name }}</td>
                                            {# <td>{{ quiz.createdAt|date('Y-m-d H:i:s') }}</td>
                                            <td>{{ quiz.updatedAt|date('Y-m-d H:i:s') }}</td> #}
                                            <td>
                                                {# <a class="btn btn-default btn-small" href="{{ path('admin_quiz_view', { 'id': quiz.id }) }}">
                                                    Show <i class="fa fa-eye"></i>
                                                </a> #}

                                                <a class="btn btn-default btn-small" href="{{ path('admin_quiz_all_question_edit', { 'id': quiz.id }) }}">
                                                    Editar <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">Nenhum registro foi encontrado.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="box-paginator">
                    {{ knp_pagination_render(quizAll) }}
                </div>
                <div class="box-footer">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_quiz_all_new') }}">
                        Novo
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
