{% extends 'admin.html.twig' %}

{% block title %} Novo {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <style>
        fieldset {
            /* min-width: 0; */
            padding: 2px 2px 2px 50px;
            /* margin: 0; */
            border: 1px solid;
            margin: 2px 5px 5px 5px;
            padding-bottom: 25px
        }

        legend {
            /* border: 1px solid #000; */
            /* margin: 0px 0px 0px 20px; */
            padding: 2px 5px 5px 9px;
            width: 22%;
        }
        .jumbotron { background-color: #fff }
    </style>
{% endblock %}
{% block body %}
    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {# <div class="box"> #}
                    <form action="{{ path('admin_quiz_all_question_new', {'id': quiz_id}) }}" class="formulario" role="form" method="POST" enctype="multipart/form-data">
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="step1" data-count="0">
                                    <div class="row text-center">
                                        <h4 class="text-center">
                                        Quiz - cadastro de perguntas e alternativas
                                        <i class="fa fa-comments"></i>
                                        </h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="tipo-avl-encontpresen">Quiz</label>
                                                <select id="tipo-avl-encontpresen" class="form-control" name="form[questions-0][quiz_id]">
                                                    <option hidden="true">Selecione</option>
                                                    {% for q in quiz %}
                                                        <option value="{{ q.id }}" {{ q.id == quiz_id ? 'selected' : '' }}>{{ q.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="question">
                                       
                                        <fieldset>
                                            <legend>Perguntas 1</legend>
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <div class="form-group">
                                                        <label for="local-encontpresen">Perguntas</label> <!--- ckeditor -->    
                                                        <textarea class="form-control" name="form[questions-0][title]" type="text" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <button type="button" class="btn-adicionar" questions-0="0">Adicionar</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--- 1) alterantiva -->
                                            <fieldset>
                                                <legend>1) Alternativa</legend>
                                                    <div class="row">
                                                        <div class="col-md-11">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Comentário </label>
                                                                <textarea class="form-control" name="form[questions-0][alternative1][comentario]" type="text" required></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Imagem Desktop</label>
                                                                <input type="file" class="form-control" name="form[questions-0][alternative1][imagem_desk]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Título da Imagem</label>
                                                                <input type="text" class="form-control" name="form[questions-0][alternative1][image_alt]">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Descrição da imagem</label>
                                                                <input type="text" class="form-control" name="form[questions-0][alternative1][image_description]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p >
                                                                Resposta correta?
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="form[questions-0][alternative1][is_active]" value="Sim">
                                                                <label class="form-check-label" for="Sim">
                                                                    Sim
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="form[questions-0][alternative1][is_active]" value="Não" checked="checked">
                                                                <label class="form-check-label" for="Não">
                                                                    Não
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </fieldset>

                                            <!--- 2) alterantiva -->
                                            <fieldset>
                                                <legend>2) Alternativa</legend>
                                                    <div class="row">
                                                        <div class="col-md-11">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Comentário </label>
                                                                <textarea class="form-control" name="form[questions-0][alternative2][comentario]" type="text" required></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Imagem Desktop</label>
                                                                <input type="file" class="form-control" name="form[questions-0][alternative2][imagem_desk]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Título da Imagem</label>
                                                                <input type="text" class="form-control" name="form[questions-0][alternative2][image_alt]">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Descrição da imagem</label>
                                                                <input type="text" class="form-control" name="form[questions-0][alternative2][image_description]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p >
                                                                Resposta correta?
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="form[questions-0][alternative2][is_active]" value="Sim">
                                                                <label class="form-check-label" for="Sim">
                                                                    Sim
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="form[questions-0][alternative2][is_active]" value="Não" checked="checked">
                                                                <label class="form-check-label" for="Não">
                                                                    Não
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </fieldset>

                                            <!--- 3) alterantiva -->
                                            <fieldset>
                                                <legend>3) Alternativa</legend>
                                                    <div class="row">
                                                        <div class="col-md-11">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Comentário </label>
                                                                <textarea class="form-control" name="form[questions-0][alternative3][comentario]" type="text" required></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Imagem Desktop</label>
                                                                <input type="file" class="form-control" name="form[questions-0][alternative3][imagem_desk]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Título da Imagem</label>
                                                                <input type="text" class="form-control" name="form[questions-0][alternative3][image_alt]">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Descrição da imagem</label>
                                                                <input type="text" class="form-control" name="form[questions-0][alternative3][image_description]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p >
                                                                Resposta correta?
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="form[questions-0][alternative3][is_active]" value="Sim">
                                                                <label class="form-check-label" for="Sim">
                                                                    Sim
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="form[questions-0][alternative3][is_active]" value="Não" checked="checked">
                                                                <label class="form-check-label" for="Não">
                                                                    Não
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </fieldset>

                                            <!--- 4) alterantiva -->
                                            <fieldset>
                                                <legend>4) Alternativa</legend>
                                                    <div class="row">
                                                        <div class="col-md-11">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Comentário </label>
                                                                <textarea class="form-control" name="form[questions-0][alternative4][comentario]" type="text" required></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Imagem Desktop</label>
                                                                <input type="file" class="form-control" name="form[questions-0][alternative4][imagem_desk]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Título da Imagem</label>
                                                                <input type="text" class="form-control" name="form[questions-0][alternative4][image_alt]">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label for="data-encontpresen">Descrição da imagem</label>
                                                                <input type="text" class="form-control" name="form[questions-0][alternative4][image_description]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p >
                                                                Resposta correta?
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="form[questions-0][alternative4][is_active]" value="Sim">
                                                                <label class="form-check-label" for="Sim">
                                                                    Sim
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="form[questions-0][alternative4][is_active]" value="Não" checked="checked">
                                                                <label class="form-check-label" for="Não">
                                                                    Não
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </fieldset>

                                            <div class="row">
                                                <div class="col-md-11">
                                                    <div class="form-group">
                                                        <label for="data-encontpresen">Referência</label>
                                                        <textarea class="form-control" name="form[questions-0][reference]" type="text" required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                           
                                            </fieldset>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary" style="float: right;">Salvar</button>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="{{ path('admin_quiz_all') }}" class="btn btn-danger" style="margin: auto;">Voltar</a>
                                    </div>
                                </div>
                            </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script type="text/javascript">
    var clone_step1 = $("#step1").find(".question:eq(0)").html(); // cópia da div com os inputs
    
    $(document).on("click", ".btn-adicionar", function(e){
        var box = $("#step1")
        var count = box.data('count')
        count++
        var clone = clone_step1.replaceAll('form[questions-0]', 'form[questions-' + count +']');
        var number_question = count + 1
        var title = 'Perguntas ' + number_question
        clone = clone.replaceAll("Perguntas 1", title);
      
        box.find(".question:eq(0)").append(clone); // insere nova linha
        $(this).closest(".col-md-1").remove(); // remove o botão adicionar
        box.data('count', count)     
    });
</script>
{% endblock %}