{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Covid-19{% endblock %}
    
{% block body %}
    <div class="covid-19" id="covid-19">
        <section>
            <img src="{{ asset('_dist/image/img/corona/banner-corona-mobile.png')}}" alt="Banner " class="visible-xs">
            <img src="{{ asset('_dist/image/img/corona/banner-corona.png')}}" alt="Banner " class="hidden-xs">
        </section>

        <div class="text-center container">
            <div class="space-h-30">
                <ul class="covid-inter-menu">
                    <li><a href="#corona-textos" class="menu-textos">TEXTOS</a></li> 
                    <li><a href="#corona-podcasts" class="menu-podcasts">PODCASTS</a></li> 
                    {# <li><a href="#corona-ebook" class="menu-ebook">E-BOOK</a></li> #}
                    <li><a href="#compartilhar-ebook" class="menu-compartilhar"><span class="hidden-xs">PARA VOCÊ COMPARTILHAR</span><span class="visible-xs">CARDS</span></a></li>
                </ul>
            </div>
            <div class="text-content">
                <p>
                    A Organização Mundial da Saúde declarou a Doença pelo Coronavírus 2019 (COVID-19) uma pandemia e, desde então, o mundo todo está tomando ações para conter a disseminação da doença. Cientes dessa situação nós, da Neo Pharma, criamos essa página com as informações mais relevantes para a segurança do trabalho de vocês no dia a dia da farmácia.
                </p>
                <p>
                    E, para vocês que estão na frente de batalha para que muitos possam estar em segurança, <strong>NOSSO MUITO OBRIGADO!<strong>
                </p>
            </div>
            <div class="space-h-30">
                <hr>
            </div>
            <div class="covid-header covid-header-textos text-center" id="corona-textos">
                <h2>TEXTOS</h2>
                <figure>
                    <img src="{{ asset('_dist/image/img/corona/textos-pic.png')}}" alt="" class="">
                </figure>
            </div>

            <div class="plans-card-container plans-card-four d-flex justify-content-around space-h-20">
                <div class="plans-card-box">
                    <div class="plans-card-title">
                        <h3><strong>Coronavírus:</strong> o que as farmácias podem fazer</h3>
                    </div>
                    <div class="plans-card-info">
                        Documento elaborado pela Abrafarma orienta sobre como as farmácias podem atuar para prevenir e conter a covid-19. 
                        <div class="btn">
                            <a href="{{ path('blog_detail', {'slug':'coronavirus-o-que-as-farmacias-podem-fazer'}) }}">Saiba mais</a>
                        </div>
                    </div>
                </div>

                <div class="plans-card-box">
                    <div class="plans-card-title">
                        <h3><strong>Coronavírus:</strong> o que você precisa saber para orientar e acolher</h3>
                    </div>
                    <div class="plans-card-info">
                        Segundo o Conselho Federal de Farmácia, a atuação dos farmacêuticos na pandemia de covid-19 é importante para repassar informações corretas, prevenir e cuidar.
                        <div class="btn">
                            <a href="{{ path('blog_detail', {'slug':'coronavirus-o-que-voce-precisa-saber-para-orientar-e-acolher'}) }}">Saiba mais</a>
                        </div>
                    </div>
                </div>

                <div class="plans-card-box">
                    <div class="plans-card-title">
                        <h3><strong>Coronavírus:</strong> como as farmácias estão se preparando para atender o público?  </h3>
                    </div>
                    <div class="plans-card-info">
                        Seguindo recomendações dos órgãos de saúde nacionais e internacionais, o atendimento ao público no período da pandemia de COVID-19 obrigatoriamente necessita de cuidados especiais e procedimentos para a prevenção da doença.
                        <div class="btn">
                            <a href="{{ path('blog_detail', {'slug':'coronavirus-como-as-farmacias-estao-se-preparando-para-atender-o-publico'}) }}">Saiba mais</a>
                        </div>
                    </div>
                </div>

                <div class="plans-card-box">
                    <div class="plans-card-title">
                        <h3><strong>Conselho Federal de Farmácia - CFF disponibiliza material sobre o novo coronavírus</strong></h3>
                    </div>
                    <div class="plans-card-info">
                        Os materiais têm o intuito de informar os profissionais de farmácia sobre medidas preventivas a serem adotadas, autocuidados e cuidados no manejo com clientes e reformulações de procedimentos.
                        <div class="btn">
                            <a href="{{ path('blog_detail', {'slug':'conselho-federal-de-farmacia-cff-disponibiliza-material-sobre-o-novo-coronavirus'}) }}">Saiba mais</a>
                        </div>
                    </div>
                </div>

                <div class="plans-card-box">
                    <div class="plans-card-title">
                        <h3><strong>A rotina dos profissionais de farmácia nas primeiras semanas do Coronavírus<br></strong></h3>
                    </div>
                    <div class="plans-card-info">
                        Com novas medidas, procedimentos e horas extras, profissionais de farmácia do Brasil inteiro contam como se prepararam para enfrentar essa pandemia.
                        <div class="btn">
                            <a href="{{ path('blog_detail', {'slug':'a-rotina-dos-profissionais-de-farmacia-nas-primeiras-semanas-do-coronavirus'}) }}">Saiba mais</a>
                        </div>
                    </div>
                </div>

               <div class="plans-card-box">
                    <div class="plans-card-title">
                        <h3><strong>Combate ao Coronavírus: A Saúde Mental dos Farmacêuticos</strong></h3>
                    </div>
                    <div class="plans-card-info">
                        Em meio à pandemia, surge a preocupação entre os profissionais de saúde brasileiros: como cuidar da saúde mental nesse momento?
                        <div class="btn">
                            <a href="{{ path('blog_detail', {'slug':'combate-ao-coronavirus-a-saude-mental-dos-farmaceuticos'}) }}">Saiba mais</a>
                        </div>
                    </div>
                </div>

                <div class="plans-card-box">
                    <div class="plans-card-title">
                        <h3><strong>Combate ao coronavírus:</strong> CRF-SP cria formulário para comunicar falta de Equipamento de Proteção Individual - EPI</h3>
                    </div>
                    <div class="plans-card-info">
                        A CRF-SP disponibilizou um formulário para que farmacêuticos e balconistas comuniquem a falta de Equipamento de Proteção Individual. 
                        <div class="btn">
                            <a href="{{ path('blog_detail', {'slug':'combate-ao-coronavirus-crf-sp-cria-formulario-para-comunicar-falta-de-equipamento-de-protecao-individual-epi'}) }}">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="space-h-30">
                <hr>
            </div>

            <div class="covid-header covid-header-podcasts text-center" id="corona-podcasts">
                <h2>PODCASTS</h2>
                <figure>
                    <img src="{{ asset('_dist/image/img/corona/podcast-pic.png')}}" alt="" class="">
                </figure>
            </div>

            <div class="text-content">

                <p>
                    Além dos textos, também temos podcasts especiais sobre nossa situação atual.
                </p>
                <p>
                    Temos um episódio com a presença do Dr. Marcelo Neubauer - CRM-SP 82623, médico infectologista da cidade de São Paulo, que vai aprofundar o debate sobre o COVID-19.
                </p>
                <p>
                    E um episódio especial com histórias e respostas das dúvidas enviadas por vocês, usuários da Neo Pharma.
                </p>
                <!--<p>
                    <strong>EM BREVE!</strong>
                </p> -->
            </div>
            <div class="list-podcasts">
                <ul class="slides owl-carousel">
                    <li>
                        <a href="" class="link-pod" data-modal="podcast1">
                            <img src="{{ asset('_dist/image/img/corona/video.png')}}" alt="">
                        </a>
                        <a href="" class="title-pod" data-modal="podcast1">Tudo o que você precisa saber sobre a COVID-19 para continuar atendendo com segurança.</a>
                    </li>
                    <li>
                        <a href="" class="link-pod" data-modal="podcast2">
                            <img src="{{ asset('_dist/image/img/corona/video2.png')}}" alt="">
                        </a>
                        <a href="" class="title-pod"  data-modal="podcast2">A Rotina de profissionais de Farmácia ao Redor do Brasil.</a>
                    </li>
                </ul>
            </div>
            <div class="space-h-30">
                <hr>
            </div>

            {#<div class="covid-header covid-header-ebook text-center" id="corona-ebook">
                <h2>E-BOOK</h2>
                <figure>
                    <img src="{{ asset('_dist/image/img/corona/ebook-pic.png')}}" alt="" class="">
                </figure>
            </div>
            <div class="ebook-container">
                <div class="text-content ebook-text">
                    <p>
                        Para um acesso ágil e sistematizado reunimos as principais informações da pandemia e das maneiras adequadas de se proteger em um e-book para você ter à palma da sua mão. 
                    </p>
                     <p>
                        <a href="" download>Clique aqui para baixar o livro.</a>
                    </p> 
                    <p>
                        <strong>EM BREVE!</strong>
                    </p>
                </div>
                <div class="ebbok-image">
                    <figure>
                        <a href="" download><img src="{{ asset('_dist/image/img/corona/ebook-image.png')}}" alt=""></a>
                    </figure>
                </div>
            </div>

            <div class="space-h-30">
                <hr>
            </div>#}

            <div class="covid-header covid-header-compartilhar text-center" id="compartilhar-ebook">
                <h2>PARA VOCÊ COMPARTILHAR</h2>
                <figure>
                    <img src="{{ asset('_dist/image/img/corona/compartilhar-pic.png')}}" alt="" class="">
                </figure>
            </div>
            <div class="text-content">
                <p>
                    Confira os cards informativos abaixo e compartilhe em suas redes sociais. <br>
                    Lembrem-se de apenas compartilhar informações verificadas. 
                </p>
                <p>
                    <strong>EM BREVE!</strong>
                </p>
            </div>
        </div>
        
        {# <div class="cards-container">
            <div class="container">
                <ul>
                    <li>
                        <a href="#" class="link-img" data-modal="card1">
                            <img src="{{ asset('_dist/image/img/corona/cards/01.jpg')}}">
                        </a>
                        <div class="text-center space-h-20">
                            <a href="" class="btn-default btn-share" data-modal="card1">Comaprtilhar <i class="fa fa-share-alt"></i></a>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="link-img" data-modal="card2">
                            <img src="{{ asset('_dist/image/img/corona/cards/02.jpg')}}">
                        </a>
                        <div class="text-center space-h-20">
                            <a href="" class="btn-default btn-share" data-modal="card2">Comaprtilhar <i class="fa fa-share-alt"></i></a>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="link-img" data-modal="card3">
                            <img src="{{ asset('_dist/image/img/corona/cards/03.jpg')}}">
                        </a>
                        <div class="text-center space-h-20">
                            <a href="" class="btn-default btn-share" data-modal="card3">Comaprtilhar <i class="fa fa-share-alt"></i></a>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="link-img" data-modal="card4">
                            <img src="{{ asset('_dist/image/img/corona/cards/04.jpg')}}">
                        </a>
                        <div class="text-center space-h-20">
                            <a href="" class="btn-default btn-share" data-modal="card4">Comaprtilhar <i class="fa fa-share-alt"></i></a>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="link-img" data-modal="card5">
                            <img src="{{ asset('_dist/image/img/corona/cards/05.jpg')}}">
                        </a>
                        <div class="text-center space-h-20">
                            <a href="" class="btn-default btn-share" data-modal="card5">Comaprtilhar <i class="fa fa-share-alt"></i></a>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="link-img" data-modal="card6">
                            <img src="{{ asset('_dist/image/img/corona/cards/06.jpg')}}">
                        </a>
                        <div class="text-center space-h-20">
                            <a href="" class="btn-default btn-share" data-modal="card6">Comaprtilhar <i class="fa fa-share-alt"></i></a>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="link-img" data-modal="card7">
                            <img src="{{ asset('_dist/image/img/corona/cards/07.jpg')}}">
                        </a>
                        <div class="text-center space-h-20">
                            <a href="" class="btn-default btn-share" data-modal="card7">Comaprtilhar <i class="fa fa-share-alt"></i></a>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="link-img" data-modal="card8">
                            <img src="{{ asset('_dist/image/img/corona/cards/08.jpg')}}">
                        </a>
                        <div class="text-center space-h-20">
                            <a href="" class="btn-default btn-share" data-modal="card8">Comaprtilhar <i class="fa fa-share-alt"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div> #}
    </div>
    
    <div class="modal-default pod-modal" id="podcast1">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Tudo o que você precisa saber sobre a COVID-19 para continuar atendendo com segurança.</h2>
                    <p>
                        Segundo o Conselho Federal de Farmácia, a atuação dos farmacêuticos na pandemia de covid-19 é importante para repassar informações corretas, prevenir e cuidar.
                    </p>
                </div>
                <audio controls="" class="audio-post myAudio" id="audio-post-">
                    <source src="https://portalneopharma.com.br/uploads/blog/ea0ed53377511099fc6eeb4178ff2d4c-a-rotina-de-profissionais-de-farmacia-ao-redor-do-brasil-1588186492-neo-pharma-tudo-sobre-covid-19-versao-regravada-mp3" type="audio/mpeg">
                    Seu navegador não suporta audio.
                </audio>
            </div>
        </div>
    </div>

    <div class="modal-default pod-modal" id="podcast2">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>A Rotina de profissionais de Farmácia ao Redor do Brasil.</h2>
                    <p>
                        O Dr. Marcelo Neubauer irá tirar algumas dúvidas dos farmacêuticos ao redor do Brasil, para entender como a situação atual causada pelo novo coronavírus afetou a vida profissional e pessoal deles.
                    </p>
                </div>
                <audio controls="" class="audio-post" id="audio-post-">
                    <source src="https://portalneopharma.com.br/uploads/blog/1f0b2a05f362e4f956aacadbae1559d3-a-rotina-de-profissionais-de-farmacia-ao-redor-do-brasil-1588681873-neo-pharma-duvidas-covid-19-mp3" type="audio/mpeg">
                    Seu navegador não suporta audio.
                </audio>
            </div>
        </div>
    </div>

    <!-- Modal card 1 -->
    <div class="modal-default card-modal" id="card1">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <figure class="img">
                        <a  href="{{ asset('_dist/image/img/corona/cards/01.jpg')}}" target="_blank" download>
                            <img src="{{ asset('_dist/image/img/corona/cards/01.jpg')}}">
                        </a>
                    </figure>
                </div>

                <ul class="share-socials">
                    <li>
                        <a class="btn-download btn-default" href="{{ asset('_dist/image/img/corona/cards/01.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                            <i class="fa fa-whatsapp"></i> 
                            baixe e envie por WhatsApp
                        </a>
                    </li>
                    {# <li>
                        <a href="javascript: window.open('https://www.facebook.com/sharer/sharer.php?u=' + window.location.origin + '/' + window.location.pathname, 'Facebook', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-facebook"></i> 
                            compartilhar no Facebook
                        </a>
                    </li>
                    <li>
                        <a href="javascript: window.open('https://twitter.com/intent/tweet?url=' + window.location.origin + '/' + window.location.pathname, 'Compartilhar', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-twitter"></i>
                            compartilhar no Twitter
                        </a>
                    </li> #}
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal card 2 -->
    <div class="modal-default card-modal" id="card2">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <figure class="img">
                        <a  href="{{ asset('_dist/image/img/corona/cards/02.jpg')}}" target="_blank" download>
                            <img src="{{ asset('_dist/image/img/corona/cards/02.jpg')}}">
                        </a>
                    </figure>
                </div>

                <ul class="share-socials">
                    <li>
                        <a class="btn-download btn-default" href="{{ asset('_dist/image/img/corona/cards/02.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                            <i class="fa fa-whatsapp"></i> 
                            baixe e envie por WhatsApp
                        </a>
                    </li>
                    {# <li>
                        <a href="javascript: window.open('https://www.facebook.com/sharer/sharer.php?u=' + window.location.origin + '/' + window.location.pathname, 'Facebook', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-facebook"></i> 
                            compartilhar no Facebook
                        </a>
                    </li>
                    <li>
                        <a href="javascript: window.open('https://twitter.com/intent/tweet?url=' + window.location.origin + '/' + window.location.pathname.split('/')[1] + '/' + $('.card-recipe .active .item').data('hash'), 'Compartilhar', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-twitter"></i>
                            compartilhar no Twitter
                        </a>
                    </li> #}
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal card 3 -->
    <div class="modal-default card-modal" id="card3">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <figure class="img">
                        <a  href="{{ asset('_dist/image/img/corona/cards/03.jpg')}}" target="_blank" download>
                            <img src="{{ asset('_dist/image/img/corona/cards/03.jpg')}}">
                        </a>
                    </figure>
                </div>

                <ul class="share-socials">
                    <li>
                        <a class="btn-download btn-default" href="{{ asset('_dist/image/img/corona/cards/03.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                            <i class="fa fa-whatsapp"></i> 
                            baixe e envie por WhatsApp
                        </a>
                    </li>
                    {# <li>
                        <a href="javascript: window.open('https://www.facebook.com/sharer/sharer.php?u=' + window.location.origin + '/' + window.location.pathname, 'Facebook', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-facebook"></i> 
                            compartilhar no Facebook
                        </a>
                    </li>
                    <li>
                        <a href="javascript: window.open('https://twitter.com/intent/tweet?url=' + window.location.origin + '/' + window.location.pathname.split('/')[1] + '/' + $('.card-recipe .active .item').data('hash'), 'Compartilhar', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-twitter"></i>
                            compartilhar no Twitter
                        </a>
                    </li> #}
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal card 4 -->
    <div class="modal-default card-modal" id="card4">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <figure class="img">
                        <a  href="{{ asset('_dist/image/img/corona/cards/04.jpg')}}" target="_blank" download>
                            <img src="{{ asset('_dist/image/img/corona/cards/04.jpg')}}">
                        </a>
                    </figure>
                </div>

                <ul class="share-socials">
                    <li>
                        <a class="btn-download btn-default" href="{{ asset('_dist/image/img/corona/cards/04.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                            <i class="fa fa-whatsapp"></i> 
                            baixe e envie por WhatsApp
                        </a>
                    </li>
                    {# <li>
                        <a href="javascript: window.open('https://www.facebook.com/sharer/sharer.php?u=' + window.location.origin + '/' + window.location.pathname, 'Facebook', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-facebook"></i> 
                            compartilhar no Facebook
                        </a>
                    </li>
                    <li>
                        <a href="javascript: window.open('https://twitter.com/intent/tweet?url=' + window.location.origin + '/' + window.location.pathname.split('/')[1] + '/' + $('.card-recipe .active .item').data('hash'), 'Compartilhar', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-twitter"></i>
                            compartilhar no Twitter
                        </a>
                    </li> #}
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal card 5 -->
    <div class="modal-default card-modal" id="card5">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <figure class="img">
                        <a  href="{{ asset('_dist/image/img/corona/cards/05.jpg')}}" target="_blank" download>
                            <img src="{{ asset('_dist/image/img/corona/cards/05.jpg')}}">
                        </a>
                    </figure>
                </div>

                <ul class="share-socials">
                    <li>
                        <a class="btn-download btn-default" href="{{ asset('_dist/image/img/corona/cards/05.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                            <i class="fa fa-whatsapp"></i> 
                            baixe e envie por WhatsApp
                        </a>
                    </li>
                    {# <li>
                        <a href="javascript: window.open('https://www.facebook.com/sharer/sharer.php?u=' + window.location.origin + '/' + window.location.pathname, 'Facebook', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-facebook"></i> 
                            compartilhar no Facebook
                        </a>
                    </li>
                    <li>
                        <a href="javascript: window.open('https://twitter.com/intent/tweet?url=' + window.location.origin + '/' + window.location.pathname.split('/')[1] + '/' + $('.card-recipe .active .item').data('hash'), 'Compartilhar', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-twitter"></i>
                            compartilhar no Twitter
                        </a>
                    </li> #}
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal card 6 -->
    <div class="modal-default card-modal" id="card6">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <figure class="img">
                        <a  href="{{ asset('_dist/image/img/corona/cards/06.jpg')}}" target="_blank" download>
                            <img src="{{ asset('_dist/image/img/corona/cards/06.jpg')}}">
                        </a>
                    </figure>
                </div>

                <ul class="share-socials">
                    <li>
                        <a class="btn-download btn-default" href="{{ asset('_dist/image/img/corona/cards/06.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                            <i class="fa fa-whatsapp"></i> 
                            baixe e envie por WhatsApp
                        </a>
                    </li>
                    {# <li>
                        <a href="javascript: window.open('https://www.facebook.com/sharer/sharer.php?u=' + window.location.origin + '/' + window.location.pathname, 'Facebook', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-facebook"></i> 
                            compartilhar no Facebook
                        </a>
                    </li>
                    <li>
                        <a href="javascript: window.open('https://twitter.com/intent/tweet?url=' + window.location.origin + '/' + window.location.pathname.split('/')[1] + '/' + $('.card-recipe .active .item').data('hash'), 'Compartilhar', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-twitter"></i>
                            compartilhar no Twitter
                        </a> #}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal card 7 -->
    <div class="modal-default card-modal" id="card7">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <figure class="img">
                        <a  href="{{ asset('_dist/image/img/corona/cards/07.jpg')}}" target="_blank" download>
                            <img src="{{ asset('_dist/image/img/corona/cards/07.jpg')}}">
                        </a>
                    </figure>
                </div>

                <ul class="share-socials">
                    <li>
                        <a class="btn-download btn-default" href="{{ asset('_dist/image/img/corona/cards/07.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                            <i class="fa fa-whatsapp"></i> 
                            baixe e envie por WhatsApp
                        </a>
                    </li>
                    {# <li>
                        <a href="javascript: window.open('https://www.facebook.com/sharer/sharer.php?u=' + window.location.origin + '/' + window.location.pathname, 'Facebook', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-facebook"></i> 
                            compartilhar no Facebook
                        </a>
                    </li>
                    <li>
                        <a href="javascript: window.open('https://twitter.com/intent/tweet?url=' + window.location.origin + '/' + window.location.pathname.split('/')[1] + '/' + $('.card-recipe .active .item').data('hash'), 'Compartilhar', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-twitter"></i>
                            compartilhar no Twitter
                        </a>
                    </li> #}
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal card 8 -->
    <div class="modal-default card-modal" id="card8">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <figure class="img">
                        <a  href="{{ asset('_dist/image/img/corona/cards/08.jpg')}}" target="_blank" download>
                            <img src="{{ asset('_dist/image/img/corona/cards/08.jpg')}}">
                        </a>
                    </figure>
                </div>

                <ul class="share-socials">
                    <li>
                        <a class="btn-download btn-default" href="{{ asset('_dist/image/img/corona/cards/08.jpg')}}" target="_blank" id="btn-wpp-share-cards" download>
                            <i class="fa fa-whatsapp"></i> 
                            baixe e envie por WhatsApp
                        </a>
                    </li>
                    {# <li>
                        <a href="javascript: window.open('https://www.facebook.com/sharer/sharer.php?u=' + window.location.origin + '/' + window.location.pathname, 'Facebook', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-facebook"></i> 
                            compartilhar no Facebook
                        </a>
                    </li>
                    <li>
                        <a href="javascript: window.open('https://twitter.com/intent/tweet?url=' + window.location.origin + '/' + window.location.pathname.split('/')[1] + '/' + $('.card-recipe .active .item').data('hash'), 'Compartilhar', 'width=854,height=480'); void(0);" class="btn-default">
                            <i class="fa fa-twitter"></i>
                            compartilhar no Twitter
                        </a>
                    </li> #}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block openGraph %}
	<meta property="og:locale" content="pt_BR">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Portal Neo Pharma - Covid-19">
	<meta property="og:description" content="Cartões informativos Covid-19 - Portal Neo Pharma - Covid-19">
	<meta property="og:image:width" content="1000">
	<meta property="og:image:height" content="628">
	<meta property="og:updated_time" content="{{ "now"|date('Y-m-d H:s:i') }}" />

    <meta property="og:url" content="{{ absolute_url(path('covid19'))|replace({'http://': 'https://'}) }}">
    
    <meta property="og:title" content="Cards Covid-19">
    <meta class="meta-img" property="og:image" content="{{ absolute_url(asset('/_dist/image/img/facebook_lpp.jpg'))|replace({'http://': 'https://'}) }}">
    
{% endblock %}

{% block openGraphTwitter %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="Portal Neo Pharma - Covid-19"/>
	<meta name="twitter:description" content="Cartões informativosd Covid-19 - Portal Neo Pharma - Covid-19"/>
    <meta name="twitter:title" content="Cartões informativos Neo Pharma - Covid-19"/>
    <meta class="meta-img" name="twitter:image" content="{{ absolute_url(asset('/_dist/image/img/facebook_lpp.jpg'))|replace({'http://': 'https://'}) }}"/>
    <meta class="meta-img" name="twitter:image:src" content="{{ absolute_url(asset('/_dist/image/img/facebook_lpp.jpg'))|replace({'http://': 'https://'}) }}"/>
{% endblock %}

{% block javascripts %} 
    <script>
        $(document).ready(function(){
            $(".covid-inter-menu a").click(function( event ) {
                event.preventDefault();
                $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top - 80 }, 500);
            });

            $(".fancybox").fancybox();

            

            $(window).resize(function() {
                windowWidth();
            });

            function windowWidth(){
                var wWindow = $(window).width();

                if(wWindow <= 960){
                    $("body").removeClass("desktop");
                    $("body").addClass("mobile");
                } else{
                    $("body").removeClass("mobile");
                    $("body").addClass("desktop");
                }
            }

            windowWidth();

            $(".mobile .plans-card-box").click(function() {
                $(this).toggleClass('open');
            });


            
			if($(".list-podcasts .slides").length) {
				$(".list-podcasts .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					margin: 0,
					loop: true,
					responsiveClass: true,
					nav: false,
					items: 1, 
                    responsive:{
                        0:{
                            items:1,
                            nav:true
                        },
                        960:{
                            items:2,
                            nav:false,
                            loop: false
                        }
                    }

				});
			}

            function modalPromoThirtyDays() {
                $('#modal-promo30day').removeClass('hide');
                $('#modal-promo30day').addClass('show');
                
                if($('#modal-promo30day').hasClass('open-menu')){
                    $('#modal-promo30day').removeClass('open-modal');
                } else{
                    $('#modal-promo30day').addClass('open-modal');
                }
            }

            if(window.innerWidth <= 960) {
                setTimeout(function() {
                    $(".cards-container ul").addClass('owl-carousel');
                    $(".cards-container ul").owlCarousel({
                        center:true,
                        margin: 100,
                        loop: true,
                        responsiveClass: true,
                        nav: true,
                        items: 1
                    });
                }, 100);
            }

            $(".btn-share, .link-img").click(function(){
                var modalActive = $(".card-modal.open-modal").attr("id");

                var imgActive = $("#"+modalActive+" figure.img img").attr("src");

                var imgog = $(".meta-img").attr("content", document.location.host+imgActive);

                console.log(imgActive);
            });
            
        });
    </script>

{% endblock %}


