{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Outubro Rosa{% endblock %}
    
{% block body %}
<div class="page-novembro-azul" id="">
    <div class="text-center banner-novembro-azul" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-novembro-azul', 'eventAction': 'click', 'eventLabel': 'hero:confira-nossas-materias'});" >
        <div class="hidden-xs"><img src="{{ asset('_dist/image/img/novembro-azul/banner.png')}}" alt="Banner"></div>
        <div class="visible-xs"><img src="{{ asset('_dist/image/img/novembro-azul/banner-mobile.jpg')}}" alt="Banner"></div>
    </div>
    
    <div class="novembro-azul-section-1">
        <div class="container">
            <div class="novembro-azul-section-1-row">
                <div class="text-center novembro-azul-img">
                    <img src="{{ asset('_dist/image/img/novembro-azul/fita-bola.png')}}" alt="">
                </div>
                <p class="novembro-azul-text">
                    Sempre é tempo de reforçar a importância da prevenção contra o câncer de próstata e, esse mês, nós vamos ajudar você, profissional de farmácia, a levar mais conhecimento aos seus clientes!
                </p>
            </div>
        </div>
        <div class="container">
            <div class="novembro-azul-cards-title">
                <h2>Compartilhe os cards abaixo!</h2>
            </div>
        </div>
    </div>

    <section class="cards-novembro-azul">
        <div class="container">
            <div class="card-carousel">
                <div class="slides owl-carousel">
                    <div class="item">
                        <a href="{{ asset('_dist/image/img/novembro-azul/card-1.jpg')}}" download target="blank"  class="cards-novembro-azul-img" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-novembro-azul', 'eventAction': 'click', 'eventLabel': 'cards:download:o-que-e-a-prostata'});">
                            <img src="{{ asset('_dist/image/img/novembro-azul/card-1.jpg')}}" alt="">
                        </a>
                        <div class="text-center">
                            <a href="{{ asset('_dist/image/img/novembro-azul/card-1.jpg')}}" download target="blank"  class="btn-default" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-novembro-azul', 'eventAction': 'click', 'eventLabel': 'cards:download:o-que-e-a-prostata'});">Download</a>
                        </div>
                    </div>
                    
                    <div class="item">
                        <a href="{{ asset('_dist/image/img/novembro-azul/card-2.jpg')}}" download target="blank"  class="cards-novembro-azul-img" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-novembro-azul', 'eventAction': 'click', 'eventLabel': 'cards:download:quais-sao-os-fatores-de-risco-para-o-desenvolvimento-do-cancer-de-prostata'});">
                            <img src="{{ asset('_dist/image/img/novembro-azul/card-2.jpg')}}" alt="">
                        </a>
                        <div class="text-center">
                            <a href="{{ asset('_dist/image/img/novembro-azul/card-2.jpg')}}" download target="blank"  class="btn-default" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-novembro-azul', 'eventAction': 'click', 'eventLabel': 'cards:download:quais-sao-os-fatores-de-risco-para-o-desenvolvimento-do-cancer-de-prostata'});">Download</a>
                        </div>
                    </div>

                    <div class="item">
                        <a href="{{ asset('_dist/image/img/novembro-azul/card-3.jpg')}}" download target="blank"  class="cards-novembro-azul-img" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-novembro-azul', 'eventAction': 'click', 'eventLabel': 'cards:download:sinais-e-sintomas-do-cancer-de-prostata'});">
                            <img src="{{ asset('_dist/image/img/novembro-azul/card-3.jpg')}}" alt="">
                        </a>
                        <div class="text-center">
                            <a href="{{ asset('_dist/image/img/novembro-azul/card-3.jpg')}}" download target="blank"  class="btn-default" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-novembro-azul', 'eventAction': 'click', 'eventLabel': 'cards:download:sinais-e-sintomas-do-cancer-de-prostata'});">Download</a>
                        </div>
                    </div>

                    <div class="item">
                        <a href="{{ asset('_dist/image/img/novembro-azul/card-4.jpg')}}" download target="blank"  class="cards-novembro-azul-img" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-novembro-azul', 'eventAction': 'click', 'eventLabel': 'cards:download:quais-sintomas-sao-realizados-para-investigar-o-cancer'});">
                            <img src="{{ asset('_dist/image/img/novembro-azul/card-4.jpg')}}" alt="">
                        </a>
                        <div class="text-center">
                            <a href="{{ asset('_dist/image/img/novembro-azul/card-4.jpg')}}" download target="blank"  class="btn-default" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-novembro-azul', 'eventAction': 'click', 'eventLabel': 'cards:download:quais-sintomas-sao-realizados-para-investigar-o-cancer'});" >Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="novembro-azul-section">
        <div class="container">
            <h2>Novembro Azul</h2>
            <div class="grid align-items-center">
                <div class="one-half novembro-azul-section-img">
                    <a href="https://portalneopharma.com.br/blog/post/novembro-azul" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-novembro-azul', 'eventAction': 'click', 'eventLabel': 'materia:novembro-azul'});">
                        <img src="{{ asset('_dist/image/img/novembro-azul/img-01.png')}}" class="hidden-xs" alt="">
                        <img src="{{ asset('_dist/image/img/novembro-azul/img-01-mobile.jpg')}}" class="visible-xs" alt="">
                    </a>
                </div>
                <div class="one-half novembro-azul-section-text">   
                    <p>
                        <a href="https://portalneopharma.com.br/blog/post/novembro-azul" class="text-white" target="_blank" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-novembro-azul', 'eventAction': 'click', 'eventLabel': 'materia:novembro-azul'});">
                            Saiba mais sobre o mês de prevenção contra o câncer de próstata e o seu papel, profissional de farmácia, nessa luta!
                        </a>
                    </p>
                </div>
            </div>

            <div class="novembro-azul-section-fita">
                <img src="{{ asset('_dist/image/img/novembro-azul/fita.png')}}" class="hidden-xs" alt="Laço Novembro Azul">
                <img src="{{ asset('_dist/image/img/novembro-azul/fita-2.png')}}" class="visible-xs" alt="Laço Novembro Azul">
            </div>
        </div>
    </section>

</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            //Carrossel
            if($(".card-carousel .slides").length) {
				$(".card-carousel .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					margin: 30,
					loop: true,
					responsiveClass: true,
					nav: true,
					items: 1, 
                    responsive:{
                        0:{
                            items:1,
                            nav:true
                        },
                        960:{
                            items:4,
                            nav:true,
                            loop: false
                        }
                    }
				});
			}
        });
    </script>
{% endblock %}