{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Produto - {% endblock %}

{% block body %}
    <article class="post-content cat-5 product-section" id="product-id-">
        <section class="banner-main">    
            <div class="p-hero">
               <div class="slide p-hero__item">
                    <div class="p-hero__body">
                        <h1 class="p-hero__title">{{ product.name }}</h1>
                    </div>
                    
                    <figure class="p-hero__figure">
                        <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{asset('_dist/image/img/banner-produtos.jpg')}}'), url(/_dist/image/img/default.jpg);" alt="{{product.name}}" class="img-post hidden-xs" />
                           
                        <!-- Mobile -->
                        <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{asset('_dist/image/img/banner-mobile-produto.jpg')}}'), url(/_dist/image/img/default.jpg);" alt="{{product.name}}" class="img-post visible-xs" />
                    </figure>
                </div>
            </div>
        </section>

        <div class="container">
            <header class="header-main text-center">
                <div>
                    <span class="like-box item-share-rating product-like-button">
                        <button class="like-button-post add-favorite {{isSaved ? 'saved' : ''}}" id="like-button-product-{{product.slug}}" data-ajax="{{ path('api-add-favorite', {'id': product.id, 'type' : 'product'}) }}" data-user="{{ app.user.id is defined ? 1 : 0 }}">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </header>
            
            <div id="slide-product-image" class="slide-product-image space-h-30 slide-gray">
                <div class="slides owl-carousel">
                    {% for asset in product.assets %}
                        {% if asset.type == 'image' %}
                            <div class="item text-center">
                                <img src="{{ asset(asset.file) }}" alt="{{product.name}}">
                            </div>
                        {% else %}
                            <video class="asset-video" controls with="100%">
                                <source src="{{asset(asset.file)}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <h2>{{ product.name }}</h2>

            <div class="content-main content-text space-h-30">
                <p>
                    <strong>Princípio ativo:</strong> {{ product.activeSubstance }}
                </p>
                <p>
                    <strong>MS:</strong> {{ product.anvisaRegistration }}
                </p>
                <p>
                    <strong>Apresentação:</strong> {{ product.fullPresentation }}
                </p>
                <p>
                    <strong>Classificação em relação a Dispersão e Prescrição:</strong> {{ product.Classification.name }}
                </p>
                <p>
                    <strong>Classe Sistemica:</strong> {{ product.sistemicClass.name }}
                </p>
                <p>
                    <strong>Medicamento Referência:</strong> {{ product.refMedicine }}
                </p>
                <p>
                    <strong>Psicotrópico:</strong> {{ product.isPsicotropic ? 'Sim' : 'Não' }}
                </p>
                
                {% if otherPresentations|length > 0 %}
                    <h3>Apresentações</h3>
                    {% for op in  otherPresentations%}
                        <div class="inter-prod-box d-flex justify-content-between">
                            <figure>
                                <a class="check-if-is-logged" href="{{path('product_detail',{'slug' : op.slug})}}">
                                    <img src="{{ op.assets[0] is defined ? asset(op.assets[0].file) : asset('_dist/image/default_desktop.png') }}" alt="{{op.name}}">
                                </a>
                            </figure>
                            <div  class="prod-info">
                                <p>{{ op.fullPresentation }}</p>
                                {% if op.bullaFile is not null %}
                                    <a href="{{asset(op.bullaFile)}}" download class="text-green">Baixe a bula</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <p>
                    <strong>Indicações:</strong> 
                    {{ product.indication|raw }}
                </p>
                <p>
                    <strong>Contra Indicações:</strong>
                    {{ product.contraindication|raw }}
                </p>
                <p>
                    <strong>Composição:</strong> 
                    {{ product.composition|raw }}
                </p>
                <p>
                    <strong>Posologia:</strong>
                    {{ product.dosage|raw }}
                </p>

                {% if product.bullaFile is not null and not product.bullaFile == "" %}
                    <div class="d-flex pdf-box align-items-center">
                        <div class="icon-pdf">
                            <a href="{{asset(product.bullaFile)}}" download 
                            onclick="dataLayer.push({'event': 'gaEvent','event_name': 'baixe_a_bula','event_section': 'produtos','event_local': '{{ app.request.requestUri }}','event_text': 'baixe-o-pdf','event_action': 'click','event_product': '{{ product.name }}'});"><img src="{{asset('_dist/image/img/pdf-icon.png')}}" alt="Ícone de PDF" /></a>
                        </div>
                        <div class="text-pdf">
                            <span class="text-gray">Baixe o pdf com a bula do medicamento</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </article>

    <div class="container cat-1">
         {% if contentReferrer|length > 0 %}
            <hr class="line">
            <div class="cat-1">
                <h2 class="text-center">Conteúdos relacionados</h2>
            </div>

            {% for cr in contentReferrer %}
                {% include 'component/content-structure.html.twig' with { 'object' : cr.object, 'cat' : cr.cat, 'class' : cr.class }%}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
		$(document).ready(function() {
			//carrosel destaques home
			if($("#slide-product-image .slides").length) {
				$("#slide-product-image .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					center: true,
					margin: 0,
					loop: true,
					responsiveClass: true,
					nav: false,
					items: 1
				});

				$("#slide-product-image .owl-dot").each(function(x) {
					var x = x + 1;
					$(this).attr("id", "slide-product-image-dot-"+x);
				});
			}
		});
	</script>

{% endblock %}
