{% extends 'base.html.twig' %}
{% set metadescription = 'Consulte tudo sobre os medicamentos Neo Química. Portal da Neo Pharma a plataforma pensada para você, profissional de farmácia. Confira!' %}
{% set metatitle = 'Produtos' %}
{% block title %}Produtos{% endblock %}
{% block body %}
    <div class="produtos" id="produtos">
        <section class="banner-main">    
            <div class="p-hero">
                {% if banners is not null and banners|length > 0 %}
                {% for banner in banners %}
                    <div class="slide p-hero__item">
                        
                        <div class="p-hero__body">
                            <h1 class="p-hero__title">{{banner.title}}</h1>
                        </div>
                        
                        <figure class="p-hero__figure">
                            <!-- Desktop -->
                            <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{asset(banner.image)}}'), url(/_dist/image/img/default.jpg);" alt="{{banner.title}}" class="img-post hidden-xs" />
                           
                            <!-- Mobile -->
                            <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{asset(banner.image_mobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{banner.title}}" class="img-post visible-xs" />
                        </figure>
                    </div>
                  
                {% endfor %}
                    {% else %}
                    <div class="slide p-hero__item">
                        <div class="p-hero__body">
                            <h1 class="p-hero__title">Cursos</h1>
                        </div>
                        
                        <figure class="p-hero__figure">
                            <!-- Desktop -->
                            <img src="{{asset('_dist/image/cursos/cursos-banner.jpg')}}"  alt="{{banner.title}}" class="p-hero__figure-image hidden-xs">
                            <!-- Mobile -->
                            <img src="{{asset('_dist/image/cursos/cursos-banner.jpg')}}" alt="{{banner.title}}" class="p-hero__figure-image visible-xs">
                        </figure>
                    </div>
                {% endif %}
            </div>
        </section>

        <div class="container">
            <p class="p-intro">Consulte tudo sobre os medicamentos <strong>NEO QUÍMICA</strong></p>

            <div class="prod-top-filters">
                <div class="menu-prod-filter">
                    <div class="filter-list">
                        <a id="prod-cat-prod-1" href="{{ path('product_home') }}" class="btn-default btn-transparent {{ selectCat == '' ? 'active btn-full' : '' }}">Todos</a>
                        {% for cat in categories %}
                            <a id="prod-cat-prod-2" href="{{ path('product_home', {'category' : cat.slug}) }}" class="btn-default btn-transparent {{ selectCat == cat.slug ? 'active btn-full' : '' }}">{{cat.name}}</a>
                        {% endfor %}
                    </div>
                    {{ render(controller('App\\Controller\\ProductController::filterProduct', {'filter' : filter, 'selectCat' : selectCat })) }}
                </div>

                <div class="itens-top-filter">
                    <div class="products-filter">
                        <div class="btns-filter-prod">
                            <div class="src-prod">
                                <form class="form">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="send-prod-src" id="send-prod-src"><i class="fa fa-search"></i></i></button>
                                        <input type="text" id="prod-input-src" placeholder="Pesquisar produto" name="q" class="form-control" />
                                    </div>
                                </form>
                            </div>
                            
                            <div class="filter-btns-txt">
                                <div id="filter-prod" class="filter-prod"  data-modal="filter-product">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="filter-btn">
                                    <a href="#" data-modal="filter-product">Filtrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="product-section d-flex justify-content-between">
            {% for p in products %}
                <div class="prod-list-content">
                    <div class="prod-box">
                        <figure>
                            <a class="check-if-is-logged" href="{{path('product_detail',{'slug' : p.slug})}}"
                            onclick="dataLayer.push({'event': 'gaEvent','event_name': 'lista_de_produtos_click','event_local': '{{path('product_detail',{'slug' : p.slug})}}','event_action': 'click','event_text': '{{ p.name }}'});">
                                <img src="{{ p.assets[0] is defined ? asset(p.assets[0].file) : asset('_dist/image/default_desktop.png') }}" alt="{{p.name}}" class="visible-xs">
                                <img src="{{ p.assets[0] is defined ? asset(p.assets[0].file) : asset('_dist/image/default_mobile.png') }}" alt="{{p.name}}" class="hidden-xs">
                            </a>
                        </figure>

                        <div class="prod-info">
                            <h2>{{ p.name }}</h2>
                            <p>
                                {{ p.activeSubstance }}
                            </p>
                            <p>
                                {{ p.fullPresentation }}
                            </p>
                            <div class="space-h-30">
                                <a class="check-if-is-logged btn-default btn-yellow btn-yellow2" href="{{path('product_detail',{'slug' : p.slug})}}"
                                onclick="dataLayer.push({'event': 'gaEvent','event_name': 'lista_de_produtos_click','event_local': '{{path('product_detail',{'slug' : p.slug})}}','event_action': 'click','event_text': '{{ p.name }}'});"
                                >SAIBA MAIS</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="space-h-20">
                <div class="pagination" id="pagination">
                    {{ knp_pagination_render(products) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('vendor/select/select2.min.js') }}"></script>
    <script>
        $('document').ready(function(){
            $(".select-content").select2({
            });
        });
    </script>
{% endblock %}
