{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Incentivo 2021{% endblock %}
    
{% block body %}

    <div class="page-incentivo">
        <div class="text-center header-top">
            <div class="container">
                <h2>Ranking</h2>
                <p class="space-h-10">
                    Saiba quantos pontos você tem. 
                </p>
            </div>
        </div>

        <div class="src-points">
            <div class="container">
                {# <form> #}
                <div class="form">
                    <h3>
                        Preencha o campo abaixo com seu <span>código de indicação</span> e confira seus pontos.
                    </h3>
                    <span class="error" id="search-points-error"></span>
                    <div class="d-flex">
                        <input type="text" id="code-point" alt="" title="" />
                        <button type="button" id="btn-points"><i class="fa fa-search"></i></button>
                    </div>

                    <div class="text-center result-box">
                        <h4 id="msg-points"></h4>
                        <p>
                            <big id="result-points"></big>
                        </p>
                    </div>
                </div>
                {# </form> #}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %} 
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
        var url  = "{{ path('incentivo') }}";

        $('#btn-points').on('click', function(e){
            var $this = $(this),
                msg = $('#msg-points'),
                result = $('#result-points');

            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                cache: false,
	            headers: { "cache-control": "no-cache" },
                data: {
                    'q': 'search',
                    'cp': $('#code-point').val(),
                },
                beforeSend: function(e){
                  msg.text('Carregando...');
                  result.text('');
                  $this.attr("disabled", true);
                  $('#search-points-error').text('');
                },
                success: function (response) {
                    if(response.status){
                       msg.text('Resultado:');
                       result.text(response.points);
                    }else{
                        if(response.hasOwnProperty('message')){
                           $('#search-points-error').text(response.message);
                        }
                        msg.text('');
                    }                   
                    $this.attr("disabled", false);
                } 
            });
        });

        $('#code-point').on("keyup", function(){
            $('#search-points-error').text('');
        });
    </script>

{% endblock %}