@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
    
body{
    overflow: hidden;
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: #5660e2; 
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #5660e2;
    }
}

header{
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: #3d3d3d;
    a{
        color: #000;
        text-decoration: none;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }

    .logo{
        height: 100%;
        width: 250px;
        background-color: #FFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        .hold-logo{
            width: calc(100% - 52px);
            text-align: center;
            display: block;
            color: #000;
            text-decoration: none;
            &:hover{
                color: #000;
                text-decoration: none;
            }
            .logo-mini{
                img{
                    width: 30px;
                    height: 30px;
                }
            }
            .logo-lg{
                font-weight: bold;
            }
        }
        .hold-menu{
            width: 50px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid black;
            border-right: 1px solid black;
            cursor: pointer;
        }
    }

    .navbar{
        .dropdown{
            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #FFF;
                text-decoration: none;
                &:hover{
                    color: #FFF;
                    text-decoration: none;
                }
                i{
                    margin-right: 10px;
                }
            }
        }
    }
}

.content{
    display: flex;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    .sidebar{
        width: 250px;
        background-color: #3d3d3d;
        .user-panel{
            a{
                width: 100%;
                height: 40px;
                align-items: center;
                text-align: left;
                color: #FFF;
                display: flex;
                margin: 0;
                text-decoration: none;
                outline: none;
                i{
                    margin: 0 0px 0 10px;
                }
                img{
                    display: inline-block;
                    margin: 0 10px;
                    background-color: #FFF;
                    border-radius: 50%;
                }
            }
        }
        .sidebar-form{
            margin-top: 10px;
            padding: 0 10px;
            color: #FFF;
            button{
                border-right: 1px solid #FFF;
                border-top: 1px solid #FFF;
                border-bottom: 1px solid #FFF;
                i{
                    color: #FFF;
                }
            }
            
        }
        .sidebar-menu{
            background-color: #4d4d4d;
            margin: 20px 0;
            .treeview{
                .menu-father{
                    width: 100%;
                    height: 40px;
                    align-items: center;
                    color: #FFF;
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    i{
                        margin: 0 10px 0 10px;
                        font-size: 10px;
                    }
                    border-bottom: 1px solid black;
                    cursor: pointer;
                    &:hover{
                        background-color: #000;
                    }
                }
                .treeview-menu{
                    display: none;
                    &.opened{
                        display: flex;
                    }
                    flex-direction: column;
                    li{
                        display: block;
                        width: calc(100% - 10px);
                        margin-left: 10px;
                        align-self: flex-end;
                        &:hover{
                            background-color: #000;
                        }
                        a{
                            width: 100%;
                            height: 40px;
                            align-items: center;
                            color: #FFF;
                            display: flex;
                            text-decoration: none;
                            i{
                                margin: 0 10px 0 10px;
                                font-size: 10px;
                            }
                            border-bottom: 1px solid black;
                            cursor: pointer;
                        }

                    }
                }
            }
        }
    }
    .admin-content{
        padding: 20px;
        width: calc(100% - 250px);
        height: calc(100vh - 50px);
        overflow-y: auto;
        h1.title{
            text-align: center;
            background-color: #d3d3d3;
            height: 40px;
            line-height: 40px;
            font-size: 30px;
            margin-top: 20px;
            &.first{
                margin-top: 0px;
            }
        }

        .hold-quiz-content{
            display: flex;
            justify-content: space-evenly;
            .hold-quiz-info{
                display: flex;
                align-items: center;
                border-radius: 5px;
                flex-direction: column;
                margin: 0 auto 30px;
                font-style: initial;
                font-weight: bold;
                max-width: 500px;
                overflow-y: auto;
                .hold-image{
                    width: 100%;
                    height: 300px;
                    margin: 10px 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    display: flex;
                    flex-direction: column-reverse;
                    padding-bottom: 10px;
                    padding-left: 10px;
                    p.quiz-title, p.quiz-shortdescription{
                        width: fit-content;
                        background: #5660e2;
                        align-self: flex-start;
                        color: #FFF;
                        padding: 5px;
                        border-radius: 5px;
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        margin-top: 5px;
                        font-size: 15px;
                        font-weight: bold;
                    }
                    p.quiz-title{
                        font-size: 20px;
                    }
                }
                .hold-description{

                    p{
                        font-size: 15px;
                        font-weight: bold;
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        margin-top: 10px;
                        color: #FFF;
                        padding: 5px;
                        border-radius: 5px;
                    }
                }
                
            }
            .quiz-test{
                width: 387px;
                height: 800px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                display: block;
                background-image: url('../image/admin/cellphone-cover.png');
                padding: 43px 17px 0 17px;
                margin: 10px auto;
                .hold-quiz{
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    
                    border-radius: 5px;
                    flex-direction: column;
                    margin: 0 auto;
                    font-style: initial;
                    font-weight: bold;
                    max-width: 500px;
                    height: 705px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    p{
                        display: none;
                    }
                    .hold-answers{
                        width: 100%;
                        height: max-content;
                        margin-top:10px;
                        .owl-stage {
                            display: flex;
                        }
                        
                        .answer-hold{
                            border: 2px solid #2e94bd;
                            border-radius: 5px;
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            padding: 5px;
                            img{
                                display: block;
                                margin: 0 auto;
                                width: 98%;
                                border-radius: 3px;
                            }
                            p{
                                display: block;
                                text-align: center;
                                font-size: 12px;
                                flex-grow: 1;
                                margin-block-start: 0px;
                                margin-block-end: 0px;
                                margin-inline-start: 0px;
                                margin-inline-end: 0px;
                            }
                            button{
                                font-size: 10px;
                                margin-bottom: auto;
                                align-self: center;
                                padding: 3px 5px;
                                border-radius: 5px;
                                color: #FFFFFF;
                                background-color: #5660e2;
                                outline: none;
                                &.correct{
                                    background-color: #48c97e;
                                }
                                &.wrong{
                                    background-color: #ce5656;
                                }
                                &.selected, &.selected-aswer{
                                    background-color: #d17bbc;
                                }
                            }
                        }
                    }
                    .typing{
                        img{
                            width: 50px;
                            margin-top: 5px;
                        }
                    }

                    .hold-bot{
                        display: flex;
                        align-self: flex-start;
                        color: #2e94bd;
                        width: 80%;
                        flex-direction: row;
                        align-items: center;
                        justify-content: left;
                        margin-top: 10px;
                        img{
                            width: 30px;
                            height: 30px;
                            margin: 0 5px 0 0;
                            border-radius: 50%;
                        }
                        .bot.feedback{
                            width: calc(100% - 35px);
                            max-width: 100%;
                            display: block;
                            font-size: 15px;
                            font-weight: bold;
                            margin-block-start: 0px;
                            margin-block-end: 0px;
                            margin-inline-start: 0px;
                            margin-inline-end: 0px;
                            background: #2e94bd;
                            color: #FFF;
                            padding: 5px;
                            border-radius: 5px;
                        }
                    }

                    .bot{
                        display: block;
                        align-self: flex-start;
                        width: calc(80% - 35px);
                    }

                    .bot.typing{
                        margin-top: 10px;
                        margin-left: 35px;
                    }
        
                    .bot.question{
                        display: block;
                        font-size: 15px;
                        font-weight: bold;
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        margin-top: 10px;
                        margin-left: 35px;
                        background: #2e94bd;
                        color: #FFF;
                        padding: 5px;
                        border-radius: 5px;
                    }
                    .bot.feedback{
                        display: block;
                        font-size: 15px;
                        font-weight: bold;
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        margin-top: 10px;
                        margin-left: 35px;
                        background: #2e94bd;
                        color: #FFF;
                        padding: 5px;
                        border-radius: 5px;
                    }
                    .bot.result{
                        display: block;
                        font-size: 15px;
                        font-weight: bold;
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        margin-top: 10px;
                        margin-left: 35px;
                        background: #2e94bd;
                        color: #FFF;
                        padding: 5px;
                        border-radius: 5px;
                    }

                    .hold-user{
                        display: flex;
                        width: 80%;
                        align-self: flex-end;
                        flex-direction: row;
                        align-items: center;
                        align-items: center;
                        justify-content: right;
                        margin-top: 10px;
                        img{
                            width: 30px;
                            height: 30px;
                            margin: 0 0 0 5px;
                            border-radius: 50%;
                        }
                        p.user{
                            width: calc(100% - 35px);
                            max-width: 100%;
                            display: block;
                            align-self: flex-end;
                            text-align: left;
                            color: #FFF;
                            display: block;
                            margin-block-start: 0px;
                            margin-block-end: 0px;
                            margin-inline-start: 0px;
                            margin-inline-end: 0px;
                            background: #a5a498;
                            padding: 5px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }

        .hold-graphic{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            h1{
                font-size: 25px;
                text-align: center;
                margin-top: 20px;
                text-align: left;
            }
            .graph{
                width: 100%;
                overflow-y: auto;
                svg{
                    height: 300px;
                    width: 100%;
                }
                table{
                    width: 99%;
                    margin-bottom: 20px;
                    height: 400px;
                    overflow-y: auto;
                }
            }
        }

        .double-field{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .hold-graphic{
                width: 50%;
                h1{
                    font-size: 25px;
                    text-align: center;
                    margin-top: 20px;
                    text-align: left;
                }
                .graph{
                    width: 100%;
                    overflow-y: auto;
                    svg{
                        width: 100%;
                        height: 400px;
                    }
                    table{
                        width: 99%;
                        height: fit-content;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        
        .btn-default{
            background-color: #3d3d3d;
            color: #FFF;
            &:hover{
                color:#FFF;
                background-color: #5d5d5d;
            }
        }
        
        table{
            width: fit-content;
            margin: 10px auto;
            th{
                text-align: center;
            }
            td{
                text-align: left;
                vertical-align: middle;
                &.center{
                    text-align: center;
                }
                img{
                    display: block;
                    margin: 0 auto;
                    max-width: 50px;
                    
                }
                .barcode{
                    max-width: 300px;
                    width: 200px;
                }
            }
            
        }
        
        .box-body {
            .form-group-double {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .form-group{
                    width: 45%;

                    &.hold-image{
                        width: 40%;
                        padding: 2%;
                        border-radius: 5px;
                        border: 1px solid #d3d3d3;
                        margin: 2%;
                    }
                    label{
                        display: block;
                    }
                    img, video{
                        max-width: 200px;
                        display: block;
                        margin: 5px auto;
                    }
                    input[type='text']{
                        width:100%;
                    }
                    select{
                        width:100%;
                    }
                }
            }
            .form-group{
                label{
                    display: block;
                    font-size: 15px;
                    font-weight: bold;
                }
                img, video{
                    max-width: 100px;
                }
                input[type='text']{
                    width:100%;
                }
                select{
                    width:100%;
                }
            }
            #hold-assets{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .hold-product-asset{
                    width: 40%;
                    padding: 2%;
                    border-radius: 5px;
                    border: 1px solid #d3d3d3;
                    margin: 2%;
                    .form-group{
                        label{
                            display: inline-block;
                        }
                        img, video{
                            display: block;
                            margin: 0 auto;
                            max-width: 100px;
                        }
                    }
                }
            }
        }

        .box-header{
            background: #5d5d5d;
            color: #FFF;
            margin: 10px 0 0;
            .box-title{
                display: flex;
                justify-content: space-between;
                align-content: center;
                height: 40px;
                line-height: 40px;
                padding: 0 10px;
                margin: 0;
                i{
                    font-size: 20px;
                }
            }
        }

        .hold-questions, .hold-results, .hold-quiz{
            padding: 20px;
            border: 1px solid #d3d3d3;
            margin-bottom: 10px;
            .question, .result{
                padding: 20px;
                border: 1px solid #d3d3d3;
                border-radius: 5px;
                .box-title{
                    i{
                        float: right;
                    }
                }
                .hold-answers{
                    .question-answer{
                        padding: 20px;
                        border: 1px solid #d3d3d3;
                        margin-bottom: 20px;
                        .box-title{
                            i{
                                float: right;
                            }
                        }
                    }
                }
            }
        }

        .hold-referrer-content{
            border: 1px solid #d3d3d3;
            border-radius: 5px;
            padding: 20px;
            margin: 10px 0;
            i{
                font-size: 30px;
            }
        }

        form {
            h1{
                background: #4d4d4d;
                padding: 0 5px;
                color: #FFF;
                font-size: 20px;
                height: 40px;
                line-height: 40px;
                li{
                    cursor: pointer;
                    font-size: 12px;
                }
            }
            .box-body {
                .form-group-double {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .form-group{
                        width: 45%;
                        &.border{
                            padding: 5px;
                            border: 1px solid #d3d3d3;
                            border-radius: 5px;
                        }
                        &.hold-image{
                            width: 40%;
                            padding: 2%;
                            border-radius: 5px;
                            border: 1px solid #d3d3d3;
                            margin: 2%;
                        }
                        label{
                            display: block;
                        }
                        img, video{
                            max-width: 200px;
                            display: block;
                            margin: 5px auto;
                        }
                        input[type='text'],input[type='file']{
                            width:100%;
                        }
                        select{
                            width:100%;
                        }
                    }
                }
                .form-group{
                    &.border{
                        padding: 5px;
                        border: 1px solid #d3d3d3;
                        border-radius: 10px;
                    }
                    label{
                        display: block;
                        font-size: 15px;
                        font-weight: bold;
                    }
                    img, video{
                        max-width: 100px;
                    }
                    input[type='text']{
                        width:100%;
                    }
                    select{
                        width:100%;
                    }
                }
                #hold-assets{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .hold-product-asset{
                        width: 40%;
                        padding: 2%;
                        border-radius: 5px;
                        border: 1px solid #d3d3d3;
                        margin: 2%;
                        .form-group{
                            label{
                                display: inline-block;
                            }
                            img, video{
                                display: block;
                                margin: 0 auto;
                                max-width: 100px;
                            }
                        }
                    }
                }
            }
            #hold-assets{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .hold-product-asset{
                    width: 40%;
                    padding: 2%;
                    border-radius: 5px;
                    border: 1px solid #d3d3d3;
                    margin: 2%;
                    .form-group{
                        label{
                            display: inline-block;
                        }
                        select{
                            margin-bottom: 10px; 
                        }
                        .preview{
                            img, video{
                                display: block;
                                margin: 0 auto 10px;
                                width: 90%;
                                max-width: 300px;
                            }
                        }
                        button{
                            display: block;
                            margin-top: 20px;
                        }
                    }
                }
            }
        
            .box-footer{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 60px;
                background: #d3d3d3;
                padding: 10px;
                border-radius: 5px;
                button, a{
                    display: block;
                    margin-left: 10px;
                }
            }
        }
        
        .box-paginator{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            .pagination{
                width: fit-content;
                span{
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    border: 1px solid #d3d3d3;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: center;
                    margin: 2px;
                    a{
                        text-decoration: none;
                        outline: none;
                    }
                }

                .first{

                }
                .previous{

                }
                .current{

                }
                .page{

                }
                .next{

                }
                .last{

                }
            }
        }

        .box-footer.view{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 60px;
            background: #d3d3d3;
            padding: 10px;
            border-radius: 5px;
            button, a{
                display: block;
                margin-left: 10px;
            }
        }

        .box{
            .owl-carousel{
                .owl-item{
                    .hold-asset{
                        .asset-image{
                            display: block;
                            max-width: 300px;
                            margin: 0 auto;
                        }
                        .asset-video{
                            display: block;
                            max-width: 400px;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }        
        
        .hold-badge{
            padding: 10px;
            border: 1px solid #5d5d5d;
        }

        .hold-levels{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            border: 1px solid #5d5d5d;
            margin-bottom: 20px;
            .hold-level{
                display: flex;
                flex-direction: column;
                margin: 1%;
                width: 48%;
                padding: 5px 10px 0;
                border: 1px solid #5d5d5d;
                border-radius: 5px;
                i{
                    align-self: flex-end;
                    margin-top: 5px;
                    font-size: 25px;
                    cursor: pointer;
                
                }
            }    
        }
    }

}

.lightbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.8);
    #lightbox-text{
        color: #FFF;
        font-size: 20px;
    }
    #lightbox-loading{
        display: block;
        margin: 10px;
        width: 150px;
        height: 150px;
    }
}
