{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Oriente me{% endblock %}
    
{% block body %}
    <div class="live-vida-saudavel" id="live-vida-saudavel">
        <section  class="banner-live-vida-saudavel">
            <div class="hidden-xs">
                <div class="container">
                    <img src="{{ asset('_dist/image/img/live-vida-saudavel/banner-live-desktop.jpg')}}" alt="Banner">
                </div>
            </div>
            <div class="visible-xs text-center">
                <img src="{{ asset('_dist/image/img/live-vida-saudavel/banner-live-mobile.jpg')}}" alt="Banner">
            </div>
            <div class="container">
                <ul>
                    <li>
                        <figure>
                            <img src="{{ asset('_dist/image/img/live-vida-saudavel/danyelle-marini.jpg')}}" alt="">
                        </figure>
                        <div>
                            <h3>Dra. Danyelle Marini</h3>
                            <p>Diretora-Tesoureira<br> CRF-SP</p>
                        </div>
                    </li>
                    <li>
                        <figure>
                            <img src="{{ asset('_dist/image/img/live-vida-saudavel/marcelo_polacow.jpg')}}" alt="">
                        </figure>
                        <div>
                            <h3>Dr. Marcelo Polacow</h3>
                            <p>Vice-Presidente<br> CRF-SP</p>
                        </div>
                    </li>
                    <li>
                        <figure>
                            <img src="{{ asset('_dist/image/img/live-vida-saudavel/renata.jpg')}}" alt=""/>
                        </figure>
                        <div>
                            <h3>Dr. Renata Tavolaro</h3>
                            <p>Head de Psicologia<br> da OrienteMe</p>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <figure>
                            <img src="{{ asset('_dist/image/img/live-vida-saudavel/marcos-machado.jpg')}}" alt=""/>
                        </figure>
                        <div>
                            <h3>Dr. Marcos Machado</h3>
                            <p>Presidente do CRF-SP</p>
                        </div>
                    </li>
                    <li>
                        <figure>
                            <img src="{{ asset('_dist/image/img/live-vida-saudavel/luciana-canetto.jpg')}}" alt=""/>
                        </figure>
                        <div>
                            <h3>Dra. Luciana Canetto</h3>
                            <p>Secretária-geral do CRF-SP</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="cowntdown-section">
            <div class="container"> 
                <h2>Dia 31/08 às 19h</h2>
                <div id="clock">
                </div>
            </div>
        </section>

        <section class="live-vida-video-section">
            <div class="container">
                <h2 class="text-center">
                    <a href="https://www.youtube.com/watch?v=SaEeE6Co874" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'live:saude-mental', 'eventAction': 'click', 'eventLabel': 'assista-aqui'});">Assista aqui!
                    <span>No canal do Youtube do CRF-SP</span></a>
                </h2>

                <div class="live-vida-video-box">
                    <div class="play" href="https://www.youtube.com/watch?v=SaEeE6Co874" target="_blank"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'live:saude-mental', 'eventAction': 'click', 'eventLabel': 'assista-aqui'});">
                        <img src="{{ asset('_dist/image/img/live-vida-saudavel/thumb-video.png')}}" alt="Vídeo">
                    </div>
                </div>
            </div>
        </section>

        <section class="live-vida-logos">
            <div class="container">
                <ul>
                    <li>
                        <img src="{{ asset('_dist/image/img/live-vida-saudavel/logo-1.png')}}" alt="">
                    </li>
                    <li>
                        <img src="{{ asset('_dist/image/img/live-vida-saudavel/logo-2.png')}}" alt="">
                    </li>
                    <li>
                        <img src="{{ asset('_dist/image/img/live-vida-saudavel/logo-3.png')}}" alt="">
                    </li>
                </ul>
            </div>
        </section>

        <!-- Video 1 -->
        <div class="modal-default video-modal" id="video1">
            <div class="content-form-src-desk">
                <div class="modal-content">
                    <div class="text-center space-h-20">
                        <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                    </div>
                    <div class="text-center space-h-20">
                        <h2>O que é a tosse?</h2>
                    </div>
                    <div class="text-center video-embed">
                        <video width="560" height="315" controls>
                            <source src="{{ asset('_dist/image/img/video.mp4')}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script>
        window.onload = function(e){
            var $clock = $('#clock'),
                eventTime = moment('31-08-2021 19:00:00', 'DD-MM-YYYY HH:mm:ss').unix(),
                currentTime = moment().unix(),
                diffTime = eventTime - currentTime,
                duration = moment.duration(diffTime * 1000, 'milliseconds'),
                interval = 1000;

            // if time to countdown
            if(diffTime > 0) {

                // Show clock
                $clock.show();

                var $d = $('<div class="days" ></div>').appendTo($clock),
                    $p1 = $('<div class="clock-point">:</div>').appendTo($clock),
                    $h = $('<div class="hours" ></div>').appendTo($clock),
                    $p2 = $('<div class="clock-point">:</div>').appendTo($clock)
                    $m = $('<div class="minutes" ></div>').appendTo($clock),
                    $s = $('<div class="seconds" ></div>').appendTo($clock);

                setInterval(function(){

                    duration = moment.duration(duration.asMilliseconds() - interval, 'milliseconds');
                    var d = moment.duration(duration).days(),
                        h = moment.duration(duration).hours(),
                        m = moment.duration(duration).minutes(),
                        s = moment.duration(duration).seconds();

                    d = $.trim(d).length === 1 ? '0' + d : d;
                    h = $.trim(h).length === 1 ? '0' + h : h;
                    m = $.trim(m).length === 1 ? '0' + m : m;
                    s = $.trim(s).length === 1 ? '0' + s : s;

                    // show how many hours, minutes and seconds are left


                    $d.html('<div class="clock-number">'+d+'</div><div class="clock-text">Dias</div>');
                    $p1.html('<div class="clock-point">:</div>');
                    $h.html('<div class="clock-number">'+h+'</div><div class="clock-text">Horas</div>');
                    $p2.html('<div class="clock-point">:</div>');
                    $m.html('<div class="clock-number">'+m+'</div><div class="clock-text">Minutos</div>');
                    

                }, interval);

            }

        };

    </script>
{% endblock %}
