{% extends 'admin.html.twig' %}

{% block title %} Galeria
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Galeria</h3>
                </div>

                 {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        {% if ( label == 'success' ) %}
                            <div class="alert alert-success alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% elseif ( label == 'error' ) %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Arquivo</th>
                                    <th>Nome</th>
                                    <th>Copiar caminho</th>
                                    <th>Criado Em</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if galleries|length > 0 %}
                                    {% for gallery in galleries %}
                                        <tr>
                                            <td class="center">
                                                {{ gallery.id }}
                                            </td>

                                            <td class="center">
                                                <img src="{{ asset(gallery.file) }}" data-file="{{ gallery.file }}" class="file" id="myInput" />
                                            </td>

                                            <td>{{ gallery.name }}</td>
                                           
                                           
                                            <td class="center">
                                                <button onClick='copyText(this)'>{{ gallery.file }}</button>
                                            </td>
                                            <td class="center">
                                                {{ gallery.createdAt|date('d/m/Y') }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">Nenhum registro foi encontrado.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="box-paginator">
                    {{ knp_pagination_render(galleries) }}
                </div>

                <div class="box-footer">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_gallery_new') }}">
                        Novo Upload
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
      
{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        function copyText(element) {
            var range, selection, worked;

            if (document.body.createTextRange) {
                range = document.body.createTextRange();
                range.moveToElementText(element);
                range.select();
            } else if (window.getSelection) {
                selection = window.getSelection();        
                range = document.createRange();
                range.selectNodeContents(element);
                selection.removeAllRanges();
                selection.addRange(range);
            }
            
            try {
                document.execCommand('copy');
                alert('Caminho de arquivo copiado com sucesso.');
            }
            catch (err) {
                alert('Incapaz de copiar o caminho');
            }
        }
    </script>
{% endblock %}
