{% extends 'admin.html.twig' %}

{% block title %} Adicionar Arquivo {% endblock %}

 {% block stylesheets %}
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
  
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Adicionar Arquivo</h3>
                </div>
                <br/>
                {# {{ form_start(form, {'action': path('admin_banner_type_edit', {'id': type.id}), 'method': 'POST'}) }} #}
                {{ form_start(form) }}
                <div class="card-body">
                    {{ form_widget(form) }}
                    <br>
                    <label id="mensagem-web" style="display:block;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                    <p style="color: red;">São permitidos arquivos em PNG, JPG, JPEG ou PDF de até 1MB.</p>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Salvar</button>
                    {# <a href="{{ path('admin_banner') }}" class="btn btn-danger btn-sm">Voltar</a> #}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
      
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script>
        $(".custom-file-input").on("change", function() {
            
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $("#gallery_file").on("change", function (){
      
         if(parseInt(document.getElementById("gallery_file").files[0].size) > 1048576){
                $(`#gallery_file`).val("");
                document.getElementById("mensagem-web").style.cssText = " display: block;color: red;font-size: larger";
                

               }else {
                   
              document.getElementById("mensagem-web").style.cssText = " display: none";
              readURL(document.getElementById("gallery_file"));
            
               }
        });
    </script>
{% endblock %}
