{% extends 'admin.html.twig' %}

{% block title %}NEOTV | EDITAR
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Editar NeoTv</h3>
                </div>

                <form enctype="multipart/form-data" method="POST">

                    <div class="box-body">
                        <div class="form-group">
                            <label for="neotv_title">Nome</label>
                            <input id="neotv_title" name="neotv[title]" type="text" value="{{neotv.title}}" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descrição Curta</label>
                            <input class="form-control" type="text" value="{{neotv.shortDescription}}"  name="neotv[shortDescription]" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descrição</label>
                            <textarea class="ckeditor" id="neotv_description" name="neotv[description]" type="text" required>{{neotv.description}}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="neotv_metaTitle">Meta Title (SEO)</label>
                            <input class="ckeditor" id="neotv_metaTitle" name="neotv[metaTitle]" type="text" value="{{neotv.metaTitle}}" required/>
                        </div>
                        <div class="form-group">
                            <label for="neotv_metaDescription">Meta Descrição (SEO)</label>
                            <input class="ckeditor" id="neotv_metaDescription" name="neotv[metaDescription]" type="text" value="{{neotv.metaDescription}}" required/>
                        </div>

                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="neotv_youtubeId">Id do youtube</label>
                                <input class="ckeditor" id="neotv_youtubeId" name="neotv[youtubeId]" type="text" value="{{neotv.youtubeId}}" required/>
                            </div>
                            <div class="form-group">
                                <label for="neotv_isActive">Ativo</label>
                                <input {{ neotv.isActive ? 'checked' : '' }} data-toggle="toggle" id="neotv_isActive" name="neotv[isActive]" type="checkbox">
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="neotv_isHighlightHome">Destaque da Home de Campanhas?</label>
                                <input {{ neotv.isHighlightHome ? 'checked' : '' }} data-toggle="toggle" id="neotv_isHighlightHome" name="neotv[isHighlightHome]" type="checkbox">
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <div id="preview-web" class="preview-img">
                                    <img src="{{ asset(neotv.image) }}">
                                </div>
                                <label for="neotv_image">Imagem</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="neotv_image" name="neotv[image]" type="file"/>
                               <label id="mensagem-web" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                <p></p>
                                <label for="neotv_imageMetaTitle">Image Meta Title (SEO)</label>
                                <input id="neotv_imageMetaTitle" name="neotv[imageMetaTitle]" value="{{neotv.imageMetaTitle}}" type="text"/>
                                <label for="neotv_imageMetaDescription">Image Meta Description (SEO)</label>
                                <input id="neotv_imageMetaDescription" name="neotv[imageMetaDescription]" value="{{neotv.imageMetaDescription}}" type="text"/>
                            </div>
                            <div class="form-group">
                                <div id="preview-mobile" class="preview-img">
                                    <img src="{{ asset(neotv.imageMobile) }}">
                                </div>
                                <label for="neotv_imageMobile">Imagem Mobile</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="neotv_imageMobile" name="neotv[imageMobile]" type="file"/>
                               <label id="mensagem-mobile" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                <p></p>
                                <label for="imageMetaTitle">Image Mobile Meta Title (SEO)</label>
                                <input id="neotv_imageMobileMetaTitle" name="neotv[imageMobileMetaTitle]" value="{{neotv.imageMobileMetaTitle}}" type="text"/>
                                <label for="imageMetaDescription">Image Mobile Meta Description (SEO)</label>
                                <input id="neotv_imageMobileMetaDescription" name="neotv[imageMobileMetaDescription]" value="{{neotv.imageMobileMetaDescription}}" type="text"/>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button  type="" class="btn btn-success">Salvar</button>
                        <a class="btn btn-default" href="{{ path('admin_neotv_list') }}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $("form").on("submit", function (e) {
            var error = false;
            showLoading();
            $('.ckeditor').each(function () {
                var string = $(this).val().replace(/<[^>]*>/gi, '').length;
                
                if (string == 0) {
                    $(this).siblings(".cke_chrome").addClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid red");
                    error = true;
                } else {
                    $(this).siblings(".cke_chrome").removeClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid #d1d1d1");
                }
            })
            if (error) {
                var id = $('.error').first().attr("id");
                
                $('.admin-content').animate({
                    scrollTop: $("#" + id)[0].offsetTop
                },500);
                hideLoading();
                e.preventDefault();
                return false;
            }
        });
         $("#neotv_image").change(function () {
            readSize("neotv_image","mensagem-web","preview-web",0);
            
        });
        $(" #neotv_imageMobile").change(function () {
            readSize("neotv_imageMobile","mensagem-mobile","preview-mobile",0);
            
        });

        function readSize(id, idMessage,idPreview,index){
              if(parseInt(document.getElementById(id).files[index].size) > 1048576){
                $(`#${id}`).val("");
                document.getElementById(idPreview).style.display = "none";
                document.getElementById(idMessage).style.cssText = " display: block;color: red;font-size: larger";
                
                return ;
               }else {
                   
              document.getElementById(idPreview).style.display = "block";
              document.getElementById(idMessage).style.cssText = " display: none";
              readURL(document.getElementById(id));
            
               }
        }


        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    console.log();
                    $(input).siblings('.preview-img').html('<img src="' + e.target.result + '">');
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        
    </script>

{% endblock %}

