{% extends 'admin.html.twig' %}

{% block title %}NEOTV | LISTAR
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">NeoTv</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>

                                    <th>Título</th>

                                    <th>YoutubeId</th>

                                    <th>Ativo</th>

                                    <th>Criado Em</th>

                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if neotvs|length > 0 %}
                                    {% for neotv in neotvs %}
                                        <tr>
                                            <td class="center">
                                                <a href="{{ path('admin_neotv_edit', { 'id': neotv.id }) }}">
                                                    {{ neotv.id }}
                                                </a>
                                            </td>
                                            <td>{{ neotv.title }}</td>
                                            <td>{{ neotv.youtubeId }}</td>
                                            <td class="center">
                                                {% if neotv.isActive %}
                                                    <span class="label label-success">Sim</span>
                                                {% else %}
                                                    <span class="label label-danger">Não</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ neotv.createdAt|date('Y-m-d') }}</td>
                                            <td class="center">
                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_neotv_edit', { 'id': neotv.id}) }}">
                                                    Editar
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">Nenhum registro foi encontrado.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="box-paginator">
                    {{ knp_pagination_render(neotvs) }}
                </div>

                <div class="box-footer">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_neotv_new') }}">
                        Novo
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
