{% extends 'admin.html.twig' %}

{% block title %}NEOTV | NOVO
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Adicionar NeoTv</h3>
                </div>

                <form enctype="multipart/form-data" method="POST">

                    <div class="box-body">
                        <div class="form-group">
                            <label for="neotv_name">Título</label>
                            <input id="neotv_name" name="neotv[title]" type="text" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descrição Curta</label>
                            <input class="form-control" type="text"  name="neotv[shortDescription]" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descrição</label>
                            <textarea class="ckeditor" id="neotv_description" name="neotv[description]" type="text" required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="neotv_metaTitle">Meta Title (SEO)</label>
                            <input class="ckeditor" id="neotv_metaTitle" name="neotv[metaTitle]" type="text" required/>
                        </div>
                        <div class="form-group">
                            <label for="neotv_metaDescription">Meta Descrição (SEO)</label>
                            <input class="ckeditor" id="neotv_metaDescription" name="neotv[metaDescription]" type="text" required/>
                        </div>

                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="neotv_youtubeId">Id do Youtube</label>
                                <input class="ckeditor" id="neotv_youtubeId" name="neotv[youtubeId]" type="text" required/>
                            </div>
                            <div class="form-group">
                                <label for="neotv_isActive">Ativo</label>
                                <input checked data-toggle="toggle" id="neotv_isActive" name="neotv[isActive]" type="checkbox">
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="neotv_isHighlightHome">Destaque da Home de Campanhas?</label>
                                <input data-toggle="toggle" id="neotv_isHighlightHome" name="neotv[isHighlightHome]" type="checkbox">
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <div id="preview-web" class="preview-img"></div>
                                <label for="neotv_image">Imagem</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="neotv_image" name="neotv[image]" type="file" required/>
                               <label id="mensagem-web" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                <p></p>
                                <label for="neotv_imageMetaTitle">Image Meta Title (SEO)</label>
                                <input id="neotv_imageMetaTitle" name="neotv[imageMetaTitle]" type="text" required/>
                                <label for="neotv_imageMetaDescription">Image Meta Description (SEO)</label>
                                <input id="neotv_imageMetaDescription" name="neotv[imageMetaDescription]" type="text" required/>
                            </div>
                            <div class="form-group">
                                <div id="preview-mobile" class="preview-img"></div>
                                <label for="neotv_imageMobile">Imagem Mobile</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="neotv_imageMobile" name="neotv[imageMobile]" type="file" required/>
                               <label id="mensagem-mobile" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                <p></p>
                                <label for="imageMetaTitle">Image Mobile Meta Title (SEO)</label>
                                <input id="neotv_imageMobileMetaTitle" name="neotv[imageMobileMetaTitle]" type="text" required/>
                                <label for="imageMetaDescription">Image Mobile Meta Description (SEO)</label>
                                <input id="neotv_imageMobileMetaDescription" name="neotv[imageMobileMetaDescription]" type="text" required/>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button  type="" class="btn btn-success">Salvar</button>
                        <a class="btn btn-default" href="{{ path('admin_neotv_list') }}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        $("form").on("submit", function (e) {
            var error = false;
            showLoading();
            $('.ckeditor').each(function () {
                var string = $(this).val().replace(/<[^>]*>/gi, '').length;
                
                if (string == 0) {
                    $(this).siblings(".cke_chrome").addClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid red");
                    error = true;
                } else {
                    $(this).siblings(".cke_chrome").removeClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid #d1d1d1");
                }
            })
            if (error) {
                var id = $('.error').first().attr("id");
                
                $('.admin-content').animate({
                    scrollTop: $("#" + id)[0].offsetTop
                },500);
                hideLoading();
                e.preventDefault();
                return false;
            }
        });

           $("#neotv_image").change(function () {
            readSize("neotv_image","mensagem-web","preview-web",0);
            
        });
        $(" #neotv_imageMobile").change(function () {
            readSize("neotv_imageMobile","mensagem-mobile","preview-mobile",0);
            
        });

        function readSize(id, idMessage,idPreview,index){
              if(parseInt(document.getElementById(id).files[index].size) > 1048576){
                $(`#${id}`).val("");
                document.getElementById(idPreview).style.display = "none";
                document.getElementById(idMessage).style.cssText = " display: block;color: red;font-size: larger";
                
                return ;
               }else {
                   
              document.getElementById(idPreview).style.display = "block";
              document.getElementById(idMessage).style.cssText = " display: none";
              readURL(document.getElementById(id));
            
               }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    console.log();
                    if($(input).siblings('.preview-img')[0].nodeName == 'IMG'){
                        $(input).siblings('.preview-img').attr('src', e.target.result);
                    } else {
                        $(input).siblings('.preview-img').css({
                            'background-image' : "url(" + e.target.result + ")", 
                            'width' : '100%',
                            'height': '250px',
                            'background-size': 'contain',
                            'background-position': 'center center',
                            'background-repeat': 'no-repeat',
                        });
                    }
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        
    </script>

{% endblock %}

