{% extends 'admin.html.twig' %}

{% block title %}Especiais
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Especiais</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Título</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for special in special_campaign %}
                            
                                <tr>
                                  <td>{{ loop.index }}</td>
                                  <td>{{ special.title|raw }}</td>
          
                                  <td>
                                    <div class="row">
                                
                                      <!-- /.col -->                     
                                        <div class="col-6">
                                          <a href="{{ path('admin_special_campaign_edit', {'id': special.id }) }}" class="btn btn-primary btn-block justify-content-center">Editar</a>
                                        </div>
                                      
                                        <div class="col-6">
                                          <a href="{{ path('admin_special_campaign_delete', {'id': special.id }) }}" class="btn btn-danger btn-block justify-content-center">Excluir</a>
                                        </div>
                                    
                                      <!-- /.col -->
                                    </div>
                                  </td>
                                </tr>
                              {% endfor %}
                              </tbody>
                        </table>
                    </div>
                </div>

                {# <div class="box-paginator">
                    {{ knp_pagination_render(special_campaign) }}
                </div> #}
                
                <div class="box-footer">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_special_campaign_new') }}">
                        Novo
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}




{% block javascripts %}
    

{% endblock %}

