{% extends 'admin.html.twig' %}

{% block title %}Especiais{% endblock %}

{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>

   <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    {# {% include 'admin/component/content-header.html.twig' with {'title':'Enquete', 'link': path('admin_survey_question'), 'page':'editar'} %} #}
    <!-- /.content-header -->

   <!-- Main content -->

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="box">
            <!-- /.card-header -->
            <!-- Form Element sizes -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Novo</h3>
                </div>
                {{ form_start(form) }}
                <div class="box-body">
                  <div class="form-group">
                    {{ form_widget(form) }}
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Salvar</button>
                    <a href="{{ path('admin_survey_question') }}" class="btn btn-danger btn-sm">Voltar</a>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.card -->
            <!-- /.card-body -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-2">
        </div>
      </div>
      <!-- /.row -->
   </div>
    <!-- /.content -->
{% endblock %}

{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $('.custom-file-input').prop("required", false);
        
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $('.select-multiple').select2({});
</script>
{% endblock %}

