{% extends 'base.html.twig' %}
{% set metadescription = post.description|raw %}
{% set metatitle = post.title %}
{% block title %}Blog - {{post.title}}{% endblock %}

{% block body %}
    <div class="blog blog-interna" id="blog-">
        <section class="banner-main" id="blog-post" data-url="{{ path('blog_detail', {'slug': post.slug}) }}">    
            <div class="p-hero">
                {% if post.image  is not null or post.imageMobile is not null %}
                    <div class="slide p-hero__item">
                        
                        <div class="p-hero__body">
                            <h1 class="p-hero__title">{{post.type.name}}</h1>
                        </div>
                        
                        <figure class="p-hero__figure">
                            <!-- Desktop -->
                            <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{asset(post.image)}}'), url(/_dist/image/img/default.jpg);" alt="{{post.title}}" class="img-post p-hero__figure-image hidden-xs" />

                            <!-- Mobile -->
                            <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{asset(post.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{post.title}}" class="img-post p-hero__figure-image visible-xs" />
                        </figure>
                    </div>
                    {% else %}
                    <div class="slide p-hero__item">
                        <div class="p-hero__body">
                            <h1 class="p-hero__title">{{post.type.name}}</h1>
                        </div>
                        
                        <figure class="p-hero__figure">
                            <!-- Desktop -->
                            <img src="{{asset('_dist/image/blog/blog-banner.png')}}"  alt="" class="p-hero__figure-image hidden-xs">
                            <!-- Mobile -->
                            <img src="{{asset('_dist/image/blog/blog-banner-mobile.png')}}" alt="" class="p-hero__figure-image visible-xs">
                        </figure>
                    </div>
                {% endif %}
            </div>
        </section>
        <div class="container">
            <article class="post-content cat-1" id="post-id-{{post.id}}">

                <div class="share-rating">
                    <div class="share-box item-share-rating">
                        <h3>Compartilhar</h3>
                        <ul class="d-flex justify-content-center">
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{absolute_url(path('blog_detail',{'slug' : post.slug}))}}" class="share-linkedin" id="share-linkedin-top" data-ajaxurl="{{ path('api-share-content-points', {'id' : post.id, 'type' : 'post' })}}">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{absolute_url(path('blog_detail',{'slug' : post.slug}))}}" class="share-facebook" id="share-facebook-top" data-ajaxurl="{{ path('api-share-content-points', {'id' : post.id, 'type' : 'post' })}}">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://api.whatsapp.com/send?text=Veja este post: {{absolute_url(path('blog_detail',{'slug' : post.slug}))}}" class="share-whatsapp" id="share-whatsapp-top" data-ajaxurl="{{ path('api-share-content-points', {'id' : post.id, 'type' : 'post' })}}">
                                    <i class="fa fa-whatsapp"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="mailto:?subject=Veja este post: {{post.title}}&body=Acesse por este link: {{absolute_url(path('blog_detail',{'slug' : post.slug}))}}" class="share-email-top" id="share-email" data-ajaxurl="{{ path('api-share-content-points', {'id' : post.id, 'type' : 'post' })}}">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="item-share-rating">
                        <h3>Categoria</h3>
                        <span class="btn-default btn-full">{{post.category.name}}</span>
                    </div>
                </div>

                <div class="content-main content-text">
                    <header class="header-main">
                        <h1>{{post.title}}</h1>
                    </header>

                    {% if post.post is not null and post.type.slug == 'materias' %}
                        {{post.post|raw}}
                    {% endif %}

                    {% if post.videoFile is not null and post.type.slug == 'video' %}
                        <div class="container-video space-h-20">
                            <div class="video-box">
                                <video controls class="video-post" id="video-post-">
                                    <source src="{{asset(post.videoFile)}}" type="video/mp4">
                                    Seu navegador não suporta vídeo.
                                </video>
                            </div>
                        </div>
                    {% endif %}
                   
                    {% if post.podcastFile  is not null and post.type.slug == 'podcast' %}
                        <div class="space-h-20 btn-gamefication">
                            <audio controls class="audio-post btn-gamefication" id="audio-post-">
                                <source src="{{asset(post.podcastFile)}}" type="audio/mpeg">
                                Seu navegador não suporta audio.
                            </audio>
                        </div>
                    {% endif %}
                </div>
                 
                {% if post.type.slug == 'podcast' %}
                    <div class="content-main content-text">
                        {{post.description|raw}}
                    </div>
                {% endif %}

                <div class="details-bottom-box">
                    {% if postViewedToo|length > 0 %}
                    <div class="details-bottom-item">
                        
                        <div class="relateds-posts">
                            {% for pv in postViewedToo %}
                                {% if pv %}
                                    <div class="space-h-20">
                                        <div class="space-h-10">
                                            <h3 class="relateds-title">Relacionados</h3>
                                        </div>
                                        <h4>
                                            Quem se interessou por esse conteúdo, também se interessou por:
                                        </h4>
                                    </div>
                                    <div class="relateds-list">
                                        <figure class="relateds-image">
                                            <a href="#">
                                                <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{ asset(pv.image)}}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post" />
                                            </a> 
                                        </figure>
                                        <div class="relateds-info">
                                            {% set category = categoryBlog(pv.type.slug) %}
                                            {# {{ dump(category) }} #}
                                            <h3 class="relateds-special-title"><i class="star-icon"></i>{{ category|raw }}</h3>

                                            <p class="relateds-text">
                                                <a href="{{ path('blog_detail', {'slug': pv.slug}) }}">
                                                {{ pv.title }}
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %} 
                        </div>
                        
                    </div>
                    {% endif %}


                    {% set contents = contentRelacion('blog', post) %}           
                    {# {{ dump(contents) }} #}
                    {% if contents|length > 0 %}
                        <div class="details-bottom-item">
                            <div class="relateds-posts">
                                <div class="space-h-20">
                                    <div class="space-h-10">
                                        <h3 class="relateds-title">Relacionados</h3>
                                    </div>
                                    <h4>
                                        Quem se interessou por esta matéria, também se interessou por:
                                    </h4>
                                </div>
                                {% for content in contents %}
                                    <div class="relateds-list">
                                        <figure class="relateds-image">
                                            <a href="{{ path('blog_detail', {'slug': content.slug}) }}">
                                                <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{ asset(content.image)}}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post" />
                                            </a> 
                                        </figure>
                                        <div class="relateds-info">
                                           
                                            <p class="relateds-text">
                                                <a href="{{ path('blog_detail', {'slug': content.slug}) }}">
                                                    {{ content.name }}
                                                </a>
                                            </p>
                                        </div>
                                    </div> 
                                {% endfor %} 
                            </div>
                        </div>
                    {% endif %} 

                    <div class="details-bottom-item">
                        <div class="share-rating">
                            <div class="like-box item-share-rating">
                                <h3>Favoritar</h3>
                                <div class="share-rating-info">
                                    <button class="like-button-post add-favorite {{isSaved ? 'saved' : ''}}" id="like-button-top-post-{{post.slug}}" data-ajax="{{ path('api-add-favorite', {'id': post.id, 'type' : 'blog'}) }}" data-user="{{ app.user.id is defined ? 1 : 0 }}">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            
                            <div class="rating-box item-share-rating">
                                <h3>Avaliar</h3>
                                <div class="share-rating-info">
                                    <span class="star__container">
                                        <input type="radio" name="rating-bottom" value="1" id="star-bottom-1" class="star__radio visuhide rate-object {{ post.score >= 1 ? 'scored' }}" data-ajax="{{ path('api-set-score', {'id': post.id, 'type' : 'blog', 'rate' : '1'}) }}" data-user="{{ app.user.id is defined ? 1 : 0 }}" {{ post.score >= 1 ? 'checked' }} />
                                        <input type="radio" name="rating-bottom" value="2" id="star-bottom-2" class="star__radio visuhide rate-object {{ post.score >= 2 ? 'scored' }}" data-ajax="{{ path('api-set-score', {'id': post.id, 'type' : 'blog', 'rate' : '2'}) }}" data-user="{{ app.user.id is defined ? 1 : 0 }}" {{ post.score >= 2 ? 'checked' }} />
                                        <input type="radio" name="rating-bottom" value="3" id="star-bottom-3" class="star__radio visuhide rate-object {{ post.score >= 3 ? 'scored' }}" data-ajax="{{ path('api-set-score', {'id': post.id, 'type' : 'blog', 'rate' : '3'}) }}" data-user="{{ app.user.id is defined ? 1 : 0 }}" {{ post.score >= 3 ? 'checked' }} />
                                        <input type="radio" name="rating-bottom" value="4" id="star-bottom-4" class="star__radio visuhide rate-object {{ post.score >= 4 ? 'scored' }}" data-ajax="{{ path('api-set-score', {'id': post.id, 'type' : 'blog', 'rate' : '4'}) }}" data-user="{{ app.user.id is defined ? 1 : 0 }}" {{ post.score >= 4 ? 'checked' }} />
                                        <input type="radio" name="rating-bottom" value="5" id="star-bottom-5" class="star__radio visuhide rate-object {{ post.score == 5 ? 'scored' }}" data-ajax="{{ path('api-set-score', {'id': post.id, 'type' : 'blog', 'rate' : '5'}) }}" data-user="{{ app.user.id is defined ? 1 : 0 }}" {{ post.score == 5 ? 'checked' }} />

                                        <label class="star__item fa fa-star" for="star-bottom-1"><span class="visuhide">1 star</span></label>
                                        <label class="star__item fa fa-star" for="star-bottom-2"><span class="visuhide">2 stars</span></label>
                                        <label class="star__item fa fa-star" for="star-bottom-3"><span class="visuhide">3 stars</span></label>
                                        <label class="star__item fa fa-star" for="star-bottom-4"><span class="visuhide">4 stars</span></label>
                                        <label class="star__item fa fa-star" for="star-bottom-5"><span class="visuhide">5 stars</span></label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            <article>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>


    $("document").ready(function(){

        document.addEventListener('play', function(e){
            var aplayers = $('audio');
            var leng = $('audio').length;
            var url = "{{ path('blog_interaction') }}"

            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: {
                    'g': true,
                    'slug': "{{ post.slug}}"
                },
                beforeSend: function() {
                    //Carregando
                },
                success: function (response) {

                }
            });
            //console.log(leng);

            /*
            for(var i = 0; i < leng;i++){
                if (aplayers[i] != e.target){
                    aplayers[i].pause();
                }
            }
            */
        }, true);
    });

</script>
{% endblock %}
