{% extends 'base.html.twig' %}

{% set metadescription = 'Blog do Portal Neo Pharma informação com qualidade para você, profissional da saúde que trabalha em farmácias. Acesse e confira nossas matérias!' %}
{% set metatitle = 'Blog' %}

{% block title %}Blog{% endblock %}
{% set pageIndex = 'blg' %}
{% block body %}
    <div class="blog" id="blog">
        <section class="banner-main">    
            <div class="p-hero">
                {% if banner %}
                    <div class="slide p-hero__item">
                        
                        <div class="p-hero__body">
                            <h1 class="p-hero__title">{{ banner.title}}</h1>
                        </div>
                        
                        <figure class="p-hero__figure">
                            <!-- Desktop -->
                            <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{asset(banner.image)}}'), url(/_dist/image/img/default.jpg);" alt="{{banner.title}}" class="img-post hidden-xs" />
                           
                            <!-- Mobile -->
                            <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{asset(banner.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{banner.title}}" class="img-post visible-xs" />
                        </figure>
                    </div>
                {% else %}
                    <div class="slide p-hero__item">
                        <div class="p-hero__body">
                            <h1 class="p-hero__title">Informação</h1>
                        </div>
                        
                        <figure class="p-hero__figure">
                            {# <!-- Desktop -->
                            <img src="{{asset('_dist/image/blog/blog-banner.png')}}"  alt="" class="p-hero__figure-image hidden-xs">
                            <!-- Mobile -->
                            <img src="{{asset('_dist/image/blog/blog-banner-mobile.png')}}" alt="" class="p-hero__figure-image visible-xs"> #}

                            <!-- Desktop -->
                            <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{asset('_dist/image/blog/blog-banner.png')}}'), url(/_dist/image/img/default.jpg);" alt="Informação" class="img-post hidden-xs" />
                           
                            <!-- Mobile -->
                            <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{asset('_dist/image/blog/blog-banner-mobile.png')}}'), url(/_dist/image/img/default.jpg);" alt="Informação" class="img-post visible-xs" />
                        </figure>
                    </div>
                {% endif %}
            </div>
        </section>
        <div class="modal-default cat-1" id="filter-modal">
            {{ render(controller('App\\Controller\\BlogController::filterBlog', {'filter' : filter })) }}
        </div>

    
        {% if posts|length > 0 %}
        <section class="more-recent-post-section">
            <div class="container">
                {% for post_last in posts %}
                    {% if loop.first %}
                        <div class="more-recent-post-container">
                            <figure class="post-image">
                                <a href="{{ path('blog_detail', {'slug': post_last.slug}) }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': '{{ category|raw ~ '_click'}}','event_section': 'informacao','event_local': '{{ path('blog_detail', {'slug': post_last.slug}) }}','event_action': 'click','event_text': 'saiba-mais'});">
                                    <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{asset(post_last.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="" class="img-post" />
                                </a>
                            </figure>

                            <div class="more-recent-post-info">
                                {% set category = categoryBlog(post_last.type.slug) %}
                             
                                <h2 class="text-yellow">{{ category|raw }}</h2>
                                <p>
                                    {{ post_last.title }}
                                </p>
                                <div class="space-h-20 btn-more">
                                    <a href="{{ path('blog_detail', {'slug': post_last.slug}) }}" class="btn-default btn-yellow" onclick="dataLayer.push({'event': 'gaEvent','event_name': '{{ category|raw ~ '_click'}}','event_section': 'informacao','event_local': '{{ path('blog_detail', {'slug': post_last.slug}) }}','event_action': 'click','event_text': 'saiba-mais'});">SAIBA MAIS</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        {% endif %}

        {# <section class="racine-section text-center">
            <div class="container">
                <h2>Confira entrevistas exclusivas, matérias sobre os mais diferentes temas e coloque seus conhecimentos à prova no Quiz Neo Pharma.</h2>
            </div>
        </section> #}
        
        <section class="posts-section-main">
            <div class="container">
                <div class="posts-list">
                    {% for p in posts %}
                        {% if not loop.first %}
                            <div class="posts-item">
                                
                                {% if p.type.slug == 'materias' %}
                                <div class="posts-type">
                                    <p><i class="icon-materia"></i> MATÉRIA</p>
                                </div>
                                {% elseif p.type.slug == 'video' %}
                                <div class="posts-type">
                                    <p><i class="icon-video"></i> VÍDEO</p>
                                </div>
                                {% elseif p.type.slug == 'podcast' %}
                                <div class="posts-type">
                                    <p><i class="icon-podcast"></i> PODCAST</p>
                                </div>
                                {% elseif p.type.slug == 'quiz' %}
                                <div class="posts-type">
                                    <p><i class="icon-quiz"></i> QUIZ</p>
                                </div>
                                {% endif %}

                                <figure class="post-image">
                                    <a href="{{path('blog_detail',{'slug' : p.slug})}}" >
                                        <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{asset(p.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{p.title}}" class="img-post" />
                                    </a>
                                </figure>
                                <div class="post-info">
                                    <h2 class="text-center">{{p.title}}</h2>
                                </div>
                                <div class="text-center">
                                    <span class="post-category">{{p.category.name}}</span>
                                </div>
                                <p class="text-center duration-text">
                                    Tempo estimado: {{ p.getReadingTimeString() }}
                                </p>
                                <div class="text-center">
                                    <a href="{{path('blog_detail',{'slug' : p.slug})}}" class="btn-default" id="post-{{p.slug}}">SAIBA MAIS</a>
                                </div>
                            </div>  
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="space-h-20">
                    <div class="pagination" id="pagination">
                        {{ knp_pagination_render(posts) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
    
{% endblock %}

{% block javascripts %}{% endblock %}
