<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <title>
        Portal Neo Pharma
    </title>	
</head>

<body>
    <table border="0" cellpadding="0" cellspacing="0" width="600" style="background:#0b2685; width: 600px; font-family: Arial, Helvetica, sans-serif;" align="center">
        <tr>
            <td>
                <a href="https://portalneopharma.com.br/combatedores?user_category=002B" target="_blank"><img src="https://hmg2021portalneo1.websiteseguro.com/imgs-email/dia-do-farmaceutico/2023/05/head.png" style="display: block;" alt=""></a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="600">
                    <tr> 
                        <td align="left" valign="top"><img src="https://hmg2021portalneo1.websiteseguro.com/imgs-email/dia-do-farmaceutico/2023/06/side-left.png" alt="" style="display: block;" ></td>
                        <td align="center" valign="top">
                            <img src="https://hmg2021portalneo1.websiteseguro.com/imgs-email/dia-do-farmaceutico/2023/margin-blue.png" alt="" style="display: block;" >
                        </td>
                        <td align="left" valign="top">
                            <font style="font-family: Arial, Helvetica, sans-serif; color: #fff; font-size: 38px; line-height: 30px;">
                                <b style="color: #f9cf47;">
                                    Parabéns, farmacêutico!</b><br>
                            </font>

                            <font style="font-family: Arial, Helvetica, sans-serif; color: #fff; font-size: 18px; line-height: 35px;">
                                <br>Seu voucher de <b>R$50</b> já está disponível. Resgate<br>
                                agora clicando no botão.<br><br>
                            </font>
                            <font style="font-family: Arial, Helvetica, sans-serif; color: #fff; font-size: 18px; line-height: 25px;">
                                Com ele, você passa <b>menos tempo no trajeto e<br>
                                mais tempo com quem ama.</b>
                            </font>
                        </td>
                        <td align="right" valign="top"><img src="https://hmg2021portalneo1.websiteseguro.com/imgs-email/dia-do-farmaceutico/2023/06/side-right.png" alt="" style="display: block;"></td>
                    <tr>
                </table>
            </td>
        </tr>

        <tr>
            <td align="left">
                <table border="0" cellpadding="0" cellspacing="0" width="600">
                    <tr> 
                        <td align="left" valign="top"><img src="https://hmg2021portalneo1.websiteseguro.com/imgs-email/dia-do-farmaceutico/2023/06/side-left1.png" alt="" style="display: block;" ></td>
                            <td align="center" valign="top">
                                <a href="{{ url }}" target="_blank"><img src="https://hmg2021portalneo1.websiteseguro.com/imgs-email/dia-do-farmaceutico/2023/06/btn1.png" alt="" style="display: block;" ></a>
                            </td>
                        <td align="right" valign="top"><img src="https://hmg2021portalneo1.websiteseguro.com/imgs-email/dia-do-farmaceutico/2023/06/side-right1.png" alt="" style="display: block;"></td>
                    <tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <img src="https://hmg2021portalneo1.websiteseguro.com/imgs-email/dia-do-farmaceutico/2023/05/bottom.png" style="display: block;" alt="">
            </td>
        </tr>
    </table>
    <table  border="0" cellpadding="0" cellspacing="0" width="600"  style="background: #0e0f54; width:600px;" align="center">
        <tr>
            <td height="30px">
                <img src="https://hmgportalneophar1.websiteseguro.com/imgs-email/pesquisa/01/space-blue-30x30.jpg" alt="" style="display:block;">
            </td>
        </tr>
        
        <tr>
            <td bgcolor="#0e0f54" style="background: #0e0f54; color: #FFF;" align="center">
                <a href="https://portalneopharma.com.br/" target="_blank"><img src="https://hmg2021portalneo1.websiteseguro.com/imgs-email/pq-usar-a-neopharma/img06.jpg" alt="" style="display: block;"></a>
                <br>
                <font style="background: #0e0f54; color: #FFF; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                    <a href="https://portalneopharma.com.br/sobre-o-portal-neo-pharma" target="_blank" style="color: #FFF; text-decoration: none !important;">Sobre o Portal Neo Pharma</a>   |   <a href="https://portalneopharma.com.br/fale-conosco" target="_blank" style="color: #FFF; text-decoration: none !important;">Fale Conosco</a>   |   <a href="https://portalneopharma.com.br/politica-de-privacidade" target="_blank" style="color: #FFF; text-decoration: none !important;">Política de Privacidade</a>   |   <a href="https://www.portalneopharma.com.br/termos-de-uso" target="_blank" style="color: #FFF; text-decoration: none !important;">Termo de Uso </a>
                </font>
            </td>
        </tr>
        <tr>
            <td height="30px">
                <img src="https://hmgportalneophar1.websiteseguro.com/imgs-email/pesquisa/01/space-blue-30x30.jpg" alt="" style="display:block;">
            </td>
        </tr>
    </table>
</body>

</html>