{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Voucher Uber{% endblock %}
{% block styles %}
    <style>
        #form span{ color: red !important; }
    </style>
{% endblock %}
{% block metatags %}
    
{% endblock %}

{% block body %}
    {% set user = app.user %}
<div class="page-not-banner page-voucher-uber page-voucher-uber-main" id="page-voucher-uber">
    <div class="container">
        <div class="header-voucher-uber">
            <h2>
                Preencha todos os campos para garantir seu <strong>voucher digital de R$50 para usar no Uber</strong>. Assim, você encurta as distâncias e pode passar mais tempo com quem ama. 
            </h2>
            <p>
                A campanha tem validade de 19 e 20 de janeiro e está disponível para todas as cidades brasileiras nas quais o serviço Uber já está disponível. Os vouchers são digitais e de uso exclusivo no app da Uber, não podendo ser trocados por dinheiro ou outro benefício. Confira o regulamento para saber as cidades participantes e mais informações.
            </p>
        </div>

        <div class="box form-voucher-uber">
            <form method="POST" class="form" id="form">
                <h3>Dados pessoais</h3>
                
                    <div class="">
                        <input type="hidden" name="tc" class="form-control" autocomplete="off">
                        <div class="space-h-10">
                            <label for="name">Nome *<span id="name-error"><span></label>
                            <input type="text" id="name" name="name" class="form-control name" value="{{ app.user.name }}" autocomplete="off">
                        </div>
                        
                        <div class=" grid">
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="user-birth">Data de nascimento * <span id="birthday-error"><span></label>
                                    <input type="text" id="user-birth" name="birthday" class="form-control birthday datepicker" value="{{ user.birthday != null ? user.birthday|date('d/m/Y') : '' }}" maxlength="10" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Data de nascimento'});">
                                </div>
                            </div>
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="gender">Gênero * <span id="gender-error"><span></label>
                                    <select id="select"  class="form-control gender" name="gender">
                                        <option value="">Selecione uma opção</option>
                                        <option value="male" {{ app.user.gender == 'male' ? 'selected' : '' }}>Masculino</option>
                                        <option value="female" {{ app.user.gender == 'female' ? 'selected' : '' }}>Feminino</option>
                                    </select>
                                </div>
                            </div>
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="name">E-mail *<span id="email-error"><span></label>
                                    <input type="text" id="email" name="email" class="form-control email" value="{{ app.user.email }}" autocomplete="off">
                                </div>
                            </div>
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="name">Celular *<span id="cellphone-error"><span></label>
                                    <input type="text" id="cellphone" name="cellphone" class="form-control cellphone" value="{{ app.user.cellphone }}" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        
                        <div class="grid">
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="zip_code">CEP * <span id="zip-code-error"><span></label>
                                    <input type="text" id="zip_code" name="zip_code" class="form-control zip_code" value="{{ app.user.zipCode }}" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="address">Endereço *<span id="address-error"><span></label>
                                    <p class="address-text">{{ app.user.address }}</p>
                                    <input type="hidden" id="address" name="address" class="form-control address" value="{{ app.user.address }}" autocomplete="off">
                                </div>
                            </div>
                        </div>

                        <div class="grid">
                            <div class="one-fifth grid-sys">
                                <div class="space-h-10">
                                    <label for="number">N° *<span id="number-error"><span></label>
                                    <input type="text" id="number" name="number" class="form-control number" value="{{ app.user.number }}" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="two-fifth grid-sys">
                                <div class="space-h-10">
                                    <label for="complement">Complemento <span id="complement-error"><span></label>
                                    <input type="text" id="complement" name="complement" class="form-control complement" value="{{ app.user.complement }}" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="two-fifth grid-sys">
                                <div class="space-h-10">
                                    <label for="neighborhood">Bairro *<span id="neighborhood-error"><span></label>
                                    <p class="neighborhood-text">{{ app.user.neighborhood }}</p>
                                    <input type="hidden" id="neighborhood" name="neighborhood" class="form-control neighborhood" value="{{ app.user.neighborhood }}" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="city">Cidade *<span id="city-error"><span></label>
                                    <p class="city-text">{{ app.user.city }}</p>
                                    <input type="hidden" id="city" name="city" class="form-control city" value="{{ app.user.city }}" autocomplete="off" />
                                </div>
                            </div>
                            <div class="one-half grid-sys">
                                {% set state = app.user.isPharmacy ? app.user.state : app.user.estateAddress %}
                                <div class="space-h-10"> 
                                    <label for="state">Estado *<span id="state-error"><span></label>
                                    <p class="state-text">{{ state }}</p>
                                    <input type="hidden" id="state" name="state" class="form-control state" value="{{ state }}" autocomplete="off">                                
                                </div>
                            </div>
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="user-birth">Grau de escolaridade * <span id="educationalLevel-error"><span></label>
                                    <select id="educationalLevel" class="form-control educationalLevel" name="educationalLevel">
                                        <option value="">Selecione uma opção</option>
                                        <option {{ app.user.id is defined and app.user.educationallevel == 'ensino-fundamental' ? 'selected' : '' }} value="ensino-fundamental">Ensino Fundamental</option>
                                        <option {{ app.user.id is defined and app.user.educationallevel == 'ensino-medio' ? 'selected' : '' }} value="ensino-medio">Ensino Medio</option>
                                        <option {{ app.user.id is defined and app.user.educationallevel == 'ensino-superior' ? 'selected' : '' }} value="ensino-superior">Ensino Superior</option>
                                        <option {{ app.user.id is defined and app.user.educationallevel == 'ensino-fundamental-incompleto' ? 'selected' : '' }} value="ensino-fundamental-incompleto">Ensino Fundamental Incompleto</option>
                                        <option {{ app.user.id is defined and app.user.educationallevel == 'ensino-medio-incompleto' ? 'selected' : '' }} value="ensino-medio-incompleto">Ensino Medio Incompleto</option>
                                        <option {{ app.user.id is defined and app.user.educationallevel == 'ensino-superior-incompleto' ? 'selected' : '' }} value="ensino-superior-incompleto">Ensino Superior Incompleto</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                   
                    <!--- PREFERENCIA -->
                   <div>
                        <h3>Preferências</h3>
                    </div>
                    <div class="space-h-10 form-groump">
                        <label for="hobby">Qual é o seu hobby preferido? <span class="error" id="hobby-error"></label>
                        <select name="hobby" class="form-control hobby required field-hobby" required="required">
                            <option value="">Selecione</option>
                            <option value="Esportes" {{ user_preferential.id is defined and user_preferential.hobby == 'Esportes' ? 'selected' : 'Esportes' }}>Esportes</option>
                            <option value="Leitura" {{ user_preferential.id is defined and user_preferential.hobby == 'Leitura' ? 'selected' : 'Leitura' }}>Leitura</option>
                            <option value="Viajar" {{ user_preferential.id is defined and user_preferential.hobby == 'Viajar' ? 'selected' : 'Viajar' }}>Viajar</option>
                            <option value="Gastronomia" {{ user_preferential.id is defined and user_preferential.hobby == 'Gastronomia' ? 'selected' : '' }}>Gastronomia</option>
                            <option value="Assistir filmes e TV" {{ user_preferential.id is defined and user_preferential.hobby == 'Assistir filmes e TV' ? 'selected' : '' }}>Assistir filmes e TV</option>
                            {% if user_preferential.id is defined and user_preferential.hobby != '' and user_preferential.hobby != 'Outros' %}
                                <option {{ user_preferential.hobby ? 'selected' : '' }} value="{{ user_preferential.hobby }}">{{  user_preferential.hobby }}</option>
                            {% endif %}
                            <option value="Outros" data-other="other">Outros</option>
                        </select>
                        <div class="space-h-10" id="hobby-other-box" style="display: none;">
                            <label for="hobby-other"><span class="error" id="hobby-other-error"></span></label>
                            <input type="text" id="hobby-other" name="hobby_other" placeholder="Digite aqui" class="form-control hobby-other other" autocomplete="off" style="color: #000;" pattern="[a-zA-Z0-9]+">
                        </div>
                    </div>
                    <div class="space-h-10 form-groump">
                        <label for="sport">Qual é o seu esporte preferido? <span class="error" id="sport-error"></label>
                        <select name="sport" class="form-control sport"  required="required">
                            <option value="">Selecione</option>
                            <option {{ user_preferential.id is defined and user_preferential.sport == 'Futebol' ? 'selected' : '' }} value="Futebol">Futebol</option>
                            <option {{ user_preferential.id is defined and user_preferential.sport == 'Basquete' ? 'selected' : '' }} value="Basquete">Basquete</option>
                            <option {{ user_preferential.id is defined and user_preferential.sport == 'Natação' ? 'selected' : '' }} value="Natação">Natação</option>
                            <option {{ user_preferential.id is defined and user_preferential.sport == 'Vôlei' ? 'selected' : '' }} value="Vôlei">Vôlei</option>
                            <option {{ user_preferential.id is defined and user_preferential.sport == 'Tênis' ? 'selected' : '' }} value="Tênis">Tênis</option>
                            {% if user_preferential.sport is defined and user_preferential.sport != 'Outros' and user_preferential.sport != '' %}
                                <option {{ user_preferential.sport ? 'selected' : '' }} value="{{ user_preferential.sport }}">{{ user_preferential.sport }}</option>
                            {% endif %}
                            <option value="Outros" data-other="other">Outros</option>
                        </select>
                        <div class="space-h-10" id="sport-other-box" style="display: none;">
                            <label for="sport-other"><span class="error" id="sport-other-error"></span></label>
                            <input type="text" id="sport-other" name="sport_other" placeholder="Digite aqui" class="form-control sport-other other" autocomplete="off" style="color: #000;" pattern="[a-zA-Z0-9]+">
                        </div>
                    </div>
                                            
                    <div class="space-h-10  form-groump">
                        <label for="register-team-football">Para qual time você torce? <span class="error" id="team-football-error"></label>
                        <select name="team_football" class="form-control select-content team-football" required="required">
                            <option value="">Selecione</option>
                            {% for team in teams %}
                            <option {{ user_preferential.id is defined and user.teamFootball == team ? 'selected' : '' }} value="{{ team }}">{{ team }}</option>
                            {% endfor %}
                            <option value="Outros" data-other="other" pattern="[a-zA-Z0-9]+">Outros</option>
                        </select>
                    </div>
                    <div class="space-h-10 form-groump" id="team-football-other-box" style="display: none;">
                        <label for="team-football-other"><span class="error" id="team-football-other-error"></span></label>
                        <input type="text" id="team-football-other" name="team_football_other" placeholder="Digite aqui" class="form-control team-football-other" autocomplete="off" style="color: #000;" pattern="[a-zA-Z0-9]+">
                    </div>

                    <div class="space-h-10 form-groump do-you-have-childrem">
                        <label for="is_children">Você tem filhos? <span class="error" id="children-error"></label>
                        <div class="d-flex">
                            <div>
                                <div class="form-check" style="margin-right:20px;">
                                    <input type="radio" name="is_children" class="form-control is-children" {{ user_preferential.id is defined and user_preferential.isChildren ? 'checked' : '' }} value="1" id="tem-filhos-sim" style="margin-top:0;">
                                    <label for="tem-filhos-sim" class="form-check-label">Sim</label>
                                </div>

                            </div>
                            <div>
                                <div class="form-check">
                                    <input type="radio" name="is_children" class="form-control is-children" {{ user_preferential.id is defined and user_preferential.isChildren ? '' : 'checked' }} value="0"  id="tem-filhos-nao" style="margin-top:0;">
                                    <label for="tem-filhos-nao" class="form-check-label">Não</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="space-h-10  form-groump" id="box-how-many" style="display: {{ user_preferential.id is defined and user_preferential.isChildren ? 'block' : 'none' }}">
                        <label for="sport">Quantos? <span class="error" id="how-many-error"></label>
                        <select name="how_many" class="form-control how-many">
                            <option value="0">Selecione</option>
                            <option value="1" {{ user_preferential.id is defined and user_preferential.howManyChildren == 1 ? 'selected' : '' }}>1</option>
                            <option value="2" {{ user_preferential.id is defined and user_preferential.howManyChildren == 2 ? 'selected' : '' }}>2</option>
                            <option value="3" {{ user_preferential.id is defined and user_preferential.howManyChildren == 3 ? 'selected' : '' }}>3</option>
                            <option value="4" {{ user_preferential.id is defined and user_preferential.howManyChildren == 4 ? 'selected' : '' }}>4</option>
                            <option value="5" {{ user_preferential.id is defined and user_preferential.howManyChildren == 5 ? 'selected' : '' }}>5</option>
                            <option value="6" {{ user_preferential.id is defined and user_preferential.howManyChildren == 6 ? 'selected' : '' }}>6</option>
                            <option value="7" {{ user_preferential.id is defined and user_preferential.howManyChildren == 7 ? 'selected' : '' }}>7</option>
                            <option value="8" {{ user_preferential.id is defined and user_preferential.howManyChildren == 8 ? 'selected' : '' }}>8</option>
                            <option value="9" {{ user_preferential.id is defined and user_preferential.howManyChildren == 9 ? 'selected' : '' }}>9</option>
                            <option value="10" {{ user_preferential.id is defined and user_preferential.howManyChildren == 10 ? 'selected' : '' }}>10</option>
                            <option value="11" {{ user_preferential.id is defined and user_preferential.howManyChildren == 11 ? 'selected' : '' }}>11</option>
                            <option value="12" {{ user_preferential.id is defined and user_preferential.howManyChildren == 12 ? 'selected' : '' }}>12</option>
                            <option value="13" {{ user_preferential.id is defined and user_preferential.howManyChildren == 13 ? 'selected' : '' }}>13</option>
                            <option value="14" {{ user_preferential.id is defined and user_preferential.howManyChildren == 14 ? 'selected' : '' }}>14</option>
                            <option value="15" {{ user_preferential.id is defined and user_preferential.howManyChildren == 15 ? 'selected' : '' }}>15</option>
                            <option value="16" {{ user_preferential.id is defined and user_preferential.howManyChildren == 16 ? 'selected' : '' }}>16</option>
                            <option value="17" {{ user_preferential.id is defined and user_preferential.howManyChildren == 17 ? 'selected' : '' }}>17</option>
                            <option value="18" {{ user_preferential.id is defined and user_preferential.howManyChildren == 18 ? 'selected' : '' }}>18</option>
                            <option value="19" {{ user_preferential.id is defined and user_preferential.howManyChildren == 19 ? 'selected' : '' }}>19</option>
                            <option value="20" {{ user_preferential.id is defined and user_preferential.howManyChildren == 20 ? 'selected' : '' }}>20</option>
                        </select>
                    </div>

                    <div class="space-h-10  form-groump" id="box-age-children" style="display: {{ user_preferential.id is defined and user_preferential.howManyChildren >= 1 ? 'block' : 'none' }};">
                        <label for="age-children"> Qual a idade? </label>

                        <div class="container grid">
                            {% if user_preferential.id is defined and user_preferential.howManyChildren >= 1 %}

                                {% for info in user_preferential.getChildren %}
                                    {% set i = loop.index %}
                                    
                                        <div class="one-fourth">
                                            <div class="space-h-10 form-groump">
                                                <label for="age-i">Filho {{ i }}<span class="error" id="age-{{ i }}-children-error"></label>
                                                <select name="info_children[age][{{ i }}]" class="form-control preferencias age-children-{{ i }}">
                                                    <option value="">Selecione</option>
                                                    {% for n in 0..50 %}
                                                        {% if loop.first %}
                                                            
                                                            <option value="0-11 meses" {{ info.age == n and info.age != '' ? 'selected' : '' }}>0-11 meses</option>
                                                        {% else %}
                                                            {% set age_children = n == 1 ? n ~ ' ano' : n ~ ' anos' %}
                                                            
                                                            <option value="{{ age_children }}" {{ info.age == n and info.age != '' ? 'selected' : '' }}>{{ age_children }} </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    
                                   
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="space-h-10  form-groump" id="box-sport-children" style="display: {{ user_preferential.id is defined and user_preferential.howManyChildren >= 1 ? 'block' : 'none' }};">
                        <label for="sport-children">Quais os esportes preferidos?</label>
                       
                        <div class="container grid">
                            {% if user_preferential.id is defined and user_preferential.howManyChildren >= 1 %}

                            {% for info in user_preferential.getChildren %}
                                {% set i = loop.index %}
                                   
                                        <div class="one-fourth">
                                            <div class="space-h-10  form-groump">
                                                <label for="sport">Filho {{ i }}<span class="error" id="sport-children-error"></label>
                                                <select name="info_children[sport][{{ i }}]" class="form-control preferencias sport-children-{{ i }}">
                                                    <option value="">Selecione</option>
                                                    <option {{ info.sport == 'Futebol' ? 'selected' : '' }} value="Futebol">Futebol</option>
                                                    <option {{ info.sport == 'Basquete' ? 'selected' : '' }} value="Basquete">Basquete</option>
                                                    <option {{ info.sport == 'Natação' ? 'selected' : '' }} value="Natação">Natação</option>
                                                    <option {{ info.sport == 'Vôlei' ? 'selected' : '' }} value="Vôlei">Vôlei</option>
                                                    <option {{ info.sport == 'Tênis' ? 'selected' : '' }} value="Tênis">Tênis</option>
                                                    {% if info.sport is defined and info.sport != '' %}
                                                        <option {{ info.sport ? 'selected' : '' }} value="{{ info.sport }}">{{ info.sport }}</option>
                                                    {% endif %}
                                                    <option value="Outros" data-other="other">Outros</option>
                                                </select>
                                            </div>
                                        </div>
                                    
                                {% endfor %}
                            {% endif %}
                        </div>
                       
                    </div>

            
                    <div class="space-h-10" id="box-team-football-children" style="display: {{ user_preferential.id is defined and user_preferential.howManyChildren >= 1 ? 'block' : 'none' }};">
                        <label for="team-football-children">Torcem por algum time? <span class="error team-football-children-error" id="team-football-children-error"></label>

                         <div class="container grid">
                            {% if user_preferential.id is defined and user_preferential.howManyChildren >= 1 %}
                               
                                {% for info in user_preferential.getChildren %}
                                 {# {{ dump(info) }} #}
                                    {% set i = loop.index %}
                                        <div class="one-fourth">
                                            <div class="space-h-10  form-groump">
                                                <label for="team-football-children-{{ i }}">Filho {{ i }}<span class="error" id="team-football-children-{{ i }}-error"></label>
                                                <select name="info_children[team_football][{{ i }}]" class="form-control preferencias check-teams team-football-children-{{ i }}">
                                                    <option value="">Selecione</option>
                                                    {% for team in teams %}
                                                        {% if user_preferential.id is defined and info.teamFootball == team %}
                                                            <option selected value="{{ team }}">{{ team }}</option>
                                                        {% else %}
                                                            <option value="{{ team }}">{{ team }}</option>
                                                        {% endif %}
                                                        {# <option {{ user_preferential.id is defined and info.teamFootball == team ? 'selected' : '' }} value="{{ team }}">{{ team }}</option> #}
                                                    {% endfor %}
                                                    {% if info.id is defined and info.teamFootball != '' %}
                                                        <option {{ info.teamFootball ? 'selected' : '' }} value="{{ info.teamFootball }}">{{ info.teamFootball }}</option>
                                                    {% endif %}
                                                    <option data-children="{{ loop.index }}" value="Outros" data-other="other">Outros</option>
                                                </select>
                                            </div>
                                        </div>
                                   
                                {% endfor %}
                            {% endif %}
                         </div>
                        
                    </div>     


            <!--- END PREFERENCIAS -->

            <div class="space-h-10">
                <p class="p-accept-term">
                    <label for="accept-term"><input type="checkbox" name="accept_term" id="accept-term" required="required" /><span class="error accept-term-error" id="accept-term-error"></span> Aceito os <a href="{{ path('home-term') }}">temos de uso</a>.</label>
                </p>
            </div>
            <!--- END PREFERENCIAS -->

                <div class="space-h-20 text-center">
                    <button type="submit" class="btn-default btn-action btn-yellow btn-arena" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'voucher-dia-do-farmaceutico', 'eventAction': 'click', 'eventLabel': 'ficha:salvar'});">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
    var url = "{{path('voucher_uber')}}";
    var consultaCorreios = "{{path('api-correios')}}";

    function validaFormPreferencia(how_many) {
        var is_required = 0
        for (var i = 1; i <= how_many; i++) {
            var age = $('.age-children-'+ i)
            var sport = $('.sport-children-'+ i)
            var team_football = $('.team-football-children-'+ i)

            if (!age.val()) {
                is_required++
                age.parents('.form-groump').children('label').find('span').text(' Obrigatório')
            }

            if (!sport.val()) {
                is_required++
                sport.parents('.form-groump').children('label').find('span').text(' Obrigatório')
            }

            if (!team_football.val()) {
                is_required++
                team_football.parents('.form-groump').children('label').find('span').text(' Obrigatório')
            }
        }

        return is_required
    }

    $(".btn-action").on("click", function(){
        var $this = $(this);
        var values = $('#form').serialize();
        var children_count = $('.how-many').val()

        //var validaFormPreferencia = validaFormPreferencia($('.how-many').val())
        //console.log('Qtd ', validaFormPreferencia($('.how-many').val()))

        if (children_count > 0) {
            if (validaFormPreferencia(children_count) > 0) {
                return false
            }
        }

        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            data: values,
            beforeSend: function(){
                $this.text('Carregando...');
                $this.attr("disabled", true);
            },
            success: function (response) {
                $this.text('Salvar');
                $this.attr("disabled", false);

                if (response.status) {
                    window.location.href = response.url;   
                } else {

                    if (response.hasOwnProperty('is_register')) {
                        alert(response.message);
                    }

                    if (response.error.hasOwnProperty('name')) {
                        $('#name-error').text(response.error.name)
                    }

                    if (response.error.hasOwnProperty('address')) {
                        $('#address-error').text(response.error.address)
                    }

                    if (response.error.hasOwnProperty('number')) {
                        $('#number-error').text(response.error.number)
                    }

                    if (response.error.hasOwnProperty('neighborhood')) {
                        $('#neighborhood-error').text(response.error.neighborhood);
                    }

                    if (response.error.hasOwnProperty('city')) {
                        $('#city-error').text(response.error.city)
                    }

                    if (response.error.hasOwnProperty('state')) {
                        $('#state-error').text(response.error.state)
                    }
                    
                    if (response.error.hasOwnProperty('zip_code')) {
                        $('#zip-code-error').text(response.error.zip_code)
                    }

                    if (response.error.hasOwnProperty('cellphone')) {
                        $('#cellphone-error').text(response.error.cellphone)
                    }
                    
                    if (response.error.hasOwnProperty('email')) {
                        var email = $('.email').val()
                        if (response.error.email == 'Email está sendo utilizado') {
                            alert('Ops, não foi possível finalizar sua solicitação. O e-mail ' + email + ' já consta como cadastrado como acompanhante de outro usuário do portal para esse jogo.')
                        } else {
                            $('#email-error').text(response.error.email)
                        }
                    }

                    if (response.error.hasOwnProperty('birthday')) {
                        $('#birthday-error').text(response.error.birthday);
                    }

                    if (response.error.hasOwnProperty('gender')) {
                        $('#gender-error').text(response.error.gender);
                    }

                    if (response.error.hasOwnProperty('educationalLevel')) {
                        $('#educationalLevel-error').text(response.error.educationalLevel);
                    }

                    //acompanhante
                    if (response.error.hasOwnProperty('name_companion')) {
                        $('#name-companion-error').text(response.error.name_companion)
                    }

                    if (response.error.hasOwnProperty('cellphone_companion')) {
                        $('#cellphone-companion-error').text(response.error.cellphone_companion)
                    }
                    
                    if (response.error.hasOwnProperty('email_companion')) {
                        var email_companion = $('.email-companion').val()
                        if (response.error.email_companion == 'Email está sendo utilizado') {
                            alert('Ops, não foi possível finalizar sua solicitação. O e-mail ' + email_companion + ' já consta como cadastrado para receber ingresso para esse jogo. Você pode escolher e cadastrar outro acompanhante.')
                        } else {
                            $('#email-companion-error').text(response.error.email_companion)
                        }
                    }

                    //preferencias
                    if (response.error.hasOwnProperty('hobby')) {
                        $('#hobby-error').text(response.error.hobby);
                    }

                    if (response.error.hasOwnProperty('sport')) {
                        $('#sport-error').text(response.error.sport);
                    }

                    if (response.error.hasOwnProperty('team_football')) {
                        $('#team-football-error').text(response.error.team_football);
                    }
                    
                    if (response.error.hasOwnProperty('accept_term')) {
                        $('#accept-term-error').text(response.error.accept_term);
                    }
                    
                    if (response.error.hasOwnProperty('accept_term')) {
                        $('#accept-term-error').text(response.error.accept_term);
                    }
                    
                }
            } 
        });
    })

    $('.zip_code').on('blur', function(e) {
        var cep     = $(this).val()
        var btn     = $('.btn-register-gestor')
        var address = $('.address'), neighborhood =  $('.neighborhood'), city = $('.city'), state = $('.state'), zip_code = $('.zip_code')
        var address_text = $('.address-text'), neighborhood_text =  $('.neighborhood-text'), city_text = $('.city-text'), state_text = $('.state-text')

        if (cep.length < 9) {
            $('#zip-code-error').text('CEP INVÁLIDO');
            return false;
        }

        $.ajax({
            url: consultaCorreios,
            type: "POST",
            dataType: "json",
            data: {
                'cep': cep, 
            },
            beforeSend: function(){
                //values
                address.val('...');  
                neighborhood.val('...');  
                city.val('...');  
                state.val('...');
                
                //text
                address_text.text('...');  
                neighborhood_text.text('...');  
                city_text.text('...');  
                state_text.text('...');
            },
            success: function (response) {
                
                $('#address-error').text('') 
                $('#neighborhood-error').text('')  
                $('#city-error').text('') 
                $('#state-error').text('') 

                if (!response.status) {
                    $('#zip-code-error').text(response.message);
                    return false;
                }
                
                //values
                $('#zip-code-error').text('')
                address.val(response.endereco);  
                neighborhood.val(response.bairro + ' ' + response.complemento2);  
                city.val(response.cidade);  
                state.val(response.uf);

                //text
                address_text.text(response.endereco);  
                neighborhood_text.text(response.bairro + ' ' + response.complemento2);  
                city_text.text(response.cidade);  
                state_text.text(response.uf);
            }
        });
    })

    
    $('.name').on("keyup", function(){
        $('#name-error').text('')
    })

    $('.address').on("keyup", function(){
        $('#address-error').text('')
    })

    $('.number').on("keyup", function(){
        $('#number-error').text('')
    })

    $('.neighborhood').on("keyup", function(){
        $('#neighborhood-error').text('')
    })

    $('.city').on("keyup", function(){
        $('#city-error').text('')
    })

    $('.state').on("keyup", function(){
        $('#state-error').text('')
    })

    $('.zip-code').on("keyup", function(){
        $('#zip-code-error').text('')
    })

    $('.cellphone').on("keyup", function(){
        $('#cellphone-error').text('')
    })

    $('.email').on("keyup", function(){
        $('#email-error').text('')
    })
    
    $('.birthday').on("keyup", function(){
        $('#birthday-error').text('')
    })

    $('.gender').on("change", function(){
        $('#gender-error').text('')
    })

    $('.educationalLevel').on("change", function(){
        $('#educationalLevel-error').text('')
    })

    //acompanhante
    $('.name-companion').on("keyup", function(){
        $('#name-companion-error').text('')
    })

    $('.cellphone-companion').on("keyup", function(){
        $('#cellphone-companion-error').text('')
    })

    $('.email-companion').on("keyup", function(){
        $('#email-companion-error').text('')
    })
    
    $('#accept-term').on("click", function(){
        $('#accept-term-error').text('')
    })

    $('.team-football').on("change", function() {
        $('#team-football-error').text('')
    })
   
    $('.zip_code').mask('00000-000');
    $('.cellphone, .cellphone-companion').mask('(00) 00000-0000');
    $('.birthday').mask('99/99/9999')

    function modalMsg(message) {     
        $('.dropyD-message').html(message)       
        if($('.modal-dropyD').hasClass('open-menu')){
            $('.modal-dropyD').removeClass('open-modal');
        } else{
            $('.modal-dropyD').addClass('open-modal');
        }
    }

    //código formulário de preferencias
    $(document).ready(function(e) {
        var redirectHome = "{{ path('home') }}";
        
        var teams = [
            'América-MG',
            'Athletico',
            'Avaí',
            'Atlético-GO',
            'Atlético-MG',
            'Bahia',
            'Botafogo',
            'Bragantino',
            'Brasil de Pelotas',
            'Brusque',
            'Ceará',
            'Chapecoense',
            'Confiança',
            'Corinthians',
            'Curitiba',
            'CRB',
            'Cruzeiro',
            'CSA',
            'Cuiabá',
            'Fortaleza',
            'Flamengo',
            'Fluminense',
            'Goiás',
            'Grêmio',
            'Guarani',
            'Internacional',
            'Juventude',
            'Londrina',
            'Náutico',
            'Operário',
            'Palmeiras',
            'Ponte Preta',
            'Remo',
            'Sampaio Corrêa',
            'Santos',
            'São Paulo',
            'Sport',
            'Vasco',
            'Vila Nova',
            'Vitória',
            'Nenhum'
        ];

        $('.is-children').on('click', function(e) {      
            var is_children = $(this).val()
            var box_team_football_children = $('#box-team-football-children')
            var box_sport_children = $('#box-sport-children')
            var box_age_children = $('#box-age-children')

            if (is_children == 1) {
                $('#box-how-many').show();
            } else {
                $('#box-how-many').hide()
                box_team_football_children.hide()
                box_sport_children.hide()
                box_age_children.hide()
                box_team_football_children.find('.container').html('')
                box_sport_children.find('.container').html('')
                box_age_children.find('.container').html('')
                $(".how-many option:selected").prop("selected", false);
                $(".how-many option:first").prop("selected", "selected");
            }
        })


        $('.how-many').on('change', function(e) {
            var how_many = $(this).val()
            var box_team_football_children = $('#box-team-football-children')
            var box_sport_children = $('#box-sport-children')
            var box_age_children = $('#box-age-children')

            box_team_football_children.show()
            box_sport_children.show()
            box_age_children.show()
            box_team_football_children.find('.container').html('')
            box_sport_children.find('.container').html('')
            box_age_children.find('.container').html('')

            for (var i = 1; i <= how_many; i++) {
                //console.log(i);
                var age_html = 
                    '<div class="one-fourth">' +
                        '<div class="space-h-10 form-groump">' +
                            '<label for="age-'+ i +'-children">Filho '+ i +'<span class="error" id="age-'+ i +'-children-error"></label>' +
                            '<select name="info_children[age]['+ i +']" required="required" class="form-control preferencias age-children-'+ i +'" onchange="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'preferencias\', \'eventAction\': \'click\', \'eventLabel\': \'etapa: Idade filho ' +i+'\'}); ">';
                                age_html += '<option value="">Selecione</option>';
                                for(var x = 0; x <= 50; x++) {
                                    if (x == 0) {
                                        age_html += '<option value="0-11 meses">0-11 meses</option>';
                                    } else {
                                        var age_children = x == 1 ? x + ' ano' : x + ' anos'
                                        age_html += '<option value="'+ age_children +'">'+ age_children +'</option>';
                                    }
                                }
                age_html += '</select>';
                age_html += '</div>';
                age_html += '</div>';      

                box_age_children.find('.container').append(age_html);

                //var j = i;

                //Quais os esportes preferidos?
                box_sport_children.find('.container').append('<div class="one-fourth">' +
                    '<div class="space-h-10 form-groump">' +
                        '<label for="sport">Filho '+ i +'<span class="error" id="sport-children-error"></label>' +
                        '<select name="info_children[sport]['+ i +']" required="required" class="form-control preferencias sport-children-'+ i +'"  onchange="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'preferencias\', \'eventAction\': \'click\', \'eventLabel\': \'etapa: Esporte filho ' +i+'\'}); ">' +
                            '<option data-children="'+i+'" data-i="'+i+'" value="">Selecione</option>' +
                            '<option data-children="'+i+'" data-i="'+i+'" value="Futebol">Futebol</option>' +
                            '<option data-children="'+i+'" value="Basquete">Basquete</option>' +
                            '<option data-children="'+i+'" value="Natação">Natação</option>' +
                            '<option data-children="'+i+'" value="Vôlei">Vôlei</option>' +
                            '<option data-children="'+i+'" value="Tênis">Tênis</option>' +
                            '<option data-children="'+i+'" value="Outros" data-other="other">Outros</option>' +
                        '</select>' +

                        '<div class="space-h-10 other-sport-'+ i +'" style="display: none;">' +
                            '<label for="info-children-sport-other-'+ i +'"><span class="error" id="info-children-sport-other-'+ i +'-error"></span></label>' +
                            '<input type="text" name="info_children[sport][other]['+ i +']" placeholder="Digite aqui" class="form-control .other-'+ i +'" onkeyup="valida(this)" style="color: #000;" pattern="[a-zA-Z0-9]+">' +
                        '</div>' +
                        
                        '</div>' +
                    '</div>');


                    var box_teams_html = '<div class="one-fourth">' 
                    box_teams_html += '<div class="space-h-10  form-groump">'                          
                        box_teams_html += '<label for="team-football-children-'+ i +'">Filho '+ i +'<span class="error" id="team-football-children-'+ i +'-error"></label>'
                        box_teams_html += '<select name="info_children[team_football]['+ i +']" required="required" class="form-control preferencias team-football-children-'+ i +'"  onchange="dataLayer.push({\'event\':\'GAEvent\', \'eventCategory\': \'preferencias\', \'eventAction\': \'click\', \'eventLabel\': \'etapa: Time filho ' +i+'\'}); ">'                   
                            box_teams_html += '<option data-children="" value="">Selecione</option>'
                            for (var y = 0; y < teams.length; y++) {
                            box_teams_html += '<option data-children="'+i+'" value="'+ teams[y] +'">'+ teams[y] +'</option>'
                            }
                            
                            box_teams_html += '<option data-children="'+i+'" value="Outros" data-other="other">Outros</option>' 
                        box_teams_html += '</select>'

                    box_teams_html += '<div class="space-h-10 form-groump other-team-football-'+ i +'" style="display: none;">' 
                        box_teams_html += '<label for="info-children-team_football-other-'+ i +'"><span class="error" id="info-children-team-football-other-'+ i +'-error"></span></label>' 
                        box_teams_html += '<input type="text" name="info_children[team_football][other]['+ i +']"  placeholder="Digite aqui" class="form-control .other-'+ i +'" onkeyup="valida(this)" style="color: #000;" pattern="[a-zA-Z0-9]+">'
                    box_teams_html += '</div>';

                    box_teams_html += '</div>';
                    box_teams_html += '</div>';

                box_team_football_children.find('.container').append(box_teams_html);

                    
                    //Outros campo para filhos - Quais os esportes preferidos?
                    $('.sport-children-'+ i).on('change', function(e) {
                        var option = $(this).val()
                        var children = $(this).find('option:selected').data('children')
                        
                        if ($(this).val() == 'Outros') { 
                            
                           $(this).siblings('.other-sport-' + children).show()  
                        } else {
                           $(this).siblings('.other-sport-' + children).hide()
                        }
                    });    

                    
                    //Outros campo para filhos - Torcem por algum time?
                    $('.team-football-children-'+ i).on('change', function(e) {
                        var option = $(this).val()
                        var children = $(this).find('option:selected').data('children')
                        
                        if ($(this).val() == 'Outros') { 
                            $(this).siblings('.other-team-football-' + children).show() 
                        } else {
                            $(this).siblings('.other-team-football-' + children).hide() 
                        }
                    })          

                    $('.preferencias').on('change', function(e) {
                        $(this).parents('.form-groump').children('label').find('span').text('')
                    })

            }

        })

        
        //salvando o cadastro
        $('.save').on('click', function(e) {
            var form = $('#form')
             
            $.ajax({
                url: "{{ path('user-save-preferences') }}",
                type: "POST",
                dataType: "json",
                async: false,
                data: form.serialize(),
                success: function (data) {
                    response = data
                    console.log('save ', response)
                    
                    if (!response.status) {
                        if (response.error.hasOwnProperty('hobby')) {
                            $('#hobby-error').text(response.error.hobby);
                        }

                        if (response.error.hasOwnProperty('sport')) {
                            $('#sport-error').text(response.error.sport);
                        }

                    } else {
                        window.location.href = response.url
                    }
                }
            });
        });

        $('[name="hobby"]').on("change", function(){
            $('#hobby-error').text('');
        });

        $('[name="sport"]').on("change", function(){
            $('#sport-error').text('');
        });

        //Outros campo para qual time você torce?
        $('.team-football').on('change', function(e) {
            var option = $(this).val()
            var box = $('#team-football-other-box')
            
            if ($('.team-football option:selected').data('other') == 'other') { 
                box.show()  
            } else {
                box.hide()
            }
        });

        //Outros campo para qual é o seu esporte preferido? 
        $('.sport').on('change', function(e) {
            var option = $(this).val()
            var box = $('#sport-other-box')
            
            if ($('.sport option:selected').data('other') == 'other') { 
                box.show()  
            } else {
                box.hide()
            }
        });    

        //Outros campo qual é o seu hobby preferido?
        $('.hobby').on('change', function(e) {
            var option = $(this).val()
            var box = $('#hobby-other-box')
            
            if ($('.hobby option:selected').data('other') == 'other') { 
                box.show()  
            } else {
                box.hide()
            }
        });    

      /*
       $('input').on('keyup', function(){
        var input_val = $(this).val();
        var inputRGEX = /^[a-zA-Z]*$/;
        var inputResult = inputRGEX.test(input_val);
          if(!(inputResult))
          {     
            this.value = this.value.replace(/[^a-z\s]/gi, '');
          }
       });
       */
    });

    function valida($this) {
        var input_val = $this.value
        var inputRGEX = /^[a-zA-Z]*$/;
        var inputResult = inputRGEX.test(input_val);
        if(!(inputResult))
        {     
            $this.value = $this.value.replace(/[^a-z\s]/gi, '');
        }
    }


    
    /*    
     $('input').on('keyup', function(){
            var input_val = $(this).val();
            var inputRGEX = /^[a-zA-Z]*$/;
            var inputResult = inputRGEX.test(input_val);
            if(!(inputResult))
            {     
                this.value = this.value.replace(/[^a-z\s]/gi, '');
            }
        });
        */
	</script>
    <style>
        .container.grid{padding:0;}
        .grid .one-fourth{margin-right: 20px;}
    </style>

    <script>
        $('select').on('change', function() {
            var labelName = $(this).parent().find('label').text();
            var valueField = this.value;
            
            dataLayer.push({ 
                'event':'GAEvent', 
                'eventCategory': 'preferencias', 
                'eventAction': 'click', 
                'eventLabel': 'etapa:'+labelName
            });
        });


        $('input[type=radio][name=is_children]').change(function() {
            dataLayer.push({ 
            'event':'GAEvent', 
            'eventCategory': 'preferencias', 
            'eventAction': 'click', 
            'eventLabel': 'etapa:Você tem filhos?'
            });
        });
    </script>
{% endblock %}