{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Resultado Voucher Uber{% endblock %}
    
{% block body %}
    <div class="page-not-banner page-voucher-uber page-result-voucher-uber">
        <div class="container">
            <div class="">
                <div class="page-voucher-uber-realizado">
                    <div class="page-voucher-uber-resultado">
                        {% if result == 'parabens' %}
                            <h2 class=""><strong>Parabéns!</strong> <span>Você garantiu seu voucher digital de <strong>R$50</strong> para usar no Uber.</span></h2>
                            <p class="space-h-20">
                                Ele chegará em seu e-mail, então fique atendo à caixa de entrada ou de SPAM.<br>
                                Aproveite para encurtar as distâncias e passar mais tempo com quem ama. 
                            </p>
                        {% elseif result == 'ingressos-esgotados' %}
                            <h2 class=""><strong>Que pena! <span>Os vouchers digitais esgotaram.</span></strong></h2>
                            <p class="space-h-20">
                                Mas, mantendo seu cadastro atualizado, você sai na frente nas próximas campanhas.

                            </p>
                            <div class="space-h-20 text-center">
                                <span class="space-v-10"><a href="{{ path('user-home') }}" class="btn-default btn-arena" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'voucher-dia-do-farmaceutico', 'eventAction': 'click', 'eventLabel': 'resultado:atualize-seu-cadastro'});">Atualize seu cadastro!</a></span>
                            </div>
                        {% elseif result == 'ingressos-indisponivel' %}
                            <h2 class=""><strong>Ops!</strong></h2>
                            <p class="space-h-20">
                                Os vouchers digitais não estão disponíveis na sua região infelizmente.<br>
                                Mas não desanime. Mantenha seu cadastro atualizado para sair na frente nas próximas campanhas.
                            </p>
                            <div class="space-h-20 text-center">
                                <span class="space-v-10"><a href="{{ path('user-home') }}" class="btn-default btn-arena" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'voucher-dia-do-farmaceutico', 'eventAction': 'click', 'eventLabel': 'resultado:atualize-seu-cadastro'});">Atualize seu cadastro!</a></span>
                            </div>
                        {% endif %}
                    </div>

                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}
