{% extends 'admin.html.twig' %}

{% block title %}QUIZ | EDIT{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <form method="POST" enctype="multipart/form-data">
                    {# SECTION QUIZ #}
                        <div class="box-header with-border">
                            <h4 class="box-title">Editar Quiz</h4>
                        </div>

                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label">Título</label>
                                <input class="form-control" type="text" value="{{quiz.title}}" name="form[quiz][title]"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Introdução (texto que será exibido dentro do bot antes de iniciar o quiz)</label>
                                <textarea class="ckeditor" id="quiz_introduction" name="form[quiz][introduction]" type="text" required>{{quiz.introduction}}</textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Descrição Curta</label>
                                <input class="form-control" type="text" value="{{quiz.shortDescription}}"  name="form[quiz][shortDescription]"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Descrição</label>
                                <textarea class="ckeditor" id="quiz_description" name="form[quiz][description]" type="text">{{quiz.description}}</textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Meta Title (SEO)</label>
                                <input class="ckeditor" id="quiz_metaTitle" name="form[quiz][metaTitle]" type="text" value="{{quiz.metaTitle}}" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Meta Descrição (SEO)</label>
                                <input class="ckeditor" id="quiz_metaDescription" name="form[quiz][metaDescription]" type="text" value="{{quiz.metaDescription}}" required/>
                            </div>
                            <div class="form-group-double">
                                <div class="form-group">
                                    <label for="post_isActive">Ativo</label>
                                    <input data-toggle="toggle" name="form[quiz][isActive]" type="checkbox" value="{{quiz.isActive}}" {{ quiz.isActive ? 'checked' : '' }} />
                                </div>
                                <div class="form-group">
                                    <label for="post_isActive">Apenas para Farmacêuticos</label>
                                    <input data-toggle="toggle" name="form[quiz][isOnlyToPharmaceutical]" type="checkbox" value="{{quiz.isOnlyToPharmaceutical}}" {{ quiz.isOnlyToPharmaceutical ? 'checked' : '' }} />
                                </div>
                            </div>
                            <div class="form-group-double">
                                <div class="form-group">
                                    <label for="quiz_isPublic">Publico</label>
                                    <input data-toggle="toggle" {{ quiz.isPublic ? 'checked' : '' }} id="quiz_isPublic" name="form[quiz][isPublic]" type="checkbox">
                                </div>
                            </div>
                            <div class="form-group-double">
                                <div class="form-group">
                                    <label class="control-label">Imagem</label>
                                    <img id="preview-web" src="{{ asset(quiz.image) }}" alt="{{ quiz.title }}" class="image-responsive">
                                    <input  id="image-web"  class="form-control input-image quiz" type="file" name="form[quiz][image]" />
                                    <label id="mensagem-web" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                    <p></p>
                                    <label for="quiz_imageMetaTitle">Image Meta Title (SEO)</label>
                                    <input id="quiz_imageMetaTitle" name="form[quiz][imageMetaTitle]" value="{{quiz.imageMetaTitle}}" type="text"/>
                                    <label for="quiz_imageMetaDescription">Image Meta Description (SEO)</label>
                                    <input id="quiz_imageMetaDescription" name="form[quiz][imageMetaDescription]" value="{{quiz.imageMetaDescription}}" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Imagem Mobile</label>
                                    <img  id="preview-mobile" src="{{ asset(quiz.imageMobile) }}" alt="{{ quiz.title }}" class="image-responsive">
                                    <input id="image-mobile" class="form-control input-image quiz" type="file" name="form[quiz][imageMobile]" />
                                    <label id="mensagem-mobile" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                    <p></p>
                                    <label for="imageMetaTitle">Image Mobile Meta Title (SEO)</label>
                                    <input id="quiz_imageMobileMetaTitle" name="form[quiz][imageMobileMetaTitle]" value="{{quiz.imageMobileMetaTitle}}" type="text"/>
                                    <label for="imageMetaDescription">Image Mobile Meta Description (SEO)</label>
                                    <input id="quiz_imageMobileMetaDescription" name="form[quiz][imageMobileMetaDescription]" value="{{quiz.imageMobileMetaDescription}}" type="text"/>
                                </div>
                            </div>
                            <input class="form-control" type="hidden" value="{{quiz.id}}" name="form[quiz][id]"/>
                        </div>
                    {# END SECTION QUIZ #}
                    
                    {# SECTION QUESTIONS #}
                        <div class="box-header">
                            <h4 class="box-title">
                                <span>Perguntas</span>
                                <span>
                                    Total: <span id="total-questions"><b>{{ quiz.questions|length }}</b></span>
                                    <i id="add-question" class="fa fa-plus"></i>
                                    <i id="questions-minimize" data-id=".hold-questions" class="fas fa-window-minimize" style="cursor: pointer"></i>
                                    <i id="questions-maximize" data-id=".hold-questions" class="fas fa-window-maximize" style="cursor: pointer"></i>
                                </span>
                            </h4>
                        </div>

                        <div class="hold-questions box-body">
                            {% for i,question in quiz.questions %}
                                <div class="question" data-id="{{ i }}">
                                    <h4 class="box-title">Pergunta <i class="fa fa-times remove-question-registered" data-ajax="{{path('admin_quiz_remove_question',{'id' : question.id})}}" data-id="{{question.id}}"></i></h4>
                                    <div class="form-group">
                                        <label class="control-label">Pergunta</label>
                                        <input class="form-control" type="text" name="form[question][{{ i }}][question]" value="{{ question.question }}"/>
                                        <input class="form-control" type="hidden" value="{{question.id}}" name="form[question][{{ i }}][id]"/>
                                    </div>
                                    <div class="form-group-double">
                                        <div class="form-group">
                                            <label class="control-label">Tem multiplas respostas</label>
                                            <input data-toggle="toggle" name="form[question][{{ i }}][hasMultipleAnswers]" type="checkbox" {{ question.hasMultipleAnswers ? 'checked' : '' }}/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Número minimo de respostas</label>
                                            <input class="form-control" type="text" name="form[question][{{ i }}][numberOfAnswers]" required value="{{ question.numberOfAnswers }}"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Ordem</label>
                                            <input class="form-control" type="text" name="form[question][{{ i }}][position]" required value="{{ question.position }}">
                                        </div>
                                    </div>
                                    <h4 class="box-title">Repostas<i class="fa fa-plus add-question-answer"></i></h4>
                                    
                                    <div class="hold-answers">
                                        {% for j,answer in question.answers %}
                                            <div class="question-answer" data-id="{{ j }}">
                                                <h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer-registered" data-ajax="{{path('admin_quiz_remove_answer',{'id' : answer.id})}}" data-id="{{answer.id}}"></i></h4>
                                                
                                                <div class="form-group-double" >
                                                    <div class="form-group">
                                                        <label class="control-label">Texto</label>
                                                        <input class="form-control" type="text" name="form[question][{{ i }}][answer][{{ j }}][answer]" value="{{answer.answer}}" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">FeedBack</label>
                                                        <input class="form-control" type="text" name="form[question][{{ i }}][answer][{{ j }}][feedback]" value="{{answer.feedback}}" />
                                                    </div>
                                                </div>
                                                    
                                                <div class="form-group-double">
                                                    <div class="form-group">
                                                        <label class="control-label">Valor</label>
                                                        <input class="form-control" type="text" name="form[question][{{ i }}][answer][{{ j }}][value]" value="{{ answer.value }}"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="post_isActive">Resposta Correta?</label>
                                                        <input data-toggle="toggle" name="form[question][{{ i }}][answer][{{ j }}][isCorrect]" type="checkbox" {{ answer.isCorrect ? 'checked' : '' }}/>
                                                    </div>
                                                </div>
                                                <div class="form-group-double">
                                                    <div class="form-group">
                                                        <label class="control-label">Imagem</label>
                                                        <img id="preview-web-question-{{j}}"  src="{{ asset(answer.image) }}" alt="{{ answer.answer }}" class="image-responsive">
                                                        <input id="input-web-question-{{j}}" class="form-control input-image" type="file" name="form[question][{{ i }}][answer][{{ j }}][image]" />
                                                        <label id="mensagem-web-question-{{j}}" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                                        <p></p>
                                                        <label>Image Meta Title (SEO)</label>
                                                        <input name="form[question][{{ i }}][answer][{{ j }}][imageMetaTitle]" value="{{answer.imageMetaTitle}}" type="text"/>
                                                        <label>Image Meta Description (SEO)</label>
                                                        <input name="form[question][{{ i }}][answer][{{ j }}][imageMetaDescription]" value="{{answer.imageMetaDescription}}" type="text"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Imagem Mobile</label>
                                                        <img id="preview-mobile-question-{{j}}" src="{{ asset(answer.imageMobile) }}" alt="{{ answer.answer }}" class="image-responsive">
                                                        <input id="input-mobile-question-{{j}}" class="form-control input-image" type="file" name="form[question][{{ i }}][answer][{{ j }}][imageMobile]" />
                                                        <label id="mensagem-mobile-question-{{j}}" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                                        <p></p>
                                                        <label>Image Mobile Meta Title (SEO)</label>
                                                        <input name="form[question][{{ i }}][answer][{{ j }}][imageMobileMetaTitle]" value="{{answer.imageMobileMetaTitle}}" type="text"/>
                                                        <label>Image Mobile Meta Description (SEO)</label>
                                                        <input name="form[question][{{ i }}][answer][{{ j }}][imageMobileMetaDescription]" value="{{answer.imageMobileMetaDescription}}" type="text"/>
                                                    </div>
                                                </div>
                                                <input class="form-control" type="hidden" name="form[question][{{ i }}][answer][{{ j }}][id]" value="{{ answer.id }}" />
                                            </div>
                                        {% endfor %}
                                    </div>
                                    
                                </div>
                            {% endfor %}
                        </div>
                    {# END SECTION QUESTIONS #}

                    {# SECTION RESULT #}
                        <div class="box-header with-border" style="border-top: 2px solid #3c8dbc">
                            <h4 class="box-title" style="display: flex;justify-content:space-between">
                                <span>Resultados</span> 
                                <span>
                                    Total: <span id="total-results">1</span>
                                    <i class="fa fa-plus" id="add-result" style="cursor: pointer"></i>
                                    <i class="fas fa-window-minimize" id="results-minimize" data-id=".hold-results" style="cursor: pointer"></i>
                                    <i class="fas fa-window-maximize" id="results-maximize" data-id=".hold-results" style="cursor: pointer"></i>
                                </span>
                            </h4>
                        </div>

                        <div class="hold-results box-body">
                            {% for k,result in quiz.results %}
                                <div class="box-body with-border result" data-id="{{ result.id}}">
                                    <h4 class="box-title">Resultado <i class="fa fa-times remove-result-registered" data-id="{{result.id}}"></i></h4>
                                    <input class="form-control" type="hidden" name="form[result][{{k}}][id]" value="{{ result.id }}">
                                    <div class="form-group">
                                        <label class="control-label">Mensagem Final</label>
                                        <input class="form-control" type="text" name="form[result][{{k}}][finalMessage]" value="{{result.finalMessage}}">
                                    </div>
                                    <div class="form-group-double" >
                                        <div class="form-group">
                                            <label class="control-label">Valor Mínimo</label>
                                            <input class="form-control" type="text" name="form[result][{{k}}][minScore]" value="{{result.minScore}}">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Valor Máximo</label>
                                            <input class="form-control" type="text" name="form[result][{{k}}][maxScore]" value="{{result.maxScore}}">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {# END SECTION RESULT #}

                    <h1>Contéudo Referenciado
                        <i aria-hidden="true" class="fa fa-plus" id="add-referrer"></i>
                    </h1>
                    <div class="box-body" id="hold-referrer">
                        {% for rc in contentReferrer %}
                            <div class="hold-referrer-content form-group-double">
                                <div class="form-group">
                                    <label>{{ rc.type }}</label>
                                </div>
                                <div class="form-group">
                                    <label>{{ rc.title }}</label>
                                </div>
                                <i aria-hidden="true" class="fa fa-times remove-referrer-register" data-id="{{rc.id}}"></i>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="box-footer">
                        <button class="btn btn-success">Salvar</button>
                        <a class="btn btn-default" href="{{ path('admin_quiz_list') }}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

        $(".remove-question-registered, .remove-question-answer-registered").on("click", function(){

            var ajaxUrl = $(this).data('ajax');
            var parente = $(this).parent().parent();
            var remove = confirm("Deseja realmente remover?");

            if(remove){
                showLoading();
                $.ajax({
                    url: ajaxUrl,
                    type: "POST",
                    dataType: "json",
                    success: function(response) {
                        if (response.status) {
                            parente.remove();
                        } else {
                            alert(response.message);
                        }
                        hideLoading();
                    }
                });
            }
        });

        $("form").on("submit", function (e) {
            var error = false;
            showLoading();
            $('.ckeditor').each(function () {
                var string = $(this).val().replace(/<[^>]*>/gi, '').length;
                
                if (string == 0 && $(this).prop('required')) {
                    $(this).siblings(".cke_chrome").addClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid red");
                    error = true;
                } else {
                    $(this).siblings(".cke_chrome").removeClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid #d1d1d1");
                }
            })
            if (error) {
                var id = $('.error').first().attr("id");
                
                $('.admin-content').animate({
                    scrollTop: $("#" + id)[0].offsetTop
                },500);
                hideLoading();
                e.preventDefault();
                return false;
            }
        });

        $("#results-minimize, #questions-minimize").unbind("click").on("click", function(){
            $($(this).data('id')).slideUp();
        });

        $("#results-maximize, #questions-maximize").unbind("click").on("click", function(){
            $($(this).data('id')).slideDown();
        });

        $("#add-question").unbind("click").on("click", function(e){
            e.preventDefault();
            var lastResult = $(".question").last();

            var html = '<h4 class="box-title">Pergunta<i class="fa fa-times remove-question"></i></h4><div class="form-group"><label class="control-label">Pergunta</label><input class="form-control" type="text" name="form[question][0][question]" required></div><div class="form-group-double"><div class="form-group"><label class="control-label">Tem multiplas respostas</label><input data-toggle="toggle" name="form[question][0][hasMultipleAnswers]" type="checkbox"></div><div class="form-group"><label class="control-label">Número minimo de respostas</label><input class="form-control" type="text" name="form[question][0][numberOfAnswers]" required></div><div class="form-group"><label class="control-label">Ordem</label><input class="form-control" type="text" name="form[question][0][position]" required></div></div><h4 class="box-title">Repostas<i class="fa fa-plus add-question-answer"></i></h4><div class="hold-answers"><div class="question-answer" data-id="0"><h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer"></i></h4><div class="form-group-double"><div class="form-group"><label class="control-label">Resposta</label><input class="form-control" type="text" name="form[question][0][answer][0][answer]" required></div><div class="form-group"><label class="control-label">FeedBack</label><input class="form-control" type="text" name="form[question][0][answer][0][feedback]"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Valor</label><input class="form-control" type="text" name="form[question][0][answer][0][value]" required></div><div class="form-group"><label for="post_isActive">Resposta Correta?</label><input data-toggle="toggle" name="form[question][0][answer][0][isCorrect]" type="checkbox"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Imagem</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][0][image]"><p></p><label>Image Meta Title (SEO)</label><input name="form[question][0][answer][0][imageMetaTitle]" type="text"/><label>Image Meta Description (SEO)</label><input name="form[question][0][answer][0][imageMetaDescription]" type="text"/></div><div class="form-group"><label class="control-label">Imagem Mobile</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][0][imageMobile]"><p></p><label>Image Mobile Meta Title (SEO)</label><input name="form[question][0][answer][0][imageMobileMetaTitle]" type="text"/><label>Image Mobile Meta Description (SEO)</label><input name="form[question][0][answer][0][imageMobileMetaDescription]" type="text"/></div></div></div><div class="question-answer" data-id="1"><h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer"></i></h4><div class="form-group-double"><div class="form-group"><label class="control-label">Texto</label><input class="form-control" type="text" name="form[question][0][answer][1][answer]" required></div><div class="form-group"><label class="control-label">Feedback</label><input class="form-control" type="text" name="form[question][0][answer][1][feedback]"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Valor</label><input class="form-control" type="text" name="form[question][0][answer][1][value]" required></div><div class="form-group"><label for="post_isActive">Resposta Correta?</label><input data-toggle="toggle" name="form[question][0][answer][1][isCorrect]" type="checkbox"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Imagem</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][1][image]"><p></p><label>Image Meta Title (SEO)</label><input name="form[question][0][answer][1][imageMetaTitle]" type="text"/><label>Image Meta Description (SEO)</label><input name="form[question][0][answer][1][imageMetaDescription]" type="text"/></div><div class="form-group"><label class="control-label">Imagem Mobile</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][1][imageMobile]"><p></p><label>Image Mobile Meta Title (SEO)</label><input name="form[question][0][answer][1][imageMobileMetaTitle]" type="text"/><label>Image Mobile Meta Description (SEO)</label><input name="form[question][0][answer][1][imageMobileMetaDescription]" type="text"/></div></div></div><div class="question-answer" data-id="2"><h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer"></i></h4><div class="form-group-double"><div class="form-group"><label class="control-label">Texto</label><input class="form-control" type="text" name="form[question][0][answer][2][answer]" required></div><div class="form-group"><label class="control-label">Feedback</label><input class="form-control" type="text" name="form[question][0][answer][2][feedback]"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Valor</label><input class="form-control" type="text" name="form[question][0][answer][2][value]" required></div><div class="form-group"><label for="post_isActive">Resposta Correta?</label><input data-toggle="toggle" name="form[question][0][answer][2][isCorrect]" type="checkbox"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Imagem</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][2][image]"><p></p><label>Image Meta Title (SEO)</label><input name="form[question][0][answer][2][imageMetaTitle]" type="text"/><label>Image Meta Description (SEO)</label><input name="form[question][0][answer][2][imageMetaDescription]" type="text"/></div><div class="form-group"><label class="control-label">Imagem Mobile</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][2][imageMobile]"><p></p><label>Image Mobile Meta Title (SEO)</label><input name="form[question][0][answer][2][imageMobileMetaTitle]" type="text"/><label>Image Mobile Meta Description (SEO)</label><input name="form[question][0][answer][2][imageMobileMetaDescription]" type="text"/></div></div></div></div>';
            var id = lastResult.data("id");

            if(id == undefined){
                id = 0;
            }

            var findString = "form\\[question\\]\\[0\\]";
            var replaceString = "form[question][" + (id+1) + "]";

            var re = new RegExp(findString,"g");
            var newhtml = html.replace(re,replaceString);
            
            var newResult = '<div class="question" data-id="'+ (id+1) +'">' + newhtml + '</div>';
            $(".hold-questions").append(newResult);

            $("#total-questions").html($(".question").length);

            $(".remove-question").unbind("click").on("click", function(){
                if($(".question").length > 1){
                    $(this).parent().parent('.question').remove();
                    $("#total-questions").html($(".question").length);
                } else {
                    alert("Você não pode remover todos as perguntas");
                }
            });

            $(".remove-question-answer").unbind("click").on("click", function(){
                if($(this).parent(".box-title").parent('.question-answer').parent(".hold-answers").children(".question-answer").length > 1){
                    $(this).parent(".box-title").parent('.question-answer').remove();
                } else {
                    alert("Você não pode remover todos os resultados");
                }
            });

            $(".add-question-answer").unbind("click").on("click", function(e){
                e.preventDefault();
                var lastAnswer = $(this).parent(".box-title").siblings(".hold-answers").children(".question-answer").last();
                
                var html = '<h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer"></i></h4><div class="form-group-double"><div class="form-group"><label class="control-label">Resposta</label><input class="form-control" type="text" name="form[question][0][answer][0][answer]" required></div><div class="form-group"><label class="control-label">FeedBack</label><input class="form-control" type="text" name="form[question][0][answer][0][feedback]"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Valor</label><input class="form-control" type="text" name="form[question][0][answer][0][value]" required></div><div class="form-group"><label for="post_isActive">Resposta Correta?</label><input data-toggle="toggle" name="form[question][0][answer][0][isCorrect]" type="checkbox"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Imagem</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][0][image]"><p></p><label>Image Meta Title (SEO)</label><input name="form[question][0][answer][0][imageMetaTitle]" type="text"/><label>Image Meta Description (SEO)</label><input name="form[question][0][answer][0][imageMetaDescription]" type="text"/></div><div class="form-group"><label class="control-label">Imagem Mobile</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][0][imageMobile]"><p></p><label>Image Mobile Meta Title (SEO)</label><input name="form[question][0][answer][0][imageMobileMetaTitle]" type="text"/><label>Image Mobile Meta Description (SEO)</label><input name="form[question][0][answer][0][imageMobileMetaDescription]" type="text"/></div></div>';
                var id = lastAnswer.data("id");

                if(id == undefined){
                    id = 0;
                }
                var findString = "\\[answer\\]\\[0\\]";
                var replaceString = "[answer][" + (id+1) + "]";
                
                var re = new RegExp(findString,"g");
                var newhtml = html.replace(re,replaceString);

                var questionId = $(this).parent().parent('.question').data("id");
                var findString = "\\[question\\]\\[0\\]";
                var replaceString = "[question][" + questionId + "]";
                
                var re = new RegExp(findString,"g");
                newhtml = newhtml.replace(re,replaceString);

                var newAnswer = '<div class="question-answer" data-id="'+ (id+1) +'">' + newhtml + '</div>';
                
                $(this).parent(".box-title").siblings(".hold-answers").append(newAnswer);

                $(".remove-question-answer").unbind("click").on("click", function(){
                    if($(this).parent(".box-title").parent('.question-answer').parent(".hold-answers").children(".question-answer").length > 1){
                        $(this).parent(".box-title").parent('.question-answer').remove();
                    } else {
                        alert("Você não pode remover todos os resultados");
                    }
                });
                $("input[data-toggle=toggle]").bootstrapToggle();
            });
            
            $("input[data-toggle=toggle]").bootstrapToggle();
        });

        $(".add-question-answer").unbind("click").on("click", function(e){
            e.preventDefault();
            var lastAnswer = $(this).parent(".box-title").siblings(".hold-answers").children(".question-answer").last();
            
            var html = '<h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer"></i></h4><div class="form-group-double"><div class="form-group"><label class="control-label">Resposta</label><input class="form-control" type="text" name="form[question][0][answer][0][answer]" required></div><div class="form-group"><label class="control-label">FeedBack</label><input class="form-control" type="text" name="form[question][0][answer][0][feedback]"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Valor</label><input class="form-control" type="text" name="form[question][0][answer][0][value]" required></div><div class="form-group"><label for="post_isActive">Resposta Correta?</label><input data-toggle="toggle" name="form[question][0][answer][0][isCorrect]" type="checkbox"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Imagem</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][0][image]"><p></p><label>Image Meta Title (SEO)</label><input name="form[question][0][answer][0][imageMetaTitle]" type="text"/><label>Image Meta Description (SEO)</label><input name="form[question][0][answer][0][imageMetaDescription]" type="text"/></div><div class="form-group"><label class="control-label">Imagem Mobile</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][0][imageMobile]"><p></p><label>Image Mobile Meta Title (SEO)</label><input name="form[question][0][answer][0][imageMobileMetaTitle]" type="text"/><label>Image Mobile Meta Description (SEO)</label><input name="form[question][0][answer][0][imageMobileMetaDescription]" type="text"/></div></div>';
            var id = lastAnswer.data("id");
            
            if(id == undefined){
                id = 0;
            }
            console.log(id);

            var findString = "\\[answer\\]\\[0\\]";
            var replaceString = "[answer][" + (id+1) + "]";
            
            var re = new RegExp(findString,"g");
            var newhtml = html.replace(re,replaceString);

            var questionId = $(this).parent().parent('.question').data("id");
            var findString = "\\[question\\]\\[0\\]";
            var replaceString = "[question][" + questionId + "]";
            
            var re = new RegExp(findString,"g");
            newhtml = newhtml.replace(re,replaceString);

            var newAnswer = '<div class="question-answer" data-id="'+ (id+1) +'">' + newhtml + '</div>';
            
            $(this).parent(".box-title").siblings(".hold-answers").append(newAnswer);

            $(".remove-question-answer").unbind("click").on("click", function(){
                if($(this).parent(".box-title").parent('.question-answer').parent(".hold-answers").children(".question-answer").length > 1){
                    $(this).parent(".box-title").parent('.question-answer').remove();
                } else {
                    alert("Você não pode remover todos os resultados");
                }
            });
            $("input[data-toggle=toggle]").bootstrapToggle();
        });

        $("#add-result").unbind("click").on("click", function(e){
            e.preventDefault();
            var lastResult = $(".result").last();
            
            var html = '<h4 class="box-title">Resultado <i class="fa fa-times remove-result"></i></h4><div class="form-group"><label class="control-label">Mensagem Final</label><input class="form-control" type="text" name="form[result][0][finalMessage]"></div><div class="form-group-double"><div class="form-group"><label class="control-label">Valor Mínimo</label><input class="form-control" type="text" name="form[result][0][minScore]"></div><div class="form-group"><label class="control-label">Valor Máximo</label><input class="form-control" type="text" name="form[result][0][maxScore]"></div></div>';
            var id = lastResult.data("id");
            
            if(id == undefined){
                id = 0;
            }

            var findString = "\\[0\\]";
            var replaceString = "[" + (id+1) + "]";
            
            var re = new RegExp(findString,"g");
            var newhtml = html.replace(re,replaceString);

            var newResult = '<div class="result" data-id="'+ (id+1) +'">' + newhtml + '</div>';
            $(".hold-results").append(newResult);

            $("#total-results").html($(".result").length);

            $(".remove-result").unbind("click").on("click", function(){
                if($(".result").length > 1){
                    $(this).parent().parent('.result').remove();
                    $("#total-results").html($(".result").length);
                } else {
                    alert("Você não pode remover todos os resultados");
                }
            }); 
            
        });

         $("#image-web").change(function () {
            readSize("image-web","mensagem-web","preview-web",0);
            
        });  $("#input-web-question-1").change(function () {
            readSize("input-web-question-1","mensagem-web-question-1","preview-web-question-1",0);
            
        }); 
        $("#input-web-question-2").change(function () {
            readSize("input-web-question-2","mensagem-web-question-2","preview-web-question-2",0);
            
        });
       $("#input-web-question-3").change(function () {
            readSize("input-web-question-3","mensagem-web-question-3","preview-web-question-3",0);
            
        });
           
        $("#image-mobile").change(function () {
            readSize("image-mobile","mensagem-mobile","preview-mobile",0);
            
        }); 
        $("#input-mobile-question-1").change(function () {
            readSize("input-mobile-question-1","mensagem-mobile-question-1","preview-mobile-question-1",0);
            
        }); 
        $("#input-mobile-question-2").change(function () {
            readSize("input-mobile-question-2","mensagem-mobile-question-2","preview-mobile-question-2",0);
            
        });
       $("#input-mobile-question-3").change(function () {
            readSize("input-mobile-question-3","mensagem-mobile-question-3","preview-mobile-question-3",0);
            
        });
        
        function readSize(id, idMessage,idPreview,index){
              if(parseInt(document.getElementById(id).files[index].size) > 1048576){
                $(`#${id}`).val("");
                document.getElementById(idPreview).style.display = "none";
                document.getElementById(idMessage).style.cssText = " display: block;color: red;font-size: larger";
                
                return ;
               }else {
                   
              document.getElementById(idPreview).style.display = "block";
              document.getElementById(idMessage).style.cssText = " display: none";
              readURL(document.getElementById(id));
            
               }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    console.log('here');
                    if($(input).siblings('.image-responsive')[0].nodeName == 'IMG'){
                        $(input).siblings('.image-responsive').attr('src', e.target.result);
                    } else {
                        $(input).siblings('.image-responsive').css({
                            'background-image' : "url(" + e.target.result + ")", 
                            'width' : '100%',
                            'height': '250px',
                            'background-size' : 'cover',
                            'background-position' : 'center'
                        });
                    }
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
{% endblock %}