{% extends 'admin.html.twig' %}

{% block title %}QUIZ | LISTAGEM
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">QUIZ</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Titulo</th>
                                    <th>Descrição</th>
                                    <th>Criado</th>
                                    <th>Atualizado</th>
                                    <th>Views</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if quizzes|length > 0 %}
                                    {% for quiz in quizzes %}
                                        <tr>
                                            <td>{{ quiz.id }}</td>
                                            <td>{{ quiz.title }}</td>
                                            <td>{{ quiz.shortDescription }}</td>
                                            <td>{{ quiz.createdAt|date('Y-m-d H:i:s') }}</td>
                                            <td>{{ quiz.updatedAt|date('Y-m-d H:i:s') }}</td>
                                            <td>{{ quiz.views }}</td>
                                            <td>
                                                <a class="btn btn-default btn-small" href="{{ path('admin_quiz_view', { 'id': quiz.id }) }}">
                                                    Show <i class="fa fa-eye"></i>
                                                </a>

                                                <a class="btn btn-default btn-small" href="{{ path('admin_quiz_edit', { 'id': quiz.id }) }}">
                                                    Edit <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">Nenhum registro foi encontrado.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="box-paginator">
                    {{ knp_pagination_render(quizzes) }}
                </div>
                <div class="box-footer">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_quiz_new') }}">
                        Novo
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
