{% extends 'admin.html.twig' %}

{% block title %}QUIZ | NOVO{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <form method="POST" enctype="multipart/form-data">
                    {# SECTION QUIZ #}
                        <div class="box-header">
                            <h4 class="box-title">Quiz</h4>
                        </div>

                        <div class="box-body hold-quiz">
                            <div class="form-group">
                                <label class="control-label">Título</label>
                                <input class="form-control" type="text" name="form[quiz][title]" required>
                            </div>                           
                            <div class="form-group">
                                <label class="control-label">Introdução (texto que será exibido dentro do bot antes de iniciar o quiz)</label>
                                <textarea class="ckeditor" id="quiz_introduction" name="form[quiz][introduction]" type="text" required></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Descrição Curta</label>
                                <input class="form-control" type="text" name="form[quiz][shortDescription]" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Descrição</label>
                                <textarea class="ckeditor" id="quiz_description" name="form[quiz][description]" type="text"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Meta Title (SEO)</label>
                                <input class="ckeditor" id="quiz_metaTitle" name="form[quiz][metaTitle]" type="text" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Meta Descrição (SEO)</label>
                                <input class="ckeditor" id="quiz_metaDescription" name="form[quiz][metaDescription]" type="text" required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Arquivo PDF</label>
                                <input class="form-control" type="file" name="form[quiz][pdfFile]" accept=".pdf" >
                            </div>
                            <div class="form-group-double">
                                <div class="form-group">
                                    <label for="post_isActive">Ativo</label>
                                    <input data-toggle="toggle" name="form[quiz][isActive]" type="checkbox">
                                </div>
                                <div class="form-group">
                                    <label for="post_isActive">Apenas para Farmacêuticos</label>
                                    <input data-toggle="toggle" name="form[quiz][isOnlyToPharmaceutical]" type="checkbox">
                                </div>
                            </div>
                            <div class="form-group-double">
                                <div class="form-group">
                                    <label for="quiz_isPublic">Publico</label>
                                    <input data-toggle="toggle" id="quiz_isPublic" name="form[quiz][isPublic]" type="checkbox">
                                </div>
                            </div>
                            <div class="form-group-double">
                                <div class="form-group">
                                    <label class="control-label">Imagem</label>
                                    <div id="preview-web" class="preview-img"></div>
                                    <input class="form-control input-image" id="image-web" type="file" name="form[quiz][image]" required>
                                    <label id="mensagem-web" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                    <p></p>
                                    <label>Image Meta Title (SEO)</label>
                                    <input name="form[quiz][imageMetaTitle]" type="text"/>
                                    <label>Image Meta Description (SEO)</label>
                                    <input name="form[quiz][imageMetaDescription]" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Imagem Mobile</label>
                                    <div id="preview-mobile" class="preview-img"></div>
                                    <input class="form-control input-image" id="image-mobile" type="file" name="form[quiz][imageMobile]" required>
                                    <label id="mensagem-mobile" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                    <p></p>
                                    <label>Image Mobile Meta Title (SEO)</label>
                                    <input name="form[quiz][imageMobileMetaTitle]" type="text"/>
                                    <label>Image Mobile Meta Description (SEO)</label>
                                    <input name="form[quiz][imageMobileMetaDescription]" type="text"/>
                                </div>
                            </div>
                        </div>
                    {# END SECTION QUIZ #}
                    
                    {# SECTION QUESTIONS #}
                        <div class="box-header">
                            <h4 class="box-title">
                                <span>Perguntas</span>
                                <span>
                                    Total: <span id="total-questions">1</span> 
                                    <i class="fa fa-plus" id="add-question" style="cursor: pointer"></i>
                                    <i class="fas fa-window-minimize" id="questions-minimize" data-id=".hold-questions" style="cursor: pointer"></i>
                                    <i class="fas fa-window-maximize" id="questions-maximize" data-id=".hold-questions" style="cursor: pointer"></i>
                                </span>
                            </h4>
                        </div>
                        <div class="hold-questions box-body">
                            <div class="question" data-id="0">
                                
                                <h4 class="box-title">Pergunta<i class="fa fa-times remove-question"></i></h4>
                                <div class="form-group">
                                    <label class="control-label">Pergunta</label>
                                    <input class="form-control" type="text" name="form[question][0][question]" required>
                                </div>
                                <div class="form-group-double">
                                    <div class="form-group">
                                        <label class="control-label">Tem multiplas respostas</label>
                                        <input data-toggle="toggle" name="form[question][0][hasMultipleAnswers]" type="checkbox">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Número minimo de respostas</label>
                                        <input class="form-control" type="text" name="form[question][0][numberOfAnswers]" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Ordem</label>
                                        <input class="form-control" type="text" name="form[question][0][position]" required>
                                    </div>
                                </div>

                                <h4 class="box-title">Repostas<i class="fa fa-plus add-question-answer"></i></h4>

                                <div class="hold-answers">
                                    <div class="question-answer" data-id="0">
                                        <h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer"></i></h4>
                                        
                                        <div class="form-group-double">
                                            <div class="form-group">
                                                <label class="control-label">Resposta</label>
                                                <input class="form-control" type="text" name="form[question][0][answer][0][answer]" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">FeedBack</label>
                                                <input class="form-control" type="text" name="form[question][0][answer][0][feedback]">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group-double">
                                            <div class="form-group">
                                                <label class="control-label">Valor</label>
                                                <input class="form-control" type="text" name="form[question][0][answer][0][value]" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="post_isActive">Resposta Correta?</label>
                                                <input data-toggle="toggle" name="form[question][0][answer][0][isCorrect]" type="checkbox">
                                            </div>
                                        </div>
                                        <div class="form-group-double">
                                            <div class="form-group">
                                                <label class="control-label">Imagem</label>
                                                <div  id="preview-web-question-1" class="preview-img"></div>
                                                <input id="input-web-question-1" class="form-control input-image" type="file" name="form[question][0][answer][0][image]">
                                                <label id="mensagem-web-question-1" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                                <p></p>
                                                <label>Image Meta Title (SEO)</label>
                                                <input name="form[question][0][answer][0][imageMetaTitle]" type="text"/>
                                                <label>Image Meta Description (SEO)</label>
                                                <input name="form[question][0][answer][0][imageMetaDescription]" type="text"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Imagem Mobile</label>
                                                <div id="preview-mobile-question-1" class="preview-img"></div>
                                                <input id="input-mobile-question-1" class="form-control input-image" type="file" name="form[question][0][answer][0][imageMobile]">
                                                <label id="mensagem-mobile-question-1" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                                <p></p>
                                                <label>Image Mobile Meta Title (SEO)</label>
                                                <input name="form[question][0][answer][0][imageMobileMetaTitle]" type="text"/>
                                                <label>Image Mobile Meta Description (SEO)</label>
                                                <input name="form[question][0][answer][0][imageMobileMetaDescription]" type="text"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="question-answer" data-id="1">
                                        <h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer"></i></h4>
                                        
                                        <div class="form-group-double">
                                            <div class="form-group">
                                                <label class="control-label">Texto</label>
                                                <input class="form-control" type="text" name="form[question][0][answer][1][answer]" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Feedback</label>
                                                <input class="form-control" type="text" name="form[question][0][answer][1][feedback]">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group-double">
                                            <div class="form-group">
                                                <label class="control-label">Valor</label>
                                                <input class="form-control" type="text" name="form[question][0][answer][1][value]" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="post_isActive">Resposta Correta?</label>
                                                <input data-toggle="toggle" name="form[question][0][answer][1][isCorrect]" type="checkbox">
                                            </div>
                                        </div>

                                        <div class="form-group-double">
                                            <div class="form-group">
                                                <label class="control-label">Imagem</label>
                                                <div id="preview-web-question-2" class="preview-img"></div>
                                                <input id="input-web-question-2" class="form-control input-image" type="file" name="form[question][0][answer][1][image]">
                                                <label id="mensagem-web-question-2" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                                <p></p>
                                                <label>Image Meta Title (SEO)</label>
                                                <input name="form[question][0][answer][1][imageMetaTitle]" type="text"/>
                                                <label>Image Meta Description (SEO)</label>
                                                <input name="form[question][0][answer][1][imageMetaDescription]" type="text"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Imagem Mobile</label>
                                                <div id="preview-mobile-question-2" class="preview-img"></div>
                                                <input id="input-mobile-question-2" class="form-control input-image" type="file" name="form[question][0][answer][1][imageMobile]">
                                                <label id="mensagem-mobile-question-2" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                                <p></p>
                                                <label>Image Mobile Meta Title (SEO)</label>
                                                <input name="form[question][0][answer][1][imageMobileMetaTitle]" type="text"/>
                                                <label>Image Mobile Meta Description (SEO)</label>
                                                <input name="form[question][0][answer][1][imageMobileMetaDescription]" type="text"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="question-answer" data-id="2">

                                        <h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer"></i></h4>
                                        
                                        <div class="form-group-double">
                                            <div class="form-group">
                                                <label class="control-label">Texto</label>
                                                <input class="form-control" type="text" name="form[question][0][answer][2][answer]" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Feedback</label>
                                                <input class="form-control" type="text" name="form[question][0][answer][2][feedback]">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group-double">
                                            <div class="form-group">
                                                <label class="control-label">Valor</label>
                                                <input class="form-control" type="text" name="form[question][0][answer][2][value]" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="post_isActive">Resposta Correta?</label>
                                                <input data-toggle="toggle" name="form[question][0][answer][2][isCorrect]" type="checkbox">
                                            </div>
                                        </div>
                                        <div class="form-group-double">
                                            <div class="form-group">
                                                <label class="control-label">Imagem</label>
                                                <div id="preview-web-question-3" class="preview-img"></div>
                                                <input id="input-web-question-3" class="form-control input-image" type="file" name="form[question][0][answer][2][image]">
                                                <label id="mensagem-web-question-3" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                                <p></p>
                                                <label>Image Meta Title (SEO)</label>
                                                <input name="form[question][0][answer][2][imageMetaTitle]" type="text"/>
                                                <label>Image Meta Description (SEO)</label>
                                                <input name="form[question][0][answer][2][imageMetaDescription]" type="text"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Imagem Mobile</label>
                                                <div id="preview-mobile-question-3"  class="preview-img"></div>
                                                <input id="input-mobile-question-3"  class="form-control input-image" type="file" name="form[question][0][answer][2][imageMobile]">
                                                <label id="mensagem-mobile-question-3" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                                <p></p>
                                                <label>Image Mobile Meta Title (SEO)</label>
                                                <input name="form[question][0][answer][2][imageMobileMetaTitle]" type="text"/>
                                                <label>Image Mobile Meta Description (SEO)</label>
                                                <input name="form[question][0][answer][2][imageMobileMetaDescription]" type="text"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {# END SECTION QUESTIONS #}

                    {# SECTION RESULT #}
                        <div class="box-header with-border">
                            <h4 class="box-title" style="display: flex;justify-content:space-between">
                                <span>Resultados</span> 
                                <span>
                                    Total: <span id="total-results">1</span>
                                    <i class="fa fa-plus" id="add-result" style="cursor: pointer"></i>
                                    <i class="fas fa-window-minimize" id="results-minimize" data-id=".hold-results" style="cursor: pointer"></i>
                                    <i class="fas fa-window-maximize" id="results-maximize" data-id=".hold-results" style="cursor: pointer"></i>
                                </span>
                            </h4>
                        </div>
                        <div class="hold-results box-body">
                            <div class="result" data-id="0">
                                <h4 class="box-title">Resultado <i class="fa fa-times remove-result"></i></h4>
                                <div class="form-group">
                                    <label class="control-label">Mensagem Final</label>
                                    <input class="form-control" type="text" name="form[result][0][finalMessage]">
                                </div>
                                <div class="form-group-double">
                                    <div class="form-group">
                                        <label class="control-label">Valor Mínimo</label>
                                        <input class="form-control" type="text" name="form[result][0][minScore]">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Valor Máximo</label>
                                        <input class="form-control" type="text" name="form[result][0][maxScore]">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {# END SECTION RESULT #}

                    <h1>Contéudo Referenciado
                        <i aria-hidden="true" class="fa fa-plus" id="add-referrer"></i>
                    </h1>
                    <div class="box-body" id="hold-referrer"></div>

                    <div class="box-footer">
                        <button class="btn btn-success">Adicionar</button>
                        <a class="btn btn-default" href="{{ path('admin_quiz_list') }}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        $("form").on("submit", function (e) {
            var error = false;
            showLoading();
            $('.ckeditor').each(function () {
                var string = $(this).val().replace(/<[^>]*>/gi, '').length;
                
                if (string == 0 && $(this).prop('required')) {
                    $(this).siblings(".cke_chrome").addClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid red");
                    error = true;
                } else {
                    $(this).siblings(".cke_chrome").removeClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid #d1d1d1");
                }
            })
            if (error) {
                var id = $('.error').first().attr("id");
                
                $('.admin-content').animate({
                    scrollTop: $("#" + id)[0].offsetTop
                },500);
                hideLoading();
                e.preventDefault();
                return false;
            }
        });

        $("#results-minimize, #questions-minimize").unbind("click").on("click", function(){
            $($(this).data('id')).slideUp();
        });

        $("#results-maximize, #questions-maximize").unbind("click").on("click", function(){
            $($(this).data('id')).slideDown();
        });

        $("#add-question").unbind("click").on("click", function(e){
            e.preventDefault();
            var lastResult = $(".question").last();

            var html = '<h4 class="box-title">Pergunta<i class="fa fa-times remove-question"></i></h4><div class="form-group"><label class="control-label">Pergunta</label><input class="form-control" type="text" name="form[question][0][question]" required></div><div class="form-group-double"><div class="form-group"><label class="control-label">Tem multiplas respostas</label><input data-toggle="toggle" name="form[question][0][hasMultipleAnswers]" type="checkbox"></div><div class="form-group"><label class="control-label">Número minimo de respostas</label><input class="form-control" type="text" name="form[question][0][numberOfAnswers]" required></div><div class="form-group"><label class="control-label">Ordem</label><input class="form-control" type="text" name="form[question][0][position]" required></div></div><h4 class="box-title">Repostas<i class="fa fa-plus add-question-answer"></i></h4><div class="hold-answers"><div class="question-answer" data-id="0"><h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer"></i></h4><div class="form-group-double"><div class="form-group"><label class="control-label">Resposta</label><input class="form-control" type="text" name="form[question][0][answer][0][answer]" required></div><div class="form-group"><label class="control-label">FeedBack</label><input class="form-control" type="text" name="form[question][0][answer][0][feedback]"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Valor</label><input class="form-control" type="text" name="form[question][0][answer][0][value]" required></div><div class="form-group"><label for="post_isActive">Resposta Correta?</label><input data-toggle="toggle" name="form[question][0][answer][0][isCorrect]" type="checkbox"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Imagem</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][0][image]"><p></p><label>Image Meta Title (SEO)</label><input name="form[question][0][answer][0][imageMetaTitle]" type="text"/><label>Image Meta Description (SEO)</label><input name="form[question][0][answer][0][imageMetaDescription]" type="text"/></div><div class="form-group"><label class="control-label">Imagem Mobile</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][0][imageMobile]"><p></p><label>Image Mobile Meta Title (SEO)</label><input name="form[question][0][answer][0][imageMobileMetaTitle]" type="text"/><label>Image Mobile Meta Description (SEO)</label><input name="form[question][0][answer][0][imageMobileMetaDescription]" type="text"/></div></div></div><div class="question-answer" data-id="1"><h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer"></i></h4><div class="form-group-double"><div class="form-group"><label class="control-label">Texto</label><input class="form-control" type="text" name="form[question][0][answer][1][answer]" required></div><div class="form-group"><label class="control-label">Feedback</label><input class="form-control" type="text" name="form[question][0][answer][1][feedback]"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Valor</label><input class="form-control" type="text" name="form[question][0][answer][1][value]" required></div><div class="form-group"><label for="post_isActive">Resposta Correta?</label><input data-toggle="toggle" name="form[question][0][answer][1][isCorrect]" type="checkbox"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Imagem</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][1][image]"><p></p><label>Image Meta Title (SEO)</label><input name="form[question][0][answer][1][imageMetaTitle]" type="text"/><label>Image Meta Description (SEO)</label><input name="form[question][0][answer][1][imageMetaDescription]" type="text"/></div><div class="form-group"><label class="control-label">Imagem Mobile</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][1][imageMobile]"><p></p><label>Image Mobile Meta Title (SEO)</label><input name="form[question][0][answer][1][imageMobileMetaTitle]" type="text"/><label>Image Mobile Meta Description (SEO)</label><input name="form[question][0][answer][1][imageMobileMetaDescription]" type="text"/></div></div></div><div class="question-answer" data-id="2"><h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer"></i></h4><div class="form-group-double"><div class="form-group"><label class="control-label">Texto</label><input class="form-control" type="text" name="form[question][0][answer][2][answer]" required></div><div class="form-group"><label class="control-label">Feedback</label><input class="form-control" type="text" name="form[question][0][answer][2][feedback]"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Valor</label><input class="form-control" type="text" name="form[question][0][answer][2][value]" required></div><div class="form-group"><label for="post_isActive">Resposta Correta?</label><input data-toggle="toggle" name="form[question][0][answer][2][isCorrect]" type="checkbox"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Imagem</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][2][image]"><p></p><label>Image Meta Title (SEO)</label><input name="form[question][0][answer][2][imageMetaTitle]" type="text"/><label>Image Meta Description (SEO)</label><input name="form[question][0][answer][2][imageMetaDescription]" type="text"/></div><div class="form-group"><label class="control-label">Imagem Mobile</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][2][imageMobile]"><p></p><label>Image Mobile Meta Title (SEO)</label><input name="form[question][0][answer][2][imageMobileMetaTitle]" type="text"/><label>Image Mobile Meta Description (SEO)</label><input name="form[question][0][answer][2][imageMobileMetaDescription]" type="text"/></div></div></div></div>';
            var id = lastResult.data("id");
            if(id == undefined){
                id = 0;
            }
            var findString = "form\\[question\\]\\[0\\]";
            var replaceString = "form[question][" + (id+1) + "]";

            var re = new RegExp(findString,"g");
            var newhtml = html.replace(re,replaceString);
            
            var newResult = '<div class="question" data-id="'+ (id+1) +'">' + newhtml + '</div>';
            $(".hold-questions").append(newResult);

            $("#total-questions").html($(".question").length);

            $(".remove-question").unbind("click").on("click", function(){
                if($(".question").length > 1){
                    $(this).parent().parent('.question').remove();
                    $("#total-questions").html($(".question").length);
                } else {
                    alert("Você não pode remover todos as perguntas");
                }
            });

            $(".remove-question-answer").unbind("click").on("click", function(){
                if($(this).parent(".box-title").parent('.question-answer').parent(".hold-answers").children(".question-answer").length > 1){
                    $(this).parent(".box-title").parent('.question-answer').remove();
                } else {
                    alert("Você não pode remover todos os resultados");
                }
            });

            $(".add-question-answer").unbind("click").on("click", function(e){
                e.preventDefault();
                console.log($(this).parent('.question').first().data("id"));
                var lastAnswer = $(this).parent(".box-title").siblings(".hold-answers").children(".question-answer").last();
                
                var html = '<h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer"></i></h4><div class="form-group-double"><div class="form-group"><label class="control-label">Resposta</label><input class="form-control" type="text" name="form[question][0][answer][0][answer]" required></div><div class="form-group"><label class="control-label">FeedBack</label><input class="form-control" type="text" name="form[question][0][answer][0][feedback]"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Valor</label><input class="form-control" type="text" name="form[question][0][answer][0][value]" required></div><div class="form-group"><label for="post_isActive">Resposta Correta?</label><input data-toggle="toggle" name="form[question][0][answer][0][isCorrect]" type="checkbox"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Imagem</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][0][image]"><p></p><label>Image Meta Title (SEO)</label><input name="form[question][0][answer][0][imageMetaTitle]" type="text"/><label>Image Meta Description (SEO)</label><input name="form[question][0][answer][0][imageMetaDescription]" type="text"/></div><div class="form-group"><label class="control-label">Imagem Mobile</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][0][imageMobile]"><p></p><label>Image Mobile Meta Title (SEO)</label><input name="form[question][0][answer][0][imageMobileMetaTitle]" type="text"/><label>Image Mobile Meta Description (SEO)</label><input name="form[question][0][answer][0][imageMobileMetaDescription]" type="text"/></div></div>';
                var id = lastAnswer.data("id");
                
                if(id == undefined){
                    id = 0;
                }

                var findString = "\\[answer\\]\\[0\\]";
                var replaceString = "[answer][" + (id+1) + "]";
                
                var re = new RegExp(findString,"g");
                var newhtml = html.replace(re,replaceString);

                var questionId = $(this).parent().parent('.question').data("id");
                var findString = "\\[question\\]\\[0\\]";
                var replaceString = "[question][" + questionId + "]";
                
                var re = new RegExp(findString,"g");
                newhtml = newhtml.replace(re,replaceString);

                var newAnswer = '<div class="question-answer" data-id="'+ (id+1) +'">' + newhtml + '</div>';
                
                $(this).parent(".box-title").siblings(".hold-answers").append(newAnswer);

                $(".remove-question-answer").unbind("click").on("click", function(){
                    if($(this).parent(".box-title").parent('.question-answer').parent(".hold-answers").children(".question-answer").length > 1){
                        $(this).parent(".box-title").parent('.question-answer').remove();
                    } else {
                        alert("Você não pode remover todos os resultados");
                    }
                });

                $("input[data-toggle=toggle]").bootstrapToggle();
            });

            $("input[data-toggle=toggle]").bootstrapToggle();

        });

        $(".remove-question-answer").unbind("click").on("click", function(){
            if($(this).parent(".box-title").parent('.question-answer').parent(".hold-answers").children(".question-answer").length > 1){
                $(this).parent(".box-title").parent('.question-answer').remove();
            } else {
                alert("Você não pode remover todos os resultados");
            }
        });

        $(".add-question-answer").unbind("click").on("click", function(e){
            e.preventDefault();
            console.log();
            var lastAnswer = $(this).parent(".box-title").siblings(".hold-answers").children(".question-answer").last();
            
            var html = '<h4 class="box-title">Resposta <i class="fa fa-times remove-question-answer"></i></h4><div class="form-group-double"><div class="form-group"><label class="control-label">Resposta</label><input class="form-control" type="text" name="form[question][0][answer][0][answer]" required></div><div class="form-group"><label class="control-label">FeedBack</label><input class="form-control" type="text" name="form[question][0][answer][0][feedback]"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Valor</label><input class="form-control" type="text" name="form[question][0][answer][0][value]" required></div><div class="form-group"><label for="post_isActive">Resposta Correta?</label><input data-toggle="toggle" name="form[question][0][answer][0][isCorrect]" type="checkbox"></div></div><div class="form-group-double"><div class="form-group"><label class="control-label">Imagem</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][0][image]"><p></p><label>Image Meta Title (SEO)</label><input name="form[question][0][answer][0][imageMetaTitle]" type="text"/><label>Image Meta Description (SEO)</label><input name="form[question][0][answer][0][imageMetaDescription]" type="text"/></div><div class="form-group"><label class="control-label">Imagem Mobile</label><div class="preview-img"></div><input class="form-control input-image" type="file" name="form[question][0][answer][0][imageMobile]"><p></p><label>Image Mobile Meta Title (SEO)</label><input name="form[question][0][answer][0][imageMobileMetaTitle]" type="text"/><label>Image Mobile Meta Description (SEO)</label><input name="form[question][0][answer][0][imageMobileMetaDescription]" type="text"/></div></div>';
            var id = lastAnswer.data("id");
            var questionId = $(this).parent().parent('.question').data("id");
            if(id == undefined){
                id = 0;
            }

            var findString = "\\[answer\\]\\[0\\]";
            var replaceString = "[answer][" + (id+1) + "]";
            
            var re = new RegExp(findString,"g");
            var newhtml = html.replace(re,replaceString);

            var questionId = $(this).parent().parent('.question').data("id");
            var findString = "\\[question\\]\\[0\\]";
            var replaceString = "[question][" + questionId + "]";
            
            var re = new RegExp(findString,"g");
            newhtml = newhtml.replace(re,replaceString);

            var newAnswer = '<div class="question-answer" data-id="'+ (id+1) +'">' + newhtml + '</div>';
            
            $(this).parent(".box-title").siblings(".hold-answers").append(newAnswer);

            $(".remove-question-answer").unbind("click").on("click", function(){
                if($(this).parent(".box-title").parent('.question-answer').parent(".hold-answers").children(".question-answer").length > 1){
                    $(this).parent(".box-title").parent('.question-answer').remove();
                } else {
                    alert("Você não pode remover todos os resultados");
                }
            });
            $("input[data-toggle=toggle]").bootstrapToggle();
        });

        $("#add-result").unbind("click").on("click", function(e){
            e.preventDefault();
            var lastResult = $(".result").last();
            
            var html = '<h4 class="box-title">Resultado <i class="fa fa-times remove-result"></i></h4><div class="form-group"><label class="control-label">Mensagem Final</label><input class="form-control" type="text" name="form[result][0][finalMessage]"></div><div class="form-group-double"><div class="form-group"><label class="control-label">Valor Mínimo</label><input class="form-control" type="text" name="form[result][0][minScore]"></div><div class="form-group"><label class="control-label">Valor Máximo</label><input class="form-control" type="text" name="form[result][0][maxScore]"></div></div>';
            var id = lastResult.data("id");
            
            if(id == undefined){
                id = 0;
            }
            
            var findString = "\\[0\\]";
            var replaceString = "[" + (id+1) + "]";
            
            var re = new RegExp(findString,"g");
            var newhtml = html.replace(re,replaceString);

            var newResult = '<div class="result" data-id="'+ (id+1) +'">' + newhtml + '</div>';
            $(".hold-results").append(newResult);

            $("#total-results").html($(".result").length);

            $(".remove-result").unbind("click").on("click", function(){
                if($(".result").length > 1){
                    $(this).parent().parent('.result').remove();
                    $("#total-results").html($(".result").length);
                } else {
                    alert("Você não pode remover todos os resultados");
                }
            });
           id=""
        $("#image-web").change(function () {
            readSize("image-web","mensagem-web","image-web",0);
            
            });
        });
        
        $("#image-web").change(function () {
            readSize("image-web","mensagem-web","preview-web",0);
            
        });
        $("#input-web-question-1").change(function () {
            readSize("input-web-question-1","mensagem-web-question-1","preview-web-question-1",0);
            
        }); 
        $("#input-web-question-2").change(function () {
            readSize("input-web-question-2","mensagem-web-question-2","preview-web-question-2",0);
            
        });
        $("#input-web-question-3").change(function () {
            readSize("input-web-question-3","mensagem-web-question-3","preview-web-question-3",0);
            
        });

        
        $("#image-mobile").change(function () {
            readSize("image-mobile","mensagem-mobile","preview-mobile",0);
            
        }); 
        $("#input-mobile-question-1").change(function () {
            readSize("input-mobile-question-1","mensagem-mobile-question-1","preview-mobile-question-1",0);
            
        }); 
        $("#input-mobile-question-2").change(function () {
            readSize("input-mobile-question-2","mensagem-mobile-question-2","preview-mobile-question-2",0);
            
        });
       $("#input-mobile-question-3").change(function () {
            readSize("input-mobile-question-3","mensagem-mobile-question-3","preview-mobile-question-3",0);
            
        });
        
        function readSize(id, idMessage,idPreview,index){
              if(parseInt(document.getElementById(id).files[index].size) > 1048576){
                $(`#${id}`).val("");
                document.getElementById(idPreview).style.display = "none";
                document.getElementById(idMessage).style.cssText = " display: block;color: red;font-size: larger";
                
                return ;
               }else {
                   
              document.getElementById(idPreview).style.display = "block";
              document.getElementById(idMessage).style.cssText = " display: none";
              readURL(document.getElementById(id));
            
               }
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(input).siblings('.preview-img').css({
                        'background-image' : "url(" + e.target.result + ")", 
                        'width' : '100%',
                        'height': '250px',
                        'background-size' : 'cover',
                        'background-position' : 'center'
                    });
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
{% endblock %}