{% extends 'admin.html.twig' %}

{% block title %}QUIZ | VIEW{% endblock %}

{% block body %}
    <div class="hold-quiz-content">
        <div class="hold-quiz-info">
            <div class="hold-image" style="background-image: url('{{ asset(quiz.imageMobile) }}')">
                <p class="quiz-shortdescription">{{quiz.shortDescription}}</p>
                <p class="quiz-title">{{quiz.title}}</p>
            </div>
            
            <div id="hold-description">
                {{quiz.description|raw}}
            </div>
        </div>

        <div class="quiz-test">
            <div class="hold-quiz">
                <div class="hold-bot"><img class="show" src="{{asset('_dist/image/icon.png')}}"><p class="bot feedback">Olá, {{app.user.name}}! Tudo bem?</p></div>
                {{quiz.introduction|raw}}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var questions = JSON.parse('{{questions|json_encode|raw}}');
        var results = JSON.parse('{{results|json_encode|raw}}');
        var index = 0;
        var points = 0;
        var corrects = 0;
        showIntro();
        
        function showIntro(){
            if($(".hold-quiz p:not(.bot)").length > 0){
                var intro = $($(".hold-quiz p:not(.bot)")[0]);
                console.log(intro);
                addTyping();
                if(!$(this).hasClass('bot')){
                    setTimeout(function(){
                        removeTyping();
                        intro.addClass('bot feedback');
                        if($(".hold-quiz p:not(.bot)").length){
                            showIntro();
                        }
                        else{
                            addQuestion();
                        }
                    },2000, intro)
                }
            }
            else{
                addQuestion();
            }
        }


        function addQuestion(){
            addTyping();
            setTimeout(function(){
                removeTyping();
                if(index < questions.length){
                    startQuestion = questions[index];
                    var question = '<p class="bot question no-image" data-ismultipleanswers='+startQuestion.hasMultipleAnswers+' data-minanswers="' + startQuestion.numberOfAnswers + '" data-id="' + startQuestion.id + '">' + startQuestion.question + '</p>'; 
                    
                    question += '<div class="hold-answers owl-carousel owl-theme" id="hold-answers-' + startQuestion.id + '">';

                    for(i in startQuestion.answers){
                        var answer = startQuestion.answers[i];
                        console.log(answer);
                        
                        question += '<div class="answer-hold item">';

                        if(answer.imageMobile){
                            question +=     '<img src="'+ url.base + '/' + answer.imageMobile +'">';    
                        }
                        question +=     '<p>'+ answer.answer +'</p>';
                        question +=     '<button class="enable" id="answers-' + answer.id + '" data-feedback="' + answer.feedback + '" data-correct='+ answer.isCorrect +' data-value="' + answer.value + '">selecionar</button>';
                        question += '</div>';
                    }
                    
                    question += '</div>'
                    
                    $(".hold-quiz").append(question);

                    $('.hold-quiz').animate({
                        scrollTop: $('.hold-quiz')[0].scrollHeight
                    },1000);

                    setAnswerClick();
                } else {
                    $(".hold-quiz").append('<p class="bot result no-image">Parabéns! Você acertou ' + $(".correct").length +' questões!</p>');
                    for (i in results){
                        if(points <= results[i]['maxScore'] && points >= results[i]['minScore'] ){
                            $(".hold-quiz").append('<p class="bot result">' + results[i]['finalMessage'] +'</p>');
                        }
                    }
                     $('.hold-quiz').animate({
                        scrollTop: $('.hold-quiz')[0].scrollHeight
                    },1000);
                }

                $("#hold-answers-" + startQuestion.id).owlCarousel({
                    center: true,
                    items:1.5,
                    loop:false,
                    margin:10,
                    nav:false,
                    dots: false
                });
            }, 3500);
        }

        function setAnswerClick(){
            $(".enable").unbind("click").on("click", function(){
                onAswerClick($(this));
            });
        }

        function onAswerClick(answer){
            var thisQuestion = questions[index];
            if(thisQuestion.hasMultipleAnswers){
                answer.addClass('selected');
                answer.removeClass('enable');

                $(".selected").unbind("click").on("click", function(){
                    answer.addClass('enable');
                    answer.removeClass('selected');
                     $(".enable").unbind("click").on("click", function(){
                        onAswerClick($(this));
                    });
                });

                if($(".selected").length == thisQuestion.numberOfAnswers){

                    $(".selected").unbind("click");
                    $(".enable").unbind("click");
                    
                    //$(".hold-answers").slideUp('fast', function(){
                        $(".hold-quiz").append('<div class="hold-user"><p class="user">Selecionei as '+thisQuestion.numberOfAnswers+' opções</p><img class="show" src="{{asset(app.user.avatar)}}"></p></div>');
                        $('.hold-quiz').animate({
                            scrollTop: $('.hold-quiz')[0].scrollHeight
                        },1000);

                        $(".selected").each(function(){
                            points += parseInt($(this).data("value"));
                            $(this).removeClass("enable");
                            $(this).removeClass('selected');
                            if($(this).data('correct')){
                                $(this).addClass("correct");
                            } else {
                                $(this).addClass("wrong");
                            }
                        })

                        $(".enable").removeClass("enable");

                        setTimeout(function(){
                            $(".hold-quiz").append('<div class="hold-bot"><img class="show" src="{{asset('_dist/image/icon.png')}}"><p class="bot feedback">' + answer.data("feedback") +'</p></div>');
                            index++;
                            removeTyping();
                            addQuestion();

                            $('.hold-quiz').animate({
                                scrollTop: $('.hold-quiz')[0].scrollHeight
                            },1000);
                        },1500, answer.data("feedback"));       
                    //});
                }

            } else {

                //$(".hold-answers").hide('fast', function(){
                    $(".hold-quiz").append('<div class="hold-user"><p class="user">' + answer.siblings('p').html() +'</p><img class="show" src="{{asset(app.user.avatar)}}"></div>');

                    $('.hold-quiz').animate({
                        scrollTop: $('.hold-quiz')[0].scrollHeight
                    },1000);

                    points += parseInt(answer.data("value"));

                    if(answer.data('correct')){
                        answer.addClass("correct");
                    } else {
                        answer.addClass("wrong");
                    }
                    
                    $(".enable").unbind("click");
                    $(".enable").removeClass("enable");
                    
                    addTyping();
                    setTimeout(function(){
                        $(".hold-quiz").append('<div class="hold-bot"><img class="show" src="{{asset('_dist/image/icon.png')}}"><p class="bot feedback">' + answer.data("feedback") +'</p></div>');
                        index++;
                        removeTyping();
                        addQuestion();

                        $('.hold-quiz').animate({
                            scrollTop: $('.hold-quiz')[0].scrollHeight
                        },1000);
                    },1500, answer.data("feedback"));s
                //});
            }
        }
        
        function addTyping(){
            $(".hold-quiz").append('<p class="typing bot"><img src="'+ url.base + '/' + '_dist/image/admin/typing.gif"></p>');
        }

        function removeTyping(){
            $(".typing").remove();
        }

    </script>
{% endblock %}