{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Quiz - {{quiz.title}}{% endblock %}

{% block body %}
    <section class="banner-main">    
        <div class="p-hero">
            {% if quiz.image  is not null or quiz.imageMobile is not null %}
                <div class="slide p-hero__item">
                    
                    <div class="p-hero__body">
                        <h1 class="p-hero__title">Quiz</h1>
                    </div>
                    
                    <figure class="p-hero__figure">
                        <!-- Desktop -->
                        <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{asset(quiz.image)}}'), url(/_dist/image/img/default.jpg);" alt="{{quiz.title}}" class="img-post p-hero__figure-image hidden-xs" />

                        <!-- Mobile -->
                        <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{asset(quiz.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{quiz.title}}" class="img-post p-hero__figure-image visible-xs" />
                    </figure>
                </div>
                {% else %}
                <div class="slide p-hero__item">
                    <div class="p-hero__body">
                        <h1 class="p-hero__title">Quiz</h1>
                    </div>
                    
                    <figure class="p-hero__figure">
                        <!-- Desktop -->
                        <img src="{{asset('_dist/image/blog/blog-banner.png')}}"  alt="" class="p-hero__figure-image hidden-xs">
                        <!-- Mobile -->
                        <img src="{{asset('_dist/image/blog/blog-banner-mobile.png')}}" alt="" class="p-hero__figure-image visible-xs">
                    </figure>
                </div>
            {% endif %}
        </div>
    </section>

    <div class="container">
        <div class="content-text">
            <h2>{{quiz.title}}</h2>
                {% if quiz.description  is not null and not quiz.description == "" %}
                    {{quiz.description|raw}}
                {% endif %}


            <form class="form-quiz">
                {# {% for question in questions %}
                <div class="space-h-10">
                    <label for="{{question.id}}">
                        <span class="input">
                            <input type="checkbox" name="{{question.id}}" id="{{question.id}}" value="1" class="required question-{{question.id}}" />
                        </span>
                        <span class="text">
                            {{ question.question|raw}}
                        </span>
                    </label>
                </div>
                {% endfor %} #}
                {# <div class="space-h-10">
                    <label for="p1r2">
                        <span class="input">
                            <input type="checkbox" name="p1" id="p1r2" value="2" class="required question-1" />
                        </span>
                        <span class="text">
                            Já teve que parar o que estava fazendo por um cliente que só queria ajudar para se pesar. 
                        </span>
                    </label>
                </div>
                <div class="space-h-10">
                    <label for="p1r3">
                        <span class="input">
                            <input type="checkbox" name="p1" id="p1r3" value="3" class="required question-1" />
                        </span>
                        <span class="text">
                            Já teve que escolher entre fazer uma viagem ou um curso de especialização.
                        </span>
                    </label>
                </div> #}

                <div class="text-center space-h-30">
                    <a href="{{ path('quiz_do', {'slug': quiz.slug}) }}" class="btn-default btn-yellow btn-yellow2">Começar</a>
                </div>
                
            </form>
        
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}
