{% extends 'base.html.twig' %}
{% set metadescription = 'Depois de conferir os conteúdos sobre carreira, saúde e bem estar. Teste seus conhecimentos com nosso quiz, desenvolvido para profissionais da área da saúde. ' %}
{% set metatitle = 'Quiz' %}
{% block title %}Quiz{% endblock %}

{% block body %}
    <div class="quiz" id="quiz">
        <section class="banner-main">    
            <div class="p-hero">
                {% if banners is not null and banners|length > 0 %}
                {% for banner in banners %}
                    <div class="slide p-hero__item">
                        
                        <div class="p-hero__body">
                            <h1 class="p-hero__title">{{banner.title}}</h1>
                        </div>
                        
                        <figure class="p-hero__figure">
                            <!-- Desktop -->
                            <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{asset(banner.image)}}'), url(/_dist/image/img/default.jpg);" alt="{{banner.title}}" class="img-post hidden-xs" />
                           
                            <!-- Mobile -->
                            <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{asset(banner.image_mobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{banner.title}}" class="img-post visible-xs" />
                        </figure>
                    </div>
                  
                {% endfor %}
                    {% else %}
                    <div class="slide p-hero__item">
                        <div class="p-hero__body">
                            <h1 class="p-hero__title">Quiz</h1>
                        </div>
                        
                        <figure class="p-hero__figure">
                            <!-- Desktop -->
                            <img src="{{asset('_dist/image/cursos/cursos-banner.jpg')}}"  alt="{{banner.title}}" class="p-hero__figure-image hidden-xs">
                            <!-- Mobile -->
                            <img src="{{asset('_dist/image/cursos/cursos-banner.jpg')}}" alt="{{banner.title}}" class="p-hero__figure-image visible-xs">
                        </figure>
                    </div>
                {% endif %}
            </div>
        </section>

        <div class="container">
            <p class="text-center">
                Uma boa forma de aprender é testar o conhecimento.<br> 
                Aqui você responde perguntas e checa o quanto já sabe.
            </p>
        </div>
        <div class="container container-quiz">
            <div class="list-quizes">
                {% for q in quizes %}
                   {% if loop.first %}
                        <div class="item-quizes list-quiz-recent">
                            <div class="list-quiz-title">
                                <span>MAIS RECENTE</span>
                                <a href="{{ path('quiz_do', {'slug': q.slug}) }}"
                                onclick="dataLayer.push({'event': 'gaEvent','event_name': 'QUIZ_click','event_section': 'informacao','event_local': '{{ path('quiz_do', {'slug': q.slug}) }}','event_action': 'click','event_text': 'RESPONDER'});">
                                    {{ q.name }}
                                </a>
                            </div>
                            <div class="list-quiz-button">
                                <a href="{{ path('quiz_do', {'slug': q.slug}) }}" class="btn-default btn-yellow btn-yellow2"
                                onclick="dataLayer.push({'event': 'gaEvent','event_name': 'QUIZ_click','event_section': 'informacao','event_local': '{{ path('quiz_do', {'slug': q.slug}) }}','event_action': 'click','event_text': 'RESPONDER'});">
                                    RESPONDER
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                
                {% for q in quizes %}
                   {% if not loop.first %}
                        <div class="item-quizes">
                            <div class="list-quiz-title">
                                <a href="{{ path('quiz_do', {'slug': q.slug}) }}"
                                onclick="dataLayer.push({'event': 'gaEvent','event_name': 'QUIZ_click','event_section': 'informacao','event_local': '{{ path('quiz_do', {'slug': q.slug}) }}','event_action': 'click','event_text': 'RESPONDER'});">
                                    {{ q.name }}
                                </a>
                            </div>
                            <div class="list-quiz-button">
                                <a href="{{ path('quiz_do', {'slug': q.slug}) }}" class="btn-default btn-yellow btn-yellow2"
                                onclick="dataLayer.push({'event': 'gaEvent','event_name': 'QUIZ_click','event_section': 'informacao','event_local': '{{ path('quiz_do', {'slug': q.slug}) }}','event_action': 'click','event_text': 'RESPONDER'});">
                                    RESPONDER
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}{% endblock %}
