{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Quiz -{% endblock %}
    
{% block body %}
<div class="new-quiz" id="new-quiz">
<section class="banner-main">    
    <div class="p-hero">
        <div class="slide p-hero__item">
            <div class="p-hero__body">
                <h1 class="p-hero__title">Quiz</h1>
            </div>
            <figure class="p-hero__figure">
                <!-- Desktop -->
                <img src="/_dist/image/img/inter-banner.gif" style="background-image: url({{ quiz.image }}), url(/_dist/image/img/default.jpg);" alt="{{ quiz.imageAlt }}" class="img-post hidden-xs">
                <!-- Mobile -->
                <img src="/_dist/image/img/banner-home-mobile-blank.gif" style="background-image: url({{ quiz.image }}), url(/_dist/image/img/default.jpg);" alt="{{ quiz.imageAlt }}" class="img-post visible-xs">
            </figure>
        </div>
    </div>
</section>
    
    <div class="new-quiz-intro">
        <div class="container">
            <h2 class="text-white space-h-30">{{ quiz.name }}</h2>
            {% if quiz.description  is not null and not quiz.description == "" %}
                <div class="main-intro">
                    {{ quiz.description|raw }}
                </div>
            {% endif %}
        </div>
    </div>

    
    <div class="container container-mobile-full">
        
        <div class="new-quiz-container">
            {% for question in questions %}
            <div class="new-quiz-section">
                <h2 class="quiz-question">
                    {{ question.title|raw }}
                </h2>
                <div class="new-quiz-list">
                    <ul class="new-quiz-respostas" data-question="{{ loop.index }}">
                        {% for alternative in question.quizAllAlternatives %}
                            <li class="new-quiz-box quiz-answer {{ alternative.isCorrect ? 'correto' : '' }}">
                                <figure>
                                    <img src="{{ asset(alternative.imageDesk) }}" alt="{{ alternative.imageAlt }}">
                                </figure>
                                <p>{{ alternative.title|raw }}</p>
                            </li>
                        {% endfor %} 
                    </ul>
                    <div class="refrence" style="display: block !important;">
                        {% if question.reference %}
                            {{ question.reference|raw }}                            
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
       
        <div class="text-center space-h-30">
            <a class="btn-default btn-result btn-yellow btn-yellow2" data-qtd="0" style="display: none;">Ver Resultado</a>
        </div>

        <div id="quiz-result">
        </div>
    </div>
<div>

{% endblock %}
{% block javascripts %}
    <script>
    //verificando a quantidade de acertos
    $('.btn-result').on('click', function() {
        var hits = 0
        var box_result = $('#quiz-result')

        $('.quiz-answer').each(function(e) {
            if ($(this).hasClass('correct')) {
                hits++
            }
        })

        $.ajax({
            url: '{{ path('quiz_result') }}',
            type: "POST",
            dataType: "json",
            data: {
                q: true,
                slug : '{{ quiz.slug }}',
                hits: hits
            },
            beforeSend: function() {
                box_result.html('<h1 class="text-center">Carregando...</h1>')
            },
            success: function(response) {
                                
                if (response.status) {
                    box_result.html(response.message)
                } else if (!response.status){
                    box_result.html(response.message)
                }
            }, 
            error: function(response) {
            
            }
            
        });
    })

    //condição para o usuário responder a pergunta apenas uma única vez 
    $(".new-quiz-box").click(function() {
        var i = 0, number = 0  
        var quantity_answered = $('.btn-result')
    
        $(this).parents('.new-quiz-respostas').children('.new-quiz-box').each(function(e) {          
            if ($(this).hasClass('correct') || $(this).hasClass('incorrect')) {
                i++
            }
        })  
        
        if (i == 0) {
            if($(this).hasClass('correto')){
                $(this).addClass('correct')
            } else {
                $(this).addClass('incorrect')
            }

            number = Number(quantity_answered.data('qtd')) + 1
            quantity_answered.data('qtd', number)
        }

        if (number == $('.new-quiz-respostas').length) {
            quantity_answered.show()
        }
    });
</script>
{% endblock %}