{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Quiz - {{quiz.title}}{% endblock %}

{% block body %}
    <section class="banner-main">    
        <div class="p-hero">
            {% if quiz.image  is not null or quiz.imageMobile is not null %}
                <div class="slide p-hero__item">
                    
                    <div class="p-hero__body">
                        <h1 class="p-hero__title">Quiz</h1>
                    </div>
                    
                    <figure class="p-hero__figure">
                        <!-- Desktop -->
                        <img src="{{ asset('_dist/image/img/inter-banner.gif') }}" style="background-image: url('{{asset(quiz.image)}}'), url(/_dist/image/img/default.jpg);" alt="{{quiz.title}}" class="img-post p-hero__figure-image hidden-xs" />

                        <!-- Mobile -->
                        <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{asset(quiz.imageMobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{quiz.title}}" class="img-post p-hero__figure-image visible-xs" />
                    </figure>
                </div>
                {% else %}
                <div class="slide p-hero__item">
                    <div class="p-hero__body">
                        <h1 class="p-hero__title">Quiz</h1>
                    </div>
                    
                    <figure class="p-hero__figure">
                        <!-- Desktop -->
                        <img src="{{asset('_dist/image/blog/blog-banner.png')}}"  alt="" class="p-hero__figure-image hidden-xs">
                        <!-- Mobile -->
                        <img src="{{asset('_dist/image/blog/blog-banner-mobile.png')}}" alt="" class="p-hero__figure-image visible-xs">
                    </figure>
                </div>
            {% endif %}
        </div>
    </section>

    <div class="container">
        <div class="content-text">
            <h2><strong>Parabéns!</strong> Você acertou <strong>{{ count }}</strong> questões!</h2>

            <p> {{ result.finalMessage|raw }}</p>
        </div>
    </div>
    <div class="text-center space-h-30">
        <a href="{{ path('quiz_detail', {'slug': quiz.slug}) }}" class="btn-default btn-yellow btn-yellow2 next"><< Voltar</a>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}