{% extends 'admin.html.twig' %}

{% block title %}USER | LISTAR
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Users</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>

                                    <th>Nome</th>

                                    <th>Avatar</th>

                                    <th>Ativo</th>

                                    <th>Criado Em</th>

                                    <th>Último Login Em</th>

                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if users|length > 0 %}
                                    {% for user in users %}
                                        <tr>
                                            <td class="center">
                                                <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">
                                                    {{ user.id }}
                                                </a>
                                            </td>
                                            <td>{{ user.name }}</td>
                                            
                                            <td>
                                                <img src="{{ asset(user.avatar) }}">
                                            </td>

                                            <td class="center">
                                                {% if user.isActive %}
                                                    <span class="label label-success">Sim</span>
                                                {% else %}
                                                    <span class="label label-danger">Não</span>
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                {% if user.createdAt %}
                                                    {{ user.createdAt|date('d/m/Y H:i:s') }}
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                {% if user.lastLoginAt %}
                                                    {{ user.lastLoginAt|date('d/m/Y H:i:s') }}
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_user_edit', { 'id': user.id}) }}">
                                                    Editar
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">Nenhum registro foi encontrado.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="box-paginator">
                    {{ knp_pagination_render(users) }}
                </div>
                
                <div class="box-footer">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_user_new') }}">
                        Novo
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
