{% extends 'admin.html.twig' %}

{% block title %}USERS | NOVO
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Adicionar Usuário</h3>
                </div>

                {{ form_start(form, {
                        'attr' : {
                            'class' : 'admin-form',
                            'id' 	: 'admin-form-post' 
                        }
                    }) 
                }}

                <div class="box-body">
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {
                                    'attr': {
                                        'placeholder': form.name.vars.errors|length ? form_errors(form.name)|striptags : '',
                                        'class' : form.name.vars.errors|length ? 'error' : '', 
                                }})
                        }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {
                                    'attr': {
                                        'placeholder': form.email.vars.errors|length ? form_errors(form.email)|striptags : '',
                                        'class' : form.email.vars.errors|length ? 'error' : '', 
                                }})
                        }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username, {
                                    'attr': {
                                        'placeholder': form.username.vars.errors|length ? form_errors(form.username)|striptags : '',
                                        'class' : form.username.vars.errors|length ? 'error' : '', 
                                }})
                        }}
                    </div>

                    <div class="form-group">
                        <div class="preview-img"></div>
                        {{ form_label(form.avatar) }}
                        {{ form_widget(form.avatar, {
                                'attr': {
                                    'placeholder': form.avatar.vars.errors|length ? form_errors(form.avatar)|striptags : '',
                                    'class' : form.avatar.vars.errors|length ? 'error' : '', 
                            }})
                        }}
                    </div>

                    <div class="form-group-double">
                        <div class="form-group">
                            {{ form_label(form.state) }}
                            {{ form_widget(form.state, {
                                        'attr': {
                                            'placeholder': form.state.vars.errors|length ? form_errors(form.state)|striptags : '',
                                            'class' : form.state.vars.errors|length ? 'error' : '', 
                                    }})
                            }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city, {
                                        'attr': {
                                            'placeholder': form.city.vars.errors|length ? form_errors(form.city)|striptags : '',
                                            'class' : form.city.vars.errors|length ? 'error' : '', 
                                    }})
                            }}
                        </div>
                    </div>
                    <div class="form-group-double">
                        <div class="form-group">
                            {{ form_label(form.cpf) }}
                            {{ form_widget(form.cpf, {
                                        'attr': {
                                            'placeholder': form.cpf.vars.errors|length ? form_errors(form.cpf)|striptags : '',
                                            'class' : form.cpf.vars.errors|length ? 'error' : '', 
                                    }})
                            }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.cnpj) }}
                            {{ form_widget(form.cnpj, {
                                        'attr': {
                                            'placeholder': form.cnpj.vars.errors|length ? form_errors(form.cnpj)|striptags : '',
                                            'class' : form.cnpj.vars.errors|length ? 'error' : '', 
                                    }})
                            }}
                        </div>
                    </div>
                    <div class="form-group-double">
                        <div class="form-group">
                            {{ form_label(form.isPharmaceutical) }}
                            {{ form_widget(form.isPharmaceutical, {
                                        'attr': {
                                            'placeholder': form.isPharmaceutical.vars.errors|length ? form_errors(form.isPharmaceutical)|striptags : '',
                                            'class' : form.isPharmaceutical.vars.errors|length ? 'error' : '', 
                                            'data-toggle':'toggle'
                                    }})
                            }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.crf) }}
                            {{ form_widget(form.crf, {
                                        'attr': {
                                            'placeholder': form.crf.vars.errors|length ? form_errors(form.crf)|striptags : '',
                                            'class' : form.crf.vars.errors|length ? 'error' : '', 
                                    }})
                            }}
                        </div>

                    </div>
                    <div class="form-group-double">
                        <div class="form-group">
                            {{ form_label(form.isActive) }}
                            {{ form_widget(form.isActive, {
                                        'attr': {
                                            'placeholder': form.isActive.vars.errors|length ? form_errors(form.isActive)|striptags : '',
                                            'class' : form.isActive.vars.errors|length ? 'error' : '', 
                                            'data-toggle':'toggle'
                                    }})
                                }}
                        </div>
                        <div class="form-group">
                                {{ form_label(form.gender) }}
                            {{ form_widget(form.gender, {
                                        'attr': {
                                            'placeholder': form.gender.vars.errors|length ? form_errors(form.gender)|striptags : '',
                                            'class' : form.gender.vars.errors|length ? 'error' : '', 
                                            'data-toggle':'toggle'
                                    }})
                            }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password) }}
                        {{ form_widget(form.password, {
                                        'attr': {
                                            'placeholder': form.password.vars.errors|length ? form_errors(form.password)|striptags : '',
                                            'class' : form.password.vars.errors|length ? 'error' : '', 
                                    }})
                            }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.roles) }}
                        {{ form_widget(form.roles, {
                                    'attr': {
                                        'placeholder': form.roles.vars.errors|length ? form_errors(form.roles)|striptags : '',
                                        'class' : form.roles.vars.errors|length ? 'error' : '', 
                                }})
                        }}
                    </div>

                </div>

                <div class="box-footer">
                    {{ form_widget(form.save, {
                            'attr' : {
                                'class': 'submit btn btn-success',
                    }}) 
                                        }}
                    <a class="btn btn-default" href="{{ path('admin_user_list') }}">Cancelar</a>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </form>
        </div>
    </div>
</div>{% endblock %}{% block javascripts %}
<script>

    $("#form_avatar").change(function () {
        readURL(this);
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(input).siblings('.preview-img').html('<img src="' + e.target.result + '">');
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>{% endblock %}
