{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Mês da Saúde{% endblock %}
    
{% block body %}
    <div class="dia-da-saude-page" id="dia-da-saude-page">
        <section class="text-center dia-da-saude-banner">
            <img src="{{ asset('_dist/image/img/dia-da-saude/banner.jpg')}}" alt="Banner Mês da Saúde" title="Banner Mês da Saúde" class="hidden-xs">
            <img src="{{ asset('_dist/image/img/dia-da-saude/banner-mobile.jpg')}}" alt="Banner Mês da Saúde" title="Banner Mês da Saúde" class="visible-xs">
        </section>
        
        <section class="dia-da-saude-section-1">
            <div class="container-small container">
                <div class="row">
                    <div class="section-1-text">
                        <h1>Cuidar da saúde e do bem-estar das pessoas é a nossa vocação.<br> Agora chegou a hora de <strong>cuidar de quem cuida de todos.</strong></h1>

                        <p>
                            Aproveitando o Dia Mundial da Saúde, nós vamos reforçar a importância do cuidado e da atenção com a saúde em seus diferentes âmbitos em conteúdos exclusivos!
                        </p>
                        <p>
                            <strong>#PartiuSeCuidar</strong>
                        </p>
                    </div>
                    <div class="section-1-img">
                        <img src="{{ asset('_dist/image/img/dia-da-saude/section-2-pic.png')}}" alt="Cuidar da saúde e do bem-estar das pessoas é a nossa vocação" title="Cuidar da saúde e do bem-estar das pessoas é a nossa vocação">
                    </div>
                </div>
            </div>
        </section>

        <section class="dia-da-saude-materias">
            <div class="container-small container">
                <div class="row">
                    <div class="dia-da-saude-materias-texto">
                        <h2>Matérias exclusivas</h2>
                        <p>
                            Descubra mais sobre os principais âmbitos da saúde e a importância de cada um deles em uma vida mais equilibrada!
                        </p>
                    </div>

                    <div class="dia-da-saude-materias-itens">
                        <div class="dia-da-saude-materias-list">
                            <div class="dia-da-saude-materias-item">
                                <figure>
                                    <a href="/blog/post/um-corpo-em-pleno-funcionamento-saiba-mais-sobre-a-saude-fisica" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'dia-da-saude', 'eventAction': 'click', 'eventLabel': 'materia:saude-fisica'});"><img src="{{ asset('_dist/image/img/dia-da-saude/icone-fisico.jpg')}}" alt="Ícone Saúde física" title="Ícone Saúde física" /></a>
                                </figure>
                                <h3>Saúde física</h3>
                                <div class="space-h-20">
                                    <a href="/blog/post/um-corpo-em-pleno-funcionamento-saiba-mais-sobre-a-saude-fisica" class="btn-default btn-1" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'dia-da-saude', 'eventAction': 'click', 'eventLabel': 'materia:saude-fisica'});">Acessar matéria</a>
                                </div>
                            </div>
                            <div class="dia-da-saude-materias-item">
                                <figure>
                                    <a href="/blog/post/uma-mente-em-sintonia-descubra-a-importancia-da-saude-mental" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'dia-da-saude', 'eventAction': 'click', 'eventLabel': 'materia:saude-mental'});"><img src="{{ asset('_dist/image/img/dia-da-saude/icone-mental.jpg')}}" alt="Ícone Saúde mental" title="Ícone Saúde mental" /></a>
                                </figure>
                                <h3>Saúde mental</h3>
                                <div class="space-h-20">
                                    <a href="/blog/post/uma-mente-em-sintonia-descubra-a-importancia-da-saude-mental" class="btn-default btn-2" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'dia-da-saude', 'eventAction': 'click', 'eventLabel': 'materia:saude-mental'});">Acessar matéria</a>
                                </div>
                            </div>

                            <div class="dia-da-saude-materias-item">
                                <figure>
                                    <a href="/blog/post/interacoes-em-alta-o-que-e-saude-social" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'dia-da-saude', 'eventAction': 'click', 'eventLabel': 'materia:saude-social'});"><img src="{{ asset('_dist/image/img/dia-da-saude/icone-social.jpg')}}" alt="Ícone Saúde social" title="Ícone Saúde social" /></a>
                                </figure>
                                <h3>Saúde social</h3>
                                <div class="space-h-20">
                                    <a href="/blog/post/interacoes-em-alta-o-que-e-saude-social" class="btn-default btn-3" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'dia-da-saude', 'eventAction': 'click', 'eventLabel': 'materia:saude-social'});">Acessar matéria</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="dia-da-saude-quiz">
            <div class="container-small container">
                <h2>É hora de colocar seus conhecimentos à prova e se preparar para dar um novo passo rumo ao equilíbrio.</h2>
                <p>Responda às perguntas do quiz e mostre que você está pronto para seguir em frente!</p>
                <div class="space-h-20">
                    <a href="/quiz/mes-da-saude-o-que-voce-tem-feito-para-cuidar-de-si-mesmo" class="btn-default" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'dia-da-saude', 'eventAction': 'click', 'eventLabel': 'responder-quiz'});">Responder o quiz</a>
                </div>
            </div>
        </section>

        <section class="dia-da-saude-golden-section">
            <div class="container-small container">
                <h2>Agora que você já sabe da importância de se buscar o equilíbrio em todos os âmbitos de sua saúde, <strong>nós preparamos uma surpresa para auxiliar sua caminhada!</strong></h2>
            </div>
        </section>

        <section class="dia-da-saude-planner">
            <div class="container-small container">
                <div class="row">
                    <div class="dia-da-saude-panner-text">
                        <h2><img src="{{ asset('_dist/image/img/dia-da-saude/planner-de-saude.png')}}" alt="Planner de Saúde" title="Planner de Saúde"></h2>
                        <p>
                            Agora que você já refletiu sobre a melhor forma de encontrar o equilíbrio saudável em sua vida, use esse <strong>planner</strong> para auxiliar na busca pelos seus objetivos!
                        </p>
                        <div class="space-h-20">
                            <a href="{{ asset('_dist/image/img/dia-da-saude/neo_mesdasaude_planner.pdf')}}" class="btn-default" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'dia-da-saude', 'eventAction': 'click', 'eventLabel': 'planner-de-saude:baixar-arquivo'});">Baixar arquivo</a>
                        </div>
                    </div>
                    <div class="dia-da-saude-panner-img">
                        <img src="{{ asset('_dist/image/img/dia-da-saude/planner-de-saude-pic.jpg')}}" alt="" title="">
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %} 

{% endblock %}


