

{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Ingressos Corinthians{% endblock %}
{% block styles %}
    <style>
        #form span{ color: red !important; }
    </style>
{% endblock %}
{% block metatags %}
    
{% endblock %}

{% block body %}
    
    <div class="page-not-banner page-ingresso-corinthians" id="page-ingresso-corinthians">
        <div class="container">
            
            <div class="header-ingresso-corinthians">
                <h2>
                    Preencha os campos abaixo para <span>ganhar um par de ingressos*</span> para o camarote durante a partida entre Corinthians e Always Ready, que acontecerá na <span>Arena Neo Química</span> no dia 26/05, às 21h
                </h2>
                <p>
                    *Ingressos válidos para o Camarote Festa da Arena Neo Química, disponíveis para os 10 primeiros usuários que se inscreverem. Válido apenas para residentes de SP Capital de Grande SP. A Neo Química não se responsabiliza pelos custos de transporte e/ou hospedagem. Os ingressos são nominais e intrasferíveis.
                </p>
            </div>

            <div class="box form-ingresso-corinthians">
                <form method="POST" class="form" id="form">
                    <h3>Dados pessoais</h3>
                    <div class="">
                        <input type="hidden" name="tc" class="form-control" autocomplete="off">
                        <div class="space-h-10">
                            <label for="name">Nome *<span id="name-error"><span></label>
                            <input type="text" id="name" name="name" class="form-control name" value="{{ app.user.name }}" autocomplete="off">
                        </div>

                        <div class=" grid">
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="name">E-mail *<span id="email-error"><span></label>
                                    <input type="text" id="email" name="email" class="form-control email" value="{{ app.user.email }}" autocomplete="off">
                                </div>
                            </div>
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="name">Celular *<span id="cellphone-error"><span></label>
                                    <input type="text" id="cellphone" name="cellphone" class="form-control cellphone" value="{{ app.user.cellphone }}" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        
                        <div class="grid">
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="zip_code">CEP * <span id="zip-code-error"><span></label>
                                    <input type="text" id="zip_code" name="zip_code" class="form-control zip_code" value="{{ app.user.zipCode }}" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="address">Endereço *<span id="address-error"><span></label>
                                    <p class="address-text">{{ app.user.address }}</p>
                                    <input type="hidden" id="address" name="address" class="form-control address" value="{{ app.user.address }}" autocomplete="off">
                                </div>
                            </div>
                        </div>

                        <div class="grid">
                            <div class="one-fifth grid-sys">
                                <div class="space-h-10">
                                    <label for="number">N° *<span id="number-error"><span></label>
                                    <input type="text" id="number" name="number" class="form-control number" value="{{ app.user.number }}" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="two-fifth grid-sys">
                                <div class="space-h-10">
                                    <label for="complement">Complemento <span id="complement-error"><span></label>
                                    <input type="text" id="complement" name="complement" class="form-control complement" value="{{ app.user.complement }}" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="two-fifth grid-sys">
                                <div class="space-h-10">
                                    <label for="neighborhood">Bairro *<span id="neighborhood-error"><span></label>
                                    <p class="neighborhood-text">{{ app.user.neighborhood }}</p>
                                    <input type="hidden" id="neighborhood" name="neighborhood" class="form-control neighborhood" value="{{ app.user.neighborhood }}" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="city">Cidade *<span id="city-error"><span></label>
                                    <p class="city-text">{{ app.user.city }}</p>
                                    <input type="hidden" id="city" name="city" class="form-control city" value="{{ app.user.city }}" autocomplete="off" />
                                </div>
                            </div>
                            <div class="one-half grid-sys">
                                {% set state  = app.user.isPharmacy ? app.user.state : app.user.estateAddress %}
                                <div class="space-h-10"> 
                                    <label for="state">Estado *<span id="state-error"><span></label>
                                    <p class="state-text">{{ state }}</p>
                                    <input type="hidden" id="state" name="state" class="form-control state" value="{{ state }}" autocomplete="off">                                
                                </div>
                            </div>
                        </div>

                        
                    </div>
                   
                    <div class="">
                        <h3>Dados do acompanhante</h3>
                        
                        <div class="space-h-10">
                            <label for="name_companion">Nome *<span id="name-companion-error"><span></label>
                            <input type="text" id="name_companion" name="name_companion" value="{{ corinthians_always_ready_companion.id is defined ? corinthians_always_ready_companion.name : '' }}" class="form-control name-companion" autocomplete="off">
                        </div>
                      
                        <div class=" grid">
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="cellphone_companion">Celular *<span id="cellphone-companion-error"><span></label>
                                    <input type="text" id="cellphone-companion" name="cellphone_companion"  value="{{ corinthians_always_ready_companion.id is defined ? corinthians_always_ready_companion.cellphone : '' }}" class="form-control cellphone-companion" autocomplete="off">
                                </div>
                            </div>
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="email_companion">E-mail *<span id="email-companion-error"><span></label>
                                    <input type="text" id="email_companion" name="email_companion" value="{{ corinthians_always_ready_companion.id is defined ? corinthians_always_ready_companion.email : '' }}" class="form-control email-companion" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="space-h-20 text-center">
                        <button type="submit" class="btn-default btn-action btn-yellow">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="familia-centro">
        <!-- Modal -->
        <div class="modal-default modal-dropyD modal-prod" id="">
            <div class="content-form-src-desk">
                <div class="modal-content dropyD-message">
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
    var url = "{{path('corinthians-always-ready')}}";
    var consultaCorreios = "{{path('api-correios')}}";

    $(".btn-action").on("click", function(){
        var $this = $(this);
        var values = $('#form').serialize();

        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            data: values,
            beforeSend: function(){
                $this.text('Carregando...');
                $this.attr("disabled", true);
            },
            success: function (response) {
                $this.text('Salvar');
                $this.attr("disabled", false);

                if (response.status) {
                    window.location.href = response.url;   
                } else {

                    if (response.hasOwnProperty('is_register')) {
                        alert(response.message);
                    }

                    if (response.error.hasOwnProperty('name')) {
                        $('#name-error').text(response.error.name)
                    }

                    if (response.error.hasOwnProperty('address')) {
                        $('#address-error').text(response.error.address)
                    }

                    if (response.error.hasOwnProperty('number')) {
                        $('#number-error').text(response.error.number)
                    }

                    if (response.error.hasOwnProperty('neighborhood')) {
                        $('#neighborhood-error').text(response.error.neighborhood);
                    }

                    if (response.error.hasOwnProperty('city')) {
                        $('#city-error').text(response.error.city)
                    }

                    if (response.error.hasOwnProperty('state')) {
                        $('#state-error').text(response.error.state)
                    }
                    
                    if (response.error.hasOwnProperty('zip_code')) {
                        $('#zip-code-error').text(response.error.zip_code)
                    }

                    if (response.error.hasOwnProperty('cellphone')) {
                        $('#cellphone-error').text(response.error.cellphone)
                    }
                    
                    if (response.error.hasOwnProperty('email')) {
                        var email = $('.email').val()
                        if (response.error.email == 'Email está sendo utilizado') {
                            alert('Ops, não foi possível finalizar sua solicitação. O e-mail ' + email + ' já consta como cadastrado como acompanhante de outro usuário do portal para esse jogo.')
                        } else {
                            $('#email-error').text(response.error.email)
                        }
                    }

                    //acompanhante
                    if (response.error.hasOwnProperty('name_companion')) {
                        $('#name-companion-error').text(response.error.name_companion)
                    }

                    if (response.error.hasOwnProperty('cellphone_companion')) {
                        $('#cellphone-companion-error').text(response.error.cellphone_companion)
                    }
                    
                    if (response.error.hasOwnProperty('email_companion')) {
                        var email_companion = $('.email-companion').val()
                        if (response.error.email_companion == 'Email está sendo utilizado') {
                            alert('Ops, não foi possível finalizar sua solicitação. O e-mail ' + email_companion + ' já consta como cadastrado para receber ingresso para esse jogo. Você pode escolher e cadastrar outro acompanhante.')
                        } else {
                            $('#email-companion-error').text(response.error.email_companion)
                        }
                    }
                }
            } 
        });
    })

    $('.zip_code').on('blur', function(e) {
        var cep     = $(this).val()
        var btn     = $('.btn-register-gestor')
        var address = $('.address'), neighborhood =  $('.neighborhood'), city = $('.city'), state = $('.state'), zip_code = $('.zip_code')
        var address_text = $('.address-text'), neighborhood_text =  $('.neighborhood-text'), city_text = $('.city-text'), state_text = $('.state-text')

        if (cep.length < 9) {
            $('#zip-code-error').text('CEP INVÁLIDO');
            return false;
        }

        $.ajax({
            url: consultaCorreios,
            type: "POST",
            dataType: "json",
            data: {
                'cep': cep, 
            },
            beforeSend: function(){
                //values
                address.val('...');  
                neighborhood.val('...');  
                city.val('...');  
                state.val('...');
                
                //text
                address_text.text('...');  
                neighborhood_text.text('...');  
                city_text.text('...');  
                state_text.text('...');
            },
            success: function (response) {
                
                $('#address-error').text('') 
                $('#neighborhood-error').text('')  
                $('#city-error').text('') 
                $('#state-error').text('') 

                if (!response.status) {
                    $('#zip-code-error').text(response.message);
                    return false;
                }
                
                //values
                $('#zip-code-error').text('')
                address.val(response.endereco);  
                neighborhood.val(response.bairro + ' ' + response.complemento2);  
                city.val(response.cidade);  
                state.val(response.uf);

                //text
                address_text.text(response.endereco);  
                neighborhood_text.text(response.bairro + ' ' + response.complemento2);  
                city_text.text(response.cidade);  
                state_text.text(response.uf);
            }
        });
    })

    
    $('.name').on("keyup", function(){
        $('#name-error').text('')
    })

    $('.address').on("keyup", function(){
        $('#address-error').text('')
    })

    $('.number').on("keyup", function(){
        $('#number-error').text('')
    })

    $('.neighborhood').on("keyup", function(){
        $('#neighborhood-error').text('')
    })

    $('.city').on("keyup", function(){
        $('#city-error').text('')
    })

    $('.state').on("keyup", function(){
        $('#state-error').text('')
    })

    $('.zip-code').on("keyup", function(){
        $('#zip-code-error').text('')
    })

    $('.cellphone').on("keyup", function(){
        $('#cellphone-error').text('')
    })

    $('.email').on("keyup", function(){
        $('#email-error').text('')
    })

    //acompanhante
    $('.name-companion').on("keyup", function(){
        $('#name-companion-error').text('')
    })

    $('.cellphone-companion').on("keyup", function(){
        $('#cellphone-companion-error').text('')
    })

    $('.email-companion').on("keyup", function(){
        $('#email-companion-error').text('')
    })

    $('.zip_code').mask('00000-000');
    $('.cellphone, .cellphone-companion').mask('(00) 00000-0000');

    function modalMsg(message) {     
        $('.dropyD-message').html(message)       
        if($('.modal-dropyD').hasClass('open-menu')){
            $('.modal-dropyD').removeClass('open-modal');
        } else{
            $('.modal-dropyD').addClass('open-modal');
        }
    }
    </script>
{% endblock %}
