{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Resultado Ingressos Corinthians {% endblock %}
    
{% block body %}
    <div class="page-not-banner page-ingresso-corinthians page-result-ingresso-corinthians">
        <div class="container">
            <div class="page-ingresso-corinthians">
                <figure class="logo-congresso text-center space-h-30">
                    <img src="{{ asset('_dist/image/img/ingresso-corinthians/logo-arena.png')}}" alt="">
                </figure>
                <div class="page-ingresso-corinthians-realizado">
                    <div class="page-ingresso-corinthians-resultado text-center">
                        {% if result == 'inscricao-realizada-com-sucesso' %}
                            <!-- Feito com Sucesso! -->
                            <h2 class="text-yellow">Parabéns!<span>Você garantiu o seu ingresso.</span></h2>
                            <p>
                                Fique atento a caixa de entrada e SPAM do seu e-mail, para recebê-lo.<br>    Aproveite essa oportunidade para completar o seu cadastro.
                            </p>
                        {% elseif result == 'ingressos-esgotados' %}
                            <!-- Esgotado -->
                            <h2 class="text-yellow">Que pena,<span>os ingressos se esgotaram!</span></h2>
                            <p>
                                Mas não desanime. Mantenha seu cadastro atualizado e fique de olho nas próximas oportunidades!
                            </p>

                        {% elseif result == 'ingressos-indisponivel' %}
                            
                            <h2 class="text-yellow">Ops!<span>Infelizmente os ingressos não estão disponíveis para a sua região.</span></h2>
                            <p>
                                Mas não desanime. Mantenha seu cadastro atualizado e fique de olho nas próximas oportunidades!
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="space-h-40 text-center">
                    <a href="{{ path('user-preferences') }}" class="btn-default btn-yellow btn-action">Clique e complete seu cadastro!<a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
