{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Teaser Ingressos Corinthians {% endblock %}
    
{% block body %}
    <div class="page-not-banner page-ingresso-corinthians page-result-ingresso-corinthians page-ingresso-corinthian-teaser">
        <div class="container">
            <div class="page-ingresso-corinthians text-center">
                
                <div class="page-ingresso-corinthians-realizado">
                    <div class="page-ingresso-corinthians-resultado">
                        <h2 class="text-yellow">
                            <span>Quer assistir a um jogão da <strong>Libertadores da América</strong></span>
                            no camarote da Neo Química Arena?
                            <span>No <strong>Mês do Medicamento Genérico</strong> você pode!</span>
                        </h2>
                        <p class="space-h-40">
                           Fique de olho por aqui, pois a partir das <strong>12h do dia 11 de maio</strong>, vamos distribuir <strong>10 pares de ingressos</strong> para os primeiros usuários que responderem o formulário, para a partida entre <strong class="text-yellow">Corinthians&nbsp;x&nbsp;Always&nbsp;Ready</strong>, que acontece no dia <strong>26 de maio, às 21h!</strong>
                        </p>
                    </div>
                </div>
                <figure class="logo-congresso text-center space-h-40">
                    <img src="{{ asset('_dist/image/img/ingresso-corinthians/logo-arena.png')}}" alt="">
                </figure>
            </div>
        </div>
    </div>

{% endblock %}
