{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Doralgina{% endblock %}
    
{% block body %}
<div class="doralgina" id="doralgina">
    <section class="text-center banner-histamin" >
        <img src="{{ asset('_dist/image/img/doralgina/banner-doralgina-mobile.png')}}" alt="Banner " class="visible-xs">
        <img src="{{ asset('_dist/image/img/doralgina/banner-doralgina-desktop.png')}}" alt="Banner " class="hidden-xs">
    </section>

    <div class="space-h-40">
        <div class="container">
            <ul class="menu-ancor menu-ancor-doralgina">
                <li>
                    <a href="#materias" class="btn-menu">MATÉRIAS</a>
                    <p>
                        Confira conteúdos exclusivos sobre como lidar com os diferentes tipos de dores de cabeça e seus impactos no dia a dia.
                    </p>
                </li>
                <li>
                    <a href="#quiz" class="btn-menu">QUIZ</a>
                    <p>
                        Quem nunca passou por uma dor de cabeça, não é mesmo? Responda ao quiz e descubra se você é um profissional de farmácia que #SenteODrama!
                    </p>
                </li>
                <li>
                    <a href="#memes" class="btn-menu">MEMES</a>
                    <p>
                        Rir é um belo remédio contra a dor de cabeça! Por isso nós fizemos uma seleção de memes para você compartilhar e dar umas boas risadas.
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="doralgina-banner-familia">
        <figure class="text-center">
            <img src="{{ asset('_dist/image/img/doralgina/banner-familia-mobile.png')}}" alt="" class="visible-xs">
            <img src="{{ asset('_dist/image/img/doralgina/banner-familia.png')}}" alt="" class="hidden-xs">
        </figure>
    </div>

    <div class="container">
        <div class="doralgina-materias-section" id="materias">
            <div class="doralgina-materias-box doralgina-materias-info">
                <h2>Matérias</h2>
                <p>
                    Descubra mais a fundo sobre os principais tipos de dores de cabeça, suas causas e como combatê-las.    
                </p>
            </div>

            <div class="doralgina-materias-box doralgina-materias-slide">
                <div class="slides owl-carousel">
                    <div class="item">
                        <div class="content">
                            <h3>Conheça os tipos mais comuns de dor de cabeça</h3>
                            <p>
                                Entender o sintoma é o primeiro passo para tratá-lo.
                            </p>
                            <div class="btn">
                                {# <a href="https://hmgportalneophar1.websiteseguro.com/blog/post/conheca-os-tipos-mais-comuns-de-dor-de-cabeca">CLIQUE AQUI PARA CONTINUAR LENDO</a> #}
                                <a href="{{ path('blog_detail', {'slug':'conheca-os-tipos-mais-comuns-de-dor-de-cabeca'}) }}">CLIQUE AQUI PARA CONTINUAR LENDO</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <h3>A dor de cabeça na vida do jovem </h3>
                            <p>
                                Por que este sintoma é tão presente na vida de adolescentes e jovens adultos? 
                            </p>
                            <div class="btn">
                                {# <a href="https://hmgportalneophar1.websiteseguro.com/blog/post/a-dor-de-cabeca-na-vida-do-jovem">CLIQUE AQUI PARA CONTINUAR LENDO</a> #}
                                <a href="{{ path('blog_detail', {'slug':'a-dor-de-cabeca-na-vida-do-jovem'}) }}">CLIQUE AQUI PARA CONTINUAR LENDO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-quiz" id="quiz">
        <figure class="text-center">
            <a href="{{ path('doralgina_quiz') }}">
                <img src="{{ asset('_dist/image/img/doralgina/banner-quiz-mobile.png')}}" alt="Quiz" class="visible-xs">
                <img src="{{ asset('_dist/image/img/doralgina/banner-quiz-desk.png')}}" alt="Quiz" class="hidden-xs">
            </a>
        </figure>
        <div class="space-h-20 text-center visible-xs">
            <a href="{{ path('doralgina_quiz') }}" class=" btn-default-doralgina">Começar</a>
        </div>
    </div>

    <div class="container">
        <div class="doralgina-memes-section space-h-40" id="memes">
            <div class="doralgina-memes-box doralgina-memes-img">
                <figure>
                    <img src="{{ asset('_dist/image/img/doralgina/memes-box-dektop.png')}}" alt="">
                </figure>
            </div>

            <div class="doralgina-memes-box doralgina-memes-info">
                <h2><span>Memes</span></h2>
                <h3>Dor de cabeça na farmácia?</h3>
                <p>
                    Só quem trabalha na área vai se identificar com essas situações!
                </p>
            </div>
        </div>

        <div class="list-memes">
            <div class="slides owl-carousel">
                <div class="item">
                    <div class="item-meme">
                        <a href="#" data-modal="card1"><img src="{{ asset('_dist/image/img/doralgina/meme-1.png')}}" /></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-meme">
                        <a href="#" data-modal="card2"><img src="{{ asset('_dist/image/img/doralgina/meme-2.png')}}" /></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-meme">
                        <a href="#" data-modal="card3"><img src="{{ asset('_dist/image/img/doralgina/meme-3.png')}}" /></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center space-h-20 share-btn">
            <span>
                Compartilhe com quem também<br> #SENTEODRAMA!
            </span>
        </div>

        <div class="text-center space-h-20 back-top">
            <span class="btn">
                <span>VOLTAR PARA O TOPO</span>
            </span>
        </div>    
        <div class="texto-legal">
            <p>
                Doralgina. Drágeas. dipirona 300mg, mucato de isometepteno 30mg e cafeína 30mg. Indicações: como analgésico e antiespasmódico, incluindo enxaquecas ou para o tratamento de cólicas. MS 1.5584.0380. BRAINFARMA INDÚSTRIA QUÍMICA E FARMACÊUTICA S.A.SE PERSISTIREM OS SINTOMAS, O MÉDICO DEVERÁ SER CONSULTADO. Setembro/2020. Referência consultada: 1. Bula do produto Doralgina.​
            </p>      
        </div>     
    </div>
    <!-- Modal card 1 -->
    <div class="modal-default card-modal" id="card1">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <figure class="img">
                        <a  href="{{ asset('_dist/image/img/doralgina/meme-1.png')}}" target="_blank" download>
                            <img src="{{ asset('_dist/image/img/doralgina/meme-1.png')}}">
                        </a>
                    </figure>
                </div>

                <ul class="share-socials-btns">
                    <li>
                        <a class="btn-download btn-default" href="{{ asset('_dist/image/img/doralgina/meme-1.png')}}" target="_blank" id="btn-wpp-share-cards" download>
                            <i class="fa fa-whatsapp"></i> 
                            baixe e envie por WhatsApp
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal card 2 -->
    <div class="modal-default card-modal" id="card2">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <figure class="img">
                        <a  href="{{ asset('_dist/image/img/doralgina/meme-2.png')}}" target="_blank" download>
                            <img src="{{ asset('_dist/image/img/doralgina/meme-2.png')}}">
                        </a>
                    </figure>
                </div>

                <ul class="share-socials-btns">
                    <li>
                        <a class="btn-download btn-default" href="{{ asset('_dist/image/img/doralgina/meme-2.png')}}" target="_blank" id="btn-wpp-share-cards" download>
                            <i class="fa fa-whatsapp"></i> 
                            baixe e envie por WhatsApp
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal card 3 -->
    <div class="modal-default card-modal" id="card3">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <figure class="img">
                        <a  href="{{ asset('_dist/image/img/doralgina/meme-3.png')}}" target="_blank" download>
                            <img src="{{ asset('_dist/image/img/doralgina/meme-3.png')}}">
                        </a>
                    </figure>
                </div>

                <ul class="share-socials-btns">
                    <li>
                        <a class="btn-download btn-default" href="{{ asset('_dist/image/img/doralgina/meme-3.png')}}" target="_blank" id="btn-wpp-share-cards" download>
                            <i class="fa fa-whatsapp"></i> 
                            baixe e envie por WhatsApp
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function(){
            //Menu onepage
            $(".menu-ancor a").click(function( event ) {
                event.preventDefault();
                $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top - 80 }, 500);
            });

            //Subiar ao Topo
            $(".back-top span").click(function () {
                $("html, body").animate({scrollTop: 0}, 1000);
            });

            if($(".doralgina-materias-slide .slides").length) {
				$(".doralgina-materias-slide .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					margin: 0,
					loop: true,
					nav: true,
					items: 1
				});
			}

            if($(".list-memes .slides").length) {
				$(".list-memes .slides").owlCarousel({
					margin: 20,
                    responsiveClass: true,
                    nav: true,
                    items: 3,
                    responsive:{
                        0:{
                            items:1,
                        },
                        960:{
                            items:3,
                        }
                    }
					
				});
			}

        });
    </script>
{% endblock %}
