{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Doralgina Quiz{% endblock %}
    
{% block body %}
<div class="doralgina" id="doralgina">
    <section class="text-center banner-histamin" >
        <img src="{{ asset('_dist/image/img/doralgina/banner-quiz-mobile.jpg')}}" alt="Banner " class="visible-xs">
        <img src="{{ asset('_dist/image/img/doralgina/banner-quiz.png')}}" alt="Banner " class="hidden-xs">
    </section>
    <div class="container">
        <form id="form-quiz">
            <ul class="list-resp">
                <li class="space-h-10">
                    <label for="quiz1">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz1" value="p1" />
                            <span class="checkmark"></span>
                        </div>
                        Já teve que cancelar uma viagem de fim de ano, pois ficou escalado para trabalhar no Natal e no Ano Novo.
                    </label>
                </li>
                <li class="space-h-10">
                    <label for="quiz2">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz2" />
                            <span class="checkmark"></span>
                        </div>
                        Já teve que parar o que estava fazendo por um cliente que só queria ajuda    para se pesar.
                    </label>
                </li>
                <li class="space-h-10">
                    <label for="quiz3">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz3" />
                            <span class="checkmark"></span>
                        </div>
                        Já teve que escolher entre fazer uma viagem ou um curso de especialização.
                    </label>
                </li>
                <li class="space-h-10">  
                    <label for="quiz4">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz4" />
                            <span class="checkmark"></span>
                        </div>
                        Já ficou escalado para trabalhar em dois fins de semana seguidos.
                    </label>
                </li>
                <li class="space-h-10">
                    <label for="quiz5">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz5" />
                            <span class="checkmark"></span>
                        </div>
                        Já teve que explicar para o cliente que os sintomas que ele apresenta são característicos de um resfriado, e não câncer, como ele viu na internet.
                    </label>
                </li>
                <li class="space-h-10">
                    <label for="quiz6">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz6" />
                            <span class="checkmark"></span>
                        </div>
                        Sabe mais nomes de medicamentos do que de pessoas.
                    </label>
                </li>
                <li class="space-h-10">
                    <label for="quiz7">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz7" />
                            <span class="checkmark"></span>
                        </div>
                        É capaz de manusear diversos medicamentos, mas, quando se trata do amor, é você quem é sempre o(a) manipulado(a).
                    </label>
                </li>
                <li class="space-h-10">
                    <label for="quiz8">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz8" />
                            <span class="checkmark"></span>
                        </div>
                        Já precisou fazer milagre para entender que o rabisco na receita médica significava “Paracetamol”.
                    </label>
                </li>
                <li class="space-h-10">
                    <label for="quiz9">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz9" />
                            <span class="checkmark"></span>
                        </div>
                        Já teve um crush por cliente.
                    </label>
                </li>
                <li class="space-h-10">
                    
                    <label for="quiz10">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz10" />
                            <span class="checkmark"></span>
                        </div>
                        Já saiu para trabalhar antes de o dia clarear.
                    </label>
                </li>
                <li class="space-h-10">
                    <label for="quiz11">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz11" />
                            <span class="checkmark"></span>
                        </div>
                        E só voltou para casa vendo aquela lua que brilha lá no céu.
                    </label>
                </li>
                <li class="space-h-10">
                    <label for="quiz12">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz12" />
                            <span class="checkmark"></span>
                        </div>
                        Já acordou no meio da noite, pois se esqueceu de lavar o jaleco.
                    </label>
                </li>
                <li class="space-h-10">
                    <label for="quiz13">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz13" />
                            <span class="checkmark"></span>
                        </div>
                        Já atendeu algum cliente que só queria colocar créditos.
                    </label>
                </li>
                <li class="space-h-10">
                    <label for="quiz14">
                        <div class="input-box">
                            <input type="checkbox" class="check-input" name="quiz-doralgina" id="quiz14" />
                            <span class="checkmark"></span>
                        </div>
                        Já se perguntou o motivo de trabalhar nesta área… E depois se lembrou de que você ama o que faz!
                    </label>
                </li>
            </ul>
            <div class="space-h-20 text-center">
                <button type="button" class="btn-default btn-default-doralgina">VER RESULTADO</button>
            </div>
        </form>

        <div class="texto-legal">
            <p>
                Doralgina. Drágeas. dipirona 300mg, mucato de isometepteno 30mg e cafeína 30mg. Indicações: como analgésico e antiespasmódico, incluindo enxaquecas ou para o tratamento de cólicas. MS 1.5584.0380. BRAINFARMA INDÚSTRIA QUÍMICA E FARMACÊUTICA S.A.SE PERSISTIREM OS SINTOMAS, O MÉDICO DEVERÁ SER CONSULTADO. Setembro/2020. Referência consultada: 1. Bula do produto Doralgina.​
            </p>      
        </div>  
    </div>
</div>



{% endblock %}


{% block javascripts %}
<script>
    $(document).ready(function(){
        $('.btn-default-doralgina').on('click', function(e) {
            i = 0
            $('#form-quiz input[name="quiz-doralgina"]').each(function(e){
                if ($(this).is(':checked')) {
                    i++;
                } 
            });

            if (i > 0 && i <= 7) {
                window.location = "{{ path('doralgina_response', {'slug': 'pouco-drama'}) }}"
            } else if (i >= 8) {
                window.location = "{{ path('doralgina_response', {'slug': 'muito-drama'}) }}"
            } 
        });

        $(".check-input").change(function() {
            if ($(this).prop("checked") == true) {
                $(this).parent().parent().find('.checkmark').addClass('checked');
            }else{
                $(this).parent().parent().find('.checkmark').removeClass('checked');
            }
        });

        $(".check-input").trigger("change");
    });

</script>
{% endblock %}
