{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Doralgina - resposta {% endblock %}
    
{% block body %}
<div class="doralgina" id="doralgina-result">
   {% if app.request.get('slug') == "pouco-drama" %}
   <section class="text-center banner-histamin" >
      <img src="{{ asset('_dist/image/img/doralgina/banner-pouco-drama-mobile.jpg')}}" alt="Banner Pouco Drama" class="visible-xs">
      <img src="{{ asset('_dist/image/img/doralgina/banner-pouco-drama-desk.jpg')}}" alt="Banner Pouco Drama " class="hidden-xs">
   </section>
   
   {% elseif app.request.get('slug') == "muito-drama" %}
   <section class="text-center banner-histamin" >
         <img src="{{ asset('_dist/image/img/doralgina/banner-muito-drama-mobile.jpg')}}" alt="Banner Pouco Drama" class="visible-xs">
         <img src="{{ asset('_dist/image/img/doralgina/banner-muito-drama-desk.png')}}" alt="Banner Pouco Drama " class="hidden-xs">
   </section>
   {% endif %}
   <div class="container">

      <div class="doralgina-quiz-back">
         <a href="{{ path('doralgina') }}" class="btn-default btn-default-doralgina">VOLTAR PARA A HOME</a>
         <a href="{{ path('doralgina_quiz') }}" class="btn-default btn-default-doralgina">REFAZER O QUIZ</a>
      </div>

      <div class="texto-legal">
         <p>
            Doralgina. Drágeas. dipirona 300mg, mucato de isometepteno 30mg e cafeína 30mg. Indicações: como analgésico e antiespasmódico, incluindo enxaquecas ou para o tratamento de cólicas. MS 1.5584.0380. BRAINFARMA INDÚSTRIA QUÍMICA E FARMACÊUTICA S.A.SE PERSISTIREM OS SINTOMAS, O MÉDICO DEVERÁ SER CONSULTADO. Setembro/2020. Referência consultada: 1. Bula do produto Doralgina.​
         </p>      
      </div>
   </div>
</div>
{% endblock %}
