{# <div class="user-panel">
    <a href="{{path('admin_user_edit',{'id' : app.user.id})}}"><img src="{{ asset(app.user.avatar) }}" width="30px" alt="avatar do usuário"> {{app.user.name}}</a>
</div> #}

<ul class="sidebar-menu">
    <li class="treeview">
        <p class="menu-father" id="products">
            <span><i class="fa fa-link"></i> Relatórios</span>
            <i class="fas fa-chevron-down"></i>
        </p>
        <ul class="treeview-menu" id="products-menu">
            <li>
                <a href="{{ path('admin_relatorios') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Base Quinzenal</span>
                </a>
            </li>
        </ul>
    </li>


</ul>