<div class="user-panel">
    <a href="{{path('admin_user_edit',{'id' : app.user.id})}}"><img src="{{ asset(app.user.avatar) }}" width="30px" alt="avatar do usuário"> {{app.user.name}}</a>
</div>

<form method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Pesquisa...">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>

<ul class="sidebar-menu">
    <li class="treeview">
        <p class="menu-father" id="products">
            <span><i class="fa fa-link"></i> Produtos</span>
            <i class="fas fa-chevron-down"></i>
        </p>
        <ul class="treeview-menu" id="products-menu">
            <li>
                <a href="{{ path('admin_product_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Produtos</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_product_type_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Tipos de Produto</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_product_classification_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Classificação de Produto</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_product_category_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Categoria de Produto</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_product_sistemic_class_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Classe Sistêmica de Produto</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <p class="menu-father"  id="blog">
            <span><i class="fa fa-link"></i> Blog</span>
            <i class="fas fa-chevron-down"></i>
        </p>
        <ul class="treeview-menu" id="blog-menu">
            <li>
                <a href="{{ path('admin_blog_post_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Post</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_blog_category_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Categoria do Post</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_blog_type_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Tipo do Post</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <p class="menu-father" id="courses">
            <span><i class="fa fa-link"></i> Cursos</span>
            <i class="fas fa-chevron-down"></i>
        </p>
        <ul class="treeview-menu" id="courses-menu">
            <li>
                <a href="{{ path('admin_course_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Cursos</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <p class="menu-father" id="neotv">
            <span><i class="fa fa-link"></i> Campanhas</span>
            <i class="fas fa-chevron-down"></i>
        </p>
        <ul class="treeview-menu" id="neotv-menu">
            <li>
                <a href="{{ path('admin_neotv_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Vídeos</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_special_campaign') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Especiais</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_medals_gamification_index') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Medalhas</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <p class="menu-father" id="badges">
            <span><i class="fa fa-link"></i> Badges</span>
            <i class="fas fa-chevron-down"></i>
        </p>
        <ul class="treeview-menu" id="badges-menu">
            <li>
                <a href="{{ path('admin_badge_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Badges</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <p class="menu-father" id="quiz">
            <span><i class="fa fa-link"></i> Quiz</span>
            <i class="fas fa-chevron-down"></i>
        </p>
        <ul class="treeview-menu" id="quiz-menu">
            <li>
                <a href="{{ path('admin_quiz_all') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Quiz Novo</span>
                </a>
            </li>
            {# <li>
                <a href="{{ path('admin_quiz_all_question') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Perguntas e alternativas</span>
                </a>
            </li> #}
            <li>
                <a href="{{ path('admin_quiz_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Quiz Antigo</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <p class="menu-father" id="users">
            <span><i class="fa fa-link"></i> Users</span>
            <i class="fas fa-chevron-down"></i>
        </p>
        <ul class="treeview-menu" id="users-menu">
            <li>
                <a href="{{ path('admin_user_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Users</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <p class="menu-father" id="banners">
            <span><i class="fa fa-link"></i> Banners</span>
            <i class="fas fa-chevron-down"></i>
        </p>
        <ul class="treeview-menu" id="banners-menu">
            <li>
                <a href="{{ path('admin_banner_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Banners</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_banner_type_list') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Tipos de Banner</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <p class="menu-father" id="promocoes">
            <span><i class="fa fa-link"></i>Campanhas</span>
            <i class="fas fa-chevron-down"></i>
        </p>
        <ul class="treeview-menu" id="promocoes-menu">
            <li>
                <a href="{{ path('admin_promothirtyday_import_post') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>30 dias de Movimento</span>
                </a>
            </li>
            {# <li>
                <a href="{{ path('admin_register_incomplete') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Cadastro Incompletos</span>
                </a>
            </li> #}
        </ul>
    </li>
    <li class="treeview">
        <p class="menu-father" id="pharmacy">
            <span><i class="fa fa-link"></i> Farmácias </span>
            <i class="fas fa-chevron-down"></i>
        </p>
        <ul class="treeview-menu" id="pharmacy-menu">
            <li>
                <a href="{{ path('admin_pharmacy_full') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Farmácias</span>
                </a>
            </li>
        </ul>
    </li>
    


     <li class="treeview">
        <p class="menu-father" id="survey-question">
            <span><i class="fa fa-link"></i> Enquete</span>
            <i class="fas fa-chevron-down"></i>
        </p>
        <ul class="treeview-menu" id="survey-question-menu">
            <li>
                <a href="{{ path('admin_survey_question') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Enquete</span>
                </a>
            </li>
        </ul>
    </li>
    
    <li class="treeview">
        <p class="menu-father" id="gallery">
            <span><i class="fa fa-link"></i> Galeria</span>
            <i class="fas fa-chevron-down"></i>
        </p>
        <ul class="treeview-menu" id="gallery-menu">
            <li>
                <a href="{{ path('admin_gallery') }}">
                    <i class="fas fa-chevron-right"></i>
                    <span>Galeria</span>
                </a>
            </li>
        </ul>
    </li>



</ul>