 <div class="slide p-hero__item {{ b.is_logged ? 'check-if-is-logged ' : ''}} {{ b.is_promo ? 'banner-promo ' : ''}}" id="destaque-home-">

    {% if b.title or b.description %}
    <div class="p-hero__body">
        <h2 class="p-hero__title">{{ b.title|raw }}</h2>
        {% if b.description %}
            <p>{{ b.description|raw }}</p>
        {% endif %}
    </div>
    {% endif %}
    <figure class="p-hero__figure">
        <!-- Desktop -->
        <img src="{{ asset('_dist/image/img/banner-home-blank.gif') }}" style="background-image: url('{{asset(b.image)}}'), url(/_dist/image/img/default.jpg);" alt="{{b.title}}" class="img-post hidden-xs" />

        <!-- Mobile -->
        <img src="{{ asset('_dist/image/img/banner-home-mobile-blank.gif') }}" style="background-image: url('{{asset(b.image_mobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{b.title}}" class="img-post visible-xs" />
    </figure>
    
    {% if b.link %}
    <div class="p-hero__link">
        <a href="{{b.link}}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'banner_home','event_section': 'home','event_text': '{{b.title|raw}}','event_action': 'click'});" class="btn-default">Saiba mais</a>
    </div>
    {% endif %}
</div>