{% set pageIndex = 'blg' %}
<div class="filter-modal modal-content cat-1">
    <div class="space-h-20 text-center">
        <a class="close-modal" id="blg_mid_ctg_lnk_voltar">< Voltar</a>
    </div>
    <form action="" class="form" id="form" method="POST">
        <div class="space-h-10">
            <label class="title-label" for="select">Ordenar por</label>
            <select id="select"  class="form-control" name="filter[orderBy]">
                <option value="">Selecione uma opção</option>
                <option value="1" id="blg_mid_ctg_lst_maisrecente" {{ filter.orderBy is defined ? (filter.orderBy == '1' ? 'selected' : '') : '' }}>Mais recente</option>
                <option value="2" id="blg_mid_ctg_lst_maisantiga" {{ filter.orderBy is defined ? (filter.orderBy == '2' ? 'selected' : '') : '' }}>Mais antiga</option>
                <option value="3" id="blg_mid_ctg_lst_ordemalfabetica" {{ filter.orderBy is defined ? (filter.orderBy == '3' ? 'selected' : '') : '' }}>Ordem alfabética</option>
                <option value="4" id="blg_mid_ctg_lst_maisvistos" {{ filter.orderBy is defined ? (filter.orderBy == '4' ? 'selected' : '') : '' }}>Mais vistos</option>
                <option value="5" id="blg_mid_ctg_lst_maisvotados" {{ filter.orderBy is defined ? (filter.orderBy == '5' ? 'selected' : '') : '' }}>Mais votados</option>
            </select>
        </div>
        
        <div class="space-h-10">
            <label class="title-label">Filtrar por formato do conteúdo</label>
            {% for t in types %}
                <div class="form-check">
                    <input type="checkbox" name="filter[type][{{'type-' ~ loop.index}}]" value="{{ t.slug }}" id="filter-tipo-{{ t.slug }}" {{ filter.type is defined ? (t.slug in filter.type ? 'checked' : '') : '' }} />
                    <label for="filter-tipo-{{ t.slug }}"  class="form-check-label">{{ t.name }}</label>
                </div>
            {% endfor %}
        </div>

        <div class="space-h-10">
            <label class="title-label">Tempo estimado</label>
            <select id="select"  class="form-control" name="filter[readingTime]">
                <option value="">Selecione uma opção</option>
                <option value="1" id="blg_mid_ctg_lst_ate05minutos" {{ filter.readingTime is defined ? (filter.readingTime == '1' ? 'selected' : '') : '' }}>Até 05 minutos</option>
                <option value="5" id="blg_mid_ctg_lst_de06a10minutos" {{ filter.readingTime is defined ? (filter.readingTime == '5' ? 'selected' : '') : '' }}>De 06 a 10 minutos</option>
                <option value="10" id="blg_mid_ctg_lst_de11a15minutos" {{ filter.readingTime is defined ? (filter.readingTime == '10' ? 'selected' : '') : '' }}>De 11 a 15 minutos</option>
                <option value="15" id="blg_mid_ctg_lst_maisque15minutos" {{ filter.readingTime is defined ? (filter.readingTime == '15' ? 'selected' : '') : '' }}>Mais que 15 minutos</option>
            </select>
        </div>
        
        <div class="space-h-10">
            <label class="title-label">Categoria</label>
            {% for c in categories %}
                <div class="form-check">
                    <input type="checkbox" name="filter[category][{{ 'categoy-' ~ loop.index}}]" value="{{ c.slug }}" id="filter-categoria-{{ c.slug }}" {{ filter.category is defined ? (c.slug in filter.category ? 'checked' : '') : '' }} />
                    <label for="filter-categoria-{{ c.slug }}" class="form-check-label">{{ c.name }}</label>
                </div>
            {% endfor %}
        </div>

        <div class="d-flex d-flex justify-content-between">
            <button type="delete" id="blg_mid_ctg_chk_limparfiltros" class="btn-default btn-full">Limpar filtros</button>
            <button type="submit" id="blg_mid_ctg_chk_filtrar" class="btn-default btn-full">Filtrar</button>
        </div>
    </form>
</div>