<div class="posts-item cat-{{ cat }}">
    <figure class="post-image">
        {% if class == 'blog'%}
            <a href="{{ path('blog_detail', {'slug' : object.slug}) }}" class="{{ object.isPublic ? '' : ' check-if-is-logged'}}" id="post-image-{{class}}-{{object.slug}}">
        {% elseif class == 'course'%}
            <a href="{{path('course_detail',{'slug' : object.slug})}}" class="{{ object.isPublic ? '' : ' check-if-is-logged'}}" id="post-image-{{class}}-{{object.slug}}">
        {% elseif class == 'quiz'%}
            <a href="{{path('quiz_detail',{'slug' : object.slug})}}" class="{{ object.isPublic ? '' : ' check-if-is-logged'}}" id="post-image-{{class}}-{{object.slug}}"> 
        {% elseif class == 'product'%} 
            <a href="{{path('product_detail',{'slug' : object.slug})}}" class="{{ object.isPublic ? '' : ' check-if-is-logged'}}" id="post-image-{{class}}-{{object.slug}}">
        {% endif %}
        <img src="{{ asset('_dist/image/img/blank_default.gif') }}" style="background-image: url('{{asset(object.imageMobile is defined ? object.imageMobile : object.bannerMobile)}}'), url(/_dist/image/img/default.jpg);" alt="{{ object.name is defined ? object.name : object.title}}" class="img-post" />
        </a>
        </figure>
        <div class="post-info">
            <h2 class="text-center">{{object.name is defined ? object.name : object.title}}</h2>
        </div>
        <div class="text-center">
        {% if class == 'blog'%}
            <a href="{{ path('blog_detail', {'slug' : object.slug}) }}" class="btn-default {{ object.isPublic ? '' : ' check-if-is-logged btn-default'}}" id="post-image-{{class}}-{{object.slug}}">SAIBA MAIS
        {% elseif class == 'course'%}
            <a href="{{path('course_detail',{'slug' : object.slug})}}" class="btn-default {{ object.isPublic ? '' : ' check-if-is-logged btn-default'}}" id="post-image-{{class}}-{{object.slug}}">SAIBA MAIS
        {% elseif class == 'quiz'%}
            <a href="{{path('quiz_detail',{'slug' : object.slug})}}" class="btn-default {{ object.isPublic ? '' : ' check-if-is-logged btn-default'}}" id="post-image-{{class}}-{{object.slug}}"> SAIBA MAIS
        {% elseif class == 'product'%} 
            <a href="{{path('product_detail',{'slug' : object.slug})}}" class="btn-default {{ object.isPublic ? '' : ' check-if-is-logged btn-default'}}" id="post-image-{{class}}-{{object.slug}}">SAIBA MAIS
        {% endif %}
        </a>
        </div>
    
</div>