<div class="modal-default" id="filter-product">
    <div class="filter-modal modal-content">
        <div class="space-h-20 text-center">
            <a class="close-modal">< Voltar</a>
        </div>
        <form action="" class="form" id="form-filter-products" method="POST">
            <div class="space-h-10">
                <label class="title-label" for="select">Molécula</label>
                <input type="hidden" name="category" value="{{selectCat}}" />
                <select id="filter-molecula"  class="form-control select-content" name="filter[activeSubstance]">
                    <option value="">Selecione a Molécula</option>
                    {% for as in activeSubstance %}
                        <option value="{{ as.activeSubstance }}" {{ filter.activeSubstance is defined ? (filter.activeSubstance == as.activeSubstance  ? 'selected' : '') : '' }}>{{ as.activeSubstance }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="space-h-10">
                <label class="title-label" for="select">Classe sistêmica</label>
                <select id="filter-classe-sistemica"  class="form-control select-content" name="filter[sistemicClass]">
                    <option value="">Selecione uma Classe Sistêmica</option>
                    {% for sc in sistemicClasses %}
                        <option value="{{ sc.id }}" {{ filter.sistemicClass is defined ? (filter.sistemicClass == sc.id  ? 'selected' : '') : '' }}>{{ sc.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="space-h-10">
                <label class="title-label">Tipo de apresentação</label>
                {% for t in types %}
                    <div class="form-check">
                        <input type="checkbox" name="filter[type][{{loop.index}}]" value="{{ t.slug }}" id="filter-tipo-{{ t.slug }}" {{ filter.type is defined ? (t.slug in filter.type ? 'checked' : '') : '' }} />
                        <label for="filter-tipo-{{ t.slug }}"  class="form-check-label">{{ t.name }}</label>
                    </div>
                {% endfor %}
            </div>

            <div class="d-flex d-flex justify-content-between">
                <button type="delete" class="btn-default btn-full">Limpar filtros</button>
                <button type="submit" class="btn-default btn-full">Filtrar</button>
            </div>
        </form>
    </div>
</div>