{% set controller = '' %}
{% set module = '' %}
{% set root = app.request.get('_route') %}
{% set body_classes = app.request.get('_route') | replace({'_': ' '}) %}

{% if app.request.attributes.get('_template').get('controller') is defined %}
    {% set controller = app.request.attributes.get('_template').get('controller') | lower %}
    {% set module = app.request.attributes.get('_template').get('controller') | lower %}
    {% set body_classes = app.request.get('_route') | replace({'_': ' '}) %}
{% else %}
    {% set controller = app.request.get('_controller') | lower | split(':') %}
    {% set module = controller[2] %}
    {% set root = controller[2] ~ '_' ~ controller[1] %}
    {% set body_classes = controller[2] ~ ' ' ~ controller[1] %}
{% endif %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{{asset('vendor/select/select2.min.css') }}">
        <link rel="stylesheet" href="{{asset('vendor/assets/owl.carousel.min.css')}}"/>
        <link rel="stylesheet" href="{{asset('vendor/assets/owl.theme.default.min.css')}}"/>
        <link crossorigin="anonymous" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{asset('vendor/c3/c3.min.css') }}">
        
        <link rel="stylesheet" href="{{asset('_dist/css/admin.min.css')}}"/> 
        <link rel="icon" type="image/png" href="{{asset('_dist/image/icon.png')}}" />
        {% block stylesheets %}
        {% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('_dist/image/icon.png') }}"/>

        <script src="//kit.fontawesome.com/3e0384322e.js"></script>
    </head>
    <body>
        <header>
            <div class="logo" >
                <a class="hold-logo" href="{{path('admin_home')}}">
                    <span class="logo-mini">
                        <img src="{{ asset('_dist/image/icon.png') }}">
                    </span>
                    <span class="logo-lg">
                        Portal Neo Pharma
                    </span>
                </a>
                <div class="hold-menu">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="{{ path('logout') }}">
                                <i class="fas fa-sign-out-alt"></i> Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
   
        <section class="content">
            <section class="sidebar">
                {% if app.user.id is defined %}
                    {% if app.user.isAdminClient %}
                        {{ include('component/admin-cliente-menu.html.twig') }}
                    {% else %}
                        {{ include('component/admin-menu.html.twig') }}
                    {% endif %}
                {% endif %}
                                
            </section>
            <div class="admin-content"> 
                {% block body %}{% endblock %}
            </div>
        </section>
        <footer></footer>
        <div class="lightbox">
            <p id="lightbox-text">Aguarde</p>
            <img id="lightbox-loading" src="{{ asset('_dist/image/admin/loading.gif') }}">
        </div>
        <script type="text/javascript">
            var module = "{{ module }}";
            var root = "{{ app.request.get('_route') }}";
            var url = {
                base: window.location.protocol + "//" + window.location.host + "{{ app.request.baseUrl }}",
                assets: window.location.protocol + "//" + window.location.host + "{{ app.request.basepath }}",
                relative: "{{ app.request.pathInfo }}"
            }
            var referredContentUrl = "{{absolute_url(path('api-get-referred'))}}";
            var removeReferredContentUrl = "{{absolute_url(path('api-remove-referred'))}}";
        </script>
        <script type="text/javascript" src="{{asset('vendor/jquery-3.4.1.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('ckeditor/ckeditor.js')}}" charset="utf-8"></script>
        <script type="text/javascript" src="{{asset('vendor/owl.carousel.min.js')}}"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js" type="text/javascript"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="{{asset('vendor/c3/c3.min.js') }}"></script>
        <script src="{{asset('vendor/select/select2.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="{{asset('_dist/js/admin.js')}}"></script>

        </body>
    </html>
