{% set controller = '' %}
{% set module = '' %}
{% set root = app.request.get('_route') %}
{% set body_classes = app.request.get('_route') | replace({'_': ' '}) %}

{% if app.request.attributes.get('_template').get('controller') is defined %}
    {% set controller = app.request.attributes.get('_template').get('controller') | lower %}
    {% set module = app.request.attributes.get('_template').get('controller') | lower %}
    {% set body_classes = app.request.get('_route') | replace({'_': ' '}) %}
{% else %}
    {% set controller = app.request.get('_controller') | lower | split(':') %}
    {% set module = controller[2] %}
    {% set root = controller[2] ~ '_' ~ controller[1] %}
    {% set body_classes = controller[2] ~ ' ' ~ controller[1] %}
{% endif %}



<!DOCTYPE html>
<html lang="pt-br" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    {% if metadescription is defined %}
        <meta name="description" content="{{ metadescription|raw }}">
    {% endif %}
    {% if metatitle is defined %}
        <meta name="title" content="{{ metatitle|raw }} - Portal Neo Pharma">
    {% endif %}

    <title>{% block title %}{% endblock %} - Portal Neo Pharma</title>
    <link rel="icon" type="image/png" href="{{asset('_dist/image/template/icon.png')}}" />
    <link rel="stylesheet" href="{{asset('vendor/select/select2.min.css') }}">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" /> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" integrity="sha384-tdg34jSbH8ohY76kZBTLOTf+YjdokUkiuqsrTIqPDDMmRWRyizPFmubeabSKEFzZ" crossorigin="anonymous">
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('_dist/css/main.min.css') }}" />
    <style>
        .error{ color: red !important; }
    </style>
    {% block styles %}{% endblock %}
    {% block metatags %}{% endblock %}
    {% block openGraph %}{% endblock %}
	{% block openGraphTwitter %}{% endblock %}

    <!-- Meta Tags de Segurança -->
        <meta http-equiv="default-src 'self' *.portalneopharma.com.br *.youtube.com *.gstatic.com d3js.org *.fontawesome.com *.github.io fonts.googleapis.com *.bootstrapcdn.com *.github.io *.google.com.br *.google.com *.doubleclick.net *.google-analytics.com accounts.google.com cdnjs.cloudflare.com *.googletagmanager.com *.facebook.net connect.facebook.net *.facebook.com apis.google.com 'unsafe-inline'">
    <!-- End Meta Tags de Segurança -->

    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ GTM_ID }}');</script>
    <!-- End Google Tag Manager -->

    <!-- GTAG -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{GTAG}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('set', {
            'cookie_flags': 'SameSite=None;Secure'
        });

        gtag('config', '{{GTAG}}');       
    </script>
    <!-- END GTAG -->

    <meta name="facebook-domain-verification" content="sfdu8u77hg5iyd43slswu904hyyzku" />
</head>
<body class="{{ app.user ? 'logged' : '' }} page-{{ app.request.get('_route') ~ ' ' ~ body_classes }}" >
    <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GTM_ID }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script type="text/javascript">
        setTimeout(function(){
            FB.init({
                appId      : '{{ FACEBOOK_ID }}',
                xfbml      : true,
                version    : 'v4.0'
            });
        }, 1000);
    </script>
    <!-- Integração API EmBlue -->
    <script>(function (w, d, t, r, u, o, s, f) {w[r] = w[r] || function () {(w._rq = w._rq || []).push(Array.prototype.slice.call(arguments))};s = d.createElement(t),f = d.getElementsByTagName(t)[0];s.async = 1;s.src = u;s.id = 'rtracker';s.setAttribute('data-api-key', o);f.parentNode.insertBefore(s, f)})(window, document, 'script', '_gb', 'https://track.embluemail.com/tracker/tracker.js', '4d8ef15b32424f33a117f92ad695b2a6');</script>
  
    {% set flashes = app.flashes %} <!--- Notificação flash para modal -->
    <div id="loadpage" style="background: #FFF; width:100%; height:100%;"><div style="width:70px; height:70px; position: fixed; left:0; top:0; bottom:0; right:0; margin: auto;z-index: 9999;"><img src="{{ asset('_dist/image/img/loading.gif') }}"></div></div>
    <section class="conatiner-total">
        
        {# {{ dump('base', app.flashes, app.session.flashbag.all) }} #}
        <header class="header" id="header">
            <div class="container">
                <div class="content-header">
                    <div class="btn-menu visible-xs">
                        <button id="menu-mobile" class="menu-mobile" data-menu="menu">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </button>
                    </div>
                    
                    <div class="logo">
                        <a href="{{ path('home') }}" id="" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'header_click','event_section': 'header','event_local': '{{ path('home') }}','event_text': 'Logo','event_action': 'click-area-deslogada'});">
                            <img src="{{ asset('_dist/image/template/logo.png') }}" alt="Logo Neo Pharma" />
                        </a>
                    </div>

                    <div class="menu nav-menu" id="menu">
                        <div class="container-menu">
                            <div class="form-src visible-xs" id="form-src">
                                <form action="{{path('home-search')}}" method="get">
                                    <input type="text" placeholder="O que está buscando?" name="q" id="src-top" required>
                                    <input type="text" name="o" id="src-top"  value="{{ app.request.requestUri }}">
                                    <button type="submit" id="btn-src"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <ul class="nav">
                                <li class="dropdown">
                                    <a id="">A Neo Química</a>
                                    <ul class="submenu">
                                        <li><a href="{{ path('home-about') }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'subheader_categories','event_section': 'header','event_local': '{{ path('home-about') }}','event_text': 'A Neo Química_Quem somos','event_action': 'click-area-deslogada'});">Quem somos</a></li>
                                        <li><a href="{{ path('home-welcome') }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'subheader_categories','event_section': 'header','event_local': '{{ path('home-welcome') }}','event_text': 'A Neo Química_Neo Pharma','event_action': 'click-area-deslogada'});">Neo Pharma</a></li>
                                        <li><a href="{{ path('campanhas_home') }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'subheader_categories','event_section': 'header','event_local': '{{ path('campanhas_home') }}','event_text': 'A Neo Química_Vídeos','event_action': 'click-area-deslogada'});">Vídeos</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a>Informação</a>
                                    <ul class="submenu">
                                        
                                        <li><a href="{{ path('blog_home', {'tipo':'materias'}) }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'subheader_categories','event_section': 'header','event_local': '{{ path('blog_home', {'tipo':'materias'}) }}','event_text': 'Informação_Matérias','event_action': 'click-area-logada'});">Matérias</a></li>
                                        <li><a href="{{ path('blog_home', {'tipo':'podcast'}) }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'subheader_categories','event_section': 'header','event_local': '{{ path('blog_home', {'tipo':'podcast'}) }}','event_text': 'Informação_Podcast','event_action': 'click-area-logada'});">Podcast</a></li>
                                        <li><a href="{{ path('quiz_home') }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'subheader_categories','event_section': 'header','event_local': '{{ path('quiz_home') }}','event_text': 'Informação_Quiz','event_action': 'click-area-logada'});">Quiz</a></li>
                                        {# <li><a href="">Web Séries</a></li> #}
                                        <li><a href="{{ path('blog_home') }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'subheader_categories','event_section': 'header','event_local': '{{ path('blog_home') }}','event_text': 'Informação_Ver todas','event_action': 'click-area-logada'});">Ver todas</a></li>
                                    </ul>
                                </li>
                                {# <li><a href="{{ path('course_home') }}" id="cursos"  onclick="dataLayer.push({'event': 'gaEvent','event_name': 'header_click','event_section': 'header','event_local': '{{ path('course_home') }}','event_text': 'Cursos','event_action': 'click-area-logada'});">Cursos</a></li> #}
                                <li><a href="{{ path('product_home') }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'header_click','event_section': 'header','event_local': '{{ path('product_home') }}','event_text': 'Produtos','event_action': 'click-area-logada'});">Produtos</a></li>
                                
                                {% set specials = pagesSpecial() %}
                                <li class="dropdown">
                                    <a>Especiais</a>
                                    <ul class="submenu">
                                        <li><a href="{{ path('gamefication') }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'header_click','event_section': 'header','event_local': '{{ path('gamefication') }}','event_text': 'Neo Química Conquista','event_action': 'click-area-logada'});">Neo Química Conquista</a></li>
                                        {% for special in specials %}
                                            <li><a href="{{ path('specials', {'slug': special.slug}) }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'subheader_categories','event_section': 'header','event_local': '{{ path('specials', {'slug': special.slug}) }}','event_text': '{{ 'Neo Química Conquista_' ~ special.title }}','event_action': 'click-area-logada'});">{{ special.title }}</a></li>
                                        {% endfor %}                                        
                                        <li><a href="{{ path('specials') }}" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'subheader_categories','event_section': 'header','event_local': '{{ path('specials') }}','event_text': 'Neo Química Conquista_Ver todos','event_action': 'click-area-logada'});">Ver todos</a></li>
                                    </ul>
                                </li>
                                {# <li class="dropdown">
                                    <a>Benefícios</a>
                                    <ul class="submenu">
                                        <li><a href="{{ path('orienteme') }}">Terapia Psicológica Online – Gratuita</a></li>
                                    </ul>
                                </li> #}
                                
                                {% if app.user.isPharmacy is defined and app.user.isPharmacy and app.user.codExcelencia == 0 %}
                                <li>
                                    <a onclick="consult('{{app.user.cnpj}}','{{app.user.cpf}}');" id="mnu_excelencia" class="mnu_excelencia check-if-is-logged" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'header_click','event_section': 'header','event_local': '{{ path('specials') }}','event_text': 'NEO EXCELÊNCIA','event_action': 'click-area-logada'});">NEO EXCELÊNCIA</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    {% if app.user.id is not defined %}
                    <div class="logo-neoquimica">
                        <img src="{{ asset('_dist/image/template/logo-neo-quimica.svg') }}" alt="Logo Neo Química" />
                    </div>
                    {% endif %}

                    <div class="form-src-desk hidden-xs" id="form-src-desk" data-modal="modal-search-desk">
                        <div class="button-form-src-desk"><i class="fa fa-search"></i></div>
                    </div>
                </div>
                {% if app.user.id is defined %}
                    {% set name = app.user.name %}
                    
                    {% if ' ' in app.user.name %}
                        {% set name = app.user.name|split(' ')[0] %}
                    {% endif %}
                
                    <div class="user-menu">
                        {% if app.user.avatar is not null  %}
                            <div class="avatar-menu" style="background-image: url('{{asset(app.user.avatar)}}')"></div>
                            {% else %}
                            <div class="avatar-menu" style="background-image: url(/_dist/image/img/avatar.jpg);"></div>
                        {% endif %}

                        <div class="user-info">
                            <p class="name-user">
                                Olá, <span>{{ name }}</span>
                            </p>
                            <div class="user-drop-dowm">
                                <ul>
                                {% if is_granted('ROLE_USER') and not is_granted('ROLE_FARMACO') and not is_granted('ROLE_BALCAO') and not is_granted('ROLE_ADMIN') and not is_granted('ROLE_FARMACIA') %}
                                    <li>
                                        <a href="{{ path('home-register-complete', {'paramenter':'incompleto'}) }}" id="user-home">Meus dados</a>
                                    </li>
                                {% else %}
                                {% if is_granted('ROLE_FARMACO') and app.user.crf is empty %}
                                    <li>
                                        <a href="{{ path('user-home', {'paramenter':'cadastro-incompleto'}) }}" id="user-home">Meus dados</a>
                                    </li>
                                {% elseif is_granted('ROLE_BALCAO') and app.user.cnpj is empty %}
                                    <li>
                                        <a href="{{ path('user-home', {'paramenter':'cadastro-incompleto'}) }}" id="user-home">Meus dados</a>
                                    </li>
                                {% else %}
                                    <li><a href="{{ path('user-home') }}" id="user-home">Meus dados</a></li>
                                {% endif %}
                                    <li><a href="{{ path('gamefication_points') }}" id="user-points">Meus pontos</a></li>
                                    <li><a href="{{ path('user-favorites') }}" id="user-favorites">Favoritos</a></li>
                                    <li><a href="{{ path('user-invite') }}" id="user-invite">Indique um amigo</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_FARMACIA') %}
                                    <li><a href="{{ path('user-responsible-update') }}" id="user-invite">Alteração de responsável</a></li>
                                {% endif %}
                                    <li><a href="{{ path('user-preferences') }}" id="user-preferences">Preferências</a></li>
                                    <li><a href="{{ path('logout') }}" id="user-logout">Sair</a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                {% endif %}
            </div>
        </header>

        {% if app.user %}
        <div class="search-global">
            <div class="form">
            <form action="{{path('home-search')}}" method="get" id="search" class="form">
                <button type="button" id="btn-src-desk" class="btn-search"><i class="fa fa-search"></i></button>
                <input type="text" name="q" id="src-top-desk" class="search" placeholder="O que está buscando?" required>
                <input type="hidden" name="o" id="src-top" value="{{ app.request.requestUri }}">
            </form>
            </div>
        </div> 
        {% endif %}
  
        {% block body %}{% endblock %}

        <footer class="footer" id="footer">
            <div class="container">
                <div class="logo-footer">
                    <a href="{{ path('home') }}" id="">
                        <img src="{{ asset('_dist/image/img/logo-footer.png') }}" alt="Logo Neo Pharma">
                    </a>
                </div>
                
                <ul class="menu-footer-top">
                    <li><a href="{{ path('home-about') }}" id="" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'footer_click','event_section': 'footer','event_local': '{{ path('home-about') }}','event_text': 'A NEO QUIMICA',
'event_action': 'click'});">A NEO QUIMICA</a></li>
                    <li><a href="{{ path('blog_home') }}" id="" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'footer_click','event_section': 'footer','event_local': '{{ path('blog_home') }}','event_text': 'Informação',
'event_action': 'click'});">Informação</a></li>
                    {# <li><a href="{{ path('course_home') }}" id="" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'footer_click','event_section': 'footer','event_local': '{{ path('course_home') }}','event_text': 'Cursos',
'event_action': 'click'});">Cursos</a></li> #}
                    <li><a href="{{ path('product_home') }}" id="" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'footer_click','event_section': 'footer','event_local': '{{ path('product_home') }}','event_text': 'PRODUTOS',
'event_action': 'click'});">PRODUTOS</a></li>
                    <li><a href="{{ path('specials') }}" id="" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'footer_click','event_section': 'footer','event_local': '{{ path('specials') }}','event_text': 'ESPECIAIS',
'event_action': 'click'});">ESPECIAIS</a></li>
                </ul>

                <ul class="menu-footer">
                    <li><a href="{{ path('home-contact-us') }}" id="" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'footer_click','event_section': 'footer','event_local': '{{ path('home-contact-us') }}','event_text': 'Fale Conosco',
'event_action': 'click'});">Fale Conosco</a></li>
                    <li><a href="{{ path('home-privacy') }}" id="" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'footer_click','event_section': 'footer','event_local': '{{ path('home-privacy') }}','event_text': 'Política de Privacidade',
'event_action': 'click'});">Política de Privacidade</a></li>
                    <li><a href="{{ path('home-term') }}" id="" onclick="dataLayer.push({'event': 'gaEvent','event_name': 'footer_click','event_section': 'footer','event_local': '{{ path('home-term') }}','event_text': 'Termos de Uso',
'event_action': 'click'});">Termos de Uso</a></li>
                </ul>
                <p class="copy">
                    Importante: Esta é uma plataforma da Neo Química destinada a profissionais de saúde que trabalham em farmácias.
                    <span>Copyright © Neo Química</span>
                </p>
            </div>
        </footer>
    </section>
    <script type="text/javascript">
        var module = "{{ module }}";
        var root = "{{ app.request.get('_route') }}";
        var url = {
            base: window.location.protocol + "//" + window.location.host + "{{ app.request.baseUrl }}",
            assets: window.location.protocol + "//" + window.location.host + "{{ app.request.basepath }}",
            relative: "{{ app.request.pathInfo }}"
        }
        var userIsLogged = {{ app.user.id is defined ? 1 : 0 }};
        //var ajaxUrlLogin = "{{ path('api-login') }}";
        var ajaxUrlLogin = "{{ path('home-register') }}";
        var ajaxUrlLoginSocialMedia = "{{ path('api-login-social-media') }}";
        var register = "{{ path('home-register') }}";
    </script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    
    <script src="{{ asset('libs/js/firebase-app.js') }}"></script>
    {# <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script> #}
    <script src="{{ asset('libs/js/firebase-messaging.js') }}"></script>
    {# <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-messaging.js"></script> #}

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyB815J-qbp79S_n-GrKKWLh8-0wJdZebYg",
            authDomain: "neoquimica-5a35d.firebaseapp.com",
            databaseURL: "https://neoquimica-5a35d.firebaseio.com",
            projectId: "neoquimica-5a35d",
            storageBucket: "neoquimica-5a35d.appspot.com",
            messagingSenderId: "585804593058",
            appId: "1:585804593058:web:8e3b5fcf517d13eb5d64fb",
            measurementId: "G-D2FFE0S2KB"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>

    <script src="{{ asset('libs/js/connectfacebooksdk.js') }}" id="facebook-jssdk"></script>
    {# <script src="https://connect.facebook.net/en_US/sdk.js" id="facebook-jssdk" integrity="" crossorigin="anonymous"></script> #}

    <script src="{{ asset('_dist/js/jquery.min.js') }}"></script>
    <script src="{{ asset('_dist/js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('_dist/js/plugins.js') }}"></script>
    <script src="{{ asset('libs/js/apis.google.cliente.js') }}"></script>
    {# <script src="https://apis.google.com/js/api:client.js" integrity="" crossorigin="anonymous"></script> #}
    <script src="{{ asset('_dist/js/jquery.steps.min.js') }}"></script>
    <script src="{{ asset('_dist/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('_src/js/core.js') }}"></script>
    <script src="{{ asset('_dist/js/firebase.js') }}?"></script>
    <script src="{{ asset('_dist/js/main.js') }}"></script>

    {% if pageIndex is not defined %}
        {% set pageIndex = '' %}
    {% endif %}

    <script type="text/javascript">
        var pageIndex = "{{ pageIndex }}";
        

        $("[data-id]").each(function(x, e){
            var idGtm = $(this).data('id');
            var sectionIdGtm = $(this).data('section');
            $(this).attr('id', pageIndex + '_'+ sectionIdGtm +'_'+ idGtm);
        });
       
        //console.log(pageIndex);
        function consult(cnpj, cpf){
            var url  = "{{path('consulta-acesso-excelencia')}}";
            // Get the user agent string
            var deviceAgent = navigator.userAgent;
            // Set var to iOS device name or null
            var ios = deviceAgent.toLowerCase().match(/(iphone|ipod|ipad)/);


            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                cache: false,
	            headers: { "cache-control": "no-cache" },
                data: {
                    //'type': 'consult',
                    //'cnpj': cnpj, 
                    //'cpf': cpf
                },
                success: function (response) {
                    if(response.status){
                        if (ios) {
                            window.location = response.url;
                        }else{
                            //window.open(response.url, '_blank');
                            window.location = response.url;
                        }
                    }else{
                        $('.excelencia-msg-modal .gjmsg h2').text(response.message)
                        modalMsg()
                        if (response.error == 'GJ001') {
                            setTimeout(function() { 
                                window.location = "{{ path('user-home') }}";
                            }, 3000);
                        }
                    }
                } 
            });
        }

        //modal mensagem API sonora 
        function modalMsg(){
            $('#mnu_excelencia').removeClass('hide');
            $('#mnu_excelencia').addClass('show');
             
            if($('.excelencia-msg-modal').hasClass('open-menu')){
                $('.excelencia-msg-modal').removeClass('open-modal');
            } else{
                $('.excelencia-msg-modal').addClass('open-modal');
            }
        }

        // o código abaixo faz parte da busca
        $(document).on('click', '.btn-search', function(e) {
            search()
        });

        $(document).keypress(function(e) {
            if(e.which == 13) {
                search()
            }
        });

        function search() {
            var value = $('.search').val().trim()
            
            if (!value) {
               return false
            }
            
            window.location.href = "{{ path('home-search') }}?q=" + value
        }
        //end busca

        $(window).bind("load", function() {
            $("#loadpage").fadeOut(100);
            $("body>.conatiner-total").css("opacity", 1).hide().fadeIn(600)
        });

        {% if app.user.id is defined %}
            var paramsString = window.location.search
            {% if is_granted('ROLE_BALCAO') %}
                setGetParam('user_category', '002B');
            {% elseif is_granted('ROLE_FARMACO') %}
                setGetParam('user_category', '001F');
            {% elseif is_granted('ROLE_FARMACIA') %}
                setGetParam('user_category', '003G');
            {% endif %}

            dataLayer.push({
                'event': 'gaEvent',
                'event_name': 'login_sucesso',
                'event_section': 'login',
                'event_action': 'sucesso'
            });

            function setGetParam(key,value) {
                if (history.pushState) {
                    var params = new URLSearchParams(window.location.search);
                    params.set(key, value);
                    var newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?' + params.toString();
                    window.history.pushState({path:newUrl},'',newUrl);
                }
            }
        {% endif %}

        //gameficação notificações
        setTimeout(function() {
            closeNotification();
            closeNotification();
        }, 700);

        function closeNotification() {
            var i = $('.popup-gamefication').data('i')
            var t = $('.popup-gamefication').data('type')
            var il = $('.level').data('il')
            
            $.ajax({
                url: "{{ path('gamefication_notification') }}",
                type: "POST",
                dataType: "json",
                cache: false,
                headers: { "cache-control": "no-cache" },
                data: {
                    'i': i,
                    't': t,
                    'il': il,
                },
                success: function (response) {
                    //console.log('i', response)
                    $('.popup-gamefication').fadeOut();
                }

            });     
        }
    </script>
    
    {% block javascripts %} {% endblock %}
    {% if app.request.attributes.get('_route') == 'home' %}
        {% if app.user.id is defined %}
            {% set is_active_modal = false %}

            {% if user_preferential|length > 0 %}
                {% if not user_preferential.teamFootball and user_preferential.teamFootball != '' %}
                    {% set is_active_modal = true %}
                {% elseif not user_preferential.sport and user_preferential.sport != '' %}
                    {% set is_active_modal = true %}
                {% elseif not user_preferential.isChildren and user_preferential.isChildren != '' %}
                    {% set is_active_modal = true %}
                {% endif %}
            {% else %}
                {% set is_active_modal = true %}
            {% endif %}

            {% if is_active_modal %}
            <!-- Modal Olá -->
            <div class="" id="modal-hello-answer">
                <div class="modal-hello-answer-content">
                    <h2>Olá!</h2>
                    <p>Por favor, nos ajude a saber um pouco mais sobre você.</p>
                    <div class="space-h-20"><a href="{{ path('user-preferences') }}" class="btn-default" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'pop-up', 'eventAction': 'click', 'eventLabel': 'preferencias:responder-agora'});">RESPONDER AGORA</a></div>
                    <div class="text-right">
                        <a class="close-modal-answer" id="">X</a>
                    </div>
                </div>
            </div>

            <script>
                $('.close-modal-answer').unbind('click').on('click' , function(e){
                    e.preventDefault();
                   $('#modal-hello-answer').hide();
                });
            </script>
            {% endif %}
        {% endif %}
    {% endif %}

    <!-- Modal Excelência -->
    <div class="modal-default excelencia-msg-modal">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" id="close-lightbox" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20 gjmsg">
                    <h2></h2>
                </div>
                
            </div>
        </div>
    </div>

    {% if app.user.id is defined %}
        {% set notification_gamefication = notificationGamification(app.user) %}
        {# {{ dump(notification_gamefication) }} #}
        {% if notification_gamefication.is_mission %}
            {% if not notification_gamefication.is_mission_show_popup %}
                <div class="popup-gamefication-win popup-gamefication" data-i="{{ notification_gamefication.point_id }}" data-type="mission">
                    <div class="popup-gamefication-win-container">
                        <span class="close-pop">X</span>
                        <h3>Conquista<br> mais recente:</h3>
                        <div class="popup-gamefication-win-box">
                            <figure>
                                <img src="{{ asset(notification_gamefication.medal_icon)}}" alt="{{ notification_gamefication.medal_name }}" title="{{ notification_gamefication.medal_name }}" />
                            </figure>
                            <span class="popup-gamefication-win-text">{{ notification_gamefication.medal_name }}</span>
                        </div>
                    </div>
                </div>
            {% else %}
                {# <div class="popup-gamefication-points popup-gamefication" data-i="{{ notification_gamefication.point_id }}">
                    <div class="popup-gamefication-points-cotainer">
                        <span class="close-pop">X</span>
                        <div class="popup-gamefication-point-box">
                            <span class="popup-gamefication-point-number">{{ '+' ~ notification_gamefication.interation_point }}</span>
                            <span class="popup-gamefication-point">pontos</span>
                        </div>
                        <p class="popup-gamefication-point-text">{{ notification_gamefication.interation_name }}</p>
                    </div>
                </div> #}
            {% endif %}
        {% endif %}
        {# {{ dump(notification_gamefication) }} #}
        {% if notification_gamefication.is_level %}
            {% if not notification_gamefication.is_level_show_popup %}

                <div class="popup-gamefication-points popup-gamefication level" data-il="{{ notification_gamefication.id_level }}" data-type="level">
                    <div class="popup-gamefication-points-cotainer">
                        <span class="close-pop">X</span>
                        <div class="gamificacao-card-item gamificacao-card-medalha">
                            <span class="gamificacao-card-text">Atualmente<br> seu troféu é</span>
                            <span class="gamificacao-card-tipo">{{ notification_gamefication.name_level }}</span>
                        </div>
                        {# <p class="popup-gamefication-point-text">{{ notification_gamefication.name_level }}</p> #}
                    </div>
                </div>
            {% endif %}
        {% endif %}

    {% endif %}

    <div class="modal-default" id="modal-search-desk">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" id="close-lightbox" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>O que você procura?</h2>
                </div>
                <form action="{{path('home-search')}}" method="get" class="form space-h-20">
                    <input type="text" name="q" id="src-top-desk" placeholder="digitar…">
                    <button type="submit" id="btn-src-desk"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-default">
        <div class="modal-content">
            <div class="space-h-20">
                <div class="text-center space-h-20">
                    <a class="close-modal" id="close-lightbox" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-10">
                    <h2 id="lightbox-message"></h2>
                </div>
                <div id="lightbox-login-form">
                    <div>
                        <div class="space-h-10">
                            <div class="facebookLoginButton btn-socials" id="facebookLoginButton">
                                <i class="fa fa-facebook"></i><span>Entrar com o Facebook</span>
                            </div>
                        </div>
                        <div class="space-h-10">
                            <div class="googleLoginButton btn-socials btn-socials-login cdt_mid_btn_google" id="googleLoginButton">
                                <i class="fa fa-google"></i><span>Entrar com o Google</span>
                            </div>
                        </div>
                    
                        <div class="space-h-10">
                            <a href="{{ path('home-login') }}">
                                <div class="googleLoginButton btn-socials" id="googleLoginButton">
                                    <i class="fa fa-user"></i><span>Entrar como Parceiro Neo Pharma Excelência</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <form class="form" id="login-form-lightbox" name='login'>
                        <div class="space-h-10">
                            <label for="username">Username:</label>
                            <input class="form-control" type="text" name="username" id="login-form-lightbox-username" placeholder="Usuário"/>
                        </div>

                        <div class="space-h-10">
                            <label for="password">Password:</label>

                            <input class="form-control" type="password" name="password" id="login-form-lightbox-password" autocomplete="off" placeholder="Senha"/>

                        </div>
                        <div class="space-h-10" style="display: none;">
                            <input type="text" name="r" id="login-route"/>
                        </div>
                        <div class="text-right">
                            <a href="{{ path('home-remember-password') }}" class="link-forgot">Esqueceu a senha</a>
                        </div>
                        <div class="space-h-20">
                            <button type"submit" class="btn-default btn-full btn-large">Fazer Login</button>
                        </div>
                    </form>
                    <p class="text-center">ou</p>
                    <div class="space-h-20">
                        <a href="{{ path('home-register')}}" class="btn-default btn-full btn-large">Cadastre-se</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    {% if flashes|length > 0 %}
        {% set type = '' %}
        {% set title = '' %}

        {% for label, flashes in flashes %}
            {% for flash in flashes %}
                {% if ( label == 'success' ) %}
                    {% set type = label %}
                    {% set title = '<h2 class="text-green">' ~ flash|raw ~ '</h2>' %} 
                {% elseif ( label == 'alert' ) %}
                    {% set type = label %}
                    {% set title = '<h2 class="text-yellow">' ~ flash|raw ~ '</h2>' %}
                {% elseif ( label == 'error' ) %}
                    {% set type = label %}
                    {% set title = '<h2 class="text-red">' ~ flash|raw ~ '</h2>' %}
                {% else %}
                    {% set type = label %}
                    {% set title = '' %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% if type == 'success' or type == 'alert' or type == 'error' %}
                <!-- Modal de alert -->
                <div class="modal-default open-modal" id="modal-alert">
                    <div class="content-form-src-desk">
                        <div class="modal-content">
                            <div class="text-center space-h-20">
                                <a class="close-modal" id="close-lightbox" onclick="core.hideMessage()">< Fechar</a>
                            </div>
                            <div class="text-center space-h-20">
                                <p>            
                                {{ title|raw }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

        {% elseif type == 'change_profile' %}

            <div class="modal-default open-modal" id="modal-perfil-gestor-loja">
                <div class="content-form-src-desk">
                    <div class="modal-content">
                        <div class="text-center space-h-20">
                            <a class="close-modal" id="close-lightbox" onclick="core.hideMessage()">< Fechar</a>
                        </div>
                        {# <div id="content-1" style="display:none;">
                            <div class="text-center space-h-20">
                                <h2>Seu CPF já consta em nosso banco de dados.<br>
                                Você deseja, mesmo assim, migrar o seu perfil para Gestor de Loja?</h2>
                            </div>
                            <div class="text-center space-h-20 text-center d-flex justify-content-center">
                                <button class="btn-default btn-full">NÃO</button>
                                <button class="btn-default btn-full">SIM</button>
                            </div>
                        </div>
                        <div id="content-2" style="display:none;">
                            <div class="text-center space-h-20">
                                <h2>Quase lá!</h2>
                                <p class="space-h-20">
                                    Para concluir a migração de seu cadastro, acesse o e-mail enviado para o endereço utilizado em seu cadastro e clique no link de confirmação.
                                </p>
                                <div>
                                    <img src="{{ asset('_dist/image/img/email-confirm.jpg') }}" width="100" alt="" />
                                </div>
                                <p>
                                    <small><a href="">Caso não tenha recebido o e-mail, clique aqui para enviá-lo novamente.</a></small>
                                </p>
                            </div>
                        </div> #}

                        <div id="content-3" >
                            <div class="text-center space-h-20">
                                <h2>Quase lá!</h2>
                                 <p class="space-h-20">
                                    <p>Para concluir a migração do seu cadastro, acesse o link de confirmação que foi enviado para o seu e-mail.</p>
                                    <p>O tempo de recebimento pode levar até 2 horas.</p>
                                    <p>Lembre-se que o cadastro é migrado somente após a validação e preenchimento via link</p>
                                </p>
                                <br>
                                <div>
                                    <img src="{{ asset('_dist/image/img/email-confirm.jpg') }}" width="100" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if app.user.id is defined %}

        {% set userPointTotalGamefication = userPointTotalGamefication(app.user)%}
        {% set is_show_modal_regulation = false  %}


        {% if userPointTotalGamefication %}
            {% if not userPointTotalGamefication.isRegulation %}
                {% set is_show_modal_regulation = true  %}
            {% endif %}
        {% elseif app.user.createdAt|date('d/m/Y') < '03/07/2022' and userPointTotalGamefication.isRegulation == false %}
            {% set is_show_modal_regulation = true  %}
        {% endif %}

        {% if is_show_modal_regulation %}
            <!--- MODAL leitura regulamento -->
            <div class="modal-default open-modal" id="modal-perfil-gestor-loja">
                <div class="content-form-src-desk">
                    <div class="modal-content">
                       
                        <div id="content-3" >
                            <div class="text-center space-h-20">
                                <h2>Leitura regulamento</h2>
                            
                                <form action="{{ path('user-regulation-gamefication') }}" method="POST" id="form" class="form register-form">
                                <div class="space-h-20">
                                        <div class="form-check">
                                            <input type="checkbox" name="term" id="agree-term" class="cdt_mid_frm_declaro term-checked" required/>
                                            <label for="agree-term" class="form-check-label">
                                                <small class="text-gray">Declaro que li e aceito os <a href="{{ path('home-term') }}" target="_blank" class="show-terms">Termos e Condições de Uso</a></small>
                                                <span class="error" id="term-error"></span>
                                            </label>
                                        </div>
                                    </div>
                                    </div>

                                <div class="space-h-20 text-center">
                                        <button 
                                            type="submit" 
                                            class="btn-default">
                                            Salvar
                                        </button>
                                    </div>       
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    

</body>
</html>
