{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}DROPYD{% endblock %}
    
{% block body %}
<div class="dropyd" id="dropyd">
    <section>
        <img src="{{ asset('_dist/image/img/dropyd/banner-dropyd-mobile.png')}}" alt="Banner " class="visible-xs">
        <img src="{{ asset('_dist/image/img/dropyd/dropyd-banner.png')}}" alt="Banner " class="hidden-xs">
    </section>

    <div class="space-h-40">
        <div class="container">
            <ul class="menu-dropyd">
                {# <li>
                    <a href="#pipulas-de-conteudo" class="btn-menu">Pílulas de Conteúdo</a>
                    <p>
                        Saiba mais como melhorar a sua imunidade e tudo sobre a Vitamina do Sol com Mariana Ferrão.
                    </p>
                </li> #}
                <li>
                    <a href="#pilulas-podcasts" class="btn-menu">PODCAST</a>
                    <p>
                        Dr. Marcelo Neubauer em um episódio especial tirando suas dúvidas sobre Vitamina D.
                    </p>
                </li>
                <li>
                    <a href="#pilulas-materias" class="btn-menu">Matérias</a>
                    <p>
                        Textos para ampliar o conhecimento  
                    </p>
                </li>
                <li>
                    <a href="#pilulas-quiz" class="btn-menu">QUIZ </a>
                    <p>
                        Quer saber quanto você sabe sobre a Vitamina D? Faça o teste e descubra! 
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="orange-box">
        <div class="container">
            <p>
                A vitamina D  aumenta a imunidade e é extremamente importante para o nosso organismo, mas a maior parte das pessoas ainda não conhece seus benefícios. 
            </p>    
            </p>    
                Por isso, contamos com você para levar conhecimento a seus clientes. Vamos aprender um pouco mais sobre a Vitamina D? 
            </p>
        </div>
    </div>

    <div class="pipulas-de-conteudo" id="pipulas-de-conteudo">
        <div class="container">
            <img src="{{ asset('_dist/image/img/dropyd/sol-1.jpg')}}" class="img-sun" alt="">
            <div class="pipulas-de-conteudo-container">
                <div class="pipulas-de-conteudo-content">
                    <h2 class="text-orange">Pílulas de Conteúdo</h2>
                    <p>
                        Dropy D preparou uma série especial de vídeos contando sobre os principais benefícios da Vitamina D e como ela pode ajudar no aumento da imunidade. Confira!
                    </p>
                    <img src="{{ asset('_dist/image/img/dropyd/sol-1.jpg')}}" class="img-sun-1" alt="">
                </div>
                <div class="pipulas-de-conteudo-slide">
                    <div class="pipulas-videos">
                        <div class="slides owl-carousel">
                            <div class="item">
                                <a href="#" data-modal="video01"><img src="https://img.youtube.com/vi/rlvnli4mmMg/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video01">CHEGOU DROPY D</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video02"><img src="https://img.youtube.com/vi/rbtk3e1HQ9A/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video02">DROPY D | LINHA DE PRODUTOS</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video03"><img src="https://img.youtube.com/vi/ENoZHxfP-PE/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video03">DROPY D | O QUE É VITAMINA D?</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video04"><img src="https://img.youtube.com/vi/7nX03XtSsMA/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video04">DROPY D | PARA QUE SERVE?</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video05"><img src="https://img.youtube.com/vi/AVR3sYEKflc/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video05">DROPY D | QUANDO É PRECISO TOMAR?</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video06"><img src="https://img.youtube.com/vi/zGM5r5BET2c/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video06">DROPY D | POTENCIAIS CONSUMIDORES</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video07"><img src="https://img.youtube.com/vi/0QkNn0TZNxQ/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video07">DROPY D | TRATAMENTO</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video08"><img src="https://img.youtube.com/vi/o6ZlDpvnLg8/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video08">DROPY D | QUEM RECEITA VITAMINA D?</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video09"><img src="https://img.youtube.com/vi/NvLGWWyC2-Y/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video09">DROPY D | A MELHOR POSOLOGIA PARA SEU CLIENTE</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video010"><img src="https://img.youtube.com/vi/tBUSks4pRs8/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video010">DROPY D | MITOS &amp; VERDADES</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video011"><img src="https://img.youtube.com/vi/75iCd6rrY6Y/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video011">DROPY D | RAZÕES PARA TER NO SEU PDV</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video012"><img src="https://img.youtube.com/vi/sA5Kk71azPo/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video012">DROPY D | RAZÕES PARA VENDER</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video013"><img src="https://img.youtube.com/vi/ncOw6EY3WZI/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video013">DROPY D | COMO EXECUTAR COM EXCELÊNCIA</h3>
                            </div>


                            <!-- Simone Kliass -->
                            <div class="item">
                                <a href="#" data-modal="video1"><img src="https://img.youtube.com/vi/-6DimbzJooM/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video1">Como Dropy D pode contribuir positivamente no sexo</h3>
                            </div>

                            <div class="item">
                                <a href="#" data-modal="video2"><img src="https://img.youtube.com/vi/5QJkvCzBFmk/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video2">Dropy D | Vitamina D é um sucesso nos esportes!</h3>
                            </div>

                            <div class="item">
                                <a href="#" data-modal="video3"><img src="https://img.youtube.com/vi/v4TLLfLOatk/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video3">Dropy D | A vitamina D tem função comprovada na prevenção e tratamento de alguns tipos de câncer. Parte I !</h3>
                            </div>

                            <div class="item">
                                <a href="#" data-modal="video4"><img src="https://img.youtube.com/vi/6oyWphFq3ZM/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video4">Como Dropy D pode ajudar na Imunidade</h3>
                            </div>


                            <div class="item">
                                <a href="#" data-modal="video5"><img src="https://img.youtube.com/vi/WEqWZcJ6vJ8/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video5">Dropy D | A importância da vitamina D na gestação</h3>
                            </div>

                            <div class="item">
                                <a href="#" data-modal="video6"><img src="https://img.youtube.com/vi/t7OFnzzhhcA/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video6">Dropy D | Melhores formas para ajudar na absorção da vitamina D</h3>
                            </div>

                            <div class="item">
                                <a href="#" data-modal="video7"><img src="https://img.youtube.com/vi/5tlwaCFwSCI/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video7">Dropy D | Obesidade – Parte I</h3>
                            </div>

                            <div class="item">
                                <a href="#" data-modal="video8"><img src="https://img.youtube.com/vi/QI4UNFKfOFc/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video8">Dropy D | Obesidade – Parte II</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video9"><img src="https://img.youtube.com/vi/BRUDQdma7Es/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video9">Dropy D | Como a cor da pele influencia na absorção de Vitamina D</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video10"><img src="https://img.youtube.com/vi/oYyIVod8Zho/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video10">Dropy D | A ação da vitamina D contra o Diabetes Tipo 2</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video11"><img src="https://img.youtube.com/vi/M_8Fu8HGhF4/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video11">Dropy D | Idosos</h3>
                            </div>
                            <div class="item">
                                <a href="#" data-modal="video12"><img src="https://img.youtube.com/vi/t45hBiv6qls/sddefault.jpg" alt=""></a>
                                <h3 class="text-orange" data-modal="video12">Dropy D | Vegetarianismo</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pilulas-podcasts" id="pilulas-podcasts">
        <div class="container">
            <div class="pilulas-podcasts-container">
                <div class="pilulas-podcasts-content">
                    <h2>PODCAST </h3>
                    <p>
                        Além dos textos, também apresentamos um podcast especial.
                    </p>
                    <p>    
                        Dropy D convidou o Dr. Marcelo Neubauer para tirar as principais dúvidas sobre a Vitamina D.
                    </p>
                    <p>
                        <strong>Confira!</strong>
                    </p>
                </div>

                <div class="pilulas-podcasts-slides">
                    <div class="podcasts-box">
                        <div class="slides owl-carousel">
                            <div class="item">
                                <a href="" data-modal="podcast1"><img src="{{ asset('_dist/image/img/dropyd/podcast.jpg')}}" alt=""></a>
                                <h3  data-modal="podcast1">Conheça as fontes, os benefícios e os riscos da vitamina D.</h3> 
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="pilulas-materias" id="pilulas-materias">
        <div class="container">
            <h2 class="text-orange">MATÉRIAS</h2>
            <div class="space-h-10">
                <p class="space-h-10 sub-title">
                    Pensando em vocês, farmacêuticos e balconistas, Dropy D preparou algumas matérias especiais sobre a Vitamina D embasadas em estudos científicos. 
                </p>
                <p class="space-h-10 sub-title">
                    Quer estar preparado para responder qualquer dúvida sobre a Vitamina D e seu funcionamento? Confira as matérias abaixo. 
                </p>
            </div>
            <div class="pilulas-materias-container justify-content-center">
                <div class="pilulas-materias-item">
                    <p>
                        Você conhece todos os benefícios da Vitamina D?
                    </p>
                    <p>
                        Para que serve a vitamina D, seus benefícios e quais os riscos de sua deficiência? Saiba mais <a href="https://portalneopharma.com.br/blog/post/voce-conhece-todos-os-beneficios-da-vitamina-d" target="_blank">clicando&nbsp;aqui</a>.
                    </p>   
                </div>

                <div class="pilulas-materias-item">
                    <p>
                        Imunidade e Vitamina D: qual a relação? 
                    </p>
                    <p>
                        Descubra a relação entre a vitamina D no organismo e a nossa imunidade. Saiba mais <a href="https://portalneopharma.com.br/blog/post/imunidade-e-vitamina-d-qual-a-relacao" target="_blank">clicando&nbsp;aqui</a>.  
                    </p> 
                </div>

                <div class="pilulas-materias-item">
                    <p>Você sabe onde podemos encontrar a vitamina do sol?</p> 
                    <p>
                       Aprenda as principais fontes para obter a vitamina do sol! Saiba mais <a href="https://portalneopharma.com.br/blog/post/voce-sabe-onde-podemos-encontrar-a-vitamina-do-sol" target="_blank">clicando&nbsp;aqui</a>.
                    </p>   
                </div>
                {#                 
                <div class="pilulas-materias-item">
                    <p>Você sabe onde podemos encontrar a vitamina do sol? </p>
                    <p>
                        Indicações de fontes naturais de Vitamina D. Saiba mais <a href="#" target="_blank">clicando aqui</a>.
                    </p>
                </div> #}
            </div>
        </div>
    </div>

    <div class="pilulas-quiz" id="pilulas-quiz">
        <div class="container">
            <h2>QUIZ</h2>
            <div class="pilulas-quiz-container">
                <p class="pilulas-quiz-text">
                    Agora que já aprendeu tudo sobre a Vitamina e Dropy D, será que consegue acertar tudo em nosso quiz?  
                </p>
                <div class="pilulas-quiz-cta">
                    <span>
                        <div class="space-h-20">
                            Quer saber quanto você sabe sobre a vitamina D?
                        </div>
                    </span>
                    {# <span  class="btn-cta">Em breve!</span> #}
                    <a href="{{ path('dropyd_quiz') }}" class="btn-cta">COMECE JÁ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="texto-legal">
            <strong>DROPY D – colecalciferol 1.000U.I., 7.000U.I. e 50.000U.I. Comprimido revestido.</strong> MS 1.5584.0517. <strong>VIA DE ADMINISTRAÇÃO: ORAL. USO ADULTO. INDICAÇÕES:</strong> suplemento vitamínico em dietas restritivas e inadequadas. Este medicamento é destinado à prevenção e ao tratamento auxiliar na desmineralização óssea pré e pós-menopausa, e na prevenção de raquitismo. <strong>CONTRAINDICAÇÕES:</strong> este medicamento não deve ser utilizado em pacientes que apresentam hipersensibilidade aos componentes da fórmula. É contraindicado também nos casos de hipervitaminose D, hipercalcemia ou osteodistrofia renal com hiperfosfatemia. <strong>ADVERTÊNCIAS E PRECAUÇÕES:</strong> pacientes com arteriosclerose, insuficiência cardíaca, hiperfosfatemia e insuficiência renal devem utilizar o medicamento sob orientação médica, avaliando o risco/benefício da administração da Vitamina D. Em caso de hipervitaminose D, recomenda-se administrar dieta com baixa quantidade de cálcio, grandes quantidades de líquido e, se necessário glicocorticoides. A administração deve ser cuidadosamente avaliada em pacientes com condições cardíacas preexistentes, arteriosclerose e insuficiência renal, em razão de uma potencial exacerbação relacionada aos efeitos da hipercalcemia persistente durante o uso terapêutico. Uma avaliação cuidadosa deve ser realizada também em pacientes com doença hepática com prejuízo da capacidade de absorção; com hiperfosfatemia em razão do risco de calcificação metastática e normalização dos níveis de fosfato antes da terapia; em bebês e crianças pelo risco de hipersensibilidade a pequenas doses de Vitamina D; na sarcoidose ou outra doença granulomatosa por possível aumento da hiperlipidemia, pois há um potencial para elevação dos níveis de LDL; em pacientes com osteodistrofia renal ou outras condições que requerem altas doses de Vitamina D pura ou quando há uso concomitante de preparações contendo cálcio ou outras preparações vitamínicas contendo Vitamina D ou análogos. <strong>É um medicamento classificado na categoria A de risco de gravidez. Portanto, este medicamento pode ser utilizado durante a gravidez desde que sob prescrição médica ou do cirurgião-dentista.  INTERAÇÕES MEDICAMENTOSAS:</strong> antiácidos que contenham magnésio; não se recomenda o uso simultâneo de Vitamina D e calcifediol; preparações que contenham cálcio em doses elevadas ou diuréticos tiazídicos (hidroclorotiazida); as que contêm fósforo, também em doses elevadas; fosfenitoína, fenobarbital, fenitoína, colestiramina e colestipol. <strong>Alterações endócrinas e metabólicas:</strong> nefrocalcinose/insuficiência renal, pressão alta e psicose. A hipervitaminose D é reversível com a descontinuação do tratamento ao menos que ocorra dano renal grave. <strong>Anormalidades das gorduras do sangue:</strong> efeitos dislipidêmicos do colecalciferol, em mulheres pós-menopausadas. <strong>REAÇÕES ADVERSAS: Reações comuns (&lt;1/100 e &gt;1/10):</strong> secura da boca, cefaleia, polidipsia, poliúria, perda de apetite, náuseas, vômitos, fadiga, sensação de fraqueza, dor muscular, prurido e perda de peso. <strong>POSOLOGIA:</strong> a dosagem varia em uma faixa terapêutica entre 1.000U.I. a 50.000U.I., dependendo da patologia e do nível sérico de Vitamina D, SEMPRE A CRITÉRIO MÉDICO. <strong>VENDA SOB PRESCRIÇÃO MÉDICA. MB02/19. MATERIAL DESTINADO EXCLUSIVAMENTE AO PROFISSIONAL DE SAÚDE. Dropy D.</strong> colecalciferol 10.000 U.I./mL. Indicações: suplemento vitamínico em dietas restritivas e inadequadas. É utilizado na prevenção/tratamento auxiliar na desmineralização óssea pré e pós-menopausa, e prevenção de raquitismo. MS 1.5584.0517.  <strong>SE PERSISTIREM OS SINTOMAS O MÉDICO DEVERÁ SER CONSULTADO. Dropy D 2000UI é um alimento isento de registro conforme RDC 27/2010. MAIO/2020</strong>
        </p>
    </div>


    <!-- Podcast 1 -->
    <div class="modal-default pod-modal" id="podcast1">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Fizemos um podcast especial para você conhecer as fontes, os benefícios e os riscos da vitamina D</h2>
                    <p>
                        No episódio de hoje, iremos tirar as principais dúvidas sobre a vitamina do sol!
                    </p>
                </div>
                <audio controls="" class="audio-post" id="audio1">
                    <source src="https://portalneopharma.com.br/uploads/blog/ae61353e74178ec30d75cb7cfdec0ff5-fizemos-um-podcast-especial-para-voce-conhecer-as-fontes-os-beneficios-e-os-riscos-da-vitamina-d-1591291193-drop-d-podcast-master-03-revisado-mp3" type="audio/mpeg">
                    Seu navegador não suporta audio.
                </audio>
            </div>
        </div>
    </div>
    <!-- Video 01 -->
    <div class="modal-default video-modal" id="video01">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>CHEGOU DROPY D</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rlvnli4mmMg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Video 02 -->
    <div class="modal-default video-modal" id="video02">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>DROPY D | LINHA DE PRODUTOS</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rbtk3e1HQ9A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 03 -->
    <div class="modal-default video-modal" id="video03">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>DROPY D | O QUE É VITAMINA D?</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ENoZHxfP-PE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Video 04 -->
    <div class="modal-default video-modal" id="video04">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>DROPY D | PARA QUE SERVE?</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/7nX03XtSsMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Video 05 -->
    <div class="modal-default video-modal" id="video05">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>DROPY D | QUANDO É PRECISO TOMAR?</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/AVR3sYEKflc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Video 06 -->
    <div class="modal-default video-modal" id="video06">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>DROPY D | POTENCIAIS CONSUMIDORES</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zGM5r5BET2c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Video 07 -->
    <div class="modal-default video-modal" id="video07">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>DROPY D | TRATAMENTO</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0QkNn0TZNxQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Video 08 -->
    <div class="modal-default video-modal" id="video08">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>DROPY D | QUEM RECEITA VITAMINA D?</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/o6ZlDpvnLg8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Video 09 -->
    <div class="modal-default video-modal" id="video09">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>DROPY D | A MELHOR POSOLOGIA PARA SEU CLIENTE</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/NvLGWWyC2-Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Video 010 -->
    <div class="modal-default video-modal" id="video010">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>DROPY D | MITOS &amp; VERDADES</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/tBUSks4pRs8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Video 011 -->
    <div class="modal-default video-modal" id="video011">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>DROPY D | RAZÕES PARA TER NO SEU PDV</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/75iCd6rrY6Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Video 012 -->
    <div class="modal-default video-modal" id="video012">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>DROPY D | RAZÕES PARA VENDER</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/sA5Kk71azPo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Video 013 -->
    <div class="modal-default video-modal" id="video013">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>DROPY D | COMO EXECUTAR COM EXCELÊNCIA</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ncOw6EY3WZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Video 1 -->
    <div class="modal-default video-modal" id="video1">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Como Dropy D pode contribuir positivamente no sexo</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-6DimbzJooM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 2 -->
    <div class="modal-default video-modal" id="video2">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Dropy D | Vitamina D é um sucesso nos esportes!</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/5QJkvCzBFmk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 3 -->
    <div class="modal-default video-modal" id="video3">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Dropy D | A vitamina D tem função comprovada na prevenção e tratamento de alguns tipos de câncer. Parte I !</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/v4TLLfLOatk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 4 -->
    <div class="modal-default video-modal" id="video4">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Como Dropy D pode ajudar na Imunidade</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6oyWphFq3ZM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 5 -->
    <div class="modal-default video-modal" id="video5">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Dropy D | A importância da vitamina D na gestação</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/WEqWZcJ6vJ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 6 -->
    <div class="modal-default video-modal" id="video6">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Dropy D | Melhores formas para ajudar na absorção da vitamina D</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/t7OFnzzhhcA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 7 -->
    <div class="modal-default video-modal" id="video7">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Dropy D | Obesidade – Parte I</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/5tlwaCFwSCI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 8 -->
    <div class="modal-default video-modal" id="video8">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Dropy D | Obesidade – Parte II</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/QI4UNFKfOFc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 9 -->
    <div class="modal-default video-modal" id="video9">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Dropy D | Como a cor da pele influencia na absorção de Vitamina D</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BRUDQdma7Es" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 10 -->
    <div class="modal-default video-modal" id="video10">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Dropy D | A ação da vitamina D contra o Diabetes Tipo 2</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/oYyIVod8Zho" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 11 -->
    <div class="modal-default video-modal" id="video11">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Dropy D | Idosos</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/M_8Fu8HGhF4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Video 12 -->
    <div class="modal-default video-modal" id="video12">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Dropy D | Vegetarianismo</h2>
                </div>
                <div class="video-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/t45hBiv6qls" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){

            //Stop no video ao fechar o modal 
            $('.video-modal iframe').addClass("youtube-iframe");
            
            $(".video-modal .close-modal").click(function() {
                var addId = $(this).closest(".video-modal").attr('id');
                
                $('#'+addId+' .youtube-iframe').each(function(index) {
                    $(this).attr('src', $(this).attr('src'));
                    return false;
                });
                
            });

            //Pausar o audio ao fechar o modal
            $(".pod-modal .close-modal").click(function() {
                $('#audio1').get(0).pause();
            });

            //Menu onepage
            $(".menu-dropyd a").click(function( event ) {
                event.preventDefault();
                $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top - 80 }, 500);
            });

            //Carrossel de vídeos
            if($(".pipulas-videos .slides").length) {
				$(".pipulas-videos .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					margin: 0,
					loop: true,
					responsiveClass: true,
					nav: true,
					items: 1
				});
			}
        });
    </script>
{% endblock %}
