{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}DROPYD- Quiz{% endblock %}
    
{% block body %}
<div class="histamin text-center quiz-dropyd" id="histamin-quiz">
    <div class="page-not-banner">
    <!-- Primeira etapa -->
    <div class="first-stap">
        <section class="banner-orange">
            <div class="container">
                <h2>Quiz</h2>
                <p>
                    Teste seus conhecimentos sobre a vitamina do sol!
                </p>
            </div>
        </section>
        <div class="space-h-40 main-content">
            <img src="{{ asset('_dist/image/img/dropyd/sol-1.jpg')}}" class="img-sun-3" alt="">
            <div class="container">
                <p>
                    Após vídeos, podcasts e matérias, será que está preparado para este quiz?
                </p>

                <div class="space-h-30">
                    <a href="" class="btn-default btn-orange-big" id="start-quiz">Começar</a>
                </div>
                <p>
                    O Quiz vai ajudar você a medir o quanto você sabe sobre a Vitamina D e se está preparado para ajudar seus clientes no dia a dia. Para isso, preparamos 10 perguntas sobre o tema!
                </p>
            </div>
        </div>
    </div>

    <!-- Segunda etapa -->
    <div class="second-stap" style="display:none;">
        <section class="banner-orange">
            <div class="container">
                <h2>Quiz</h2>
                <p>
                    Agora que você já conheceu todos os conteúdos de Dropy D sobre a Vitamina do Sol. Chegou a hora de saber o quanto você sabe sobre a Vitamina D. Vamos lá?  
                </p>
            </div>
        </section>
        <div class="space-h-40 main-content text-left">
            <img src="{{ asset('_dist/image/img/dropyd/sol-1.jpg')}}" class="img-sun-3" alt="">
            <div class="container">
                <form id="dropyd-quiz-form">
                    <span></span>
                    <fieldset>
                        <p>
                            <strong>Pergunta 1:</strong> Que a Vitamina D é conhecida como vitamina do Sol, você já sabe! Essa foi a descoberta de um médico na Europa há mais de 100 anos. O que ele percebeu?
                        </p>
                        <ul class="list-resp">
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p1" id="p1r1" value="1" class="required question-1" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p1r1">
                                    Ao contrário da zona rural, havia grande quantidade de casos de raquitismo nas cidades, devido à menor exposição à irradiação solar.
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p1" id="p1r2" value="2" class="required question-1" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p1r2">
                                    Nas cidades litorâneas, havia menos casos de fraqueza muscular pela rica dieta em peixes – que possuem vitamina D. 
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p1" id="p1r3" value="3" class="required question-1" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p1r3">
                                    No campo, as pessoas tinham mais casos de raquitismo, pois não tinham acesso ao SOL, consequentemente produziam menos vitamina D. 
                                </label>
                            </li>
                        </ul>
                    </fieldset>
                    
                    <span></span>
                    <fieldset>
                        <p>
                            <strong>Pergunta 2:</strong> Nosso organismo precisa de vitamina D. Quais as formas de manter níveis adequados de vitamina D?
                        </p>
                        <ul class="list-resp">
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p2" id="p2r1" value="1" class="required question-2" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p2r1">
                                    É uma combinação de exposição ao sol, alimentação e suplementação.  Se você não puder ter exposição suficiente ao sol, você pode compensar com uma alimentação com muitos legumes e verduras. 
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p2" id="p2r2" value="2" class="required question-2" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p2r2">
                                    A maior fonte de vitamina D vem do sol, conseguimos obter até 70% da necessidade dessa maneira. Os outros 30% vêm da suplementação e de vegetais folhosos.
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p2" id="p2r3" value="3" class="required question-2" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p2r3">
                                    A maior parte da vitamina D necessária é sintetizada a partir da exposição de nossa pele ao sol, cerca de 80% a 90%. Os outros 10% a 20% são obtidos por meio da alimentação, em especial de peixes gordurosos, gemas de ovos e cogumelos comestíveis. Se necessário, também é possível fazer suplementação.
                                </label>
                            </li>
                        </ul>
                    </fieldset>
                    
                    <span></span>
                    <fieldset>
                        <p>
                            <strong>Pergunta 3:</strong> Para que serve a Vitamina D?
                        </p>
                        <ul class="list-resp">
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p3" id="p3r1" value="1" class="question-3" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p3r1">
                                    Vitamina D auxilia na imunidade e fortifica cabelos e unhas 
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p3" id="p3r2" value="2" class="question-3"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p3r2">
                                    Vitamina D ajuda na imunidade, saúde óssea e muscular 
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p3" id="p3r3" value="3" class="question-3"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p3r3">
                                    Vitamina D auxilia no tratamento de gripes e resfriados 
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p3" id="p3r4" value="4" class="question-3"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p3r4">
                                    Vitamina D ajuda na absorção de ácidos graxos EPA e DHA 
                                </label>
                            </li>
                        </ul>
                    </fieldset>

                    <span></span>
                    <fieldset>
                        <p>
                            <strong>Pergunta 4:</strong> Quais são os sinais de uma possível carência de vitamina D?
                        </p>
                        <ul class="list-resp">
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p4" id="p4r1" value="1" class="question-4" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p4r1">
                                    Baixa imunidade, fraqueza muscular, quedas frequentes, cabelos e unhas quebradiças.
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p4" id="p4r2" value="2" class="question-4"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p4r2">
                                    Febre e resfriados, tonturas e humor deprimido.
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p4" id="p4r3" value="3" class="question-4"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p4r3">
                                    Baixa imunidade, cefaleia, dores intestinais e complicações renais.
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p4" id="p4r4" value="4" class="question-4"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p4r4">
                                    Todas as alternativas 
                                </label>
                            </li>
                        </ul>
                    </fieldset>

                    <span></span>
                    <fieldset>
                        <p>
                            <strong>Pergunta 5:</strong> Sabendo que a exposição à irradiação solar é tão importante, você sabe quais fatores podem influenciar no tempo de exposição necessário?
                        </p>
                        <ul class="list-resp">
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p5" id="p5r1" value="1" class="question-5" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p5r1">
                                    Os principais fatores que influenciam o tempo de exposição solar são: longitude, idade e horário do dia. 
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p5" id="p5r2" value="2" class="question-5"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p5r2">
                                    Muitos são os fatores que influenciam, são eles: estação do ano, latitude, cor da pele e faixa etária.
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p5" id="p5r3" value="3" class="question-5"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p5r3">
                                    Não há fatores relevantes que influenciam o tempo de exposição solar. Desde que sejam cinco minutos por dia, nada mais modifica a absorção.
                                </label>
                            </li>
                        </ul>
                    </fieldset>

                    <span></span>
                    <fieldset>
                        <p>
                            <strong>Pergunta 6:</strong> Com tantas considerações, é importante saber quais as principais especialidades médicas que podem fazer uma análise mais profunda a respeito da necessidade de vitamina D?
                        </p>
                        <ul class="list-resp">
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p6" id="p6r1" value="1" class="question-6" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p6r1">
                                    Endocrinologista, nutrólogo, cardiologista, ginecologista e dermatologista.
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p6" id="p6r2" value="2" class="question-6"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p6r2">
                                    Endocrinologista, fisioterapeuta, psiquiatra, pediatria e dermatologista.
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p6" id="p6r3" value="3" class="question-6"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p6r3">
                                    Cardiologista, imunologista, clínico geral, otorrinolaringologista e gastroenterologista.
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p6" id="p6r4" value="4" class="question-6"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p6r4">
                                    Todas as alternativas
                                </label>
                            </li>
                             
                        </ul>
                    </fieldset>

                    <span></span>
                    <fieldset>
                        <p>
                            <strong>Pergunta 7:</strong> E qual a forma adequada de diagnosticar a carência – ou excesso – de vitamina D no organismo?
                        </p>
                        <ul class="list-resp">
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p7" id="p7r1" value="1" class="question-7" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p7r1">
                                    Exame de urina.
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p7" id="p7r2" value="2" class="question-7"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p7r2">
                                    Ultrassom
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p7" id="p7r3" value="3" class="question-7"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p7r3">
                                    Por exame de sangue.
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p7" id="p7r4" value="4" class="question-7"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p7r4">
                                    Todas as alternativas
                                </label>
                            </li>
                        </ul>
                    </fieldset>

                    <span></span>
                    <fieldset>
                        <p>
                            <strong>Pergunta 8:</strong> Quantos UIs representam a dose de Ataque e a de Manutenção para adultos? 
                        </p>
                        <ul class="list-resp">
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p8" id="p8r1" value="1" class="question-8" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p8r1">
                                    Manutenção: 1.000 até 10.000 por semana | Ataque: 50.000 UI por semana 
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p8" id="p8r2" value="2" class="question-8"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p8r2">
                                    Manutenção: 1.000 até 2.000 por semana | Ataque: 10.000 UI por semana
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p8" id="p8r3" value="3" class="question-8"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p8r3">
                                    Manutenção: 1.000 até 3.300 por semana | Ataque: 50.000 UI por semana 
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p8" id="p8r4" value="4" class="question-8"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p8r4">
                                    Manutenção: 1.000 até 2.000 por semana | Ataque: 50.000 UI por semana 
                                </label>
                            </li>
                        </ul>
                    </fieldset>

                    <span></span>
                    <fieldset>
                        <p>
                            <strong>Pergunta 9:</strong> Quando a pessoa precisa de suplementação, seja em doses de ataque ou manutenção, a dose deve ser diária ou semanal?
                        </p>
                        <ul class="list-resp">
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p9" id="p9r1" value="1" class="question-9" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p9r1">
                                    Em ataque ou manutenção, as doses podem ser diárias ou semanais.
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p9" id="p9r2" value="2" class="question-9"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p9r2">
                                    Em ataque, as doses são diárias, e a manutenção é semanal.
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p9" id="p9r3" value="3" class="question-9"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p9r3">
                                    Em ataque, as doses são semanais, e a manutenção é diária.
                                </label>
                            </li>
                        </ul>
                    </fieldset>

                    <span></span>
                    <fieldset>
                        <p>
                            <strong>Pergunta 10:</strong> E para finalizar, quais as dosagens disponíveis de Dropy D?
                        </p>
                        <ul class="list-resp">
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p10" id="p10r1" value="1" class="question-10" />
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p10r1">
                                    2.000 UI, 3.3000 UI e 50.000 UI 
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p10" id="p10r2" value="2" class="question-10"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p10r2">
                                    1.000 UI, 2.000 UI , 7.000 UI , 10.000 UI e 15.000UI 
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p10" id="p10r3" value="3" class="question-10"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p10r3">
                                    1.000 UI, 2.000 UI, 7.000 UI, 10.000 UI e 50.000 UI 
                                </label>
                            </li>
                            <li>
                                <div class="input-box">
                                    <input type="radio" name="p10" id="p10r4" value="4" class="question-10"/>
                                    <span class="checkmark"></span>
                                </div>
                                <label for="p10r4">
                                    Somente 50.000 UI 
                                </label>
                            </li>
                        </ul>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <!-- Terceira etapa -->
    <div class="third-stap" style="display:none;">
        <section>
            <img src="{{ asset('_dist/image/img/dropyd/banner-dropyd-mobile.jpg')}}" alt="Banner " class="visible-xs">
            <img src="{{ asset('_dist/image/img/dropyd/dropyd-banner.png')}}" alt="Banner " class="hidden-xs">
        </section>
        <section>
            <div class="container">
                <div class="resp-box">
                    <h2>Você acertou <strong><span>x</span> questões!</strong></h2>
                    <p></p>
                </div>
                <div class="space-h-20">
                    <a href="{{ path('dropyd_quiz') }}" class="btn-orange">Refazer o quiz</a>
                </div>
                <div class="space-h-20">
                    <a href="{{ path('dropyd') }}" class="btn-orange">Ir para a home de Dropy D</a>
                </div>
            </div>
        </section>
    </div>
    
    
    <!-- Texto legal -->
    <div class="container">
        <p class="texto-legal">
            <strong>DROPY D – colecalciferol 1.000U.I., 7.000U.I. e 50.000U.I. Comprimido revestido.</strong> MS 1.5584.0517. <strong>VIA DE ADMINISTRAÇÃO: ORAL. USO ADULTO. INDICAÇÕES:</strong> suplemento vitamínico em dietas restritivas e inadequadas. Este medicamento é destinado à prevenção e ao tratamento auxiliar na desmineralização óssea pré e pós-menopausa, e na prevenção de raquitismo. <strong>CONTRAINDICAÇÕES:</strong> este medicamento não deve ser utilizado em pacientes que apresentam hipersensibilidade aos componentes da fórmula. É contraindicado também nos casos de hipervitaminose D, hipercalcemia ou osteodistrofia renal com hiperfosfatemia. <strong>ADVERTÊNCIAS E PRECAUÇÕES:</strong> pacientes com arteriosclerose, insuficiência cardíaca, hiperfosfatemia e insuficiência renal devem utilizar o medicamento sob orientação médica, avaliando o risco/benefício da administração da Vitamina D. Em caso de hipervitaminose D, recomenda-se administrar dieta com baixa quantidade de cálcio, grandes quantidades de líquido e, se necessário glicocorticoides. A administração deve ser cuidadosamente avaliada em pacientes com condições cardíacas preexistentes, arteriosclerose e insuficiência renal, em razão de uma potencial exacerbação relacionada aos efeitos da hipercalcemia persistente durante o uso terapêutico. Uma avaliação cuidadosa deve ser realizada também em pacientes com doença hepática com prejuízo da capacidade de absorção; com hiperfosfatemia em razão do risco de calcificação metastática e normalização dos níveis de fosfato antes da terapia; em bebês e crianças pelo risco de hipersensibilidade a pequenas doses de Vitamina D; na sarcoidose ou outra doença granulomatosa por possível aumento da hiperlipidemia, pois há um potencial para elevação dos níveis de LDL; em pacientes com osteodistrofia renal ou outras condições que requerem altas doses de Vitamina D pura ou quando há uso concomitante de preparações contendo cálcio ou outras preparações vitamínicas contendo Vitamina D ou análogos. <strong>É um medicamento classificado na categoria A de risco de gravidez. Portanto, este medicamento pode ser utilizado durante a gravidez desde que sob prescrição médica ou do cirurgião-dentista.  INTERAÇÕES MEDICAMENTOSAS:</strong> antiácidos que contenham magnésio; não se recomenda o uso simultâneo de Vitamina D e calcifediol; preparações que contenham cálcio em doses elevadas ou diuréticos tiazídicos (hidroclorotiazida); as que contêm fósforo, também em doses elevadas; fosfenitoína, fenobarbital, fenitoína, colestiramina e colestipol. <strong>Alterações endócrinas e metabólicas:</strong> nefrocalcinose/insuficiência renal, pressão alta e psicose. A hipervitaminose D é reversível com a descontinuação do tratamento ao menos que ocorra dano renal grave. <strong>Anormalidades das gorduras do sangue:</strong> efeitos dislipidêmicos do colecalciferol, em mulheres pós-menopausadas. <strong>REAÇÕES ADVERSAS: Reações comuns (&lt;1/100 e &gt;1/10):</strong> secura da boca, cefaleia, polidipsia, poliúria, perda de apetite, náuseas, vômitos, fadiga, sensação de fraqueza, dor muscular, prurido e perda de peso. <strong>POSOLOGIA:</strong> a dosagem varia em uma faixa terapêutica entre 1.000U.I. a 50.000U.I., dependendo da patologia e do nível sérico de Vitamina D, SEMPRE A CRITÉRIO MÉDICO. <strong>VENDA SOB PRESCRIÇÃO MÉDICA. MB02/19. MATERIAL DESTINADO EXCLUSIVAMENTE AO PROFISSIONAL DE SAÚDE. Dropy D.</strong> colecalciferol 10.000 U.I./mL. Indicações: suplemento vitamínico em dietas restritivas e inadequadas. É utilizado na prevenção/tratamento auxiliar na desmineralização óssea pré e pós-menopausa, e prevenção de raquitismo. MS 1.5584.0517.  <strong>SE PERSISTIREM OS SINTOMAS O MÉDICO DEVERÁ SER CONSULTADO. Dropy D 2000UI é um alimento isento de registro conforme RDC 27/2010. MAIO/2020</strong>
        </p>
    </div>

    <!-- Modal de validação -->
    <div class="modal-default" id="modal-required">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" id="close-lightbox" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center space-h-20">
                    <h2>Ops!</h2>
                    <p class="space-h-20">Por favor escolha uma opção!</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('_dist/js/jquery.steps.min.js') }}"></script>
    <script src="{{ asset('_dist/js/jquery.validate.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            var form = $("#dropyd-quiz-form"),
                answer = {}; // respostas do usuário

            function requiredModal(){
                $('body').addClass('open-modal');
                $('.modal-default').removeClass('open-modal');
                $('#modal-required').addClass('open-modal');
            }
            
            $('#start-quiz').unbind('click').on('click' , function(e){
                e.preventDefault();
                $(".first-stap").hide();
                $(".second-stap").show();
                $(".third-stap").hide();
            });          

            form.steps({
                headerTag: "span",
                bodyTag: "fieldset",
                autoFocus: true,
                labels: {
                    cancel: "Cancel",
                    current: "",
                    pagination: "Pagination",
                    finish: "Finalizar",
                    next: "Responder",
                    previous: "<",
                },
                onStepChanging: function (event, currentIndex, newIndex) // passando pelas perguntas
                {
                    var question = $('.question-' + newIndex + ':checked').val();
                
                    if (currentIndex > newIndex) {
                        return true;
                    }
                        
                    if (question == undefined) {
                        requiredModal();
                        return false;
                    }

                    var res = 'question-' + newIndex;  //recuperando as resposta
                    answer[res] = question;
                  
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                },
                onFinishing: function (event, currentIndex) //última pergunta
                {
                    var newIndex = currentIndex + 1;
                    var question = $('.question-' + newIndex + ':checked').val();
                 
                    if (currentIndex > newIndex) {
                        return true;
                    }
                        
                    if (question == undefined) {
                        requiredModal();
                        return false;
                    }

                    var res = 'question-' + newIndex; //recuperando as resposta
                    answer[res] = question;
                  
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex)
                {    
                    var feedback = { // Gabarito
                        'question-1': 1, 
                        'question-2': 3,
                        'question-3': 2,
                        'question-4': 1,
                        'question-5': 2,
                        'question-6': 1,
                        'question-7': 3,
                        'question-8': 4,
                        'question-9': 1,
                        'question-10': 3
                    }

                    $(".first-stap").hide();
                    $(".second-stap").hide();
                    $(".third-stap").show();

                    var c = 0;
                    for (var key in answer){
                       if (answer[key] == feedback[key]) {
                           c++;
                       }
                    }
                
                    if (c <= 3) {
                        $(".resp-box h2 span").text(c);
                        $(".resp-box p").text('Dê mais uma chance aos textos, ao nosso podcast e aos nossos vídeos e volte para, na próxima tentativa, acertar tudo!');
                    } else if (c >= 4 && c <= 7) {
                        $(".resp-box h2 span").text(c);
                        $(".resp-box p").text('Quaaaaase lá! Volte e busque as respostas mais adequadas em nossos conteúdos, assim poderá garantir o 10!');
                    } else if (c >= 8 && c <= 10) {
                        $(".resp-box h2 span").text(c);
                        $(".resp-box p").text('Muito bem, agora você está preparado para tirar dúvidas dos clientes de farmácia sobre a Vitamina do Sol! ');
                    }

                    console.log("você acertou " + c);
                }
            });

            $(".list-resp li").on('click', function(){
                $(this).parents('fieldset').find('.checkmark').removeClass('checked');
                $(this).find('.checkmark').addClass('checked');

                $(this).parents('fieldset').find('input').prop('checked',false);
                $(this).find('input').prop('checked',true);
            });
        });
    </script>
{% endblock %}
