{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}XXI Congresso Farmacêutico de São Paulo{% endblock %}

{% block styles %}
    <style>
        #form span{ color: red !important; }
    </style>
{% endblock %}

{% block body %}
    <div class="page-congresso">
        <div class="container">
            <div class="congresso-cadastro">
                <figure class="logo-congresso space-h-30">
                    <img src="{{ asset('_dist/image/img/congresso/logo.jpg')}}" alt="">
                </figure>
                <p class="text-white">
                    Participe do evento e descubra tudo sobre <strong>vitamina D</strong> em <strong>uma palestra exclusiva no dia 11 de novembro, às 8h!</strong> Preencha os dados abaixo e <strong>solicite o seu ingresso!</strong>
                </p>

                <form method="POST" class="form" id="form">
                    <div class="space-h-20">
                         <input type="hidden" name="c" class="form-control" autocomplete="off">
                        <div class="grid">
                            <div class="one-full grid-sys">
                                <label>Nome<sup>*</sup><span id="name-error"><span></label>
                                <input type="text" name="name" id="" class="name" value="{{ app.user.name }}"/>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="one-half grid-sys">
                                <label>CPF<sup>*</sup><span id="cpf-error"><span></label>
                                <input type="text" name="cpf" id="" class="cpf" value="{{ app.user.cpf }}"/>
                            </div>

                            <div class="one-half grid-sys">
                                <label>CRF<sup>*</sup><span id="crf-error"><span></label>
                                <input type="text" name="crf" id="" class="crf" value="{{ app.user.crf }}" />
                            </div>
                        </div>
                        <div class="grid">
                            <div class="one-full grid-sys">
                                <label>E-mail<sup>*</sup><span id="email-error"><span></label>
                                <input type="email" name="email" id="" class="email" value="{{ app.user.email }}" />
                            </div>
                        </div>
                        <p class="text-white text-center">O ingresso garante acesso ao evento nos dias 10 a 13 de novembro.</p>
                        <div class="text-center space-h-20">
                            <button type="button" class="btn-default btn-yellow btn-action">Salvar</button>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center congresso-logos">
                        <div class="logo-crf"></div>
                        <div class="logo-neoquimica"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
    var url = "{{path('congresso_crm')}}";

    $(".btn-action").on("click", function(){
        var $this = $(this);
        var values = $('#form').serialize();

        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            data: values,
            beforeSend: function(){
                $this.text('Carregando...');
                $this.attr("disabled", true);
            },
            success: function (response) {
                $this.text('Salvar');
                $this.attr("disabled", false);

                if (response.status) {
                    window.location.href = response.url;
                    //modalMsg(response.message)        
                } else {
                    if (response.hasOwnProperty('is_register')) {
                        alert(response.message);
                    }

                    if (response.error.hasOwnProperty('name')) {
                        $('#name-error').text(response.error.name)
                    }

                    if (response.error.hasOwnProperty('cpf')) {
                        $('#cpf-error').text(response.error.cpf)
                    }

                    if (response.error.hasOwnProperty('crf')) {
                        $('#crf-error').text(response.error.crf);
                    }

                    if (response.error.hasOwnProperty('email')) {
                        $('#email-error').text(response.error.email)
                    }
                }
            } 
        });
    })

    
    $('.name').on("keyup", function(){
        $('#name-error').text('')
    })

    $('.cpf').on("keyup", function(){
        $('#cpf-error').text('')
    })

    $('.crf').on("keyup", function(){
        $('#crf-error').text('')
    })

    $('.email').on("keyup", function(){
        $('#email-error').text('')
    })


    $('.cpf').mask('000.000.000-00', {reverse: true});

    </script>
{% endblock %}
