{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}XXI Congresso Farmacêutico de São Paulo{% endblock %}
    
{% block body %}
    <div class="page-congresso">
        <div class="container">
            <div class="congresso-cadastro">
                <figure class="logo-congresso space-h-30">
                    <img src="{{ asset('_dist/image/img/congresso/logo.jpg')}}" alt="">
                </figure>
                <div class="congresso-cadastro-realizado">
                    <div class="congresso-content-resultado">
                        {% if result == 'inscricao-realizada-com-sucesso' %}
                            <!-- Feito com Sucesso! -->
                            <h2>Parabéns,</h2>
                            <p>
                                inscrição realizada com sucesso!
                                <br><br>
                                Enviaremos as instruções para participação em seu e-mail, então fique atento e até breve!
                            </p>
                        {% elseif result == 'ingressos-esgotados' %}
                            <!-- Esgotado -->
                            <h2>Que pena!</h2>
                            <p>Os ingressos já se esgotaram.</p>
                        {% elseif result == 'solicitacao-nao-permitida' %}
                            <!-- Não farmaceutico -->
                            <h2>Solicitação não permitida!</h2>
                            <p>Os ingressos estão disponíveis apenas para farmacêuticos.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="space-h-20 text-center">
                    <a href="{{ path('home') }}" class="btn-default btn-yellow btn-action">Retornar para home<a>
                </div>
                <div class="space-h-30 d-flex flex-wrap justify-content-center congresso-logos">
                    <div class="logo-crf"></div>
                    <div class="logo-neoquimica"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
