{% extends 'base.html.twig' %}
{% set metadescription = 'Conheça a linha de vitaminas da Neo Química, suplementação vitamínica ideal para cada uma de suas necessidades. Acesse e saiba mais!' %}
{% set metatitle = 'Vitaminas' %}
{% block title %}Vitaminas{% endblock %}
    
{% block body %}
<div class="familia-centro" id="familia-centro">
    <section class="">
        <div class="text-center">
            <img src="{{ asset('_dist/image/img/centro/banner-top-desk.jpg')}}" alt="Banner " class="hidden-xs">
            <img src="{{ asset('_dist/image/img/centro/banner-mobile.jpg')}}" alt="Banner " class="visible-xs">
        </div>
        <div class="container container-small" id="familia-centro-section-1">
            <p class="space-h-30"> 
                Quem busca uma vida repleta de saúde e bem-estar precisa estar sempre atento à quantidade de vitaminas consumidas diariamente. Para ajudar você em sua rotina de autocuidado, a linha <strong>Vitaminados Neo Química</strong> oferece a suplementação vitamínica ideal para cada uma de suas necessidades.
            </p>
        </div>
    </section>
    
    <div class="familia-centro-section-2" id="materias-vitaminas">
        <div class="container">
            <div class="grid">
                <div class="one-half grid-sys">
                    <a href="/blog/post/conheca-os-beneficios-da-suplementacao-para-adultos-e-idosos" target="_blank"><img src="{{ asset('_dist/image/img/centro/img01.png')}}" alt="" /></a>
                </div>
                <div class="one-half grid-sys">
                    <h2>Conheça os benefícios da suplementação para adultos e idosos.</h2>
                    <div class="space-h-20">
                        <a href="/blog/post/conheca-os-beneficios-da-suplementacao-para-adultos-e-idosos" class="btn-default" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'vitaminas', 'eventAction': 'click', 'eventLabel': 'leia-a-materia'});">Leia a matéria</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="familia-centro-section-3" id="cursos-vitaminas">
        <div class="container">
            <div class="familia-centro-section-3-row">
                <div class="familia-centro-section-3-title">
                    <h2>Cursos</h2>
                </div>
                <div class="familia-centro-section-3-materias">
                    <div class="familia-centro-section-3-img">
                        <a href="/cursos/vitamina-c-vitaminas-do-complexo-b-e-minerais" target="_blank"><img src="{{ asset('_dist/image/img/centro/img02.png')}}" alt="Vitamina C, Vitaminas do complexo B e Minerais." title="Vitamina C, Vitaminas do complexo B e Minerais." /></a>
                    </div>
                    <div class="familia-centro-section-3-text">
                        <h3>Vitamina C, Vitaminas do complexo B e Minerais.</h3>
                        <div class="familia-centro-section-3-btns">
                            <a href="/cursos/vitamina-c-vitaminas-do-complexo-b-e-minerais" class="btn-default" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'vitaminas', 'eventAction': 'click', 'eventLabel': 'vitamina-c-vitamina-do-complexo-b-e-minerais:ver-curso'});">Ver curso</a>
                        </div>
                    </div>
                </div>
                <div class="familia-centro-section-3-materias">
                    <div class="familia-centro-section-3-img">
                        <a href="/cursos/vitamina-d" target="_blank"><img src="{{ asset('_dist/image/img/centro/img03.png')}}" alt="Vitamina D" title="Vitamina D" /></a>
                    </div>
                    <div class="familia-centro-section-3-text">
                        <h3>Vitamina D</h3>
                        <div class="familia-centro-section-3-btns">
                            <a href="/cursos/vitamina-d" class="btn-default" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'vitaminas', 'eventAction': 'click', 'eventLabel': 'vitamina-d:ver-curso'});">Ver curso</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="familia-centro-section-4" id="quiz-vitaminas">
        <div class="container container-small">
            <div class="familia-centro-section-4-row">
                <div class="familia-centro-section-4-text">
                    <h2>Quiz</h2>
                    <p class="space-h-20">
                        Você sabe tudo sobre uma<br> vida <strong>#Vitaminada?</strong>
                    </p>
                    <div class="">
                        <a href="/quiz/voce-sabe-tudo-sobre-uma-vida-vitaminada" target="_blank" class="btn-default" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'vitaminas', 'eventAction': 'click', 'eventLabel': 'responda-o-quiz'});">Responda o quiz</a>
                    </div>
                </div>

                <div class="familia-centro-section-4-img">
                    <a href="/quiz/voce-sabe-tudo-sobre-uma-vida-vitaminada" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'vitaminas', 'eventAction': 'click', 'eventLabel': 'responda-o-quiz'});"><img src="{{ asset('_dist/image/img/centro/img04.png')}}" alt="" title="" /></a>
                </div>
            </div>
        </div>
    </div>

    <div class="familia-centro-section-5" id="bem-estar-vitaminas">
        <div class="container container-small">
            <div class="familia-centro-section-5-row">
                <div class="familia-centro-section-5-text">
                    <h2>Saúde e bem-estar andam juntos!</h2>
                    <p>
                        <strong>Equilibrisse</strong> é um fitoterápico produzido a partir das flores de maracujá que auxilia fornecendo tranquilidade e bem-estar para o dia a dia!
                    </p>
                </div>
                <div class="familia-centro-section-5-img">
                    <a href="/equilibrisse" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'vitaminas', 'eventAction': 'click', 'eventLabel': 'equilibrisse'});"><img src="{{ asset('_dist/image/img/centro/equilibrese-img.png')}}" alt="equilibrese" title="equilibrese" /></a>
                </div>
            </div>
        </div>
    </div>

    <div class="familia-centro-section-6" id="produtos-vitaminas">
        <div class="container container-small">
            <h2>Conheça a linha mais <span>#Vitaminada</span></h2>
            <div class="familia-centro-section-6-row">
                <div class="prod-vitaminas-item">
                    <figure>
                        <img src="/_dist/image/img/centro/prod-01.png" alt="Vitaminas Neo Quimica">
                    </figure>
                    <div class="text-center btn-vitaminas-prod">
                        <a href="https://www.portalneopharma.com.br/produtos?q=Vitamina+Neo+Qu%C3%ADmica" target="_blank" class="btn-default"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'vitaminas', 'eventAction': 'click', 'eventLabel': 'conheca-linha:vitaminas-neo-quimica'});">Vitaminas Neo Quimica</a>
                    </div>
                </div>
                <div class="prod-vitaminas-item">
                    <figure>
                        <img src="/_dist/image/img/centro/prod-02.png" alt="Dropy D">
                    </figure>
                    <div class="text-center btn-vitaminas-prod">
                        <a href="/dropyd" class="btn-default"target="_blank"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'vitaminas', 'eventAction': 'click', 'eventLabel': 'conheca-linha:drop-d'});">Dropy D</a>
                    </div>
                </div>
                <div class="prod-vitaminas-item">
                    <figure>
                        <img src="/_dist/image/img/centro/prod-03.png" alt="Melatonina">
                    </figure>
                    <div class="text-center btn-vitaminas-prod">
                        <a href="/produtos/melatonina-neo-quimica" class="btn-default" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'vitaminas', 'eventAction': 'click', 'eventLabel': 'conheca-linha:melatonina'});">Melatonina</a>
                    </div>
                </div>
                <div class="prod-vitaminas-item">
                    <figure>
                        <img src="/_dist/image/img/centro/prod-04.png" alt="Equilibrisse">
                    </figure>
                    <div class="text-center btn-vitaminas-prod">
                        <a href="/equilibrisse" class="btn-default"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'vitaminas', 'eventAction': 'click', 'eventLabel': 'conheca-linha:equilibrisse'});" arget="_blank">Equilibrisse</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center">

            <div class="text-center">
                <p class="btn-default text-bottom1">
                    Importante: Esta é uma plataforma da Neo Química destinada a profissionais de saúde que trabalham em farmácias.
                </p>
            </div>
            <div class="text-bottom2">
                <p class="space-h-30">
                    Dropy D 2000 U.I. Alimento isento de registro conforme RDC 27/2010. Maio/2022. Dropy D Solução gotas. colecalciferol 10.000 U.I./mL. Indicações: suplemento vitamínico em dietas restritivas e inadequadas. É utilizado na prevenção/tratamento auxiliar na desmineralização óssea pré e pós-menopausa, e prevenção de raquitismo. MS 1.5584.0517. Brainfarma Indústria Química e Farmacêutica S.A. SE PERSISTIREM OS SINTOMAS O MÉDICO DEVERÁ SER CONSULTADO. Agosto/2022. Equilibrisse. Extrato seco de Passiflora incamata L. 420 mg. Indicações: para o tratamento da ansiedade leve, como estados de irritabilidade, agitação nervosa, tratamento de insônia e desordens de ansiedade. M.S. n° 1.5584.0575. Referências bibliográficas: 1. Folheto do produto Equilibrisse. SE PERSISTIREM OS SINTOMAS, O MÉDICO DEVERÁ SER CONSULTADO. Agosto/2022.
                </p>
            </div>
        </div>
    </div>
   
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}