{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Quiz Vitaminas{% endblock %}
    
{% block body %}

<div class="page-centro-quiz" id="centro-quiz">
    {% if quiz %}
    <div class="main-title">
        <div class="container">
            <h2>{{ quiz.name }}</h2>
            {{ quiz.description|raw }}
            <div class="text-center space-h-10">
                <img src="{{ asset('_dist/image/img/centro/arow-bottom.png') }}"  alt="" />
            </div>
        </div>
    </div>
    {% endif %}

    {% if questions|length > 0 %}
    <div class="centro-quiz-container">

        {% for question in questions %}
        <div class="centro-quiz-section">
            <h2>
                <div class="container">
                  {{ question.title|raw }}
                </div>
            </h2>
            <div class="container">
                <div class="centro-quiz-respostas" data-question="{{ loop.index }}">
                    {% for alternative in question.quizAllAlternatives %}
                    <div class="centro-quiz-box quiz-answer {{ alternative.isCorrect ? 'correto' : '' }}">
                        <figure>
                            <img src="{{ asset(alternative.imageDesk) }}" alt="{{ alternative.imageAlt }}">
                        </figure>
                        <p>{{ alternative.title|raw }}</p>
                    </div>
                    {% endfor %}
                </div>

                <div class="refrence">
                   {{ question.reference|raw }}
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div> 

    <div class="text-center space-h-30">
        <a class="btn-default btn-result btn-yellow btn-yellow2" data-qtd="0" style="display: none;">Ver Resultado</a>
    </div> 

    <div class="quiz-centro-result-box">
        <div class="container">
            <div class="quiz-centro-result" id="quiz-result"></div>
        </div>
    </div>
   
    {% endif %}
<div>
{% endblock %}
{% block javascripts %}
    <script>
    {% if quiz.id is defined %}    
    //verificando a quantidade de acertos
    $('.btn-result').on('click', function() {
        var hits = 0
        var box_result = $('#quiz-result')
        var quantidade_acertos = $(".sim").length
        var label_acertos = 'questão'

        if (quantidade_acertos > 1) {
            label_acertos = 'questões'
        }

        $('.quiz-answer').each(function(e) {
            if ($(this).hasClass('yes')) {
                hits++
            }
        })

        $.ajax({
            url: '{{ path('quiz_result') }}',
            type: "POST",
            dataType: "json",
            data: {
                q: true,
                slug : '{{ quiz.slug }}',
                hits: quantidade_acertos
            },
            beforeSend: function() {
                box_result.html('<h1 class="text-center">Carregando...</h1>')
            },
            success: function(response) {
                                
                if (response.status) {
                    box_result.html('<strong>Você acertou: '+quantidade_acertos+' '+label_acertos+'</strong><br><br>'+response.message)
                } else if (!response.status){
                    box_result.html(response.message)
                }
            }, 
            error: function(response) {
            
            }
            
        });

        
    });
    {% endif %}

    //condição para o usuário responder a pergunta apenas uma única vez 
    $(".centro-quiz-box").click(function() {
        var i = 0, number = 0  
        var quantity_answered = $('.btn-result')
    
        $(this).parents('.centro-quiz-respostas').children('.centro-quiz-box').each(function(e) {          
            if ($(this).hasClass('yes') || $(this).hasClass('no')) {
                i++
            }
        })  
        
        if (i == 0) {
            if($(this).hasClass('correto')){
                //$(this).parents('.centro-quiz-respostas').find('.quiz-answer').removeClass('no');
                $(this).addClass('yes sim')
            } else {
                $(this).parents('.centro-quiz-respostas').find('.correto').addClass('yes');
                $(this).addClass('no');
            }

            number = Number(quantity_answered.data('qtd')) + 1
            quantity_answered.data('qtd', number)
        }

        if (number == $('.centro-quiz-respostas').length) {
            quantity_answered.show()
        }
    });
    </script>
{% endblock %}