

{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Solicitação de Amostra{% endblock %}
{% block styles %}
    <style>
        #form span{ color: red !important; }
    </style>
{% endblock %}
{% block metatags %}
    
{% endblock %}

{% block body %}
    
    <div class="page-not-banner page-solicitacao-amostra" id="familia-centro">
        <div class="container">
            
            <div class="header-solicitacao-amostra">
                <h1>
                    Para deixar o seu dia mais vitaminado, precisamos apenas confirmar o endereço para o envio da <u>amostra de Dropy D!</u>  
                    <strong>Por favor, preencha os campos abaixo com o local onde deseja recebê-la!</strong>
                </h1>
            </div>

            <div class="box form-solicitacao-amostra">
                <form action="{{ path('solicitation_sample') }}" method="POST" class="form" id="form">
            
                    <div class="">
                        <input type="hidden" name="d" class="form-control" autocomplete="off">
                        <div class="space-h-10">
                            <label for="zip_code">CEP * <span id="zip-code-error"><span></label>
                            <input type="text" id="zip_code" name="zip_code" class="form-control zip_code" value="{{ app.user.zipCode }}" autocomplete="off"/>
                        </div>
                        <div class="space-h-10">
                            <label for="address">Endereço *<span id="address-error"><span></label>
                            <input type="text" id="address" name="address" class="form-control address" value="{{ app.user.address }}" autocomplete="off">
                        </div>
                        <div class="grid">
                            <div class="one-fifth grid-sys">
                                <div class="space-h-10">
                                    <label for="number">N° *<span id="number-error"><span></label>
                                    <input type="text" id="number" name="number" class="form-control number" value="{{ app.user.number }}" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="two-fifth grid-sys">
                                <div class="space-h-10">
                                    <label for="complement">Complemento <span id="complement-error"><span></label>
                                    <input type="text" id="complement" name="complement" class="form-control complement" value="{{ app.user.complement }}" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="two-fifth grid-sys">
                                <div class="space-h-10">
                                    <label for="neighborhood">Bairro *<span id="neighborhood-error"><span></label>
                                    <input type="text" id="neighborhood" name="neighborhood" class="form-control neighborhood" value="{{ app.user.neighborhood }}" autocomplete="off"/>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="city">Cidade *<span id="city-error"><span></label>
                                    <input type="text" id="city" name="city" class="form-control city" value="{{ app.user.city }}" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="one-half grid-sys">
                                <div class="space-h-10">
                                    <label for="state">Estado *<span id="state-error"><span></label>
                                    <select id="state" name="state" class="form-control state">
                                        <option value="AC" {{ app.user.estateAddress == 'AC' ? 'selected' : '' }}>Acre</option>
                                        <option value="AL" {{ app.user.estateAddress == 'AL' ? 'selected' : '' }}>Alagoas</option>
                                        <option value="AP" {{ app.user.estateAddress == 'AP' ? 'selected' : '' }}>Amapá</option>
                                        <option value="AM" {{ app.user.estateAddress == 'AM' ? 'selected' : '' }}>Amazonas</option>
                                        <option value="BA" {{ app.user.estateAddress == 'BA' ? 'selected' : '' }}>Bahia </option>
                                        <option value="CE" {{ app.user.estateAddress == 'CE' ? 'selected' : '' }}>Ceará</option>
                                        <option value="DF" {{ app.user.estateAddress == 'DF' ? 'selected' : '' }}>Distrito Federal</option>
                                        <option value="ES" {{ app.user.estateAddress == 'ES' ? 'selected' : '' }}>Espírito Santo</option>
                                        <option value="GO" {{ app.user.estateAddress == 'GO' ? 'selected' : '' }}>Goiás</option>
                                        <option value="MA" {{ app.user.estateAddress == 'MA' ? 'selected' : '' }}>Maranhão</option>
                                        <option value="MT" {{ app.user.estateAddress == 'MT' ? 'selected' : '' }}>Mato Grosso</option>
                                        <option value="MS" {{ app.user.estateAddress == 'MS' ? 'selected' : '' }}>Mato Grosso do Sul</option>
                                        <option value="MG" {{ app.user.estateAddress == 'MG' ? 'selected' : '' }}>Minas Gerais</option>
                                        <option value="PA" {{ app.user.estateAddress == 'PA' ? 'selected' : '' }}>Pará</option>
                                        <option value="PB" {{ app.user.estateAddress == 'PB' ? 'selected' : '' }}>Paraíba</option>
                                        <option value="PR" {{ app.user.estateAddress == 'PR' ? 'selected' : '' }}>Paraná</option>
                                        <option value="PE" {{ app.user.estateAddress == 'PE' ? 'selected' : '' }}>Pernambuco</option>
                                        <option value="PI" {{ app.user.estateAddress == 'PI' ? 'selected' : '' }}>Piauí</option>
                                        <option value="RJ" {{ app.user.estateAddress == 'RJ' ? 'selected' : '' }}>Rio de Janeiro</option>
                                        <option value="RN" {{ app.user.estateAddress == 'RN' ? 'selected' : '' }}>Rio Grande do Norte</option>
                                        <option value="RS" {{ app.user.estateAddress == 'RS' ? 'selected' : '' }}>Rio Grande do Sul</option>
                                        <option value="RO" {{ app.user.estateAddress == 'RO' ? 'selected' : '' }}>Rondônia</option>
                                        <option value="RR" {{ app.user.estateAddress == 'RR' ? 'selected' : '' }}>Roraima</option>
                                        <option value="SC" {{ app.user.estateAddress == 'SC' ? 'selected' : '' }}>Santa Catarina</option>
                                        <option value="SP" {{ app.user.estateAddress == 'SP' ? 'selected' : '' }}>São Paulo</option>
                                        <option value="SE" {{ app.user.estateAddress == 'SE' ? 'selected' : '' }}>Sergipe</option>
                                        <option value="TO" {{ app.user.estateAddress == 'TO' ? 'selected' : '' }}>Tocantins</option>
                                    </select>
                                
                                </div>
                            </div>
                        </div>
                        <div class="space-h-20 text-center">
                            <button type="submit" class="btn-default btn-action">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="familia-centro">
        <!-- Modal -->
        <div class="modal-default modal-dropyD modal-prod" id="">
            <div class="content-form-src-desk">
                <div class="modal-content dropyD-message">
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
    var url = "{{path('solicitation_sample')}}";
    var consultaCorreios = "{{path('api-correios')}}";

    $(".btn-action").on("click", function(){
        var $this = $(this);
        var values = $('#form').serialize();

        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            data: values,
            beforeSend: function(){
                $this.text('Carregando...');
                $this.attr("disabled", true);
            },
            success: function (response) {
                $this.text('Salvar');
                $this.attr("disabled", false);

                if (response.status) {
                    modalMsg(response.message)        
                } else {
                    if (response.error.hasOwnProperty('address')) {
                        $('#address-error').text(response.error.address)
                    }

                    if (response.error.hasOwnProperty('number')) {
                        $('#number-error').text(response.error.number)
                    }

                    if (response.error.hasOwnProperty('neighborhood')) {
                        $('#neighborhood-error').text(response.error.neighborhood);
                    }

                    if (response.error.hasOwnProperty('city')) {
                        $('#city-error').text(response.error.city)
                    }

                    if (response.error.hasOwnProperty('state')) {
                        $('#state-error').text(response.error.state)
                    }
                    
                    if (response.error.hasOwnProperty('zip_code')) {
                        $('#zip-code-error').text(response.error.zip_code)
                    }
                }
            } 
        });
    })

    $('.zip_code').on('blur', function(e) {
        var cep     = $(this).val()
        var btn     = $('.btn-register-gestor')
        var address = $('.address'), neighborhood =  $('.neighborhood'), city = $('.city'), state = $('.state'), zip_code = $('.zip_code')

        if (cep.length < 9) {
            $('#zip-code-error').text('CEP INVÁLIDO');
            return false;
        }

        $.ajax({
            url: consultaCorreios,
            type: "POST",
            dataType: "json",
            data: {
                'cep': cep, 
            },
            beforeSend: function(){
                address.val('...');  
                neighborhood.val('...');  
                city.val('...');  
                state.val('...');
            },
            success: function (response) {
                
                $('#address-error').text('') 
                $('#neighborhood-error').text('')  
                $('#city-error').text('') 
                $('#state-error').text('') 

                if (!response.status) {
                    $('#zip-code-error').text(response.message);
                    return false;
                }
                
                $('#zip-code-error').text('')
                address.val(response.endereco);  
                neighborhood.val(response.bairro + ' ' + response.complemento2);  
                city.val(response.cidade);  
                state.val(response.uf);
            }
        });
    })
    
    $('.address').on("keyup", function(){
        $('#address-error').text('')
    })

    $('.number').on("keyup", function(){
        $('#number-error').text('')
    })

    $('.neighborhood').on("keyup", function(){
        $('#neighborhood-error').text('')
    })

    $('.city').on("keyup", function(){
        $('#city-error').text('')
    })

    $('.state').on("keyup", function(){
        $('#state-error').text('')
    })

    $('.zip-code').on("keyup", function(){
        $('#zip-code-error').text('')
    })

    $('.zip_code').mask('00000-000');

    function modalMsg(message) {     
        $('.dropyD-message').html(message)       
        if($('.modal-dropyD').hasClass('open-menu')){
            $('.modal-dropyD').removeClass('open-modal');
        } else{
            $('.modal-dropyD').addClass('open-modal');
        }
    }
    </script>
{% endblock %}
