{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Ranking{% endblock %}

{% block body %}
    <header class="header-main text-center">
        <div class="container">
            <h1>Ranking</h1>
        </div>
    </header>
    <figure class="text-center space-h-10">
        <img src="{{ asset('_dist/image/img/ranking.jpg') }}" alt="" /> 
    </figure>
    <div class="container">
        <div class="space-h-40">
            <a href="{{path('home-register')}}" class="btn-default btn-full btn-large">Cadastre-se para participar</a>
        </div>

        {% for r in rank %}
            <div class="ranking-top-box align-items-center d-flex">
                <figure class="ranking-top-image">
                    <img src="{{ asset(r.badge.image) }}" class="visible-xs">
                    <img src="{{ asset(r.badge.imageMobile) }}" class="hidden-xs">
                </figure>
                <div class="ranking-top-text">
                    <h3>{{ r.badge.name }}</h3>
                    <p>
                        {{ r.badge.description|raw }}
                    </p>
                </div>
            </div>
            <div class="ranking-table space-h-20">
                {% if r.rank|length > 0 %}
                    <table class="table">
                        {% for user in r.rank %}
                            <tr>
                                <td class="avatar-ranking"><img src="{{ asset(user.user_avatar) }}" /></td>
                                <td class="name-ranking">
                                    <div class="d-flex align-items-center">
                                        <figure class="table-medal">
                                            {% if user.position == 1 %}
                                                <img src="{{ asset('_dist/image/img/golden-medal.png') }}" />
                                            {% elseif user.position == 2 %}
                                                <img src="{{ asset('_dist/image/img/silver-medal.png') }}" />
                                            {% elseif user.position == 3 %}
                                                <img src="{{ asset('_dist/image/img/bronze-medal.png') }}" />
                                            {% endif %}
                                        </figure>
                                        <div class="table-text">
                                            <h3>{{user.user_name}}</h3>
                                            <p>{{ user.user_is_pharmaceutical ? 'Farmacêutico' : 'Balconista' }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="point-ranking"><strong>{{user.total_points}}</strong></td>
                            <tr>
                        {% endfor %}
                    </table>
                {% else %}
                    
                {% endif %}
            </div>
            <hr>
        {% endfor %}

{#}

        <div class="ranking-top-box align-items-center d-flex space-h-20">
            <figure class="ranking-top-image">
                <img src="{{ asset('_dist/image/img/golden-medal.png') }}" />
            </figure>
            <div class="ranking-top-text">
                <h3>Compartilhador</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                </p>
            </div>
        </div>
        <div class="ranking-table">
            <table class="table">
                <tr>
                    <td class="avatar-ranking"><img src="{{ asset('_dist/image/img/avatar1.jpg') }}" /></td>
                    <td class="name-ranking">
                        <div class="d-flex align-items-center">
                            <figure class="table-medal">
                                <img src="{{ asset('_dist/image/img/golden-medal.png') }}" /> 
                            </figure>
                            <div class="table-text">
                                <h3>João Paulo</h3>
                                <p>Farmacêutico</p>
                            </div>
                        </div>
                    </td>
                    <td class="point-ranking"><strong>999.999</strong></td>
                <tr>
                <tr>
                    <td class="avatar-ranking"><img src="{{ asset('_dist/image/img/avatar1.jpg') }}" /></td>
                    <td class="name-ranking">
                        <div class="d-flex align-items-center">
                            <figure class="table-medal">
                                <img src="{{ asset('_dist/image/img/silver-medal.png') }}" /> 
                            </figure>
                            <div class="table-text">
                                <h3>João Paulo</h3>
                                <p>Farmacêutico</p>
                            </div>
                        </div>
                    </td>
                    <td class="point-ranking"><strong>999.999</strong></td>
                <tr>
                <tr>
                    <td class="avatar-ranking"><img src="{{ asset('_dist/image/img/avatar1.jpg') }}" /></td>
                    <td class="name-ranking">
                        <div class="d-flex align-items-center">
                            <figure class="table-medal">
                                <img src="{{ asset('_dist/image/img/bronze-medal.png') }}" /> 
                            </figure>
                            <div class="table-text">
                                <h3>João Paulo</h3>
                                <p>Farmacêutico</p>
                            </div>
                        </div>
                    </td>
                    <td class="point-ranking"><strong>999.999</strong></td>
                <tr>
            </table>
        </div>
        <hr>

        <div class="ranking-top-box align-items-center d-flex  space-h-20">
            <figure class="ranking-top-image">
                <img src="{{ asset('_dist/image/img/golden-medal.png') }}" />
            </figure>
            <div class="ranking-top-text">
                <h3>Ouvinte de podcast</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                </p>
            </div>
        </div>
        <div class="ranking-table">
            <table class="table">
                 <tr>
                    <td class="avatar-ranking"><img src="{{ asset('_dist/image/img/avatar1.jpg') }}" /></td>
                    <td class="name-ranking">
                        <div class="d-flex align-items-center">
                            <figure class="table-medal">
                                <img src="{{ asset('_dist/image/img/golden-medal.png') }}" /> 
                            </figure>
                            <div class="table-text">
                                <h3>João Paulo</h3>
                                <p>Farmacêutico</p>
                            </div>
                        </div>
                    </td>
                    <td class="point-ranking"><strong>999.999</strong></td>
                <tr>
                <tr>
                    <td class="avatar-ranking"><img src="{{ asset('_dist/image/img/avatar1.jpg') }}" /></td>
                    <td class="name-ranking">
                        <div class="d-flex align-items-center">
                            <figure class="table-medal">
                                <img src="{{ asset('_dist/image/img/silver-medal.png') }}" /> 
                            </figure>
                            <div class="table-text">
                                <h3>João Paulo</h3>
                                <p>Farmacêutico</p>
                            </div>
                        </div>
                    </td>
                    <td class="point-ranking"><strong>999.999</strong></td>
                <tr>
                <tr>
                    <td class="avatar-ranking"><img src="{{ asset('_dist/image/img/avatar1.jpg') }}" /></td>
                    <td class="name-ranking">
                        <div class="d-flex align-items-center">
                            <figure class="table-medal">
                                <img src="{{ asset('_dist/image/img/bronze-medal.png') }}" /> 
                            </figure>
                            <div class="table-text">
                                <h3>João Paulo</h3>
                                <p>Farmacêutico</p>
                            </div>
                        </div>
                    </td>
                    <td class="point-ranking"><strong>999.999</strong></td>
                <tr>
            </table>
        </div>
        <hr>

        <div class="ranking-top-box align-items-center d-flex space-h-20">
            <figure class="ranking-top-image">
                <img src="{{ asset('_dist/image/img/golden-medal.png') }}" />
            </figure>
            <div class="ranking-top-text">
                <h3>Fazedor de quiz</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                </p>
            </div>
        </div>
        <div class="ranking-table">
            <table class="table">
                <tr>
                    <td class="avatar-ranking"><img src="{{ asset('_dist/image/img/avatar1.jpg') }}" /></td>
                    <td class="name-ranking">
                        <div class="d-flex align-items-center">
                            <figure class="table-medal">
                                <img src="{{ asset('_dist/image/img/golden-medal.png') }}" /> 
                            </figure>
                            <div class="table-text">
                                <h3>João Paulo</h3>
                                <p>Farmacêutico</p>
                            </div>
                        </div>
                    </td>
                    <td class="point-ranking"><strong>999.999</strong></td>
                <tr>
                <tr>
                    <td class="avatar-ranking"><img src="{{ asset('_dist/image/img/avatar1.jpg') }}" /></td>
                    <td class="name-ranking">
                        <div class="d-flex align-items-center">
                            <figure class="table-medal">
                                <img src="{{ asset('_dist/image/img/silver-medal.png') }}" /> 
                            </figure>
                            <div class="table-text">
                                <h3>João Paulo</h3>
                                <p>Farmacêutico</p>
                            </div>
                        </div>
                    </td>
                    <td class="point-ranking"><strong>999.999</strong></td>
                <tr>
                <tr>
                    <td class="avatar-ranking"><img src="{{ asset('_dist/image/img/avatar1.jpg') }}" /></td>
                    <td class="name-ranking">
                        <div class="d-flex align-items-center">
                            <figure class="table-medal">
                                <img src="{{ asset('_dist/image/img/bronze-medal.png') }}" /> 
                            </figure>
                            <div class="table-text">
                                <h3>João Paulo</h3>
                                <p>Farmacêutico</p>
                            </div>
                        </div>
                    </td>
                    <td class="point-ranking"><strong>999.999</strong></td>
                <tr>
            </table>
        </div>
        <hr>

        <div class="ranking-top-box align-items-center d-flex space-h-20">
            <figure class="ranking-top-image">
                <img src="{{ asset('_dist/image/img/golden-medal.png') }}" />
            </figure>
            <div class="ranking-top-text">
                <h3>Aluno dedicado</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                </p>
            </div>
        </div>
        <div class="ranking-table">
            <table class="table">
                 <tr>
                    <td class="avatar-ranking"><img src="{{ asset('_dist/image/img/avatar1.jpg') }}" /></td>
                    <td class="name-ranking">
                        <div class="d-flex align-items-center">
                            <figure class="table-medal">
                                <img src="{{ asset('_dist/image/img/golden-medal.png') }}" /> 
                            </figure>
                            <div class="table-text">
                                <h3>João Paulo</h3>
                                <p>Farmacêutico</p>
                            </div>
                        </div>
                    </td>
                    <td class="point-ranking"><strong>999.999</strong></td>
                <tr>
                <tr>
                    <td class="avatar-ranking"><img src="{{ asset('_dist/image/img/avatar1.jpg') }}" /></td>
                    <td class="name-ranking">
                        <div class="d-flex align-items-center">
                            <figure class="table-medal">
                                <img src="{{ asset('_dist/image/img/silver-medal.png') }}" /> 
                            </figure>
                            <div class="table-text">
                                <h3>João Paulo</h3>
                                <p>Farmacêutico</p>
                            </div>
                        </div>
                    </td>
                    <td class="point-ranking"><strong>999.999</strong></td>
                <tr>
                <tr>
                    <td class="avatar-ranking"><img src="{{ asset('_dist/image/img/avatar1.jpg') }}" /></td>
                    <td class="name-ranking">
                        <div class="d-flex align-items-center">
                            <figure class="table-medal">
                                <img src="{{ asset('_dist/image/img/bronze-medal.png') }}" /> 
                            </figure>
                            <div class="table-text">
                                <h3>João Paulo</h3>
                                <p>Farmacêutico</p>
                            </div>
                        </div>
                    </td>
                    <td class="point-ranking"><strong>999.999</strong></td>
                <tr>
            </table>
        </div>
{#}
    </div>
    
{% endblock %}

{% block javascripts %}{% endblock %}