{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Oriente me{% endblock %}
    
{% block body %}
    <div class="oriente-me oriente-me-principal" id="oriente-me">
        <section  class="text-center">
            <div class="hidden-xs"><img src="{{ asset('_dist/image/img/oriente-me/banner.png')}}" alt="Banner"></div>
            <div class="visible-xs"><img src="{{ asset('_dist/image/img/oriente-me/banner.png')}}" alt="Banner"></div>
        </section>
        <div class="faixa-banner">
            <div class="container">
                <h2>Conheça esta parceria essencial para a sua saúde!</h2>
            </div>
        </div>

        <div class="oriente-section-1">
            <div class="container">
                <h2>O cuidado é o que move a Neo Química.</h2>
                <p>
                    Pensando no seu bem-estar, nós estamos disponibilizando um serviço de terapia on-line para ajudar a cuidar de quem tanto ajuda o próximo: você!
                </p>
                <p>
                   Para você entender melhor como a <strong>OrienteMe</strong> pode te beneficiar, nós vamos explicar direitinho!
                </p>
                <div class="space-h-20">
                    <a href="#"  data-modal="video1" class="video-play"><img src="{{ asset('_dist/image/img/oriente-me/thumb-video.jpg')}}" alt=""></a>
                </div>
                <div class="space-h-20 text-center oriente-section-1-btns">
                    <a href="https://cadastro.orienteme.com.br" target="_blank" class="btn-default">Cadastre-se agora!</a>
                    <span class="space-w-20">ou</span>
                    <a href="https://app.orienteme.com.br" target="_blank" class="btn-default" style="min-width:219px;">Faça o Login</a>
                    
                </div>
            </div>
        </div>

        <div class="assistencia-tecnica-orienteme text-center section-fixed-orienteme">
            <div class="container">
                <div>
                    <img src="{{ asset('_dist/image/img/oriente-me/assistencia-icon.svg')}}" alt="" title="">
                </div>
                <h2>Assistência em qualquer lugar, sempre que você quiser.</h2>
                <p>
                    Sessões agendadas de videochamada e troca de mensagens ilimitada, exercícios de meditação, mindfullness, exercícios contra insônia e muito mais estão sempre <strong>disponíveis para você acessar quando e de onde você quiser</strong>, direto de uma plataforma totalmente digital e sigilosa!
                </p>
            </div>
        </div>

        <div class="com-quem-voce-se-comunicar-orienteme text-center section-fixed-orienteme">
            <div class="container">
                <div>
                    <img src="{{ asset('_dist/image/img/oriente-me/com-quem-voce-se-comunicar-icon.svg')}}" alt="Com quem você irá se comunicar?" title="Com quem você irá se comunicar?">
                </div>
                <h2>Com quem você irá se comunicar?</h2>
                <p>
                    A escolha do seu profissional será feita a partir do seu perfil, considerando alguns fatores importantes para definir <strong>o perfil que mais combina com você</strong>. E, caso seja de seu interesse, é possível pedir a troca de profissionais.
                </p>
            </div>
        </div>

        <div class="quanto-isso-ira-custar-orienteme text-center section-fixed-orienteme">
            <div class="container">
                <div>
                    <img src="{{ asset('_dist/image/img/oriente-me/quanto-isso-ira-custar-icon.svg')}}" alt="Com quem você irá se comunicar?" title="Com quem você irá se comunicar?">
                </div>
                <h2>E quanto isso irá custar?</h2>
                <p>
                   <span>Nada!</span> O <strong>Portal Neo Pharma</strong> considera a sua saúde de extrema importância e, por isso, disponibilizou esse serviço de forma <strong>totalmente gratuita</strong> para você, profissional de farmácia!
                </p>
            </div>
        </div>

        <div class="com-oque-a-orienteme-ira-ajudar-section">
            <div class="container">
                <h2>Com o que a OrienteMe irá te ajudar?</h2>

                <div class="com-oque-a-orienteme-ira-ajudar-box">
                    <div class="com-oque-a-orienteme-ira-ajudar-item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/oriente-me/familia-icon.svg')}}" alt="" title="">
                        </figure>
                        <h3>Família</h3>
                        <p>
                            A sua família tem um grande papel na sua base. Enxergue a importância, as diferenças e fortalezas do seu núcleo familiar e terá mais clareza sobre de onde você vem e para onde quer ir.
                        </p>
                    </div>

                    <div class="com-oque-a-orienteme-ira-ajudar-item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/oriente-me/tristeza-icon.svg')}}" alt="Tristeza" title="Tristeza">
                        </figure>
                        <h3>Tristeza</h3>
                        <p>
                            Perda de interesse. Desesperança. Descubra o que está te causando a tristeza e coloque a mente a seu favor para ter uma vida mais equilibrada e feliz.
                        </p>
                    </div>

                    <div class="com-oque-a-orienteme-ira-ajudar-item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/oriente-me/relacionamento-afetivo.svg')}}" alt="Relacionamento afetivo" title="Relacionamento afetivo">
                        </figure>
                        <h3>Relacionamento afetivo</h3>
                        <p>
                            Você está com problemas no seu relacionamento? Encontrar as causas é o primeiro passo para harmonizar a relação. Descubra como vocês podem construir um relacionamento harmonioso.
                        </p>
                    </div>

                    <div class="com-oque-a-orienteme-ira-ajudar-item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/oriente-me/estresse-icon.svg')}}" alt="Estresse" title="Estresse">
                        </figure>
                        <h3>Estresse</h3>
                        <p>
                            O estresse está te consumindo? Quer levar uma vida mais leve, sem tanta pressão? Descubra os seus gatilhos emocionais e trabalhe seu autoconhecimento para ter uma vida mais balanceada.
                        </p>
                    </div>

                    <div class="com-oque-a-orienteme-ira-ajudar-item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/oriente-me/ansiedade-icon.svg')}}" alt="Ansiedade" title="Ansiedade">
                        </figure>
                        <h3>Ansiedade</h3>
                        <p>
                            Dizem que a ansiedade é a pessoa não ter tempo para o agora. É a aflição de algo futuro. Trabalhe sua mente para entender as causas da ansiedade e conseguir focar no presente.
                        </p>
                    </div>

                    <div class="com-oque-a-orienteme-ira-ajudar-item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/oriente-me/profissionalmente-icon.svg')}}" alt="Profissionalmente" title="Profissionalmente">
                        </figure>
                        <h3>Profissionalmente</h3>
                        <p>
                            Pretende, planeja ou necessita redirecionar sua carreira? Descubra o seu potencial, planeje sua carreira profissional e adquira, consequentemente, mais satisfação pessoal!
                        </p>
                    </div>

                    <div class="com-oque-a-orienteme-ira-ajudar-item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/oriente-me/autoconhecimento-icon.svg')}}" alt="Autoconhecimento" title="Autoconhecimento">
                        </figure>
                        <h3>Autoconhecimento</h3>
                        <p>
                            Quem sou eu? O que quero para minha vida?
                            A jornada do autoconhecimento é muito enriquecedora. Descubra como você se enxerga e isso te trará mais controle sobre a sua vida.
                        </p>
                    </div>

                    <div class="com-oque-a-orienteme-ira-ajudar-item">
                        <figure>
                            <img src="{{ asset('_dist/image/img/oriente-me/autoestima-icon.svg')}}" alt="Autoestima" title="Autoestima">
                        </figure>
                        <h3>Autoestima</h3>
                        <p>
                            Como me vejo? Sou bom o suficiente? Eu me critico muito? A autoestima é a percepção de como uma pessoa se enxerga. Aprenda a colocar sua mente a seu favor e descobrirá seus reais valores e potenciais.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="o-que-pensa-quem-usa-section">
            <div class="container">
                <div class="o-que-pensa-carousel">
                    <div class="slides owl-carousel">
                        <div class="item">
                           <img src="{{ asset('_dist/image/img/oriente-me/slide-item-1.png')}}" alt="" title="">
                        </div>

                        <div class="item">
                           <img src="{{ asset('_dist/image/img/oriente-me/slide-item-2.png')}}" alt="" title="">
                        </div>

                        <div class="item">
                           <img src="{{ asset('_dist/image/img/oriente-me/slide-item-3.png')}}" alt="" title="">
                        </div>

                        <div class="item">
                           <img src="{{ asset('_dist/image/img/oriente-me/slide-item-1.png')}}" alt="" title="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="oriente-section-posts-container">
            <div class="oriente-section-posts oriente-section-posts-half">
                <div class="container">
                    <h2 class="text-center">
                        Conteúdos
                    </h2>
                    <div class="oriente-posts">
                        <div class="oriente-post">
                            <figure>
                                <a href="{{ path('blog_detail', {'slug':'6-maneiras-de-evitar-o-burnout'}) }}" ><img src="{{ asset('_dist/image/img/oriente-me/materia-1.png')}}" alt=""></a>
                            </figure>
                            <h3><a href="{{ path('blog_detail', {'slug':'6-maneiras-de-evitar-o-burnout'}) }}" >
                                6 maneiras de evitar o burnout
                            </a></h3>
                        </div>
                        <div class="oriente-post">
                            <div>
                                <figure>
                                    <a href="{{ path('blog_detail', {'slug':'como-a-saude-mental-pode-afetar-o-seu-corpo'}) }}" ><img src="{{ asset('_dist/image/img/oriente-me/materia-2.png')}}" alt=""></a>
                                </figure>
                                <h3><a href="{{ path('blog_detail', {'slug':'como-a-saude-mental-pode-afetar-o-seu-corpo'}) }}" >Como a saúde mental pode afetar o seu corpo</strong></a></h3>
                            </div>
                            <div class="space-h-20">
                                <figure>
                                    <a href="{{ path('blog_detail', {'slug':'a-coragem-para-enfrentar-oportunidades-da-vida'}) }}" ><img src="{{ asset('_dist/image/img/oriente-me/materia-3.png')}}" alt=""></a>
                                </figure>
                                <h3><a href="{{ path('blog_detail', {'slug':'a-coragem-para-enfrentar-oportunidades-da-vida'}) }}" >A coragem para enfrentar oportunidades da vida</strong></a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a href="/quiz/voce-pratica-a-autorreflexao">
                <img src="{{ asset('_dist/image/img/oriente-me/banner-quiz.jpg')}}" alt="" title="">
            </a>
        </div>
        <div class="oriente-bottom">
            <div class="container">
                <h2 class="text-center">Conheça essa parceria que oferece um serviço de terapia<br> on-line totalmente gratuito para você, profissional de farmácia!</h2>
                <div class="text-center">
                    <p class="btn-default">
                        Importante: Esta é uma plataforma da Neo Química destinada a profissionais de saúde que trabalham em farmácias.
                    </p>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Video 1 -->
    <div class="modal-default video-modal" id="video1">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center video-embed">
                    <video width="560" height="315" controls>
                        <source src="{{ asset('_dist/image/img/oriente-me/video-1.mp4')}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>

    <!-- Video passo 
    <div class="modal-default video-modal" id="video-passo">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center video-embed">
                    <video width="560" height="315" controls>
                        <source src="{{ asset('_dist/image/img/oriente-me/video-passo-a-passo.mp4')}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>-->

    <!-- Video Profissional 
    <div class="modal-default video-modal" id="video-profissional-farmacia">
        <div class="content-form-src-desk">
            <div class="modal-content">
                <div class="text-center space-h-20">
                    <a class="close-modal" onclick="core.hideMessage()">< Fechar</a>
                </div>
                <div class="text-center video-embed">
                    <video width="560" height="315" controls>
                        <source src="{{ asset('_dist/image/img/histamin/Como-Tratar-Tosse01.mp4')}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>-->
{% endblock %}

{% block javascripts %} 
    <style>
        .btn-disabled, .btn-disabled:hover{
            background: #CCC;
            color: #666;
            border: 1px solid #CCC;
            cursor: default;
        }
        
    </style>
    <script>

        function myFunction() {
            var checkBox = document.getElementById("check-aceito");
            var btn = document.getElementById("aceitou-btn");
            if (checkBox.checked == true){
                btn.classList.remove("btn-disabled");
                btn.removeAttribute("disabled");
            } else {
                btn.classList.add("btn-disabled");
                btn.addAttribute("disabled");
            }
        }

        $(document).ready(function(){
            //Pausar o video ao fechar o modal
            $(".close-modal").click(function() {
                //$('audio').get(0).pause();
                $('video').trigger('pause'); 
            });

            if($(".o-que-pensa-carousel .slides").length) {
				$(".o-que-pensa-carousel .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					margin: 0,
					loop: true,
					responsiveClass: true,
					nav: true,
					items: 1,
                    center: true,
                    responsive:{
                        0:{
                            items:1,
                            nav:true
                        },
                        960:{
                            items:3,
                            nav:true
                        }
                    }
				});
			}
        });
       
    </script>
{% endblock %}
