{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Orient-me - Informações{% endblock %}
    
{% block body %}
<div class="oriente-me" id="oriente-me-info">
    <div class="text-center container">
        <figure class="logo-oriente-me">
            <img src="{{ asset('_dist/image/img/oriente-me/logo-oriente-me.png')}}" alt="logo OrienteMe">
        </figure>
        <div class="space-h-40">
            <div class="green-light-box">
                <h2>Pronto,</h2>
                <p>
                    agora é só aguardar que entraremos em contato em até 05 dias uteis para confirmar sua adesão, fique atento no seu e-mail e WhatsApp. Após recebimento da confirmação, utilize o passo a passo abaixo para pode acessar os materiais gratuitos da Oriente Me. 
                </p>
                <h4>Baixe o app da OrienteMe</h4>
                <div class="d-flex justify-content-center align-items-center app-stores">
                    <a href="https://apps.apple.com/br/app/orienteme-terapia-online/id1300163763" target="_blank"><img src="{{ asset('_dist/image/img/oriente-me/logo-app-store.png')}}" alt=""></a>
                    <a href="https://play.google.com/store/apps/details?id=br.com.orienteme.android" target="_blank"><img src="{{ asset('_dist/image/img/oriente-me/logo-google-play.png')}}" alt=""></a>
                </div>
                <p>
                    .Responda um breve questionário para te conectarmos com o psicólogo ideal para você; 
                </p>
                <p>
                    .Se cadastre utilizando o seu CPF (Use o CPF cadastrado na Plataforma Neo Pharma). 
                </p>
            </div>
        </div>
        <div class="small-container">
            <p>
                Pronto! Sua sala de atendimento estará disponível para enviar mensagens de texto e áudio quando quiser. Acesse a agenda do seu psicólogo para marcar sessões de vídeo chamada. 
            </p>
            <p  class="space-h-30">
                A plataforma possui criptografia de ponta a ponta, garantindo o sigilo das informações. Se desejar, você também poderá se identificar por um apelido para o psicólogo. 
            </p>
            <p>
                <strong>
                    Cada Participante terá direito a 2 (duas) vídeo chamadas por semana e mensagens ilimitadas durante 6 meses sem custos adicionais.
                </strong>
            </p>
            <h3 class="space-h-30 text-gray">Desejamos uma ótima experiência!</h3>
            <hr>
            <h3 class="text-gray">Assista o vídeo para entender como se cadastrar:</h3>

            <div class="text-center video-embed">
                <video width="560" height="315" controls>
                    <source src="{{ asset('_dist/image/img/video.mp4')}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %} 

{% endblock %}


