<!DOCTYPE html>
<html>
    <head>
        <title>Portal Neo Pharma - Oriente Me</title>
    </head>
    <body style="display:flex">
        <p> NOME: {{ user.name }} </p>
        <p> CPF: {{ user.cpf }} </p>
        <p> Telefone: {{ user.cellphone }} </p>
        <p> E-mail: {{ user.email }} </p>
    </body>
</html>