<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oriente me</title>
</head>
<body>
    
</body>
</html>
<script>
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE ");

    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))  // If Internet Explorer, return version number
    {
        window.location = 'https://app.orienteme.com.br/Pacientes/';
    }
    else  // If another browser, return 0
    {
        window.open('https://app.orienteme.com.br/Pacientes/', '_blank');
    }

</script>