{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Oriente me{% endblock %}
    
{% block body %}
    <div class="oriente-me" id="oriente-me">
        <section  class="text-center">
            <img src="{{ asset('_dist/image/img/oriente-me/Banner_mobile_landing.png')}}" alt="Banner " class="visible-xs">
            <img src="{{ asset('_dist/image/img/oriente-me/banner.png')}}" alt="Banner " class="hidden-xs">
        </section>
        <div class="text-center container">
            <div class="space-h-20">
                <h2>Quer saber como funciona? </h2>
              
                <div class="space-h-30">
                    <div class="d-flex justify-content-between icons-oriente">
                        <div class="item">
                            <figure><img src="{{ asset('_dist/image/img/oriente-me/cadastro.png')}}" alt=""></figure>
                            Com o seu cadastro completo e atualizado no Portal Neo Pharma, clique no botão logo abaixo e informe seu e-mail no campo em branco.
                        </div>
                        <div class="item">
                            <figure><img src="{{ asset('_dist/image/img/oriente-me/formulario.png')}}" alt=""></figure>
                            Você deverá preencher um formulário sobre seu perfil. 
                        </div>
                        <div class="item">
                            <figure><img src="{{ asset('_dist/image/img/oriente-me/perfil.png')}}" alt=""></figure>
                            Com base no perfil informado, um psicólogo compatível será selecionado e pronto! 
                        </div>
                    </div>
                </div>
                <div class="box-talk">  
                    <figure><img src="{{ asset('_dist/image/img/oriente-me/imagem.png')}}" alt=""></figure>
                    <span>
                        Agora você poderá enviar mensagens de texto, áudio e vídeo sempre que quiser, além de poder participar de duas videochamadas por semana. Tudo com extremo sigilo e totalmente gratuito!
                    </span>
                </div>
                <div class="space-h-20">
                    <h3 class="text-upper">Aproveite esta oportunidade e conte conosco sempre que precisar! </h3>
                    <div>
                        Válido até dia 30/08/2021
                    </div>
                </div>
                <form name="form" action="{{ path('orienteme_save') }}" method="post">
                    <p class="space-h-10">
                        <input type="checkbox" name="" id="check-aceito" onclick="myFunction()"  required="required">
                        <a href="#" class="regulamento-btn" data-modal="regulamento-modal"> Li e aceito o regulamento</a>
                    </p>
                
                    <p>
                        <button type="submit" class="btn-default btn-blue btn-disabled" id="aceitou-btn" name="r" disabled>Quero participar</button>
                    </p>
                </form>
            </div>
        </div>

        <div class="modal-default pod-modal" id="regulamento-modal">
            <div>
                <div class="modal-content">
                    <div class="text-right">
                        <a class="close-modal" onclick="core.hideMessage()">X</a>
                    </div>
                    <div class="text-gray space-h-20">
                        <h2 class="text-gray space-h-10">REGULAMENTO – DESCONTO NA PLATAFORMA ORIENTE ME</h2>
                        <p class="space-h-10">
                            <strong>PROMOTORA:</strong> HYPERA S.A. Endereço: Avenida Magalhães de Castro, 4800, 24° andar, Edifício Continental Tower, Cidade Jardim, São Paulo/SP, CEP: 05676-120 CNPJ/MF: 02.932.074/0001-91 
                        </p>   
                        <p class="space-h-10">
                            <strong>MODALIDADE DA PROMOÇÃO:</strong> Parceria para oferta de desconto na plataforma OrienteMe www.orienteme.com.br 
                        </p>
                        <p class="space-h-10">
                            <strong>PERÍODO DA PROMOÇÃO:</strong> 22/04/2020 a 30/08/2021
                        </p>  
                        <p class="space-h-10">
                            <strong>OBJETO DA PROMOÇÃO:</strong> Em esforço contínuo para oferecer a melhor experiência aos balconistas e farmacêuticos, usuários da Plataforma Neo Pharma wwww.portalneopharma.com.br (“Portal”), especialmente, neste momento de grande pressão psicológica em decorrência do Covid-19, a Promotora em parceria com plataforma OrienteMe (“Plataforma”), oferece aos seus Usuários desconto para acesso, durante o período da promoção, aos serviços de orientação psicológica de forma on line oferecidos pela Plataforma OrienteMe.
                        </p>
                        <h2 class="text-gray space-h-10">CONDIÇÕES E FORMA DE PARTICIPAÇÃO:</h2>
                        <p class="space-h-10">
                           Poderá participar desta promoção qualquer profissional de farmácia, seja ele farmacêutico registrado no CRF ou balconista, que esteja cadastrado no Portal Neo pharma.  
                        </p>
                        <p class="space-h-10">
                            O desconto será fornecido exclusivamente para o CPF do Usuário cadastrado no site  wwww.portalneopharma.com.br, para isso o cadastro do Usuário deverá estar completo na aba Meus Dados (https://www.portalneopharma.com.br/usuario).
                        </p>
                        <p class="space-h-10">
                            Para participar, o Usuário deverá acessar o Portal Neo Pharma e completar o cadastro individual, incluindo primordialmente o CPF no processo. Aceitar o regulamento, e confirmar a participação na ação.  
                        </p>
                        <p class="space-h-10">
                            Em até 5 dias, a contar da confirmação da participação na promoção, a Promotora entrará em contato via e-mail ou mensagens via aplicativo WhatsApp confirmando a validação do desconto correspondente a 100% nos valores dos serviços de orientação psicológica disponibilizados pela Plataforma, exclusivamente durante o período de vigência da promoção, contemplando o acesso do Usuário a 02 (duas) vídeo chamadas por semana e mensagens ilimitadas. 
                        </p>
                        <p class="space-h-10">
                            Após a confirmação por parte da Promotora, o Usuário deverá acessar a Plataforma, através do link www.orienteme.com.br ou deve ser feito o download do aplicativo pelas plataformas digitais e ativar o benefício usando o CPF cadastrado no Portal Neo Pharma, que estará disponível exclusivamente durante o período da promoção. 
                        </p>
                        <p class="space-h-10">
                            A Promotora não fará nenhuma cobrança dos Usuários e não terá acesso a nenhuma das informações trocadas entre o Usuário e a Plataforma. 
                        </p>
                        <p class="space-h-10">
                            Após o término do período da promoção, o Usuário, caso seja de seu interesse, poderá adquirir a prestação de serviços diretamente com a Plataforma, sendo de sua exclusiva responsabilidade o pagamento da Plataforma. 
                        </p>
                        <p class="space-h-10">
                           A Promotora não tem qualquer responsabilidade ou ingerência em relação aos produtos e serviços comercializados pela Plataforma, sendo que quaisquer dúvidas ou reclamações a esse respeito deverão ser encaminhadas diretamente a Plataforma e, o Usuário estará obrigado ao atendimento dos Termos de Uso e regras da Plataforma. 
                        </p>
                        <p class="space-h-10">
                            O Usuário deverá consultar os Termos de Uso e a Política de Privacidade da Plataforma ou lhe solicitar informações, no que diz respeito à coleta e tratamento de dados pessoais pela Plataforma, única responsável pelo tratamento de dados pessoais do Usuário. 
                        </p>
                        <p class="space-h-10">
                            O Usuário, ao utilizar o  desconto, concorda com todos os termos e condições presentes neste instrumento relacionados com esta promoção, bem como concorda em aceitá-los sem direito à futuras reivindicações à Promotora, bem como também concorda em isentar a mesma e/ou qualquer empresa envolvida na promoção, suas companhias coligadas, subsidiárias e afiliadas, inclusive seus respectivos funcionários, representantes, prestadores de serviços e agentes ou qualquer outra pessoa ou organização envolvida diretamente ou indiretamente nesta promoção, de toda e qualquer demanda ou ação legal consequente de sua participação. 
                        </p>
                        <p class="space-h-10">
                            O desconto é pessoal e intransferível, sendo vedada sua transferência, bem como não poderá ser convertido, total ou parcialmente, em dinheiro. 
                        </p>
                        <h2 class="text-gray space-h-10">DISPOSIÇÕES GERAIS:</h2>
                        <p class="space-h-10">
                            A Promotora não se responsabilizará por eventuais prejuízos que o Usuário possa ter, oriundos da participação na promoção, da aceitação ou utilização do desconto, ou ainda, de situações que estejam fora do controle da Promotora. 
                        </p>

                        <p class="space-h-10">
                            A Promotora não se responsabiliza pelos produtos e serviços disponibilizados pela Plataforma. 
                        </p> 
                        <p class="space-h-10">
                            As dúvidas referentes a esta promoção devem ser encaminhadas para o e-mail disponível no site da Neo Pharma. 
                        </p>
                        <p class="space-h-10">
                            A simples participação nesta promoção e utilização do cupom de desconto implicará no total e integral reconhecimento das condições e aceitação irrestrita deste Regulamento.
                        </p>
                        <p class="space-h-10">
                            Quaisquer casos omissos deste regulamento ou dúvidas suscitadas pelos Usuários serão resolvidos por uma comissão julgadora formada por indicação da Promotora, que determinará de maneira irrecorrível e final a solução para cada caso ou responderá à questão suscitada. 
                        </p>
                        <p class="space-h-10">
                            Este regulamento poderá ser alterado pela Promotora sem aviso prévio, caso sejam necessárias complementações ou alterações à promoção, com as quais concordam desde já os Usuários. Eventuais alterações serão sempre informadas aos Usuários por meio de e-mail marketing e/ou da plataforma wwww.portalneopharma.com.br. 
                        </p>
                        <p class="space-h-10">
                            Se por qualquer motivo, alheio à vontade e controle da Promotora, não for possível conduzir esta promoção conforme o planejado, em decorrência de caso fortuito ou força maior, poderá a Promotora finalizá-la antecipadamente, mediante aviso aos Usuários. Caso a promoção tenha seu término antecipado, a Promotora avisará aos Usuários sobre tal fato por meio dos mesmos meios utilizados para sua divulgação. 
                        </p>
                        <p class="space-h-10">
                            Os Usuários autorizam a Promotora, ao participar deste concurso, a utilização de seus endereço físicos, eletrônicos, telefones e demais dados pessoais informados com o propósito de formação e atualização de cadastro, divulgação da própria promoção e comunicação pela Promotora de demais assuntos institucionais sem nenhum ônus para a Promotora. 
                        </p>
                        <p class="space-h-10">
                            Fica, desde já, eleito o foro da Comarca da Capital de São Paulo, do Estado de São Paulo para solução de quaisquer questões referentes ao presente instrumento ou a presente promoção. 
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    
{% endblock %}

{% block javascripts %} 
    <style>
        .btn-disabled, .btn-disabled:hover{
            background: #CCC;
            color: #666;
            border: 1px solid #CCC;
            cursor: default;
        }
        
    </style>
    <script>

        function myFunction() {
            var checkBox = document.getElementById("check-aceito");
            var btn = document.getElementById("aceitou-btn");
            if (checkBox.checked == true){
                btn.classList.remove("btn-disabled");
                btn.removeAttribute("disabled");
            } else {
                btn.classList.add("btn-disabled");
                btn.addAttribute("disabled");
            }
        }
       
    </script>
{% endblock %}


