{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>Página não encontrada</h1></div>
        </section>
        <div class="container">
            <div class="content-main content-text space-h-20 text-center">
                <a href="{{ path('home') }}" class="btn-default btn-full">Clique aqui para ir à página inicial</a>
            </div>
        </div>  
    </div>
{% endblock %}