{% extends 'admin.html.twig' %}

{% block title %}CURSO | LISTAR
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Cursos</h3>
                </div>

                 {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        {% if ( label == 'success' ) %}
                            <div class="alert alert-success alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% elseif ( label == 'error' ) %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                {{ flash }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    
                                    <th>Id do Racine</th>

                                    <th>Nome</th>

                                    <th>Ativo</th>

                                    <th>Público</th>
                                    
                                    <th>Apenas para Farmacêuticos</th>

                                    <th>Apenas para Balconistas</th>
                                    
                                    <th>Duração</th>
                                    
                                    <th>Criado Em</th>

                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if courses|length > 0 %}
                                    {% for course in courses %}
                                        <tr>
                                            <td class="center">
                                                <a href="{{ path('admin_course_edit', { 'id': course.id }) }}">
                                                    {{ course.id }}
                                                </a>
                                            </td>
                                            <td>{{ course.courseId }}</td>
                                            <td>{{ course.name }}</td>
                                            <td class="center">
                                                {% if course.isActive %}
                                                    <span class="label label-success">Sim</span>
                                                {% else %}
                                                    <span class="label label-danger">Não</span>
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                {% if course.isPublic %}
                                                    <span class="label label-success">Sim</span>
                                                {% else %}
                                                    <span class="label label-danger">Não</span>
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                {% if course.isOnlyToPharmaceutical %}
                                                    <span class="label label-success">Sim</span>
                                                {% else %}
                                                    <span class="label label-danger">Não</span>
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                {% if course.isOnlyToClerk %}
                                                    <span class="label label-success">Sim</span>
                                                {% else %}
                                                    <span class="label label-danger">Não</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ course.getCourseTimeString() }}</td>
                                            <td class="center">
                                                {% if course.createdAt %}
                                                    {{ course.createdAt|date('d/m/Y H:i:s') }}
                                                {% endif %}
                                            </td>
                                            <td class="center">
                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_course_view', { 'id': course.id}) }}">
                                                    Ver
                                                    <i class="fa fa-eye"></i>
                                                </a>

                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_course_edit', { 'id': course.id}) }}">
                                                    Editar
                                                    <i class="fa fa-edit"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">Nenhum registro foi encontrado.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="box-paginator">
                    {{ knp_pagination_render(courses) }}
                </div>

                <div class="box-footer">
                    <a class="btn btn-success btn-sm" href="{{ path('admin_course_new') }}">
                        Novo
                        <i class="fa fa-plus"></i>
                    </a>
                    
                    <a class="btn btn-primary btn-sm" href="{{ path('admin_course_update_racine') }}">
                        Atualizar curso racine
                        <i class="fas fa-sync fa-spin"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
