{% extends 'admin.html.twig' %}

{% block title %}CURSO | NOVO
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Adicionar Curso</h3>
                </div>

                <form enctype="multipart/form-data" method="POST">

                    <div class="box-body">
                        <div class="form-group">
                            <label for="course_name">Nome</label>
                            <input id="course_name" name="course[name]" type="text" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descrição Curta</label>
                            <input class="form-control" type="text"  name="course[shortDescription]" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descrição</label>
                            <textarea class="ckeditor" id="course_description" name="course[description]" type="text" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="course_metaTitle">Meta Title (SEO)</label>
                            <input class="ckeditor" id="course_metaTitle" name="course[metaTitle]" type="text" required/>
                        </div>
                        <div class="form-group">
                            <label for="course_metaDescription">Meta Descrição (SEO)</label>
                            <input class="ckeditor" id="course_metaDescription" name="course[metaDescription]" type="text" required/>
                        </div>
                        <div class="form-group">
                            <label for="course_courseLink">Link</label>
                            <input class="ckeditor" id="course_courseLink" name="course[courseLink]" type="text" required/>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="course_courseId">Id do Curso</label>
                                <input class="ckeditor" id="course_courseId" name="course[courseId]" type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="course_interacao">Código interação Neo excelência</label>
                                <input class="ckeditor" id="course_interacao" name="course[cod_interaction]" type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="course_classes">Quantidade de aulas</label>
                                <input id="course_classes" name="course[classes]" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="course_courseTime">Duração do Curso</label>
                                <input type="time" min="00:00:00" min="23:59:59" step="1" id="course_courseTime" name="course[courseTime]" required />
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <div id="preview-web" class="preview-img"></div>
                                <label for="course_image">Imagem</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="course_image" name="course[image]" type="file" required/>
                               <label id="mensagem-web" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                <p></p>
                                <label for="course_imageMetaTitle">Image Meta Title (SEO)</label>
                                <input id="course_imageMetaTitle" name="course[imageMetaTitle]" type="text" required/>
                                <label for="course_imageMetaDescription">Image Meta Description (SEO)</label>
                                <input id="course_imageMetaDescription" name="course[imageMetaDescription]" type="text" required/>
                            </div>
                            <div class="form-group">
                                <div id="preview-mobile" class="preview-img"></div>
                                <label for="course_imageMobile">Imagem Mobile</label>
                                <input accept=".jpg,.png,.webp,.jpeg" id="course_imageMobile" name="course[imageMobile]" type="file" required/>
                               <label id="mensagem-mobile" style="display:none;">Imagem maior que o permitido. Selecione imagem de até 1MB.</label>
                                <p></p>
                                <label for="imageMetaTitle">Image Mobile Meta Title (SEO)</label>
                                <input id="course_imageMobileMetaTitle" name="course[imageMobileMetaTitle]" type="text" required/>
                                <label for="imageMetaDescription">Image Mobile Meta Description (SEO)</label>
                                <input id="course_imageMobileMetaDescription" name="course[imageMobileMetaDescription]" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="course_isOnlyToClerk">Apenas para Balconistas</label>
                                <input data-toggle="toggle" id="course_isOnlyToClerk" name="course[isOnlyToClerk]" type="checkbox">
                            </div>
                            <div class="form-group">
                                <label for="course_isOnlyToPharmaceutical">Apenas para Farmaceuticos</label>
                                <input data-toggle="toggle" id="course_isOnlyToPharmaceutical" name="course[isOnlyToPharmaceutical]" type="checkbox">
                            </div>
                        </div>
                        <div class="form-group-double">
                             <div class="form-group">
                                <label for="course_isOnlyToPharmaceutical">Apenas para Farmácia</label>
                                <input data-toggle="toggle" id="course_isPharmacy" name="course[isPharmacy]" type="checkbox">
                            </div>

                            <div class="form-group">
                                <label for="course_isActive">Ativo</label>
                                <input checked data-toggle="toggle" id="course_isActive" name="course[isActive]" type="checkbox">
                            </div>
                        </div>
                        <div class="form-group-double">
                            <div class="form-group">
                                <label for="course_isPublic">Publico</label>
                                <input data-toggle="toggle" id="course_isPublic" name="course[isPublic]" type="checkbox">
                            </div>

                        </div>
                    </div>
                    
                    <h1>Contéudo Referenciado
                        <i aria-hidden="true" class="fa fa-plus" id="add-referrer"></i>
                    </h1>
                    <div class="box-body" id="hold-referrer"></div>

                    <div class="box-footer">
                        <button  type="" class="btn btn-success">Salvar</button>
                        <a class="btn btn-default" href="{{ path('admin_course_list') }}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        $("form").on("submit", function (e) {
            var error = false;
            showLoading();
            $('.ckeditor').each(function () {
                var string = $(this).val().replace(/<[^>]*>/gi, '').length;
                
                if (string == 0) {
                    $(this).siblings(".cke_chrome").addClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid red");
                    error = true;
                } else {
                    $(this).siblings(".cke_chrome").removeClass("error");
                    $(this).siblings(".cke_chrome").css("border", "1px solid #d1d1d1");
                }
            })
            if (error) {
                var id = $('.error').first().attr("id");
                
                $('.admin-content').animate({
                    scrollTop: $("#" + id)[0].offsetTop
                },500);
                hideLoading();
                e.preventDefault();
                return false;
            }
        });

        $("#course_image").change(function () {
            readSize("course_image","mensagem-web","preview-web",0);
        });
        $(" #course_imageMobile").change(function () {
           
            readSize("course_imageMobile","mensagem-mobile","preview-mobile",0);
        });

      function readSize(id, idMessage,idPreview,index){
              if(parseInt(document.getElementById(id).files[index].size) > 1048576){
                $(`#${id}`).val("");
                document.getElementById(idPreview).style.display = "none";
                document.getElementById(idMessage).style.cssText = " display: block;color: red;font-size: larger";
                
                return ;
               }else {
                   
              document.getElementById(idPreview).style.display = "block";
              document.getElementById(idMessage).style.cssText = " display: none";
              readURL(document.getElementById(id));
            
               }
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    console.log();
                    if($(input).siblings('.preview-img')[0].nodeName == 'IMG'){
                        $(input).siblings('.preview-img').attr('src', e.target.result);
                    } else {
                        $(input).siblings('.preview-img').css({
                            'background-image' : "url(" + e.target.result + ")", 
                            'width' : '100%',
                            'height': '250px',
                            'background-size': 'contain',
                            'background-position': 'center center',
                            'background-repeat': 'no-repeat',
                        });
                    }
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        
    </script>

{% endblock %}

