{% extends 'admin.html.twig' %}

{% block title %}CURSO | {{course.name}}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Curso: {{course.name}}</h3>
                </div>


                <div class="box-body col-md-12">
                    <table class="table table-striped table-hover table-bordered">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ course.id }}</td>
                            </tr>
                            <tr>
                                <th>Imagem</th>
                                <td><img src="{{ asset(course.image) }}"></td>
                            </tr>
                            <tr>
                                <th>Imagem Mobile</th>
                                <td><img src="{{ asset(course.imageMobile) }}"></td>
                            </tr>
                            <tr>
                                <th>Nome</th>
                                <td>{{ course.name }}</td>
                            </tr>
                            <tr>
                                <th>Descricao</th>
                                <td>{{ course.description }}</td>
                            </tr>
                            <tr>
                                <th>Ativo</th>
                                <td>
                                    {% if course.isActive %}Yes{% else %}No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Apenas para Farmacêuticos</th>
                                <td>
                                    {% if course.isOnlyToPharmaceutical %}Yes{% else %}No
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Quantidade de Aulas</th>
                                <td>{{ course.classes }}</td>
                            </tr>
                            <tr>
                                <th>Createdat</th>
                                <td>
                                    {% if course.createdAt %}
                                        {{ course.createdAt|date('d/m/Y H:i:s') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Updatedat</th>
                                <td>
                                    {% if course.updatedAt %}
                                        {{ course.updatedAt|date('d/m/Y H:i:s') }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="box-footer view">

                    <a class="btn btn-primary btn-sm" href="{{ path('admin_course_edit', { 'id': course.id}) }}">
                        Alterar <i class="fa fa-edit"></i>
                    </a>

                    <a href="{{ path('admin_course_list') }}" class="btn btn-danger btn-sm">Voltar</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        
    </script>
{% endblock %}