{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Outubro Rosa{% endblock %}
    
{% block body %}
<div class=" " id="page-outubro-rosa">
    <div class="text-center" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-outubro-rosa', 'eventAction': 'click', 'eventLabel': 'hero:confira-nossas-materias'});" >
        <div class="hidden-xs"><img src="{{ asset('_dist/image/img/outubro-rosa/banner.jpg')}}" alt="Banner"></div>
        <div class="visible-xs"><img src="{{ asset('_dist/image/img/outubro-rosa/banner-mobile.jpg')}}" alt="Banner"></div>
    </div>
    
    <div class="outubro-rosa-section-1">
        <div class="container">
            <div class="text-center seta-site"><img src="{{ asset('_dist/image/img/outubro-rosa/seta.svg')}}" alt=""></div>
            <div class="space-h-20"></div>
            <p class="outubro-rosa-text">
                A prevenção é fundamental para vencer o câncer de mama.<br>
                E, nessa luta, você é essencial, profissional de farmácia!
            </p>
        </div>
        <div class="text-center outubro-rosa-mao">
            <div class="hidden-xs"><img src="{{ asset('_dist/image/img/outubro-rosa/mao.png')}}" alt=""></div>
            <div class="visible-xs"><img src="{{ asset('_dist/image/img/outubro-rosa/mao-mobile.jpg')}}" alt=""></div>
        </div>
        
        <div class="container">
            <div class="barra-section-1">
                <hr>
            </div>
            <div class="outubro-rosa-cards-title">
                <h2>Baixe os cards abaixo e compartilhe com suas clientes!</h2>
            </div>
            <div class="space-h-20"></div>
            <div class="text-center seta-site"><img src="{{ asset('_dist/image/img/outubro-rosa/seta.svg')}}" alt=""></div>
        </div>
    </div>

    <section class="cards-outubro-rosa">
        <div class="container">
            <div class="card-carousel">
                <div class="slides owl-carousel">
                    <div class="item">
                        <a href="{{ asset('_dist/image/img/outubro-rosa/cards-outubrorosa_v1.png')}}" download target="blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-outubro-rosa', 'eventAction': 'click', 'eventLabel': 'cards:download:cancer-de-mama'});" class="cards-outubro-rosa-img">
                            <img src="{{ asset('_dist/image/img/outubro-rosa/thumb_1.jpg')}}" alt="">
                        </a>
                        <div class="text-center">
                            <a href="{{ asset('_dist/image/img/outubro-rosa/cards-outubrorosa_v1.png')}}" download target="blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-outubro-rosa', 'eventAction': 'click', 'eventLabel': 'cards:download:cancer-de-mama'});" class="btn-default">Download</a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="{{ asset('_dist/image/img/outubro-rosa/cards-outubrorosa_v2.png')}}" download target="blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-outubro-rosa', 'eventAction': 'click', 'eventLabel': 'cards:download:como-identifica-lo'});" class="cards-outubro-rosa-img">
                            <img src="{{ asset('_dist/image/img/outubro-rosa/thumb_2.jpg')}}" alt="">
                        </a>
                        <div class="text-center">
                            <a href="{{ asset('_dist/image/img/outubro-rosa/cards-outubrorosa_v2.png')}}" download target="blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-outubro-rosa', 'eventAction': 'click', 'eventLabel': 'cards:download:como-identifica-lo'});" class="btn-default">Download</a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="{{ asset('_dist/image/img/outubro-rosa/cards-outubrorosa_v3.png')}}" download target="blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-outubro-rosa', 'eventAction': 'click', 'eventLabel': 'cards:download:sinais-do-cancer-de-mama'});" class="cards-outubro-rosa-img">
                            <img src="{{ asset('_dist/image/img/outubro-rosa/thumb_3.jpg')}}" alt="">
                        </a>
                        <div class="text-center">
                            <a href="{{ asset('_dist/image/img/outubro-rosa/cards-outubrorosa_v3.png')}}" download target="blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-outubro-rosa', 'eventAction': 'click', 'eventLabel': 'cards:download:sinais-do-cancer-de-mama'});" class="btn-default">Download</a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="{{ asset('_dist/image/img/outubro-rosa/cards-outubrorosa_v4.png')}}" download target="blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-outubro-rosa', 'eventAction': 'click', 'eventLabel': 'cards:download:como-realizar-o-autoexame'});" class="cards-outubro-rosa-img">
                            <img src="{{ asset('_dist/image/img/outubro-rosa/thumb_4.jpg')}}" alt="">
                        </a>
                        <div class="text-center">
                            <a href="{{ asset('_dist/image/img/outubro-rosa/cards-outubrorosa_v4.png')}}" download target="blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-outubro-rosa', 'eventAction': 'click', 'eventLabel': 'cards:download:como-realizar-o-autoexame'});" class="btn-default">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="materias-outubro-rosa">
        <div class="container">
            <div class="laco-outubro-rosa hidden-xs"><img src="{{ asset('_dist/image/img/outubro-rosa/laco.png')}}" alt=""></div>
            <div class="text-center seta-site"><img src="{{ asset('_dist/image/img/outubro-rosa/seta.svg')}}" alt=""></div>
            <div class="space-h-10"></div>
            <hr>
            <div class="text-center space-h-20">
                <h2>matérias</h2>
                <p class="outubro-rosa-text">
                    Informação é essencial para combater o câncer de mama. <br>
                    Confira as matérias exclusivas que preparamos sobre o tema!
                </p>
            </div>
            <div class="materias-carousel">
                <div class="slides owl-carousel">
                    <div class="item" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-outubro-rosa', 'eventAction': 'click', 'eventLabel': 'materias:Anticoncepcionais-e-o-cancer-de-mama'});">
                        <a href="https://portalneopharma.com.br/blog/post/anticoncepcionais-e-o-cancer-de-mama" class="materias-outubro-rosa-img">
                            <img src="{{ asset('_dist/image/img/outubro-rosa/anticoncepcionais.png')}}" alt="">
                        </a>
                        <h3>
                              <a href="https://portalneopharma.com.br/blog/post/anticoncepcionais-e-o-cancer-de-mama">Anticoncepcionais e o câncer de mama</a>
                        </h3>
                        <div class="text-center">
                            <a href="https://portalneopharma.com.br/blog/post/anticoncepcionais-e-o-cancer-de-mama" class="btn-default">Saiba mais</a>
                        </div>
                    </div>
                    <div class="item" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-outubro-rosa', 'eventAction': 'click', 'eventLabel': 'materias:Colesterol:tudo-o-que-voce-precisa-saber-sobre-ele'});">
                        <a href="https://portalneopharma.com.br/blog/post/colesterol-tudo-o-que-voce-precisa-saber-sobre-ele" class="materias-outubro-rosa-img">
                            <img src="{{ asset('_dist/image/img/outubro-rosa/colesterol.png')}}" alt="">
                        </a>
                        <h3>
                              <a href="https://portalneopharma.com.br/blog/post/colesterol-tudo-o-que-voce-precisa-saber-sobre-ele">Colesterol: tudo o que você precisa saber sobre ele!</a>
                        </h3>
                        <div class="text-center">
                            <a href="https://portalneopharma.com.br/blog/post/colesterol-tudo-o-que-voce-precisa-saber-sobre-ele" class="btn-default">Saiba mais</a>
                        </div>
                    </div>
                    <div class="item" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-outubro-rosa', 'eventAction': 'click', 'eventLabel': 'materias:Lactacao-e-o-cancer-de-mama'});">
                        <a href="https://portalneopharma.com.br/blog/post/lactacao-e-o-cancer-de-mama" class="materias-outubro-rosa-img">
                            <img src="{{ asset('_dist/image/img/outubro-rosa/lactacao.png')}}" alt="">
                        </a>
                        <h3>
                              <a href="https://portalneopharma.com.br/blog/post/lactacao-e-o-cancer-de-mama">Lactação e o câncer de mama</a>
                        </h3>
                        <div class="text-center">
                            <a href="https://portalneopharma.com.br/blog/post/lactacao-e-o-cancer-de-mama" class="btn-default">Saiba mais</a>
                        </div>
                    </div>
                    <div class="item" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'lp-outubro-rosa', 'eventAction': 'click', 'eventLabel': 'materias:Outubro-Rosa'});">
                        <a href="https://portalneopharma.com.br/blog/post/lactacao-e-o-cancer-de-mama" class="materias-outubro-rosa-img">
                            <img src="{{ asset('_dist/image/img/outubro-rosa/Outubro-Rosa.png')}}" alt="">
                        </a>
                        <h3>
                              <a href="https://www.portalneopharma.com.br/blog/post/outubro-rosa">Outubro Rosa</a>
                        </h3>
                        <div class="text-center">
                            <a href="https://www.portalneopharma.com.br/blog/post/outubro-rosa" class="btn-default">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            //Carrossel
            if($(".card-carousel .slides").length) {
				$(".card-carousel .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					margin: 30,
					loop: true,
					responsiveClass: true,
					nav: true,
					items: 1, 
                    responsive:{
                        0:{
                            items:1,
                            nav:true
                        },
                        960:{
                            items:3,
                            nav:true,
                            loop: false
                        }
                    }
				});
			}

            //Carrossel
            if($(".materias-carousel .slides").length) {
				$(".materias-carousel .slides").owlCarousel({
					autoplay: true,
					autoplayHoverPause: true,
					autoplayTimeout: 120000,
					margin: 30,
					loop: true,
					responsiveClass: true,
					nav: true,
					items: 1, 
                    responsive:{
                        0:{
                            items:1,
                            nav:true
                        },
                        960:{
                            items:3,
                            nav:true,
                            loop: false
                        }
                    }
				});
			}
        });
    </script>
{% endblock %}