{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Favoritos{% endblock %}
{% set pageIndex = 'its' %}
{% block body %}
    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>Favoritos</h1></div>
        </section>
        <div class="container">
            <div  class="space-h-40">
                <section class="posts-section-main">
                    <div class="container">
                        <div class="posts-list">
                            {% for cr in favorites %}
                                {% include 'component/content-structure.html.twig' with { 'object' : cr.object, 'cat' : cr.cat, 'class' : cr.class } %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}