{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Cadastro{% endblock %}
{% block styles %}
    <style>
        #form span{ color: red !important; }
    </style>
{% endblock %}

{% set pageIndex = 'cdt' %}

{% block body %}

    {% if error is defined %}
        {{error}}
    {% endif %}

    {% set user = app.user %}
  

    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>MEUS DADOS</h1></div>
        </section>
        <div class="container">
            <div class="login-forms-box">
                <form id="form" class="form register-form" method="post" action="{{ path('user-home') }}">
                    <h3>Fase 1</h3>
                    <fieldset>
                        <div class="space-h-10">
                            <label for="profile">Função<span class="error" id="profile-error"></label>
                            <select name="occupation" class="form-control occupation required" onchange="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Função'});">
                                <option value="">Você é</option>
                                <option value="balconista" {{ not user.isPharmaceutical ? 'selected' : '' }}>Balconista</option>
                                <option value="farmaceutico" {{ user.isPharmaceutical ? 'selected' : '' }}>Farmacêutico</option>
                            </select>
                        </div>
                        <div class="space-h-10">
                            <label for="name">Nome * <span class="error" id="name-error"></span></label>
                            <input type="text" name="name" class="form-control cdt_mid_frm_nome required" value="{{ user.name }}" required  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Nome'});">
                        </div>
                        
                        <div class="space-h-10">
                            <label for="user-birth">Data de nascimento:</label>
                            <input type="date" id="user-birth" name="birthday" class="form-control birthday datepicker" value="{{ user.birthday != null ? user.birthday|date('Y-m-d') : '' }}" maxlength="10" >
                        </div>

                        <div class="space-h-10">
                            <label for="user-birth">Sexo:</label>
                            <select id="select"  class="form-control" name="gender"  onchange="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Sexo'});">
                                <option value="">Selecione uma opção</option>
                                <option value="male" {{ user.gender == 'male' ? 'selected' : '' }}>Masculino</option>
                                <option value="female" {{ user.gender == 'female' ? 'selected' : '' }}>Feminino</option>
                            </select>
                        </div>
                       
                        <div class="space-h-10">
                            <label for="email">E-mail * <span class="error email-error" id="email-error"></span></label>
                            <input type="email" name="email" class="form-control required register-email" value="{{ user.email }}" required onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:E-mail'});">
                        </div>
                        <p>
                            <strong> * Preenchimento obrigatório</strong>
                        </p>
                    </fieldset>
                    
                    <h3>Fase 2</h3>
                    <fieldset> 
                        <div class="space-h-10">
                            <label for="zip_code">CEP <span id="zip-code-error"><span></label>
                            <input type="text" id="zip_code" name="zip_code" class="form-control zip_code" onblur="checkCEP()" value="{{ app.user.zipCode }}" autocomplete="off" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:CEP'});" />
                        </div>
                        <div class="space-h-10">
                            <label for="address">Endereço <span id="address-error"><span></label>
                            <input type="text" id="address" name="address" class="form-control address" value="{{ app.user.address }}" autocomplete="off" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Endereço'});">
                        </div>
                        <div class="space-h-10">
                            <label for="number">N° <span id="number-error"></span></label>
                            <input type="text" id="number" name="number" class="form-control number-address" value="{{ app.user.number }}" autocomplete="off" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:N°'});" />
                        </div>
                        
                        <div class="two-fifth grid-sys">
                            <div class="space-h-10">
                                <label for="complement">Complemento <span id="complement-error"></span></label>
                                <input type="text" id="complement" name="complement" class="form-control complement" value="{{ app.user.complement }}" autocomplete="off"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Complemento'});"/>
                            </div>
                        </div>
                        <div class="space-h-10">
                            <label for="neighborhood">Bairro <span id="neighborhood-error"></span></label>
                            <input type="text" id="neighborhood" name="neighborhood" class="form-control neighborhood" value="{{ app.user.neighborhood }}" autocomplete="off"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Bairro'});"/>
                        </div>
                       
                        <div class="space-h-10">
                            <label for="user-city">Cidade:</label>
                            <input type="text" id="user-city" name="city" class="form-control city" value="{{ user.city }}"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Cidade'});">
                        </div>
                        <div class="space-h-10" id="register-estate-address-hold">
                            <label for="register-estate-address" id="label-register-state">Estado <span class="error estate-address-error" id="estate-address-error"></span></label>
                            <select id="register-estate-address" name="estate_address" class="form-control select-content estate-address"  onchange="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Estado'});">
                                <option value="">Selecione um Estado</option>
                                <option value="AC" {{ user.estateAddress == 'AC' ? 'selected' : '' }}>Acre</option>
                                <option value="AL" {{ user.estateAddress == 'AL' ? 'selected' : '' }}>Alagoas</option>
                                <option value="AP" {{ user.estateAddress == 'AP' ? 'selected' : '' }}>Amapá</option>
                                <option value="AM" {{ user.estateAddress == 'AM' ? 'selected' : '' }}>Amazonas</option>
                                <option value="BA" {{ user.estateAddress == 'BA' ? 'selected' : '' }}>Bahia </option>
                                <option value="CE" {{ user.estateAddress == 'CE' ? 'selected' : '' }}>Ceará</option>
                                <option value="DF" {{ user.estateAddress == 'DF' ? 'selected' : '' }}>Distrito Federal</option>
                                <option value="ES" {{ user.estateAddress == 'ES' ? 'selected' : '' }}>Espírito Santo</option>
                                <option value="GO" {{ user.estateAddress == 'GO' ? 'selected' : '' }}>Goiás</option>
                                <option value="MA" {{ user.estateAddress == 'MA' ? 'selected' : '' }}>Maranhão</option>
                                <option value="MT" {{ user.estateAddress == 'MT' ? 'selected' : '' }}>Mato Grosso</option>
                                <option value="MS" {{ user.estateAddress == 'MS' ? 'selected' : '' }}>Mato Grosso do Sul</option>
                                <option value="MG" {{ user.estateAddress == 'MG' ? 'selected' : '' }}>Minas Gerais</option>
                                <option value="PA" {{ user.estateAddress == 'PA' ? 'selected' : '' }}>Pará</option>
                                <option value="PB" {{ user.estateAddress == 'PB' ? 'selected' : '' }}>Paraíba</option>
                                <option value="PR" {{ user.estateAddress == 'PR' ? 'selected' : '' }}>Paraná</option>
                                <option value="PE" {{ user.estateAddress == 'PE' ? 'selected' : '' }}>Pernambuco</option>
                                <option value="PI" {{ user.estateAddress == 'PI' ? 'selected' : '' }}>Piauí</option>
                                <option value="RJ" {{ user.estateAddress == 'RJ' ? 'selected' : '' }}>Rio de Janeiro</option>
                                <option value="RN" {{ user.estateAddress == 'RN' ? 'selected' : '' }}>Rio Grande do Norte</option>
                                <option value="RS" {{ user.estateAddress == 'RS' ? 'selected' : '' }}>Rio Grande do Sul</option>
                                <option value="RO" {{ user.estateAddress == 'RO' ? 'selected' : '' }}>Rondônia</option>
                                <option value="RR" {{ user.estateAddress == 'RR' ? 'selected' : '' }}>Roraima</option>
                                <option value="SC" {{ user.estateAddress == 'SC' ? 'selected' : '' }}>Santa Catarina</option>
                                <option value="SP" {{ user.estateAddress == 'SP' ? 'selected' : '' }}>São Paulo</option>
                                <option value="SE" {{ user.estateAddress == 'SE' ? 'selected' : '' }}>Sergipe</option>
                                <option value="TO" {{ user.estateAddress == 'TO' ? 'selected' : '' }}>Tocantins</option>
                            </select>
                        </div>

                        
                            <div class="space-h-10">
                                <label for="user-birth">Grau de escolaridade:</label>
                                <select id="educationalLevel" class="form-control" name="educationalLevel" onchange="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Grau de escolaridade'});">
                                    <option value="">Selecione uma opção</option>
                                    <option {{ user.educationallevel == 'ensino-fundamental' ? 'selected' : '' }} value="ensino-fundamental">Ensino Fundamental</option>
                                    <option {{ user.educationallevel == 'ensino-medio' ? 'selected' : '' }} value="ensino-medio">Ensino Medio</option>
                                    <option {{ user.educationallevel == 'ensino-superior' ? 'selected' : '' }} value="ensino-superior">Ensino Superior</option>
                                    <option {{ user.educationallevel == 'ensino-fundamental-incompleto' ? 'selected' : '' }} value="ensino-fundamental-incompleto">Ensino Fundamental Incompleto</option>
                                    <option {{ user.educationallevel == 'ensino-medio-incompleto' ? 'selected' : '' }} value="ensino-medio-incompleto">Ensino Medio Incompleto</option>
                                    <option {{ user.educationallevel == 'ensino-superior-incompleto' ? 'selected' : '' }} value="ensino-superior-incompleto">Ensino Superior Incompleto</option>
                                </select>
                            </div>

                            <div class="space-h-10">
                                <label for="register-cpf" id="label-for-cpf">CPF * <span class="error cpf-error" id="cpf-error"></span></label>
                                <input type="text" id="register-cpf" name="cpf" class="form-control cdt_mid_frm_cpf register-cpf" value="{{ user.cpf }}" required onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:CPF'});">
                            </div>
                                                        
                            <div class="space-h-10" id="register-crf-hold" style="display:none">
                                <label for="register-crf">CRF * <span class="error" id="crf-error"></label>
                                <input type="text" id="register-crf" name="crf" class="form-control crf" value="{{ user.crf }}"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:CRF'});">
                            </div>

                            {% if user.isPharmaceutical %}
                                <div class="space-h-10" id="register-state-crf-hold">
                                    <label for="register-state" id="label-register-state">Estado (CRF*): <span class="error state-error" id="state-error"></span></label>
                                    <select id="register-state" name="state" class="form-control select-content"  onchange="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Estado CRF*'});">
                                        <option value="">Selecione um Estado</option>
                                        <option value="AC" {{ user.estateAddress == 'AC' ? 'selected' : '' }}>Acre</option>
                                        <option value="AL" {{ user.estateAddress == 'AL' ? 'selected' : '' }}>Alagoas</option>
                                        <option value="AP" {{ user.estateAddress == 'AP' ? 'selected' : '' }}>Amapá</option>
                                        <option value="AM" {{ user.estateAddress == 'AM' ? 'selected' : '' }}>Amazonas</option>
                                        <option value="BA" {{ user.estateAddress == 'BA' ? 'selected' : '' }}>Bahia </option>
                                        <option value="CE" {{ user.estateAddress == 'CE' ? 'selected' : '' }}>Ceará</option>
                                        <option value="DF" {{ user.estateAddress == 'DF' ? 'selected' : '' }}>Distrito Federal</option>
                                        <option value="ES" {{ user.estateAddress == 'ES' ? 'selected' : '' }}>Espírito Santo</option>
                                        <option value="GO" {{ user.estateAddress == 'GO' ? 'selected' : '' }}>Goiás</option>
                                        <option value="MA" {{ user.estateAddress == 'MA' ? 'selected' : '' }}>Maranhão</option>
                                        <option value="MT" {{ user.estateAddress == 'MT' ? 'selected' : '' }}>Mato Grosso</option>
                                        <option value="MS" {{ user.estateAddress == 'MS' ? 'selected' : '' }}>Mato Grosso do Sul</option>
                                        <option value="MG" {{ user.estateAddress == 'MG' ? 'selected' : '' }}>Minas Gerais</option>
                                        <option value="PA" {{ user.estateAddress == 'PA' ? 'selected' : '' }}>Pará</option>
                                        <option value="PB" {{ user.estateAddress == 'PB' ? 'selected' : '' }}>Paraíba</option>
                                        <option value="PR" {{ user.estateAddress == 'PR' ? 'selected' : '' }}>Paraná</option>
                                        <option value="PE" {{ user.estateAddress == 'PE' ? 'selected' : '' }}>Pernambuco</option>
                                        <option value="PI" {{ user.estateAddress == 'PI' ? 'selected' : '' }}>Piauí</option>
                                        <option value="RJ" {{ user.estateAddress == 'RJ' ? 'selected' : '' }}>Rio de Janeiro</option>
                                        <option value="RN" {{ user.estateAddress == 'RN' ? 'selected' : '' }}>Rio Grande do Norte</option>
                                        <option value="RS" {{ user.estateAddress == 'RS' ? 'selected' : '' }}>Rio Grande do Sul</option>
                                        <option value="RO" {{ user.estateAddress == 'RO' ? 'selected' : '' }}>Rondônia</option>
                                        <option value="RR" {{ user.estateAddress == 'RR' ? 'selected' : '' }}>Roraima</option>
                                        <option value="SC" {{ user.estateAddress == 'SC' ? 'selected' : '' }}>Santa Catarina</option>
                                        <option value="SP" {{ user.estateAddress == 'SP' ? 'selected' : '' }}>São Paulo</option>
                                        <option value="SE" {{ user.estateAddress == 'SE' ? 'selected' : '' }}>Sergipe</option>
                                        <option value="TO" {{ user.estateAddress == 'TO' ? 'selected' : '' }}>Tocantins</option>
                                    </select>
                                </div>
                            {% endif %}

                            <div class="space-h-10"  id="register-cnpj-hold">
                                <label for="register-cnpj" id="label-for-cnpj">CNPJ da Loja * </label> <span class="error cnpj-error" id="cnpj-error"></span>
                                <input type="text" id="register-cnpj" name="cnpj" class="form-control register-cnpj cnpj" value="{{ user.cnpj }}" required  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:CNPJ da Loja'});">
                            </div>

                            <div class="space-h-10">
                                <label for="phone">Celular *<span class="error" id="phone-error"></span></label>
                                <input type="text" id="phone" name="phone" class="form-control phone celular" value="{{ user.cellphone }}" maxlength="11" required   onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Celular'});">
                            </div>
                                                       
                            <p>
                                <strong> * Preenchimento obrigatório</strong>
                            </p>
                    </fieldset>
                    <h3>Fase 3</h3>
                    <fieldset>
                                             
                        <div class="space-h-10">
                            <label for="user-password">Senha Antiga*</label>
                            <input type="password" id="user-passwordOld" name="passwordOld" class="form-control" autocomplete="off"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Senha Antiga'});">
                        </div>
                        <div class="space-h-10">
                            <label for="user-password">Nova Senha*</label>
                            <input type="password" id="user-password" name="password" class="form-control" autocomplete="off" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Nova Senha'});">
                        </div>
                        <div class="space-h-10">
                            <label for="user-passwordRepeat">Repetir Senha*<span class="error" id="passwordRepeat-error"></span></label>
                            <input type="password" id="user-passwordRepeat" name="passwordRepeat" class="form-control" autocomplete="off"onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Repetir Senha'});">
                        </div>
                        <p>
                            <strong> * Preenchimento obrigatório</strong>
                        </p>
                    </fieldset>
                
                </form>
            
            </div>
        </div>
    </div>
    <!-- Modal Excelência -->
    <div class="modal-default excelencia-modal">
        <div class="confirm-excelencia">
            <div class="confirm-excelencia-content">
                <a class="close-modal" id="close-excelencia-modal" onclick="core.hideMessage()">X</a>
                <div class="space-h-10">
                    <h3>Você faz parte do</h3>
                </div>
                <figure>
                    <img src="{{ asset('_dist/image/img/excelencia.png') }}" alt="Neo Pharma Excelência">
                </figure>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
    $(document).ready(function(e) {
        var checkEmailUrl = "{{path('api-check-email')}}";
        var checkCpfUrl = "{{path('api-check-cpf')}}";
        var checkCnpjUrl = "{{path('api-check-cnpj')}}";
        var checkCrfUrl = "{{path('api-check-crf')}}";
        var consultaGestorUrl = "{{path('home-consult-gestor')}}";
        var registerGestor = "{{path('register-gestor')}}";
        var consultaCorreios = "{{path('api-correios')}}";
        var redirectHome = "{{ path('home') }}";
       
        // ---------------------------------------------- cadastro balconista e farmacêutico ----------------------------
        var form = $(".register-form").show();
        
        form.steps({
            headerTag: "h3",
            bodyTag: "fieldset",
            transitionEffect: "slideLeft",
            labels: {
                cancel: "Cancelar",
                current: "",
                pagination: "Pagination",
                finish: "Salvar",
                next: "Próxima fase",
                previous: "Voltar para a fase anterior",
                loading: "Carregando ..."
            },
            onStepChanging: function (event, currentIndex, newIndex)
            {
                // Allways allow previous action even if the current form is not valid!
                if (currentIndex > newIndex)
                {
                    return true;
                }
                // Forbid next action on "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age-2").val()) < 18)
                {
                    return false;
                }
                // Needed in some cases if the user went back (clean up)
                if (currentIndex < newIndex)
                {
                    // To remove error styles
                    form.find(".body:eq(" + newIndex + ") label.error").remove();
                    form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
                }

                form.validate().settings.ignore = ":disabled,:hidden";
                var formValidade = form.valid() 
                /*
                var is_email = checkEmail()
                 
                if (!is_email.status) {
                    return false
                }*/
                  //regra para exibir campos de acordo com o perfil
                var occupation = $('.occupation'),
                crf = $('.crf'),
                state = $('.state'),
                cnpj = $('#label-for-cnpj'),
                cpf = $('.register-cpf'),
                phome = $('.phone')

                cpf.mask("999.999.999-99")
                phome.mask("(99) 9999-99999")
                            
                if (occupation.val() == 'balconista') {
                    crf.parent('div').hide()
                    state.parent('div').hide()
                    crf.prop('required', false)
                    state.prop('required', false)
                    cnpj.text('CNPJ da Loja *')
                    $('.register-cnpj').mask('00.000.000-0000/00').prop('required', true);
                } else if (occupation.val() == 'farmaceutico') {
                    crf.parent('div').show()
                    state.parent('div').show()
                    crf.prop('required', true)
                    state.prop('required', true)
                    cnpj.text('CNPJ da Loja')
                    $('.register-cnpj').mask('00.000.000-0000/00').prop('required', false);
                }

                //FASE 01
                if (currentIndex == 0) {
                    var is_email = checkEmail()
                    
                    if (!is_email.status) {
                        return false
                    }
                } 

                $('.zip_code').mask('00000-000')
                
                //FASE 02         
                if (currentIndex == 1) {
                    //valida 
                   // checkFieldRequired()
                   
                    if (!checkCEP()) {
                        return false
                    }

                    var occupation = $('.occupation')
                    var is_cpf = checkCpf()
                        
                    if (!is_cpf.status) {
                        return false
                    }

                    if (occupation.val() == 'balconista') {
                        var is_cnpj = checkCNPJ()

                        if (!is_cnpj.status) {
                            return false
                        }  
                    } else if (occupation.val() == 'farmaceutico') {
                        var is_crm = checkCRM(),
                            cnpj = $('.register-cnpj').val()

                        if (cnpj != '') {
                            var is_cnpj = checkCNPJ()

                            if (!is_cnpj.status) {
                                return false
                            }  
                        }
                        
                        if (!is_crm.status) {
                            return false
                        }
                    }
                    
                }
                
                return formValidade
            },
            onStepChanged: function (event, currentIndex, priorIndex)
            {
                // Used to skip the "Warning" step if the user is old enough.
                if (currentIndex === 3 && Number($("#age-2").val()) >= 18)
                {
                    form.steps("Próxima fase");
                }
                
                // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 3 && priorIndex === 4)
                {
                    form.steps("previous");
                }
                            
            },
            onFinishing: function (event, currentIndex)
            {
                form.validate().settings.ignore = ":disabled"
                var formValidade = form.valid() 
                                      
                return formValidade;
            },
            onFinished: function (event, currentIndex)
            {       
                var is_save = save()
                
                if (!is_save) {
                    //console.log('Campos obrigatóriio ', is_save)
                    return false
                }  
                //console.log('Save ', is_save)
                window.location.href = redirectHome      
            }
            }).validate(
                {
                    errorPlacement: function errorPlacement(error, element) { 
                        element.before(error); 
                },
                    rules: {
                        confirm: {
                        //equalTo: "#password-2",
                        occupation: 'required',
                        name: 'required',
                        email: 'required',
                        ////
                        cpf: 'required',
                        cnpj: 'required',
                        crf: 'required',
                        phone: 'required',
                        state: 'required',
                        //friendIndication: 'required',
                        //password: 'required',
                        //passwordRepeat: 'required',
                       // term: 'required',
                    }
                },
                messages: {
                    occupation: "A função é obrigatória",
                    name: "Nome é obrigatório",
                    email: "E-mail é obrigatório",
                    cpf: 'CPF é obrigatório',
                    cnpj: 'CNPJ é obrigatório',
                    crf: 'CRF é obrigatório',
                    phone: 'Celular é obrigatório',
                    state: 'O estado é obrigatório',
                    //friendIndication: 'Código de indicação é obrigatório',
                    //password: 'A senha é obrigatório',
                    //passwordRepeat: 'Repetir a senha é obrigatória',
                    //term: 'Leitura do termo é obrigatória',
                }
        });

        $('.register-form .actions a').on('click', function(){
            var buttonActive = $(this).text();
            dataLayer.push({ 
                'event':'GAEvent', 
                'eventCategory': 'usuario', 
                'eventAction': 'click', 
                'eventLabel': 'etapa:'+buttonActive
            });
        });

        //cadastros add novo campo para outros time
        $('.team-football').on('change', function(e) {
            var option = $(this).val()
            var box = $('#team-football-other-box')
            
            if ($('.team-football option:selected').data('other') == 'other') { 
                box.show()  
            } else {
                box.hide()
            }
        });

        //salvando o cadastro balconista/farmacêutico
        function save(){
            var form = $('#form'),
                response = {'status': false, 'message': ''} 

            $.ajax({
                url: "{{ path('user-home') }}",
                type: "POST",
                dataType: "json",
                async: false,
                data: form.serialize(),
                success: function (data) {
                    response = data
                    console.log('save ', response)
                    
                    if (!response.status) {
                        if (response.error.hasOwnProperty('name')) {
                            $('#name-error').text(response.error.name);
                        }

                        if (response.error.hasOwnProperty('email')) {
                            $('#email-error').text(response.error.mail);
                        }

                        if (response.error.hasOwnProperty('phone')) {
                            $('#phone-error').text(response.error.mail);
                        }

                        if (response.error.hasOwnProperty('cnpj')) {
                            $('#cnpj-error').text(response.error.cnpj);
                        }

                        if (response.error.hasOwnProperty('cpf')) {
                            $('#cpf-error').text(response.error.cpf);
                        }

                        if (response.error.hasOwnProperty('crf')) {
                            $('#crf-error').text(response.error.crf);
                        }

                        if (response.error.hasOwnProperty('state')) {
                            $('#state-error').text(response.error.state);
                        }

                        if (response.error.hasOwnProperty('password')) {
                            $('#password-error').text(response.error.password);
                        }

                        if (response.error.hasOwnProperty('passwordRepeat')) {
                            $('#passwordRepeat-error').text(response.error.passwordRepeat);
                        }
                    
                        if (response.error.hasOwnProperty('term') ) {
                            $('#term-error').text(response.error.term);
                        }

                        return response
                    } else {
                        return response
                    }
                }
            });

            return response
        }

        //consultar e-mail
        function checkEmail(){
            var email = $('.register-email').val(),
                message = $(".email-error"),
                response = {'status': false}

            if (validateEmail(email)) {
                $.ajax({
                    url: checkEmailUrl,
                    type: "POST",
                    dataType: "json",
                    async: false,
                    data: {
                        e: email
                    },
                    beforeSend: function(){
                       //loading
                    },
                    success: function (data) {
                        response = data
                        
                        if (response.status) {
                            message.html("")
                            return response
                        } else {
                            message.html(response.message)
                            return response
                        }
                    }
                });
            } else {
                return response
            }
            return response
        }

        //validação CNPJ 
        function checkCNPJ() {
            var cnpj = $('.register-cnpj').val(),
                message = $("#cnpj-error"),
                response = {'status': false}

            $.ajax({
                url: checkCnpjUrl,
                type: "POST",
                dataType: "json",
                async: false,
                data: {
                    c: cnpj
                },
                success: function (data) {
                    response = data
                                       
                    if (response.status) {
                        message.text("");
                        return response;
                    } else {
                        message.text(response.message);
                        return response;
                    }
                }
            });
           
            return response
        }

        //valida CPF
        function checkCpf() {
            var $this = $('.register-cpf'),
                cpf = $this.val(),
                message = $("#cpf-error"),
                ischeckCpfExist = $this.data('check'),
                response = {'status': false}
            
            $.ajax({
                url: "{{ path('api-check-cpf') }}",
                type: "POST",
                dataType: "json",
                async: false,
                data: {
                    c: cpf,
                    e: ischeckCpfExist,
                },
                success: function (data) {
                    response = data
                    if (response.status) {
                        message.text("")
                        return response
                    } else {
                        message.text(response.message);
                        return response
                    }
                }
            }); 
           
            return response
        }


        //valida CRF
        function checkCRM(){
            var crf = $('.crf').val(),
                response = {'status': false}
                            
            $.ajax({
                url: "{{ path('api-check-crf') }}",
                type: "POST",
                dataType: "json",
                async: false,
                data: {
                    c: crf,
                    s : $("#register-state").val()
                },
                success: function (data) {
                    response = data
                    if (response.status) {
                        $("#crf-error").html("");
                    } else {
                        $("#crf-error").html(response.message);
                    }
                }
            });

            return response 
        }


        $('.btn-register-lead').on('click', function(e) {
            var form = $('#formLead');
            var url = form.attr('action');
            console.log('url ', url)
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function(response)
                {
                    var lead = $('.lead'),
                        step_one = $('.step-one')
                    console.log('response', 'teste')
                    if (!response.status) {                       
                        if (response.error.hasOwnProperty('profile') ) {
                            $('#profile-error').text(response.error.profile);
                            console.log('profile ', response.error.profile)
                        }   
                        
                        if (response.error.hasOwnProperty('name') ) {
                            $('#profile-name-error').text(response.error.name)
                            console.log('name ', response.error.name)
                        }    
                        
                        if (response.error.hasOwnProperty('email') ) {
                            $('#profile-email-error').text(response.error.email);
                            console.log('email ', response.error.email)
                        }     
                    } else {
                        console.log('foii')
                        $('[name="o"]').val(response.field.o) 
                        $('[name="n"]').val(response.field.n)
                        $('[name="m"]').val(response.field.m)
                        lead.hide()
                        step_one.show()
                    }
                },
                error: function(error) {
                    console.log('error ' + error)
                    //alert('error ' + error)
                }
            });
        })

        $('[name="p"]').on("change", function(){
            $('#profile-error').text('');
        })
        
        $('[name="n"]').on("keyup", function(){
            $('#profile-name-error').text('');
        })

        $('[name="m"]').on("keyup", function(){
            $('#profile-email-error').text('');
        })
        })

        //------------------------------------------------ end ------------------------------


        function checkCEP() {
            var cep     = $('.zip_code').val()
            var btn     = $('.btn-register-gestor')
            var address = $('.address'), neighborhood =  $('.neighborhood'), city = $('.city'), state = $('.state'), zip_code = $('.zip_code')
            var consultaCorreios = "{{path('api-correios')}}";
            
            //console.log(cep, 'length -> ', cep.length)
            /*
            if (cep.length < 9) {
                $('#zip-code-error').text('CEP INVÁLIDO');
                return false;
            }
            */
            $.ajax({
                url: consultaCorreios,
                type: "POST",
                dataType: "json",
                data: {
                    'cep': cep, 
                },
                beforeSend: function(){
                    address.val('...');  
                    neighborhood.val('...');  
                    city.val('...');  
                    state.val('...');
                },
                success: function (response) {
                    
                    $('#address-error').text('') 
                    $('#neighborhood-error').text('')  
                    $('#city-error').text('') 
                    $('#state-error').text('') 

                    if (!response.status) {
                        $('#zip-code-error').text(response.message);
                        return false;
                    }
                    
                    $('#zip-code-error').text('')
                    address.val(response.endereco);  
                    neighborhood.val(response.bairro + ' ' + response.complemento2);  
                    city.val(response.cidade);  
                    state.val(response.uf);
                    $(".estate-address").val(response.uf).change()
                }
            });

            return true
        }

            
        // gestor farmacia
        $(".btn-login-gestor:not(.disable)").on("click", function(){
            var $this = $(this);
            
            $.ajax({
                url: consultaGestorUrl,
                type: "POST",
                dataType: "json",
                data: {
                    'type': 'gestor',
                    'cnpj': $('#gestor-cnpj').val(), 
                    'cpf': $('#gestor-cpf').val(),
                    'change_profile': $('.is_chage_profile').val()
                },
                beforeSend: function(){
                    $this.text('Carregando...');
                    $this.attr("disabled", true);
                },
                success: function (response) {
                    if (response.status) {
                        console.log('success');
                        if (response.hasOwnProperty('change_profile') && response.hasOwnProperty('code')) {
                            
                            $(".gl-msg").parents('div').show()
                            $(".gl-msg").html(response.message)
                            $('.is_chage_profile').val(response.code)
                            $('#gestor-cnpj').attr("disabled", true)
                            $('#gestor-cpf').attr("disabled", true)
                            $this.text('Sim')

                            //$('#cnpj-login-error').text(response.message);
                        } else if(response.hasOwnProperty('elegivel') && response.box == 'register'){
                            
                            $('.is-gestor-logged').css('display', 'block');
                            $('.is-gestor, .is-not-gestor').css('display', 'none');
                            $('.list-choice').hide();
                            $('.what-occupation').hide();

                            $('#cnpj-gestor-logged').val(response.cnpj).mask('00.000.000/0000-00', {reverse: true});
                            $('#cpf-gestor-logged').val(response.cpf).mask('000.000.000-00', {reverse: true});
                            $('.cnpj-gestor-text').text(response.cnpj).mask('00.000.000/0000-00', {reverse: true});
                            $('.cpf-gestor-text').text(response.cpf).mask('000.000.000-00', {reverse: true});

                            if (response.razao.length > 0){ //se existit razão social
                                $('#razao-social-text').show();
                                $('#razao-social-input').hide(); 
                                $('.razao-social-gestor-text').text(response.razao);
                                $('[name="razao_social"]').val(response.razao);
                            } else {
                                $('#razao-social-input').show(); 
                                $('#razao-social-text').hide();
                                $('[name="razao_social"]').val(response.razao);
                            }
                               
                            //$('[name="inscricao_estadual"]').val(response.);  
                            $('[name="name_fantasia"]').val(response.fantasia);  
                            $('[name="cep"]').val(response.cep).mask('00000-000', {reverse: true});    
                            $('[name="endereco"]').val(response.logradouro);  
                            $('[name="numero"]').val(response.numero);  
                            $('[name="complemento"]').val(response.complemento);  
                            $('[name="bairro"]').val(response.bairro);  
                            $('[name="cidade"]').val(response.cidade);  
                            $('[name="uf"]').val(response.uf);  
                            $('[name="celular"]').val(response.num_celular).mask('00000-0000', {reverse: true});
                            $('[name="ddd_celular"]').val(response.ddd);
                            $('[name="mail"]').val(response.email);

                            if (response.hasOwnProperty('change_profile')) { //código faz parte da troca de perfil para gestor de loja
                                $('[name="name"]').val(response.nome);  
                                $('#email-gestor-logged').hide()
                                $('.email-gl-text').text(response.email).show();
                            } 
                           
                            $('.endereco-gestor-text').text(response.logradouro);
                            $('.bairro-gestor-text').text(response.bairro);
                            $('.cidade-gestor-text').text(response.cidade);
                            $('.uf-gestor-text').text(response.uf);
                            
                            //if (response.codigo == 0) {
                                //alert('teste1');
                                modalExcelencia();
                                //$('.menu_excelencia').html('<div class="menu_desafio_30_dias menu_excelencia_top"><a href="'+ response.url +'" class="check-if-is-logged mnu_excelencia" data-id="mnu_excelencia" style="cursor: pointer;">Neopharma<br> Excelência</a></div>');
                            //}
                            $this.text('Cadastrar');
                        } else if(response.hasOwnProperty('elegivel') && response.box == 'logged'){
                           $('#cnpj-login-error').text(response.message);
                           $('#cpf-g-error').text();
                           $this.text('Cadastrar');  
                        } 
                       // console.log('success');
                    } else {
                        $('#cnpj-login-error').text(response.message);
                        $('#cpf-g-error').text();  
                        $this.text('Cadastrar');                          
                    }
                     
                   $this.attr("disabled", false);
                } 
            });
        });
         

        // register farmacia
         $(".btn-register-gestor").on("click", function(){
            var $this = $(this);
            var term = 0;
            var whatsApp = 0; //whatsApp
            var form_data = new FormData(); 

            if ($('.term-checked').is(':checked')){
                term = 1;
            } 

            if ($('.checked_whatsApp').is(':checked')){ //whatsApp
                whatsApp = 1;
            } 

            if ($this.is('disabled')) {
                return false;
            }

            if ($('[name="ddd_celular"]').val().length < 2) {
                $this.attr("disabled", true);
                $('#ddd-celular-g-error').text('DDD inválido');
            }

            if ($('[name="celular"]').val().length < 10) {
                $this.attr("disabled", true);
                $('#celular-g-error').text('Número de celular inválido');
            }

            form_data.append('avatar', $('#avatar-gestor').prop('files')[0]);                  
            form_data.append('name', $('[name="name"]').val());
            form_data.append('cnpj', $('[name="cnpj"]').val());
            form_data.append('cpf', $('[name="cpf"]').val());
            form_data.append('mail', $('[name="mail"]').val());
            form_data.append('p', $('[name="password"]').val());
            form_data.append('pr', $('[name="passwordRepeat"]').val());
            form_data.append('term', term);
            /* news fields  */
            form_data.append('razao_social', $('[name="razao_social"]').val());  
            //form_data.append('inscricao_estadual', $('[name="inscricao_estadual"]').val());  
            form_data.append('name_fantasia', $('[name="name_fantasia"]').val());  
            form_data.append('cep', $('[name="cep"]').val());  
            form_data.append('endereco', $('[name="endereco"]').val());  
            form_data.append('numero', $('[name="numero"]').val());  
            form_data.append('complemento', $('[name="complemento"]').val());  
            form_data.append('bairro', $('[name="bairro"]').val());  
            form_data.append('cidade', $('[name="cidade"]').val());  
            form_data.append('uf', $('[name="uf"]').val());  
            form_data.append('celular', $('[name="celular"]').val());  
            form_data.append('ddd_celular', $('[name="ddd_celular"]').val());  
            form_data.append('ponto_referencia', $('[name="ponto_referencia"]').val());             
            form_data.append('whatsApp', whatsApp); //whatsApp            
            form_data.append('change_profile', $('.is_chage_profile').val()); //mudança de perfil para gestor de loja            
            /* end */
                   
            $.ajax({
                url: registerGestor,
                type: "POST",
                dataType: "json",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                beforeSend: function(){
                    $this.text('Carregando...');
                    $this.attr("disabled", true);
                },
                success: function (response) {
                    if(response.status){
                                                
                        window.location.href = response.url;                        
                    }else{
                        if(response.fields.hasOwnProperty('name')){
                            $('#name-g-error').text(response.fields.name);
                        }

                        if(response.fields.hasOwnProperty('mail')){
                            $('#mail-g-error').text(response.fields.mail);
                        }

                        if(response.fields.hasOwnProperty('cnpj')){
                            $('#cnpj-g-error').text(response.fields.cnpj);
                        }

                        if(response.fields.hasOwnProperty('cpf')){
                            $('#cpf-g-error').text(response.fields.cpf);
                        }
                        
                        if (response.fields.hasOwnProperty('passwordRepeat') ) {
                            $('#passwordRepeat-g-error').text(response.fields.passwordRepeat);
                        }

                        if (response.fields.hasOwnProperty('password') ) {
                            $('#password-g-error').text(response.fields.password);
                        }

                        if (response.fields.hasOwnProperty('term') ) {
                            $('#term-g-error').text(response.fields.term);
                        }

                        /* news fields */
                        if (response.fields.hasOwnProperty('razao_social') ) {
                            $('#razao-social-g-error').text(response.fields.razao_social);
                        }

                        /*
                        if (response.fields.hasOwnProperty('inscricao_estadual') ) {
                            $('#inscricao-estadual-g-error').text(response.fields.inscricao_estadual);
                        }
                        */

                        if (response.fields.hasOwnProperty('name_fantasia') ) {
                            $('#name-fantasia-g-error').text(response.fields.name_fantasia);
                        }

                        if (response.fields.hasOwnProperty('cep') ) {
                            $('#cep-g-error').text(response.fields.cep);
                        }

                        if (response.fields.hasOwnProperty('endereco') ) {
                            $('#endereco-g-error').text(response.fields.endereco);
                        }

                        if (response.fields.hasOwnProperty('numero') ) {
                            $('#numero-g-error').text(response.fields.numero);
                        }

                        if (response.fields.hasOwnProperty('complemento') ) {
                            $('#complemento-g-error').text(response.fields.complemento);
                        }

                        if (response.fields.hasOwnProperty('bairro') ) {
                            $('#bairro-g-error').text(response.fields.bairro);
                        }

                        if (response.fields.hasOwnProperty('cidade') ) {
                            $('#cidade-g-error').text(response.fields.cidade);
                        }

                        if (response.fields.hasOwnProperty('uf') ) {
                            $('#uf-g-error').text(response.fields.uf);
                        }

                        if (response.fields.hasOwnProperty('celular') ) {
                            $('#celular-g-error').text(response.fields.celular);
                        }

                        if (response.fields.hasOwnProperty('ddd_celular') ) {
                            $('#ddd-celular-g-error').text(response.fields.celular);
                        }

                        if (response.fields.hasOwnProperty('ponto_referencia') ) {
                            $('#ponto-referencia-g-error').text(response.fields.ponto_referencia);
                        }
                        /* end */

                        $this.text('Cadastrar');
                        $this.attr("disabled", false);
                    }
                                        
                }
               
            });
        });

        $('[name="name"]').on("keyup", function(){
            $('#name-g-error').text('');
        });
        $('[name="email"]').on("keyup", function(){
            $('#mail-g-error').text('');
        });

        $('[name="cpf"]').on("keyup", function(){
            $('#cpf-g-error').text('');
        });

        $('[name="crf"]').on("keyup", function(){
            $('#crf-error').text('');
        });

        $('[name="state"]').on("keyup", function(){
            $('#crf-error').text('');
        });

        $('[name="cnpj"]').on("keyup", function(){
            $('#cnpj-g-error').text('');
        });

        $('[name="password"]').on("keyup", function(){
            $('#password-g-error').text('');
        });

        $('[name="passwordRepeat"]').on("keyup", function(){
            $('#passwordRepeat-g-error').text('');
        });
        
        $('#gestor-cnpj').on("keyup", function(){
            $('#cnpj-login-error').text('');
        });

         /* news fields */
        
        $('[name="razao_social"]').on("keyup", function(){
            $('#razao-social-g-error').text('');
        });
        /*
        $('[name="inscricao_estadual"]').on("keyup", function(){
            $('#inscricao-estadual-g-error').text('');
        });
        */
        $('[name="name_fantasia"]').on("keyup", function(){
            $('#name-fantasia-g-error').text('');
        });

        $('[name="cep"]').on("keyup", function(){
            $('#cep-g-error').text('');
        });

        $('[name="endereco"]').on("keyup", function(){
            $('#endereco-g-error').text('');
        });

        $('[name="numero"]').on("keyup", function(){
            $('#numero-g-error').text('');
        });

        $('[name="complemento"]').on("keyup", function(){
            $('#complemento-g-error').text('');
        });

        $('[name="bairro"]').on("keyup", function(){
            $('#bairro-g-error').text('');
        });

        $('[name="cidade"]').on("keyup", function(){
            $('#cidade-g-error').text('');
        });

        $('[name="uf"]').on("keyup", function(){
            $('#uf-g-error').text('');
        });

        $('[name="ddd_celular"]').on("keyup", function(){
            $('#ddd-celular-g-error').text('');
        });

        $('[name="celular"]').on("keyup", function(){
            $('#celular-g-error').text('');
        });

        $('[name="ponto_referencia"]').on("keyup", function(){
            $('#ponto-referencia-g-error').text('');
        });
        /* end */

          
        $('.term-checked').on("click", function(){
            if ($(this).is(':checked')) {
                $('#term-g-error').text('');
            }
        });

        function modalExcelencia(){
            $('#mnu_excelencia').removeClass('hide');
            $('#mnu_excelencia').addClass('show');
             
            if($('.excelencia-modal').hasClass('open-menu')){
                $('.excelencia-modal').removeClass('open-modal');
            } else{
                $('.excelencia-modal').addClass('open-modal');
            }
        }
  
        //valida e-mail
        $("#email-gestor-logged").on("keyup", function(){
            var email = $(this).val();
            if(validateEmail(email)){
                $.ajax({
                    url: checkEmailUrl,
                    type: "POST",
                    dataType: "json",
                    data: {
                        e: email
                    },
                    beforeSend: function(){
                        $("#mail-g-error").html("");
                        $('.cdt_mid_frm_sbm_cadastar').attr("disabled", true);
                    },
                    success: function (response) {
                        if (response.status) {
                            $("#email-gestor-logged")[0].setCustomValidity("");
                            $("#mail-g-error").html("");
                            $('.cdt_mid_frm_sbm_cadastar').attr("disabled", false);
                        } else if ($('.is_chage_profile').val() == 'GL-001') {
                            $("#email-gestor-logged")[0].setCustomValidity("");
                            $("#mail-g-error").html("");
                            $('.cdt_mid_frm_sbm_cadastar').attr("disabled", false);
                        } else {
                            $("#email-gestor-logged")[0].setCustomValidity("Email está sendo utilizado.");
                            $("#mail-g-error").html(" já está sendo utilizado.");
                            $('.cdt_mid_frm_sbm_cadastar').attr("disabled", true);
                        }
                    }
                });
            }
        });

        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
        

        function valida_cpf_cnpj(valor) {
            var valida = verifica_cpf_cnpj(valor);
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            if (valida === 'CPF') {
                return valida_cpf(valor);
            }
            else if (valida === 'CNPJ') {
                return valida_cnpj(valor);
            }
            else {
                return false;
            }
        } 
        function verifica_cpf_cnpj(valor) {
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            if (valor.length === 11) {
                return 'CPF';
            }
            else if (valor.length === 14) {
                return 'CNPJ';
            }
            else {
                return false;
            }
        }
        function valida_cpf(valor) {
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            var digitos = valor.substr(0, 9);
            var novo_cpf = calc_digitos_posicoes(digitos);
            var novo_cpf = calc_digitos_posicoes(novo_cpf, 11);
            if (novo_cpf === valor) {
                return true;
            } else {
                return false;
            }

        }
        function valida_cnpj(valor) {
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            var cnpj_original = valor;
            var primeiros_numeros_cnpj = valor.substr(0, 12);
            var primeiro_calculo = calc_digitos_posicoes(primeiros_numeros_cnpj, 5);
            var segundo_calculo = calc_digitos_posicoes(primeiro_calculo, 6);
            var cnpj = segundo_calculo;
            if (cnpj === cnpj_original) {
                return true;
            }
            return false;
        }
        function calc_digitos_posicoes(digitos, posicoes = 10, soma_digitos = 0) {
            digitos = digitos.toString();
            for (var i = 0; i < digitos.length; i++) {
                soma_digitos = soma_digitos + (digitos[i] * posicoes);
                posicoes--;
                if (posicoes < 2) {
                    posicoes = 9;
                }
            }
            soma_digitos = soma_digitos % 11;
            if (soma_digitos < 2) {
                soma_digitos = 0;
            } else {
                soma_digitos = 11 - soma_digitos;
            }
            var cpf = digitos + soma_digitos;
            return cpf;
        }

        $('.change-image-btn, .avatar-user-box img').on('click', function(e){
            e.preventDefault();
            $('.change-image-input').click();
        });

        $('.change-image-input').on('change', function() {
            var fileName = $(this)[0].files[0].name;
            $('.text-file-name').text('Arquivo: '+fileName);
            readURL(this);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#user-avatar').attr('src' , e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $('.zip_code').mask('00000-000');
	</script>
{% endblock %}