{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Indique um amigo{% endblock %}
{% set pageIndex = 'cva' %}
{% block body %}
    <div class="page-not-banner">
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>Indique um amigo</h1></div>
        </section> 
        <div class="container container-small">
            <p class="text-center">
                <big>Indique seus amigos que ainda não conhecem o Portal Neo Pharma.</big>
            </p>

            <p class="space-h-20">
                <span class="btn-default btn-large">{{ user.shareCode }}</span>
            </p>
            <div class="space-h-20">
                <ul class="d-flex justify-content-around share-box-2">
                    {# <li><a href="https://www.facebook.com/dialog/send?link={{absolute_url(path('home-register',{'code' : user.shareCode }))|url_encode  }}" target="_blank" id="cva_mid_mnu_facebook"><i class="fa fa-facebook"></i> </a></li> #}
                    <li><a href="https://api.whatsapp.com/send?text=Faça seu cadastro: {{absolute_url(path('home-register',{'code' : user.shareCode}))|url_encode  }}" target="_blank" id="cva_mid_mnu_whatsapp"><i class="fa fa-whatsapp"></i> </a></li>
                    {# <li>
                        <a href="sms:?body={{absolute_url(path('home-register',{'code' : user.shareCode}))|url_encode  }}" target="_blank" id="cva_mid_mnu_sms">
                            <span class="fa-stack fa-lg icon-sms">
                                <span class="fa fa-flip-horizontal fa-comment-o fa-stack-2x icon-figure"></span>   
                                <span class="icon-text">sms</span> 
                            </span>
                        </a>
                    </li> #}
                    {# <li><a href="mailto:?subject=Faça seu cadastro no Portal Neo Pharma&body=Acesse por este link: {{absolute_url(path('home-register',{'code' : user.shareCode}))}}" target="_blank" id="cva_mid_mnu_email"><i class="fa fa-envelope"></i> </a></li> #}
                    {# <li><a href="#" id="cva_mid_mnu_url"><i class="fa fa-link"></i> </a></li> #}
                </ul>
            </div>
            {# <h3 class="text-center">Pontos de indicação 150</h3> #}
            <hr>
            <div class="space-h-20">
                <h2 class="text-center">Como funciona?</h2>
            </div>
            <ul class="list-order">
                <li><span class="number-list">1</span> <span class="text-list">Você compartilha o código com amigos que não conhecem o Portal Neo Pharma.</span></li>
                <li><span class="number-list">2</span> <span class="text-list">O amigo informa o código de indicação no cadastro.</span></li>
                {# <li><span class="number-list">3</span> <span class="text-list">Ele ganha pontos de cadastro e você ganha pontos de indicação.</span></li> #}
            </ul>
            <div class="text-center space-h-2">
                <a href="{{ path('home-term') }}" class="text-gray" id="cva_mid_lnk_leiaostermosdeuso">Leia os Termos de Uso</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <style>
        .fas{
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            font-family: "Font Awesome 5 Pro";
        }
        .fas.fa-sms:before{
            content '\f7cd';
        }
    </style>
{% endblock %}