{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Ranking{% endblock %}

{% block body %}
    <header class="header-main text-center">
        <div class="container">
            <h1 class="space-h-20">Meus pontos</h1>
        </div>
    </header>
    <div class="container">
        {% if results|length > 0 %}
            {% for point in results %}
                <div class="ranking-top-box align-items-center d-flex space-h-20">
                    <figure class="ranking-top-image">
                        {% if point.rank.position == 1 %}
                            <img src="{{ asset('_dist/image/img/golden-medal.png') }}" />
                        {% elseif point.rank.position == 2 %}
                            <img src="{{ asset('_dist/image/img/silver-medal.png') }}" />
                        {% elseif point.rank.position == 3 %}
                            <img src="{{ asset('_dist/image/img/bronze-medal.png') }}" />
                        {% else %}
                            <img src="{{ asset(point.badge.imageMobile) }}" />
                        {% endif %}
                    </figure>
                    <div class="ranking-top-text">
                        <h3>{{point.badge.name}}</h3>
                        <p>
                            <strong>Pontos: {{point.rank.total_points}}</strong>
                        </p>
                        <p>
                            {{point.badge.shortDescription}}
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="container">
                <p class="space-h-20">Você ainda não tem pontos. Comece a compartilhar, salvar, ler, ouvir, assistir para ganhar pontos</p>
            </div>
        {% endif %}
    </div>
    
{% endblock %}

{% block javascripts %}{% endblock %}