{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Usuário{% endblock %}

{% block body %}
    <div class="user-page">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>Alteração responsável</h1></div>
        </section>
        <div class="container">
            <div class="login-forms-box">
                {% if error is defined %}
                    <p>
                        <big>{{error}}</big>
                    </p>
                {% endif %}             

                 <div class="login-forms-box">
                    <form class="form form-gestor form register-form" id="form-gestor-logged" method="POST" action="{{ path('user-responsible-update') }}">
                        <h3>Alteração Responsavél</h3>
                                                  
                        <!--- start -->
                        <div class="space-h-10">
                            <p id="message-error" class="error"></p><br>
                            <label for="user-name">Nome do Responsável *<span class="error" id="name-error"></span></label>
                            <input type="text" id="user-name-gestor" name="name" class="form-control" required="required" autocomplete="off" value="{{ user.name }}">
                        </div>          
                        
                        <div class="space-h-10">
                            <label for="user-cpf" id="label-for-cpf">CPF *<span class="error" id="cpf-error"></span></label>
                            <input type="text" id="user-cpf-gestor" name="cpf" class="form-control user-cpf cpf" required="required" autocomplete="off" value="{{ user.cpf }}" >
                        </div>

                        <div class="space-h-10">
                            <label for="user-email">Novo E-mail *<span class="error" id="email-error"></span></label>
                            <input type="text" id="user-email-gestor" name="email" class="form-control" required="required" autocomplete="off" value="{{ user.email }}" >
                        </div>

                        <div class="space-h-10">
                            <label for="user-password">Nova Senha *<span class="error" id="new-password-error"></span></label>
                            <input type="password" id="user-password" name="new_password" class="form-control cdt_mid_frm_senha" autocomplete="off" required="required">
                        </div>
                        
                        <div class="space-h-10">
                            <label for="user-passwordRepeat">Repetição da nova senha *<span class="error" id="repeat-password-error"></span></label>
                            <input type="password" id="user-passwordRepeat" name="repeat_password" class="form-control" autocomplete="off" required="required">
                        </div>    

                        <div class="space-h-10">
                            <label for="user-password">Senha atual *<span class="error" id="actual-password-error"></span></label>
                            <input type="password" id="user-password" name="actual_password" class="form-control" autocomplete="off" required="required">
                        </div>

                        <div class="space-h-20 text-center">
                            <button type="button" id="btn-login-gestor" class="btn-default btn-full btn-login-update-gestor">Salvar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="change-responsible-modal" style="display: none">
    <!-- Modal Excelência -->
    <div class="modal-default change-responsible-modal open-modal">
        <div class="content-form-src-desk">
            <div class="modal-content text-center">
                <div class="confirm-excelencia">
                    <div class="confirm-change-responsible-content">
                        <a href="{{ path('logout') }}" id="close-change-responsible-modal">X</a>
                        <div class="space-h-10">
                            <h3>Responsável alterado com sucesso!</h3>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    
    {# <script src="{{ asset('_dist/js/jquery-ui.min.js') }}"></script> #}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
        var checkCpfUrl = "{{path('api-check-cpf')}}";
        var registerGestor = "{{ path('user-responsible-update') }}";
                         
        // gestor farmacia
         $("#btn-login-gestor").on("click", function(){
            var $this = $(this);
            var whatsApp = 0; //whatsApp
            var form_data = new FormData(); 

            if ($('.checked_whatsApp').is(':checked')){ //whatsApp
                whatsApp = 1;
            } 

            if ($this.is('disabled')) {
                return false;
            }
               
            form_data.append('name', $('[name="name"]').val());
            form_data.append('cpf', $('[name="cpf"]').val());
            form_data.append('email', $('[name="email"]').val());
            form_data.append('new_password', $('[name="new_password"]').val());
            form_data.append('repeat_password', $('[name="repeat_password"]').val());
            form_data.append('actual_password', $('[name="actual_password"]').val());
            form_data.append('e', true);
                    
            $.ajax({
                url: registerGestor,
                type: "POST",
                dataType: "json",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                beforeSend: function(){
                    $this.text('Carregando...');
                    $this.attr("disabled", true);
                    //alert($this.text());
                },
                success: function (response) {
                    if (response.status) {   
                        $('#change-responsible-modal').show();         
                    } else {
                        if (response.hasOwnProperty('message') ) {
                            $('#message-error').text(response.message);
                        } else {
                            if (response.fields.hasOwnProperty('name') ) {
                                $('#name-error').text(response.fields.name);
                            }

                            if (response.fields.hasOwnProperty('email') ) {
                                $('#email-error').text(response.fields.email);
                            }

                            if (response.fields.hasOwnProperty('cpf') ) {
                                $('#cpf-error').text(response.fields.cpf);
                            }

                            if (response.fields.hasOwnProperty('new_password') ) {
                                $('#new-password-error').text(response.fields.new_password);
                            }

                            if (response.fields.hasOwnProperty('repeat_password') ) {
                                $('#repeat-password-error').text(response.fields.repeat_password);
                            }

                            if (response.fields.hasOwnProperty('actual_password') ) {
                                $('#actual-password-error').text(response.fields.actual_password);
                            }

                        }

                        /* news fields */
                     

                    }
                    $this.text('Salvar');
                    $this.attr("disabled", false);
                }
            });
        });

        $('[name="name"]').on("keyup", function(){
            $('#name-error').text('');
            $('#message-error').text('');
        });

        $('[name="email"]').on("keyup", function(){
            $('#email-error').text('');
            $('#message-error').text('');
        });

        $('[name="cpf"]').on("keyup", function(){
            $('#cpf-error').text('');
            $('#message-error').text('');
        });

        $('[name="password"]').on("keyup", function(){
            $('#password-error').text('');
        });
        
        $('[name="new_password"]').on("keyup", function(){
            $('#new-password-error').text('');
        });

        $('[name="repeat_password"]').on("keyup", function(){
            $('#repeat-password-error').text('');
        });

         $('[name="actual_password"]').on("keyup", function(){
            $('#actual-password-error').text('');
        });

        //modal alteração responsável 
        function modalChangeResponsible(){

            $('body').addClass('open-modal');
            $('.modal-default').addClass('open-modal');
            
            if($('.change-responsible-modal').hasClass('open-modal')){
                $('.change-responsible-modal').removeClass('open-modal');
            } else{
                $('.change-responsible-modal').addClass('open-modal');
            }
        }

        $('.cpf').mask('000.000.000-00');
	</script>
{% endblock %}


