{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Usuário{% endblock %}

{% block body %}
    <div class="user-page">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <section class="title-page-not-banner text-center">
            <div class="container"><h1>Meus dados</h1></div>
        </section>
        <div class="container">
            <div class="login-forms-box">
                {% if error is defined %}
                    <p>
                        <big>{{error}}</big>
                    </p>
                {% endif %}             

                 <div class="login-forms-box">
                    <form class="form form-gestor form register-form" id="form-gestor-logged">
                        <h3>Fase 1</h3>
                        <fieldset>
                            {# <input type="radio" class="cdt_mid_frm_rbtn_gestor hide" id="select-register-gestor" name="form[type]" value="gestor" checked> #}
                            <!--- start -->
                            <div class="space-h-10">
                                <label for="razao-social-gestor-text">Razão Social </label>
                                <p class="razao-social-gestor-text" style="font-weight: bold; font-size: 19px;">{{ user.companyName }}</p>
                            </div>
                            
                            <div class="space-h-10">
                                <label for="name-fantasia-gestor-logged">Nome fantasia * <span class="error" id="name-fantasia-g-error"></span></label>
                                <input type="text" id="name-fantasia-gestor-logged" name="name_fantasia" class="form-control" maxlength="50" value="{{ user.fantasyName }}" required  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Nome fantasia'});">
                            </div>
                            
                            <div class="space-h-10">
                                <label for="user-name">Nome do Responsável: <span class="error" id="name-g-error"></span></label>
                                <input type="text" id="user-name-gestor" name="name" class="form-control" value="{{user.name}}"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Nome do Responsável'});">
                            </div>

                            <div class="space-h-10" id="cpf-text">
                                <label for="cpf-gestor-text">CPF </label>
                                <p class="cpf-gestor-text" style="font-weight: bold; font-size: 19px;">{{ user.cpf }}</p>
                            </div>

                            <div class="space-h-10">
                                <label for="cnpj-gestor-text">CNPJ da farmácia </label>
                                <p class="cnpj-gestor-text" style="font-weight: bold; font-size: 19px;">{{ user.cnpj }}</p>
                            </div>
                            <p>
                                <strong> * Preenchimento obrigatório</strong>
                            </p>
                        </fieldset>
                        <h3>Fase 2</h3>
                        <fieldset>
                            <div class="space-h-10">
                                <label for="cep-gestor-logged">CEP *<span class="error" id="cep-g-error"></span></label>
                                <input type="text" id="cep-gestor-logged" name="cep" class="form-control consult-cep" maxlength="8" value="{{ user.zipCode }}" required   onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:CEP'});">
                            </div>

                            <div class="space-h-10">
                                <label for="endereco-gestor-logged">Endereço * <span class="error" id="endereco-g-error"></span> <span style="font-size: 14px"> (Para alterar seu endereço, comece pelo seu CEP)</span></label>
                                <p class="endereco-gestor-text" style="font-weight: bold; font-size: 19px;">{{ user.address }}</p>
                                <input type="text" id="endereco-gestor-logged" name="endereco" class="form-control" maxlength="100" style="display: none;" value="{{ user.address }}" required  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Endereço'});">
                            </div>

                            <div class="space-h-10">
                                <label for="numero-gestor-logged">N° *<span class="error" id="numero-g-error"></span></label>
                                <input type="text" id="numero-gestor-logged" name="numero" class="form-control" maxlength="20" value="{{ user.number }}" required   onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:N°'});">
                            </div>

                            <div class="space-h-10">
                                <label for="complemento-gestor-logged">Complemento <span class="error" id="complemento-g-error"></span></label>
                                <input type="text" id="complemento-gestor-logged" name="complemento" class="form-control" maxlength="50" value="{{ user.complement }}"  required onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Complemento'});">
                            </div>

                            <div class="space-h-10">
                                <label for="bairro-gestor-logged">Bairro *<span class="error" id="bairro-g-error"></span></label>
                                <p class="bairro-gestor-text" style="font-weight: bold; font-size: 19px;">{{ user.neighborhood }}</p>
                                <input type="text" id="bairro-gestor-logged" name="bairro" class="form-control" style="display: none;" maxlength="50" value="{{ user.neighborhood }}" required onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Bairro'});">
                            </div>

                            <div class="space-h-10">
                                <label for="cidade-gestor-logged">Cidade * <span class="error" id="cidade-g-error"></span></label> 
                                <p class="cidade-gestor-text" style="font-weight: bold; font-size: 19px;">{{ user.city }}</p>
                                <input type="text" id="cidade-gestor-logged" name="cidade" class="form-control" style="display: none;" maxlength="50" value="{{ user.city }}" required onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Cidade'});">
                            </div>

                            <div class="space-h-10">
                                <label for="uf-gestor-logged">UF *<span class="error" id="uf-g-error"></span></label>
                                <p class="uf-gestor-text" style="font-weight: bold; font-size: 19px;">{{ user.state }}</p>
                                <input type="text" id="uf-gestor-logged" name="uf" class="form-control" maxlength="2" style="display: none;" value="{{ user.state }}" required onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:UF'});">
                            </div>

                            <div class="space-h-10">
                                <label for="ponto-referencia-gestor-logged">Ponto de referência * <span class="error" id="ponto-referencia-g-error"></span></label>
                                <input type="text" id="ponto-referencia-gestor-logged" name="ponto_referencia" class="form-control" maxlength="100" value="{{ user.referencePoint }}" required onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Ponto de referência'});" >
                            </div>

                            <div class="space-h-10">
                                {% set birthday = user.birthday != null and user.birthday.date|date('d/m/Y') != '30/11/-0001' ? user.birthday|date('d/m/Y') : '' %}
                                <label for="user-birth">Data de nascimento *  <span class="error" id="birthday-error"></span></label>
                                <input type="text" id="user-birth" name="birthday" class="form-control birthday datepicker" value="{{ birthday }}" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Data de nascimento'});" >
                            </div>
                            {# <div class="space-h-10">
                            user.id, user.birthday.date, 
                                <label for="user-birth">Sexo:</label>
                                <select id="select"  class="form-control gender" name="gender">
                                    <option value="">Selecione uma opção</option>
                                    <option value="male" {{ user.gender == 'male' ? 'selected' : '' }}>Masculino</option>
                                    <option value="female" {{ user.gender == 'female' ? 'selected' : '' }}>Feminino</option>
                                </select>
                            </div> #}

                            <div class="space-h-10">
                                <label for="ddd-celular-gestor-logged">DDD *<span class="error" id="ddd-celular-g-error"></span></label>
                                <input type="text" id="ddd-celular-gestor-logged" name="ddd_celular" class="form-control" maxlength="2" value="{{ user.dddCellphone }}"  required  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:DDD'});">
                            </div>
                            
                            <div class="space-h-10">
                                <label for="celular-gestor-logged">Celular *<span class="error" id="celular-g-error"></span></label>
                                <input type="text" id="celular-gestor-logged" name="celular" class="form-control"  maxlength="10" value="{{ user.cellphone }}" required onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Celular'});">
                            </div>

                            <!--- end -->
                            <div class="space-h-10">
                                <label for="user-email">E-mail *<span class="error" id="mail-g-error"></span></label>
                                <input type="text" id="user-email-gestor" name="mail" class="form-control" value="{{user.email}}" required onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:E-mail'});">
                            </div>

                            <div class="space-h-10" style="display: none; !important;">
                                <label for="razao-social-gestor-logged">Razão Social * <span class="error" id="razao-social-g-error"></span></label>
                                <input type="text" id="razao-social-gestor-logged" name="razao_social" class="form-control" maxlength="100" value="{{ user.companyName }}" required onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Razão Social'});">
                            </div>

                            <div class="space-h-10" style="display: none; !important;">
                                <label for="user-cpf" id="label-for-cpf">CPF <span class="error" id="cpf-g-error"></span></label>
                                <input type="text" id="user-cpf-gestor" name="cpf" class="form-control user-cpf" value="{{user.cpf}}"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:cpf'});">
                            </div>
                            <div class="space-h-10"  id="register-cnpj-hold" style="display: none; !important;">
                                <label for="register-cnpj">CNPJ da farmácia * <span class="error" id="cnpj-g-error"></span></label>
                                <input type="text" id="register-cnpj-gestor" name="cnpj" value="{{user.cnpj}}" class="form-control register-cnpj"  onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:CNPJ da farmácia'});">
                            </div>

                            <div class="space-h-10">
                                <label for="user-password">Trocar Senha <span class="error" id="password-g-error"></span></label>
                                <input type="password" id="user-password" name="password" class="form-control cdt_mid_frm_senha" autocomplete="off" required onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Trocar Senha'});">
                            </div>
                            <div class="space-h-10">
                                <label for="user-passwordRepeat">Repetir Senha*<span class="error" id="passwordRepeat-g-error"></span></label>
                                <input type="password" id="user-passwordRepeat" name="passwordRepeat" class="form-control cdt_mid_frm_repetirsenha" autocomplete="off" required onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Repetir Senha'});">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="form[whatsApp]" class="cdt_mid_frm_whatsApp checked_whatsApp" id="agree-whatsApp" {{ user.isNotificationWhatsapp ? 'checked="checked"' : ''}}   onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Aceito receber mensagens de whatsapp e SMS'});"/>
                                <label for="agree-whatsApp" class="form-check-label">
                                    <small class="text-gray">Aceito receber mensagens de whatsapp e SMS</small>
                                </label>
                            </div>
                            <p id="error-password"></p>

                            <p>
                                <strong> * Preenchimento obrigatório</strong>
                            </p>
                            <div class="space-h-20 text-center">
                                <button type="button" id="btn-login-gestor" class="btn-default btn-full btn-login-update-gestor" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'usuario', 'eventAction': 'click', 'eventLabel': 'etapa:Salvar'});">Salvar</button>
                            </div>
                            
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    
    {# <script src="{{ asset('_dist/js/jquery-ui.min.js') }}"></script> #}
    <script src="{{ asset('vendor/jquery.mask.js') }}"></script>
    <script>
        var checkEmailUrl = "{{path('api-check-email')}}";
        var checkCpfUrl = "{{path('api-check-cpf')}}";
        var checkCnpjUrl = "{{path('api-check-cnpj')}}";
        var checkCrfUrl = "{{path('api-check-crf')}}";
        var registerGestor = "{{path('editar-gestor')}}";
        var consultaCorreios = "{{path('api-correios')}}";

    {% if user.isPharmaceutical %}
       $("#label-for-cnpj").html('CNPJ da farmácia <span class="error cnpj-error" id="cnpj-error"></span>'); 
       $("#register-cnpj").prop("required", false);
    {% endif %}

     var form = $(".register-form").show();
    
    form.steps({
        headerTag: "h3",
        bodyTag: "fieldset",
        transitionEffect: "slideLeft",
       //enablePagination: false, //removendo botões de ações (proximo e finalizar)
        enableFinishButton: false,
        labels: {
            cancel: "Cancelar",
            current: "",
            pagination: "Pagination",
            finish: "CADASTRAR",
            next: "Próxima fase",
            previous: "Voltar para a fase anterior",
            loading: "Carregando ..."
        },
        onStepChanging: function (event, currentIndex, newIndex)
        {
            // Allways allow previous action even if the current form is not valid!
            if (currentIndex > newIndex)
            {
                return true;
            }
            // Forbid next action on "Warning" step if the user is to young
            if (newIndex === 3 && Number($("#age-2").val()) < 18)
            {
                return false;
            }
            // Needed in some cases if the user went back (clean up)
            if (currentIndex < newIndex)
            {
                // To remove error styles
                form.find(".body:eq(" + newIndex + ") label.error").remove();
                form.find(".body:eq(" + newIndex + ") label.error").removeClass("error");
            }

            form.validate().settings.ignore = ":disabled,:hidden";
            var formValidade = form.valid() 
                            
            return formValidade
        },
        onStepChanged: function (event, currentIndex, priorIndex)
        {
            // Used to skip the "Warning" step if the user is old enough.
            if (currentIndex === 2 && Number($("#age-2").val()) >= 18)
            {
                form.steps("Próxima fase");
            }
            // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
            if (currentIndex === 2 && priorIndex === 3)
            {
                form.steps("previous");
            }
            
        },
        onFinishing: function (event, currentIndex)
        {
            form.validate().settings.ignore = ":disabled"
            var formValidade = form.valid() 
            checkFieldRequired()                   
                                
            return formValidade;
        },
        onFinished: function (event, currentIndex)
        {       
            //save    
        }
    });

    $('.register-form .actions a').on('click', function(){
            var buttonActive = $(this).text();
            dataLayer.push({ 
                'event':'GAEvent', 
                'eventCategory': 'usuario', 
                'eventAction': 'click', 
                'eventLabel': 'etapa:'+buttonActive
            });
        });

    //scroll até o campo obrigatório
    function checkFieldRequired(){
        $('label.error, span.error').each(function(index, value){
                var id = $(this).attr('id')
            if ($(this).text().length > 0) {
                index = 0
                if (index == 0) {
                    $(window).scrollTop(0);
                    //console.log('id #', id)
                    return false;
                }
            }
        })
    }

    $('.consult-cep').on('blur', function(){
        
        var cep = $(this).val();
        var btn = $('.btn-register-gestor')

        if (cep.length < 9) {
            btn.attr("disabled", true);
            $('#cep-g-error').text('CEP INVÁLIDO');
            return false;
        }

        $('.endereco-gestor-text').text('');
        $('.bairro-gestor-text').text('');
        $('.cidade-gestor-text').text('');
        $('.uf-gestor-text').text('');

        $('[name="endereco"]').val('');  
        $('[name="bairro"]').val('');  
        $('[name="cidade"]').val('');  
        $('[name="uf"]').val('');   

        $.ajax({
            url: consultaCorreios,
            type: "POST",
            dataType: "json",
            data: {
                'cep': cep, 
            },
            beforeSend: function(){
                //btn.text('Carregando...');
                btn.attr("disabled", true);
            },
            success: function (response) {
                if (!response.status) {
                    $('#cep-g-error').text(response.message);
                    return false;
                }

                if (!response.endereco) {
                    $('[name="endereco"]').show();
                    $('.endereco-gestor-text').hide();
                }

                if (!response.bairro) {
                    $('[name="bairro"]').show();
                    $('.bairro-gestor-text').hide();
                }

                if (!response.cidade) {
                    $('[name="cidade"]').show();
                    $('.cidade-gestor-text').hide();
                }

                if (!response.uf) {
                    $('[name="uf"]').show();
                    $('.uf-gestor-text').hide();
                }

                $('.endereco-gestor-text').text(response.endereco);
                $('.bairro-gestor-text').text(response.bairro + ' ' + response.complemento2);
                $('.cidade-gestor-text').text(response.cidade);
                $('.uf-gestor-text').text(response.uf);

                $('#cep-g-error').text('');
                $('#endereco-g-error').text('');
                $('#bairro-g-error').text('');
                $('#cidade-g-error').text('');
                $('#uf-g-error').text('');

                $('[name="endereco"]').val(response.endereco);  
                $('[name="bairro"]').val(response.bairro + ' ' + response.complemento2);  
                $('[name="cidade"]').val(response.cidade);  
                $('[name="uf"]').val(response.uf);

                btn.attr("disabled", false);
            }
        });
    });

        //cadastros add novo campo para outros time
        $('.team-football').on('change', function(e) {
            var option = $(this).val()
            var box = $('#team-football-other-box')
         
            if ($('.team-football option:selected').data('other') == 'other') { 
                box.show()  
            } else {
                box.hide()
            }
        });
               
        // gestor farmacia
         $("#btn-login-gestor").on("click", function(){
            var $this = $(this);
            var whatsApp = 0; //whatsApp
            var form_data = new FormData(); 

            if ($('.checked_whatsApp').is(':checked')){ //whatsApp
                whatsApp = 1;
            } 

            if ($this.is('disabled')) {
                return false;
            }

            if ($('[name="ddd_celular"]').val().length < 2) {
                $this.attr("disabled", true);
                $('#ddd-celular-g-error').text('DDD inválido');
            }

            if ($('[name="celular"]').val().length < 10) {
                $this.attr("disabled", true);
                $('#celular-g-error').text('Número de celular inválido');
            }
               
            form_data.append('name', $('[name="name"]').val());
            form_data.append('cnpj', $('[name="cnpj"]').val());
            form_data.append('cpf', $('[name="cpf"]').val());
            form_data.append('mail', $('[name="mail"]').val());
            form_data.append('p', $('[name="password"]').val());
            form_data.append('pr', $('[name="passwordRepeat"]').val());
               /* news fields  */
            form_data.append('razao_social', $('[name="razao_social"]').val());  
            //form_data.append('inscricao_estadual', $('[name="inscricao_estadual"]').val());  
            form_data.append('name_fantasia', $('[name="name_fantasia"]').val());  
            form_data.append('cep', $('[name="cep"]').val());  
            form_data.append('endereco', $('[name="endereco"]').val());  
            form_data.append('numero', $('[name="numero"]').val());  
            form_data.append('complemento', $('[name="complemento"]').val());  
            form_data.append('bairro', $('[name="bairro"]').val());  
            form_data.append('cidade', $('[name="cidade"]').val());  
            form_data.append('uf', $('[name="uf"]').val());  
            form_data.append('celular', $('[name="celular"]').val());  
            form_data.append('ddd_celular', $('[name="ddd_celular"]').val());  
            form_data.append('ponto_referencia', $('[name="ponto_referencia"]').val());  
            form_data.append('whatsApp', whatsApp); //whatsApp  
            form_data.append('birthday', $('.birthday').val());                 
            
            if ($('.team-football option:selected').data('other') == 'other') {               
                form_data.append('team_football', $('[name="team_football_other"]').val());  
            } else {
                form_data.append('team_football', $('[name="team_football"]').val()); 
            }              
            //form_data.append('gender', $('.gender').val());         
         
            if ($('.newsletter').is(':checked')) {
                form_data.append('newsletter', $('.newsletter').val()); 
            }         
            /* end */
                   
            $.ajax({
                url: registerGestor,
                type: "POST",
                dataType: "json",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                beforeSend: function(){
                    $this.text('Carregando...');
                    $this.attr("disabled", true);
                    //alert($this.text());
                },
                success: function (response) {
                    if (response.status) {                        
                        window.location.href = response.url;
                    } else {
                        if (response.fields.hasOwnProperty('name') ) {
                            $('#name-g-error').text(response.fields.name);
                        }

                        if (response.fields.hasOwnProperty('mail') ) {
                            $('#mail-g-error').text(response.fields.mail);
                        }

                        if (response.fields.hasOwnProperty('cnpj') ) {
                            $('#cnpj-g-error').text(response.fields.cnpj);
                        }

                        if (response.fields.hasOwnProperty('cpf') ) {
                            $('#cpf-g-error').text(response.fields.cpf);
                        }

                        if (response.fields.hasOwnProperty('password') ) {
                            $('#password-g-error').text(response.fields.password);
                        }

                        if (response.fields.hasOwnProperty('passwordRepeat') ) {
                            $('#passwordRepeat-g-error').text(response.fields.passwordRepeat);
                        }

                        /* news fields */
                        
                        if (response.fields.hasOwnProperty('razao_social') ) {
                            $('#razao-social-g-error').text(response.fields.razao_social);
                        }

                        /*
                        if (response.fields.hasOwnProperty('inscricao_estadual') ) {
                            $('#inscricao-estadual-g-error').text(response.fields.inscricao_estadual);
                        }
                        */

                        /*
                        if (response.fields.hasOwnProperty('gender') ) {
                            $('.gender').text(response.fields.gender);
                        }
                        */

                        if (response.fields.hasOwnProperty('birthday') ) {
                            $('#birthday-error').text(response.fields.birthday);
                        }

                        if (response.fields.hasOwnProperty('name_fantasia') ) {
                            $('#name-fantasia-g-error').text(response.fields.name_fantasia);
                        }

                        if (response.fields.hasOwnProperty('cep') ) {
                            $('#cep-g-error').text(response.fields.cep);
                        }

                        if (response.fields.hasOwnProperty('endereco') ) {
                            $('#endereco-g-error').text(response.fields.endereco);
                        }

                        if (response.fields.hasOwnProperty('numero') ) {
                            $('#numero-g-error').text(response.fields.numero);
                        }

                        if (response.fields.hasOwnProperty('complemento') ) {
                            $('#complemento-g-error').text(response.fields.complemento);
                        }

                        if (response.fields.hasOwnProperty('bairro') ) {
                            $('#bairro-g-error').text(response.fields.bairro);
                        }

                        if (response.fields.hasOwnProperty('cidade') ) {
                            $('#cidade-g-error').text(response.fields.cidade);
                        }

                        if (response.fields.hasOwnProperty('uf') ) {
                            $('#uf-g-error').text(response.fields.uf);
                        }

                        if (response.fields.hasOwnProperty('celular') ) {
                            $('#celular-g-error').text(response.fields.celular);
                        }

                        if (response.fields.hasOwnProperty('ddd_celular') ) {
                            $('#ddd-celular-g-error').text(response.fields.celular);
                        }

                        if (response.fields.hasOwnProperty('ponto_referencia') ) {
                            $('#ponto-referencia-g-error').text(response.fields.ponto_referencia);
                        }
                        /* end */
                    }
                    $this.text('Salvar');
                    $this.attr("disabled", false);
                }
            });
        });
        
        function modalExcelencia(){
            $('#mnu_excelencia').removeClass('hide');
            $('#mnu_excelencia').addClass('show');
             
            if($('.excelencia-modal').hasClass('open-menu')){
                $('.excelencia-modal').removeClass('open-modal');
            } else{
                $('.excelencia-modal').addClass('open-modal');
            }
        }

        $('[name="name"]').on("keyup", function(){
            $('#name-g-error').text('');
        });
        $('[name="mail"]').on("keyup", function(){
            $('#mail-g-error').text('');
        });
        $('[name="cpf"]').on("keyup", function(){
            $('#cpf-g-error').text('');
        });
        $('[name="cnpj"]').on("keyup", function(){
            $('#cnpj-g-error').text('');
        });
        $('[name="password"]').on("keyup", function(){
            $('#password-g-error').text('');
        });
        $('[name="passwordRepeat"]').on("keyup", function(){
            $('#passwordRepeat-g-error').text('');
        });
        
        $('#gestor-cnpj').on("keyup", function(){
            $('#cnpj-login-error').text('');
        });

        /* news fields */
        
        $('[name="razao_social"]').on("keyup", function(){
            $('#razao-social-g-error').text('');
        });

        $('.birthday').on("keyup", function() {
            $('#birthday-error').text('');
        });

        /*
        $('[name="inscricao_estadual"]').on("keyup", function(){
            $('#inscricao-estadual-g-error').text('');
        });
        */

        $('[name="name_fantasia"]').on("keyup", function(){
            $('#name-fantasia-g-error').text('');
        });

        $('[name="cep"]').on("keyup", function(){
            $('#cep-g-error').text('');
        });

        $('[name="endereco"]').on("keyup", function(){
            $('#endereco-g-error').text('');
        });

        $('[name="numero"]').on("keyup", function(){
            $('#numero-g-error').text('');
        });

        $('[name="complemento"]').on("keyup", function(){
            $('#complemento-g-error').text('');
        });

        $('[name="bairro"]').on("keyup", function(){
            $('#bairro-g-error').text('');
        });

        $('[name="cidade"]').on("keyup", function(){
            $('#cidade-g-error').text('');
        });

        $('[name="uf"]').on("keyup", function(){
            $('#uf-g-error').text('');
        });

        $('[name="ddd_celular"]').on("keyup", function(){
            $('#ddd-celular-g-error').text('');
        });

        $('[name="celular"]').on("keyup", function(){
            $('#celular-g-error').text('');
        });

        $('[name="ponto_referencia"]').on("keyup", function(){
            $('#ponto-referencia-g-error').text('');
        });
        /* end */

        
        $("#form-remember-password").on("submit", function(e){
            $("#error-password").html("");
            var oldPassword = $("#user-passwordOld").val();
            var userPassword = $("#user-password").val();
            var userPasswordRepeat = $("#user-passwordRepeat").val();
            console.log(userPassword, userPasswordRepeat);
            if(userPassword == "" || userPasswordRepeat == "" || oldPassword == ""){
                e.preventDefault();
                $("#error-password").html("Os campos são obrigatórios.");
                return false;
            } else if(userPasswordRepeat != userPassword){
                e.preventDefault();
                $("#error-password").html("Passwords estão diferentes");
                return false;
            }
        });

        $("#user-email").on("keyup", function(){
            var email = $(this).val();
            if(validateEmail(email)){
                $.ajax({
                    url: checkEmailUrl,
                    type: "POST",
                    dataType: "json",
                    data: {
                        e: email
                    },
                    success: function (response) {
                        if (response.status) {
                            $("#register-email")[0].setCustomValidity("");
                            $("#email-error").html("");
                        } else {
                            $("#register-email")[0].setCustomValidity("Email está sendo utilizado.");
                            $("#email-error").html(" já está sendo utilizado.");
                        }
                    }
                });
            }
        });

        $("#user-cpf").on("keyup", function(){
            var cpf = $(this).val();
            $("#user-cpf")[0].setCustomValidity("");
            $("#cpf-error").html("");
                        
            $.ajax({
                url: checkCpfUrl,
                type: "POST",
                dataType: "json",
                data: {
                    c: cpf
                },
                success: function (response) {
                    if (response.status) {
                        $("#user-cpf")[0].setCustomValidity("");
                        $("#cpf-error").html("");
                    } else {
                        $("#user-cpf")[0].setCustomValidity("CPF já está sendo utilizado.");
                        $("#cpf-error").html(" já está sendo utilizado.");
                    }
                }
            });
           
        });

        $("#register-cnpj").on("keyup", function(){
            var cnpj = $(this).val();
            $("#register-cnpj")[0].setCustomValidity("");
            $("#cnpj-error").html("");

            if(valida_cpf_cnpj(cnpj)){
                $.ajax({
                    url: checkCnpjUrl,
                    type: "POST",
                    dataType: "json",
                    data: {
                        c: cnpj
                    },
                    success: function (response) {
                        if (response.status) {
                            $("#register-cnpj")[0].setCustomValidity("");
                            $("#cnpj-error").html("");
                        } else {
                            $("#register-cnpj")[0].setCustomValidity(response.message);
                            $("#cnpj-error").html(response.message);
                        }
                    }
                });
            } else {
                $("#register-cnpj")[0].setCustomValidity("CNPJ inválido.");
                $("#cnpj-error").html("CNPJ inválido.");
            }
        });

        $("#register-crf").on("keyup", function(){
            var crf = $(this).val();
            $("#register-crf")[0].setCustomValidity("");
            $("#crf-error").html("");
            if( $("#register-state").val() != ""){
                $.ajax({
                    url: checkCrfUrl,
                    type: "POST",
                    dataType: "json",
                    data: {
                        c: crf,
                        s : $("#register-state").val()
                    },
                    success: function (response) {
                        if (response.status) {
                            $("#register-crf")[0].setCustomValidity("");
                            $("#crf-error").html("");
                        } else {
                            $("#register-crf")[0].setCustomValidity(response.message);
                            $("#crf-error").html(response.message);
                        }
                    }
                });
            }
        });

        $("#register-state").on('change', function(){
            var state = $(this).val();
            $("#register-state")[0].setCustomValidity("");
            $("#crf-error").html("");
            if( $("#register-crf").val() != ""){
                $.ajax({
                    url: checkCrfUrl,
                    type: "POST",
                    dataType: "json",
                    data: {
                        c: $("#register-crf").val(),
                        s : state
                    },
                    success: function (response) {
                        if (response.status) {
                            $("#register-crf")[0].setCustomValidity("");
                            $("#crf-error").html("");
                        } else {
                            $("#register-crf")[0].setCustomValidity(response.message);
                            $("#crf-error").html(response.message);
                        }
                    }
                });
            }
        });

        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        function valida_cpf_cnpj(valor) {
            var valida = verifica_cpf_cnpj(valor);
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            if (valida === 'CPF') {
                return valida_cpf(valor);
            }
            else if (valida === 'CNPJ') {
                return valida_cnpj(valor);
            }
            else {
                return false;
            }
        }

        function verifica_cpf_cnpj(valor) {
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            if (valor.length === 11) {
                return 'CPF';
            }
            else if (valor.length === 14) {
                return 'CNPJ';
            }
            else {
                return false;
            }
        }

        function valida_cpf(valor) {
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            var digitos = valor.substr(0, 9);
            var novo_cpf = calc_digitos_posicoes(digitos);
            var novo_cpf = calc_digitos_posicoes(novo_cpf, 11);
            if (novo_cpf === valor) {
                return true;
            } else {
                return false;
            }

        }

        function valida_cnpj(valor) {
            valor = valor.toString();
            valor = valor.replace(/[^0-9]/g, '');
            var cnpj_original = valor;
            var primeiros_numeros_cnpj = valor.substr(0, 12);
            var primeiro_calculo = calc_digitos_posicoes(primeiros_numeros_cnpj, 5);
            var segundo_calculo = calc_digitos_posicoes(primeiro_calculo, 6);
            var cnpj = segundo_calculo;
            if (cnpj === cnpj_original) {
                return true;
            }
            return false;
        }

        function calc_digitos_posicoes(digitos, posicoes = 10, soma_digitos = 0) {
            digitos = digitos.toString();
            for (var i = 0; i < digitos.length; i++) {
                soma_digitos = soma_digitos + (digitos[i] * posicoes);
                posicoes--;
                if (posicoes < 2) {
                    posicoes = 9;
                }
            }
            soma_digitos = soma_digitos % 11;
            if (soma_digitos < 2) {
                soma_digitos = 0;
            } else {
                soma_digitos = 11 - soma_digitos;
            }
            var cpf = digitos + soma_digitos;
            return cpf;
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#user-avatar').attr('src' , e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        var filled = notFilled = totalFields = 0;
        $("input[type='text'], select, input[type='checkbox']").each(function(){
            totalFields++;
            if($(this).val() == ''){
                notFilled++;
            } else {
                filled++;
            }
        });

        var filledProfile = Math.round((filled/(totalFields - 1))*100);

        $("#register-total-filled-class").addClass("p" + filledProfile);
        $("#register-total-filled").html( filledProfile + "%");

        $('.user-cpf').mask('000.000.000-00');
        $('.register-cnpj').mask('00.000.000-0000/00');
        $('#user-cel').mask('(00) 00000-0000');

        $('.cnpj-gestor-text').mask('00.000.000-0000/00');
        $('.cpf-gestor-text').mask('000.000.000-00');
        $('.consult-cep').mask('00000-000');
        $('#celular-gestor-logged').mask('00000-0000');
        $('.birthday').mask("99/99/9999");
	</script>
{% endblock %}


