{% extends 'base.html.twig' %}
{% set metadescription = '' %}
{% set metatitle = '' %}
{% block title %}Setembro Amarelo{% endblock %}

{% block body %}
  <div class="setembro-amarelo" id="setembro-amarelo">
    <div class="banner container">
      <img src="{{ asset('_dist/image/img/setembro-amarelo/banner-top.jpg') }}" alt="" class="hidden-xs" />
      <img src="{{ asset('_dist/image/img/setembro-amarelo/banner-mobile.png') }}" alt="" class="visible-xs" />
      <p>
        Um tema considerado tabu é responsável pela morte de, pelo menos, 12 mil pessoas todos os anos só no Brasil. E, no caso do suicídio, o único remédio é a prevenção.
      </p>
      <p>
        Para ajudá-lo a identificar as causas e como agir na farmácia, nós separamos alguns conteúdos especiais. Confira abaixo!
      </p>
    </div>

    <div class="setembro-amarelo-faixa">
      <div class="container">
          <div class="grid">
            <div class="grid-sys one-half setembro-amarelo-faixa-img">
              <figure><a href="https://www.portalneopharma.com.br/blog/post/setembro-amarelo-mes-de-prevencao-ao-suicidio-vamos-falar" target="_blank"><img src="{{ asset('_dist/image/img/setembro-amarelo/img01.jpg') }}" alt="" /></a></figure>
            </div>
            <div class="grid-sys one-half setembro-amarelo-faixa-text">
              <h2>
                <a href="https://www.portalneopharma.com.br/blog/post/setembro-amarelo-mes-de-prevencao-ao-suicidio-vamos-falar" target="_blank">
                  Setembro Amarelo:
                  <span>Descubra por que devemos falar sobre isso.</span>
                </a>
              </h2>
            </div>
          </div>
      </div>
    </div>

    <div class="setembro-amarelo-posts">
      <div class="container">
        <h2>Leia, também, as matérias abaixo e descubra a importância da saúde mental!</h2>
        
        <div class="setembro-amarelo-cards">
          <div class="grid slides owl-carousel">
            <div class="grid-sys one-third">
              <figure>
                <a href="https://portalneopharma.com.br/blog/post/a-coragem-para-enfrentar-oportunidades-da-vida" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:materias', 'eventAction': 'click', 'eventLabel': 'a-coragem-para-enfrentar-oportunidades-da-vida'});">
                  <img src="{{ asset('_dist/image/img/setembro-amarelo/post-1.jpg') }}" alt="" />
                </a>
              </figure>
              <h3><a href="https://portalneopharma.com.br/blog/post/a-coragem-para-enfrentar-oportunidades-da-vida" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:materias', 'eventAction': 'click', 'eventLabel': 'a-coragem-para-enfrentar-oportunidades-da-vida'});">A coragem para enfrentar oportunidades da vida</a></h3>
            </div>
            <div class="grid-sys one-third">
              <figure>
                <a href="https://portalneopharma.com.br/blog/post/como-a-saude-mental-pode-afetar-o-seu-corpo" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:materias', 'eventAction': 'click', 'eventLabel': 'como-a-saude-mental-pode-afetar-o-seu-corpo'});">
                  <img src="{{ asset('_dist/image/img/setembro-amarelo/post-2.jpg') }}" alt="" />
                </a>
              </figure>
              <h3><a href="https://portalneopharma.com.br/blog/post/como-a-saude-mental-pode-afetar-o-seu-corpo" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:materias', 'eventAction': 'click', 'eventLabel': 'como-a-saude-mental-pode-afetar-o-seu-corpo'});">Como a saúde mental pode afetar o seu corpo</a></h3>
            </div>
            <div class="grid-sys one-third">
              <figure>
                <a href="https://portalneopharma.com.br/blog/post/6-maneiras-de-evitar-o-burnout" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:materias', 'eventAction': 'click', 'eventLabel': '6-maneiras-de-evitar-o-burnout'});">
                  <img src="{{ asset('_dist/image/img/setembro-amarelo/post-3.jpg') }}" alt="" />
                </a>
              </figure>
              <h3><a href="https://portalneopharma.com.br/blog/post/6-maneiras-de-evitar-o-burnout" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:materias', 'eventAction': 'click', 'eventLabel': '6-maneiras-de-evitar-o-burnout'});">6 maneiras de evitar o burnout</a></h3>
            </div>
            <div class="grid-sys one-third">
              <figure>
                <a href="https://portalneopharma.com.br/blog/post/atencao-farmaceutica-em-casos-de-ansiedade" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:materias', 'eventAction': 'click', 'eventLabel': 'atencao-farmaceutica-em-casos-de-ansiedade'});">
                  <img src="{{ asset('_dist/image/img/setembro-amarelo/post-4.jpg') }}" alt="" />
                </a>
              </figure>
              <h3><a href="https://portalneopharma.com.br/blog/post/atencao-farmaceutica-em-casos-de-ansiedade" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:materias', 'eventAction': 'click', 'eventLabel': 'atencao-farmaceutica-em-casos-de-ansiedade'});">Atenção farmacêutica em casos de ansiedade</a></h3>
            </div>

            <div class="grid-sys one-third">
              <figure>
                <a href="https://portalneopharma.com.br/blog/post/como-o-estresse-pode-prejudicar-o-sistema-imunologico" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:materias', 'eventAction': 'click', 'eventLabel': 'como-o-estresse-pode-prejudicar-o-sistema-imunologico'});">
                  <img src="{{ asset('_dist/image/img/setembro-amarelo/post-5.jpg') }}" alt="" />
                </a>
              </figure>
              <h3><a href="https://portalneopharma.com.br/blog/post/como-o-estresse-pode-prejudicar-o-sistema-imunologico" target="_blank" onclick="dataLayer.push({ 'event':'GAEvent', 'eventCategory': 'home:materias', 'eventAction': 'click', 'eventLabel': 'como-o-estresse-pode-prejudicar-o-sistema-imunologico'});">Como o estresse pode prejudicar o sistema imunológico</a></h3>
            </div>
            <div class="grid-sys one-third">
              <figure>
                <img src="{{ asset('_dist/image/img/setembro-amarelo/laco.png') }}" alt="" />
              </figure>
              <h3></h3>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block javascripts %}
<script>
  $(document).ready(function(){
    if($(".setembro-amarelo-cards .slides").length) {
        if(window.innerWidth <= 960) {
        $(".setembro-amarelo-cards .slides").owlCarousel({
          autoplay: true,
          autoplayHoverPause: true,
          autoplayTimeout: 120000,
          margin: 0,
          loop: true,
          nav: true,
          items: 1
        });
      }
    }
  });
  </script>
{% endblock %}
