{% extends 'admin.html.twig' %}

{% block title %}Relatórios{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css"/>
{% endblock %}

{% block body %}
    <h1>Relatórios</h1>
        
    <div class="container">
        <div class="login-forms-box">
            
            <div class="form" id="form-remember">
                <div class="space-h-10 ">
                    <label for="register-crf" >Data início: </label>
                    <input type="hidden" name="f" class="form"/>
                    <input type="date" name="data_inicio" class="data_inicio" value="{{ app.request.get('data_inicio') ? app.request.get('data_inicio') : '' }}"/>
                </div>
                <div class="space-h-10 ">
                    <label for="register-crf" >Data Fim:</label>
                    <input type="date" name="data_fim" class="data_fim" value="{{ app.request.get('data_inicio') ? app.request.get('data_fim') : '' }}"/>
                </div>
                <div class="space-h-10 ">
                    <button type="button" class="btn btn-default btn-full btn-large btn-report">Filtrar</button>
                    <a href="{{ path('admin_relatorios') }}" class="btn btn-danger">Limpar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="with-border">
        <h3 class="box-title text-center" data-path="{{ path('admin_relatorios') }}" data-amount="0"></h3>
    </div>
    <div class="response"></div>

    <br>
    <br>
    <br>
    <table class="table nowrap" id="resultsTable" style="width:100%; display: none !important;" data-path="{{ path('admin_relatorios') }}" data-amount="0">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Cadastro Facebook</th>
                <th>Cadastro Google</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Perfil</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>CPF</th>
                <th>CNPJ</th>
                <th>CRF</th>
                <th>Newsletter</th>
                <th>Celular</th>
                <th>WhatsApp</th>
                <th>Data Cadastro</th>
                <th>Hobby</th>
                <th>Esporte</th>
                <th>Time Futebol</th>
                <th>Quantos filhos</th>
                <th>Tem filhos</th>
                <th>Filhos Idade</th>
                <th>Filhos Esportes</th>
                <th>Filhos Time Futebol</th>
                <th>Data cadastro Preferências</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>                                                                       
    </table>
{% endblock %}

{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>


$(document).ready(function() {
   
    //load()
    $('.btn-report').on('click', function(e) {
        e.preventDefault();
        $('#resultsTable tbody').html('')
    
        if($('.data_inicio').val() && $('.data_inicio').val()) {
            load()
        }
        
    });    

    function load(){
        var url = $('.box-title').data('path')
        var amount = $('.box-title').attr('data-amount')
        var date_start = $('.data_inicio').val()
        var date_end = $('.data_fim').val()
        
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            data: {'q': true, 'amount': amount, 'data_inicio': date_start, 'data_fim' : date_end },
            beforeSend: function() {
                $('.box-title').text('Carregando...')
                $('button, input').prop('disabled', true)
            },
            success: function (response) {
                if(response.status){
                    var count = parseInt(amount) + 1
                    $('.box-title').attr('data-amount', count)

                    if (amount < response.pending) {
                       
                            //$('.response').append('<p>' + response.pending + ' contato pendente</p>');
                            console.log(response.data)
                            loopData(response)
                           
                            if (response.pending == response.number) {
                                loadDataTable()
                                console.log('finalizou igual')
                            } else {
                                load()
                               
                            }
                            
                                            
                        
                    } else {
                        loopData(response)
                        console.log('finalizou')
                        loadDataTable()
                       
                        //alert(response.message)
                       // $('.response').append(response.message); 
                    }     
                    
                }else{
                    console.log('error')
                    //alert(response.message, 'não sei')
                    //$('.response').append(response.message);  
                }                
            }
            
        });

        return true;
    }

    function loadDataTable() {
        
        $('.box-title').attr('data-amount', 0)  
        $("#resultsTable").table2excel({
            exclude: ".noExl",
            name: "neopharma",
            filename: "neopharma-base-usuarios.xls",
        });
    
        $('.box-title').text('')
        $('button, input').prop('disabled', false)
        alert('Planilha exportada com sucesso.')
    }

    function loopData(response) {
         var table = '';
        for (var i = 0; i < response.data.length; i++) {
            var user = response.data[i]

            var facebook = user.facebook != null ? user.facebook : ''
            var google = user.google != null ? user.google : ''
            var name = user.name != null ? user.name : ''
            var email = user.email != null ? user.email : ''
            var perfil = user.perfil != null ? user.perfil : '' 
            var estado = user.estado != null ? user.estado : ''
            var city = user.city != null ? user.city : ''
            var cpf = user.cpf != null ? "'" + user.cpf : ''
            var cnpj = user.cnpj != null ? "'" + user.cnpj : ''
            var crf = user.crf != null ? "'" + user.crf : ''
            var newsletter = user.newsletter != null ? user.newsletter : ''
            var celular = user.celular != null ? user.celular : ''
            var whatsapp = user.whatsapp != null ? user.whatsapp : ''
            var created_at = user.created_at != null ? user.created_at : ''
            var hobby = user.hobby != null ? user.hobby : ''
            var sport = user.sport != null ? user.sport : '' 
            var team_football = user.team_football != null ? user.team_football : ''
            var qtd_filhos = user.qtd_filhos != null ? user.qtd_filhos : ''
            var tem_filhos = user.tem_filhos != null ? user.tem_filhos : ''
            var Filhos_Idade = user.Filhos_Idade != null ? user.Filhos_Idade : ''
            var Filhos_esportes = user.Filhos_esportes != null ? user.Filhos_esportes : ''
            var Filhos_Time_Futebol = user.Filhos_Time_Futebol != null ? user.Filhos_Time_Futebol : ''
            var data_preferencial = user.data_preferencial != null ? user.data_preferencial : ''

           // console.log(user, 'use')
            
            table = '<tr>'
                //table += '<td>' + user.id + '</td>' 
                table += '<td>' + facebook + '</td>'
                table += '<td>' + google + '</td>'
                table += '<td>' + name + '</td>'
                table += '<td>' + email + '</td>'
                table += '<td>' + perfil + '</td>'
                table += '<td>' + estado + '</td>'
                table += '<td>' + city + '</td>'
                table += '<td>' + cpf + '</td>'
                table += '<td>' + cnpj + '</td>'
                table += '<td>' + crf + '</td>'
                table += '<td>' + newsletter + '</td>'
                table += '<td>' + celular + '</td>'
                table += '<td>' + whatsapp + '</td>'
                table += '<td>' + created_at + '</td>'
                table += '<td>' + hobby + '</td>'
                table += '<td>' + sport + '</td>'
                table += '<td>' + team_football + '</td>'
                table += '<td>' + qtd_filhos + '</td>'
                table += '<td>' + tem_filhos + '</td>'
                table += '<td>' + Filhos_Idade + '</td>'
                table += '<td>' + Filhos_esportes + '</td>'
                table += '<td>' + Filhos_Time_Futebol + '</td>'
                table += '<td>' + data_preferencial + '</td>'
                table += '<td></td>'
            table += '</tr>'

            $('#resultsTable tbody').append(table)
        }

        return true
    }
});
</script>
{% endblock %}
