{% extends 'admin.html.twig' %}

{% block title %}Relatórios{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css"/>
{% endblock %}

{% block body %}
    <h1>Relatórios</h1>
        
    <div class="container">
        <div class="login-forms-box">
            {# <form action="{{ path('admin_relatorios') }}" method="post" class="form" id="form-remember"> #}
            <div class="form" id="form-remember">
                <div class="space-h-10 ">
                    <label for="register-crf" >Data início: </label>
                    <input type="hidden" name="f" class="form"/>
                    <input type="date" name="data_inicio" class="data_inicio" value="{{ app.request.get('data_inicio') ? app.request.get('data_inicio') : '' }}"/>
                </div>
                <div class="space-h-10 ">
                    <label for="register-crf" >Data Fim:</label>
                    <input type="date" name="data_fim" class="data_fim" value="{{ app.request.get('data_inicio') ? app.request.get('data_fim') : '' }}"/>
                </div>
                <div class="space-h-10 ">
                    <button type="button" class="btn btn-default btn-full btn-large btn-report">Filtrar</button>
                    <a href="{{ path('admin_relatorios') }}" class="btn btn-danger">Limpar</a>
                </div>
            </div>
        </div>
        {# <div class="">
            <button type="button" class="btn btn-primary" id="export-btn" style="float: right;">Exportar</button>
        </div> #}
    </div>

    <div class="box-header with-border">
        <h3 class="box-title text-center" data-path="{{ path('admin_relatorios') }}" data-amount="1"></h3>
    </div>
    <div class="response"></div>

    <br>
    <br>
    <br>
    <table class="table display nowrap" id="resultsTable" style="width:100%" data-path="{{ path('admin_relatorios') }}" data-amount="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cadastro Facebook<th>
                <th>Cadastro Google<th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Perfil</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>CPF</th>
                <th>CNPJ</th>
                <th>CRF</th>
                <th>Newsletter</th>
                <th>Celular</th>
                <th>WhatsApp</th>
                <th>Data Cadastro</th>
                <th>Hobby</th>
                <th>Esporte</th>
                <th>Time Futebol</th>
                <th>Quantos filhos</th>
                <th>Tem filhos</th>
                <th>Filhos Idade</th>
                <th>Filhos Esportes</th>
                <th>Filhos Time Futebol</th>
                <th>Data cadastro Preferências</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.facebook }}<td>
                <td>{{ user.google }}<td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.perfil }}</td>
                <td>{{ user.estado }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.cpf }}</td>
                <td>{{ user.cnpj }}</td>
                <td>{{ user.crf }}</td>
                <td>{{ user.newsletter }}</td>
                <td>{{ user.celular }}</td>
                <td>{{ user.whatsapp }}</td>
                <td>{{ user.created_at ? user.created_at|date('d/m/Y H:i:s') : ''  }}</td>
                <td>{{ user.hobby }}</td>
                <td>{{ user.sport }}</td>
                <td>{{ user.team_football }}</td>
                <td>{{ user.qtd_filhos }}</td>
                <td>{{ user.tem_filhos }}</td>
                <td>{{ user.Filhos_Idade }}</td>
                <td>{{ user.Filhos_esportes }}</td>
                <td>{{ user.Filhos_Time_Futebol }}</td>
                <td>{{ user.created_at ? user.created_at|date('d/m/Y H:i:s') : ''  }}</td> 
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>                                                                       
    </table>
{% endblock %}

{% block javascripts %}

{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script> #}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script>
jQuery(document).ready(function() {
/*
    $('#export-btn').on('click', function(e) {
        e.preventDefault();
        ResultsToTable();
    });

    function ResultsToTable() {    
        $("#resultsTable").table2excel({
            exclude: ".noExl",
            name: "Results"
        });
    }
*/
/*
    $('#resultsTable').DataTable({
        paging: true,
        ordering: false,
        info: false,
        searching: false,
        pagingType: 'full_numbers',
        //scrollY: 25,
        scrollX: true,
        lengthMenu: [
            [5000, 10000, 20000, -1],
            [5000, 10000, 20000, 'Tudo'],
        ],
        language: {
            lengthMenu: 'Exibir _MENU_ registros por página',
            zeroRecords: 'Nothing found - sorry',
            info: 'Mostrando página _PAGE_ de _PAGES_',
            infoEmpty: 'No records available',
            infoFiltered: '(filtrado de _MAX_ total records)',
        },
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
    */
});

$(document).ready(function() {
    $('#resultsTable').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            //'copy', 'csv', 'excel', 'pdf', 'print'
            'excel'
        ],
        language: {
            lengthMenu: 'Exibir _MENU_ registros por página',
            zeroRecords: 'Nothing found - sorry',
            info: 'Mostrando página _PAGE_ de _PAGES_',
            infoEmpty: 'No records available',
            infoFiltered: '(filtrado de _MAX_ total records)',
        },
    });

    //load()
    $('.btn-report').on('click', function(e) {
        e.preventDefault();
       load()
    });
    

    function load(){
        var url = $('.box-title').data('path')
        var amount = $('.box-title').attr('data-amount')
        var date_start = $('.data_inicio').val()
        var date_end = $('.data_fim').val()
        
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            data: {'q': true, 'amount': amount, 'data_inicio': date_start, 'data_fim' : date_end },
            beforeSend: function() {
                
            },
            success: function (response) {
                if(response.status){
                    var count = parseInt(amount) + 1
                    $('.box-title').attr('data-amount', count)

                    if (response.pending < response.number) {
                        if (response.hasOwnProperty('pending')) {
                            $('.response').append('<p>' + response.pending + ' contato pendente</p>');
                            load();
                        }
                        
                    } else {
                        $('.response').append(response.message); 
                    }     
                    
                }else{
                    $('.response').append(response.message);  
                }                
            }
            
        });

        return true;
    }
});
</script>
{% endblock %}
